[2017-10-16 02:40] Kowmung commented on #502
Yes please!

I am trying to get a simple raise funds contract working

On 16 October 2017 at 13:21, Wes Turner <notifications@github.com> wrote:

[2017-10-16 06:30] Ivshti commented on #501
I agree, it's something that even audits overlook.

Also, would be nice if there was some automated way to map the relationships and overrides, potentially warn if something is overridden from classes like `Ownable`

[2017-10-20 02:18] rstormsf opened #507 "claimTokens feature request"
I'm curious if StandardToken should have this feature.
It's really helpful.

https://github.com/Giveth/minime/blob/master/contracts/MiniMeToken.sol#L535-L545
[code]
why: https://youtu.be/RL_e8fot29A?t=501 (Video where I explain this feature at 8:00)

[2017-10-21 12:27] idrabenia opened #508 "Change code linter to Solhint"
Hi guys!

Solium works slow and does not cover all style guide rules.

We develop linter that allow to verify style guide, security and best practices issues! There is Solhint - https://github.com/protofire/solhint

I believe it will be very helpful for your project!

[2017-10-24 15:27] uluhonolulu commented on #461
Installing VC++ might solve it.

[2017-10-24 16:26] maraoz opened #511 "updagrade to solidity v0.4.17"
See: https://github.com/ethereum/solidity/releases/tag/v0.4.17

Some things that need to be done:
- change pragma headers.
- Replace occurrences of `constant` with `view` or `pure`.
- add explicit visibility to all functions

[2017-10-24 17:58] macalinao opened #512 "ERC223 Support"
It would be great if a base contract for an ERC223 token was included in this toolkit.

https://github.com/ethereum/EIPs/issues/223

Thoughts? I am interested in implementing this myself.

[2017-10-25 01:02] maraoz opened #513 "MintableToken#mint works for zero amounts"
See: https://github.com/OpenZeppelin/zeppelin-solidity/blob/8e01dd14f9211239213ae7bd4c6af92dd18d4ab7/contracts/token/MintableToken.sol#L34

IMO mint should `revert` if called with an amount of `0`.

[2017-10-25 15:04] ritzdorf opened #514 "Unnecessary use of SafeMath in StandardToken"
The issue is for the following line:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/5cf503673faea92c1b5c615c3f8358febf06e160/contracts/token/StandardToken.sol#L81

The use of SafeMath adds the following check:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/f3867f847722b298c360a9a0158c7aa89c7d557c/contracts/math/SafeMath.sol#L23

However, exactly that is checked right before:
https:

[2017-10-25 15:12] maraoz commented on #494
@AugustoL do `transferData` and `transferDataFrom` use the same function names as `transfer` and `transferFrom`? Why not use the names `transferData` and `transferDataFrom` to avoid confusion?

[2017-10-25 15:26] AugustoL commented on #494
@maraoz yes, I was using that names for the methods but forgot to change it here when I was creating the issue, now the issue has the correct function names :)

[2017-10-26 00:44] abramjs commented on #409
I resolved the same problem with: _npm init_
so now the sequence is:

_npm init
truffle init
npm install zeppelin-solidity
truffle compile_

hope it would helps

[2017-10-26 08:44] Qqwy opened #517 "Crowdsale contracts use uint256 for timestamps, TokenTimelock uses uint64"
The Crowdsale contracts use uint256 for timestamps, but the TokenTimelock contract uses an uint64.

I expect using an uint64 consistently everywhere would be better, since the expected end of the universe would've passed 22 times the estimated current age of the universe before overflowing.

(An added advantage would of course be smaller contract size, i.e. lower gas costs).

[2017-10-26 21:32] BrandonGilchrist commented on #511
Can I assume you mean "upgrade to solidity v0.4.**17**" not v0.4.**11**?

[2017-10-27 16:34] brianedelman opened #520 "Can't step through transaction during debug"
Using node v8.4.0
truffle 4 beta 2

I create a new contract in the develop console which runs successfully, and then debug the transaction. The debugger runs and shows me the first line of code, but when I try to do any further action (i.e. step through the code), it fails with a trace and instruction mismatch error.

Below is the process.

[code]

NOTE: For testing purposes I deleted my contracts

[2017-10-27 20:23] maraoz commented on #511
@BrandonGilchrist good catch! fixed

[2017-10-29 15:39] eepstein opened #521 "Crowdsale should divide by rate"
Line 74 of the Crowdsale.sol file has:

`    uint256 tokens = weiAmount.mul(rate);`

Shouldn't that instead be:

`    uint256 tokens = weiAmount.div(rate);`

If it takes 1000 wei to buy a token, the number of tokens to issue/mint would be the number of wei sent to buyTokens() divided by the rate.  Right?

Hoping someone (else) can double check this.

[2017-10-29 16:11] eepstein commented on #521
Never mind.  The rate is tokens per ether.  The impl now makes sense to me.

[2017-10-29 16:11] #521 closed

[2017-10-31 18:58] nedodn opened #529 "Add a Voluntary Withdrawal Crowdsale Contract"
Referencing this article: http://www.globalcryptopress.com/2017/10/ethereum-creator-vitalik-buterins-bold.html

and whitepaper: https://people.cs.uchicago.edu/~teutsch/papers/ico.pdf

I imagine it would be similar to RefundableCrowdsale.sol, but without the goal and with a deadline.

[2017-10-31 23:07] nedodn opened #530 "Anyone can call refund function in RefundVault.sol with anyone's address"
In RefundVault.sol the refund function is public without any other modifiers on it allowing anyone to call refund() with any address. Deposited funds would be returned to the investor but this would still be considered malicious I think. Please correct if I am wrong.

[2017-11-01 13:17] cbruguera commented on #474
If the coding effort is an effort aimed at providing a standard for development in a given language, I do think it's more or less relevant that there is some degree of consensus with the style conventions of such language. In any case, I'd only wish to be acquainted with the stance of the developers on this regard, whether it's purposedly assuming particular styling guidelines or not. I'm just poi

[2017-11-02 02:41] frangio commented on #530
Hi @nedodn! Thanks for reaching out.

This is actually by design. Can you explain why you would consider it malicious?

[2017-11-02 03:08] nedodn commented on #530
I guess mainly I was thinking that if an investor did not want to pull out of the crowdsale, they could be forced out by someone else, which might be more mischievous than malicious. But if you're assuming that since the crowdsale failed or didn't reach its goal that everyone wants out then it probably wouldn't be a big deal.

[2017-11-02 03:17] frangio commented on #530
Yes we're actually not only _assuming_ it, we're enforcing it!

Closing this issue then!

[2017-11-02 03:17] #530 closed

[2017-11-04 05:08] amazingandyyy commented on #358
my setting
[code]

and set `  const startTime =  latestTime() + duration.seconds(120); // + immediately`
it works! :) thanks for everyone's help

[2017-11-04 16:28] eduinvestor opened #532 "Can't install OpenZeppelin"
I have installed Truffle, but I cannot install the OpenZeppelin library.
I run "npm install zeppelin-solidity" in the console but I get this:
![captura46](https://user-images.githubusercontent.com/30580652/32407183-7456f9ce-c185-11e7-9c7f-96250a9e09bb.PNG)

After that I created the folder C:Users/Pablo/package.json but now I get this
![captura45](https://user-images.githubusercontent.com/30580652/

[2017-11-04 20:13] GULSHAN-VASNANI commented on #532
Hi,
Replace the contents of package.json file with the following :-

{
  "name": "zeppelin",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "zeppelin-solidity": "^1.3.0"
  }
}

After replacing,run :-  npm install zeppelin-solidity

[2017-11-04 20:25] prahaladbelavadi commented on #532
Hey @eduinvestor
I'd suggest trying the following steps one more time:
- Change Working directory
[code]
- Initialize npm
[code]
- Install both truffle and openzeppelin solidity
[code]

Cheers!

[2017-11-05 02:55] KenoLeon commented on #532
Still no luck with both suggestion, could it be related with Truffles new version, I am on:

Truffle v4.0.1 (core: 4.0.1)
Solidity v0.4.18 (solc-js)

And my errors:

npm WARN kenoleon@1.0.0 No description
npm WARN kenoleon@1.0.0 No repository field.

Do I need to init Nom if so what are the correct fields ? Thanks

[2017-11-05 05:14] KenoLeon commented on #532
So after playing around I found the package in my local node_modules which I think is the expected behavior,( still have to include them in a test) although the docs state "After that, you’ll get all the library’s contracts in the contracts/zeppelin folder" which I think is a bit misleading since it could refer to the initialized truffle dir.

[2017-11-05 18:08] KenoLeon commented on #532
New errors not finding contracts now... about to chew my arm in desperation !

 Just kidding, in the end this is what worked, still not sure this is the intended behavior, and the docs seems to need a bit of updating or maybe even rewriting cause they were not very clear (to me at least) , anyways:

Following this issue worked or me: https://github.com/OpenZeppelin/zeppelin-solidity/issues/409

So

[2017-11-06 16:13] Shrugs commented on #532
@KenoLeon you can access them with just `import 'zeppelin-solidity/contracts/.....sol'`.

In general, it sounds like your node environment is a little wonky. It might be worth looking into nvm or some other node environment manager to isolate project environments (and you generally want to avoid `-g` unless it's a globally-useful tool like `yarn` or similar.

The warnings about "no repository fiel

[2017-11-07 20:27] martriay opened #533 "Date utility"
Smart contracts have to deal with dates for a multiplicity of reasons. Nowadays this is not only done by placing a [magic constant](https://en.wikipedia.org/wiki/Magic_number_(programming)#Unnamed_numerical_constants) but also by representing them as seconds since unix epoch, which is not human-readable and error prone.

Smart contract programming is no different discipline from "regular" software

[2017-11-07 21:26] limexp opened #534 "Add truffle and yarn versions output to TravisCI job log"
To simplify the search for build errors I suggest to add the following two commands to ```.travis.yml```
[code]
This information can help to resolve build problems like #491.

I can make a PR if you accept.

[2017-11-08 04:28] shoenseiwaso opened #536 "Unable to test Zeppelin contracts"
I wasn't able to find any documentation on how to run `truffle test` against the zeppelin-solidity smart contracts. I've tried several variations of the following with no luck:

[code]

My environment:
[code]

[2017-11-08 14:43] frangio commented on #536
Hi @shoenseiwaso, try running `npm test`.

[2017-11-09 01:50] shoenseiwaso commented on #536
Thanks @frangio! That worked. Can you help me understand why `npm test` and not `truffle test`?

[2017-11-09 09:48] lisuyong opened #539 "How to understand the code "vault.deposit.value(msg.value)(msg.sender);""
Hi, there

I don't understand why [this code](https://github.com/OpenZeppelin/zeppelin-solidity/blob/8e01dd14f9211239213ae7bd4c6af92dd18d4ab7/contracts/crowdsale/RefundableCrowdsale.sol#L34) use ".value(x)" here. I know it's setting the ether value, but why use here?

Thanks, I'm very curious :)

Justin

[2017-11-09 14:43] frangio commented on #536
Yeah sure! `npm test` runs our [`scripts/test.sh`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/8e01dd14f9211239213ae7bd4c6af92dd18d4ab7/scripts/test.sh) script, which handles starting `testrpc`. This might not be necessary anymore with Truffle 4.

[2017-11-09 14:43] #536 closed

[2017-11-09 15:34] shoenseiwaso commented on #536
Thanks! Appreciate the pointers.

[2017-11-09 16:13] federicobond commented on #533
@martriay I don't think this can be done efficiently with a library, but it looks like it could be a good addition to the base Solidity language. Would you mind opening an issue there?

[2017-11-10 08:26] k06a opened #540 "Let's extract method from onlyOwner modifier"
I would like to extract onlyModifier behavior out of modifier like this:
[code]

This will allow to override modifier behavior for example with `Multiownable` smart contract: https://github.com/bitclave/Multiownable

[2017-11-10 09:17] athlona64 opened #541 "i got problem"
as required exceeds limit: 3000000.  An important gas estimation might also be the sign of a problem in the contract code. Please check loops and be sure you did not sent value to a non payable function (that's also the reason of strong gas estimation)

`pragma solidity ^0.4.11;

/**
 * @title SafeMath
 * @dev Math operations with safety checks that throw on error
 */
library SafeMath {
  function

[2017-11-10 11:25] federicobond commented on #540
Thanks for the suggestionn @k06a! Ownable already declares a single owner field, so I think we are better off with a separate contract (like Multiownable) for handling other use cases.

[2017-11-10 11:28] k06a commented on #540
@federicobond  I am thinking about making possible this case:
[code]
To override `Ownable` with `Multiownable` for some contracts who is already `Ownable`.

[2017-11-10 11:46] federicobond commented on #540
For that use case, I suggest you set the owner of the Crowdsale to a Multisig wallet and relay transactions through it. This leaves the logic of both contracts intact and more clearly separates concerns between the two well-audited contracts.

[2017-11-10 13:40] k06a commented on #540
@federicobond smart enough 👍

[2017-11-10 13:41] #540 closed

[2017-11-10 20:09] maraoz commented on #541
Please don't copy paste your entire codebase here, or at least format it so that it's understandable.
Can you please explain what your problem is more clearly in a new issue?

[2017-11-10 20:09] #541 closed

[2017-11-10 20:13] maraoz commented on #539
That's a way of calling the [RefundVault#deposit function](https://github.com/OpenZeppelin/zeppelin-solidity/blob/8e01dd14f9211239213ae7bd4c6af92dd18d4ab7/contracts/crowdsale/RefundVault.sol#L31), which is payable, with a specific `msg.value` amount.
See: https://ethereum.stackexchange.com/a/9722/3054

[2017-11-10 20:13] #539 closed

[2017-11-10 20:28] maraoz commented on #534
Yes, please create the PR

[2017-11-10 20:33] maraoz commented on #159
Closing because `MintableToken` already has a `Mint` and a `Transfer` event emitted when tokens are created.

[2017-11-10 20:33] #159 closed

[2017-11-10 20:36] maraoz commented on #164
Closing as `TransferableToken` no longer exists

[2017-11-10 20:36] #164 closed

[2017-11-10 20:37] maraoz commented on #232
Closing as the problem was more elegantly fixed by moving the vesting logic to a separate contract ([TokenVesting](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/TokenVesting.sol))

[2017-11-10 20:37] #232 closed

[2017-11-10 20:42] maraoz commented on #244
fixed in https://github.com/OpenZeppelin/zeppelin-solidity/pull/428

[2017-11-10 20:42] #244 closed

[2017-11-10 20:53] maraoz commented on #274
Completed in https://github.com/OpenZeppelin/zeppelin-solidity/pull/476

[2017-11-10 20:53] #274 closed

[2017-11-10 21:12] maraoz commented on #301
Closing this as it's a design decision we took. A trust-reduced version could be proposed too, but I don't think we should change the existing implementation.

For more on our rationale, see: https://docs.google.com/presentation/d/1_SiLRCTpypJvsyjgOMWgOQahTrUDexuWJQQNHEvC2A0/edit#slide=id.g282810e2b6_0_42

[2017-11-10 21:12] #301 closed

[2017-11-10 21:34] maraoz commented on #326
@martriay can you take over the task of moving our existing test helpers to a separate module, and make it part of the OpenZeppelin org? That'd be helpful for other projects too.
@frangio thoughts?

[2017-11-10 21:41] maraoz commented on #434
Closed, this is a design decision we took to make the code simpler. I understand the drawbacks, but we'll keep the current implementation for now.

[2017-11-10 21:46] maraoz commented on #441
Closing, as `claim` was removed.

[2017-11-10 21:46] #441 closed

[2017-11-10 21:48] frangio commented on #302
See #426 and #527 for proposals to solve this issue.

[2017-11-10 21:50] frangio commented on #326
@mikec has already done some of the work here. We should definitely bundle the test helpers for the community.

[2017-11-10 21:51] maraoz commented on #443
Additional discussion on this topic: https://blog.zeppelin.solutions/handling-crowdsale-funds-securely-c348467da74c

[2017-11-10 22:19] k06a commented on #540
@federicobond found a tricky way to override `Ownable` by `Multiownable`. Take a look at `MultisigMintableToken`: https://github.com/bitclave/Multiownable/pull/1

[2017-11-10 22:43] frangio commented on #254
Added in #260.

[2017-11-10 22:43] #254 closed

[2017-11-10 22:57] rstormsf opened #545 "Opinion on checking the parameter in Crowdsale"
I was thinking of adding this check:
`    require(beneficiary == msg.sender);`
to
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L70

Any opinions?
I believe that's if someone calls from low level, we need to make sure they are doing it correctly.

[2017-11-10 23:01] rstormsf commented on #488
I agree, it doesn't add much value, just adds some fanciness to the project. Feel free to close the issue.

[2017-11-10 23:01] frangio commented on #545
Actually the `buyTokens` method is designed so that anyone can execute a purchase for another beneficiary! So the check goes against the intended semantics.

[2017-11-10 23:01] #545 closed

[2017-11-10 23:04] rstormsf commented on #335
sounds like the issue could be closed

[2017-11-10 23:05] #488 closed

[2017-11-10 23:07] rstormsf commented on #545
got it. makes sense.

[2017-11-11 00:17] #459 closed

[2017-11-11 00:19] maraoz commented on #464
Solved in https://github.com/OpenZeppelin/zeppelin-solidity/commit/9be77ddd54a6affe522205b96844da1058658a3e

[2017-11-11 00:19] #464 closed

[2017-11-11 00:21] maraoz opened #546 "Make all constants be named with UPPER_CASE"
Go through all contracts and rename constants to UPPER_CASE versions of their names.

[2017-11-11 00:21] maraoz commented on #474
We prefer 2 spaces over 4, and I don't think we'll change that.
As for UPPER_CASE constants, I opened this new issue: https://github.com/OpenZeppelin/zeppelin-solidity/issues/546

[2017-11-11 00:21] #474 closed

[2017-11-11 00:23] maraoz commented on #486
Included in https://github.com/OpenZeppelin/zeppelin-solidity/issues/511

[2017-11-11 00:23] #486 closed

[2017-11-11 00:27] maraoz commented on #496
Closing given you can just use `token#totalSupply`

[2017-11-11 00:27] #496 closed

[2017-11-11 00:28] maraoz commented on #501
Love this idea!

[2017-11-11 00:30] maraoz commented on #507
I wouldn't add it in `StandardToken`, but maybe a contract inheriting from that

[2017-11-11 00:33] maraoz commented on #532
:heart:

Closing as this seems to be solved.
@eduinvestor if you think the docs are outdated please send a PR to improve them!

[2017-11-11 00:33] #532 closed

[2017-11-11 00:34] maraoz commented on #508
@idrabenia mind creating a PR with this change? :)

[2017-11-11 00:39] maraoz commented on #520
Maybe this should be an issue in the Truffle repo?

[2017-11-11 00:41] maraoz opened #547 "Increase test coverage to 91%"

[2017-11-11 00:41] maraoz opened #548 "Increase test coverage to 92%"

[2017-11-11 00:42] maraoz opened #549 "Increase test coverage to 93%"

[2017-11-11 00:42] maraoz opened #550 "Increase test coverage to 94%"

[2017-11-11 00:42] maraoz opened #551 "Increase test coverage to 95%"

[2017-11-11 02:24] floreslorca commented on #546
Im working on this one to get familiar with the code. I only constants on the tests

[2017-11-11 02:42] #520 closed

[2017-11-12 16:28] duaraghav8 opened #555 "Linter: upgrade to v1"
Hi @maraoz ,
Its been quite a while since [Solium](https://github.com/duaraghav8/Solium) `v1` was released. It comes with significant improvements including automatic code fixing, new security checks for contract code and ability to configure rule behavior (like 2 spaces instead of 4).

I'm raising this issue to simply make you aware, since v1 will significantly improve your workflow.

Adoption is

[2017-11-13 15:57] spalladino commented on #248
@maraoz we have been reviewing this issue, and while I agree on preventing sends to `0x0`, I can think of some scenarios where the StandardToken is extended with additional functionality and is expected to hold some of its own tokens. WDYT about adding that restriction into a `SaferToken` (see https://github.com/OpenZeppelin/zeppelin-solidity/pull/447/), instead of on the Standard Token?

[2017-11-13 19:29] thatcher opened #557 "Add a DividendPayingToken contract"
Based roughly on

 * https://medium.com/@weka/dividend-bearing-tokens-on-ethereum-42d01c710657

and providing an interface similar to:

 * https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/payment/PullPayment.sol
 * https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/payment/SplitPayment.sol

The specific constraints we are trying to solve (in order of pri

[2017-11-13 19:30] thatcher commented on #557
I have an implementation and will make sure in conforms to the developers style guideline before I submit a pr for review.

[2017-11-13 22:08] maraoz commented on #248
+1

[2017-11-13 22:08] #248 closed

[2017-11-13 23:42] azavalla opened #558 "Abstract contracts should have internal constructors"
See https://github.com/ethereum/solidity/issues/979
and https://github.com/ethereum/solidity/issues/1040
also https://github.com/ethereum/solidity/issues/2638

[2017-11-14 09:53] basaa88 opened #559 "Warning about function default visibility"
There are warning about default functions visibility, visibility need to be specify even if by default there are public.

[2017-11-14 17:15] manusmrit opened #560 "Is the RefundableCrowdsale constructor incomplete?"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/84bffb854a1bdb4735aabd457e97eecc8f3f2d02/contracts/crowdsale/RefundableCrowdsale.sol#L26

I could not find any other references in the contract to the "wallet" parameter?

[2017-11-14 17:52] nedodn commented on #560
It is defined in Crowdsale.sol. Since RefundableCrowdsale inherits from FinalizableCrowdsale which inherits from Crowdsale, it has access to the wallet variable there.

[2017-11-14 17:53] cannabhakt commented on #560
Aye aye captain:ok_hand:

[2017-11-14 18:11] azavalla commented on #559
solved by #556

[2017-11-14 20:17] frangio commented on #560
Thanks for answering this @nedodn!

[2017-11-14 20:17] #560 closed

[2017-11-14 20:24] #252 closed

[2017-11-14 21:14] spalladino commented on #513
@maraoz we discussed this last week, and we're not sure this is agood idea.

First, `mint` can be viewed as a `transfer` from `0x0` (as the standard suggests to signal via an event). Given that transferring zero amount is allowed, it would be consistent to also allow to mint zero.

Also, this catch makes sense if a human being is calling the `mint` function. However, for a smart contract which at

[2017-11-14 22:03] maraoz commented on #513
I don't see the advantage of allowing minting 0 tokens. It doesn't make sense in any situation, so I thought it was better for it to just fail. It's a good way to catch `mint`-function-user errors and prevent them from silently failing.

For example, adding this check would fix this toy problem: https://docs.google.com/presentation/d/1_SiLRCTpypJvsyjgOMWgOQahTrUDexuWJQQNHEvC2A0/view#slide=id.g2816

[2017-11-14 22:05] frangio commented on #557
Interesting @thatcher!

Can you expand the third constraint a bit?

[2017-11-15 02:19] basaa88 commented on #559
Good good!

[2017-11-15 02:19] #559 closed

[2017-11-15 06:25] amazingandyyy commented on #351
I noticed the same issue when i want to switch from mintable to other token, I think the problem is `~zeppelin-solidity/contracts/crowdsale/Crowdsale.sol` this contract uses `mint` as default method of the token, cause all crowdsale can only work mintable token.

[2017-11-15 07:14] idrabenia commented on #508
@maraoz Sure!  ;)

[2017-11-15 07:36] idrabenia commented on #508
We may do this in next way:
1. Only add config and run scripts
2. No 1 + Fix all linter errors

Which option are you think would be more suitable for your project?

\- Ilya

[2017-11-15 14:51] spalladino commented on #513
The advantage is allowing a smart contract that invokes `mint` on a token to be able to run a `mint(0)` call without needing to add extra checks. Even though `mint` is not part of the standard as `transfer` is, it still bears some resemblance, and since a contract should be able to safely call `transfer(0)` without needing to add any checks, the same should apply to `mint`.

That being said, feel

[2017-11-15 21:01] thatcher commented on #557
Hi @frangio, sure thing.  It really just means that newly minted tokens can’t dilute the dividend disbursement. The tokens have to be held by an account other than the contract to be counted toward determining the token holders share.

[2017-11-15 21:49] maraoz commented on #513
My question was: when would a contract ever do `mint(0)`?

[2017-11-16 15:09] pash7ka commented on #511
I've commited pull request, but CI build fails on "pure"/"view" keywords. Perhaps it uses the old compiler version.

[2017-11-16 15:24] frangio commented on #546
Closing as there are no constants across the whole repo that can be made upper case.

[2017-11-16 15:24] #546 closed

[2017-11-16 17:47] spalladino commented on #513
Hmm let's say we have a token that mints a fraction of every transfer, and sends it to a _collector_ wallet.
[code]

The code above works with the current version, but would break if we impose a validation for mint being greater than zero, forcing this contract to add a check for `value * 0.01 > 0`.

It's a contrived example, but I wanted to illustrate a scenario where zero is a legal value to pro

[2017-11-17 01:49] rstormsf opened #565 "why use asserts in SafeMath to take all the gas?"
`require` would safe some gas instead of eating it all up with `assert`

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L14
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L26
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L32

[2017-11-17 09:23] Shrugs commented on #565
`assert` is more of an invariant label; during runtime, execution should never reach the point where an assert fails. At the moment, this is more of a "recommendation", but in the future it will ideally be fully verifiable.

Assuming that overflows aren't a desirable feature, any time that your int overflows, you can assume that something has gone very wrong (possibly via some sort of malformed/ma

[2017-11-17 17:10] frangio commented on #565
The rationale was exactly what @Shrugs said, and I'd like to highlight the spot on recommendation:

Here's a good article explaining all of the differences between `assert` and `require`: https://media.consensys.net/when-to-use-revert-assert-and-require-in-solidity-61fb2c0e5a57.

[2017-11-17 17:10] #565 closed

[2017-11-17 20:23] rstormsf commented on #565
Completely disagree here, because safeMath is used widely in some `constant` functions which are used in some `state changing functions` which can result in losing all gas not because someone is trying to game the system because of the unpredictability of the state in a contract.

Yes, I think it's better to be a good citizen then a bully to take all up the gas. IMHO, no reason to reward miners fo

[2017-11-17 20:27] ruby32 opened #567 "npm install does not create node_modules directory"
## Problem
Following the instructions to install zeppelin-solidity, the `node_modules` directory is not created.

## Expected results
The `node_modules` directory is populated.

## Actual results
After running `truffle init` successfully, running `npm install zeppelin-solidity` does not return an error, but it does have a ton of warnings:

[code]

The `node_modules` directory is not created as exp

[2017-11-17 20:33] frangio commented on #567
Please see #475. Run `npm init` before installing.

I will add this to the README. We didn't realize it was missing there.

[2017-11-17 20:33] #567 closed

[2017-11-17 21:31] frangio commented on #565
I think I see your point @rstormsf. I appreciate the discussion.

Can you give some examples of those `constant` functions?

[2017-11-18 07:41] rstormsf commented on #565
@frangio easy:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/CappedCrowdsale.sol#L23

[2017-11-18 07:45] rstormsf commented on #565
My apologies, I was thinking about something else.
You are 100% right about it. I'm sorry.
@frangio

[2017-11-19 02:02] pash7ka commented on #494
SmartToken is the name [used](https://github.com/bancorprotocol/contracts/blob/master/solidity/contracts/SmartToken.sol) by Bancor team for their protocol.
I'm afraid using it here may introduce some confusion.

[2017-11-20 17:59] parsparab opened #570 "Crowdsale Token Error"
I'm getting this error in remix solidity browser, not able to deploy the crowdsale contract.
creation of browser/Crowdsale.sol:Crowdsale errored: Gas required exceeds limit: 3000000. An important gas estimation might also be the sign of a problem in the contract code. Please check loops and be sure you did not sent value to a non payable function (that's also the reason of strong gas estimation).

[2017-11-21 06:21] rstormsf opened #572 "Problem: unused variable `remaining` in StandardToken.sol"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/StandardToken.sol#L60

[code]

**Solution:**
either assign to a variable:
[code]
**OR**
remove name of unused variable

[code]

**UPDATE**:
There are also the same issues for methods: `increaseApproval`, `decreaseApproval`.
Unused variable `success`
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/

[2017-11-21 12:08] mancze commented on #326
Many thanks to @mikec for a babel configuration excerpt as everywhere advised `require('babel-register');` does not work and I had very hard time making it work. Still does not know why it does not work (I guess default ignore?) without `({ ignore: ... })` but at least it works!

[2017-11-21 14:37] maraoz commented on #513
I'm convinced. I couldn't think of any example like the one above. Closing

[2017-11-21 14:37] #513 closed

[2017-11-21 17:54] facuspagnuolo commented on #435
@nedodn sorry to disagree, require is meant to be used for validations, while assert should be used in order to prevent conditions which should never be possible, in this case, we are preventing an overflow.

I highly recommend this article, a detailed explanation about this subject.

[2017-11-21 17:54] #435 closed

[2017-11-22 10:01] gakonst commented on #572
Fixed!

[2017-11-22 17:32] #572 closed

[2017-11-22 17:32] frangio commented on #572
Thanks for reporting @rstormsf!

[2017-11-22 17:46] frangio commented on #507
The function is implemented in `CanReclaimToken`:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/492ef4a419062043f217ad6a0ffb7c1bda14d42b/contracts/ownership/CanReclaimToken.sol#L20-L23

Additionally there is a proposal to provide a token with this feature included in #447.

[2017-11-22 19:02] frangio commented on #508
Hi @idrabenia! Do you mind pointing out what style guide rules are not covered by Solium?

This repo has a pretty old version of Solium set up but we're probably going to upgrade it soon. (#556)

[2017-11-22 22:26] ajsantander opened #575 "Re-enable solidity-coverage"
See PR #573 (Update to truffle 4.0.0 and solc 0.4.18)

solidity-coverage is not compatible with the latest solc versions without forcing tests to use .call(), so we had to disable it on travis.

We should re-enable coverage tests after the issue is resolved in solidity-coverage. Will post commit that should be reverted to re-enable coverage.

[2017-11-22 22:26] #511 closed

[2017-11-22 22:27] ajsantander commented on #575
Undo this commit when solidity-coverage is compatible with solc 0.4.18
https://github.com/OpenZeppelin/zeppelin-solidity/commit/0eaa5f50ace9b3b1adf888fb0733589d5ac02e39

[2017-11-23 00:21] frangio commented on #547
Blocked by #575.

[2017-11-23 00:21] frangio commented on #549
Blocked by #575.

[2017-11-23 00:21] frangio commented on #550
Blocked by #575.

[2017-11-23 00:22] frangio commented on #551
Blocked by #575.

[2017-11-23 03:20] duaraghav8 commented on #508
Hi @frangio, 2 rules aren't covered by Solium from style guide:
- [Source file encoding](http://solidity.readthedocs.io/en/develop/style-guide.html#source-file-encoding)
- [Order of functions](http://solidity.readthedocs.io/en/develop/style-guide.html#order-of-functions)

Hopefully I'm not missing out any.

Rules available:
- Style guide - http://solium.readthedocs.io/en/latest/user-guide.html#lis

[2017-11-23 09:37] idrabenia commented on #508
Hi @frangio ,

"Do you mind pointing out what style guide rules are not covered by Solium?"
1. Expressions align (style guide specifying rules to align all type of expressions (+, -, new, delete, /, %, etc)
2. Statements align (alignment of if / while / do - Style Guide specifying set of restrictions to this constructions)
3. Functions alignment rules
4. Array declaration restrictions
5. Indent is

[2017-11-23 09:48] idrabenia commented on #508
Further more,

1. Solhint trying to close all created issues during week, you will not wait years to fix some urgent problem.
2. We want to create high quality product - our **code coverage is 100%**. We spent half of development on testing.
3. Thanks @maurelian for his contribution. We are happy to work with him!
4. We do not force developers to test our tools. We make tools that ready to use fro

[2017-11-23 15:08] NoahMarconi opened #578 "Reason for permitting purchases for address other than msg.sender?"
I'm working on a project with KYC requirements and am considering overriding the ability for the purchase to be from an address other than the token receiver.

Before I override I wanted to check to be certain there's nothing important I'm missing. Does anyone know the motivation behind making the low level buyTokens method public? If I were to override and make it private, or otherwise remove the

[2017-11-23 15:09] NoahMarconi commented on #578
Pining @maraoz as I see you're the first to commit that particular method in the repo.

[2017-11-23 15:14] maraoz commented on #578
We separated the purchasing address from the beneficiary address to allow the creation of software that buys tokens for others. For example, a chrome extension that receives eth funds, crafts a purchase transaction, but gives the tokens to the original sender of funds.
This is also needed for any other use-case where the one sending the money is not the one that should receive the tokens.

[2017-11-23 15:14] #578 closed

[2017-11-23 15:56] frangio commented on #481
Thanks for reporting everyone. Fixed in #573.

[2017-11-23 15:56] #481 closed

[2017-11-23 20:04] frangio opened #579 "Migrate to Truffle's test node"
Things to look out for:
- Custom account balances
- Gas limit?

[2017-11-24 11:27] Shrugs commented on #284
We should probably pick one and enforce its usage. I'm pretty ambivalent about which one the project chooses, but having both seems unnecessary. I can put out a PR for this later if we've made a decision.

[2017-11-26 14:04] josoroma opened #583 "Errors when calling the initialize public method in `truffle console`"
## Errors when calling the initialize public method in `truffle console`

![image](https://user-images.githubusercontent.com/69951/33240675-8dbb199e-d27f-11e7-8e37-12d013f09e94.png)

## Steps to Reproduce

`./scripts/test.sh`

 - https://github.com/josoroma/ape/blob/master/scripts/test.sh#L37

`truffle migrate --network development --reset --compile-all`

 - https://github.com/josoroma/ape/blob/ma

[2017-11-26 20:15] josoroma commented on #583
no luck so far:

![image](https://user-images.githubusercontent.com/69951/33243923-215f136a-d2b4-11e7-855a-0f98954675f2.png)

[2017-11-27 08:35] sc0Vu opened #584 "Error: VM Exception while processing transaction: revert"
While I use MintableToken and call the mint function from user that not owner of the contract, it always throw this error:  VM Exception while processing transaction: revert.

I think is the modifier using require instead revert.

Maybe is like this issue? https://github.com/trufflesuite/ganache-cli/issues/397

os: win10
ethereumjs-testrpc: ^6.0.3
Truffle: 4.0.0 (core: 4.0.0)
Solidity: 0.4.18 (sol

[2017-11-27 16:16] frangio commented on #284
Currently yarn is used in Travis, but most of us use npm locally. Travis was set up to use yarn in #250 because of performance reasons.

I'd be in favor of moving to npm completely and removing `yarn.lock`, now that npm 5 is more performant.

[2017-11-27 17:49] nedodn commented on #584
The mint function has the modifier onlyOwner on it so that only the owner can call it. If you look at Ownable.sol where the modifier comes from, it consists of a require(msg.sender == owner) statement. If this statement is false, such as calling the mint function from a user that is not the owner, the require statement compiles to 0xfd which is the opcode for revert. That's why you get the revert

[2017-11-27 19:05] androolloyd opened #586 "Mocha Shared Behaviour Support for all OZ contracts"
As per our discussion in the #zeppelin_os channel on Slack,

https://github.com/mochajs/mocha/wiki/Shared-Behaviours

Shared Behaviours would enable a much more flexible and developer friendly testing experience.

Existing test coverage of dependant contracts would be importable into the test cases being generated for new contracts.

This would greatly improve the test development experience for s

[2017-11-27 19:28] maurelian commented on #508
Although my contribution was nothing but fixing a link in the Solhint docs, I am a fan of this linter. It just worked out of the box, and already had an integration with sublime.

[2017-11-27 21:18] frangio commented on #584
Thanks for explaning @nedodn.

[2017-11-27 21:18] #584 closed

[2017-11-28 02:53] josoroma commented on #583
Answered by: https://github.com/trufflesuite/truffle/issues/692#issuecomment-347087574

[2017-11-28 02:53] #583 closed

[2017-11-28 04:13] duaraghav8 commented on #508
Thanks for the detailed comparison Ilya:)
A lot of what you pointed out has already been added in the latest version of Solium - `v1.0.8` or even earlier versions.

Since zeppelin uses 2 spaces for indentation, I believe its worth changing the configuration for both linters in your benchmarking.

As for speed, I really don't see any issue when I lint the contracts with solium.

[code]

Let me know

[2017-11-28 15:05] melnikaite commented on #508
I think we must use Solhint at least while it has more rules than Solium, because security is extremely important for all Solidity community. @duaraghav8 just try to copy functionality and it will take some time, which we don't have, while @idrabenia made a great investigation job.

Moreover implementation of Solium is more elegant and easier to support, just look at implementation of the same `fu

[2017-11-28 15:33] duaraghav8 commented on #508
Thanks @melnikaite. Since you & Ilya belong to the organisation that's sponsoring solhint, I believe its only fair that you support your linter:)

IMO we're all really just stretching this thread (apologies for the notifications, no more from me now).
Both have their pros & cons, I'll be here in case anyone has any questions about Solium.

[2017-11-29 04:41] subramanianv opened #589 "Make Web3 Injectable in the helper functions"
Helper functions such as ```latestTime()``` use Web3. Web3 is injected when truffle runs the test. If you want to use these helper functions outside tests, then web3 has to passed as an argument

[2017-11-29 04:41] BrandonGilchrist commented on #124
https://github.com/OpenZeppelin/zeppelin-solidity/pull/588 @maraoz

[2017-11-29 05:44] BrandonGilchrist commented on #514
https://github.com/OpenZeppelin/zeppelin-solidity/pull/591 @maraoz @ritzdorf

[2017-11-29 14:59] #284 closed

[2017-11-29 15:00] frangio commented on #514
Exactly as Brandon explained.

[2017-11-29 15:00] #514 closed

[2017-11-29 17:42] frangio commented on #517
Thanks fo reporting @Qqwy! The problem is actually in `TokenTimelock`. We should be using `uint256` everywhere.

`uint256` is the only integer size native to the EVM. For all other integer sizes, the Solidity compiler generates extra operations to e.g. truncate on overflow. Because of this, using uint64 doesn't really lead to smaller contracts or less gas costs.

[2017-11-29 17:42] #517 closed

[2017-11-29 17:43] frangio opened #593 "Use uint256 for timestamps"
As reported in #517, `TokenTimelock` uses `uint64` for its timestamp state variable.

As I explained elsewhere: `uint256` is the only integer size native to the EVM. For all other integer sizes, the Solidity compiler generates extra operations to e.g. truncate on overflow. Because of this, using uint64 doesn't really lead to smaller contracts or less gas costs.

We should be using `uint256` for co

[2017-11-29 17:52] frangio commented on #589
This would be great.

[2017-11-29 17:55] frangio opened #594 "Generate documentation site from NatSpec comments"
We should also delete the `docs` directory and make sure everything contained in it is present in the NatSpec comments.

[2017-11-29 17:55] frangio commented on #594
@ajsantander if you won't be able to work on it let us know so someone else can pick it up. 🙂

[2017-11-29 21:36] #124 closed

[2017-11-30 01:19] keith24 commented on #303
Since Crowdsale's endTime is uint256, can't I just max it out?
[code]

[2017-12-02 22:50] izetex opened #596 "Burnable Token should be inherited from Basic Token"
There is no reason why Burnable token should be exactly Standard token

It adds dependency which is never used in Burnable token. I have an issue while designing a contract of token that can be burnt.

I propose to change Burnable token  to

contract BurnableToken is BasicToken {... }

[2017-12-04 14:10] frangio commented on #596
Totally agree. Do you want to submit a PR to fix this @izetex?

[2017-12-05 06:52] hayeah opened #599 "ERC20 StandardToken approve front-running attack"
The standard recommendation to prevent front-running `approve` is to set it to 0, then set it to the new value.

According to the original reporter of this vulnerability, this is not enough, because the attacker could still front-run the transaction that sets the approval value to 0.

Some sort of compare-and-set is required to patch this problem properly.

* * *

One backward compatible hack to s

[2017-12-05 18:14] frangio commented on #599
Thanks for the suggestion @hayeah!

Sadly, casting a `uint256` to `int256` renders it non backwards compatible.

There are already alternatives to `approve` in OpenZeppelin's `StandardToken` meant to mitigate the front-running attack.
https://github.com/OpenZeppelin/zeppelin-solidity/blob/83b941c76cb08b7c95b45fd046116e7a70d72a1f/contracts/token/StandardToken.sol#L76-L85
However this is still vulne

[2017-12-05 18:14] #599 closed

[2017-12-06 05:11] izetex commented on #596
Created pull request https://github.com/OpenZeppelin/zeppelin-solidity/pull/600

[2017-12-08 20:57] cgewecke commented on #575
@ajsantander Hi. Latest solidity-coverage (`0.4.3`) is now compatible with the newer solc versions thanks to thoughtful suggestions from the Zeppelin team. Example of a successful CI run on our zeppelin fork [here](https://travis-ci.org/sc-forks/zeppelin-solidity/builds/313623927).

Unfortunately there are some caveats if you decide to re-enable: `.sol` mock contracts will need to be moved from th

[2017-12-11 04:47] theatoken opened #605 "Compile with errors"
Function is marked pure. Be careful, pureness is not enforced yet

function mul(uint256 a, uint256 b) internal pure returns (uint256) {
  ^
Spanning multiple lines.

[2017-12-11 05:10] jerry-gdd opened #606 "Crowdsale tests fail with Error: invalid address"
after cloning the repo and using yarn to install all dependencies, I started testrpc on localhost:8545 and tried to run the crowdsale test with `truffle test ./test/Crowdsale.test.js`

However, 7 tests are failing with `invalid address`

here is the stack trace:

` at inputAddressFormatter (/Users/myusername/.nvm/versions/node/v9.2.1/lib/node_modules/truffle/build/cli.bundled.js:34661:11)
      at

[2017-12-11 13:19] Shrugs commented on #606
zeppelin-solidity needs testrpc to start with some specific settings; see `scripts/test.sh`. The best way to run all of the tests is `./scripts/test.sh`.

[2017-12-12 00:38] jessebmiller opened #607 "pip support"
Is there any chance for a pip package that works with populus the way the npm package works with truffle?

I might be up for making a pull request if I could get a little guidance on how it would work.

[2017-12-12 01:18] jerry-gdd commented on #606
Thanks, this works. Closing the issue 👍

[2017-12-12 01:18] #606 closed

[2017-12-15 17:18] rmi7 opened #611 "Unnecessary use of require checks while using SafeMath"
When looking through the contracts I notice usage of `require` statements that are not really needed because of using `SafeMath`. Basically the same check as in the preceding `require` is implicitly executed when using the `SafeMath` operation.

For example here: [BasicToken Line 24](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/BasicToken.sol#L24), which can be rem

[2017-12-15 20:28] ThePiachu opened #612 "Clean up truffle compilation warnings"
Whenever I try compiling contracts that import from the repo, I get some warnings:

`Compilation warnings encountered:

zeppelin-solidity/contracts/token/StandardToken.sol:73:3: Warning: No visibility specified. Defaulting to "public".
  function increaseApproval (address _spender, uint _addedValue)
  ^
Spanning multiple lines.
,zeppelin-solidity/contracts/token/StandardToken.sol:80:3: Warning: No

[2017-12-17 14:27] Shrugs commented on #612
Confirm you're using the compiler than the OZ contracts are compiled with normally (currently 0.4.18). If it's time to upgrade we can upgrade to 0.4.19 and update our pragmas and fix these compilation errors.

[2017-12-17 14:28] Shrugs commented on #611
I'm pretty ambivalent to whether or not these stay, but the devils advocate argument is that clarity and readability (rather than implied assumptions) is worth the extra gas usage and duplicative check.

But again, I don't really have a strong opinion. Open to others.

[2017-12-19 05:58] bramhechatejas commented on #584
Hi, so far as I know, owner is that one who deploys contract & if this is correct, I have checked contract after deploying using this command `ContractName.deployed()` on truffle console. It shows me from address using which only I'm calling following function:

[code]
& a modifier written for that:
[code]
My question is how do I communicate with this function using truffle console? I’m trying som

[2017-12-19 10:27] Shrugs commented on #584
The best place for debugging things like this would be the #beginners channel in the open zeppelin slack.

Are you including `Ownable` in your contract that you've written? I can't see the rest of the code, but you may not have set `owner` to anything. Likewise, if you are including `Ownable`, it already provides `onlyOwner` for you, so there's no need to overwrite it.

That said, there's not much

[2017-12-19 15:30] spalladino opened #615 "ERC721 token implementation"
Add an interface and a generic implementation of the [ERC721](https://github.com/ethereum/eips/issues/721) token standard.

Review:
- @eordano's [implementation](https://github.com/ethereum/eips/issues/721#issuecomment-347046746) for [Decentraland LAND](https://github.com/decentraland/land/blob/master/contracts/BasicNFT.sol)
- Cryptokitties team [implementation](https://github.com/axiomzen/cryptok

[2017-12-19 16:38] spalladino commented on #575
Working on this on https://github.com/spalladino/zeppelin-solidity/tree/feature/reenable-coverage. I fixed the paths issue by symlinking the mocks folder. However, there are a handful of tests failing. I'll look into it and send a PR as soon as I've fixed it.

[2017-12-19 19:23] spalladino opened #616 "Add tests for ERC20 as per pdaian's suggestions"
On his [audit for Tether](https://stableset.com/audits/tether_audit_v1/tether_audit_v1.pdf), @pdaian identified some code paths in the ERC20 token contract which did not have explicit unit tests to exercise them.

Add a test case for each of the following:

- Testing the code path in approve that does not allow non-zero approval with an
existing non-zero allowance. Furthermore, the documentation d

[2017-12-20 22:12] canufeel commented on #479
+1 Trying to use my own token with `RefundableCrowdsale` results in massive copy-pasting. Would love to have those:
`function buyTokens(address beneficiary) public payable;`
`function createTokenContract() internal;`
in abstract form on this contract.

[2017-12-21 06:51] AxiomFlow opened #618 "Does StandardToken.sol really comply with the ERC20 standard?"
The ERC20 standard mentions a `transfer` function, which is missing in `StandardToken.sol`.

[2017-12-21 10:04] thomsonimjd opened #619 "Use MintableToken and BurnableToken in same Crowdsale Contract"
In cases, I have to use the Mintable and Burnable  concepts for a token, where It's not possible to use the MintableTokena.sol and the BurnabelToken.sol in a crowdsale.  Could you please let me know what are the posibilities to work on this?. It would be better if there is any samples on this situation.

[2017-12-21 10:06] thomsonimjd opened #620 "Tokenvesting"
I would like to know how to do the token vesting with the crowdsale. It would be better if you give me any samples to workout. Thanks in advance

[2017-12-21 10:08] thomsonimjd opened #621 "Network state unknown out of gas"
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: VM Exception while processing transaction: out of gas
 at Object.InvalidResponse (/usr/local/lib/node_modules/truffle/build/cli.bundled.js:43303:16)
 at /usr/local/lib/node_modules/truffle/build/cli.bundled.js:331156:36
 at /usr/local/lib/node_modules/truffle/build/cli.bundled.js:175492:11
 at /usr/l

[2017-12-21 13:37] spalladino commented on #620
Already asked in Slack (both beginners and general). Closing.

[2017-12-21 13:37] #620 closed

[2017-12-21 14:19] spalladino commented on #594
I've given a shot to [doxity](https://github.com/DigixGlobal/doxity/), and uploaded the output [here](https://openzeppelin.org/docs/) for review (source and ABI should be showing OK though, there was a problem with the directory structure when I rsync'ed).

There is much room for improvement:

- Contracts are not listed in folders, which makes navigation difficult
- Every contract lists its functi

[2017-12-21 18:14] frangio commented on #594
I agree with all your comments. Additionally, there are no docs for internal functions, which we need for stuff like `FinalizableCrowdsale#finalization`.

[2017-12-22 15:32] #593 closed

[2017-12-22 20:25] frangio opened #625 "Use Truffle artifacts.require correctly"
As [the documentation](http://truffleframework.com/docs/getting_started/migrations#artifacts-require-) says, the argument to `artifacts.require` should be the _contract_ name, and not the file name.

I think Truffle supports the file name because it worked this way originally, but we should move to the new way.

This affects all tests. Example:
https://github.com/OpenZeppelin/zeppelin-solidity/blo

[2017-12-22 20:27] #575 closed

[2017-12-23 09:01] barakman opened #626 "SafeMath - support for shift-left"
Perhaps you can add support for shift-left in the SafeMath library:

[code]

[2017-12-24 04:34] federicobond commented on #607
We would be very interested in that. Have you read [this section](http://populus.readthedocs.io/en/feat-v2/packaging.quickstart.html) in the Populus docs? Let me know how can I help you make that happen!

[2017-12-24 15:44] Shrugs commented on #621
1. This isn't enough information for anyone to be able to help you.
2. Github issues are not the correct forum for this. Please reach out in one of the many gitter channels or in the OpenZeppelin #beginners channel for help.

Closing.

[2017-12-24 15:44] #621 closed

[2017-12-24 15:47] Shrugs commented on #619
You can make a token that is both `Mintable` and `Burnable`, no problem with that. From there, you'll have to modify the `Crowdsale` contract to accept your `MintableAndBurnable` token signature that you created, since it currently only accepts `MintableToken` types.

[2017-12-26 20:03] jessebmiller commented on #607
Thanks for that link @federicobond, I'll take a look and see what direction I might need to get going.

[2017-12-26 20:56] federicobond commented on #607
Great! Looking forward to that. I'll assign you the issue, please let me know if you are unable to work on it for any reason so others may grab it.

[2017-12-26 20:59] Mazecreator commented on #458
@JGcarv Did you submit a PR for the Dutch Auction?

[2017-12-27 04:48] leochan007 opened #629 "migrate error[The contract code couldn't be stored, please check your gas amount]"
use ganache for testrpc.

LCToken.sol

pragma solidity ^0.4.16;

import 'zeppelin-solidity/contracts/token/CappedToken.sol';

contract LCToken is CappedToken {
}

truffle compile is OK.

but when execute "truffle migrate" , is show following error:

Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check

[2017-12-27 05:31] leochan007 commented on #621
i got this: The contract code couldn't be stored, please check your gas amount

[2017-12-27 14:35] Shrugs commented on #621
This error can be caused by many different things. In your case, @leochan007 it seems like the contract you're deploying requires enough gas that either

1. your transaction to deploy it isn't providing enough gas
2. your testnet doesn't have a high enough gas limit.

The first thing I would do here is update truffle's gas limit to mainnets (currently about 8 million).

in `truffle.js`, add the `g

[2017-12-27 16:39] jessebmiller commented on #607
I've been unable to get `populus package...` working, which I think is an issue that needs to be filed over there. I'll also continue to look into what could be done with pip.

[2017-12-27 17:22] leochan007 commented on #621
@Shrugs the contract is quite simple.
-----------------------------------------------------
pragma solidity ^0.4.18;

import 'zeppelin-solidity/contracts/token/CappedToken.sol';

contract LCToken is CappedToken {
}
-------------------------------------------------------
var LCToken = artifacts.require("./LCToken.sol");

module.exports = function(deployer) {

  deployer.deploy(LCToken);
};
--------

[2017-12-28 00:37] Milkho opened #630 "Typo in TokenDestructible test file"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/TokenDestructible.test.js#L10
**fron** instead of **from**

[2017-12-28 01:43] jessebmiller commented on #607
I've been able to get pip to install the contracts in `<project root>/installed_packages/zeppelin-solidity/contracts` with this `pip install --root <project root> <package>` but that hasn't let me import them as I expected. I'm reaching out to the populus folks to see if I can track down what's going wrong. If anyone has any ideas here is my fork. https://github.com/jessebmiller/zeppelin-solidity

[2017-12-28 03:43] federicobond commented on #607
Have you found any other packages that have solved it already, that may serve as a base for this work?

[2017-12-28 04:27] jessebmiller commented on #607
I have not, though I expect that it has to do with the way populus is handling (or not handling) installed packages. I'll see what I can find though.

[2017-12-28 09:08] steven0610 commented on #570
did you fix it ?

[2017-12-28 17:23] Shrugs commented on #621
The linking is only required in the case of a [solidity library](http://solidity.readthedocs.io/en/develop/contracts.html#libraries), so that won't be the case. When compiling a contract, the resulting bytecode includes all of the logic of the contracts that it inherited from, so no problems there.

@leochan007 which command are you running, specifically? Can you try `truffle migrate --network dev

[2017-12-28 17:50] jessebmiller commented on #607
Got this response from the populus glitter channel

[code]
I could update the packaging to put a `zeppelin-solidity` folder right in the contracts folder and then import them with relative paths. any preference? Is that too much of a hack?

[2017-12-28 18:37] federicobond commented on #607
I don’t think so, and I would very much like to support the Populus ecosystem but this requires changes to the release process, so I would like to get @frangio’s opinion first.

[2017-12-28 18:56] jessebmiller commented on #607
To be clear @frangio it would not require changing the structure of this repo, just adding `setup.py`, `setup.cfg` and `MANIFEST.in` to the root. I'd have the `setup.py` and `setup.cfg` to install the zeppelin-solidity contracts into the populus project at `<project root>/contracts/zeppelin-solidity/contracts/...` with a pip command `pip install --root <project root> zeppelin-solidity`

This would

[2017-12-28 20:38] frangio commented on #607
Agreed with @federicobond that we're interested in supporting the Populus ecosystem. I'm not familiar with it or PyPI, though. I don't think it would be much a problem to add the necessary files in the repo, as long as someone with the knowledge can maintain them. I would be ok with the extra step of publishing releases to PyPI.

@jessebmiller Can you create a PR with the proposed changes so we ca

[2017-12-29 03:03] leochan007 commented on #621
thx for your help about library linking.

btw,  "--network development" is the default option cause there is only one network. ganache works well on port 7545 which i config in truffle.js.  I saw the Migration deployed.  but it failed to deploy LcToken. :(
@Shrugs

[2017-12-29 15:27] jessebmiller commented on #607
Yeah I'll put that together.

[2017-12-29 20:16] armenarmen commented on #629
Same

[2017-12-31 14:14] Shrugs commented on #629
@leochan007 @armenarmen in this case, `CappedToken` requires an argument in its constructor; it needs to know how many tokens is the cap! It defaults to 0 (because `contract LCToken is CappedToken` actually translates to `contract LCToken is CappedToken(0)` but CappedToken has a require `require(_cap > 0);` that fails in the constructor, hence it fails on deploy.

I made a little repository that h

[2017-12-31 14:14] #629 closed

[2017-12-31 14:15] Shrugs commented on #621
@leochan007 Figured it out here! https://github.com/OpenZeppelin/zeppelin-solidity/issues/629#issuecomment-354606049

[2017-12-31 14:50] Shrugs commented on #570
@parsparab please provide any information that would help us figure out what's going wrong. You can't expect anyone to help from such a general description of the problem and error message.

Provide us with

- contract code that you're trying to deploy
- which remix settings are you using?
- which chain are you deploying to?
- as much information as possible.

I'll reopen the issue when we have mo

[2017-12-31 14:50] #570 closed

[2017-12-31 15:19] Shrugs commented on #630
Nice catch! I've fixed it in https://github.com/OpenZeppelin/zeppelin-solidity/pull/634

[2018-01-02 14:09] spalladino commented on #630
Fixed, thanks for the report @Milkho!

[2018-01-02 14:09] #630 closed

[2018-01-02 18:49] ajsantander opened #637 "duplicate labels"
The issue tracker currently has duplicate labels, for example:
- review
- pending review
- under review

[2018-01-02 20:29] federicobond commented on #637
I suggest we consolidate all of them under `pending review`.

[2018-01-03 13:39] eordano commented on #637
I'd suggest keeping `pending-review`, `under-review` and change `feedback` for `has-feedback`

[2018-01-03 14:04] Shrugs opened #639 "Create a PR / Issue Template for OZ"
https://github.com/blog/2111-issue-and-pull-request-templates

[2018-01-03 17:01] ajsantander commented on #637
Will address this with the maintainers.

[2018-01-03 17:01] #637 closed

[2018-01-03 23:55] AugustoL commented on #547
Coverage is 91% now

[2018-01-04 02:04] ericwooley commented on #521
Are we sure this should be closed?

After following this guide, https://blog.zeppelin.solutions/how-to-create-token-and-initial-coin-offering-contracts-using-truffle-openzeppelin-1b7a5dae99b6

I set the tokens rate to 1000, my understanding is that should be 1000 tokens per ether, but it is actually per wei. So 1 ether = '1e+21' tokens. Which seems a bit high...

I can't seem to pass in a decimal,

[2018-01-04 02:39] ericwooley commented on #521
Turns out I'm a durp, but I can explain it for other people I think, who might come here with the same confusion.

I had decimals set to 18. But the contract isn't using floats, so 18 decimals of precision, is actually 18 extra zeros. So in order to get your token amount in truffle, use:
[code]

[2018-01-04 12:43] nionis commented on #521
I would propose to change the crowdsale in this way
https://github.com/nionis/purpose/blob/master/contracts/Crowdsale.sol
Basically there are 2 inputs for rate a/b token/ether
then it does:
weiAmountSend.div(b).mul(a)

[2018-01-04 14:23] facuspagnuolo commented on #547
can we close it then @AugustoL ?

[2018-01-04 14:56] AugustoL commented on #547
closed ! :zap:

[2018-01-04 14:56] #547 closed

[2018-01-04 15:17] facuspagnuolo opened #640 "Provide a detailed implementation of the ERC721 standard"
Currently we are working on a [implementation](https://github.com/OpenZeppelin/zeppelin-solidity/pull/627) including all the must-declared functionalities, but not all of the optional ones. The plan is to extend this one providing the rest of the optional functions like `metadata`, `implementsERC721`, etc.

The new contracts could be called `DetailedERC721` and `DetailedNonFungibleToken` following

[2018-01-04 15:30] ajsantander commented on #512
As far as I can tell, this has already been implemented in `ownership/HasNoTokens.sol`.

[2018-01-04 15:55] ajsantander commented on #479
I don't really see the point of having a crowdsale with a non-mintable token. Could you please elaborate?

Regarding extracting the finalizable functionality out of FinalizableCrowdsale into its own Finalizable contract, would you care to produce a PR referencing this issue?

[2018-01-04 16:06] NoahMarconi commented on #479
Definitely! I'll put a PR together.

The motivation is for sales where a fixed supply is intended. Having the option of transferring tokens instead of transferring ownership feels like a better pattern.

[2018-01-04 16:13] ajsantander commented on #463
@daniel-jozsef did you manage to implement any of this in a PR?

[2018-01-04 16:19] ajsantander commented on #501
@Qqwy could you provide an example of such a test?

[2018-01-04 16:20] Shrugs commented on #512
@ajsantander ERC223 is more than just the tokenFallback function; and I agree that once the standard figures itself out that we should implement it as we've done with ERC20. Should we re-open this issue?

[2018-01-04 16:37] ajsantander commented on #479
Great, thanks @NoahMarconi. When you do your PR, please reference this issue by referencing the issue number in the branch name or in the PR body, eg:
branch name: `fix-for-#479`
PR body: `fixes #479`

[2018-01-04 16:40] ajsantander commented on #397
@etardis would you care to provide an example for this idea?

[2018-01-04 18:02] spalladino commented on #434
I'm reopening this issue for further discussion. We have stumbled upon contracts that needed to override the `totalSupply` getter (such as for delegating the call to another contract under certain circumstances), and had no option but to modify the base token contracts, which is far from what we want to encourage.

@maraoz let me know if we can discuss this further.

[2018-01-04 18:36] ajsantander commented on #512
Yes please! My bad, thx @Shrugs

[2018-01-04 18:46] ajsantander commented on #134
@JGcarv did you manage to make any progress on this?

[2018-01-04 18:49] ajsantander commented on #75
Closing this issue because we are already using solium. Discussion should continue in #508.

[2018-01-04 18:49] #75 closed

[2018-01-04 18:57] frangio commented on #399
This came out of the [Tierion Network Token audit](https://blog.zeppelin.solutions/tierion-network-token-audit-163850fd1787):

My understanding, however, was that "grain" was coined specifically for the TNT token and not meant as a general-purpose word for all tokens. It would be ideal to have one such word but I don't think "grain" should be it. It also may not make sense given that different tok

[2018-01-04 19:01] frangio commented on #367
See #410 for a tentative solution that commented out the variable names. Note that the NatSpec documentation for the variables had to be removed, which is not really acceptable.

The proposed solution is to add a no-op mention of the variables. I think simply adding a statement for each variable works: `from_; value_; data_;`.

[2018-01-04 19:54] Shrugs opened #642 "add a lint:fix command to package.json"
we should have a `npm run lint:fix` script that runs `eslint . --fix` to handle the simple fixes automatically.

[2018-01-04 19:56] frangio commented on #612
This seems outdated. For example explicit visibility of `increaseApproval` was added in #460.

[2018-01-04 19:56] #612 closed

[2018-01-04 19:59] frangio commented on #534
Fixed as of #553. (Note that `npm list` is implictily done by Travis so was removed later in 3ad555b.)

[2018-01-04 19:59] #534 closed

[2018-01-04 20:00] frangio commented on #157
Consider #607 and #633 if those are merged.

[2018-01-04 20:04] frangio commented on #96
This is obsolete as `scripts/install.sh` was removed. If there are any newer installation problems on Windows please open a new issue.

[2018-01-04 20:04] #96 closed

[2018-01-04 20:07] frangio commented on #141
See [zeppelinos/labs](https://github.com/zeppelinos/labs).

[2018-01-04 20:11] frangio commented on #153
Closing as stale. We seem to be doing fine currently with Travis CI's GitHub integration.

[2018-01-04 20:11] #153 closed

[2018-01-04 20:42] frangio commented on #642
Note that this can be done currently as `npm run lint -- --fix`, I think.

[2018-01-04 21:18] frangio opened #643 "Update README.md to reflect we do not respect semantic versioning"

[2018-01-05 07:22] sullof opened #644 "Possible critical bug in ECRecovery"
I am building a contract which checks the signer of a certain message.
For my tests I signed the string `sullof` using MyEtherWallet and Metamask at ([https://www.myetherwallet.com/signmsg.html](https://www.myetherwallet.com/signmsg.html)).
The result is:
[code]
Unfortunately `ECRecovery.recover` returns the wrong address.

I added the following test to ECRecovery.test.js:
[code]
It fails with the

[2018-01-05 13:30] AugustoL commented on #644
Hello @sullof I think the function that uses testrpc to sign messages is different to the one used by metamask and myetherwallet, that should be why you test is failing, check the https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/helpers/hashMessage.js file

testrpc adds a prefix to the message that will be signed, I think myEtherWallet and Metamask dont.

[2018-01-05 13:35] ajsantander commented on #50
@federicobond would you like to make a PR to explore this idea?

[2018-01-05 13:44] ajsantander commented on #28
@currymj this is a good idea, would you like to make a PR with an example?

[2018-01-05 13:46] ajsantander commented on #23
@maraoz is this still valid considering what is planned for the zOS scheduler?

[2018-01-05 13:50] #619 closed

[2018-01-05 13:51] ajsantander commented on #626
@barakman would you like to submit a PR of this, ideally with a test?

[2018-01-05 13:55] #605 closed

[2018-01-05 14:05] ajsantander commented on #21
Deprecating in favor of #205

[2018-01-05 14:11] federicobond commented on #50
I am not sure if the use case is general enough to warrant its inclusion in Zeppelin, but here are my updated thoughts on it:

A Superuser contract would inherit from Ownable. The superuser variable in this contract points to an address whose key should be kept in a cold wallet and never used for any other purpose. If there is a security breach and someone gets access to the owner key, this can be

[2018-01-05 14:35] frangio commented on #644
Agree with @AugustoL.

Testrpc is using [`eth_sign`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign) which prefixes the signed message for security reasons. And from https://github.com/ethereum/go-ethereum/issues/14794#issuecomment-314815863:

Please reopen if this is not the cause of the problem!

[2018-01-05 14:35] #644 closed

[2018-01-05 14:57] frangio opened #645 "Create an index of contracts and functions to replace docs/"
We should write a script to create an index of contracts and functions with links to the lines were they are defined and documented via NatSpec. Then we can remove the unmaintained `docs/` directory.

Eventually we need to generate a site with documentation (#594) but we cannot keep unmaintained documentation in the repo.

We would also have to shut down the readthedocs site.

[2018-01-05 15:32] ajsantander commented on #8
hey @rudygodoy
did you have any luck with this?

[2018-01-05 15:56] AugustoL commented on #642
If this can be done with `npm run lint -- --fix` we can close this.

[2018-01-05 16:00] AugustoL commented on #596
Issue fixed, closing it.

[2018-01-05 16:00] #596 closed

[2018-01-05 16:20] Shrugs opened #647 "update the PR template to suggest `npm run lint:fix`"
depends on #646 and #641

[2018-01-05 17:27] barakman commented on #626
@ajsantander: Not sure how to do that here. The `Create pull request` option is disabled, with `Choose different branches or forks above to discuss and review changes` appearing next to it.

The code for this functionality is already given above, and the test is provided hereby:

[code]

I'd be happy to submit it myself, but I will need some specific instructions on how to do it here.

Thanks

[2018-01-05 17:50] rudygodoy commented on #8
Hi, I did. It’s almost done. I plan to polish things out next week.

[2018-01-05 18:53] Shrugs commented on #72
Would also love the `SafeSend` feature; use push payment

[2018-01-05 18:53] Shrugs commented on #72
(sorry, mouse slipped!)

[2018-01-05 19:04] sullof commented on #644
Thanks. Actually, that is what I was thinking.

[2018-01-05 19:11] sullof commented on #644
@AugustoL I verified and it works. But in a real scenario I have a contract which has to verify a signature generated by Metamask or MEW or whatever. I guess that I should check the two cases, with or without prefix. But anyway, I have to do the check in the contract, and there that helper is useless.
What I am saying is that ECRecovery is nice but is not enough because is basically applicable onl

[2018-01-05 19:31] sullof commented on #644
BTW, I added two more tests. The first using `hashMessage` and it fails, the second building the message myself [https://github.com/sullof/zeppelin-solidity/blob/testing-RCRecovery/test/ECRecovery.test.js](https://github.com/sullof/zeppelin-solidity/blob/testing-RCRecovery/test/ECRecovery.test.js).
[code]
The second works. This means that in any case `hashMessage` does not implement that in the wa

[2018-01-05 21:55] sullof commented on #644
@frangio The problem was quite the opposite. In fact adding the prefix it works, see above. But I don't understand how the test at [https://github.com/sullof/ethereumjs-util/blob/master/index.js#L359](https://github.com/sullof/ethereumjs-util/blob/master/index.js#L359) can work, since it does a simple `web3.sha3('OpenZeppelin')`.
Actually, my first test was a duplicate of that one, and this is why

[2018-01-05 22:02] sullof commented on #644
MyEtherWallet for sure prefixes the message (the way I did) because it uses `hashPersonalMessage` from `ethereymjs-util` for that.

[https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/signMsgCtrl.js#L80](https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/signMsgCtrl.js#L80)

[https://github.com/sullof/ethereumjs-util/blob/master/index.js#L359](http

[2018-01-05 22:50] AugustoL commented on #644
@sullof I dont understand where is the problem, I used this library successfully with the `eth-utils` libs that uses secp256k1 for signatures.

Please check the tests of LifChannels contracts that I did, it is a simple implementation of state channels for a ERC20 token, it uses the ECRecovery library.

https://github.com/windingtree/LifToken/blob/master/test/LifChannels.js

https://github.com/wind

[2018-01-05 23:20] sullof commented on #644
Of course, but here I am talking about how the original message is formatted, before hashing it. The [two tests that I added to ECRecovery.test.js in my fork](https://github.com/sullof/zeppelin-solidity/blob/testing-RCRecovery/test/ECRecovery.test.js) show the problem.

Anyway, I will take a look at LifChannels. Thanks.

[2018-01-06 14:48] Jasintar opened #652 "Split Payment"
Please help!
How to use SplitPayment contract in Crowdsale contract?
Token has balances as a mapping (address => uint256), but SplitPayment constructor requires two arrays address and uint256 separately.

[2018-01-06 19:16] GULSHAN-VASNANI commented on #652
Which all addresses you require for SplitPayment array ?

[2018-01-06 22:11] frangio commented on #652
Hi @Jasintar. Please note that `SplitPayment` only works to split _ether_ payments, and not tokens, at the moment.

What is it you're trying to do?

[2018-01-07 14:13] parsparab commented on #570
Ya, i have solved it by changing the gas price.

[2018-01-08 01:17] spalladino commented on #594
Been playing a bit with @federicobond's antlr4 grammar and docusaurus [here](https://github.com/spalladino/solidity-docgen), and got to [this result](https://openzeppelin.org/test-docs/docs/api.html).

There is still a long way to go, but we have a full AST to work with here, and it's much easier to customise. The first step would be to actually _parse_ the natspec comments and use them in the mar

[2018-01-08 03:04] federicobond commented on #594
Hey, glad you found my code helpful, and happy that this is finally coming together! Let me know if the license causes you any trouble so we can work it out.

[2018-01-08 05:33] thomsonimjd opened #653 "Transfer method to block until ICO ends"
Hi,

I would like to know how to disable transfer token method for a user to send their tokens to other untill the ICO ends.  This is possible when I do make the ICO without zappelin.  I would like to use the Open Zeppelin with my ICO, whereas it  is not possible to make.  Could you please guid me on this?

Regards,
Thomson I.

[2018-01-08 06:11] chuawengkwong commented on #594
Hi all : what is this all about

[2018-01-08 12:53] grimsa commented on #653
This should be simple:
1. Token should extend `Pausable` and override both transfer methods to add modifier `whenNotPaused`.
2. ICO should then call `pause` right after token is created and implement `FinalizableCrowdsale` to `unpause` on finalization.

[2018-01-08 14:24] frangio opened #655 "Should we remove SafeMath#div?"
`SafeMath#div` doesn't perform any checks because division cannot overflow. It currently simply returns the result of the `/` operator. However, it may be considered "unsafe" the fact that integer division truncates the result, and this may be unexpected to users who think they are doing a safe operation, as implied by the name of the library.

I think we should address this, and consider either r

[2018-01-08 14:28] spalladino commented on #655
This can be fixed with documentation, just adding a note that safemath only checks for overflows. Besides, Solidity has no float types, so it can be quite expected that a division will truncate.

Same here.

I'd keep it for consistency. It's quite easy to scan a contract's code for arithmetic operators, to know where safemath can be potentially missing. If we remove it, we'd need to keep in mind t

[2018-01-08 18:17] #639 closed

[2018-01-08 18:54] Shrugs commented on #652
The comments within the contract as well as the tests should provide ample example usage; do you have a specific question?

[2018-01-08 20:22] Shrugs opened #656 "Merge solium PR and integrate into CI/testing"
Merge #556 and add a `lint:sol` command to npm scripts. integrate into travis.

[2018-01-08 22:48] feulf commented on #8
Any update on this? I'm creating my own version, in my contract, could be nice to have it as a separate library as part of Zeppelin.

[code]

[2018-01-08 23:17] rudygodoy commented on #8
Implementation for a whitelist in a contract it's basically trivial, most of the proposals are pretty much alike. The issue comes with the integration part since we would like to have it as a reusable modifier. Given that, I'm sharing some of the challenges to direct the discussion towards a smooth implementation.

- The whitelist data structure has to be in the scope of the contract, so
- With re

[2018-01-09 01:33] boutdemousse commented on #618
It looks like you may have [missed this part](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/StandardToken.sol#L15) :
[code]
If you run a test using `transfer` using StandardToken.sol you will see that there is no problem.

[2018-01-09 02:40] feulf commented on #8
Cool. I'll use my own implementation for now as I've to move forward with our MVP, but I'm looking forward to using the OpenZeppelin implementation.

[2018-01-09 06:25] thomsonimjd opened #657 "Pausable and Burnable"
Hi,

Could you please let me know how to use Burnable and Pausable contracts together in open zeppelin in hand in hand.  It would be bette if you could give me any samples on this case.  I have not come accross this scenario yet.  Thanks in advance.

[2018-01-09 06:29] thomsonimjd opened #658 "Dividend distribution function – monthly profit sharing with all token holders."
All tokens holder get dividend based on no. of tokens held (i.e. 10% of tokens = 10% dividend)

Above is my requirement to do the monthly profit sharing concept.  It would be better if you could give me any sampls on this case or already availble in the open zeppelin contracts.
Thanks in advance

[2018-01-09 15:24] facuspagnuolo opened #659 "SimpleToken has to emit a Transfer event in the constructor to be ERC20 compliant"
[x] 🐛 This is a bug report.

The [ERC20 standard](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md#transfer-1) describes that a token contract should trigger a Transfer event with the _from address set to 0x0 when tokens are created. SimpleToken should trigger a Transfer event then.

[2018-01-09 18:53] frangio commented on #659
Fixed by #660.

[2018-01-09 18:53] #659 closed

[2018-01-09 19:14] frangio commented on #658
Closed as a duplicate of #557. Feel free to discuss ideas over there!

[2018-01-09 19:14] #658 closed

[2018-01-09 19:39] frangio commented on #657
Hi @thomsonimjd. If you want to create a token that is Burnable as well as Pausable you can do that in the following way:
[code]

Your question is somewhat broad, however. Consider asking for help over in the #beginners channel of our [OpenZeppelin Slack community](https://slack.openzeppelin.org/).

[2018-01-09 19:39] #657 closed

[2018-01-09 20:34] #652 closed

[2018-01-09 21:52] #642 closed

[2018-01-10 09:42] elango501 opened #662 "Token Lock"
## The Problem

- [ ] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

Briefly describe the issue you are experiencing (or the feature you want to see added to OpenZeppelin). Tell us what you were trying to do and what happened instead. **Remember, this is _not_ a place to ask for help debugging code; for that, we welcome you in the [OpenZeppelin Slack Channel](https://slack.openzeppeli

[2018-01-10 13:37] facuspagnuolo commented on #662
@elango501 would you mind describing the issue please?

[2018-01-10 19:53] Shrugs commented on #579
Truffle 4's test node doesn't currently have the ability to use custom balances, which our tests depend on.

1. work with truffle to add this feature
2. change tests to work in the lower balance range

We've decided to go with 1. 👍

[2018-01-10 20:11] Shrugs commented on #399
`bits`?

[2018-01-10 20:20] Shrugs commented on #367
I don't get these errors on 0.4.18 after running `truffle compile`. What is your complication command?

[2018-01-11 05:50] thomsonimjd commented on #658
I just referred the #557 which is to send the ether not for the token transfer. I would like to know if there is any contract in open zeppelin to tranfer tokens as a profit sharing for holding tokens.

[2018-01-11 07:15] elango501 opened #665 "When i deploy my contract i get below mentioned error"
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check your gas amount.
    at Object.callback (/usr/local/lib/node_modules/truffle/build/cli.bundled.js:329221:46)
    at /usr/local/lib/node_modules/truffle/build/cli.bundled.js:39618:25
    at /usr/local/lib/node_modules/truffle/build/cli.bundled.js:3311

[2018-01-11 14:14] spalladino commented on #142
The contract does not exist anymore. Closing.

[2018-01-11 14:14] #142 closed

[2018-01-11 17:08] leochan007 opened #668 "can't catch the error "Error: VM Exception while processing transaction: revert""
## The Problem

this error can't be caught by expectThrow  if execute "web3.eth.sendTransaction" (not contract'call or transaction)

e.g.
expectThrow(web3.eth.sendTransaction({gas: gas_amt, from: accounts[1], to: AAA.address,
      value: web3.toWei("1", "Ether")}, ""))

[2018-01-11 17:53] AugustoL commented on #442
@SylTi would you mind having this contract only as an example?

[2018-01-11 20:42] frangio commented on #653
@grimsa's suggestion is spot on, except I would recommend using [`PausableToken`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/v1.5.0/contracts/token/PausableToken.sol).

[2018-01-11 20:42] #653 closed

[2018-01-12 18:54] MISCPLATFORM commented on #358
This is driving me crazy, i now get a different error.

Using network 'ropsten'.

Running migration: 1_initial_migration.js
  Deploying Migrations...
Error encountered, bailing. Network state unknown. Review successful transactions manually.
undefined

[2018-01-13 17:06] TimTinkers opened #670 "Some tests are failing intermittently."
## The Problem

- [X] 🐛 This is a bug report.

I have cloned the master repository and am attempting to verify that the tests are working before I try using any of the provided contracts. The tests are failing intermittently. Here's a [gist containing my logs demonstrating this](https://gist.github.com/TimTinkers/f98cba449b43e3099420150cbb6977d0). The tests should behave consistently across truffl

[2018-01-14 15:45] Stradivario commented on #668
Having the same issue as you described....

![screenshot from 2018-01-14 16-09-33](https://user-images.githubusercontent.com/19847933/34917700-a0b02d88-f952-11e7-997a-fd48b620b4b9.png)

[2018-01-14 18:13] leochan007 commented on #668
@Stradivario yes. if the vm exception is from Contract's function call, it could be caught via expectThrow. and i don't know why.

[2018-01-14 22:02] Stradivario commented on #668
Take a look here i create issue related with this bug https://github.com/trufflesuite/truffle/issues/748

[2018-01-15 14:39] frangio opened #671 "Add .gitattributes for Solidity syntax highligting"
See https://github.com/github/linguist/pull/3973#issuecomment-357507741 and the [README](https://github.com/github/linguist#using-gitattributes).

[2018-01-15 18:00] spalladino commented on #358
Moving to `next` due to high costs reported, as discussed today by @maraoz

[2018-01-15 18:02] spalladino commented on #665
@elango501 please ask in [stackexchange](https://ethereum.stackexchange.com/), or in the OpenZeppelin Slack if you think this issue is specific to one of the OpenZeppelin contracts. Make sure to provide the code of your contract, and the parameters you are using to deploy it, so others can help.

[2018-01-15 18:02] #665 closed

[2018-01-15 18:04] spalladino commented on #662
Closing

[2018-01-15 18:04] #662 closed

[2018-01-15 18:23] frangio commented on #399
I like @Shrugs proposal. It's specific to each token, however, and it won't require any changes in this repository.

[2018-01-15 18:23] #399 closed

[2018-01-15 18:30] frangio commented on #41
Closing since we haven't found the need for this.

[2018-01-15 18:30] #41 closed

[2018-01-15 18:42] #302 closed

[2018-01-15 19:19] frangio commented on #670
Hi @TimTinkers, thanks for reporting.

We've been aware of this issue for a while but thought it was a Truffle problem. Although I think Truffle is failing to report the error correctly, I'm beginning to think that there's an error on our side that is causing it. I'm going to be looking at it.

Please note, though, that it's not that the tests are failing intermittently, but that sometimes they _c

[2018-01-15 19:36] Shrugs commented on #647
this was actually done in https://github.com/OpenZeppelin/zeppelin-solidity/pull/641

[2018-01-15 19:36] #647 closed

[2018-01-15 19:42] frangio opened #672 "Fix error testing in DelayClaimable tests"
This way of testing for errors is wrong:

https://github.com/OpenZeppelin/zeppelin-solidity/blob/beea818f4e987da1e90fa830086de074ceb232df/test/DelayedClaimble.test.js#L45-L51

https://github.com/OpenZeppelin/zeppelin-solidity/blob/beea818f4e987da1e90fa830086de074ceb232df/test/DelayedClaimble.test.js#L58-L64

Because if the method call doesn't fail, `err` will be `null` and JavaScript will fail whe

[2018-01-15 20:38] #670 closed

[2018-01-15 20:42] Shrugs opened #675 "Rename ERC23TokenMock to ERC223TokenMock"
## The Problem

- [x] 🐛 This is a bug report.

just found that there's an `ERC23TokenMock` contract for use in the HasNoTokens test; we should rename this to ERC223 to be correct.

[2018-01-15 21:03] #655 closed

[2018-01-15 21:34] #656 closed

[2018-01-15 21:42] #671 closed

[2018-01-15 21:48] #672 closed

[2018-01-15 23:22] jordanglassman commented on #157
Probably pending this issue, but I notice that versions 1.4.0 and 1.5.0 have not been deployed to ethpm yet.

https://www.ethpm.com/registry/packages/25

[2018-01-16 00:13] facuspagnuolo commented on #579
Latest version of Truffle 4 does not support customizing account balances for the testrpc develop and testing node. I already opened an [issue](https://github.com/trufflesuite/truffle-core/issues/91), so I'll move this one to on-hold till it get's fixed or we collaborate to work on a PR with the Truffle team.

[2018-01-16 00:17] facuspagnuolo commented on #3
This feature is already implemented. Closing.

[2018-01-16 00:17] #3 closed

[2018-01-16 14:31] frangio commented on #668
Hello @Stradivario. The argument to [`expectThrow`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/v1.5.0/test/helpers/expectThrow.js) should be a `Promise` as returned by truffle-contract function calls. The reason `expectThrow` is not working here is that [`web3.eth.sendTransaction`](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsendtransaction) returns a string containing

[2018-01-16 14:31] #668 closed

[2018-01-16 14:43] frangio commented on #367
True, this was fixed in #576!

[2018-01-16 14:43] #367 closed

[2018-01-16 15:18] duaraghav8 commented on #555
https://github.com/OpenZeppelin/zeppelin-solidity/commit/e0f3fea97f8ce0dd5f55942ebb08fc1239300e0b

[2018-01-16 15:18] #555 closed

[2018-01-16 15:58] ernestas2k commented on #626
@barakman I've created pull request for the functionality. Take a look

[2018-01-16 17:18] ernestas2k commented on #533
Could you point me to successful uses (if any) of dates/timestamps in smart contracts?
To my best knowledge, timestamp is easily manipulated by miners, which makes them unusable.
For instance:

(https://blog.acolyer.org/2017/02/23/making-smart-contracts-smarter/)

[2018-01-16 18:14] federicobond commented on #533
They are not unusable for many cases. You just have to be careful where you use them.

[2018-01-16 19:40] martriay commented on #533
As @federicobond said, there are several non-critical use cases (as long as they can resist a 900s  error). That being said, dates represented in `uint256` are very common in today's smart contracts and I think we need to minimize the margin of error.

[2018-01-16 19:47] maraoz opened #681 "Research DAICOs"
- [x] 📈 This is a feature request.

See: https://ethresear.ch/t/explanation-of-daicos/465

[2018-01-16 20:59] ajsantander commented on #512
This issue is currently addressed by #609, but the PR is put on hold until the standard is defined.

[2018-01-17 11:00] mancze opened #686 "Add tests for ERC20"
The tests for ERC-20 token contracts does not cover all the behavior described by the actual standard. Some issues are already described in #616, but there are more. For example:

* Testing the return values of certain functions.
* Testing the triggered events.

Testing all the defined behavior requires lots of tests. In addition I believe having ERC-20 token thoroughly and pessimistically tested

[2018-01-17 14:58] #494 closed

[2018-01-17 16:41] #21 closed

[2018-01-18 05:19] Shrugs commented on #23
What's perhaps best here is an easy "asyncSend" implementation that follows the "vesting pattern" from vesting contracts; allow users to withdraw tokens at an easily configured schedule.

So for "every week" the function would look something like

[code]

[2018-01-18 18:03] spalladino commented on #358
I've been playing around a bit with removing the token creation from the crowdsale contract, and requiring it as a parameter. The code change would be the following:
[code]

The gas costs for the current implementation with the embedded token contract code, vs this new implementation with the token as a parameter, with the solc optimizer on and off, are the following:

Version | Optimized | Not op

[2018-01-18 18:40] pascal1990 commented on #570
@parsparab  Hi have this problem, when trying to send ether to the contract, contract is already deploy, using address contract to interact and send ether. please could you help me

[2018-01-18 18:52] maraoz commented on #358
ACK, nice work @spalladino! :)

[2018-01-18 19:31] #675 closed

[2018-01-18 20:27] #211 closed

[2018-01-18 21:54] ajsantander opened #692 "Improve encapsulation in the Heritable contract"
`heir` is public _and_ has a setter [`setHeir`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/ownership/Heritable.sol#L46)

Since we are providing a setter, we should also provide a getter and make `heir` private. It ensures that inheriting contracts cannot modify the `heir` in an unintended way.

This is a general practice we are starting to adopt in all OpenZeppelin, i.

[2018-01-19 15:36] frangio opened #694 "Travis coverage job should not run linting"
The way Travis was [set up](https://github.com/OpenZeppelin/zeppelin-solidity/blob/ff9e9c4d8587a2504b04a39f2e81f382de1e0fc0/.travis.yml) in #369 allows to run coverage and tests in parallel. However, the coverage job is also running the linters, redundantly.

[2018-01-19 15:40] frangio commented on #686
Thanks @mancze! I agree with your thoughts.

There is a comprehensive test suite for ERC20 [in IC3Hydra/Hydra](https://github.com/IC3Hydra/Hydra/tree/e99eacc23ef512ddbff86b95b47de945b09333be/examples/ERC20).

[2018-01-19 15:53] #643 closed

[2018-01-19 20:15] #434 closed

[2018-01-20 14:47] leochan007 opened #695 "how to deploy the contract on mainnet with a hd-wallet sign?"
is  https://www.myetherwallet.com/ the only way?
how to deploy the contract with hd-wallet signed tx?

[2018-01-20 15:15] trejas commented on #692
Should the getters be accessible only to the owner of the contract, or should they be publicly accessible?

[2018-01-20 19:28] Shrugs commented on #692
The getter should be public, imo.

[2018-01-20 19:29] Shrugs commented on #695
If you're using truffle, https://github.com/trufflesuite/truffle-hdwallet-provider provides the ability to sign messages using your mnemonic/password.

You can also load your mnemonic/password into MetaMask and then create your deploy transaction with Remix

[2018-01-21 19:41] Shrugs commented on #695
HD means hierarchical deterministic; in our case it means any wallet that supports a mnemonic and password for managing accounts.

By HD did you mean hardware?

[2018-01-21 23:33] Shrugs opened #696 "Move the checkboxes in pr/issue templates below the fold"
So the open graph embeds show the important info.

[2018-01-22 02:09] leochan007 commented on #695
@Shrugs yes ...i mean hardware wallet.

[2018-01-22 09:45] anaibol opened #697 "No documentation for Crowdsale smart contract and derivatives."
![screenshot_20180122_104224](https://user-images.githubusercontent.com/3210177/35214409-5853dc82-ff61-11e7-82b1-0bfc7cafa2a9.png)

[2018-01-23 03:28] #618 closed

[2018-01-23 04:18] azavalla commented on #692
Reducing the public API of the contracts minimizes the number of guarantees we have to make to the code using our contract (thus reducing the places where we have to watch out for compatibility issues), giving us more freedom to change -private- implementation details.

Also, being a framework focused on security, it makes sense to try and avoid having developers extending a contract in an uninten

[2018-01-23 20:44] Shrugs commented on #508
We're currently using solium, but we can recreate this issue if moving to solhint is necessary in the future.

[2018-01-23 20:44] #508 closed

[2018-01-24 13:59] agri9394 opened #703 "Pre sale contract"
How can we create a pre sale contract using openZeppelin and it will be very helpful if any example is available on github ?

[2018-01-24 14:06] frangio commented on #697
Thanks for reporting @anaibol. Documentation is being worked on, and we'll be releasing a new site soon. In the meantime please refert to the contracts' comments in the source code.

Closing in favor of #594.

[2018-01-24 14:06] #697 closed

[2018-01-24 14:11] demibrener opened #704 "Add Airdrop contract"
- [ ] 🐛 This is a bug report.
- [X] 📈 This is a feature request.

Introduce an Airdrop smart contract standard to the OpenZeppelin library.

Airdrops became a way for projects to distribute tokens to their community, in an effort to bootstrap the usage and support of their platform. During 2017, we've seen Airdrops performed by projects like OmiseGo and Kyber, among others:
https://github.com/omis

[2018-01-24 14:16] frangio commented on #703
Hi @agri9394!

A pre-sale contract sounds like a good fit for OpenZeppelin. I think we should reformulate it more generically as a Crowdsale with different stages.

[2018-01-24 14:25] frangio commented on #704
Thanks @demibrener! I like the motivation for this feature.

If I understand correctly, an "airdropper" would basically be a "multisend" function.

[2018-01-24 14:26] demibrener commented on #704
Thanks @frangio! I believe so.

[2018-01-24 14:44] #358 closed

[2018-01-24 15:10] spalladino commented on #704
Note that most of the work in an airdrop are the off-chain tools for:
- collecting the receiving addresses from a blockchain scan (or other criteria)
- automating a huge number of batched transfers

The contract itself should not be that complex, it's just a `transferMany` method, tailored to use as little gas as possible.

[2018-01-24 18:35] facuspagnuolo opened #705 "Improve SafeMath to support signed int operations"
- [x] 📈 This is a feature request.

The idea is to provide basic math operations (like `add`, `sub`, `mul`, etc) for signed integers. I think this could be added within `SafeMath` itself.

[2018-01-24 21:08] xiaoyao1991 opened #706 "Examples on TokenTimeLock and TokenVesting"
- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

Thanks for the awesome contributions Zeppelin team. I wonder if there're any examples or tutorials on how to use TokenTimeLock and TokenVesting specifically?

[2018-01-25 00:02] gururise commented on #358
Do you have an example  of how one would call the transferOwnership() function on the token in the 2_deploy_contracts.js file to be able to use this new functionality?

[2018-01-25 14:00] frangio commented on #706
Agreed @xiaoyao1991! There are no examples currently.

[2018-01-25 14:05] spalladino commented on #358
@gururise sure, check out the [setup step in the tests](https://github.com/OpenZeppelin/zeppelin-solidity/blob/4d7c3cca7590e554b76f6d91cbaaae87a6a2e2e3/test/crowdsale/Crowdsale.test.js#L33-L35) with this new feature:

[code]

[2018-01-25 14:26] #696 closed

[2018-01-25 14:52] #625 closed

[2018-01-25 19:58] frangio opened #707 "Emit updated Approval in transferFrom"
@martriay has noticed that `Approval` events are not sufficient to reconstruct the allowance status of an address, because allowance is silently modified (reduced) in `transferFrom`. In fact, even all of the ERC20 events together don't suffice either, because of the long-standing problem that `transferFrom` transfers are logged like simple `Transfer` events with no information on who the spender w

[2018-01-26 11:00] larslai opened #708 "If contract have "now", then will migrate fail in the geth."
Hi,
I have one contract, that will inheriting CappedCrowdsale, RefundableCrowdsale
When I use `truffle migrate` to deploy my contract in my geth private network.
always show the error msg as below
`Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: The contract code couldn't be stored, please check your gas amount.`

But if I change to use testrpc or

[2018-01-26 11:28] larslai commented on #708
I found the reason.
My start_time is too close in my deploy_contract.js.
I only set `start_time = current_time + 1 second`.
My start_time is too close, so throw error.
close the issue.

[2018-01-26 11:28] #708 closed

[2018-01-26 13:27] cedricwalter commented on #695
we do this in our company, no big surprise:

connect hardware wallet to usb, enter pin, Select the Ethereum icon on the Nano S screen and changed the following settings:

Contract interactions or deploys need to enable Contract data from the Ethereum app Settings.
Browser support needs to be turned off from the Ethereum app Settings (different protocol).

Start geth on the target network, for rops

[2018-01-26 14:05] cedricwalter commented on #704
i wrote an open source airdrop tool using nodejs, require users to registers in a form, their email and phone number, the code is heavily asynchronous and can handle lots of users.

[2018-01-26 14:24] spalladino commented on #704
Nice! Care to share a link?

[2018-01-26 14:31] cedricwalter commented on #706
@xiaoyao1991 unit test are providing a good start

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/token/TokenVesting.test.js

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/token/TokenTimelock.test.js

or in solidity

uint256 public constant VESTING_CLIFF = 1 years;
uint256 public constant VESTING_DURATION = 3 years;

MintableToken token = new MintableToken(

[2018-01-26 14:41] cedricwalter commented on #704
https://github.com/StutzCoin/airdrop

[2018-01-26 16:47] leochan007 commented on #695
@cedricwalter thx for you msg. u mean the hardware wallet can be used in testnet?  how about private chain with fake initial balance?  still can "truffle migrate" and do some test?

[2018-01-26 17:15] cedricwalter commented on #695
yes i was deploying and conducting test on ropsten, like on mainnet. You have to mine first a bit of ETH on your hardware wallet ropsten public key.

i do own a nanoledger and digital bitbox. As long as Geth /Mist support it....should work

[2018-01-26 17:33] leochan007 commented on #695
@cedricwalter so different network just like different name space. the same public address(private key or keystore) can hold 3 different balances of eth on mainnet, ropsten testnet and your private chain at the same time. coz they have no relationship with each other, only sharing the storage of your hardware wallet. right?

[2018-01-26 21:21] frangio commented on #692
Fixed in #702.

[2018-01-26 21:21] #692 closed

[2018-01-27 19:30] propercoil commented on #358
Getting the error:

[code]

Using @tomericco code with seconds modification:

[code]
All the suggestions above don't work including @amazingandyyy `latestTime` whice results in:
[code]

[2018-01-28 10:23] xiaoyao1991 commented on #706
@cedricwalter Thanks! I'll take a look

[2018-01-28 18:20] fulldecent opened #709 "Use deed instead of token for ERC-721"
Regarding: https://github.com/OpenZeppelin/zeppelin-solidity/pull/627

Could this please be named a *deed* (in a deed/ folder) instead of a token?

---

https://github.com/ethereum/EIPs/pull/841

[2018-01-28 18:21] fulldecent commented on #709
Also, you guys are pretty quick!

[2018-01-28 18:41] ArchimedusIII opened #710 "Use of require in StandardToken.sol not necessary"
When using the SafeMath library, isn't it overkill to use : require(_value <= balances[msg.sender]); in the StandardToken.sol contract?

As SafeMath.sub should be able to throw an error if balance is not enough, this seems redundant to me, or am I missing something?

[2018-01-28 18:43] ArchimedusIII commented on #710
Oops, this may be more of a Pull request, than an issue.

[2018-01-28 18:44] #710 closed

[2018-01-29 11:49] cedricwalter commented on #705
see https://github.com/OpenZeppelin/zeppelin-solidity/pull/714

[2018-01-29 13:53] spalladino commented on #358
@propercoil maybe try increasing the number of seconds for startTime from `+100` to something much larger, just to rule that one out?

[2018-01-30 04:31] hahaelx commented on #409
zeppelin-solidity changed directory structure in new version,
it should be:
[code]

[2018-01-30 13:08] FradSer commented on #704
@cedricwalter Thank you.

[2018-01-30 17:20] propercoil commented on #358
@spalladino it wasn't that. I was looking at master when my repo was on the release. Turned out to be a missed constructor param.

[2018-01-30 17:40] spalladino opened #715 "Add a payment pool implementation"
## 🎉 Description

[This post](https://medium.com/cardstack/scalable-payment-pools-in-solidity-d97e45fc7c5c) describes a Merkle tree based implementation for one-to-many recurring payments with minimal gas usage, which is heavily based in what was [discussed with Peter Watts](https://ethresear.ch/t/pooled-payments-scaling-solution-for-one-to-many-transactions/590/2).

I believe it is an interesting

[2018-01-30 17:43] frangio commented on #715
Yes! Fixes #704?

[2018-01-30 17:45] spalladino commented on #715
I'm not sure if one of the goals of airdropping is actually _pushing_ the tokens to the recipients, so they don't have to claim them, and the tokens generate a "hey, what are these tokens doing here?" effect.

[2018-01-30 18:16] frangio commented on #715
I'm not sure either, but it could be.

Where would a user see that balance anyway? Etherscan displays it but I doubt that is a tool that end-users use, and I don't know of any wallets that would show it.

[2018-01-30 18:21] spalladino commented on #715
Maybe a special client app for the token...? Just guessing, though.

On Tue, Jan 30, 2018 at 3:16 PM, Francisco Giordano <
notifications@github.com> wrote:

[2018-01-30 20:03] buybackoff commented on #715
In the tests `withdraw` function [consumes 155k gas](https://github.com/buybackoff/merkle-tree-payment-pool/blob/86967ad6d68868b2d1ba801e5e4ca8e807dc5947/test/payment-pool-test.js#L247) vs c.40k of standard ERC20 transfer.

With a large number of accounts the Merkle proof will grow in size and gas cost will grow as well. Currently there are only 8 accounts in the test. Maybe implementation is raw

[2018-01-30 20:10] spalladino commented on #715
Without going through the tests in detail, yes, this implementation shifts payment costs to the users, as the total cumulative cost to be paid by the payer is huge.

[2018-01-30 20:13] buybackoff commented on #715
It's strange, because in the blog post the author writes (bold is mine):

[2018-01-31 01:29] frangio commented on #715
The cost per-beneficiary is certainly going to be larger, though I think it could be quite close if the payment pool logic is built into the token itself (though we will probably not do this in OZ). FWIW, the Merkle proof size grows logarithmically with the number of accounts.

[2018-01-31 19:21] rmujica opened #716 "SplitPayments not splitting payments correctly"
## 🎉 Description
When running a contract inheriting SplitPayment, some claims being made with the same amount of shares are different by 1.5e15 wei, while other claims being made with the same amount of shares (but smaller than the previous by an order of magnitude) are the same.

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your en

[2018-01-31 19:21] rmujica commented on #716
pinging @Shrugs

[2018-02-01 02:22] hasin0525 opened #717 "how to use my existing token in crowdsale?"
## 🎉 Description

The current crowdsale code is a form that generates and distributes tokens. I would like to have a crowd sale with a token I have already created.

- [ ] 🐛 This is a bug report.
- [] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using? 1.6.0
- What network are you deploying to? test

[2018-02-01 07:08] eordano commented on #579
Whats the reasoning behind this? Could those reasons be mitigated by moving from `testrpc` to `ganache-cli`?

[2018-02-01 07:21] eordano commented on #717
Hi there @hasin0525. It appears that you're neither reporting a bug or asking for a new feature, which is why I'm going to close this issue as invalid, as I couldn't gather enough information from your description of the issue and example code.

Please consider asking for help over in the #beginners channel of our OpenZeppelin Slack community: https://slack.openzeppelin.org

[2018-02-01 07:21] #717 closed

[2018-02-01 15:23] trejas commented on #715
Not sure what the protocol is for assignment. I have started a PR using the Merkle Tree solution.

Could someone assign this feature to me?

[2018-02-01 16:15] spalladino commented on #715
Just flagged it as in-progress @trejas to signal that it is being worked on, Github won't let me design you as asignee

[2018-02-03 14:24] azavalla commented on #692
@frangio any thoughts on [this](https://github.com/OpenZeppelin/zeppelin-solidity/issues/692#issuecomment-359671795) ?

[2018-02-04 01:15] ddbit opened #719 "npm not aligned with github"
## 🎉 Description

The Crowdsale.sol constructor declares argument token in 1.6.0 on github but npm installs a code without that argument.

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using? 1.6.0
- What network are you deploying to? testrpc? Ganache? Ropsten? n/a

[2018-02-04 13:45] BenKaufman10 commented on #719
Happens to me too, any solution?

[2018-02-04 18:07] eduardonunesp opened #721 "Mintable token shouldn't let the mint finish if the total supply is 0"
- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

Mintable token shouldn't let the mint finish if the total supply is `0`, since the mintable once it's finished it cannot be minted again. It happens on `MintableToken.sol`

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/MintableToken.sol#L44

[2018-02-05 05:15] tonywangcn opened #722 "Error encountered, bailing. Network state unknown. Review successful transactions manually. Error: VM Exception while processing transaction: revert"
## 🎉 Description

- [* ] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using? v1.6.0
- What network are you deploying to? testrpc? Ganache? Ropsten? testrpc
- How are you deploying your OpenZeppelin-backed contracts? truffle? Remix? Let us know! truffle

## 📝 Details

De

[2018-02-05 13:42] kvbik commented on #681
big part of the DAICO idea was already described by @vbuterin in his ICO methods article [1]

[1] https://vitalik.ca/general/2017/06/09/sales.html

we at @windingtree liked the idea so much, we've implemented it as a part of our token generation event and call it Market Validation Mechanism, feel free to read more [2] about [3] it.

[2] https://blog.windingtree.com/l%C3%ADf-token-generation-event-

[2018-02-05 14:05] AugustoL commented on #681
Yes, I think we were the first ones to implement a DAICO at @windingtree, for us is a validation mechanism, either way the name does not matter. The cool thing about this is to decentralize the ownership/control of the funds raised ! 🎊

Although I like the MVM idea I would like to think on a solution that provides this control over an unlimited amount of time, in our case the MVM and what Vitalik

[2018-02-05 14:36] facuspagnuolo commented on #719
Hi @ddbit! Thanks for reaching out
Would you mind providing a link to the documentation you are looking at? You can check that commit was not included in the release, please see the [diff](https://github.com/OpenZeppelin/zeppelin-solidity/commit/4d7c3cca7590e554b76f6d91cbaaae87a6a2e2e3) and the [released contract](https://github.com/OpenZeppelin/zeppelin-solidity/blob/v1.6.0/contracts/crowdsale/Cr

[2018-02-05 16:13] dadaista commented on #719
Hi @facuspagnuolo, definitely my fault, I wrongly assumed the 1.6.0 was carrying this novelty but actually it is not. The master is some commits ahead. We can close the issues

[2018-02-05 16:15] ddbit commented on #719
Hi @facuspagnuolo, definitely my fault, I wrongly assumed the 1.6.0 was carrying this novelty but actually it is not. The master is some commits ahead. We can close the issues

[2018-02-05 16:15] #719 closed

[2018-02-05 19:29] frangio commented on #579
@eordano I think `testrpc` and `ganache-cli` are aliases to the same thing. We should move to the newer name though.

I can't remember the reasoning 😅. FWIW Truffle's [release docs](https://github.com/trufflesuite/truffle/releases/tag/v4.0.0) say "Truffle Test: Faster Test Cycles & Better CI", so I'd say it's worth trying?

[2018-02-06 05:10] AyushyaChitransh opened #723 "An improvement in pausable.sol"
## 🎉 Description

### Togglable

As of its current implementation, `pausable.sol` works as a toggle switch to `turn_on` and `turn_off` certain functionalities. If we just want to have a toggle functionality, then we can inherit a different contract with name like `togglable`. The name `pausable` leads to notions of time.

### Pausable

If we are to have a `pausable` contract, it should have variab

[2018-02-06 16:15] epinal commented on #409
Truffle doesn't find the global module. I fixed this way:

In the project folder:
_npm init_

// Install the zeppelin-solidity module locally
_npm install zeppelin-solidity_

// Then compile
_truffle compile_

[2018-02-06 23:01] frangio commented on #692
We agree that there's a trade-off between extensibility and security.

Yeah, in fact, this is aligned with the reasoning behind this issue. In this case it was not checking an invariant that we wanted to enforce, but emitting the event `HeirChanged` and the `heartbeat` whenever the state variable is changed. It's true that if a state variable didn't have any sort of additional logic necessary when

[2018-02-06 23:09] frangio commented on #692
I definitely see where you're going with this and I share a similar concern. I think that we want to promote people extending OZ in secure ways, and we have to set the library up for being securely extended. `private` state variables enable more secure extension. Even if they may preclude some types of extension, we have to design our APIs so that the extensions precluded are insecure ones. In the

[2018-02-07 02:55] Shrugs commented on #716
Figured it out!

The first call to `claim()` requires `72461` gas whereas subsequent calls require `57461` gas. I expect this is probably due to some allocation issue that I don't have the experience to know right away.

Anyway, the payees are _claiming_ the correct amount, but _spending_ different amounts executing the transaction that claims them. That's why the resulting balances don't add up.

[2018-02-07 02:56] Shrugs commented on #716
Also, best practices, try to use the bignumber math function when working with wei and whatnot; you never know where you're accidentally rounding something

[2018-02-07 02:57] Shrugs commented on #716
And there's still 3 wei left over in the account because of rounding against `1/35`. if you take `.028571429` times `7` you get `.200000003`, hence the leftover amount.

[2018-02-07 02:57] #716 closed

[2018-02-07 12:40] Dougy2800 opened #724 "How to use only 50% of tokens in crowdsale?"
## 👁‍🗨 Description

I want to create a crowdsale which sells 50% of the coins and allocates the rest to my wallet.
what is the best way of doing this?
Is it best to create the token first?

I've attempted to launch multiple crowdsales on the Rinkeby test network using Remix, none of them accepting ether or returning any coins.

Perhaps its better for me to use a service that makes the coin/crowdsa

[2018-02-07 16:06] rmujica commented on #716
perfect, thanks a lot.

[2018-02-07 18:32] benstew commented on #703
I agree with @frangio on this one. Setting up as multi-round crowdsale is probably the best option. The only downside is that you will need to now the allocation percentages for the presale round and the general round at time of deployment

[2018-02-08 03:01] federicobond commented on #723
Hi @AyushyaChitransh! Thanks for your suggestion. Do you have a use case in mind that benefits from this sort of time-tracking being performed on-chain?

[2018-02-08 03:07] federicobond commented on #724
Hi @Dougy2800! In general, you should be able to mint the remaining tokens in the `finalize` method. You can find an example of this in the [Decentraland crowdsale](https://github.com/decentraland/mana/blob/master/contracts/MANACrowdsale.sol#L169-L176).

I will close this issue now, please reopen if you have any other questions.

[2018-02-08 03:07] #724 closed

[2018-02-08 03:14] federicobond commented on #722
Hi @tonywangcn! The error messages says "VM Exception while processing transaction: revert". This usually means a `require` clause did not succeed. Please check every argument you are providing to the contract constructor to make sure they are valid.

If the problem persists, please include a failing test case in your report.

[2018-02-08 03:15] #722 closed

[2018-02-08 03:20] federicobond commented on #721
Hi @eduardonunesp, thank you for your suggestion! I believe it should be up to the user to decide whether to finish the mint or not, regardless of how many tokens were minted. Checking for this condition would consume gas and provide no tangible business value.

[2018-02-08 03:20] #721 closed

[2018-02-08 11:08] shenzhun commented on #326
@mikec Well done.

[2018-02-08 17:11] AyushyaChitransh commented on #723
@federicobond Pausable instinctively refers to something which has been continuing in time, hence time-tracking. Anything that requires to be paused, will pause something which has a duration. And the integrity of that duration is retained by resume function

Use cases:
 - ICOs generally have a starting time and an ending time, so they would benefit if `pause` worked as `pause` and on `resume` it

[2018-02-08 17:34] #686 closed

[2018-02-08 17:36] facuspagnuolo commented on #616
Fixed in #686

[2018-02-08 17:38] #616 closed

[2018-02-08 17:45] facuspagnuolo commented on #548
Accomplished with #712
![image](https://user-images.githubusercontent.com/6967192/35988934-996fc2f0-0cde-11e8-9b01-830a6ed22f79.png)

[2018-02-08 17:45] #548 closed

[2018-02-08 17:58] federicobond commented on #723
Thank you for your answer @AyushyaChitransh. I think we are best keeping the current Pausable behaviour minimal for now, since it's not a requirement that we have seen coming up for most use cases, and it would be easy to add if required.

At OpenZeppelin, we aim to cover the most general use cases with well audited contracts. This requires us to be very careful with any extra assumptions that we

[2018-02-08 17:58] #723 closed

[2018-02-09 09:59] marksaitis commented on #681
any news re daicos? I think they are crucial for faster success

[2018-02-09 14:59] maraoz opened #727 "Create PoW mining validation contracts"
## 🎉 Description

Idea taken from @Shrugs' image, in turn taken from 0xBitcoin:
![1_w262dszig5yxzaf2zg5uwq](https://user-images.githubusercontent.com/287189/36033642-657e28bc-0d90-11e8-8e4d-76ad26d2ad8c.png)

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

I'd make it generic, i.e not tied to token minting, as in the image, and maybe then add a `MinedToken` that uses the generic

[2018-02-09 15:46] arisAlexis commented on #727
interesting! how would a miner interact with this contract? you need to pay gas for each submission?

[2018-02-09 18:21] alcuadrado commented on #727
This implementation is vulnerable to front-running. But you can easily fix that with something like
`bytes32 digest = keccak256(lastNonce, nonce, msg.sender);`.

This way the proof of work is tied to whoever did it, and no front-running is possible.

[2018-02-09 18:50] Shrugs commented on #727
Updated contract should be

[code]

Mining would look like

[code]

[2018-02-10 19:10] AugustoL commented on #727
Super interesting !! want to see it in zeppelin

It can also have a `getReward()` function, that returns the reward of the block number mined, it can be deflationary.

Also it can have a fee per transfer, like take `1 wei` for each transfer and claim all the `feeBalance` every time a block is mined, this way when you reach a block reward of cero you still have the fee reward.

The difficulty can b

[2018-02-11 00:50] alcuadrado commented on #727
I like the idea of validating PoW in a smart contract, but I wouldn't couple its implementation to minting a token.

1. While miners do PoW for earning cryptocurrencies, that's not the purpose of the PoW. Block rewards are just a way of incentivize people to secure a blockchain. If obtaining new tokens is the entire purpose of the PoW it would only model the distribution of the tokens. The same di

[2018-02-11 01:36] Shrugs commented on #727
Yeah totally agreed, glad you brought that up!

So now we've got a `Mineable` interface that implements PoW checking and exports a `verifyProofOfWork(nonce, difficulty)` function.

Then `MineableToken is Mineable, MintableToken` and mint looks like

[code]

[2018-02-11 21:10] Dexaran opened #729 "ERC20 standard implementation bug."
## 🎉 Description

ERC20 token standard implementation assumes two ways of token transferring: (1) `transfer` function and (2) `approve + transferFrom` pattern.

It should be noted that [event handling](https://en.wikipedia.org/wiki/Event_(computing)) is a well-known and standard practice in programming. In case of token standard, a token transfer should be considered as an event. `transfer` functi

[2018-02-12 14:49] spalladino opened #730 "Ignored return value of token.mint in Crowdsale contract"
- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

Function `mint` from MintableToken returns a boolean value, similar to `transfer`. However, its return value is not checked when the token is [used in the Crowdsale contract](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L78).

Instead of:
[code]
Should be:
[code]

On the other hand,

[2018-02-13 07:13] rstormsf opened #732 "BurnableToken doesn't fire Transfer event"
- [x] 📈 This is a feature request.
## 🎉 Description
As a user, I'd expect that BurnableToken when called `burn(uint _value)` method, it should fire
`Transfer(msg.sender, address(0), value);` event.

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/BurnableToken.sol#L18

the same as MintableToken does when it fires `mint(to, value)`
https://github.com/OpenZeppelin

[2018-02-13 07:24] rstormsf opened #733 "ERC20 is not an interface"
The comments suggest that it's an interface, however, it's defined as a contract

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol#L10

Curious why we cannot use `interface` vs `contract` to enforce rules.

**Update** Never mind, I found the reason:

``
Cannot inherit other contracts or interfaces.
[code]

[2018-02-13 07:27] #733 closed

[2018-02-13 16:17] androolloyd commented on #732
Is it a transfer though, it reads to me as a complete destruction of the burned token, rather than movement of it to a null location.

[2018-02-13 22:57] AugustoL commented on #732
I think it should have it! we had to change the burn method in the LifToken implementation to add the burn function.

[2018-02-13 22:57] AugustoL commented on #732
@rstormsf can you go ahead and create the PR? assign me as reviewer pls.

[2018-02-13 23:11] rstormsf commented on #732
@AugustoL done

[2018-02-13 23:40] freshonline opened #736 "install problem"
testnet@e3:~$ npm install zeppelin-solidity
npm WARN saveError ENOENT: no such file or directory, open '/home/testnet/package.json'
npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN enoent ENOENT: no such file or directory, open '/home/testnet/package.json'
npm WARN testnet No description
npm WARN testnet No repository field.
npm WARN testnet No README data

[2018-02-14 02:56] rudygodoy commented on #8
I'm sharing my initial attempt, so people can comment. It works fine, no issues on remix as well. However, I'm having very weird issues with the integration tests for the `disable` and `check` methods for the skeleton contract (whitelisted). I haven't put much time debugging that problem. I'll keep you posted or just do the PR when everything is as I expect it to be.

[code]

[2018-02-14 16:49] fiiiu opened #739 "Crowdsale Refactor"
## 🎉 Description

Opening this in order to nucleate issues and PRs that will be addressed in the coming refactoring of crowdsales #744. The new version will add functionality while implementing some of the proposed changes.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

[2018-02-14 18:07] avadaneidanut opened #740 "Test helpers reusability issue"
## 🎉 Description

I try to reuse the helper functions from test/helpers (which are great by the way) and for some of them (the ones that use ES6 syntax) fail beautifully.

## 💻 Environment

I use:
- zeppelin-solidity v1.6.0
- node v9.5.0
- truffle v4.0.6

I register babel dependencies in truffle-config.js.

## 📝 Details

Pieces of code that work as expected:
[code]

Pieces of code that fail:
[code

[2018-02-14 18:17] spalladino commented on #740
As far as I understand, the issue is that Babel does not parse `node_modules` by default, so if we want to make test helpers available, we'd need to preprocess them before publishing the package.

As a workaround, you should be able to instruct Babel to parse the test helpers from Zeppelin (see [here](https://github.com/webpack/webpack/issues/2031#issuecomment-183378107) for an example on how to d

[2018-02-14 18:19] spalladino commented on #736
The problem seems to be that you have not initialized your project with `npm init`. It's a problem related to npm usage, not to OpenZeppelin, so I'm closing the issue. For future reference, please ask these questions on the beginners channel in [Slack](http://slack.openzeppelin.org/).

[2018-02-14 18:19] #736 closed

[2018-02-14 18:32] avadaneidanut commented on #740
@spalladino I don't seem to understand how to do it. Where should I add the instructions for Babel?

[2018-02-14 18:42] avadaneidanut commented on #740
@spalladino Thanks for the hints.

I've added this to the `truffle-config.js` file and it did the trick.
[code]
And the `truffle-config.js` file now looks like:
[code]

[2018-02-14 18:42] #740 closed

[2018-02-14 18:47] spalladino commented on #740
Good to hear!

On Wed, Feb 14, 2018 at 3:42 PM, Avadanei Danut <notifications@github.com>
wrote:

[2018-02-14 18:57] avadaneidanut commented on #740
@spalladino Maybe it will be nice to be a separated package for testing. I could benefit from that and I think a lot of people will.

[2018-02-14 19:03] spalladino commented on #740
Indeed. It is being discussed in issue #326, though it has become somewhat
inactive.

On Wed, Feb 14, 2018 at 3:57 PM, Avadanei Danut <notifications@github.com>
wrote:

[2018-02-14 19:21] spalladino commented on #729
@Dexaran, as you mention in the comments of the gist, standards such as 223 and 777 do not suffer from this issue. Actually, 223 was specifically designed to address this problem. We are in discussions on whether to include either (or both) standards to OpenZeppelin, but regardless of what decision we make, we will not be modifying the current ERC20 standard, which is already finalized.

In other

[2018-02-14 19:21] #729 closed

[2018-02-14 22:17] shrugs opened #742 "TokenVesting contstructor natspec updates"
the TokenVesting.sol constructor is missing a netspec def for `_start`

[2018-02-15 12:43] medvedev1088 opened #743 "Add Authorizable contract"
## 🎉 Description

Something like this:

[code]
- [+] 📈 This is a feature request.

Originally discussed here https://ethereum.stackexchange.com/questions/39654/smart-contract-multiple-owners/39657#39657

[2018-02-15 13:09] eordano commented on #743
+1!

[2018-02-15 15:16] medvedev1088 commented on #743
@eordano I've just found contracts/ownership/rbac/RBAC.sol contract that provides similar capabilities to Authorizable.  Do you think Authorizable will be useful?

[2018-02-15 15:19] martriay commented on #743
@medvedev1088 why would you prohibit `0x0` to be authorized?

[2018-02-15 15:22] medvedev1088 commented on #743
@martriay no reason. Forgot to remove it while copying from stackexchange.

[2018-02-15 15:27] martriay commented on #743
I like the idea and I definitely would have it separate from RBAC. I'd call it `Whitelist` instead, and have it emit events on every add/removal, along with a check to avoid redundant storage writes and event firings.

[2018-02-15 15:35] medvedev1088 commented on #743
@martriay Sounds good to me. Although not sure about "check to avoid redundant storage writes". The check itself will add 200 gas right? because we need to read from the storage first. In most cases the owner can make this check off-chain instead to prevent redundant storage write.

What do you think?

[2018-02-15 16:26] medvedev1088 commented on #743
@martriay do you think I should `revert()` or just ignore on redundant call?

[2018-02-15 16:29] martriay commented on #743
@medvedev1088 I would make the function return a boolean value indicating if it was successful. This way the contract can be used programmatically by other contracts and react accordingly.

[2018-02-15 16:36] medvedev1088 commented on #743
Ok, btw the compiler will auto-generate a public getter for the whitelist. Do you think we still need `isWhitelisted(address)`?

[2018-02-15 16:52] martriay commented on #743
Yes, it can be left out.

[2018-02-15 17:36] fulldecent opened #745 "Use #841 reference implementation in OpenZeppelin"
Presently, OpenZeppelin has ERC-721 (draft) implemented here https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts/token/ERC721

A reference implementation has just been released and added to the standard (draft). The reference is here: https://github.com/nastassiasachs/ERC721ExampleDeed

Could the reference implementation please be added to OpenZeppelin.

Also, please note, we p

[2018-02-15 17:40] medvedev1088 commented on #743
@martriay @eordano Please take a look https://github.com/OpenZeppelin/zeppelin-solidity/pull/746. Any comments are welcome.

[2018-02-15 19:47] ajsantander commented on #303
Please see the crowdsale refactor #744.
Instead of making a more abstract FixedCrowdsale with no time boundaries, we removed time boundaries from Crowdsale and implemented them in a more specific TimedCrowdsale.

[2018-02-15 19:47] #303 closed

[2018-02-15 19:51] ajsantander commented on #351
Addressed in the crowdsales refactor #744.
The base Crowdsale contract now refers to a generic ERC20 token and can be extended to implement `transferFrom`, minting, etc.

[2018-02-15 19:51] #351 closed

[2018-02-15 20:34] nastassiasachs commented on #745
I'm trying to contribute. Maybe someone can review this pull request: https://github.com/OpenZeppelin/zeppelin-solidity/pull/747

[2018-02-15 21:18] fiiiu commented on #730
This has now moved to [the MintedCrowdsale](zeppelin-solidity/contracts/crowdsale/emission/MintedCrowdsale.sol) under the crowdsale refactor #744.

I'm not fixing this quite yet in hope for more input regarding the `mint` return value.. Any reason for keeping it? (See also `finishMinting` in `MintableToken`).

[2018-02-15 21:26] k06a opened #748 "Extension to allow recovery of lost tokens"
## 🎉 Description

I think it will be great to allow some smart contracts to recover tokens, mistakenly sent to them. For example, some people send tokens to the token smart contracts directly, or to smart contracts that just do not support any tokens handling.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

I personally extend my token contract with the following m

[2018-02-16 07:50] medvedev1088 opened #749 "Add CanRefundGas contract"
## 🎉 Description

Something like this:

[code]

[code]

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

Originally discussed here https://ethereum.stackexchange.com/questions/38479/how-to-make-someone-else-pay-for-gas/38517#38517

[2018-02-16 13:22] cryptodegreeofficial commented on #8
hello can you help how to make this contract transferable?  I created a simple contract as practice.  Then when I try to send the token from creator wallet to another wallet it doesn't work.  It appears  the error like this ''cannot find the transfer events log checked sender  pls help.

[2018-02-16 18:21] #594 closed

[2018-02-16 19:01] ealmansi opened #751 "Automate docs generation using solidity-docgen."
## 🎉 Description

Documentation is currently generated manually by running the [solidity-docgen](https://github.com/spalladino/solidity-docgen) project. It would be great if we automated this process as part of the build step on every major and minor version update.

- [x] 📈 This is a feature request.

[2018-02-16 19:01] ealmansi commented on #751
cc @ajsantander

[2018-02-16 23:11] fulldecent commented on #745
If there is any question as to whether 841 is the canonical standard for ERC-721 then please see the new comment at the top of the ERC-721 issue at https://github.com/ethereum/eips/issues/721

[2018-02-16 23:12] fulldecent commented on #745
Pinging @facuspagnuolo @frangio to please review this request.

[2018-02-17 00:35] spalladino opened #752 "Implement crowdsales for NFTs"
## 🎉 Description

We currently have multiple Crowdsale _flavours_ set up, but all related to ERC20. Let's discuss setting up a variant of the Crowdsale contract that works with ERC721s, and see what should be required for it. We could start by assuming that all NFTs cost the same if necessary, or that they are claimed with an ERC20 (like LAND with MANA).

- [ ] 🐛 This is a bug report.
- [X] 📈 This

[2018-02-17 00:43] spalladino commented on #730
The main reason for keeping it would be consistency with the `transfer` method (you can consider mint as a transfer from address zero, which is reflected in the Transfer event emitted). My vote would be to keep the boolean, and check the return value in the crowdsale.

[2018-02-17 03:45] fiiiu commented on #730
Understood, pushed fix for this in the crowdsale refactor #744.

[2018-02-17 03:45] #730 closed

[2018-02-17 18:46] Dexaran commented on #729
@spalladino Yes, but this does not negate the fact that the above contracts are insecure, thus are not recommended to use.

I mean this contracts in [token](https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts/token) folder in case of OpenZeppelin.

[2018-02-17 23:17] klivin commented on #752
Here's a stab implementation for ERC-721 crowdsale.  It's based very heavily on the ERC-20 application, and can still be Refundable, Cappable, and Finalizable.

Hope it provides some good direction. I could add unit testing and mintable token ex if need be.
`
pragma solidity ^0.4.18;

import "zeppelin-solidity/contracts/math/SafeMath.sol";
import "zeppelin-solidity/contracts/ownership/Ownable.sol"

[2018-02-17 23:23] spalladino opened #754 "Evaluate adding standard interface detection to all contracts"
## 🎉 Description

EIP 165 (discussed [here](https://github.com/ethereum/EIPs/pull/881)) provides a standard way for contracts to query for implemented interfaces. Discuss whether we want to add support for this standard in OpenZeppelin contracts.

-  📈 This is a feature request.

[2018-02-18 05:00] klivin commented on #752
Added the Mintable token contract and some other nice things like unit testing the crowdsale in the following repo:

https://github.com/klivin/721Crowdsale

[2018-02-18 05:36] spalladino commented on #752
Cool, thanks @klivin

[2018-02-19 12:08] microdesign opened #757 "Sent transactions to Crowsale contract"
Hi can I ask a question about working code

I have the follow JS:

[code]

And this contract with Zeppelin:

[code]

-------------------------------
Sent sendTransaction is successful it become a transaction in my meta mask and in Ganache  but
weiRaised value is always zero.

What is the problem ? (edited)

[2018-02-19 14:55] ealmansi opened #758 "Make all comments meant for documentation Natspec compliant."
## 🎉 Description

Currently, not all comments documenting functions and contracts are NatSpec [1] compliant. Examples of this are:
- Use of `//` instead of `///` ([example](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L84))
- Use of multiple `@dev` tags within the same doc ([example](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/co

[2018-02-19 22:04] fiiiu opened #760 "Encapsulate public variables throughout"
## 🎉 Description

Right now, many variables are publicly accessible, which could raise issues in some inheritance patterns, for instance if some required checks are not properly enforced by derived contracts. It would be safer to encapsulate the variables and provide setters and getters for clients to use. This issue is meant to foster discussion on this topic, to eventually converge on a unified

[2018-02-20 05:03] spalladino opened #761 "Evaluate metadata standards at token and contract level"
There are proposals for standardising the information that can be attached to a non-fungible asset as metadata, in order to be consumed by a dapp and displayed appropriately to an end-user.

Evaluate such standards, and consider adding them to OpenZeppelin. Note that metadata could affect not just each token individually, but an entire token contract as well. For instance, a given ERC721 contract

[2018-02-20 15:35] carloschida opened #762 "ERC827Token's method `transfer` not properly overridden"
## 🎉 Description

Assuming that the intention of the method `transfer(address _to, uint256 _value, bytes _data) public returns (bool)` of the `ERC827Token` interface is to handle ultimately the transfer of a token, and therefore its approval as well, I override it in my implementation but the behaviour does not math the expected result.
My guess is that it has to do with the inheritance of the con

[2018-02-20 16:24] carloschida commented on #762
On the Slack channel, @vidorge commented that [L63](https://github.com/carloschida/oz-workspace/blob/master/src/js/app.js#L63) of `app.js` actually invokes [L31](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/BasicToken.sol#L31) of `BasicToken.sol`, ie `function transfer(address _to, uint256 _value) public returns (bool)`.

My confusion came from the fact that

[2018-02-20 16:57] carloschida commented on #762
My issue was solved, although I still need to understand `web3`'s tricky way of forcing the inclusion of an extra parameter.

I updated both branches of my repository accordingly:
- `master` [(here)](https://github.com/carloschida/oz-workspace/tree/master) stays as intended to reproduce the issue and/or future reference.
- `resolution` [(here)](https://github.com/carloschida/oz-workspace/tree/reso

[2018-02-20 21:01] Shrugs commented on #695
Correct. A private key has the ability to sign any message, and each network operates individually.

[2018-02-20 21:01] Shrugs commented on #695
closing since it sounds like we've solved this for the moment

[2018-02-20 21:01] #695 closed

[2018-02-20 21:05] #739 closed

[2018-02-20 21:23] Shrugs commented on #757
This is a better topic for the #beginners or #general channel in slack, but

I don't see anything incorrect here—is there additional code? and are you sure that the transaction succeeds? I'd recommend using the `truffle test` environment and writing a test to make sure that the transaction `await leonardianCrowdsale.send({ value: 1 ether }).should.eventually.be.fulfilled` succeeds correctly.

[2018-02-20 21:33] Shrugs commented on #707
I'd agree that this would be valuable—in the future I expect quite a few usecases will pop up where people would like to watch for events in order to update off-chain state. If it's not possible to recover the full state using the events, long-polling the contract becomes necessary, which isn't really ideal.

[2018-02-20 22:23] ryana opened #763 "Change ERC721Token `private` functions to `internal`"
## 🎉 Description

I think the functions inside of the ERC721Token class should not be `private` but rather `internal`.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

- v1.6.0
- Rinkeby
- Truffle

## 📝 Details

Hi! This weekend I used your ERC721 library to build something at ETHDenver. I had a novel use case for ERC721 tokens that required a small bit of nonst

[2018-02-20 22:44] #732 closed

[2018-02-21 01:45] carloschida commented on #763
As you write in 'Other Information' I don't agree with the change but find your use case useful.
I explain why I don't agree and propose later a workaround to your business case.

# Reasons to disagree

This comments are based on private research I undertook for a client for a related project.

## Contradiction of the NFT standard
I am of the idea that your proposal contradicts the common practice

[2018-02-21 02:19] ryana commented on #763
Thanks a lot for engaging on this @carloschida. I find these comments very helpful. I'm going to sleep on this and will respond again in the morning.

[2018-02-21 02:28] verdverm commented on #5
https://blog.zeppelin.solutions/proxy-libraries-in-solidity-79fbe4b970fd

[2018-02-21 13:59] marti-1 opened #764 "How does the versioning work?"
Do you follow the MAJOR.MINOR.PATCH semantic? Because if yes, then 1.7.0 breaks backwards compatibility.

[2018-02-21 15:02] maraoz commented on #5
Closing in favor of https://github.com/zeppelinos/labs/

[2018-02-21 15:02] #5 closed

[2018-02-21 16:18] maraoz opened #765 "Use espresso for testing"
See https://twitter.com/pfletcherhill/status/966009242091048961

[2018-02-21 16:31] mertcelebi commented on #765
@maraoz thanks for opening the issue, super excited to integrate espresso with OpenZeppelin! You can assign this to me. Paul and I can take care of it in the next few days.

[2018-02-21 18:06] ryana commented on #763
I understand your point of view with respect to the philosophy behind NFT and I really appreciate you taking the time to enlighten me. Some really great stuff in there I never considered. When I first read your comment last night, I got stuck on the "Negative value" asset example as a perfect example _allowing_ what I'm proposing. But then I realized that even if a loan defaults, the holder of tha

[2018-02-21 18:06] #763 closed

[2018-02-22 07:21] brennanerbz opened #766 "Difference between assertRevert, expectThrow and jumping?"

[2018-02-22 07:58] jacktang opened #767 "Deploy SampleCrowdsale.sol to ropsten testnet failed (1.7.0)"
## 🎉 Description

I upgrade zeppelin to 1.7.0 and the deployment failed (see msg below) while it worked well in 1.6.0. So I try to deploy the `SampleCrowdsale` contract in `example` dir and it re-produced.

- :ballot_box_with_check: 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin

[2018-02-22 08:00] jacktang commented on #767
I searched the related issue in truffle: https://github.com/trufflesuite/truffle/issues/476. The error msg is interpreted as **it will fail as Interface is not fully implemented and I'm trying to deploy myContract**

[2018-02-22 10:42] jacktang commented on #767
The issue should be invalid, my truffle version is too old

[2018-02-22 10:42] #767 closed

[2018-02-22 11:29] buhrmi commented on #709
bro could you please stop your quest trying to rename everything "deed"? there are already lots of deployed contracts talking to each other using "token"

[2018-02-22 15:58] fulldecent commented on #709
Okay.

We will have a vote/discussion something coming up to end this issue permanently.

https://github.com/ethereum/EIPs/pull/841#issuecomment-367723508

[2018-02-22 16:05] pkoch commented on #584
I was running into this because I didn't set a `from` address when testing a `MintableToken` (which is `Ownable`). Solved it by doing something like:
[code]

[2018-02-22 17:58] maraoz opened #769 "Create a simple MultiOwnable ownership contract"
## 🎉 Description

The recommended way to implement multi-user ownership of a contract is to simply use `Ownable`, passing a multisig contract (e.g https://github.com/gnosis/MultiSigWallet) as the `owner`. However, I think it would be educational to provide a `MultiOwnable` contract that simply receives the constructor parameters for a `MultiSigWallet`, instantiates that, and then passes it as the

[2018-02-22 18:12] buybackoff commented on #769
We are doing exactly that with the Gnosis contract here: https://github.com/dbrainio/Soltsice/blob/master/contracts/MultiOwnable.sol

Three are two access levels: onlyWallet for consensus and onlyOwner for any owner. The contract also implements pausable: any owner could call pause, but only majority could unpause. Imagine one owner is pawned, then you do not want to wait for majority and just pau

[2018-02-22 18:40] carloschida commented on #763
You're most welcome. I'm glad I could be of assistance.

On point 1.
Not so long ago I questioned that my self, because it doesn't always fit the patterns employed in other OOL, and found this discussion useful: [What is the purpose of underscores in front of parameters](https://ethereum.stackexchange.com/questions/1351/what-is-the-purpose-of-underscores-in-front-of-parameters).
Yet I'd stick to t

[2018-02-22 18:40] #762 closed

[2018-02-22 18:47] carloschida commented on #709
@fulldecent I disagree with you here. If the final implementation of ERC721, say we decide to refer to it at the end as 'deed', is ERC20-compliant, then it is by all means an ERC20Token.

This is not contradictory. Consider the base tutorials of an OOL where a `Dog` is an `Animal` as much as a `Cat` is due to inheritance.

[2018-02-23 00:31] Shrugs commented on #584
That's odd. When you deploy a contract, the `web3.eth.defaultAccount` is used by default, and truffle automatically sets that in your testing environment. And because `Ownable` uses `msg.sender` to register the first owner, it shouldn't be necessary to specify `owner` as long as it's the first account in the list (the one that will deploy the contract).

Does the deploy itself succeed if you remov

[2018-02-23 11:05] pkoch commented on #584
D'oh! You're absolutely right. Just tried with `await AChips.new()` instead, and it worked just fine! I must have had something else littering my setup.

Thanks for clarifying!

[2018-02-23 11:45] vidorge commented on #764
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/README.md#getting-started

[2018-02-23 12:00] Qqwy commented on #764
What is the reason for _not_ following Semver?

[2018-02-24 13:47] JLansey commented on #458
Has anyone looked at auctionhouse as a solution -  and shown that indeed gas-limit becomes a problem. I'm curious to learn more about auction types etc.
http://auctionhouse.dappbench.com/

[2018-02-24 14:54] jacktang opened #770 "Test cases failed"
## 🎉 Description

I clone the clean source code and install deps via `npm install` and run the tests using `npm run test` and it failed. (logs are posted below) How can I run the test cases smoothly?

## 💻 Environment

* node version: v8.4.0
* npm version: 5.6.0

## 📝 Detail logs

[code]

[2018-02-25 05:58] jacktang commented on #770
I also tried to run `test/crowdsale/Crowdsale.test.js` single test. The command `truffle test test/crowdsale/Crowdsale.test.js --network testrpc` and each account is filled 1000000000000000000000000eth as test.sh shows. Some cases failed again :(
[code]

[2018-02-25 13:26] microdesign commented on #757
Also, this is all code I have I only extend Zeppelin contracts

[2018-02-25 13:26] microdesign commented on #757
[code]

[2018-02-25 15:23] jacktang commented on #770
I found the failed reason. I change `development` port to the ganache server. And today I rollback truffle config, and run the test.js, still some errors
[code]
And it is very confuse to me that CappedCrowdsale sometime failed with error and sometime passed (running single testcase is ok)
[code]

I also tried to modify Line64 in test.js to `node_modules/.bin/truffle test "$@"  --network testrpc` b

[2018-02-26 07:05] k06a opened #771 "DelayedDeliveryToken"
## 🎉 Description

The idea of delayed tokens delivery.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

Not all tokens should be available for transfers immediately after the distribution (minting). For example, we will be able to deliver tokens in 180 days after minting.

## 🔢 Code To Reproduce Issue

Here is the first implementation. I think it can be improved by

[2018-02-26 07:18] k06a commented on #769
@buybackoff @maraoz look at one more universal Multiownable implementation: https://github.com/bitclave/Multiownable

Do you think it is a good idea to add it to the zepplein-solidity library?

[2018-02-26 07:26] buybackoff commented on #769
@k06a I've seen this but it looks like reinventing a wheel. Gnosis's MultiSig has convenient GUI, was audited/reviewed probably many times and trusted by many. It's de-facto the standard and even this repository recommends to use it instead of creating a new one.

[2018-02-27 00:59] skmgoldin opened #775 "assertRevert.js passes when no revert occurred"
## 🎉 Description

https://github.com/OpenZeppelin/zeppelin-solidity/blob/b3a86029286569ac5656381be2398d5e3af7e92b/test/helpers/assertRevert.js

In assertRevert, the desired behavior is to fail the test if the [provided promise](https://github.com/OpenZeppelin/zeppelin-solidity/blob/b3a86029286569ac5656381be2398d5e3af7e92b/test/helpers/assertRevert.js#L3) does not throw an error containing the subs

[2018-02-27 01:08] klivin commented on #752
Hi I added a first-stab PR, @spalladino #776

[2018-02-27 02:18] redsquirrel commented on #771
Why not override the behavior of `balanceOf` instead of `transfer` and `transferFrom`?

[2018-02-27 02:54] fulldecent commented on #709
Closing this issue as a result of

https://github.com/ethereum/EIPs/pull/841/commits/1eeddf7a575d5f9bfee55cce4f0b7088cb0719ad

https://github.com/ethereum/EIPs/pull/841#issuecomment-368729414

[2018-02-27 02:54] #709 closed

[2018-02-27 07:34] k06a commented on #771
@redsquirrel idea is nice, but in current implementation nor `transfer` nor `transferFrom` use `balanceOf` internally.

[2018-02-27 10:55] simondlr commented on #775
fwiw.

I'm getting different behaviour when assertRevert.js is used in truffle 4.0.6 vs doing it like the above.

In truffle (4.0.6 & sol 0.4.19), error.message is just:

```assert.fail()```

with the above, I get the same behaviour:

```This is not a real revert```

[2018-02-27 12:26] skmgoldin commented on #775
@simondlr what if you change the `assert.strictEqual` line to `    assert.strictEqual(revertFound, false, `Did not expect a revert, but the error message contained it as a substring: ${error.message}`);`

(Printing `error.message` instead of just `error`, since `error.message` is strictly what gets searched for the substring)

[2018-02-27 13:04] redsquirrel commented on #771
@k06a Good point! I somehow missed that.

[2018-02-27 19:20] spalladino commented on #752
Awesome, thanks! Will review during the upcoming days

[2018-02-28 03:44] afiorenza commented on #775
I'm having the same issue. Any update on this?

Thanks!

[2018-02-28 04:03] buhrmi opened #779 "Add optional Operators extension for ERC721"
## 🎉 Description

With ERC721 slowly being finalized, we found that "operators" are a desired feature. It's not going to be included in the standard, but it's a nice optional extension. I've added some crude code below that extends the ERC721Token contract with operators. Please let me know your thoughts.

- [ ] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 👍 Other Information

[c

[2018-02-28 20:06] tavakyan commented on #769
@buybackoff would you say in this context for integrating with zeppelin, considering a multi-ownable implementation like in Solistice, is the 'pausable' feature necessary? It's not immediately apparent to me why this feature is in multiownable.

[2018-02-28 20:27] buybackoff commented on #769
@tavakyan it is an example that some sensitive action requires majority approval, but another could work with only a single owner. We need this so I added the functionality inside the contract (in this case overriding OZ's Pausible is not simpler). But the core idea is two modifier `onlyWallet` and `onlyOwner`. I have reduced the wallet interface to a [single method](https://github.com/dbrainio/So

[2018-03-01 01:03] tavakyan commented on #769
I tried to structure it out by integrating your implementation @buybackoff .  Its one possible way and the multiowner contract is fairly simple.

See: https://github.com/tavakyan/zeppelin-solidity/tree/MultiOwnable-769/contracts/ownership

I separated the MultiPausable since they have a implementation of Pausable.

[2018-03-01 03:31] larron opened #781 "Crowdsale calculation of tokens are backwards (multiplying when should be dividing)"
## 🎉 Description

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L148-L150

And here

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/price/IncreasingPriceCrowdsale.sol#L47-L50

Example calculation:
Apple = $2 (rate)
I pay you $100 (wei)
I get 50 Apples

Apples = Pay / Rate
50 = 100 / 2

Also may suggest for users t

[2018-03-01 03:52] larron commented on #781
Closing this.  After reading the last commit and the comments, I see now that it should be the unit of the new token to 1 wei.  I am the one that's backwards.  Let this serve as a lesson to everyone.  Now I see where the overflows were coming from. :)

[2018-03-01 03:52] #781 closed

[2018-03-01 09:19] buybackoff commented on #769
@tavakyan this looks good. If I were to send a PR I would split in a similar way. What concerned me initially that when inheriting `Ownable` we store wallet as the owner field but then override `isOwner` modifier to mean something different. Probably we could come up with other naming. E.g. if a wallet with majority is actually an owner then we could leave the modifier `onlyOwner` to mean the same

[2018-03-01 13:52] jacktang opened #783 "Add tokensSold in Crowdsale.sol"
## 🎉 Description

The amount of tokens which had been sold is useful to build some bonus models.

- [ ] 🐛 This is a bug report.
- [ ✔️  ] 📈 This is a feature request.

[2018-03-01 14:36] spalladino opened #784 "Discuss adding delegate proxy implementation"
- 📈 This is a feature request.

[EIP897](https://github.com/ethereum/EIPs/pull/897), based on the work by @izqui and @maraoz, implements delegate proxies, which we will be using throughout zeppelin_os. Should we consider adding a default implementation here in OpenZeppelin as well, so anyone can roll out their own proxies?

[2018-03-01 14:55] izqui commented on #784
I completely support this motion. They are becoming such a core piece of the stack that zeppelin-solidity should definitely provide them

[2018-03-01 16:11] tavakyan commented on #769
@buybackoff seems like a sensible suggestion.  It is indeed a source of confusion and I think that would clarify things for clients. I don't mind finishing the tests and making the changes for a PR if other people think this is a useful design or can just leave it up to the core team / community to decide.

[2018-03-02 05:39] rolandkofler commented on #226
The litmus test: would you file a issue for solidity to deprecate uint?

[2018-03-02 06:12] mjdietzx opened #785 "📈 Make BurnableToken consistent w/ MintableToken (i.e. onlyOwner and burnFrom configurable)"
## 🎉 Description

`MintableToken` has been improved such that only the original 'owner' of the contract can [mint tokens](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/MintableToken.sol#L31), and the `address` that receives the minted tokens can be chosen.

I think it would be more standard/useful and improve consistency if `BurnableToken` had these features a

[2018-03-03 03:43] mjdietzx opened #787 "TaxedToken implementation that charges a fee for token transfers"
## 🎉 Description

An interesting erc20 token use-case that I keep seeing is a 'taxed' transfer (i.e. a small fee (for example 1%) is diverted to a `feeAccount` in `transfer`). I implemented this in a `TaxedToken.sol` contract w/ pretty thorough unit-tests. Would there be any interest in a PR w/ this functionality?

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 🔢 Code To Repr

[2018-03-03 05:49] nanmu42 commented on #787
Cool!

Perhaps it would be better to make the cost equals to fee added to value?

Michael Dietz <notifications@github.com> 於 2018年3月3日 週六 上午11:43 寫道：

[2018-03-03 06:00] jacktang commented on #770
IndividuallyCappedCrowdsale still can't pass the testing, see below
[code]

[2018-03-04 00:19] fiiiu commented on #770
Thanks @jacktang! We missed that file, fixed in #789.

[2018-03-04 07:53] eordano commented on #779
With the recent changes to 841, these are now disguised as `setApprovalForAll`. I'd suggest we close this issue.

[2018-03-04 09:33] buhrmi commented on #779
makes sense. Will work on a new implementation.

[2018-03-04 09:33] #779 closed

[2018-03-04 19:37] microdesign opened #790 "Token transfer fail"
I have your latest version of contracts and almost same example like yours in the Github https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/examples/SampleCrowdsale.sol -
I use Ganache for testing on MAC os.
And the contract work only when I comment the line

[code]

if this is not commented I got a runtime error and revert.

My simple code is as follow:

TOKEN
[code]

CONTRAC

[2018-03-05 02:26] leochan007 opened #791 "is there any example for crowdsale of non-mintabletoken?"
in the example, it use MintableToken.
but i wanna use a standardtoken.

[2018-03-05 17:56] shaharsol commented on #358
@spalladino your answer to @tomericco solved me a several days lasting frustration!

[2018-03-05 21:19] pplonski commented on #790
Hey!
 Check this:
[code]

[2018-03-05 21:30] microdesign commented on #790
Thanks for the help but the result is same

`Transaction: 0x409ca94905779864e2802108e04c0ecc4629e77113393a66e42aa9241e8b263d
[23:29:26]   Gas usage: 45072
[23:29:26]   Block Number: 16
[23:29:26]   Block Time: Mon Mar 05 2018 23:29:26 GMT+0200 (EET)
[23:29:26]   Runtime Error: revert`

[2018-03-06 01:29] Shrugs commented on #790
@microdesign your crowdsale does not own any tokens to `transfer`. The deploy account is the owner of the token, so you must mint your crowdsale some tokens using

[code]

[2018-03-06 01:29] Shrugs commented on #790
will reopen if that wasn't the issue

[2018-03-06 01:29] #790 closed

[2018-03-06 01:33] Shrugs commented on #791
Use an [AllowanceCrowdsale](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/emission/AllowanceCrowdsale.sol) and allow the crowdsale to transfer `_amount` of tokens. or use a normal [Crowdsale](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol) and `transfer()` some tokens to the crowdsale in your deploy script like

[

[2018-03-06 01:33] #791 closed

[2018-03-06 01:52] Shrugs commented on #785
I'm not sure a publicly callable burn function to allow the owner of the token to burn anyone's tokens is a good idea. The mintable implementation makes sense because you can call `stopMinting` and remove the ability for anyone to mint more tokens. But that's not possible with burning because you want to be able to burn your own tokens at any time. I can't think of any case where I'd want the owne

[2018-03-06 01:54] Shrugs commented on #785
Ah, I see how this would be used in a situation where only another contract can be the owner of a token. This could be useful, but is almost definitely not something that should be on `BurnableToken` and should instead be in a token derivative called `ControlledToken` or something, where a contract can mint and burn at-will, constrained by its own programming.

[2018-03-06 02:23] #770 closed

[2018-03-06 02:29] mjdietzx commented on #785
Ah, I see. Yeah I agree, this definitely doesn't belong in BurnableToken. Thanks, will close this issue and corresponding PR!

[2018-03-06 02:29] #785 closed

[2018-03-06 06:48] jacktang commented on #770
I tried to run the `script/test.sh` four times, and sometime the tests failed at
[code]
or failed at

[code]

[2018-03-06 09:54] pplonski commented on #790
I dont think this was the issue. I have tried to reproduce this. I've created simple example here: https://github.com/pplonski/test-token-open-zeppelin-crowdsale
the contracts:
[code]
[code]

the migration code:
[code]

[2018-03-06 11:03] pplonski commented on #790
I got help in Open Zeppelin slack! The problem was with crowdsale contract. I updated my github repo.
[code]

[2018-03-06 11:25] microdesign commented on #790
Thank you @pplonski I`ll try it now.

[2018-03-06 16:44] k06a opened #795 "Token upgrade proposal"
## 🎉 Description

Wanna introduce you the way of token smart contract upgrading without all holders migration by token owner and keeping all allowances.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

This technique supports any `Pausable` tokens. It requires to `pause()` old contract and to create a new one with passing the address of old contract into the constru

[2018-03-07 05:23] klivin opened #801 "Fast Enumerating ERC721s"
## 🎉 Description

There Is no way to enumerate through someone that may have thousands of ERC721s

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

In regards to [ERC721Token contract](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC721/ERC721Token.sol):

Want to add in subclass ERC721Token to allow more enumerable interface like show

[2018-03-07 12:25] spalladino commented on #801
Hey @klivin, for the next release of 721, we are working on both adding that method and changing the mappings to internal. So we hope to have both of those issues fixed. Keep an eye on https://github.com/OpenZeppelin/zeppelin-solidity/pull/682!

[2018-03-07 22:39] frangio opened #802 "Remove admin functionality from RBAC"
As discussed with @Shrugs we shouldn't be providing the admin functionality in `RBAC` by default (i.e. `adminAddRole`, etc.). It should be opt-in via a new subclass like `RBACWithAdmin` (the name is not clear yet).

[2018-03-08 05:07] bjornharvold opened #805 "Problems withdrawing tokens with PostDeliveryCrowdsale"
## 🎉 Description

I am creating a crowdsale that is a WhitelistedCrowdsale, PostDeliveryCrowdsale, CappedCrowdsale.

My tests all pass (See attached)
[TravelkoinCrowdsale.js.zip](https://github.com/OpenZeppelin/zeppelin-solidity/files/1791861/TravelkoinCrowdsale.js.zip)

However, when deploying this code and running the crowdsale, everything works except withdrawToken() method on PostDeliveryCrowd

[2018-03-09 15:05] fiiiu commented on #805
@bjornharvold, I'm checking your issue, is it possible that you are calling `withdrawTokens()` from an account with 0 balance (`0xbb13e514578afd3c0031c7a8bb54132981317675`)?.. Could you please check this?

[2018-03-09 15:49] bjornharvold commented on #805
Hi @fiiiu. I did some further investigation. It is not the PostDeliveryCrowdsale that's the issue. I removed it and I still get the same error without it. The account you mention there has 18 ETH. It must have something to do with actually transferring the tokens over to the beneficiary. Thoughts?

I am trying to simplify the token contract to see if I suddenly strike gold. Right now, my crowdsale

[2018-03-09 15:50] bjornharvold commented on #805
FYI. I do get a slightly different error locally vs when testing on Rinkeby. Here is my local error:

`Error: Error: Error: [ethjs-rpc] rpc error with payload {"id":3189152973203,"jsonrpc":"2.0","params":["0xf8928084ee6b280083030d40948f0483125fcb9aaaefa9209d8e9d7b9c8b9fb90f8803311fc80a570000a4ec8ac4d8000000000000000000000000f17f52151ebef6c7334fad080c5704d77216b7328222e1a0f976a09e97998ab1ecaa197b21

[2018-03-09 15:54] fiiiu commented on #805
I'm not sure about your last found error, but be aware that I'm not referring to the balance in ETH (retrieved with `balanceOf(address)`) but to the _token_ balance (retrieved with `balances(address)`). Be sure to transfer tokens to the address before you call the withdrawal method.

[2018-03-10 04:52] bjornharvold commented on #805
Hi @fiiiu. I looked at the transaction log and could see that the token balance I had assigned the owner account was way too low. Instead of being 85 million if was 0.000000000085.

I redeployed the crowd sale onto Rinkeby.
Token: 0xee272c3572b17b66461b6ab965494e41750e5b9d
Crowdsale: 0xb18d04699934f74882e5e77317feee32c6399e8d
Owner: 0xbb13e514578afd3c0031c7a8bb54132981317675. You can see that the

[2018-03-10 10:45] Qqwy commented on #764
Can someone please expand on this issue?

[2018-03-10 20:53] Aniket-Engg opened #807 "`emit` in contract events for compatibility with solidity v0.4.21"
## 🎉 Description

As recent release of solidity has been introduced 'emit' keyword to use with events to differentiate them from functions. This will be great if contracts of repository are updated so that they can be used with latest solidity compiler.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

This upgrade will help to run the contract with latest solc c

[2018-03-12 14:28] mudgen commented on #754
I would like support for it in the OpenZepplin contracts.

[2018-03-12 14:55] gakonst opened #809 "Update ERC721 to match spec"
Now that the ERC721 NFT Standard has been merged (https://github.com/ethereum/EIPs/pull/841) and is now a [draft](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md) standard, the ERC721 implementation at https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC721/ERC721Token.sol should be updated

[2018-03-12 15:09] spalladino commented on #809
See #803

[2018-03-12 17:26] Shrugs commented on #807
Seems like a reasonable task for an "update to 0.4.21" pull request, once 0.4.21 has been in the wild for a bit

[2018-03-12 17:28] Shrugs commented on #805
Sounds like the `rate` or `decimals` or similar might be off in your code. Unfortunately, I don't want to download your zip file — can you upload it to a github repository so we can take a look?

[2018-03-12 20:11] EnchanterIO commented on #593
is this the reason why timestamp is represented as uint256 in EVM? because it's native?

BTW it seems to me like an overkill for timestamp to be uint256. Do you know why EVM developers took such a decision?

[2018-03-12 21:32] Idiotcards commented on #807
The responsiveness to core updates reflects well on the community. Great work people.

[2018-03-12 22:35] mudgen opened #810 "How do I apply the MIT License to Open Zeppelin Code?"
The source code provided by Open Zeppelin is under the MIT License.  If I include code from Open Zeppelin in my contract where/how should I include the MIT copyright notice and the permission notice?

[2018-03-13 00:15] Shrugs commented on #593
uint256 is the native integer size, so any operations on integer sizes smaller require extra processing at runtime. it's not really a specific timestamp concern. and making it a uint256 simplifies the operations being performed on it

[2018-03-13 00:16] Shrugs commented on #810
Hi! the best resource I've found for learning about licenses is. TLDRLegal—here's the MIT license page! https://tldrlegal.com/license/mit-license

[2018-03-13 00:16] #810 closed

[2018-03-13 00:36] mudgen commented on #810
So I just need to include the license text in any MIT licensed code I use?

[2018-03-13 03:08] bjornharvold commented on #805
Hi @Shrugs

Thank you for your feedback. I moved the contract code out of our private repo to Github: https://github.com/bjornharvold/travelkoin-contracts.

I will take a detailed look at rate and decimals today as well.

Cheers

[2018-03-13 04:29] bjornharvold commented on #805
Just another stupid developer mistake. Please ignore me completely. I failed to transfer the funds from the token to the crowdsale so there was nothing to buy. #argh

[2018-03-13 04:29] #805 closed

[2018-03-13 16:45] Shrugs commented on #810
yes

[2018-03-13 19:01] PhABC opened #813 "Separating the 'validation' contracts logic from crowdsale contracts"
## 🎉 Description
Whitelists and other access/validation functionalities should be standalone contracts, independent of crowdsale contracts. The rationale is that other types of contracts (e.g. gouvernement, exchanges, +18y/o games) might want to implement some sort of access control logic gates. I would suggest rewriting some of contracts along these lines. For instance, [WhitelistedCrowdsale.sol]

[2018-03-14 14:28] djdeniro commented on #795
Awesome!

[2018-03-14 18:05] #745 closed

[2018-03-14 18:13] balasan opened #814 "Inflationary Token"
## 🎉 Description

I was thinking it would be nice to have some simple inflationary token contracts in the zeppelin repo. This an issue to go along with a PR #815 for a discrete inflation calculation. The the owner will be able to set a time interval to be used for calculating inflation and minting new tokens along with a rate for that time period. For example 1 hour & 0.001%. The owner will then b

[2018-03-14 18:17] spalladino commented on #745
Should be covered by #803

[2018-03-14 18:26] balasan commented on #814
#815

[2018-03-14 18:28] balasan commented on #814
#815

[2018-03-14 20:06] k06a opened #816 "Optimize ERC20 implementation"
## 🎉 Description

Some of ERC20 implementation methods contain multiple checks of the same issues

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

The problem is increased gas usage for no reason.

## 🔢 Code To Reproduce Issue

For example:
[code]

Why do we need second `require` if we already have `SafeMath.sub`. Do we really need to handle `uint256` overflow with

[2018-03-14 20:14] k06a commented on #816
Or better to keep `requires` and avoid `SafeMath` to save gas.

[2018-03-15 16:55] balasan opened #819 "Bonding Curve aka Automatic Market Maker Contract"
## 🎉 Description

I'm working on a PR to add a simple bonding curve contract (aka automatic market maker) based on Bancor formula. Here is the reference contract: https://github.com/relevant-community/contracts/blob/master/contracts/BondingCurve.sol

I have a few questions about structure and dependencies:
- [x] Folder structure —where should this contract go? ```/token```? a separate ```/bondingc

[2018-03-15 17:20] Shrugs commented on #819
- looks like we've been putting random stuff like that at the top level (see Bounty, DayLimit, ECRecovery). so I'm cool with putting it there until we have a reason to give it its own folder
- wew that's a lot of extra stuff. My opinion is to link it out and simply have the tested/audited stuff in OZ, but that's not a strong opinion. it also means we'd have to train maintainers on how to maintain

[2018-03-15 17:57] balasan commented on #819
thanks @Shrugs!
One advantage of a separate folder is to keep BondingCurve.sol and BancorFormula.sol close together

One more note:
I could move the exponentiation ```power``` function from the BancorFormula into a separate contract in the math folder. This will make BancorFormula contract very simple (could even merge it into a single BondingCurve.sol) and all the complex python constants will li

[2018-03-15 19:35] Shrugs commented on #819
I hadn't actually looked at those files, so now that makes a lot of sense. I like the `Power.sol` + `BondingCurve.sol` approach. Only downside is that now it's not 1:1 with the existing bancor stuff. If we want to keep it as `BancorFormula` and `BondingCurve`, I'd support another folder called something like `curation-markets` or similar, where we can put generic TCRs as well.

[2018-03-15 21:34] decanus opened #820 "Add ERC900 staking contract"
## 🎉 Description

Add an ERC900 compliant contract, this could be beneficial to various projects, including TCRs. I had already discussed previously with @izqui that it may be a good idea to have a compliant contract in the Zeppelin code base.

- [x] 📈 This is a feature request.

## 👍 Other Information
- https://github.com/ethereum/EIPs/pull/910
- https://github.com/ethereum/EIPs/issues/900
- http

[2018-03-15 21:36] izqui commented on #820
Stack or stake?
![](http://s.quickmeme.com/img/e7/e758e10c1b485eb058314a59e937cf57b2b64519d3aac745df6e92c6857b7f5c.jpg)

[2018-03-15 21:39] decanus commented on #820
Should've let Carlos matos proof read.

[2018-03-15 22:30] balasan commented on #819
Cool, yeah I like that too. Especially since ```BancorFormula.sol``` it won't be 1:1 anyway if we want to use Zeppelin's math library instead Bancor's ```Utils.sol```.

Will get started with this approach unless anyone else objects.

[2018-03-15 22:44] balasan commented on #819
RE: license, I'm looking at this: https://softwareengineering.stackexchange.com/questions/297217/using-code-under-apache-2-0-license-in-my-program-using-mit-license

Seems like the best thing to do is keep stuff from Bancor separate from the Zeppelin stuff. Seems like the best way to do it would be separate ```Power.sol```, ```BancorFunction.sol``` files with a license note at the top and separate

[2018-03-16 02:49] chenyulzhh commented on #409
想知道有多少人碰到这个问题是因为从网上抄过时的代码导致的，正如@hahaelx 所说的那样新版本zeppelin-solidity里 token目录下面新增了一层目录 ERC20

Sorry for my poor english，translated with Baidu:

I want to know how many people encounter this problem because of the outdated code from the Internet. As @hahaelx said, as a result of the new version of zeppelin-solidity, there is a new directory ERC20 under the token directory.

[2018-03-16 22:07] Khokavim commented on #612
Somebody help me, I have been compiling OZ ..getting this **compilation warning**

zeppelin-solidity/contracts/crowdsale/Crowdsale.sol:102:3: Warning: Function state mutability can be restricted to pure
  function _preValidatePurchase(address _beneficiary, uint256 _weiAmount) internal {
  ^
Spanning multiple lines.
,zeppelin-solidity/contracts/crowdsale/Crowdsale.sol:112:3: Warning: Function state

[2018-03-16 23:37] Shrugs commented on #612
@Khokavim that is ok and expected — those are solidity compilation warnings and are required because even though it's correct (that visibility can be restricted, etc) we have to leave it open because the contracts that override these functions need to have those visibilities/state-access modifiers set correctly.

[2018-03-16 23:37] Shrugs commented on #612
Also, the OpenZeppelin slack channel or stack overflow is the correct forum for these questions 😄

[2018-03-16 23:46] Shrugs commented on #819
I can't really comment on the validity of any licensing approaches, but I like the idea of putting Power and Bancor stuff into apache compliance with a header and keeping BondingCurve under the Zeppelin license (MIT).

Can you update the post at the top to describe the changes we've figured out (namely folder structure, which files are added, licensing)

[2018-03-17 07:47] hiyouke commented on #409
@chenyulzhh 你是个天才！这个totalSupply_后面加个下划线，目的是？

[2018-03-17 19:02] aleybovich commented on #807
@Shrugs do you have an ETA for this to be released? Thank you

[2018-03-17 22:26] paulgerlich-cta opened #824 "Distributing contracts on EthPM"
Last version release was v1.3.0 to ETH PM. Is there a better package manager I should know about?

[2018-03-19 15:44] jacktang commented on #703
@frangio any progress on this issue?

[2018-03-19 16:24] jacktang commented on #539
@maraoz how can I call `Crowdsale`'s fallback(the payable method without name) function in another contract, say `Presale.sol`. Thanks

[2018-03-20 09:13] medvedev1088 commented on #301
As I understood from the rationale, the reason not to make it trustless is because making changes to the code can potentially make it less secure.

[2018-03-20 14:18] k06a opened #826 "TypeError: Member "verifyProof" not found or not visible after argument-dependent lookup in library MerkleProof"
## 🎉 Description

Problem with using MerkleProof with latest `solc`:
[code]

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

- OpenZeppelin 1.7.0
- solc 0.4.21

## 📝 Details

[code]

[2018-03-20 15:43] pjworrall commented on #790
Is the explanation here that passing in the token contract from the truffle migration js doesn't work? Because the contracts/examples/SimpleCrowdsale.js example led me to a pattern where the Token contract was create and deployed by truffle in the migration js and an argument was defined in the SimpleCrowdsale constructor to receive its Address at deployment time with the other arguments like rate

[2018-03-20 15:52] k06a commented on #826
Tried different way:
[code]
Got:
[code]

[2018-03-20 16:24] k06a commented on #826
Solved by linking library instance to smart contract class:
[code]

[2018-03-20 16:52] #826 closed

[2018-03-20 19:12] balasan commented on #819
PR is in!
In case the ```Power.sol``` function is too much of a maintenance/trust risk for OpenZeppelin, I extracted the bonding curve code to a separate repo: https://github.com/relevant-community/bonding-curve

Also note: there is a TODO to add a ```minReturn``` parameter to the ```buy``` and ```sell``` functions — this is to prevent front-running by miners. This may be another reason to hold of

[2018-03-20 20:53] k06a opened #828 "MerkleIndividuallyCappedCrowdsale"
## 🎉 Description

Add [MerkleIndividuallyCappedCrowdsale](https://github.com/bitclave/MerkleIndividuallyCappedCrowdsale). It allows configuring any number of individuals caps by writing single `bytes32` to crowdsale smart contract. But investors should provide additional arguments. The idea was borrowed from this article: https://blog.ricmoo.com/merkle-air-drops-e6406945584d

- [ ] 🐛 This is a bug

[2018-03-21 08:23] DanielRX opened #830 "Add utility for data packing and bitshift/masking"
## 🎉 Description

To help developers save money (and become more aware of storage costs) we should add and support (safe) bitshifts and utilities to store multiple types of data < 32bytes into one data slot

- [ ] 🐛 This is a bug report.
- [x ] 📈 This is a feature request.

## 📝 Details

Adding
`SafeShiftLeft`
`SafeShiftRight`
`PackData()` (overloaded with various options)
`UnpackData()`

Among ot

[2018-03-21 08:26] DanielRX commented on #830
I will be happy to supply a fair chunk of the code for this, but the safety checks I would need a few people to check over to make sure

[2018-03-21 21:21] #816 closed

[2018-03-22 04:20] Shrugs commented on #301
just throwing it out there: various audit reports I've seen include this complaint as well. I still support keeping this as-is, but it's something to note.

[2018-03-22 04:32] Shrugs commented on #539
@jacktang http://solidity.readthedocs.io/en/v0.4.21/units-and-global-variables.html?highlight=message%20call#address-related

[2018-03-22 08:15] k06a commented on #748
Looks like already implemented?
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/ownership/CanReclaimToken.sol

[2018-03-22 08:56] adamdossa commented on #301
Yep - I've also been asked to modify this contract to a "trustless" version by a few clients. On the presentation linked above, I didn't find the motivation very convincing - it would be straightforward to make the finalize function only callable once if needed. Having said that, in any crowdsale you have to trust the intentions of the issuer largely anyway (otherwise the tokens would be worthless

[2018-03-23 00:54] Shrugs commented on #748
CanReclaimToken only allows the owner of a contract to reclaim tokens (and perhaps manually distribute to someone that accidentally sent them there).

I feel like I've seen this functionality around before, although I'm not sure where.

The primary issue is that it's hard for a contract to know that a user has sent funds to it with ERC20. Even if it did know, it'd difficult to know how many tokens

[2018-03-23 15:54] eordano opened #833 "Add an atomic swap contract for cross-evm-erc20-chains sending of Tokens"
## 🎉 Description

- [ ] 🐛 This is a bug report.
- [X] 📈 This is a feature request.

## 📝 Details

A number of projects are planning to build on their own evm compatible chain. I think we should add an exchange contract that allows secure transaction of tokens from one chain to the other.

This would work in 5 steps:

0. Alice (who has tokens on chain 1) picks a secret value and transmits the hash

[2018-03-23 18:12] #640 closed

[2018-03-23 18:12] #809 closed

[2018-03-23 20:52] frangio commented on #833
Great idea.

Can you expand one the reason for the `locked` bit?

[2018-03-23 20:54] facuspagnuolo commented on #549
done!

[2018-03-23 20:54] #549 closed

[2018-03-23 20:56] frangio commented on #824
We haven't been able to publsih to EthPM for a while because of this same weird error: https://github.com/trufflesuite/truffle/issues/699.

[2018-03-23 21:07] frangio commented on #703
No one has been developing this yet AFAIK.

[2018-03-23 22:14] eordano commented on #833
That’s just a quick fix for an attack that can happen because of the way I was coding it.

I can “burn” the tokens for someone if I send twice a request. There are far better ways to solve this.

[2018-03-24 15:33] eordano opened #837 "Protect master branch from unsigned commits"
## 🎉 Description

Given how important this library is becoming for the ecosystem, all commits should be signed using GPG

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 👍 Other Information

https://help.github.com/articles/enabling-required-commit-signing/

[2018-03-24 17:40] subbu-nuco commented on #704
Is anybody working on this ? I would like to work on if nobody is else working on this ?

[2018-03-24 18:03] subramanianv commented on #704
Is anybody working on this ? If not, I would like to send a PR for this feature

[2018-03-25 22:03] lakamsani commented on #584
I 'm getting this error when trying a `StandardToken.transferFrom`. To set some context I have this OZ based [CrowdSale example](https://hashnode.com/post/the-2018-guide-to-writing-and-testing-real-world-crowdsale-contracts-cjcs8dfes00apmdwthw03c2jq) and unit tests all running on my laptop.  I 'm trying to add a new test for transferring tokens like this.
[code]
But it fails like this:
[code]

Tri

[2018-03-26 04:26] Shrugs commented on #584
**I'm locking this issue**

It has very high SEO visibility for a very generic error message. This issue will never be the correct place to raise questions like this, as they will always need to be handled on a case-by-case basis. The correct forum for this error is probably stack overflow #ethereum or the OpenZeppelin slack (slack.openzeppelin.org) if using OpenZeppelin.

If you've found this pag

[2018-03-26 09:14] chenyulzhh commented on #409
@hiyouke 因为BasicToken类里面，定义的是 totalSupply_ ，估计是为了和 totalSupply() 这个public的方法区分开吧。。

[2018-03-26 13:17] spalladino commented on #704
Not that I know of, feel free to give it a shot!

[2018-03-26 13:35] spalladino opened #839 "Internal `ownedTokensIndex` not properly cleared when removing a token from its owner in ERC721"
## 🎉 Description

See [this comment](https://github.com/OpenZeppelin/zeppelin-solidity/pull/803#issuecomment-376166459) for more info. In the scenario that a token is removed from its owner, if that token was in the last index of the owner's array, the `ownedTokensIndex` keeps a reference to the token that should be deleted.

This does not cause any issues in the external interface of the contract

[2018-03-26 15:42] fulldecent opened #840 "ERC-721 tokens / note about ERC-165"
Please add a note to the ERC-721 implementation that it is incomplete and should not yet be used.

At present, the OpenZeppelin implementation does not support ERC-165, which is required by the ERC standard.

[2018-03-26 15:44] fulldecent opened #841 "Create bounty program"
Please create a bug bounty program.

I understand that OZ is a revenue-generating entity. Share the love.

[2018-03-26 16:47] LeeDark opened #842 "ERC721 full impl can't migrate with Truffle"
I have used:
Truffle v4.1.3 (core: 4.1.3)
Solidity v0.4.19 (solc-js)

My Token works well with zeppelin-solidity 1.7.0, but when I change it on code from 1.8.0 I have this error:

[code]

BTW 'truffle compile' works well.

Should I update Solidity compiler or Truffle?

[2018-03-26 17:10] LeeDark commented on #842
Also I have this message into Ganache GUI:

[code]

[2018-03-26 17:17] LeeDark commented on #842
When I added MyToken constructor:

[code]
I have another error:

[code]

and new message into Ganache GUI:

[code]

[2018-03-27 10:39] Hkk009 opened #847 "Its not a issue but a query with fallback function"
function () external payable {
    buyTokens(msg.sender);
  }

This is the code taken from the following.

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L63

Ethereum says fallback have low gas of 2200 and can be used for mainly events logging.Then why the above code doesn't have chance to go "out of gas error" becuase for transfer there is a minim

[2018-03-27 13:34] redsquirrel commented on #847
The 2300 gas limit for the fallback function only applies when it is called via `transfer` or `send`. If you send ether to the contract in any other way, the fallback function can have more than 2300 gas. More info at http://solidity.readthedocs.io/en/v0.4.21/contracts.html#fallback-function

[2018-03-27 17:57] Hkk009 commented on #847
Thanks for the reply.

Here are some lines from the link you provided above.
In the worst case, the fallback function can only rely on 2300 gas being available (for example when send or transfer is used), leaving not much room to perform other operations except basic logging.

So as it says worst case can get max 2300 means in other words best case will be lesser than that. Also send and transfer

[2018-03-27 18:41] facuspagnuolo commented on #842
Closing then

[2018-03-27 18:41] #842 closed

[2018-03-27 19:06] redsquirrel commented on #847
Worst case: 2300 gas for fallback function. Best case: more than 2300 gas for fallback function. But don't take my word for it. Just try it:

* Open https://remix.ethereum.org
* Paste this contract in there: https://gist.github.com/redsquirrel/6f4b7a2efbeebe6f2df78aad1cb1853e
* Click the Run tab, Choose JavaScript VM for Environment, click Create to deploy the contract
* Click (fallback)
* In the

[2018-03-27 20:49] demibrener opened #849 "Include support for TPL-compatible tokens"
## 🎉 Description

Regulation has become a big pain point for projects in the blockchain space. TPL is a protocol that aims to achieve regulatory compliance for cryptoassets in a decentralized way, a la DNS root zones or SSL certificate authorities. It would be great to have compliant, TPL-compatible token smart contracts in OpenZeppelin, the most popular smart contract library in the space today.

[2018-03-28 12:06] redsquirrel commented on #847
My pleasure. I only learned this because I got confused by the same issue last year.

[2018-03-28 19:53] subramanianv opened #852 "Make the crowdsale Destructible by default"
## 🎉 Description

Often, mistakes are made in the parameters to the crowdsale. To prevent further damage,  we should make the crowdsale example or the base crowdsale destructible or token destructible by default.
- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

[2018-03-29 09:50] barakman opened #853 "Restrict permission to internal owner (contract) instead of external owner (deployer)"
## 🎉 Description

I have several places in the code, where calling an external function should be permitted only to some other contract. Typically, that contract holds (or has a reference to) the contract which implements the external function. Of course, if a reference (`address` or `interface`) is used, then there can be several contracts holding the contract which implements the external functi

[2018-03-29 14:40] barakman opened #854 "SafeMath.test.js Bug"
## 🎉 Description

Overflow tests are using integers which are way above Javascript's MAX_SAFE_INTEGER.

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Any platform.

## 📝 Details

In the overflow tests for SafeMath.sol, you are using integers which are way above Javascript's MAX_SAFE_INTEGER. Whether or not these tests work, I think is by mere coincidence (kind

[2018-03-29 17:51] PhABC commented on #852
Could you provide more rationale as to why they should be made destructible?

Unless you share the address and publish the code, it's unlikely people will send funds anyway. In addition, people can still send funds even once a contract is destructed, which would make things worst in this scenario considering the funds would be lost forever.

[2018-03-30 13:35] jacktang commented on #852
I agreed with @PhABC. Destructible op is very risky and I think it should be removed

[2018-03-30 13:46] jacktang commented on #852
BTW, does anyone explain why `Destructible` constructor is `payable`?
[code]

[2018-03-31 04:49] sheraz104 opened #857 "Crowdsale.sol contract has a bug in setting rate"
The **Wei** received in transaction to fallback function are **multiplied** to rate and there is a check for rate in constructor  (see second screenshot) for it to be **greater than 0**. Currently, if we want to set rate for a single token to 10000 **Wei**, we would have to pass rate's value in the format of 0.000000000000001 and the transaction will **fail** and will only pass if we set the rate

[2018-03-31 05:56] jacktang commented on #857
@sheraz104 check the `rate` comment in `Crowdsale.sol`, it said `How many token units a buyer gets per wei`. `1 token for 2 Wei` means the `price`.

[2018-03-31 09:47] Hashedhash commented on #857
@jacktang If token supply is more or equal 1e18 the current implementation works. What if there are only 100 tokens in the contract?

[2018-03-31 11:08] sheraz104 commented on #857
@jacktang exactly. Even when the tokens are 1e18, which is a huge amount, if I'm not wrong the crowdsale can be bought for 1 ether.

[2018-03-31 22:46] wildaces215 commented on #807
I'll take a swing at it

[2018-04-01 06:57] jamesmorgan commented on #840
I have added ERC165 to a project I am working with which uses the latest open zeppelin ERC721, this is what I ended up with:

[code]

Not entirely sure if this should cover it?

[2018-04-01 10:46] DanielRX commented on #840
@jamesmorgan would it not make more sense to have the derivation in comments and the final value as a constant static string?

[2018-04-01 13:26] jamesmorgan commented on #840
@DanielRX yes this makes sense, I was more demonstrating my first pass at a solution. Not entirely sure of the cost saving but it's probably worth doing.

This is what it looks like using statics:

[code]

[2018-04-01 14:09] shyheim103 commented on #857
@sheraz104 agreed. I've been trying to figure out why it was written this way for the past week. Glad someone else has noticed this.

[2018-04-01 14:14] shyheim103 opened #858 "Warnings for this.balance in contracts since 0.4.21"
## 🎉 Description

`wallet.transfer(this.balance);` throws a warning: "Using contract member "balance" inherited from the address type is deprecated. Convert the contract to "address" type to access the member."

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

[2018-04-02 00:06] elie222 opened #859 "TokenVesting/Timelock with multiple beneficiaries"
TokenVesting and TokenTimelock allow for a single beneficiary each. It would be nice to have a single contract that could be used to vest multiple accounts.

Is there a reason this wasn't done in the already built Zeppelin contracts?
Are there any example crowdsales that offer this functionality that may be worth reading?

One way to use the current TokenVesting contract is to create a new contrac

[2018-04-02 00:21] elie222 commented on #859
I see one example from Aragon that seems to be the kind of thing I'm looking for:
https://github.com/aragon/aragon-network-token/blob/master/contracts/MiniMeIrrevocableVestedToken.sol

[2018-04-02 07:33] jamesmorgan commented on #840
@fulldecent updated comment above to reflect this 👍

[2018-04-02 14:46] wildaces215 commented on #807
Is this open?

[2018-04-03 07:45] Qqwy commented on #764
Dear maintainers of OpenZeppelin; we are still waiting for an answer. Please respond at your earliest convenience.

[2018-04-03 09:54] microdesign opened #861 "Your example"
I using this example for my contract

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/examples/SampleCrowdsale.sol

I`m wrong or this way written the mint function revert because is not executed by the owner.

Upon a purchase I got revert error - when I delete onlyOwner on mint function of the token - everything is correct.

I use your latest code from GitHub

[2018-04-03 10:59] Shrugs commented on #861
The crowdsale must be the owner of the mintable token if using a mintable token and mintable crowdsale. See the tests for an example: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/crowdsale/MintedCrowdsale.test.js#L22

[2018-04-03 10:59] #861 closed

[2018-04-03 11:01] Shrugs commented on #764
the reasoning is basically: we want to feel free to make breaking changes often. We should be in 0.x.y but it's too late for that.

we updated the installation instructions to save the exact version instead of the semver expression, so it shouldn't cause unintended upgrades

moving to semver is planned in the future, but I'm not sure what that timeline is

[2018-04-03 11:01] #764 closed

[2018-04-03 11:09] Shrugs commented on #859
Not sure why the decision was made, but it was probably due to "least concerns".

I expect you could compose the TokenVesting contract with a SplitPayment style contract to accomplish the same goal. The only difference is that the SplitPayment contract would have to "pull" the ether/tokens from the vesting contract before allowing beneficiaries to withdraw.

Any ideas on how that could be structur

[2018-04-03 11:12] Shrugs commented on #858
The solution to this is probably to change line https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/distribution/utils/RefundVault.sol#L47 to

[code]

Because `.balance` is a property of the address type, not the Contract type.

[2018-04-03 11:12] Shrugs commented on #858
@shyheim103 which compiler version are you using?

[2018-04-03 11:35] Shrugs commented on #857
note that there's a difference between `1 TKN` and `1 TKNbit` where what people usually call "one token" is actually `1 * 1e18 TKNbits`. This is the same relationship that ether and wei have. And what you're always doing calculations in is `TKNbits`.

So if you want to issue someone "one token for every 2 wei" and your decimals are `18`, your rate is actually something like `0.5e17`. Then, when I

[2018-04-03 11:35] #857 closed

[2018-04-03 11:41] Shrugs opened #862 "Create DestructibleCrowdsale that removes itself after finalization."
##  Description

It'd be cool to have a crowdsale remove itself from the blockchain after it's been finalized. There's no _real_ benefit to this, except for the nice feeling you get by making the Ethereum blockchain lighter.

- [x] 📈 This is a feature request.

---

from https://github.com/OpenZeppelin/zeppelin-solidity/issues/852

[2018-04-03 11:44] Shrugs commented on #852
A more appropriate change would be to add a `DestructibleCrowdsale` that, perhaps, inherits from `FinalizableCrowdsale` in order to destroy itself after it's been completed.

Making a crowdsale destructible by default isn't a reasonable decision, but I've created a separate issue to track the `DestructibleCrowdsale` addition: https://github.com/OpenZeppelin/zeppelin-solidity/issues/862

@jacktang

[2018-04-03 11:44] #852 closed

[2018-04-03 11:50] microdesign commented on #861
So you mean after I deploy my contract I must run a transaction to actually own my own token ?

Also, how I`ll go to do this in a real network?

[2018-04-03 12:01] Shrugs commented on #861
After you deploy your token contract, the deployer is the `owner`. Only the owner is allowed to mint tokens, so to use a `MintableCrowdsale`, the crowdsale must be the owner. You can change the owner of the token by doing `token.transferOwnership(crowdsaleAddress)`.

If you are using truffle to deploy, you can make this transaction part of your deploy script

[2018-04-03 12:04] microdesign commented on #861
Is there any different to go with your way or create the token contract directly in my crowdsale contract?

[2018-04-03 12:35] PhABC commented on #862
I wrote a tangentially related contract which I think more destructible contracts should have, where a delay is introduced between the destruction request and the destruction event. See [DelayedDestructible.sol](https://gist.github.com/PhABC/79ff357dec99fef8bc32a33db469c4af) for the implementation. The `destroyRequest` function could easily be overwritten or modified to include a `require(!finaliz

[2018-04-03 12:52] Shrugs commented on #861
The old version of OpenZeppelin's crowdsale created the token as part of the crowdsale, but there were a few issues with it, mainly inflexibility and the increased deployment size.

You can create a `Factory` contract that
- deploys the token with your arguments
- deploys the crowdsale with your arguments
- transfers the ownership of the token to the crowdsale

all in one transaction if you'd like

[2018-04-03 12:55] Shrugs commented on #862
I like the delayed destructible! That would be a good utility addition to OZ, and then we could use it here as well. I think the `SELFDESTRUCTION_DELAY` should be a constructor arg, though.

[2018-04-03 13:00] Shrugs commented on #853
You can see a similar version of this pattern in [RBAC.sol](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/ownership/rbac/RBAC.sol) and RBACWithAdmin.sol, which allows for a variety of roles and restrictions. (it's pending a slight update in https://github.com/OpenZeppelin/zeppelin-solidity/pull/836)

[2018-04-03 13:01] microdesign commented on #861
OK thanks for your help my problem is resolved

[2018-04-03 13:26] Shrugs commented on #841
Just to double check, you mean a bug bounty for finding bugs caused by OpenZeppelin contracts, not a bug-bounty smart contract itself?

I think that'd be a great idea. FWIW, OpenZeppelin itself is not a revenue-generating entity.  It'd be neat if we could partner with projects like gitcoin, ethprize, status open bounties, and similar to have the community provide the funds to cover a bug bounty.

[2018-04-03 13:27] PhABC commented on #862
Will make a separate PR later today, but yes I agree the delay should be a constructor arg. So long as it can't be changed, I think it's fine. The main rationale is for people to have time to adjust before the destruction of the contrat occurs.

[2018-04-03 14:04] frangio commented on #854
Related to #204.

[2018-04-03 15:26] fulldecent commented on #841
I mean that if I find a bug inside code that is published at OpenZeppelin/zeppelin-solidity then I would like to request payment.

OpenZeppelin does generate revenue. The business model was not clear to me before. But now I understand that companies can approach OZ and pay money for audits.

It is not necessary to find funding from outside sources, OZ can provide the funding from its own operating

[2018-04-03 15:37] Shrugs commented on #841
Ah, you're thinking of [Zeppelin](https://zeppelin.solutions), which provides audits and consulting; OpenZeppelin (OZ) is a separate, community-driven collection of smart contracts. Of course, many of the community members are employees of Zeppelin, but certainly not all of them.

Because OZ is a community project, having the community that relies on its features support the bug bounty makes a lot

[2018-04-03 16:36] Shrugs commented on #833
I like having a canonical implementation for this. Is there a complementary EIP standard? Not sure if there needs to be one, but regardless it'd be good for them all to have the same interface.

Which group/individual is working very directly on cross-EVM-chain swaps? It'd be good to get their opinion/involvement.

[2018-04-03 17:54] fulldecent commented on #841
So the audits that have been performed by OpenZeppelin and are listed here were done without fee?

https://github.com/OpenZeppelin/zeppelin-solidity#collaborating-organizations-and-audits-by-openzeppelin

[2018-04-03 18:02] spalladino opened #864 "Update API documentation to v1.8.0"
## 🎉 Description

[API docs](https://openzeppelin.org/api/docs/open-zeppelin.html) latest version is 1.7.0. Update to 1.8.0.

-  📈 This is a feature request.