[2019-01-18 18:57] #1593 closed

[2019-01-18 19:00] k06a commented on #1593
@nventuro special thanks!

[2019-01-18 19:12] frangio opened #1614 "Make ERC165.supportsInterface public"
**🧐 Motivation**
The function has been `external` since it was included for seemingly no reason. I found the need for it in openzeppelin-eth, where it was in fact [already made public](https://github.com/OpenZeppelin/openzeppelin-eth/blob/b047d28476e274bca2a6091c280a7f55afe74e10/contracts/introspection/ERC165.sol#L39-L42).

[2019-01-18 22:40] mrice32 opened #1615 "Release 2.1.1 tag doesn't have signed SafeMath"
Not really a bug, but the 2.1 release (2.1.1 github tag) says that it adds support for signed SafeMath, but that feature seems to only be present in the release candidates and absent in the release. If I'm misunderstanding something, feel free to close this bug.

**💻 Environment**

N/A

**📝 Details**

N/A

**🔢 Code to reproduce bug**

N/A

[2019-01-18 22:46] mrice32 commented on #1615
Nevermind, just noticed it was moved to drafts between the RC and normal release.

[2019-01-18 22:46] #1615 closed

[2019-01-21 10:18] leonprou commented on #1612
@nventuro great, thanks for the quick response.

I guess it will take some time this will be released. So for now I copied the `TokenMetadata` contract and make the change myself. You can see it [here](https://github.com/ColuLocalNetwork/fuse-contracts/blob/master/contracts/TokenMetadata.sol).

Also I can make a PR to the repo if it helps.

[2019-01-21 20:51] #1563 closed

[2019-01-22 21:46] frangio commented on #579
Probably yes. I think it would be more performant (read: faster CI) because I think the node is in-process.

[2019-01-23 02:04] takahser opened #1619 "Can't deploy ERC721 Token contract"
I'm trying to deploy a ERC721 token contract, but it fails with an error:

[code]

**💻 Environment**

- **npm packages**

[code]

- Truffle v5.0.2 (core: 5.0.2)
- Node v10.10.0

**📝 Details**

- I followed [this tutorial](https://maksimivanov.com/posts/gradient-coin-tutorial/)
- This is my contract

[code]

- In my mocha spec I trigger the deployment

[code]
- I execute the specs using `truffle te

[2019-01-23 13:48] nventuro commented on #1619
Hello @takahser! The issue is that you're using truffle 5 (and therefore Solidity v0.5.0 by default), but the version of OpenZeppelin that you're using is _very_ old (over a year!). Uninstall `zeppelin-solidity` (the old name of the library) and do a fresh install of `openzeppelin-solidity`: you need to use at least v2.1.1 to have v0.5.0 support.

[2019-01-23 13:48] #1619 closed

[2019-01-23 13:49] nventuro commented on #1619
(keep in mind that some stuff changed between your version and the current one, for example, `ERC721Token` is now simply called `ERC721`)

[2019-01-23 15:40] nklipa13 opened #1621 "Keep master branch up to date with NPM package"
It happened for me few times that I'm looking into code on Github and its not same to what I see in NPM package and I understand that you are using master branch for developing but maybe it would be good to switch to `dev` branch for developing and to keep master up to date with NPM package as I think there is enough people looking at Github code and expecting that code to be in their NPM package

[2019-01-23 15:59] nventuro commented on #1621
This has been discussed a couple times already I think: I tend to agree with your stance (`master` is the latest stable release, `dev` undergoes frequent changes). If I recall correctly, the main argument against this is that PRs will be made by default against `master` instead of `dev`, requiring users and maintainers to double check that the target is correct (though I'd expect there to be a set

[2019-01-23 16:22] frangio commented on #1621
@nklipa13 My guess is that this was particularly annoying in the past few months given that there were a lot of big changes like the migration to Solidity 0.5 that weren't in `master` for a long time. This was totally exceptional because it caught us a bit unprepared. We've learned from that experience and a few others and I'm confident it won't happen again. :slightly_smiling_face:

We're relucta

[2019-01-23 16:22] #1621 closed

[2019-01-23 16:27] nklipa13 commented on #1621
@nventuro @frangio thanks for quick replies, maybe a good compromise would be to have one branch that is `last_release` or something like that? I think that can solve both problems, just put in readme that code from current NPM package is on that branch and that master branch is used for developing?

[2019-01-25 18:16] #1612 closed

[2019-01-28 07:45] cedricwalter opened #1625 "SafeMath for uint32 and all other variations"
**🧐 Motivation**
* safemath only work for uint256/int256
* we could use today SafeMath and downcast (unsafe) afterward to the desired type (https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1576)
* template or generics are not yet supported in solidity (see https://github.com/ethereum/solidity/issues/869)

**📝 Details**
I need safe math operations on uint32, i could do a PR but there is

[2019-01-28 18:09] frangio commented on #1625
Hi @cedricwalter. Thank you for opening an issue prior to contributing a PR. :blush: Please see my response here: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1484#issuecomment-457691541.

Could you share your motivation for working with 32 bit integers? If it involves gas costs, please include code to measure them. Given that Solidity emulates 32 bit arithmetic with masks, shifting,

[2019-01-28 19:05] barakman commented on #1488
@nventuro :
Is this one due soon?
Following an (extremely thorough) audit, my workaround for fetching `Ownable 1.12.0` and `Claimable 1.12.0` (thus overriding Ownable 2.0.0`) didn't quite "go down well" in the perspective of the auditer, who stated that "This is a dangerous practice as it modifies openzeppelin-solidity in a potentially unexpected way". The auditer further recommends to add it expl

[2019-01-28 22:03] frangio commented on #1488
@barakman We can't guarantee to release this soon. Given that, I'd recommend to implement `Claimable` from scratch yourself, and have it audited, as it should be a fairly small contract.

[2019-01-29 10:18] barakman commented on #1488
@frangio:
Of course, but we'd lose the "widely-used and thoroughly-verified by the community" feature.
Thanks!

[2019-01-29 17:50] aakilfernandes opened #1626 "Solidity version/openzeppelin version"
Hey, wanted to know how OpenZeppelin does major/minor bumps when increasing the solidity version. I'm not sure what the right solution is, but it ended up causing a problem in some project that require OpenZeppelin

[2019-01-31 00:42] bsadeh opened #1627 "can you please provide a link to recent contracts audit?"
**🧐 Motivation**

**📝 Details**

[2019-01-31 14:03] spalladino commented on #1627
Sure! You can read it [here](https://drive.google.com/file/d/1gWUV0qz3n52VEUwoT-VlYmscPxxo9xhc/view), more context in [this post](https://blog.zeppelin.solutions/announcing-openzeppelin-2-0-afb70aaa298d).

[2019-01-31 19:44] elopio commented on #1627
This should be added to the README or to https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/audit.
I'm going to leave this open for @frangio to fix.

[2019-02-02 13:37] pranavdaa opened #1631 "Truffle not able to compile the contract despite importing the the contract and npm i open-zappline"
I have npm i     "openzeppelin-solidity": "1.12.0"
still error
![image](https://user-images.githubusercontent.com/38764142/52164805-45cb5880-271d-11e9-8b96-ed03d9f53431.png)

also imported it in my contract

![image](https://user-images.githubusercontent.com/38764142/52164833-bf634680-271d-11e9-84cc-f5c0726c0bb9.png)

[2019-02-03 17:35] aakilfernandes opened #1632 "No way to change name/symbol in ERC721 Metadata"
There's currently no function for changing the name/symbol in ERC621 Metadata Extension.

[2019-02-05 07:55] Aniket-Engg commented on #1631
I think contract name you are trying to inherit is named as `ERC721` . Try changing it and see if it works.

[2019-02-06 15:14] josojo opened #1634 "Error message for require in Ownable"
**🧐 Motivation**
Improving the quality of code

**📝 Details**
The referenced require statement (Ownable contract,` modifier onlyOwner()` ) should output an Error, in case the require fails. This helps to debug and is also good for testing

[2019-02-06 15:41] frangio commented on #1634
Hi @josojo! Thanks for the suggestion. We should add revert reasons soon! I'm closing this issue in favor of the one we already have: #888.

[2019-02-06 15:41] #1634 closed

[2019-02-06 19:27] #1209 closed

[2019-02-06 19:40] frangio commented on #1631
Hi @pranavdaa! Please share the error that Truffle is printing.

Is the command you ran `npm i "openzeppelin-solidity": "1.12.0"`? If you want to use OpenZeppelin v1 you should run `npm i openzeppelin-solidity@1.12.0`. However, I would strongly recommend installing OpenZeppelin v2 and using Solidity 0.4.

[2019-02-06 19:44] frangio commented on #1632
Hi @aakilfernandes! Thanks for this suggestion.

However, is changing name and symbol actually allowed in ERC721? It sounds more like something that should always remain the same for a particular token.

[2019-02-06 19:52] aakilfernandes commented on #1632
I don't think including a public setName or setSymbol is warranted, but for child contracts it would be nice to give the owner an option.

As for the "should it be changeable", I think yes in that name and symbol are only for user interfaces anyway, not security. If you're using name and symbol to prevent phishing, you're doing it wrong. Any contract can claim to be the CryptoKitty contract. The o

[2019-02-06 21:54] frangio commented on #1632
Right, precisely because names are meant for user interfaces, it's important to understand whether UIs assume this metadata to be fixed or not. My intuition is that they will load the name and symbol once and cache it.

Have you run into the need for this feature yourself?

I'm leaning towards not including it.

[2019-02-07 04:36] pranavdaa commented on #1631
@frangio  this worked for me thanks fot the help.

[2019-02-07 04:36] #1631 closed

[2019-02-07 18:42] frangio commented on #1631
You're welcome! Also check out our forum to ask about any new problems you run into.

https://forum.zeppelin.solutions

[2019-02-10 03:52] fulldecent commented on #1632
I agree that setting it should be outside the scope of OZ's implementation.

Yes, you *could* change the name and symbol. And there's a lot of other things you can do. But we expect few people will do this so the way people will do that is to subclass an existing implementation like OZ and then add this feature.

[2019-02-10 04:04] fulldecent commented on #1627
A contract audit is no substitute for a well-funded bug bounty!

See #841

[2019-02-11 13:06] AndreiD commented on #1064
ok, and this guy [canhlinh](/canhlinh), and so do I, ask why it was deprecated. I'm also interested in knowing this. Hadv if you don't want to provide a constructive answer why not go spend your time on something else

[2019-02-12 08:06] canhlinh commented on #1064
@AndreiD I think what he said is correctly.

[2019-02-12 09:52] AndreiD commented on #1064
so why that function was removed?

[2019-02-12 15:33] canhlinh commented on #1064
@AndreiD Because it's not the standard method of ERC-721 token

[2019-02-12 16:46] frangio commented on #1064
@AndreiD @canhlinh I looked for discussion online about this but unfortunately couldn't find any. I can tell you my understanding of why `tokensOf` was removed. Working on arrays of arbitrary length on the blockchain can result in a security hole. A loop on a big array can cost more than the block gas limit, and this can turn a contract unusable, cause loss of funds, etc. Having a `tokensOf` funct

[2019-02-12 17:03] fulldecent commented on #1064
To original poster @canhlinh. You can read more history on the process of ERC-721 standardization at https://github.com/ethereum/EIPs/pull/841. The original 721 was forked (to PR 841) -- then after a long process everybody (including the original 721 author) agreed on the standard and the number 721 was used for clarity.

Hey @frangio, yes you are 100% correct. It is not best practice to return ar

[2019-02-12 17:33] frangio commented on #1064
@fulldecent The problem I see with `tokenOfOwnerByIndex` is the multiple calls needed to retrieve all of the tokens of an owner, mainly how this is not atomic, given that the array could change arbitrarily in the middle of the process. How do you deal with this?

It's not clear to me exactly what procedure clients should follow to display the full list. Either using the events only, or `tokenOfOwn

[2019-02-12 19:58] fulldecent commented on #1064
Good question. If you are calling from on-chain, of course you can atomically get the list by iterating.

But if you are off-chain then you are correct -- the requests could run against different blocks and you do not get atomic data. The solution is to run your queries all against the same block number. In web3js you can choose which block to run your query against. Just get the latest block numb

[2019-02-12 20:26] frangio commented on #1064
Cool! I wonder if querying against a specific block number works on Infura, but it's a great start nonetheless.

@AndreiD @canhlinh I hope this has answered your questions. Thanks @fulldecent for helping out!

[2019-02-13 01:17] hadv commented on #1064
Good to know this! Thanks @frangio & @fulldecent

[2019-02-13 04:32] canhlinh commented on #1064
🚀 Thank @frangio  and @fulldecent

[2019-02-16 07:04] ackintosh commented on #1625
Hi. 😊

I've noticed that the types effects to gas costs in case of numbers in inside of structs. 💡

Details are in the CryptZombies tutorial below:
https://cryptozombies.io/en/lesson/3/chapter/4

---

With the sample code below, I've measured that how much of gas cost difference between `uint(uint256)` and `uint8` which are exists inside of struct.

## Sample code (GasCosts.sol)

[code]

## Operat

[2019-02-17 18:55] singhj1234 commented on #1157
Hi, I want to help improve test descriptions. Can I change a few then submit a pull request so it can be reviewed.  I saw what was done in #1204 , #1195 and #1237 so I have an idea of what changes need to be done.

[2019-02-18 08:20] nikeshnazareth opened #1643 "Various non-functional typos and code intention suggestions"
While looking through the codebase I found some non-functional typos and potential mismatches between comments and code intention. I thought addressing these could be a good first pull request.

Below is the list of suggested changes. If you're happy for me to make them, should I open a separate pull request per change, or a single one for all of them?

Sorry for the wall of text! I thought it wou

[2019-02-18 14:25] andreafspeziale commented on #1215
Hi there!
It's more than a month that I'm trying to guide myself in the vastly world of the security tokens.
I think this topic will always be more central.
I would like to share right here some links that could help:

- https://eips.ethereum.org/EIPS/eip-1462
- https://github.com/ethereum/EIPs/issues/1411

@dougiebuckets Polymath is on the front line since the topic is their core business.
The pr

[2019-02-21 16:30] wbt commented on #1625
[This repository](https://github.com/wbt/thermostat) also demonstrates measurable savings in gas costs, showing that the use of 256-bit arithmetic adds an inefficiency cost of about 1/3 compared to using 32-bit integers, in a setting where 32-bit integers suffice.   To reproduce, clone that repo and run `truffle migrate` as noted in its readme.

[2019-02-22 13:50] nventuro opened #1644 "Add CREATE2 contract factory"
As discussed with @cwhinfrey, @jamesyoung and @spalladino, it'd be interesting to include a factory such as [archanova's](https://github.com/archanova/solidity/blob/08f8f6bedc6e71c24758d20219b7d0749d75919d/contracts/contractCreator/ContractCreator.sol) (by @stanislaw-glogowski, which uses CREATE2, making it possible to predict the contract's address) into OpenZeppelin, possibly expanding upon it t

[2019-02-22 14:57] nventuro commented on #1488
A statement I wholeheartedly agree with :)

@barakman We'll be exploring options soon (specially considering this shouldn't be such a big change), but I'm not sure yet regarding a release date, sorry.

[2019-02-22 15:09] nventuro commented on #1625
Hm, I wonder how those numbers would change in more dynamic scenarios (e.g. the values are received as parameters instead of being hardcoded, and some math is done on them).

[2019-02-22 15:10] nventuro commented on #1625
Tagging this for 2.3 so that we keep track of it and continue the discussion, but this doesn't necessarily mean that we will include support in that version.

[2019-02-22 17:13] barakman commented on #1488
@nventuro:

I've already come to realize that even if you do reinstate `Claimable` back into the next version of OZ, it will be under solc v0.5.x.

And since we've decided to stick with solc v0.4.x for the time being, it will probably yield some other "collisions" in our project.

So I have resolved the audit-warning by downloading `Ownable` and `Claimable` into a folder named `openzeppelin-solidi

[2019-02-22 17:15] wbt commented on #1625
@nventuro I'm not sure what you mean.  In the [example repo](https://github.com/wbt/thermostat) the uint values are received by EVM as parameters; the actual values being stored are randomly generated in Javascript.
The number of bits in the integer representation is hard-coded, as usual.

[2019-02-22 17:26] nventuro commented on #1632
Agree with both @frangio and @fulldecent, closing this.

[2019-02-22 17:26] #1632 closed

[2019-02-22 21:25] nventuro commented on #1625
Sorry @wbt, I had only looked at the example @ackintosh provided. Your example should indeed trigger some of Solidity's masking code, since you're both storing packed `uint32` values, and emitting events with `uint32` values.

That said, it does seem to serve as a good estimate of an upper bound in gas savings, since it compares four values packed into a single slot as opposed to four full slots,

[2019-02-22 21:31] wbt commented on #1625
@nventuro Yes, I believe packing is the primary gas-savings motivation for using smaller ints.
In some cases, there are also concerns about interoperability with legacy systems that don't support such large numbers, but the gas savings from tight packing is a stronger and more general motivator.

[2019-02-23 01:14] elopio commented on #1644
Here is a nice example of a factory by @miguelmota, based on @stanislaw-glogowski's code:
https://github.com/miguelmota/solidity-create2-example

[2019-02-25 18:53] nventuro commented on #1643
Wow @nikeshnazareth, these are absolutely great! Thank you so much for your thorough work with this.

I'd say a single PR should fit these fine, since it'll be way easier for you to create and us to manage, and we can always discuss individual changes as review comments.

[2019-02-25 18:55] nventuro commented on #1157
@singhj1234 please do! I haven't been tackling this due to prioritizing other tasks, but these definitely need some love.

[2019-02-25 23:21] frangio opened #1648 "Use canonical EIP reference format"
See https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1646. There are other EIP links throughout the repository for which we should do the same.

[2019-02-25 23:22] #1648 closed

[2019-02-25 23:23] frangio commented on #1648
My bad, this was already done. :slightly_smiling_face:

[2019-02-26 15:26] nventuro commented on #1215
@andreafspeziale so your conclusion is that it is still to early for the community to settle on a standard implementation? You mentioned 'it'd be great to have OZ onboard', are you referring to the whole security token discussion, or to a standard in particular?

Thanks!

[2019-02-26 17:09] marekkirejczyk opened #1651 "Add CREATE2 contract factory with support for meta transactions"
**🧐 Motivation**
This is in connection to #1644. We would like to have a CREATE2 factory that supports meta-transactions. We expect that CREATE2 & meta-transaction will be a common combination.

I expect interface and implementation for the factory with and without meta-transaction to differ a lot.

**📝 Details**
Proposed interface:
[code]

An example implementation is in universal login repositor

[2019-02-26 17:12] marekkirejczyk commented on #1644
I think there are two types of CREATE2 factories one might want to consider:
1) standard on chain factory
2) factory with support for metal-transactions

There is a significant difference in implementation, interface, and security, so I created a separate ticket for that #1651

[2019-02-26 18:46] nventuro commented on #1651
Hey there @marekkirejczyk, thanks for contributing to this discussion!

I've been taking a look at your proposed interface and have a couple questions: from what I can tell, the only difference between it and the one mentioned in #1644 is the presence of the `signer` argument (along with a valid signature for deployment), which is hashed together with the salt to produce the actual salt that is us

[2019-02-26 22:35] cwhinfrey commented on #1651
@nventuro The purpose of including the signer when creating the `actualSalt` (salt passed into create2, open to different names for this) is exactly what you mentioned, contracts with one off `initialize()` functions.

We do need to either: 1) Prevent other accounts from deploying the contract by using the signer to calculate the salt or 2) use the initialization data when calculating the salt to

[2019-02-26 22:38] cwhinfrey commented on #1644
It may also be possible to have the factory contract in #1651 extend a base contract that only has `internal` functions like the one @stanislaw-glogowski created in [archanova](https://github.com/archanova/solidity/blob/08f8f6bedc6e71c24758d20219b7d0749d75919d/contracts/contractCreator/ContractCreator.sol)

[2019-02-27 04:16] Vulturio opened #1654 "Create a Master minter address on MinterRole"
**🧐 Motivation**

This is a problem that we have with a Minter contracts, we need minters but they can add another one because the onlyMinter modifier allows that, we need an ultra mega minter who can add or delete them by default.
**📝 Details**

A minter can add another minter, should be a Master minter address with an exclusive modifier to add or delete minters.

[2019-02-27 06:55] cwhinfrey commented on #1651
Haven't tested this but here's one way it could possibly look when computing the salt with the initialization data: https://gist.github.com/cwhinfrey/380d2d073b122f7903bd9acb060d470a
`Create2FactroyBase` is based on @stanislaw-glogowski's [ContractCreator](https://github.com/archanova/solidity/blob/08f8f6bedc6e71c24758d20219b7d0749d75919d/contracts/contractCreator/ContractCreator.sol). The contrac

[2019-02-27 14:55] nventuro commented on #1651
Thanks @cwhinfrey! That clarified a lot.

Wouldn't the signing of the message prevent front-running though?

I like both options you described, there's a flexibility trade-off: either only a single account does the deployment, with arbitrary initialization data (the `actualSalt = hash(salt, signer` approach), or any arbitrary account does the deployment, with single pre-defined initialization data

[2019-02-27 15:10] nventuro commented on #1654
Hello @UncleVultur! What is it that you don't like about the current implementation? Any minter can mint whatever tokens they desire, so being able to also give that power to another account doesn't seem too farfetched.

[2019-02-28 02:56] projectoblio commented on #1272
?

[2019-02-28 03:13] projectoblio commented on #1272
Is there a crowdsale example using this yet? It seems kinda necessary for KYC

[2019-02-28 04:44] projectoblio commented on #1077
How do i even run a test, node won't compile it

I just want to run the "getBouncerSigner" function but I can't figure out how.... Babel won't even recursively compile it

[2019-02-28 06:09] nikeshnazareth opened #1656 "Add redundant address guard to ERC20Migrator migrate function"
This is just a code style issue and I'm not sure if it's intentional, but I'm mentioning it in case it's an oversight.

Consider the `ERC20Migrator` `migrate` function:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/a1f168be961b6c2f7592716864d7b9b104365476/contracts/drafts/ERC20Migrator.sol#L78-L87

This could be called before `beginMigration` is called, which means `_newToken` is not

[2019-02-28 14:04] ianbrt commented on #1077
Hi @projectoblio, Ive been learning about these tests and started writing a guide in the [zeppelin forum]( https://forum.zeppelin.solutions/t/testing-guide/150/18). You can search there maybe it helps what I learnt and if you have any questions you can do them there, so we all learn from each other. Hope it helps

[2019-02-28 14:46] #1643 closed

[2019-02-28 15:27] nventuro commented on #1077
Hey @projectoblio, what issue are you having precisely? You shouldn't require Babel to run our suite, `npm test` (after an `npm install` should just work).

[2019-02-28 16:26] nventuro commented on #1656
Thanks for spotting this @nikeshnazareth! I agree with your assesment, an explicit check is better than our current behavior of relying on `call` failing.

For reference, the reason why `newToken` isn't set at construction time and `beginMigration` needs to exist, is that said token will be an `ERC20Mintable`, with `ERC20Migrator` set as a minter. This obviously cannot be done before creation (at

[2019-02-28 16:29] nventuro commented on #1272
@projectoblio there are no crowdsales using signatures, but we do have [`WhitelistCrowdsale`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v2.1.3/contracts/crowdsale/validation/WhitelistCrowdsale.sol), which may suit your needs.

[2019-02-28 17:24] projectoblio commented on #1272
I saw that, and I also read through someone else's argument that said that signature based crowdsales somehow cost the EVM a lot more money. I just want to say that this has to be false, in a WhitelistCrowdsale you have a transaction (signature) from the owner to add an address (string), and another transaction from the end-user (signature).  In a Bouncer crowdsale you have only a transaction (sig

[2019-02-28 18:51] nventuro commented on #1272
This could be implemented by inheriting the original `buyTokens` and disabling it (e.g. by having it always revert).

I agree with your statements regarding usefulness of a `SignedCrowdsale`, but am unsure as to we should first iterate a bit on `SignatureBouncer` itself, which hasn't been worked on in a while. @frangio thoughts?

[2019-02-28 19:02] wbt commented on #1625
I've added a function "turnUpHeat" in the test repo which does some math on what the contract is receiving as dynamic variables.

Also, I think you'd have to be using `uint8`s where there is more frequent changing of values to get closer to a good estimate of an upper bound in gas savings.  Still, I don't think we'd need to approach the upper bound in gas savings when an even lower savings level i

[2019-02-28 19:54] nventuro commented on #512
Closing as stale. Also, 223 is still in the draft stage, and doesn't look like it'll move out of it anytime soon.

[2019-02-28 19:54] #512 closed

[2019-02-28 21:21] nventuro commented on #458
Considering progress hasn't advanced on this front, users of auctions may want to take a look at Gnosis's DutchX: https://blog.gnosis.pm/new-dutchx-smart-contracts-are-now-live-665d83f31930

Closing due to staleness.

[2019-02-28 21:21] #458 closed

[2019-02-28 21:24] nventuro commented on #1099
https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1595 requires these to exist, so we probably want to revisit this conversation soon.

[2019-02-28 21:36] nventuro commented on #819
Closing due to staleness. Also, @balasan has proposed an alternative repository where this can be found.

[2019-02-28 21:36] #819 closed

[2019-02-28 21:39] nventuro commented on #95
Closing due to staleness. There was some talk about bonding curves a couple months ago, but it doesn't seem to have caused large repercussions.

[2019-02-28 21:39] #95 closed

[2019-02-28 21:46] nventuro commented on #16
Closing as outlined in #971.

[2019-02-28 21:46] #16 closed

[2019-02-28 22:03] projectoblio commented on #1272
Thanks yea I am still not sure what you mean but there was also this big warning that said "DO NOT OVERRIDE" above buyTokens so I wasn't sure i was even doing it right.

[2019-03-01 00:31] WyseNynja opened #1657 "Migration of simple ERC20 token fails with constantinople"
I have this very simple test contract:

[code]

I added `evmVersion: 'constantinople'` to my `truffle-config.js` and tried to migrate, but got this error:

[code]

It migrates fine on byzantium.

**💻 Environment**

openzeppelin-solidity@2.1.3

[2019-03-01 05:51] Skyge opened #1660 "Use the Linked List to achieve a FIFO access."
**🧐 Motivation**
A FIFO access with Linked List in the Solidity.

**📝 Details**
In my problem, there exists such a situation: I want to store an array structure, such as
[code]
Because I want to `push` the newest, and `pop` the oldest,
so there may be an array to store their sequence, such as
[code]
In my project, recording order is essential.
but when we push in some elements and pop out some ele

[2019-03-01 06:47] Skyge commented on #1660
I thought for a while, and I realize a key point, I want to remove elements by their order,
but why do I must use an array to record, I can make some changes in the struct, such as:
[code]
then I can record their sequence without an array, so I should write like:
[code]
So all modified code should be:
[code]

[2019-03-01 06:54] Skyge commented on #1660
OK, please just give me some advice, and I will make a standard code
with the version `0.5.x` later.

[2019-03-01 09:53] earizon opened #1661 "Refactor code to use composition and delegation over Inheritance"
**🧐 Motivation**
I'm trying to use the RBAC libraries of openzeppelin-solidity and I found they are using (abusing?) from inheritance.

**📝 Details**
I'm trying to create a controller in charge of RBAC,  error-handing or action routing. Using inheritance I'm forced to make the controller inherit from many different classes and programming looks un-natural.

By promoting composition-and-delegation

[2019-03-01 14:26] nventuro commented on #626
Closing due to the stalness. If someone does require this feature to be implemented, please also share your use case along with it.

[2019-03-01 14:26] #626 closed

[2019-03-01 14:48] wbt commented on #626
Left shift on uints can be emulated with multiplication by a power of 2.  I haven't tested if it's faster in EVM or not.  Some use cases are [here](https://stackoverflow.com/q/520625/798371) but in all cases where I've used left-shift, it's been either (a) not a case where SafeMath would be needed because I wasn't working with representations of numbers, or (b) a shortcut way of doing multiplicati

[2019-03-01 14:59] nventuro commented on #1272
Ah you're right, the strategy I suggested wouldn't work on the `Crowdsale` model. What we should do is have an `internal` `_buyTokens` function, and then just have `buyTokens` call it. In your use case, you'd disable the `public` one, but not the `internal`, which is what the other contracts in the inheritance tree are calling.

[2019-03-01 16:17] nventuro commented on #1661
We've discussed this multiple times, and made efforts to switch to a composition-based architecture. This isn't always easy to achieve however, and usually comes with added gas costs.

Do you have specific recommendations for the RBAC scenario you could share?

[2019-03-01 16:21] nventuro commented on #1660
Hey there @Skyge, thanks for opening this! I know @elopio has read lots of awful array-management code while conducting security audits, perhaps you could share some of your learnings and common requirements here?

[2019-03-01 17:01] Skyge commented on #1660
Ok, I will think my requirements seriously, and then share it.

[2019-03-01 17:06] elopio commented on #1660
The biggest problem here is the lack of generics in solidity. This means that if we implement a list for uint256, we will have to implement another one for addresses, and another one for your custom struct.
I think most of our efforts should go towards that first: https://github.com/ethereum/solidity/issues/869

[2019-03-01 18:02] projectoblio commented on #1661
Solidity debugging tools aren't designed for inheritance. I am killing myself trying to debug an unknown "revert" in one of these OZ files, I added strings to all of them... The Remix-IDE debugger doesn't debug through multiple files, and i had to switch from Truffle debugger to Remix in the first place because of a nonsencial error (`id is undefined`)

[2019-03-01 18:10] barakman commented on #626
@wbt:
You seem to be forgetting the fact that computing the power of 2 by itself has a "price tag" attached to it.

If the exponent is known then you can use a constant value of course, but otherwise, the operation `x << y` would be replaced with `x * uint256(2) ** y`, which has a much higher "price tag" attached to it.

[2019-03-01 20:17] wbt commented on #626
@barakman Good point.  I was primarily considering the case where the exponent is known and a constant value can be used, but it isn't always.

[2019-03-01 22:15] frangio commented on #1661
Hi @earizon. Could you please share some code for what you're trying to do?

Roles are actually quite good for composition, because you can compose functionality by assigning the role to a contract instance. This allows you for example to create a minting scheme without modifying `ERC20Mintable` at all, with minimal use of inheritance. Check out [this guide](https://forum.zeppelin.solutions/t/how-

[2019-03-01 23:04] nventuro commented on #1627
Closed via #1664.

[2019-03-01 23:04] #1627 closed

[2019-03-02 11:54] earizon commented on #1661
@frangio , @nventuro , @projectoblio :

Correcting myself. Digging further I found a code like next one will (so I think) work with current RBAC implementation. All that needed is a very simple, intermediate step to create new classes inheriting from the RBAC ones and then continue to use the composition/delegation pattern as I'm used to:

      contract WhiteListAdmins is WhileListAdminRole { } /

[2019-03-02 15:36] #1656 closed

[2019-03-02 18:35] projectoblio commented on #1661
that looks great. but in regards to scalability, the protocol is named `casper` for a reason. As it becomes cheaper to transact on a blockchain, more people will use it. It's a never ending cycle (i.e. casper the friendly ghost). If blockchain becomes cheaper to use, more people will use it, only increasing fees back to where they are about now (or higher)

[2019-03-04 02:03] nikeshnazareth commented on #1203
can I take this one?

[2019-03-04 09:11] #1661 closed

[2019-03-06 14:39] nventuro commented on #1203
@nikeshnazareth go ahead! This one has been in the backlog for a long time now, but it'd be great if we got it done :)

[2019-03-06 20:22] frangio commented on #1461
From https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1475#issuecomment-470255981:

[2019-03-06 20:22] #1461 closed

[2019-03-07 15:43] nventuro opened #1667 "Improve ECDSA tests"
https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1622 introduced some changes to the `ECDSA` contract, and made it clear that our test suite for that particular contract is somewhat lacking. We should refactor it so that:

- it's easy for users to understand how to use the contract (i.e. how to generate signatures e.g. using `web3.eth.sign`)
- all cases are properly covered (all combinat

[2019-03-07 18:26] nventuro opened #1668 "Have Escrow forward all gas to recipient"
One of the reasons why `PullPayment` is useful is that by using `_asyncTransfer`, the 'payment' is decoupled from any possible recipient contract logic, and any code executed on an Ether transfer (e.g. a fallback function) will only run once `withdrawPayments` is called.

However, said function calls `Escrow.withdraw`, which does a `transfer` to the recipient. This means [only 2300 gas is forwarde

[2019-03-07 18:54] vittominacori opened #1669 "Typo in ERC20Snapshot"
There is a typo in [ERC20Snapshot](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/drafts/ERC20Snapshot.sol#L34)

[2019-03-07 21:54] nventuro commented on #1625
@wbt I played around with your migrations script for a bit, adding calls to `turnUpHeat`, using new functions to use more/less storage slots, other arithmetic functions, etc., and found that the gas cost difference is very much dependent on actual usage of storage - in some scenarios, the extra overhead of 32-byte arithmetic outweighs the benefit of packed structs. This means that each developer s

[2019-03-07 22:13] nventuro commented on #1596
While we do want to add support for metatransactions, this seems too ad-hoc: we will move forward with a more full-fledged solution, e.g. something like TabooKey's solution: https://medium.com/tabookey/1-800-ethereum-gas-stations-network-for-toll-free-transactions-4bbfc03a0a56

[2019-03-07 22:13] #1596 closed

[2019-03-07 22:36] nventuro commented on #1
Closing - we probably don't want to provide such complex functionality out of the box, but rather the building blocks required to implement it: e.g. `RefundEscrow`, https://github.com/OpenZeppelin/openzeppelin-solidity/issues/239, etc.

[2019-03-07 22:36] #1 closed

[2019-03-07 22:39] nventuro commented on #239
This is very much in line with the generic escrow (that supports both ether and tokens) that we want to implement. Closing this to continue the discussion in https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1099.

[2019-03-07 22:39] #239 closed

[2019-03-07 22:40] nventuro commented on #1099
#1 and #239 both have use-cases for timelocked-ether: a feature we already have for tokens, that could be easily implemented via `ConditionalEscrow`.

[2019-03-07 22:41] #1203 closed

[2019-03-07 22:47] nventuro commented on #9
I think proxy contracts (such as [ZeppelinOS's](https://zeppelinos.org/)) are a more robust solution to this issue, and should advocate for those when this requirement is present.

[2019-03-07 22:47] #9 closed

[2019-03-07 22:51] nventuro commented on #2
Our current `ReentrancyGuard` can be used to address these issues, and while more generic and with some limitations (guarded functions cannot call one another), I prefer it over a solution as specific as the proposed one.

[2019-03-07 22:51] #2 closed

[2019-03-07 22:53] nventuro commented on #10
Good formal verification tools are still lacking, so we will continue resorting to community feedback and external audits for the time being. Closing this to reduce the issue clutter.

[2019-03-07 22:53] #10 closed

[2019-03-07 23:07] nventuro commented on #15
Closing to reduce issue clutter. Such a feature would probably be implemented via metatransactions, which we're currently working on to improve support.

[2019-03-07 23:07] #15 closed

[2019-03-07 23:08] nventuro commented on #23
Such a feature would be easily implemented via `ConditionalEscrow`s, where only amounts smaller than the currently vested value can be withdrawn. Regarding having someone else execute the transactions, metatransactions are probably the way forward.

Closing to reduce issue clutter.

[2019-03-07 23:08] #23 closed

[2019-03-07 23:11] nventuro commented on #28
While the idea is good, stack depth is a non-issue nowadays, and reentrancy is such a big topic that I don't see how we could provide a generic helper contract. Closing due to inactivity.

[2019-03-07 23:11] #28 closed

[2019-03-07 23:11] nventuro commented on #157
This is WAY overdue.

[2019-03-07 23:13] nventuro commented on #607
Closing due to inactivity. For what it's worth, @frangio's comment still applies.

[2019-03-07 23:13] #607 closed

[2019-03-07 23:14] nventuro commented on #148
We've had [`TokenMigrator`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v2.2.0-rc.1/contracts/drafts/ERC20Migrator.sol) for a while now.

[2019-03-07 23:14] #148 closed

[2019-03-07 23:17] nventuro commented on #63
We have some guides in [the docsite](https://docs.openzeppelin.org/docs/get-started.html), and the undergoing revamp will make it easier for everyone to contribute to these so-called 'mini-readme' guides.

[2019-03-07 23:17] #63 closed

[2019-03-08 14:07] wbt commented on #1625
I agree, which is why "everybody always use uint256 or don't use OpenZeppelin's safemath" doesn't seem appropriate.

Code autogeneration seems like it'd be relatively easy, or copy-paste-modify for those where it's requested (or maybe starting with the powers of 2, 8-256). I would recommend dropping "Bytes" from the suggested name, and have N match the bit count (e. g. "[SafeMath32](https://github

[2019-03-08 15:55] nventuro commented on #336
Most of our library contracts are still composed of `internal` functions as opposed to `public`, and while it _would_ save storage costs to only deploy these once, we would then impose a `CALL` overhead on all users, which doesn't seem to be the right trade-off for such small utilities.

[2019-03-08 15:55] #336 closed

[2019-03-08 16:15] nventuro commented on #297
Integration with some sort of protocol does seem like the way forward, though I still haven't seen a great one.

Closing to reduce issue clutter.

[2019-03-08 16:15] #297 closed

[2019-03-08 16:19] nventuro commented on #442
We got rid of `HasNoEther` in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1254, read more on that issue as to the reasons behind the decision.

[2019-03-08 16:19] #442 closed

[2019-03-08 16:39] nventuro commented on #387
We do this all the time: my bank transfers money automatically to my credit card, ISP, etc. on a monthly basis, Amazon refunds me money if a seller cancels a purchase, Kickstarter does refunds if a goal is not met, etc. You're not giving random people access to your money, you're saying "if this doesn't go through, I want my money back".

If you lose the private key, how could you possibly reclaim

[2019-03-08 16:39] #387 closed

[2019-03-08 18:06] nventuro commented on #355
We've also discussed having contracts providing `msg` info, such as `msg.sender`, etc., to allow easier integration with metatx engines.

[2019-03-08 18:16] nventuro commented on #346
Closing for the same reasons mentioned [here](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/512#issuecomment-468414426).

[2019-03-08 18:16] #346 closed

[2019-03-08 18:24] nventuro commented on #1099
An ether timelock came up again in #443.

[2019-03-08 18:25] nventuro commented on #443
Indeed, a `RefundCrowdsale` doesn't have this issue due to using a `RefundEscrow`. We're discussing extending the `Escrow` model in https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1099.

[2019-03-08 18:30] nventuro commented on #498
While interesting, and certainly something we could add, I'm closing this for now due to a lack of activity (and perceived interest in the feature).

[2019-03-08 18:32] nventuro commented on #501
This is starting to happen in Solidity: see https://github.com/ethereum/solidity/issues/5424.

Closing as per my last comment.

[2019-03-08 18:32] #501 closed

[2019-03-08 18:34] valerioleo opened #1673 "TokenVesting :: Is there any specific reason why _releasableAmount has to be private?"
**🧐 Motivation**
Simplify the interaction with TokenVesting

**📝 Details**
Directly reading the releasable amount can be very helpful to build a UI. At the moment, to calculate the releasableAmount, it is necessary to get all the necessary variables one by one and make the calculation. If `_releasableAmount` was public, it would be possible to query the releasable amount with only one query. Is th

[2019-03-08 18:52] nventuro commented on #1673
There is! An issue was identified by the Level K team during their audit of what became version v2.0.0, led by @cwhinfrey.

The original report read:

Instead of refactoring the contract as suggested, I chose to simply remove that function from the API in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1427, since the contract _does_ work correctly as is, and we have plans to eventually

[2019-03-08 18:53] nventuro commented on #558
This has been done throughout the library over the past couple months.

[2019-03-08 18:53] #558 closed

[2019-03-08 19:01] valerioleo commented on #1673
Amazing, thanks for the explanation. I'll look forward to seeing the `vestedPercentage()`. 👍

[2019-03-08 19:01] #1673 closed

[2019-03-08 20:20] nventuro commented on #557
Such a feature could be implemented using a combination of `Escrow` and `ERC20Snapshot`. Closing due to inactivity.

[2019-03-08 20:20] #557 closed

[2019-03-08 20:39] nventuro commented on #533
Hm, interesting. Closing this issue though to merge it with https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1531.

[2019-03-08 20:39] #533 closed

[2019-03-08 20:40] nventuro commented on #1531
In https://github.com/OpenZeppelin/openzeppelin-solidity/issues/533, the case was made for extending this to also include support for a cleaner `Date` type. Acoording to Solidity developers [here](https://github.com/ethereum/solidity/issues/3186#issuecomment-348647835), this should be done by us, not the language.

[2019-03-08 21:13] nventuro commented on #529
This sort of thing would require the funds being stored in an `Escrow`, and could easily be added. Closing though due to lack of activity.

[2019-03-08 21:13] #529 closed

[2019-03-08 21:14] nventuro commented on #443
https://github.com/OpenZeppelin/openzeppelin-solidity/issues/529 presented a related requirement.

[2019-03-08 21:16] nventuro commented on #507
We removed `CanReclaimToken` in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1306, read there for rationale.

[2019-03-08 21:16] #507 closed

[2019-03-08 21:21] nventuro commented on #502
Closing due to a perceived lack of interest / information regarding what's actually needed.

[2019-03-08 21:21] #502 closed

[2019-03-08 21:32] nventuro commented on #589
Test helpers have been moved to https://github.com/OpenZeppelin/openzeppelin-test-helpers.

[2019-03-08 21:32] #589 closed

[2019-03-08 21:33] nventuro commented on #579
Let's give it a try then and decide based on that.

[2019-03-08 21:35] nventuro commented on #760
This has been done for the v2.0.0 release: all variables are now `private`, with `public` getters and setters where applicable.

[2019-03-08 21:35] #760 closed

[2019-03-08 21:38] nventuro commented on #754
This came up recently in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1629: I'm closing this to continue the discussion there, since it seems like we won't be moving forward with it.

[2019-03-08 21:38] #754 closed

[2019-03-08 21:54] nventuro commented on #752
Closing due to staleness.

[2019-03-08 21:54] #752 closed

[2019-03-08 21:54] nventuro commented on #751
This is already happening as part of the docsite revamp @frangio is carrying out.

[2019-03-08 21:54] #751 closed

[2019-03-08 21:56] nventuro commented on #749
Hm, this is rather interesting indeed! Closing due to perceived lack of interest, and the fact that we'll probably move forward with some sort of metatx solution, but we'll be keeping this in the back of our minds, thanks!

[2019-03-08 21:56] #749 closed

[2019-03-08 21:57] nventuro commented on #748
Closing for the same reasons #1109 was closed, see [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1109#issuecomment-416706208).

[2019-03-08 21:57] #748 closed

[2019-03-08 22:02] nventuro commented on #727
I really liked the whole PoW idea, but had never come up with a use case that went beyond toy projects such as minting tokens. This, however, seems super neat.

[2019-03-08 22:21] nventuro commented on #681
While interesting and definitely something that could be a part of OpenZeppelin, I'm closing to reduce the issue clutter, and due to a lack of activity.

[2019-03-08 22:21] #681 closed

[2019-03-08 22:32] nventuro commented on #703
There was some discussion about a Crowdsale that had multiple stages with different rates in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1072, but it ended up abandoned due to a lack of interest. Closing this for similar reasons.

[2019-03-08 22:32] #703 closed

[2019-03-08 22:35] nventuro commented on #884
Closing due to inactivity.

[2019-03-08 22:35] #884 closed

[2019-03-08 22:41] nventuro commented on #824
We haven't published to EthPM for a while now - @frangio is this something we want to go back to?

[2019-03-08 22:42] nventuro commented on #820
Closing due to inactivity, since the EIP is still a draft, and there doesn't seem to be much interest in it moving forward.

[2019-03-08 22:42] #820 closed

[2019-03-08 22:43] nventuro commented on #814
Closing due to inactivity, same as #815.

[2019-03-08 22:43] #814 closed

[2019-03-08 22:50] nventuro commented on #765
Closing due to inactivity (plus, the people behind espresso seemed to have taken a different route).

[2019-03-08 22:50] #765 closed

[2019-03-08 22:59] nventuro commented on #833
Indeed, a more generic hash-time-lock framework does seem more useful (and could benefit from our intended new escrows: #1099). Closing for now due to a perceived lack of interest.

[2019-03-08 22:59] #833 closed

[2019-03-08 23:00] nventuro commented on #813
This has been as proposed for a while now, closing.

[2019-03-08 23:00] #813 closed

[2019-03-08 23:05] nventuro commented on #787
Closing due to inactivity.

[2019-03-08 23:05] #787 closed

[2019-03-08 23:05] nventuro commented on #783
Closing due to lack of interest/activity.

[2019-03-08 23:05] #783 closed

[2019-03-08 23:06] nventuro commented on #771
That'd be something like our current `TokenVesting` contract, which could also be used along with a `Crowdsale`. Closing due to inactivity.

[2019-03-08 23:06] #771 closed

[2019-03-09 22:24] djenning90 opened #1674 "ERC20Vestable.sol"
My apologies for probably not posting in the right place (I did poke around a bit but didn’t see the obvious place for this type of post). Any guidance will be appreciated.

I’m working on a smart contract for my project’s ICO to support start/cliff/duration-style vesting tokens, written as an ERC20 trait contract. Tokens can be granted by a grantor role, but can only be spent by the holder once v

[2019-03-11 11:52] Skyge commented on #1674
Congratulations on finding the OpenZeppelin, just like what you said
[code]
If you think this is a new feature that has never be implemented before, maybe you can make a document at here: https://github.com/ethereum/EIPs/,  at here, you will find there has existed some EIPs, so you should find out is there a similar EIP like yours. Owing to your roughly described, I am not sure if this is a new fe

[2019-03-11 16:05] nventuro commented on #1159
I'll be working on this to get it to a state in which it can be merged into the repository (as a `draft`, since the EIP isn't even finalized yet). @utgarda @catageek you both mentioned you've done some work on this, would you mind sharing your progress? Thanks!

[2019-03-11 16:14] nventuro commented on #1674
Hi there @djenning90! Have you looked at our [`TokenVesting`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v2.1.3/contracts/drafts/TokenVesting.sol) contract? It decouples the token from the vesting, so that there are no restrictions placed upon it, which I think is pretty neat (considering the vesting period should be short-lived when compared to the actual token usage).

We're also

[2019-03-11 21:32] frangio commented on #824
AFAIK EthPM has undergone deep changes since we last published on it. Looking around online it's not clear to me if Truffle even supports the new version.

Maybe @gnidan can guide us a bit here?

[2019-03-11 21:52] frangio commented on #2
This is also addressed by using `PullPayment`.

[2019-03-12 15:39] frangio commented on #1667
Your first point we should tackle with documentation rather than tests IMO, but both things will help.

[2019-03-12 16:15] #1669 closed

[2019-03-12 16:40] frangio commented on #751
To be clear, this is already happening _today_. The docsite is deployed automatically.

[2019-03-12 21:21] nventuro opened #1676 "Provide support for EIP1820"
Related to #1159.

[EIP1820](https://eips.ethereum.org/EIPS/eip-1820) describes a unique registry that can be used to query implementation of interfaces by different contracts. There's not much point in hosting the code for the registry itself since it is a blockchain singleton, and `openzeppelin-test-helpers` [has a helper function to deploy one](https://github.com/OpenZeppelin/openzeppelin-test-

[2019-03-13 02:08] frangio commented on #824
Also looping in @njgheorghita from EthPM. Any pointers here will be greatly appreciated! 🙂

[2019-03-13 14:56] catageek commented on #1159
@nventuro my implementation is complete with all unit tests. I need to udpate ERC820 registry to use ERC1820. I also need to run linter to conform to OpenZeppelin PR rules, so that's why it's not a PR yet.
Would you mind if we don't multiply proposals ? I can finish this in a couple of days.

[2019-03-13 16:57] njgheorghita commented on #824
Hey @frangio! Yes, you're correct EthPM has updated to a new version (v2), which rather than hosting a central registry, each organization / developer / party is encouraged to deploy their own package registry to which they can publish their packages. In terms of the best tools to use to achieve this goal, I'm afraid I can only speak about the tooling available in the Python world.

If you're inte

[2019-03-13 22:05] nventuro commented on #1159
@catageek do open a PR! I already have one for ERC1820 (https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1677) which should be merged soon, see if you can integrate that one in.

[2019-03-14 09:05] Aniket-Engg opened #1679 "IERC721 interfaces labelled as contract"
**🧐 Motivation**

Related File: [IERC721Receiver.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC721/IERC721Receiver.sol)
It seems possible to make this contract same as defined in ERC721 standard [here](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md).

**📝 Details**
Function in this contract can be labelled as 'external' and it can be declar

[2019-03-14 17:59] WyseNynja commented on #1657
I also get this error when trying to use solidity 0.5.6

[2019-03-16 03:37] Austin-Williams opened #1682 "Consider removing unused return variable names from functions in Pausable"
In ERC20Pausable, the functions `increaseAllowance` and `decreaseAllowance` specify a name ("success") for the return value, but the name is never used. Perhaps consider removing the unused variable names.

[2019-03-18 12:55] catageek commented on #1159
@nventuro Done! But it's coming with its own ERC1820 deploy script... Feel free to add your modification/suggestion. Any help to break the big test script into small files is appreciated also.

[2019-03-18 15:52] elopio opened #1685 "Clean up the organization and maintainers team"
Currently the active maintainers of OpenZeppelin are @frangio and @nventuro.
To handle permissions in a clearer and safer way in this repo and in the organization, I will remove everybody else that hasn't been active for a while.

@spalladino and I (@elopio) will remain as admins to help when the maintainers need a hand with the repo settings.

If somebody needs access to one repo, or (even better

[2019-03-18 16:37] frangio commented on #1657
Hi @WyseNynja! I was not able to reproduce this. Could you share your full truffle-config.js, and your migrations files?

[2019-03-18 17:52] djenning90 commented on #1214
I have something I'd like to share that might be of interest to this group.

I have just completed implementation of a pretty sophisticated ERC20 contract for a full-featured vesting token. I rolled my own because what I've seen on the internet so far hasn't met our needs, which include many of the wishes expressed above. Our implementation is based on openzeppen-solidity as much as possible, and

[2019-03-18 20:43] djenning90 commented on #1214
Please see here: https://github.com/mediarichio/ProxyToken

[2019-03-18 21:04] djenning90 commented on #1214
I've shared the code to the world, for all to look at, reuse and improve upon. My other wish is to get some experienced fresh eyes on the Solidity code, to have a look for any obvious problems. Any comments, feedback or ideas will all be appreciated and used constructively. Thank you :-)

[2019-03-19 04:05] Skyge commented on #1682
There is some truth.

[2019-03-19 14:51] #1682 closed

[2019-03-19 17:08] djenning90 commented on #1214
Wishes stated in the above conversation that are supported by my implementation;
- Continuous vesting vs interval vesting: YES (shortest vesting interval is daily, which might be close enough to “continuous” for most applications)
- Uses SafeMath, and/or only works with range-restricted values always.
- Support for vesting schedule per beneficiary or a shared vesting schedule for many beneficiarie

[2019-03-19 18:13] #1676 closed

[2019-03-19 21:01] nventuro opened #1687 "Replace chai.should with chai.expect."
Throughout the codebase we're using `chai.should`, which patches _all_ objects so that they have the `should` property (this is done [here](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/cf7375d6b873afc9f705e329db39e2ef389af9d2/truffle-config.js#L1)).

It'd be great to get rid of that, and switch to `expect`, which is not only simpler due to it just requiring to import a function, but

[2019-03-19 21:16] nventuro commented on #1679
Hello @Aniket-Engg, thanks for reporting this!

Indeed, I was able to successfully compile the contracts with that change, but I also had to make the `data` argument be located in `calldata` as opposed to `memory` (since `external` functions cannot use it). I'm not sure if this means our function actually wrong in the first place: I've asked the Solidity team on gitter about it.

[2019-03-20 06:30] naddison36 opened #1688 "ERC20Burnable functions do not returns (bool)"
The `burn` and `burnFrom` functions on `ERC20Burnable` do not return a `bool` like other OZ ERC20 function. eg `ERC20Mintable.mint`
Is there a reason for this? Or has this simply been missed?

When I call `burn` from another contract, I'd like to check that the function call was successful by wrapping it in a `require`. This is not possible when `burn` does not return a `bool`.

**💻 Environment**

[2019-03-20 10:07] Skyge commented on #1688
Yeah, it will not return a `bool` indeed, because the [contract](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20Burnable.sol#L14 ) does not provide a return value, but it will trigger an event, maybe you can try to solve with it.

[2019-03-20 10:10] naddison36 commented on #1688
It's easy to fix. Shall I submit a PR?

[2019-03-20 10:33] Skyge commented on #1688
Just like what you said, `It's easy to fix.`, so I have already made a PR. Thanks for your help!

[2019-03-21 03:49] frangio commented on #1687
Can you explain what is an ugly hack about `(await promise()).should.bla.bla.bla`?

[2019-03-21 20:19] k06a opened #1690 "ERC20Typos adding discussion"
**🧐 Motivation**

I developed TypoToken ERC20 extension to solve a problem of typos in destination addresses and want to know if OZ maintainers think it is a good idea to add this extension to the library.

**📝 Details**

The idea is pretty simple:

1. Anyone whose destination address contains mistakes can reclaim lost funds
2. Anyone who sends tokens to wrong smart contract address can reclaim lo

[2019-03-22 07:04] Skyge commented on #1690
Hi, I think [ERC223](https://github.com/ethereum/eips/issues/223) and [ERC777](https://github.com/ethereum/eips/issues/777) are similar to your contract, so what are the differences between yours and them?

[2019-03-22 07:06] k06a commented on #1690
@Skyge in case of receiver is a wallet not a contract ERC20Typos allows to recover sent token.

[2019-03-22 09:31] Skyge commented on #1690
oh, I see, but does this mean that the balance of your wallet may be not accurate, because recovering sent token may occur at any time. In order to ensure a exact address, there is a [ERC681](https://github.com/ethereum/EIPs/blob/30385fef6fc23e3ac896fea254ea61bd85f4ea92/EIPS/eip-681.md) which propose `URL Format for Transaction Requests` provides for the wallet, besides that, I am not sure whether

[2019-03-22 10:49] bitcoinmeetups opened #1691 "Can you post a link to a standard ERC-20 template, easily modifiable, that works with the latest version of online Remix?"
Can you post a link to a standard ERC-20 template, easily modifiable, that works with the latest version of online Remix?

Hi there,

I am looking for an updated and stable standard ERC-20 smart contract template which will pass through Remix compilation (latest version) without errors. The template should preferably be easy to modify as well.

Could any of you guys please send a link to the right

[2019-03-22 17:47] felix2feng opened #1692 "SafeERC20 inaccurate comment - Does not revert on non-true value"
@nventuro We have considered migrating our own implementation of SafeERC20 with the OpenZeppelin one and found that Tokens that return numbers in approve/transferFrom operations do not revert. In the code itself, it says that the return value must be true.

See here for a mock token you can test against:
https://github.com/SetProtocol/set-protocol-contracts/blob/master/contracts/mocks/tokens/Inval

[2019-03-23 00:20] djenning90 commented on #1674
Thank you all for gently directing me to the right place. I'm learning how best to use these forums and really appreciate your help. Got a conversation going over in the TokenVesting contract thread.

I'll close this issue now.

[2019-03-23 00:20] #1674 closed

[2019-03-24 08:33] Skyge commented on #1692
I am not sure what do you mean? ` return numbers in approve/transferFrom operations do not revert`?

[2019-03-24 17:51] jochenonline commented on #1322
Any news about this topic?

[2019-03-24 21:45] MichalZalecki commented on #1322
@jochenonline Currently the go-to resources are: https://github.com/SecurityTokenStandard/EIP-Spec and https://github.com/ConsenSys/ERC1400

[2019-03-25 06:13] Aniket-Engg commented on #1679
Thanks @nventuro  for your efforts. I think @chriseth  [response](https://gitter.im/ethereum/solidity-dev?at=5c9200c1d0133e21e5e48351) on gitter explains that this can be done without any negative impact.

[2019-03-25 16:13] frangio commented on #1692
Hi @felix2feng. When an operation has a a return value, `SafeERC20` interprets it exactly as Solidity would, for backwards compatibility. If a contract returns a non-zero number in place of a bool, Solidity will interpret it as `true`, and so `SafeERC20` considers it a success and does not revert.

You're right that the comment is not accurate. We should change it to reflect the actual semantics.

[2019-03-25 16:23] frangio commented on #1691
HI @bitcoinmeetups! Have you tried the [latest version of ERC20](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol) in the repository? It works perfectly fine on Remix. If you want to "copy-paste it" you will also need to manually copy-paste the imported files, or use something like [`truffle-flattener`](https://github.com/nomiclabs/truffle-flattener

[2019-03-25 16:23] #1691 closed

[2019-03-25 17:27] #1692 closed

[2019-03-25 20:30] nventuro commented on #1688
Hey there @naddison36, @Skyge, thank you both for your help!

In OpenZeppelin, we adopt the convention that functions `revert` when encountering an error condition, as opposed to returning an error value. We believe this is safer, since it is very easy to forget to handle an error, which may have catastrophic consequences. Because of this, a call to `burn` will either succeed, or revert.

The fact

[2019-03-25 20:30] #1688 closed

[2019-03-26 18:51] nventuro commented on #1679
Putting on hold until the next major release as discussed in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1694.

[2019-03-26 19:13] nventuro commented on #1687
'Hack' isn't really the best name, but I dislike having to wrap the thing in parenthesis simply due to how `await` works (which is IMO a quirkiness of the language, which wouldn't happen if e.g. `await` was a function).

That said, I much prefer `expect` due to it being a verb, and allowing things like `expectFailure`, `expectEvent`, `expectRevert`, etc.

[2019-03-27 04:49] Aniket-Engg commented on #1685
Is this only for the present maintainers?

[2019-03-28 07:26] bitcoinmeetups commented on #1691
Ok. I'm looking for something more similar to this example (see below). In this contract it is easy to find the parts to be replaced (they are near the "change these values for your token" section at the end).

Also, this contract is generally more nicely commented and looks neater.

Do you have something like this or can you help me further in any way?

pragma solidity ^0.4.4;

contract Token {

[2019-03-28 17:55] nventuro commented on #1691
@bitcoinmeetups I think that style is extremely dangerous, and I'd highly encourage you to not use it. Our design philosophy at OpenZeppelin is to reduce the potential for user error by disallowing low-level access to a contract's internals (e.g. its storage slots) and providing a restricted API that can be more easily reasoned about.

[2019-03-28 17:59] frangio commented on #1691
@bitcoinmeetups The closest thing we can offer is our [`SimpleToken`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/examples/SimpleToken.sol) example.

[2019-03-29 08:31] Flash-Git opened #1697 "Inconsistent punctuation use in comments"
There doesn't appear to be a standard when it comes to whether to have a periods in the comments above contract functions.

[ERC721.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC721/ERC721.sol
)
[code]

[ERC20.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol
)
[code]

I don't know why I noticed...

[2019-03-29 14:04] frangio commented on #1697
Thanks for spotting this!

All `@dev` documentation should have punctuation. I'm not sure about `@param`. We are planning to write a style guide for this soon, but this simple criteria should be enough if someone is interested in making a PR for it.

[2019-03-29 14:06] frangio commented on #1685
@Aniket-Engg This specific message was for present/past maintainers, yes. However, we are interested in growing the group of maintainers. Please join the Zeppelin forum and [send us a message](https://forum.zeppelin.solutions/g/oz-maintainers) so we can talk about it!

[2019-03-29 14:08] Flash-Git commented on #1697
I don't mind doing it if I have time this afternoon.

[2019-03-30 18:46] zhek opened #1701 "Refactoring function ownerOf in ERC721.sol"
Check the presence of a token using the function  _exists.  Now the ownerOf function corresponds to the getApproved function.

[code]

[2019-03-31 08:51] princesinha19 commented on #1701
can you explain in detail @zhek

[2019-03-31 20:27] Aniket-Engg commented on #1685
@frangio I have joined the forum but it is not allowing me to send message because I am a new user.

[2019-03-31 21:59] zhek commented on #1701
In the proposed variant, the existence of the token is checked using the _exists function. As already done in the getApproved function.

[2019-04-01 07:12] princesinha19 commented on #1701
okay. But I don't think that there is much need for this. I had a look into the code, I think we should do more error handling and checks in all functions. what do you think @frangio @nventuro?
If you want I can create a PR.

[2019-04-01 17:39] frangio commented on #1073
After some consideration we decided not to implement this. We haven't received any _real_ requests for it, and "it would seem to make sense" does not justify the added cost and complexity of adding ERC165 to ERC20.

Thanks for the suggestion regardless @dougiebuckets!

[2019-04-01 17:39] #1073 closed

[2019-04-02 04:26] nventuro commented on #1701
Hello @zhek! I'm not sure what you mean, are you suggesting rewriting `_exists` in terms of `ownerOf`?

[2019-04-02 05:16] princesinha19 commented on #1701
@nventuro I think he mean that we should first check, is the token e exists using _exists() in ownerOf() method. Just like getApproved().

[2019-04-02 05:41] nventuro commented on #1701
Ahh, I see. For reference for everyone else, these are the functions being discussed:

[code]

Yes, I did think of that when revising `ownerOf` recently, but unfortunately due to how Solidity's codegen works, that would mean performing an extra `SLOAD` (since `_exists` doesn't return the owner). I think `ownerOf` is short and readable enough that the benefit of performing that deduplication may no

[2019-04-02 06:03] smrMadhan7 opened #1705 "Couldn't burn tokens by accessing from contract even after approval"
I'm trying to call burnFrom() in the token from a contract by creating a interface object. After approval transferFrom() works fine whereas an error thrown while calling burnFrom().

for example, I've token X deployed. I'm calling it from an other contract with IERC20 tokenX object.

function burnToken(address _address,uint256 value) public{
        Token.burnFrom(_address,value);
    }

[2019-04-02 08:54] zhek commented on #1701
yes

[2019-04-02 09:12] princesinha19 commented on #1701
https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1701#issuecomment-478905701

I did this too in my PR #1702. Please have a look @nventuro.

[2019-04-02 15:05] Skyge commented on #1705
Yeah, what is the  error?
I think when we use  the function `approve()`, what we are doing actually is that
[code]
 so if we want to call the function `burnFrom()` by this way `Token.burnFrom(_address,value);`, what we should do is that at first,` approve(contractB, value)`, then just call `Token.burnFrom(_address,value);` in the contractB. I think this will be OK. But it will be some weird, you c

[2019-04-02 15:21] Skyge commented on #1705
Yeah, what is the  error?
You can refer to this contract [ERC20Burnable.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20Burnable.sol). I think your way is a little weird.

[2019-04-02 16:09] nventuro commented on #1705
Could you share your setup in greater detail? Keep in mind that if you call `burnFrom` from another contract, then _that contract_ is the one that you need to approve.

[2019-04-03 04:42] balajipachai commented on #1182
@nventuro
I am willing to work on this, however, I am not getting what exactly has to be done?
Could you assist me on the same, so that I start working on it?

[2019-04-03 05:43] smrMadhan7 commented on #1705
Yeah, I've done that. That's why I mentioned transferFrom() works fine.

This is the code I'm executing. The token is created with open zeppelin 0.5.2 standard. I've an interface which has burnFrom(). I just don't get it, If transferFroms works in the sense burnFrom() should also work. But its throwing an error
 function returnToken(uint256 _amount) public returns(bool){

        require(HeliusTok

[2019-04-03 06:04] smrMadhan7 commented on #1705
Yeah, I've done that. That's why I mentioned transferFrom() works fine.

This is the code I'm executing. The token is created with open zeppelin 0.5.2 standard. I've an interface which has burnFrom(). I just don't get it, If transferFroms works in the sense burnFrom() should also work. But its throwing an error.

function returnToken(uint256 _amount) public returns(bool){
    require(Token.balance

[2019-04-03 15:31] martriay commented on #1685
@Aniket-Engg hi! That's weird, I'm seeing your profile and everything looks normal

[2019-04-03 15:58] frangio commented on #1182
Hi @balajipachai! This is about the comments for `constant` variables throughout the project. Quoting the original issues mentioned in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1086#discussion_r208780472:

[link1]: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/4c6575bf2fdf97af517b9c1aea886125bab8c4af/contracts/introspection/SupportsInterfaceWithLookup.sol#L14
[link2]:

[2019-04-03 16:02] frangio commented on #1685
@martriay It's sorted. Thanks.

[2019-04-03 16:13] frangio commented on #1701
I agree with @nventuro that the code is short enough that we should prioritize the cheaper implementation.

[2019-04-03 16:13] nventuro commented on #1705
Could you share a snippet of how you call `transferFrom `in that contract?

[2019-04-03 16:29] Skyge commented on #1705
contract `ERC20Burnable.sol` is that:
[code]
contract` ERC20.sol` is:
[code]
Deploy the contract `ERC20.sol`  with the account1, then deploy the contract `ERC20Burnable.sol`, call `approve(address(account1), address(ERC20Burnable), 100)`, then call `burnFrom(address(account1), 50 )`, it will be OK, it will burn the `ERC20Burnable` approval token, but I think this way is a little weird. I prefer [t

[2019-04-03 17:57] #1701 closed

[2019-04-03 18:13] nventuro commented on #1705
@Skyge to clarify, I was requesting @smrMadhan7 to post a snippet of _their_ contract with the `transferFrom` call.

[2019-04-03 19:47] balajipachai commented on #1182
@nventuro & @frangio
Fixed the #1182 - Improve constants inline documentation
Opened a PR #1707

[2019-04-03 22:56] Skyge commented on #1705
Yeah, I also think he should provide more details about his contract, in order to we can quickly help him solve it.

[2019-04-04 05:00] smrMadhan7 commented on #1705
This is the code used for token.
pragma solidity 0.5.0;

import "./Roles.sol";
import "./MinterRole.sol";
import "./Ownable.sol";

/**
 * @title SafeMath
 * @dev Unsigned math operations with safety checks that revert on error
 */
library SafeMath {
    /**
     * @dev Multiplies two unsigned integers, reverts on overflow.
     */
    function mul(uint256 a, uint256 b) internal pure returns (uint2

[2019-04-04 10:44] Skyge commented on #1705
It looks like a standard contract, so I think it will work fine. So if `accountA` has 100 tokens, then he calls `approve(accountB, 50)` to give `accountB` approval 50 token, if `accountB` want to burn 30 tokens, then ha can call `burnFrom (accountA, 30)`.

[2019-04-04 13:41] smrMadhan7 commented on #1705
@Skyge  I too thought the same, but it didn't work. I even went through the code multiple times, nothing seems odd.

[2019-04-04 20:12] AleG94 commented on #1657
I'm getting the same issue. It seems to be related to calling a function inside the constructor. If I remove the function call and move the code directly inside the constructor it works just fine.

[2019-04-04 21:15] nventuro commented on #1657
@AleG94 what makes you believe truffle is the culprit?

[2019-04-05 08:28] AleG94 commented on #1657
@nventuro I'm using my own contract and had the same issue. I solved it by updating to `solc 0.5.7` and removing `evmVersion` from settings. So it probably wasn't truffle's fault.

[2019-04-05 11:44] smrMadhan7 commented on #1705
Thanks @Skyge

[2019-04-05 16:02] frangio commented on #1705
@smrMadhan7 We're not giving up on helping you to make this code work.

So, to be clear, you're replacing `XToken.transferFrom(msg.sender,address(this),_amount)` with `XToken.burnFrom(msg.sender,_amount)`, right?

Your code looks very weird for a couple of reasons. Why are you defining your own `ERC20Burnable` with `MinterRole`? You should be using OpenZeppelin contracts as-is. You can use `ERC20B

[2019-04-05 18:08] spalladino commented on #498
I'm interested in this feature!

[2019-04-05 18:17] nventuro commented on #498
@spalladino could you share a bit of detail as to:

a) what sort of capabilities you'd expect from an OpenZeppelin RSA verifier?
b) what use case you're targeting, and why you need RSA as opposed to e.g. ECDSA?

[2019-04-05 18:21] nventuro commented on #1657
@WyseNynja have you tried what @AleG94 suggests?

[2019-04-05 19:53] nventuro opened #1709 "Reason strings for all require statements"
Supersedes #888.

This is _way_ overdue, but a big push during these last couple weeks for it took it to the point where we're now comfortable to include it in the library.

There was some discussion about formatting in our [forum](https://forum.zeppelin.solutions/t/openzeppelin-solidity-requires-do-not-have-string-reason-messages/388), which culminated in [this post](https://forum.zeppelin.soluti

[2019-04-05 19:54] nventuro commented on #888
The time has finally come to work on this! I'm closing this issue in favor of https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1709, where we should track progress, further discuss any issues that arise, etc. Thanks everyone for your help!

[2019-04-05 19:54] #888 closed

[2019-04-05 21:43] Skyge commented on #1705
I've helped him out in private, so he closed the issue, the exact reason is that he wrote an interface, it is OK that he gave a return value in a function, but when he rewrote the function, he forgot to give a return value, so it always throws out an error.

[2019-04-06 03:36] balajipachai commented on #1709
@nventuro I have started working on it :)

[2019-04-06 05:12] princesinha19 commented on #1709
@nventuro what about ERC721. I think it should be the same as `ERC20: null transfer recipient `

[2019-04-06 05:16] princesinha19 commented on #1709
@nventuro what about other requtire statement other than require(owner != address(0)). Like require(_exists(tokenId)) Should I write **token doesn't exist**?

[2019-04-06 05:24] #1705 closed

[2019-04-07 21:32] jdowning100 opened #1711 "ECDSA.sol recover() returns different address than ecrecover()"
I may be going crazy, but it seems like ECDSA.recover() and ecrecover() return different addresses.

**🔢 Code to reproduce bug**
Here's what I get from web3.accounts.sign():
[code]

Here's the solidity code:

[code]
[code]
**📝 Details**
![Screenshot from 2019-04-07 16-25-23](https://user-images.githubusercontent.com/26939949/55690035-d575c900-5951-11e9-8937-0cbbbac4f67a.png)
Is this even possible?

[2019-04-08 16:36] nventuro commented on #1711
Hello @jdowning100! I believe the issue is that you're recovering two different hashed messages: in the `ECDSA` test you provide the same `hash` value as you do for `h` in the `ecrecover` test, but this second one doesn't expect a hash like `ECDSA` does, but a message instead (which it then hashes).

[2019-04-08 17:47] jdowning100 commented on #1711
That's actually not true - ecrecover() expects a hash of the message: https://github.com/ethereum/solidity/blob/develop/docs/units-and-global-variables.rst#mathematical-and-cryptographic-functions
But anyways, I discovered what I did wrong. The ECDSA contract has a function toEthSignedMessageHash() for prefixing the message hash with the proper "\x19Ethereum Signed Message:\n32" prefix but the fun

[2019-04-08 17:47] #1711 closed

[2019-04-08 18:53] frangio commented on #355
There is a PR in geth that might enable this soon. https://github.com/ethereum/go-ethereum/pull/16834 (Introduce debug_increaseTime RPC method)

[2019-04-08 21:31] nventuro commented on #727
After discussing this further with @alcuadrado, we came to the conclusion that placing PoW requirements for prevent spam wouldn't really be a great solution, since it is not very expensive to purchase computing power (much) more powerful than the equivalent of running JavaScript inside a browser.

I think many of us like this idea because it sounds cool, but it lacks a real use-case. Closing until

[2019-04-08 21:31] #727 closed

[2019-04-08 21:53] nventuro commented on #1711
Yes, my bad - what I meant is that _your test function_ expected the hash (since `ECDSA.recover` does no hashing or prefixing).

Jeez, these sort of things don't even surprise me anymore, but still.

[2019-04-08 22:50] nventuro commented on #1709
I think so, yes (unless we can also add `token to transfer doesn't exist`, for `mint`, `transfer, `burn`, etc.).

[2019-04-08 22:55] nventuro commented on #443
After giving this some more thought, I now believe this is out of scope of the baseline `Crowdsale` contract (on which there's no concept of the crowdsale 'ending' due to a goal being reached, the funding window being closed, etc.). Such a feature can be implemented by passing an `Escrow` as the crowdsale wallet, but we cannot force this without fundamentally changing how the current model works.

[2019-04-08 22:55] #443 closed

[2019-04-08 23:07] nventuro commented on #1660
I don't think Solidity will be adding support for generics soon, and would like to at least get an initial implementation for common types, like `uint256` and `address`. A FIFO queue implemented using a circular buffer with read and write indexes sounds like an appropriate MVP for this.

[2019-04-08 23:18] frangio commented on #1660
We should implement for `address` only IMO.

I thought this issue was about linked lists? I don't understand how a circular buffer would work in the EVM where it's not possible (and not reasonable?) to "lock" until a slot in the buffer is available.

[2019-04-08 23:21] frangio commented on #1660
I think linked lists would be a useful structure to have in the EVM but the motivation in this issue is not the right one.

It's not necessary to use space efficiently in the EVM because there is effectively an infinit amount of it. A FIFO queue can be implemented by a dynamic array in storage. Rearranging elements is not necessary because you can assume that there is infinit room to grow the arra

[2019-04-08 23:31] nventuro commented on #1660
Heh, I got carried away with the circular buffer idea.

An array-based FIFO is definitely possible and cheaper in the EVM: we'd just need a read index to read elements (which are `delete`d, but are still in the array), writing is simply `arr.push()`. Note that this means that the length of the queue is not `arr.lenght` but `arr.lenght - read_idx`.

[2019-04-08 23:52] frangio commented on #1709
I thought we had agreed not to use the word "null" for zero addresses. It's a bit confusing because in the context of Ethereum transactions a null value in the `to` field has a special meaning (makes it a contract creation transaction).

[2019-04-09 00:22] nventuro commented on #1709
`zero-address transfer recipient`? A bit of a mouthful.

[2019-04-09 00:47] Skyge commented on #1660
I am not sure, in my opinion, if I do not recycle space, I think it will be a little weird, because when we delete the first element in an array, array[0] still exists, but its value becomes undefined, so maybe when I try to update an element in the array, I should add a extra requirement `require(array[index]!=address(0))`, so I think it is a little weird and I want to recycle space.

[2019-04-09 00:49] Skyge commented on #1660
Yeah, maybe we can try it in this way.

[2019-04-09 00:51] nventuro commented on #1660
You do get the recycling of space, since you zero-out the slot. This is roughly what I (and I think @frangio) mean (untested!):

[code]

[2019-04-09 01:17] Skyge commented on #1660
I become a little confused, you said
[code]
Just like your code, I call `pop()` to delete the first element, the value of `_array[0]` change from a specific value to `address(0)`, so although I can still call `_array[0]`, but it does not use any space, does it?

[2019-04-09 01:40] frangio commented on #1709
What about just "zero" or "empty"?

[2019-04-09 03:15] princesinha19 commented on #1709
What about 'empty or zero transaction recipient'.

[2019-04-09 05:03] nventuro commented on #1660
On the EVM, all storage slots exist (they can be read from and written to), and are initialized with 0. Nodes simply keep track of which ones have been written with a non-zero value, and delete slots from that list when you write zero to them. It is because of this that changing a value from zero to non-zero is more expensive than from non-zero to non-zero, and why changing it back to zero refunds

[2019-04-09 08:52] Skyge commented on #1660
Oh, I see, thanks for your explanation.

[2019-04-09 15:51] alcuadrado commented on #1531
#533 is quite old, and there's some discussion in that issue related to the security/correctness of using `block.timestamp`. I think that discussion is not relevant anymore, but the original prosal by @martriay is still relevant.

There's some ambiguity in #533, as it is not clear if it proposes `Date` to be a function or a type because of the capital D. I think it was intended to be a function, w

[2019-04-09 16:13] nventuro commented on #1660
@Skyge I think this issue is larger than simply coding a FIFO queue, since e.g. even if we did it for `address`, it wouldn't be useful for you and your custom data structure. I opened a [post in the forum](https://forum.zeppelin.solutions/t/data-structures-lists-queues-trees-etc/510) to discuss this and other ideas, come take a look! Closing the issue to continue discussion there.

[2019-04-09 16:13] #1660 closed

[2019-04-09 16:47] alcuadrado commented on #1531
The reason I commented on this issue is that while auditing a smart contract I found errors in the way dates were computed.

The contract I was auditing had to lock some tokens until a certain date. It computed dates with `now + offset`. This has two problems: (1) it depends on the deployment date. (2) the offset is easy to get wrong (spoiler: it was wrong).

I'd love to recommend the authors to u

[2019-04-09 16:49] frangio commented on #1531
So, functions to create timestamps from human dates: `date(2019, 06, 12)`, `datetime(2019, 06, 12, 00, 00)`. Sounds quite reasonable and useful.

Would these functions return the `uint256` timestamp directly, or a struct with operations?

Also, how should we deal with timezones?

---

@alcuadrado Mind sharing how it was wrong exactly?

[2019-04-09 18:58] nventuro commented on #1531
Timezones are a mess, and DST only complicates matters further. I'd make it so that times specified in either UTC, or at a fixed offset (e.g. UTC+8 for Hong Kong, UTC-4 for Chile, etc.).

[2019-04-09 19:07] alcuadrado commented on #1531
I think functions would be more efficient.

Btw, some of the functions in [this library](https://date-fns.org/) are also super useful.

I'd only do UTC. I don't see a way of managing timezones trustlessly, as any government can change their country's timezone whenever they want.

The offset was expressed as `<base> * <units multiplier>`, and the `<unit multiplier>` was wrong. Still, if it weren't

[2019-04-09 22:43] nventuro commented on #1602
While interesting and not super hard to introduce, this causes multiple issues with [`openzeppelin-eth`](https://github.com/OpenZeppelin/openzeppelin-eth) because it changes the layout of the `Roles` struct, and an upgrade would require a difficult migration in order to be correct (i.e. one where all current role bearers are passed so that they can be added into the array.

Tagging this as an idea

[2019-04-09 23:37] ckshei commented on #1357
I'd like to try and help work on this!

[2019-04-09 23:45] ckshei commented on #1357
I'll probably need a bit of guidance though - are we looking to change all references in anyone to "other" in the tests, or only in some specific instances, or only in the description?

[2019-04-09 23:59] Skyge commented on #1660
OK

[2019-04-10 03:21] nventuro commented on #1357
I think just the account name: test descriptions to go 'tokens can be transferred to anyone' are actually correct (assuming anyone is no-none :stuck_out_tongue:).

[2019-04-10 16:35] golivax opened #1716 "Adding a header to OpenZeppelin contracts"
**🧐 Motivation**

The contracts produced by the OpenZeppelin team are of high quality. So when I go Etherscan and check the source code of a verified contract, I tend to trust it more when I can see that it's reusing OpenZeppelin implementations instead of reinventing the wheel. However, this is far from trivial to do. A lot of times I simply don't know if a subcontract from a verified contract is

[2019-04-10 21:44] ckshei commented on #1357
:+1: got it. @nventuro, am I changing each instance of `from: anyone` to `from: other`? Or are some of the "anyone's" valid in the tests?

In other words, I'm only changing this:
[code]
to
[code]

[2019-04-10 21:56] nventuro commented on #1357
Correct! I don't think we want to leave any instance of `anyone`: the core issue is that 'anyone' shouldn't be an account name (because it belongs to 'someone'). 'other' implies that that account isn't special (and represents 'anyone', which is why we leave it in the test descriptions :stuck_out_tongue:).

[2019-04-10 23:40] Skyge commented on #1716
Although  the OpenZeppelin team can do it following your suggestion, as for the contract writers, whether they would keep this comment in their code, what is more, if some writers do not use OpenZeppelin contract, but they want to get others trust, they would add these in their contracts. So the key point of your suggestion is that if the OpenZeppelin team would like to do these, they must audit c

[2019-04-10 23:45] Skyge commented on #1660
Hi, @nventuro I can not find the post in the forum, so do we delete it?

[2019-04-11 02:52] frangio commented on #1660
@Skyge It had been deleted but I think it was an accident. I have restored it now. Apologies.

[2019-04-11 05:03] ckshei commented on #1357
Got it. @nventuro - You can see my first attempt here: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1718

I changed all the references of "anyone" in the code to "other" and I'm pretty confident I didn't miss any. Just not sure if I might have done a few that weren't meant to have changed. I think I noticed one instance where "other" was declared but never actually used. I could remo

[2019-04-11 15:34] #1357 closed

[2019-04-12 00:10] ckshei commented on #1687
tagging this - I can work on this next

[2019-04-12 18:17] golivax commented on #1716
Thanks for the reply, @Skyge. However, I feel the goal is not really to enforce anything. Instead, it is more of a way for the OpenZeppelin project to ensure that its impact is widely recognized throughout the community. I feel it would be particularly helpful for novice end-users who have just a basic understanding of Solidity. Ultimately, there is tons of great work being done here and it would

[2019-04-12 20:24] WyseNynja commented on #1657
Just cleared my build artifacts, ran `yarn upgrade` and changed my contracts to use solc 0.5.7. `yarn compile` works successfully and most of the contracts are able to migrate, but TutorialToken still fails:

[code]

I can't share my repo, but I'll try to make a repo that can reproduce this sometime in the next week o two.

[2019-04-15 02:48] fulldecent commented on #1073
It case anybody is still interested, the 0xcert Framework implementation of ERC-20 does support ERC-165. That is here https://github.com/0xcert/framework/tree/master/packages/0xcert-ethereum-erc20-contracts

And yes that effort was inspired by this issue opened here.

[2019-04-15 17:43] frangio commented on #1716
This is a great suggestion @golivax, thank you!

I have to agree with @Skyge that if we add a header it should not be for this purpose, because it can be easily "falsified". However, I think a header can still be valuable as a first hint that some code may be OpenZeppelin's.

I'll think of a format for the header.

[2019-04-16 01:41] Skyge commented on #1716
@frangio I have got to say please think about it seriously, I do not think this is a good idea, as a matter of fact, no matter who want to write a safe, effective and vulnerable-less contract, he/she will come here for some idea, but I think they will not use the contract directly, he/she will make some changes to satisfy their own requirements. yeah, he/she really uses most of the contract of Ope

[2019-04-16 16:13] #1159 closed

[2019-04-17 19:38] #1182 closed

[2019-04-17 19:45] nventuro commented on #1668
We've been discussing this a bit, and it's not entirely clear whether or not this could inadvertently create unsafe reentrant scenarios, so we're pausing development on this one until we have a clearer idea of the consequences of our decision.

[2019-04-22 18:31] ckshei commented on #1687
@nventuro I updated one of the tests and wanted to see if I was on the right track with what you were thinking. Could you look it over and let me know your thoughts?

https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1723

[2019-04-22 20:31] #157 closed

[2019-04-23 22:06] #1595 closed

[2019-04-23 22:49] Arachnid opened #1726 "Stop bumping the minimum solidity version"
OZ seems to regularly bump the version required in headers - for instance, recently it was bumped from `^0.5.0` to `^0.5.2`. Since Truffle is currently pinned at 0.5.0, this breaks OZ for all Truffle projects until Truffle updates.

The pragma is intended to specify the minimum version with which the code is compatible. Can you please stop bumping it except where it *requires* the new compiler ver

[2019-04-23 23:22] frangio commented on #1726
Thanks for bringing this up @Arachnid! We really appreciate hearing other opinions about this.

Please see our rationale for bumping to 0.5.7 here: [OpenZeppelin forcing Solidity version upgrade to v0.5.7](https://forum.zeppelin.solutions/t/openzeppelin-forcing-solidity-version-upgrade-to-v0-5-7/525).

Given this, would you still say that we shouldn't bump to 0.5.7? Note that Truffle is not _pinne

[2019-04-24 00:40] rhlsthrm commented on #1241
Not seeing the require reasons in the latest code here: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L41. How can we access the version with the require messages?

[2019-04-24 02:00] nventuro commented on #1241
@rhlsthrm they're being introduced [this PR](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1709), and will be released in v2.3, for which a release candidate will be out tomorrow, and the actual release likely next week.

[2019-04-24 14:23] nventuro opened #1727 "Improve revert reason when assuming interface compliance"
As discussed in [this review comment](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1704#discussion_r277462537), it'd be interesting to wrap calls to unknown contracts for which an interface is assumed in a low-level call that returns a custom revert reason on error, to better describe what went wrong.

[2019-04-24 16:49] Jwdev-wr opened #1728 "ERC1155"
ERC1155 new contract for NFT/FT's can we get this in Zeppelin?

[2019-04-24 21:19] Arachnid commented on #1726
I think that a library should be non-opinionated. Each component's version should be the earliest one you're confident works safely.

If you bump the minimum version each time a release comes out, you'll create a perverse situation where people pin their version of Open Zeppelin to one that doesn't break their build, and update *that* infrequently - the exact opposite of what you're trying to achi

[2019-04-24 22:32] #1726 closed

[2019-04-24 22:36] nventuro commented on #1726
@Arachnid thank you for bringing this up. After discussing this we decided to relax this requirement, and try to get other parts of the development ecosystem, such as truffle, to suggest upgrading compiler versions. We'll be reverting this change for the v2.3 release.

There's an option on the truffle configuration file to set a compiler version: a new project will have these contents there:
[code

[2019-04-25 15:39] frangio opened #1730 "Improve categorization of contracts in documentation"
The 2.3 documentation site puts related contracts together in the same page, divided according to some categorization. For example [Crowdsale contracts](https://v2-3-0-rc-1--openzeppelin-docs-next.netlify.com/api/crowdsale) are divided according to what they affect: emission, price, validation, or distribution. [ERC20 contracts](https://v2-3-0-rc-1--openzeppelin-docs-next.netlify.com/api/token/erc

[2019-04-25 15:56] frangio commented on #1727
A concrete example where whoever works on this should begin is this line in `ERC721`:

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/af55a843e3e2d9c941712788a3e0318988f2bd06/contracts/token/ERC721/ERC721.sol#L284

This line can revert if the receiver doesn't implement the `onERC721Received` function. It can also revert if it does implement it but something in the implementation like a

[2019-04-29 15:52] nventuro opened #1731 "Add backwards compatilibty with ERC20 for ERC777"
A major feature of ERC777 is that it can be used as if it were an ERC20 token: we should implement this interface to enable this use case.

Due to ERC777's state variables being private, the most straightforward way to achieve this would be by having this backward compatibility baked-in into the contract. We could then provide a second contract that disables the ERC20 functions (by calling `revert

[2019-04-29 16:26] frangio commented on #1731
I don't think we should provide the non-ERC20-compatible contract for now. Let's wait and see if there is demand for it.

[2019-04-30 13:13] balajipachai commented on #1727
@nventuro I have started to look into it

[2019-04-30 22:21] nventuro commented on #1728
This is the EIP, for reference: https://eips.ethereum.org/EIPS/eip-1155

It looks quite interesting and there's a lot of activity in the discussion, it may make a lot of sense to include something like this in OpenZeppelin.

@WhiteRaBot17 are you planning on using this standard? Could you share a bit more about your project?

Thank you very much for this suggestion!

[2019-05-01 05:05] WhiteRaBot17 commented on #1728
@nventuro I am experimenting with ERC721 contracts for game assets. The ERC1155 is similar to the ERC721 standard but it has a bit more functionality by introducing the double mapping. While ERC721 is capable of serving the purpose, the ERC1155 gives the ability to do batch transfers. So we can create multiple items, and transfer multiple items or multiple quantities of the items.

I know that Uni

[2019-05-02 17:58] #1605 closed

[2019-05-04 19:38] frangio opened #1736 "Add ERC721 _safeMint and _safeTransferFrom"
`ERC721` has `safeTransferFrom` that forces a receiver contract to implement the `onERC721Received` function. Just like our other ERC implementations, we should have an internal `_safeTransferFrom` that does the same thing without requiring anything of `msg.sender`. Note that we already have an internal `_transferFrom`.

Similarly, we should add `_safeMint` as an alternative to `_mint`, with the a

[2019-05-06 14:20] nventuro commented on #1736
From the [EIP](https://eips.ethereum.org/EIPS/eip-721):

(the events documentation only discusses emitting a` Transfer` event, which we do)

Note that only `safeTransferFrom` is required to call `onERC721Received`, `transferFrom` does **not** have that requirement. We could add a new `_safeMint` function that performs the check.

As a workaround until this issue is fixed, a contract minting tokens

[2019-05-06 14:51] frangio commented on #1736
Good point.

I like this idea! Makes a lot of sense to me.

[2019-05-06 15:00] frangio commented on #1736
Hm, we don't have an internal `_safeTransferFrom`... We should add both `_safeTransferFrom` and `_safeMint`. Does this sound ok?

[2019-05-06 19:15] nventuro commented on #1736
Yes, given that we _do_ have `_transferFrom`. Note that we should go for the variant with the `data` parameter.

[2019-05-06 22:28] startgeek opened #1738 "npm install error in Windows"
when I try to npm install openzeppeli-solidity I reach this err:

os: windows 10

[code]

i cleaned npm cache but nothing so far
I can't complete my pull request because of this and TimeFrame future is delayed
Also there are tons of deprecated warning's

[2019-05-06 23:05] frangio commented on #1738
Thanks for reporting this @startgeek. I think I've fixed it (b84c145c). Could you please try now?

[2019-05-07 00:26] startgeek commented on #1738
nope still same error bro

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! openzeppelin-docsite@github:OpenZeppelin/openzeppelin-docsite#a21e2688298f6f612d69212973a7e56bc1455f57 postinstall: `scripts/postinstall.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the openzeppelin-docsite@github:OpenZeppelin/openzeppelin-docsite#a21e2688298f6f612d69212973a7e56bc1455f57 postinstall script.
npm

[2019-05-07 01:06] startgeek commented on #1738
i deleted package.lockjson before and try but still no progress
and funny thing it,s working on my MacOs MOHAVE

[2019-05-07 22:11] frangio commented on #1738
Please try again now.

[2019-05-07 22:34] startgeek commented on #1738
congratulations @frangio

added 1578 packages from 1503 contributors and audited 226267 packages in 359.087s
found 7 vulnerabilities (1 low, 3 moderate, 3 high)
run `npm audit fix` to fix them, or `npm audit` for details

works like a charm

[2019-05-07 22:38] frangio commented on #1738
I'm glad. To be honest though, I doubt that the available scripts we have, like `npm run test`, will work... It's hard for us to support a Windows development environment because we don't use one. I would recommend to test your pull requests on Travis instead of locally.

[2019-05-07 22:38] #1738 closed

[2019-05-08 02:07] frangio opened #1740 "Does solc calculate a keccak256(...) constant at compile time?"
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/86f214b7a3cb6b938463a3509ccd273ad7a04d44/contracts/drafts/ERC777/ERC777.sol#L28-L29

Last time I checked (several months ago), this resulted in the `keccak256` _calculation_ being inlined in the code, instead of the resulting hash.

[2019-05-08 15:03] nventuro commented on #1740
I did a quick test on remix, and, it doesn't. Looks like this is the issue tracking this feature: https://github.com/ethereum/solidity/issues/4024

[2019-05-08 15:05] frangio commented on #1740
We should replace it for the value in the source code then IMO. LIke we did for interface hashes.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/86f214b7a3cb6b938463a3509ccd273ad7a04d44/contracts/token/ERC721/ERC721.sol#L19-L21

[2019-05-08 16:12] nventuro commented on #1709
Closed via https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1704.

[2019-05-08 16:12] #1709 closed

[2019-05-08 16:13] #1731 closed

[2019-05-08 18:12] #1740 closed

[2019-05-09 14:54] crazyrabbitLTC opened #1743 "Deployment of ERC777 with Truffle Migrations doesn't work."
A requirement to deploy ERC777 requires a local instance of ERC1820 to be deployed, which does not exist on a local Test network.

There are several issues here:
1: ERC777 fails to deploy, but does not communicate to the user the reason why it failed. No revert/require statements fail with a description why. It is not communicated with the user that the lack of an ERC1820 contract is the problem.

[2019-05-09 15:19] frangio commented on #1743
Thank you for reporting this @crazyrabbitLTC! We definitely want to get this to work more like an out of the box experience, so we're looking into it.

I think that using the deployer in openzeppelin-test-helpers should be the recommended way, but it's not working due to https://github.com/OpenZeppelin/openzeppelin-test-helpers/issues/35.

[2019-05-09 15:20] AugustoL commented on #1644
Ive been playing with CREATE2, taking this issue, going to submit a PR with a simple CREATE2 factory. Later we can extend it to a factory with meta txs support.

[2019-05-09 15:22] spalladino commented on #1644
@AugustoL keep an eye on the [proxy factory we built for zOS](https://github.com/zeppelinos/zos/blob/master/packages/lib/contracts/upgradeability/ProxyFactory.sol), we could reuse some of that code.

[2019-05-09 20:06] frangio commented on #1743
@crazyrabbitLTC There's a fix for this in https://github.com/OpenZeppelin/openzeppelin-test-helpers/pull/38.

You can try it with `npm install frangio/openzeppelin-test-helpers#reduce-dependencies`. (Sorry for the weird branch name. :sweat_smile:) You will then be able to `require('openzeppelin-test-helpers/inject-web3')(web3)`.

[2019-05-10 08:09] abcoathup opened #1745 "ERC721 "automatic" token URI"
**🧐 Motivation**
Current ERC721 minting with token URI requires manually specifying the URI per token.

To reduce gas cost, the OpenSea example uses concatenation of a base token URI and the tokenID. ([`TradeableERC721Token.sol`](https://github.com/ProjectOpenSea/opensea-creatures/blob/15a27aab9d7ffb9860faab27a8127f8eae9eb297/contracts/TradeableERC721Token.sol))

**📝 Details**

We want to provide

[2019-05-11 02:18] crazyrabbitLTC commented on #1743
Hi @frangio , for:

npm install frangio/openzeppelin-test-helpers#reduce-dependencies

is the "#reduce-dependencies" intentional? I'm getting this error:

`npm ERR! code 1
npm ERR! Command failed: /usr/bin/git checkout reduce-dependencies
npm ERR! error: pathspec 'reduce-dependencies' did not match any file(s) known to git
npm ERR!

npm ERR! A complete log of this run can be found in:
npm ERR!

[2019-05-11 02:20] frangio commented on #1743
Yes it was intentional but we just merged that. I deleted the PR and forgot to update this comment. Sorry! Updated the comment above now.

[2019-05-11 02:29] frangio commented on #1743
@crazyrabbitLTC I think you have a bug in your migrations code though.

The function you export in the migration receives three arguments and `accounts` is the third one. At least in `truffle@5.0.13`.

[2019-05-11 04:08] balajipachai commented on #1727
Hi @nventuro @frangio,
I have added below piece of code in ERC721.sol:
[code]

While running the test cases it fails:
![Issue1727](https://user-images.githubusercontent.com/32358081/57564823-6d8f2400-73d0-11e9-91db-b283bf8b0c29.png)

Any help on this will be much appreciated.

[2019-05-11 14:10] guylando opened #1749 "ERC777 implementation and security clarifications"
Those are merely questions and clarifications to better understand the decisions behind the ERC777 implementation. Please don't consider them as critique. We are looking to use your ERC777 implementation code and just want to be confident about it and to make sure any problems, if there are any, are discovered/discussed/understood as early as possible.

1. In transferFrom why is _transfer called b

[2019-05-11 14:16] guylando commented on #1749
8. _callTokensReceived uses extcodesize to decide if the address is a contract so if _mint is called at the constructor of the contract then the test will pass and the contract will be able to get tokens while other tokens after the contract creation will not be able to be sent to it if it doesn't implement the desired interface.

[2019-05-11 14:57] mcdee commented on #1749
I can answer a few of these questions as apply to the spec rather than the implementation.

2) Any token holder can effectively burn tokens by sending them to a known inaccessible address (e.g. 0xdead).  However, actually burning tokens can and does reduce total supply as this is logically consistent with burning.

3) ERC-777 specifically disallows sending of tokens to 0x00.

4) The hashes are ide

[2019-05-11 15:22] guylando commented on #1749
@mcdee Thanks for your comment.

2. Would a "forced burn" (sending to 0xdead) have same psychological effect on the market and economics as an explicit burn using burn function which decreases total supply and makes EVERYBODY aware that a burn occurred?
3. I speak about the implementation of _burn function which sends the tokens to 0x00 https://github.com/OpenZeppelin/openzeppelin-solidity/blob/ma

[2019-05-11 16:04] mcdee commented on #1749
2) Providing a bun() function that decreases total supply is a better solution as total supply simply states the actual total supply.  I'm unqualified to comment on the psychological effect on the market.

3) That function does not send tokens to 0x00.  If it did it would not be ERC-777 compliant.  Calling tokensToSend() and emitting Transfer() are parts of the spec, but neither of these send toke

[2019-05-11 16:53] guylando commented on #1749
Thanks for your answers,

3. By "sending to 0x00" I refer to the call of "_callTokensToSend" and the emission of "Transfer" event (which, because of the naming, make the code reader interpret it as "sending to 0x00" I guess). Since the spec is at a very early stage, of course I am hoping that there is a good explanation for everything and that there are 0 problems and 0 vulnerabilities, but I stil

[2019-05-11 17:09] mcdee commented on #1749
3) The Transfer() event is for ERC-20 compatibility.  A pure ERC-777 token would not emit this, as it has its own Burned() event that is more explicit.

tokensToSend() is a hook that acts before state changes, as per its name (and as opposed to tokensReceived() which is a hook after state changes).  As such it can examine state (account balances) prior to the transfer and decide if the transfer is

[2019-05-11 17:33] guylando commented on #1749
4. You mean that redeploying ERC-1820 at a different address for a bugfix will have to introduce a new ERC number and will be considered "superseding ERC-1820"? It can't still be ERC-1820, just with a bugfixed new address redeployment? Because if it can then my argument about allowing upgradability for that contract address seems valid (by the way the new CREATE2 opcode CAN actually allow redeploy

[2019-05-11 17:37] guylando commented on #1749
Fixed links*

[2019-05-11 17:39] mcdee commented on #1749
4) CREATE2 was not used to deploy ERC-1820 and cannot be used to redeploy it in case of changes.  Any changes would make it something other than ERC-1820.  And as above just changing the address of the registry within a token contract would end up with a broken implementation unless a number of additional steps were also taken by the token contract to migrate entirely to the new registry contract

[2019-05-11 17:48] guylando commented on #1749
@mcdee Thanks for all the answers.

Regarding original questions just to clear out for anybody reading this, what is left unanswered are questions number: 1, 6, 7, 8.

[2019-05-12 03:37] nventuro commented on #1749
Wow, this is a great discussion, thank you @guylando and @mcdee!

Indeed, there's no concept of 'initial supply' in our implementation of ERC777, but if you do need an initial holder, calling `_mint` in the constructor will achieve that. You can read more about different supply mechanisms using our API in [this forum post](https://forum.zeppelin.solutions/t/how-to-implement-erc20-supply-mechanisms

[2019-05-12 08:45] guylando commented on #1085
Where can one read documentation of the tests structure of openzepplin and more specifically on the difference between *.behavior.js and *.test.js files (for example here: https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/test/token/ERC777 the difference between ERC777.behavior.js and ERC777.test.js)?

[2019-05-13 05:12] wighawag opened #1750 "ERC165Checker is not checking for gas : supportsInterface can throw as a result even if it would have returned true otherwise"
[EIP-165](http://eips.ethereum.org/EIPS/eip-165) stipulate that ```supportsInterface``` can use up to 30,000 gas.

But as you can see in openzeppelin implementation [here](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fa004a7f5de572b3dbcde1a8a81f9a87e353e799/contracts/introspection/ERC165Checker.sol#L110-L119), the call is executed without making sure 30,000 gas is indeed given to the

[2019-05-13 06:05] nventuro commented on #1750
Hello @wighawag, thank you for reporting this!

How would you suggest to change the implementation? If, as you've mentioned, that function is called with less than 30k gas available, then the execution will error out with an 'out of gas' error, which is different from a regular revert. However, if there's indeed not enough gas, what could the contract do, other than erroring out early?

[2019-05-13 06:13] wighawag commented on #1750
Hi @nventuro  I mention various solution available today on [EIP-1930](https://github.com/ethereum/EIPs/issues/1930) as well as on [EIP-165 discussion](https://github.com/ethereum/EIPs/pull/881#issuecomment-491677748)

It can
- check for gas (via ```gasleft()```) before the call but need to account for the gas required between the call to ```gasleft()``` and the actual call
- check for gas afterwa

[2019-05-13 14:41] #1743 closed

[2019-05-13 15:48] nventuro commented on #1750
What is the intent behind this? What should a contract do if it has less than 30k gas available to make the call?

[2019-05-13 16:45] wighawag commented on #1750
```_callERC165SupportsInterface``` can be
[code]
where E is the gas required for the operations between the call to ```gasleft()``` and the actual call.
Unfortunately this computation will be dependent on gas pricing. And as such an overestimation is required.

For the intent, the idea is that if ```_callERC165SupportsInterface ``` can't ensure that ```supportsInterface``` will receive 30,000 gas,

[2019-05-13 18:03] frangio commented on #1749
Yes, I agree, we're gonna have to change our implementation to update allowances before calling `tokensReceived`.

Thank you for the review @guylando! It helps a lot. Let us know if you have any more questions or comments.

[2019-05-13 18:16] guylando commented on #1749
No more questions or comments, although some of my points were partially answered or I do not agree with the decisions (in point 3 deciding if publicly allowing anybody to decrease total supply is maybe worse psychologically/economically than letting users send tokens to 0xdead, in point 4 I am not convinced that hardcoding the 1820 registry address is a good idea in light that any minor fix of 18

[2019-05-13 18:16] #1749 closed

[2019-05-13 18:31] guylando commented on #1749
Also regarding the decision on allowing what I wrote in point 8, need to put a lot of thought if this allows some exploit or not. Sounds dangerous but I have no example for an exploit (dangerous because it is the type of things that everybody can think is safe until there comes someone who thinks of some cool exploit which nobody thought about before. the exploit could utilize some existing ethere

[2019-05-13 19:31] nventuro commented on #1749
I'm not sure how point 8 could lead to an exploint: there's no inherent issue with a contract that is not an implementer having tokens. Such a thing could be achieved without resorting to the constructor trick: a contract may register an implementer, receive the tokens, and then unregister it.

The intent behind this requirement is to prevent contracts that are unaware of 777's existence (and ther

[2019-05-13 19:42] frangio commented on #1085
Right now we don't have documentation for that though we're working to have something soon (#1077).

The difference is that behavior files export a function that can be reused for testing different contracts.

[2019-05-14 12:06] guylando commented on #1749
@frangio we want to use the ERC777 but waiting for the changes you wrote. Any idea when they will be merged to this repo or can you suggest on the exact changes which we should manually do so that our changes will be consistent with your changes?
Thanks

[2019-05-14 13:16] guylando commented on #795
was this merged to openzeppelin under a different name?

[2019-05-14 17:46] frangio commented on #795
@guylando There is a similar contract for ERC20 tokens called [`ERC20Migrator`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fa004a7f5de572b3dbcde1a8a81f9a87e353e799/contracts/drafts/ERC20Migrator.sol).

[2019-05-14 17:46] #795 closed

[2019-05-14 17:49] k06a commented on #795
@guylando @frangio please look at my latest article dedicated to upgradability, it also includes token upgrade example: https://medium.com/@k06a/the-safest-and-probably-the-best-way-to-upgrade-smart-contracts-ea6e619d5dfd

[2019-05-14 17:49] frangio commented on #1749
@guylando They will be available later today in a new release candidate. The final 2.3.0 release will be available later this week or early next week.

[2019-05-14 17:55] frangio commented on #1728
Given the level of interest in the ERC we're likely to implement it.

[2019-05-14 17:58] frangio commented on #795
Interesting @k06a. If you're interested we would appreciate a review of `ERC20Migrator`. It would be nice to stabilize the API (i.e. remove it from `drafts/`) but we need some more comments before doing that.

[2019-05-14 18:00] k06a commented on #795
@frangio sure. Will take a look.

[2019-05-14 18:00] guylando commented on #795
@frangio thanks
@k06a yes already saw both of your articles on upgradability and so far I believe the correct way for trust+security is to add pausable ability to a token (many arguments that users will apreaciate this saving their tokens more than they are afraid of owner freezing them which is illegal and can be easily reverted) and then to provide a way to migrate to a new contract. meaning pau

[2019-05-14 18:03] nventuro commented on #795
Could you clarify what you mean by this?

[2019-05-14 18:05] guylando commented on #795
@frangio adding the ERC20Migrator ability to a token looses trust because owner can set any address for target token. better to migrate from new token to old instead of adding such dangerous power to the old token. I even think in current way the code is written, the owner can steale all tokens this way by temporary migrating to some contract which transfers him all tokens

[2019-05-14 18:07] k06a commented on #795
@guylando pausing may break some smart contracts which own this tokens, including DEXes. I think allowing users to migrate when they want to is the most decentralized and safe strategy. Current `ERC20Migrator` implementation allows only migrate those accounts, who `approved` old tokens to migrator smart contract.

[2019-05-14 18:08] guylando commented on #795
ah, this code is a separate "third" contract which is not part of the original contract?

@nventuro well several security audits consider "pausing" ability as too much power in the hands of the token owner but I argue against that

[2019-05-14 18:09] guylando commented on #795
@k06a break how? the transfers will revert while paused and then get back to work as normal when pause is removed. that is the expected behavior and not a break

[2019-05-14 18:09] frangio commented on #795
Yes.

[2019-05-14 18:11] k06a commented on #795
@guylando why do you need pausing if you is going to unpause em? You can create a token snapshot and airdrop new token easily without any pausing. I like the `ERC20Migrator`, will think about making it even more generalized.

[2019-05-14 18:12] frangio commented on #795
Let's please continue the discussion about potential problems and other ideas in the forum.

https://forum.zeppelin.solutions/t/discussion-about-erc20migrator/661

[2019-05-14 18:14] guylando commented on #795
@frangio I am sorry but I don't have a user there so I will just leave this last comment to stop discussion here.
@k06a Here are arguments why pause is ok security wise and even IMPROVES the security and why you need it:
1. BEC token where the pause ability saved a lot of money: https://medium.com/secbit-media/a-disastrous-vulnerability-found-in-smart-contracts-of-beautychain-bec-dbf24ddbc30e http

[2019-05-14 18:16] k06a commented on #795
@guylando ok, I was talking about pausing as part of upgradability process only. I agree pausing may help for centralized arbiter in many different situations.

[2019-05-14 18:22] nventuro commented on #795
@k06a regarding your article

While nicer on paper, this ignores the possibility of a bug affecting the upgrade mechanism itself. As a real-life example, [MakerDAO's bug](https://blog.zeppelin.solutions/technical-description-of-makerdao-governance-critical-vulnerability-facce6bf5d5e) could have been fixed by the community voting to migrate to a new contract, but _it was the voting itself that was

[2019-05-14 18:24] nventuro commented on #795
@guylando

This discussion is great! Please do keep commenting in our forum to add your voice, signing in is as easy as clicking on the 'sign in with GitHub' button.

[2019-05-14 18:27] k06a commented on #795
@nventuro I agree, that's why token smart contracts should not have any other functionality.

[2019-05-14 18:29] guylando commented on #795
@nventuro I believe if we take the assumption that there was a KYC on the token creator or in other words that he was verified in real life and that users made their checks before buying the token, then pausing ability is BETTER than the DAO voting ability you described. Pausing protects from attacks and does not perform any change at all to what the users agreed. On the other hand giving some peo

[2019-05-14 18:30] frangio commented on #1750
Thanks for bringing this up @wighawag. Super interesting.

To be clear, by "gas pricing" you mean the gas cost of each opcode, right?

---

This wouldn't be compliant. Because of the following line [from the EIP](https://github.com/ethereum/EIPs/blob/53dfa16d1282a13c4d436f1631be8b2232ab436c/EIPS/eip-165.md#how-to-detect-if-a-contract-implements-erc-165):

This implies that if the implementer is do

[2019-05-14 18:42] frangio commented on #1750
I'm looking at the EIP and it seems rather clear that a reverting `supportsInterface` should only be interpreted to mean "false" when querying about supporting ERC165 itself.

Note how the second list doesn't mention anything about a failing call. This impies that reverts must be propagated.

So there are two bugs in our implementation:

1) `ERC165Checker._supportsERC165` is affected by the gas-re

[2019-05-14 18:47] frangio commented on #1750
The second bug is easy to fix. The first one is the tricky one.

@wighawag This is wrong. Because of the following line from the EIP:

This implies that if the implementer indeed does `require(gasleft() > X)` it should be interpreted as not implementing ERC165. (This definitely deserves special mention in the EIP.)

With this in mind, do you think an after-the-call check would work? I will give th

[2019-05-14 18:59] nventuro commented on #1750
Thanks for reporting this @wighawag, I had forgotten about the 63/64ths rule.

In the worst case, a contract needs 30k gas to execute its function, and is provided only 29,999. This means that the caller will end up with 476 gas (`29999 / 63`) after the (failed) call. I don't think 476 gas is enough for a contract to perform any significant action (and this is the _absolute worst case_), but it _i

[2019-05-14 19:08] frangio commented on #1750
Pasting here @wighawag's suggestion from https://github.com/ethereum/EIPs/pull/881#issuecomment-491677748:

Given the considerations above, I think this is the best course of action.

[2019-05-14 19:17] nventuro commented on #1750
@frangio is the idea behind that check to not require the caller tx to have over 30k gas? Shouldn't we also only revert if the call failed? i.e. if the call failed and it _possibly_ run out of gas (there's less than 30k/63 remaining), then we revert.

[2019-05-14 19:19] frangio commented on #1750
Yes. Why "possibly" though?

[2019-05-14 19:22] nventuro commented on #1750
A call may return with less than that value and not have reverted, or It may have reverted for a different reason.

[2019-05-14 19:35] frangio commented on #1750
Technically we can assume that the implementer will use at most 30000 gas. So we could send like 30001 (or a similarly small value), and then we can be sure that if there is less than 30k/64 we can assume that it was an out of gas error.

I really am not sure about all these numbers though. I need to sit down and think them through.

[2019-05-14 19:38] nventuro commented on #1750
...but the whole point of this is what happens when _less_ than 30k are sent?

[2019-05-15 12:06] wighawag commented on #1750
@frangio

yes that's what I meant

That's true, but this is not very clear since it does not mention the 30,000 rules neither here

Possibly but the ```require(gasleft() >X)``` could also come from a call that ```supportsInterface``` make independent of it. So I don't think we can consider that buggy in all case, unless ERC-165 change to precise such forbidden behaviour

Also it is worth noting th

[2019-05-15 15:38] frangio commented on #1750
That requirement is mentioned in the general description for `supportsInterface:

[2019-05-15 15:45] wighawag commented on #1750
What I meant is that the list is less clear, it could have at least  said "call supportsInterface(interfaceID) with at least 30,000 gas"

I agree though that your interpretation is correct.

[2019-05-16 16:40] nventuro opened #1753 "Add ERC777 transfer and transferFrom tests"
As discussed in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1751, the tests that include send and receive hooks are only performed on `send` and `operatorSend`, skipping `transfer` and `transferFrom`.

These are in the 'send and receive hooks' `describe` block, with the actual tests in the behavior functions `shouldBehaveLikeERC777SendBurnWithSendHook` and `shouldBehaveLikeERC777Sen

[2019-05-16 19:00] frangio commented on #1753
We must also test that allowances are updated before calling the received hook.

[2019-05-16 19:22] nventuro commented on #1749
@guylando you can use the [latest release candidate](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.3.0-rc.3), including these changes, by running

[code]

[2019-05-16 20:07] guylando commented on #1749
@nventuro Thanks!
1. Note that in https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.3.0-rc.3 the link to the code of ERC777 is outdated and does not point to the latest code.
2. I left some more comments about ERC777 code at https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1751:
https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1751#issuecomment-492431424
htt

[2019-05-16 20:51] frangio commented on #1749
@guylando

Yeah this has been our thought process as well. We only made sure that a future opt-out API would be feasible in terms of backwards compatibility.

[2019-05-16 22:15] guylando commented on #1749
I believe there is a difference between sending to irrecoverable address and burning which decreases total supply because the first is not visible to the non-technical investors while the second one will change the token total supply on coinmarketcap which might cause undesired reaction from non-technical investors who follow the token in coinmarketcap and similar tools

[2019-05-17 20:56] nickbui729 opened #1756 "featuring OpenZeppelin in Docusaurus"
Hello, we would like to feature your project to the Docusaurus [users](https://docusaurus.io/en/users) page.

If you are okay with it, are you able to provide a logo we can use? Additional information can be found [here](https://github.com/facebook/Docusaurus/issues/1437)

[2019-05-18 10:48] prashantprabhakar opened #1757 "ERC20:Should not approve to self"
I don't see any need why one would want to `approve` his own address. So `approve` function should have additional check of :

`require(spender != msg.sender, "ERC20: cannot approve to self");`

[2019-05-18 11:09] guylando opened #1758 "SafeMath does not protect from negation of smallest integer"
Explanation of the problem can be found here: https://consensys.github.io/smart-contract-best-practices/recommendations/#beware-of-negation-of-the-most-negative-signed-integer

The problem is that the name "SafeMath" makes people think that math operations are safe when they are not. Negation includes multiplication and division by -1 but also if X is smallest negative then if you take (X/2) and m

[2019-05-18 11:16] guylando opened #1759 "SafeMath does not provide detection of losing precision by division"
The name SafeMath can make developers use it without paying attention of problem of division losing precision https://consensys.github.io/smart-contract-best-practices/recommendations/#beware-rounding-with-integer-division
Maybe add a function "safediv" which also checks that precision wasn't lost and add in documentation of "div" that precision can be lost.

[2019-05-18 11:25] guylando commented on #1758
I see SafeMath only works with unsigned integers so this is irrelevant, closing

[2019-05-18 11:25] #1758 closed

[2019-05-18 11:31] guylando commented on #1758
Probably there should be a warning "pay attention that safemath only works with uint256, so be careful when working with other types without safemath" and also I wonder why not to implement SafeMath for other types

[2019-05-18 13:24] Skyge commented on #1757
Emmm, I am not sure whether there is a necessary to do this, but I think it is OK.

[2019-05-18 15:43] frangio commented on #1757
Thanks for the suggestion @prashantprabhakar!

However, I don't agree that we should do this. Some users may want to use this mechanism and there's no reason to disallow it. It's not something that would result in an error in any way.

[2019-05-18 15:43] #1757 closed

[2019-05-18 15:47] frangio commented on #1758
I don't see the need for such a warning. The compiler will not allow using `SafeMath` with signed integers.

However, do note that we have a [`SignedSafeMath`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/drafts/SignedSafeMath.sol) draft library. It checks for the condition you reported in this issue.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/2ccc12

[2019-05-18 18:39] guylando commented on #1758
@frangio The warning goal was not to prevent the use of SafeMath with signed integers, the goal is to make people aware that they need to utilize other security measures when working with signed integers.

Regarding the condition in SignedSafeMath:
1. `b = -1, a=INT256_MIN` in "mul" bypasses the checks
2. `b = -2^N, a=-2^(255-N) `in "mul" for any `N>0` (only `N=0` is checked at the moment). same f

[2019-05-18 23:47] frangio commented on #1758
@guylando `SignedSafeMath` correctly catches all of those cases and reverts. The first case is even covered by the test suite. Please try this out yourself.

[2019-05-19 02:10] prashantprabhakar commented on #1757
@frangio I do agree this does not result in an error. But if called accidentally wastes gas. I  don't find any reasons why anyone will want to approve to himself. `approve` and `transferFrom` were not intended to handle this.
So this is more of a **precaution**  an enforces intend of `approve` and `transferFrom`

[2019-05-19 09:24] guylando commented on #1758
I see, tried it now. From reading the "mul" code it seemed the first require was the implemented defense however actually the first require only protects from division by -1 in the second require (and not the multiplication itself) and in all other cases the second require catches the problem. Code comments could make it easier to read the code and understand this. Also wouldn't it be better for d

[2019-05-19 09:36] guylando commented on #1758
By the way used this test case for (2):
[code]

[2019-05-20 01:08] Skyge commented on #1756
Why should OpenZeppelin do this? if not, what are the disadvantages?

[2019-05-20 01:36] nickbui729 commented on #1756
There are no disadvantages! We are trying to expand Docusaurus by showing new users different projects that use Docusaurus for their templating.

[2019-05-20 04:29] Skyge commented on #1756
I know `Docusaurus` is for running a website easily, and I also know `docsify` has some similar action, so what are the differences?
I think your proposal is acceptable, because with this, we can look through contracts easily.

[2019-05-20 13:20] frangio commented on #1756
@nickbui Yes, that would be nice. I'll get back to you with a logo!

[2019-05-20 17:18] guylando commented on #795
Why is beginMigration public without limiting the allowed callers? This can allow an attacker to "destroy" a deployed ERC20Migrator contract by setting newToken himself by calling beginMigration after the contract was deployed and before the legit owner calls beginMigration.

[2019-05-20 19:05] guylando commented on #795
I explained here: https://github.com/ethereum/EIPs/issues/644#issuecomment-494106553 why the upgrade strategy proposed by @k06a here is the "correct one"

[2019-05-20 19:49] frangio opened #1761 "Replace inline assembly with Solidity in ERC165Checker"
One of the few `assembly` blocks we have is in `ERC165Checker`.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/2ccc12b328e6d5d1d3faa5b99bec8d1de8b92fea/contracts/introspection/ERC165Checker.sol#L103-L120

I think we used assembly back then because Solidity didn't have `.staticcall` yet. It should be possible to replace it with `.staticcall` and `abi.decode` now.

[2019-05-20 20:43] startgeek opened #1762 "there is no revert message in source code"
I use test's in github for my refrence and in those test's all of the reverts has message that will fetched via shouldFail.reverting.withMessage(somePromise, 'and heres why I reverted');
I observed that It dosen't return any messages then I inspected the source code and I realized non of the Require() function has message so did I missing some thing here? whats going on?

💻 Environment: MacOS late

[2019-05-20 21:14] frangio commented on #1762
The revert messages were added recently in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1704.

They are in the latest release candidate which you can install via `npm install openzeppelin-solidity@next`.

[2019-05-20 21:14] #1762 closed

[2019-05-21 13:30] guylando opened #1763 "ERC777 together with dependencies results in 29 warnings in remix"
The warnings are:

1. Potential Violation of Checks-Effects-Interaction pattern in ERC777.(string,string,address[]): Could potentially lead to re-entrancy vulnerability.

2. browser/Fallback.sol:134:9:CAUTION: The Contract uses inline assembly, this is only advised in rare cases. Additionally static analysis modules do not parse inline Assembly, this can lead to wrong analysis results.

3. Gas req

[2019-05-22 14:47] nventuro commented on #1346
A couple users have reported concerns upon finding that compiling OpenZeppelin contracts emits warnings.

This is the only warning the latest compier (v0.5.8) emits:

[code]

That warning is actually valid, and there's currently no way to express what we intend to do (call `view` functions from that function) in the Solidity language. It'd be great if we could get a compiler feature that allowed u

[2019-05-22 15:16] guylando opened #1765 "ERC20 test has a typo preventing it from working"
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/test/token/ERC20/ERC20.test.js#L90

[code]

should be

[code]

Additional unrelated:
[code]
should be
[code]

[2019-05-22 22:57] nventuro opened #1766 "Remove ERC20._burnFrom"
`ERC20._burnFrom` doesn't really fit with the standard for other `internal` functions, both in that it uses `msg.sender` and in that it is not really a reasonable primitive. It should disappear, and `ERC20Burnable` should implement `burnFrom` in terms of `_burn` and `_approve`.

[2019-05-23 02:18] Skyge commented on #1759
As long as you do a division, there is a possible to loss precision. I think adding a `@notice` message is good, it can remind people of this point.

[2019-05-23 20:44] guylando opened #1767 "SafeERC20 allows GasToken minting/gas draining"
Problem: SafeERC20 calls callOptionalReturn which uses .call(..) without .gas(..) which passes all the gas to the call and allows called contract to drain all used gas and perform GasToken minting https://medium.com/level-k/public-disclosure-malicious-gastoken-minting-236b2f8ace38

Recommendation: allow the caller of SafeERC20 to limit the gas used by adding additional parameter to the functions.

[2019-05-23 23:02] guylando opened #1769 "SafeERC20 safeTransfer,safeTransferFrom,.. gives no indication of failure when called on a contract which does not have transfer function and has a non reverting fallback function"
Call
[code]
For the following contract passed as token:
[code]
then safeTransfer will call callOptionalReturn which which perform a .call(..) for the non existent transfer function and it calls the fallback function and returns for this contract success=true and empty returndata which pass successfully the require statement and if and end the callOptionalReturn execution without revert and without

[2019-05-23 23:06] guylando commented on #1769
More than that, this same "attack" will work with a more standard token which implements allowance and transferFrom and does not implement "transfer" (I imagine such scenario could happen because many security resources recommend to use approve+transferFrom instead of transfer so it totally can happen that someone will decide not to make transfer available at all just as Golem token did not implem

[2019-05-24 11:28] guylando commented on #1769
closing because seems this is the intended solidity behavior

[2019-05-24 11:28] #1769 closed

[2019-05-24 15:37] nventuro commented on #1767
Hello @guylando!

How is this different from any regular call to a contract, though? 63/64ths of the available gas are always forwarded on CALLs, so I don't see what's special about `SafeERC20`.

[2019-05-24 16:10] nventuro commented on #1759
This loss of precision is intrinsically associated with integer division, and would be surprised to learn that someone understood the 'safe' part as being related to it. Besides, `SafeMath`'s documentation makes it very clear that it has to do with overflow protection.

We are, however, considering adding fixed-point support! Please join the discussion in the forum: https://forum.zeppelin.solution

[2019-05-24 16:10] #1759 closed

[2019-05-24 16:36] #1765 closed

[2019-05-24 17:06] nventuro opened #1771 "Address.toPayable()"
**🧐 Motivation**
As seen in [this StackOverflow question](https://stackoverflow.com/questions/56154982/call-to-super-owner-transfermsg-value-giving-errors), there's no easy (reasonable) way to convert an `address` into an `address payable`. This was confirmed by the Solidity team on gitter. We should provide a simple wrapper for this ugly conversion.

**📝 Details**
This would simply be a new `inte

[2019-05-24 17:15] nventuro commented on #1763
Hello @guylando, thank you for reporting this! I took a look at all of them, and found they are all either non-issues or false positives.

This is because of the external call to ERC1820Registry during construction. Since this is a trusted contract, this is a non-issue.

Used by `Address.isContract`, no issues here.

Not sure what causes this warning to trigger, the functions definitely don't take

[2019-05-24 17:15] #1763 closed

[2019-05-24 17:31] guylando commented on #1767
I see, the recommendation I wrote is redundant in light of the solidity ability to limit the gas when calling SafeERC20 using .gas(..) as explained here https://solidity.readthedocs.io/en/v0.5.8/control-structures.html?highlight=gas#external-function-calls

[2019-05-24 17:31] #1767 closed

[2019-05-24 17:37] guylando commented on #1763
@nventuro Your answers are clear, thanks. I must say that the usage of erc1820 preventing remix javascript VM from being able to deploy the contract for some testing is a real annoyance with the erc777 compared to erc20. Creating and testing an erc777 tokens seems to take much more time than erc20 token because of that.

[2019-05-24 18:25] nventuro commented on #1763
Yes, I don't personally consider Remix to be a great development environment, and only use it for quick tests when trying out ideas, measuring gas, etc. It'd be very hard to replicate the ERC1820 registry deployment from it, but it will allow you to work on any of the testnets (where it has already been deployed).

However! If you do make the switch for local development, you can use the [`openzep

[2019-05-24 18:50] nventuro commented on #1758
@guylando I tried that same test locally and it passes. Could you share an example of a failing test? I was not able to reproduce this.

Regarding the error message, they are the same because the internal details of _why_ the overflow occurred are not relevant to the user: all that's important is that the multiplication overflowed. The fact that we have two separate `require` statements is acciden

[2019-05-24 19:17] guylando commented on #1749
Accidentally found a "proof" of the difference between burning and sending to an invalid address:
https://github.com/ethereum/EIPs/pull/867#issuecomment-365746101
https://github.com/ethereum/EIPs/pull/867#issuecomment-365747423
where the difference is enhanced in such discussions as of the retrieval of stuck tokens which wouldn't be discussed about burned tokens

[2019-05-24 19:21] guylando commented on #1749
So from legal point of view there is more claim to the owner of the tokens that he still owns legally the tokens which were sent to an invalid address than for him to claim he owns burned tokens.

[2019-05-24 19:24] guylando commented on #1758
I am sorry for the misunderstanding, I provided the test case code just in case you would want to add to your safemath test cases, it indeed passes correctly and you were right. That is why I said in https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1758#issuecomment-493740904 that the code without comments is a little confusing about which of the require statements was there to protect

[2019-05-24 23:53] nventuro commented on #1597
Closing in favor of #1602.

[2019-05-24 23:53] #1597 closed

[2019-05-24 23:57] nventuro commented on #1489
While interesting, there are many situations when it is contracts that have the role, and adding this would mean that they'd have to do a sort of try/catch attempt, calling `removeLast` if the first call fails, which makes the whole thing superfluous. Additionally, this would require `Roles` being aware of how many accounts have the role, and it currently lacks this capability (see #1602).

[2019-05-24 23:57] #1489 closed

[2019-05-24 23:59] nventuro commented on #992
RBAC no longer exists and Roles have dedicated events, so this doesn't apply any more.

[2019-05-24 23:59] #992 closed

[2019-05-25 00:16] nventuro opened #1772 "Proposal to revamp Roles"
`RBAC` was removed after https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1090 due to issues with having strings be keys in the mapping, and replaces with `Roles` in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1291. Integer ids were considered, but ultimately discarded, partly because of a lack of an id allocation mechanism (hash of strings?).

The new scheme works, but

[2019-05-25 14:52] Skyge commented on #1771
Yeah, in Solidity 0.5, this is one of the breaking changes, but for some developers including myself, we just use like this `address(uint160(_owner))` to make it become `address payable`, so it is really a good proposal to provide a simple wrapper.

[2019-05-27 15:58] frangio commented on #1730
We fixed this in https://github.com/OpenZeppelin/openzeppelin-solidity/commit/e41daba7b47afbe8e7a18ca541b1d3779a86e020.

[2019-05-27 15:58] #1730 closed

[2019-05-27 16:16] nventuro commented on #1486
The docsite has been revamped, and this bug fixed.

[2019-05-27 16:16] #1486 closed

[2019-05-27 16:17] nventuro commented on #1697
We've updated all of the @dev comments (which now have consistent punctuation). A style guide is missing still (though to be fair it may be too early to write one).

[2019-05-27 16:17] #1697 closed

[2019-05-27 21:03] NoahMarconi opened #1774 "Test reverts for the wrong reason"
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/test/token/ERC20/ERC20.behavior.js#L111:L118

This test reverts for the same reason the previous describe block reverts.

[2019-05-27 21:08] NoahMarconi commented on #1774
Likewise for this one: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/test/token/ERC20/ERC20.behavior.js#L139:L148

It reverts because they're not approved to transferFrom and not because the transferFrom is from the ZERO_ADDRESS

[2019-05-28 00:54] nventuro commented on #1774
Hello @NoahMarconi, thank you for contributing!

I'm not sure what the issue you're pointing out is, both tests fail for the same underlying reason, the outer describe block:

`'when the spender does not have enough approved balance'`

[2019-05-28 01:10] NoahMarconi commented on #1774
sorry about that, the outer and inner describe blocks tripped me up. Makes sense

[2019-05-28 01:10] #1774 closed

[2019-05-28 13:58] daniellehrner opened #1775 "Use mutator methods internally for Eternal Storage"
**🧐 Motivation**
Currently all variables in the smart contracts are directly accessed. While this is the most straight-forward approach and keeps the code simple, it prevents using alternative storage approaches like [eternal storage](https://fravoll.github.io/solidity-patterns/eternal_storage.html).

**📝 Details**
There are different approaches for smart contract upgradability. One of them is the

[2019-05-28 15:58] nventuro commented on #1775
Hello @daniellehrner, thank you bringing this up!

We've actually considered supporting these patterns for the aforementioned reasons, but sadly never got around to.

Have you performed any gas measurements comparing accessing a field directly, versus calling a `private` function that accesses the storage slot via a hash? I'd expect the cost of the SLOAD/SSTORE to dwarf the rest of the operation,

[2019-05-28 16:37] frangio commented on #1775
The reason our state variables are private is to provide stronger guarantees with respect to consistency of the state, by encapsulating all the changes to those variables in the contract that defines them. Providing these internal setters would be counter to that purpose, it breaks encapsulation.

If someone is interested in the modifying our contracts to use Eternal Storage or something similar,

[2019-05-28 17:47] nventuro commented on #1775
Perhaps I misunderstood @daniellehrner's intent (there word `internal` has been used somewhat loosely), but from what I gathered, the idea behind this request is not to expose the storage slots, but to have all internal variables use fixed storage slots, bypassing the compiler's slot allocation algorithm (therefore achieving upgrade safety, at least regarding storage layout).

[2019-05-28 19:09] frangio commented on #1775
Yeah I think you misunderstood. :slightly_smiling_face: As mentioned in the issue the request is for the following specifically:

We won't do this due to what I mentioned above:

Thanks for the suggestion regardless @daniellehrner!

[2019-05-28 19:09] #1775 closed

[2019-05-28 21:04] RCYP commented on #1687
I can work on this within a few days. Just had one doubt- do we need to import `bignumber` for whenever we use  `expect(obj).to.be.bignumber.equal(obj);` ?

[2019-05-28 21:57] nventuro commented on #1687
Awesome @RCYP! @ckshei had started working on this (https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1723), but closed the issue due to a lack of time. We could merge intermediate work to a development branch, since this may end up being somewhat big.

Regarding bignumber, the plugin is automatically installed by `openzeppelin-test-helpers`, but we sometimes need to import `BN` to do thi

[2019-05-28 23:42] frangio commented on #1687
Yes, let's move forward with that.

[2019-05-29 05:32] nventuro commented on #1466
I think the [current warning](https://docs.openzeppelin.org/v2.3.0/api/utils#Address.isContract(address)) is clear enough to consider this done.

[2019-05-29 05:32] #1466 closed

[2019-05-29 05:34] nventuro commented on #1463
This can be achieved via [`ERC20._approve()`](https://docs.openzeppelin.org/v2.3.0/api/token/erc20#ERC20._approve(address,address,uint256)), introduced in v2.2.0.

[2019-05-29 05:34] #1463 closed

[2019-05-29 05:39] nventuro commented on #1460
While interesting, I'd rather we leave `Ownable` as-is to focus on other solutions, considering we're moving away from it, and only leaving it in the library for e.g. quick prototypes. This is, however, pretty much the only bit missing from its [API](https://docs.openzeppelin.org/v2.3.0/api/ownership#ownable) to have it 'feature complete'. @frangio thoughts?

[2019-05-29 05:42] nventuro commented on #1459
Yes, but it'd have to do so through an external call (i.e `address(this).pause()` as opposed to simply `pause()`).

I'm currently somewhat ambivalent regarding adding `internal` functions, but following the current logic, this contract is a clear candidate to have these added.

[2019-05-29 05:47] nventuro commented on #1333
Closing since `BreakInvariantBounty` is not part of OpenZeppelin anymore.

[2019-05-29 05:47] #1333 closed

[2019-05-29 08:35] Skyge commented on #1771
@pokcup It is really hard for me to understand your words, could you please use the English?

[2019-05-29 10:57] daniellehrner commented on #1775
@nventuro @frangio Thanks for taking the time to explain, why it does not make sense to you.

[2019-05-29 13:45] nventuro commented on #1771
@pokcup ยินดีต้อนรับ! Please write in English when communicating over this medium :)

[2019-05-29 14:11] frangio commented on #1460
I prefer keeping `Ownable` as is now. I don't think we have a clear picture yet of exactly what things should be available internally, as we've recently found some internal functions that we're questioning.

[2019-05-29 14:16] frangio commented on #1766
I'm not sure this is as clear cut as you put it. If it's not a reasonable primitive, why is `_transferFrom` reasonable? I'm starting to think perhaps having constraints on `msg.sender` in the internal functions would be the right thing. Should a contract be able to change completely the rules of the parent contracts?

[2019-05-29 14:19] frangio commented on #1459
We seem to be aligned on internal functions :P (

[2019-05-29 14:22] frangio commented on #1459
Also have my doubts regarding internal functions lately. See https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1460#issuecomment-496953925, https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1766#issuecomment-496955838.

Would prefer to keep `Pausable` as is  for now.

[2019-05-29 14:50] #1460 closed

[2019-05-29 14:51] #1459 closed

[2019-05-29 15:47] nventuro commented on #1766
It isn't, which is why it doesn't exist :stuck_out_tongue:

What do you mean by 'change the rules'? A contract writes their own rules, we simply provide rules for them to do so. I think having implicit arguments in these `internal` functions (`msg.sender`) makes it easy to misuse them, and this behavior can always be replicated by explicitly passing `msg.sender`, if needed.

[2019-05-29 15:55] frangio commented on #1766
For example, we could say that one of the rules of `ERC20` is that only the `msg.sender` (or someone with allowance) can move their own tokens. By providing `_transfer(from, to, amount)` we are allowing a child contract of `ERC20` to change that rule, allowing token movements to happen outside of those contraints. I understand this may be desirable in some cases, but in general I feel it might be

[2019-05-29 20:23] nventuro commented on #1766
I believe that would land us on a design too stiff to be useful. IMO we should simply provide useful and correct primitives that can be used to build upon, as opposed to being _too_ opinionated regarding what end user contracts should look like.

And even an invariant as basic as the `transfer` one would be broken by `_mint` and `_burn`, which are legitimate mechanisms used in multiple projects.

[2019-05-30 22:35] cag commented on #1728
Yo I'm working on an implementation here that I may try to get merged into OZ:

https://github.com/gnosis/hg-contracts/pull/21/commits/5623d3e1be5e38ae0b7ccdf5a37c6ef846aae18a

[2019-05-31 14:52] RCYP commented on #1771
Would the solution be a function like this within Address.sol ?
`
    //@dev Converts an address to address payable.
    function toPayable(address account) internal pure returns (address payable) {
        return address(uint160(account));
    }
`

[2019-05-31 15:03] frangio commented on #1771
@RCYP Yes, though @Skyge is already working on this, see https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1773.

[2019-05-31 15:06] frangio commented on #1728
Nice @cag! Is this your original work? I see that the repository is licensed under LGPL. Would you be willing to contribute it under MIT license terms?

[2019-05-31 16:16] RCYP commented on #1761
Would it be something like this?
[code]
Don't have a good grasp on the assembly code yet..

[2019-05-31 16:51] #1771 closed

[2019-06-01 03:52] benitech opened #1782 "IncreasingPriceCrowdsale throws 'rate' rpc-json error when interacting with contract"
-getCurrentRate' works as intended but 'rate' is still available to be viewed in deployed contract via Crowdsale.sol

Therefore, 'rate' throws rpc-json error when called.

'rate' should not be available to be viewed when using IncreasingPriceCrowdsale.

[2019-06-01 13:16] cag commented on #1728
Implementation is not really my work; I just did some name changes and comment shuffling to get things more in line with OZ's style. The original is distributed under the Apache 2.0 license.

That said, the (incomplete) test cases are my work, and those I am willing to contribute those under MIT license terms when the time comes. It's still a WIP since the standard is not final yet, and because I

[2019-06-01 14:42] nventuro commented on #1782
Sadly, the Solidity language does not let us remove a function from a contract's interface, so the best we can do is revert when `rate` is called on that particular crowdsale. The alternative would be to manually expose `rate` in all child crowdsales but that one, but I fear that would be too cumbersome and not worth the effort.

[2019-06-01 14:42] #1782 closed

[2019-06-03 21:57] frangio commented on #1761
@RCYP Looks like it, yeah! Go for it.

[2019-06-03 21:58] frangio commented on #1761
Oh, actually, you're missing the gas limit. It should be `account.staticcall.gas(30000)(encodedParams)`.

[2019-06-03 23:46] abcoathup opened #1783 "Update README doc links"
README doc links are currently broken
API docs: https://openzeppelin.org/api/docs/token_ERC721_ERC721BasicToken.html
guides: https://openzeppelin.org/api/docs/get-started.html

**📝 Details**

[API docs]: https://openzeppelin.org/api/docs/token_ERC721_ERC721BasicToken.html
[guides]: https://openzeppelin.org/api/docs/get-started.html
[forum]: https://forum.zeppelin.solutions

[2019-06-04 03:52] #1783 closed

[2019-06-04 14:00] RCYP commented on #1761
After putting the gas limit it fails to compile if the function is declared as `view`. I get the following error:
`TypeError: Function declared as view, but this expression (potentially) modifies the state and thus requires non-payable (the default) or payable`

So should I remove the `view` declaration from the function (which will require removing `view` from all the calling functions as well)?

[2019-06-04 16:10] frangio commented on #1761
Hm, that seems like a bug? I can't see how a static call would modify state. I'll ask the solc developers.

[2019-06-04 21:44] frangio commented on #1761
Reported in https://github.com/ethereum/solidity/issues/6901.

[2019-06-08 05:30] SriDraco opened #1790 "Broken links in docs"
Issue: 404 errors from links in several different files.

What I was trying to do:

1. Follow the links in [the next steps in get-started.md](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/docs/get-started.md#next-steps)
2. Follow the links (except selfdestruct()) in [access-control.md](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/docs/access-control.md)
3.

[2019-06-08 13:14] fincrypchain001 commented on #1346
Hello foundation here

[2019-06-08 13:15] fincrypchain001 commented on #1346
Please take noted

[2019-06-09 15:24] fincrypchain001 commented on #1245
CLOSED ALL ACCOUNT BIGCRYPTO001

[2019-06-10 16:00] nventuro commented on #1245
While this could eventually become an issue with contracts that have a large amount of identifiers, the current implementation is fine as-is.

[2019-06-10 16:00] #1245 closed

[2019-06-10 16:20] frangio commented on #1790
Thanks for reporting these @SriDraco! In case you didn't know, these files are published at https://docs.openzeppelin.org, where all of these links work correctly.

The ones that are missing file extensions can be fixed for browsing within GitHub. The ones that are pointing to /docs/api can't be fixed, we want to remove them but due to a limitation in solidity-docgen right now we can't.

[2019-06-10 18:18] romisalve commented on #984
Hi, I am having the same problem and not getting what is causing it, can anyone help me if I share the code? Thanks!

[2019-06-10 18:29] frangio commented on #984
@romisalve Sure. Please post on https://forum.zeppelin.solutions.

[2019-06-13 02:53] Arachnid opened #1795 "String utilities"
Does Open Zeppelin have any interest in integrating a library for string manipulation? I created the most widely used one [here](https://github.com/Arachnid/solidity-stringutils) nearly three years ago, but lack the time to maintain it as a separate library. If there's interest, I'm happy to license and contribute it in any way that works for the OZ team.

[2019-06-13 06:01] Skyge commented on #1795
Emmm, could you please give me an example of such an operation, or why do not I do this offline?

[2019-06-13 06:42] nventuro commented on #1795
Hi there @Arachnid, thank you very much for this! We've actually discussed your library a couple days ago in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1746, and started work on a [`Strings` library](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fbbff535285fbff1a55a18af110b46eafb15f4bf/contracts/drafts/Strings.sol) (rather barebones so far). I think it'd be great to ha

[2019-06-13 16:45] crazyrabbitLTC commented on #1795
That would be fantastic! I've used your string library before @Arachnid and I think it's great. (Maybe I messaged you about it once). I think it would also be a great EVM package! Let see if they can incorporate it!

[2019-06-13 21:32] Arachnid commented on #1795
@nventuro Sounds good! I'm happy to relicense my contributions under any license you see fit - MIT is absolutely fine. Please let me know if you need anything else from me.

[2019-06-14 04:48] abcoathup commented on #1795
That is so awesome @Arachnid.

@Skyge for your background, in two contracts this year, to reduce gas costs when minting ERC721 tokens with metadata, I used string concatenation and uint to string from a different implementation (I only found Nick's library later).  I proposed this as an addition in the [forum](https://forum.zeppelin.solutions/t/add-support-for-erc721-token-uri-concatenation-of-bas

[2019-06-17 00:56] Skyge commented on #1795
@abcoathup  Ohhh, I see, I seldom use ERC721.

[2019-06-18 15:06] alanarvelo opened #1800 "PULL_REQUEST_TEMPLATE.md is empty"
Under the .github folder, the PULL_REQUEST_TEMPLATE.md only has "# Fixes" written on it. Was this never written? or was it deleted?

I am looking for what version/configuration of JS and solc linters to set up on my environment to start contributing.

The PULL_REQUEST_TEMPLATE.md file is mentioned (under _typical workflow_ , step 4) but not linked on the CONTRIBUTING.md file.

Thanks

[2019-06-19 00:03] nventuro commented on #1800
Oh, interesting, thanks! We should add that information to the template. It may have been deleted at some point, we used to have a larger one (that was not very useful and was therefore shortened).

Regarding setup, having Node ^v8.0, and running both `npm run lint` and `npm test` should suffice. `npm install` will install all required dependencies to run both of these commands: no other tools are

[2019-06-19 00:07] #1790 closed

[2019-06-19 00:08] alanarvelo commented on #1800
Awesome. Thanks for the clarification @nventuro.

[2019-06-20 09:18] AyushKaul opened #1805 "SafeERC20: forward revert reasons instead of "low-level call failed""
I'm using the crowdsale contract. I have deployed a detailedERC20 smart contract. When I send the ether to the crowdsale contract it shows me the following error:
SafeERC20: low-level call failed

When I use transfer() externally it works fine.

**💻 Environment**
Ganache-cli

[2019-06-20 16:25] alanarvelo commented on #1736
Hi guys @nventuro @balajipachai I think I understood what is required to fix this issue. What is the state of things? May I move forward?

[2019-06-22 01:45] nventuro commented on #1736
@alanarvelo there is an open PR (https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1748), but it hasn't received attention for some time now. I'd suggest taking a look at it and at the review comments - if I recall correctly some bugs were introduced by it. Other than that, by all means go ahead! 🎉

[2019-06-22 17:59] frangio opened #1806 "Document scalability issues with _tokensOfOwner"
`_tokensOfOwner` should not be exposed as an external function because it has cost proportional to the length of the array and can stop working when the array is too large. This should be stated in the function docs.

[Discussion in the community forum.](https://forum.zeppelin.solutions/t/expose-tokensofowner-method-on-erc721enumerable/888)

[2019-06-22 18:42] frangio commented on #1800
Oh, actually the file does have a lot more content, but it's written in HTML comment tags, so it doesn't show up in the GitHub preview. It definitely does show up in the Pull Request text field, though!

https://raw.githubusercontent.com/OpenZeppelin/openzeppelin-solidity/master/.github/PULL_REQUEST_TEMPLATE.md

[2019-06-22 18:42] #1800 closed

[2019-06-24 01:51] Skyge commented on #1805
Ohh? Maybe you there is something wrong with the token address.

[2019-06-24 06:06] cokia opened #1807 "UninitializedFunctionPointerInConstructor on pausable token"
**💻 Environment**
latest OpenZeppelin pausable token , solidity 0.5.0

**📝 Details**

I using openzeppelin pausable token with out modify, and i verify contract on ehterscan, and etherscan said solc bug's on my code.

![image](https://user-images.githubusercontent.com/24792377/59994805-2dd68000-9690-11e9-85c1-2d345266a4fc.png)

and i want to know about where is occurring
https://etherscan.io/solcb

[2019-06-24 06:45] pushcodeveryday commented on #1805
Are you talking about the ERC20 contract address?
I deployed the ERC-20 token first, then used the same address in the crowdsale contract. I'm positive that's the same.

[2019-06-24 20:16] nventuro commented on #1805
Hello @pushcodeveryday, thanks for reporting this!

Indeed, that error message isn't the best. @frangio and I thought about also including the original revert message, but we didn't get around to doing it yet.

Could you share the code for your crowdsale and token contracts? What function of `SafeERC20` are you calling?

[2019-06-24 20:25] nventuro commented on #1807
Hello @cokia, thanks for reporting this!

I think that warning only refers to the fact that the contract _could_ be vulnerable to that bug because of the Solidity version it was compiled with, not because of the code itself.

`ERC20Pausable` only has internal function calls in `PauserRole`'s constructor, but there are no function pointers involved, so I don't see how we could run into that bug. An

[2019-06-24 20:25] #1807 closed

[2019-06-24 20:40] #1687 closed

[2019-06-24 23:19] frangio commented on #1795
Cool @Arachnid! We've always been reluctant to implement string utilities given that your library already existed :smile: so we're happy to see that you'd like to contribute it.

There are several functions for which we haven't seen concrete use cases before. For example, do you know of situations where a smart contract needed to use `find`?

Do you know what are the most common functions that peo

[2019-06-25 00:17] Arachnid commented on #1795
I'm not aware of any concrete examples of that in use, no.

In my own subjective experience, read-only operations I've seen used in the wild:
 - UTF8 string length (we use it in ENS, but our use-case could be quite specific).
 - Converting between null-terminated `bytes32` short strings and variable length strings and back.
 - Comparing strings for equality or for sort order.
 - Checking a string

[2019-06-25 01:26] cokia commented on #1807
thanks for your comment 👍

[2019-06-25 12:29] pushcodeveryday commented on #1805
@nventuro I'm using the openzeppelin crowdsale contract:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol
I'm simply sending ether to this contract, So buyTokens(msg.sender) is called.
Token again openzeppelin DetailedERC20:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20Detailed.sol

[2019-06-25 15:49] nventuro commented on #1805
Did you give tokens to the `Crowdsale` contract? The default `buyTokens` will call [`transfer`](https://docs.openzeppelin.org/v2.3.0/api/token/erc20#ERC20.transfer(address,uint256)) on them, so it the contract has no tokens that call will revert.

[2019-06-26 06:42] pushcodeveryday commented on #1805
I deployed the crowdsale contract with the address having ERC20 tokens, I also passed the contract address at the time of deploying the crowdsale contract.

[2019-06-26 11:47] HM999 opened #1809 "ERC777 README.md broken link."
Click on the links to find the broken link.
https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/contracts/token/ERC777

[2019-06-26 12:14] HM999 commented on #1809
also here: https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/contracts/token/ERC20

[2019-06-26 16:57] jMyles opened #1810 "EIP191: Signature validation in solidity"
Hey friends!  For the past few months, we at @NuCypher have been finding all the right places to insert effort in order to achieve basic signing and verifying of arbitrary payloads across wallets and dapps.  Last year, we sponsored a gitcoin bounty in order to close EIPs 191 and 712, which each deal with signing and verifying using wallet keys.

Now that [EIP191](https://github.com/ethereum/EIPs/i

[2019-06-26 17:06] cygnusv commented on #1810
Correct link to `SignatureVerifier` with EIP191 logic:
https://github.com/nucypher/nucypher/blame/4ea10a651ddf5452cd187d3070e5259133aea4ff/nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol

[2019-06-26 19:55] nventuro commented on #1810
Hey there Justin, great talking to you again!

EIP191 definitely sounds like something we'd be interested in: we currently have a somewhat barebones [`ECDSA`](https://docs.openzeppelin.org/v2.3.0/api/cryptography#ecdsa) library to handle address recovery, but while working on projects with different signing needs, we've also come to the conclusion that some standard signing specification is requir

[2019-06-26 22:30] cygnusv commented on #1810
Hi Nicolás,
re: tests, we currently have a small test in Python:
https://github.com/nucypher/nucypher/blame/4ea10a651ddf5452cd187d3070e5259133aea4ff/tests/blockchain/eth/contracts/lib/test_signature_verifier.py
In case you're interested, I'd be glad to test this with your setting (JS + Truffle).

re: license, I don't think that'd be a problem for us.

[2019-06-27 14:52] westurner commented on #502
What additional information about what information is needed does this
require?

PAC Fundraisers *must* track personally identifiable information; PII which
probably shouldn't be stored in a blockchain.

An organization *must not* simply accept anonymous donations.

Can an (Ethereum) smart contact help with this multi-billion-dollar hoopla
every 4 years?

TPL and/or an off-chain application that p

[2019-06-27 16:24] nventuro commented on #1805
I'm not sure I fully understand your setup, if you have a deployment script, could you share it?

To clarify, what you'd need to do is:

a) Deploy the token contract
b) Deploy the crowdsale contract, passing it the token contract's address
c) Give tokens to the crowdsale contract

[2019-06-27 16:26] nventuro commented on #502
@westurner if I'm understanding correctly, this would require a system where people can somehow be identified on the blockchain, which sounds out of scope for the type of contracts OpenZeppelin provides. TPL does indeed seem to be a step in the right direction.

[2019-06-28 09:19] pushcodeveryday commented on #1805
@nventuro , Just to be clear, You are saying that i should transfer erc20 tokens to the crowdsale contract?

[2019-06-28 12:53] nventuro commented on #1805
Correct: the base `Crowdsale` will deliver tokens to buyers by calling `transfer`. You can read more about it in our [crowdsales guide](https://docs.openzeppelin.org/v2.3.0/crowdsales#token-emission).

[2019-06-28 14:59] frangio commented on #1805
We definitely should start forwarding the underlying reason string.

[2019-06-28 16:58] pushcodeveryday commented on #1805
Okay, I'll try that out.

[2019-06-28 19:06] frangio commented on #1809
Thank you @HM999! Unfortunately the links are broken on GitHub but they do work on the published docs at https://docs.openzeppelin.org.

[2019-06-28 19:06] #1809 closed

[2019-06-28 19:10] frangio opened #1812 "Relative links to guides are causing confusion"
There has been some confusion because the links to guides in the contracts READMEs do not work in the GitHub UI. (#1790, #1809, #1811)

The links however do work on the published site at https://docs.openzeppelin.org. This is the priotity, but given the confusion we're going to see what we can do to fix it on the GitHub UI.

[2019-07-01 16:29] frangio commented on #1810
`SignatureVerifier` doesn't seem to provide anything specific to EIP 191, does it? It looks like essentially the same functionality that we have in [`ECDSA`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/cryptography/ECDSA.sol).

Since EIP 191 proposes an alternative to `personal_sign`, which we have encoded as [`ECDSA.toEthSignedMessageHash`](https://github.com/OpenZ

[2019-07-01 16:37] cygnusv commented on #1810
Hi @frangio !
There was a mistake in @jMyles' original post. The correct link for `SignatureVerifier` is this one:
https://github.com/nucypher/nucypher/blame/4ea10a651ddf5452cd187d3070e5259133aea4ff/nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol

In particular, it provides support for versions 0 and E of EIP191.

[2019-07-04 16:46] ramikalai commented on #1099
Hey @nventuro, is there any progress/effort being made on the tokenescrow contracts? I believe this could definitely be useful.

[2019-07-05 05:17] logeekal commented on #1148
This seems to be an old issue. If it is still open I can pick this up. I am currently setting up the project, will report back with findings.

[2019-07-05 14:31] nventuro commented on #1148
Hey @logeekal, thanks for volunteering for this!

I haven't looked at these tests in quite some time, but like you said, they _are_ correct, and have 100% line coverage. The issues that I recall with them come from a maintainability/readability point of view, as mentioned in one of the comments:

That said, it is _very_ possible that I was being too harsh when evaluating these tests :sweat_smile:

[2019-07-05 14:40] nventuro commented on #1099
Hey @ramikalai! While we're still definitely interested in having this in OpenZeppelin, there's noone that I know of currently working on it.

The actual implementation and tests are probably not too hard, but we'd really like to get the design and API right, which is way trickier.

[2019-07-05 15:38] ramikalai commented on #1099
@nventuro I'm happy to help if there's anything I can look at?

[2019-07-06 08:30] Sparke2 opened #1813 "ERC223 implementation."
**🧐 Motivation**

ERC223 standard token implementation.

**📝 Details**

ERC223 token standard is one of the major token standards on Ethereum. There are some projects that rely on this token standard and I think that it is a good idea to provide a reference implementation at openzeppelin token list.

[2019-07-08 01:14] kwanlae opened #1814 "fix value typo in ERC721.sol"
There is mistypo in ERC721.sol comment

**💻 Environment**

**📝 Details**

In "contracts/token/ERC721/ERC721.sol", there is "bytes4(keccak256('isApprovedForAll(address,address)')) == 0xe985e9c" in comments.

But the result is 0xe985e9c5 not 0xe985e9c, just mustypo I think.

**🔢 Code to reproduce bug**

[2019-07-08 11:17] logeekal commented on #1148
Thanks @nventuro  for your revert, I will get back to you looking at the code again. Also as @elopio  has pointed above about missing getApproved test, I will add that as well.

Cheers.

[2019-07-08 19:23] frangio commented on #1813
Thank you for the suggestion @Sparke2.

Some previous discussion about ERC223 in https://github.com/OpenZeppelin/openzeppelin-solidity/issues/512 and https://github.com/OpenZeppelin/openzeppelin-solidity/issues/346.

The major issue that we have is that the ERC has never been finalized. The document is still technically a draft. Our current preference is towards not including ERCs that are drafts,

[2019-07-08 19:27] frangio commented on #1814
Thanks for reporting @kwanlae!

[2019-07-08 19:27] #1814 closed

[2019-07-08 19:32] frangio commented on #1736
https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1748 was just closed as stale. The PR is mostly good but it has some changes to the existing functions that are incorrect and should be reverted.

Whoever wants to pick this up please do!

[2019-07-08 19:55] frangio commented on #1148
@logeekal Cool! Feel free to suggest improvements if you think of anything else. :slightly_smiling_face:

[2019-07-08 20:31] frangio commented on #1810
@cygnusv Cool! That makes sense now. :slightly_smiling_face:

We have to decide what API we want for EIP 191 signing. My first thought is to add an EIP191 `library` with one function per signature version, and additionally to deprecate `ECDSA.toEthSignedMessageHash` in favor of it.

These are some initial names I came up with but I don't necessarily like them. Suggestions are appreciated.

[code]

[2019-07-08 20:37] frangio commented on #1099
@ramikalai I'm curious to hear your use case! It will help prioritize this for us.

[2019-07-09 13:11] ramikalai commented on #1099
@frangio We are looking at building escrow wallets for ERC20 tokens. I think if done properly (as part of openzeppelin), then this could be built in a way that is extendable to multisig wallets/multiownable contracts for ERC20.

Effectively, what I think needs to be built is
- An abstract mulit-ownership contract (Similar to Ownable.sol).
- An abstract escrow contract: This would define the approv

[2019-07-10 17:10] cartosys commented on #1728
My project involves 100's of ERC20 contracts.  My understanding is that this could theoretically replace them all with ONE ERC1155 contract? Plus the benefit of using it for any number of NFTs. If that's the case then yes. I would use this for my project.

[2019-07-10 19:08] thegostep opened #1817 "Add UnorderedKeySet library"
**🧐 Motivation**
Add commonly used mapping key management library.

**📝 Details**
Add the UnorderedKeySet library to OpenZeppelin: https://github.com/rob-Hitchens/UnorderedKeySet

[2019-07-11 16:03] frangio commented on #1099
Generally we believe that complex authorization mechanisms like multisig should be separate from the contract they manage. So the contract should only have a single owner which is a itself a multisig wallet. Have you found scenarios where this doesn't work well?

I don't understand this idea very well. Can you give an example of an approval mechanism? Would this work _without_ multi-ownable?

[2019-07-12 11:37] logeekal commented on #1148
Sure @frangio . I am thinking of doing this fix in 2 parts.

1. I have added missing tests for getApproved function
2. I will go through the naming of the variables(creator, sender, etc) and will suggest some changes as per the original reason for opening the issue.

For the first one, I will be opening the pull request soon. You can let me know if it is not the correct way.

Thanks.

[2019-07-12 13:59] logeekal commented on #1736
I am picking it up and will get back with more questions.

Thank you.

[2019-07-12 14:04] logeekal commented on #1163
I can take it up @shrugs. Your implementation helps and will get back on this.

[2019-07-12 17:08] alanarvelo commented on #1736
Hi @logeekal, I submitted a PR two days ago tackling this. Feel free to take a look at it and shoot questions or suggestions

[2019-07-12 19:56] frangio commented on #1817
Thanks for the suggestion @thegostep!

If I understand correctly `UnorderedKeySet` is essentially an iterable mapping. Is that right?

In particular it provides iteration of one item at a time. I think we'll be inclined against including this feature, because this kind of iteration turns out to not be very useful for smart contracts or dapps. There's been [some discussion recently](https://forum.z

[2019-07-12 20:16] thegostep commented on #1817
Ah interesting, we use iterable mappings quite a bit on the dapp side though do not use it from the smart contracts for obvious reasons.

Is there an alternative method for dapps to iterate over mappings?

[2019-07-12 22:57] frangio commented on #1817
Can you share more details on how you do this? Have you run into performance problems with the approach?

Can you expand on this a bit? I don't see any difference from using a mapping by itself.

[2019-07-12 23:03] frangio commented on #769
Our current position on this is that complex authorization mechanisms like multisig should be separate from the contract they manage. So contracts should only have a single owner which is a itself a multisig wallet.

[2019-07-12 23:03] #769 closed

[2019-07-12 23:07] frangio commented on #898
This is part of a bigger challenge we have of uniformly handling tokens and ether in several of our contracts. We don't have a good design for this yet. Related to https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1099.

[2019-07-13 03:05] frangio commented on #965
Closing this as it can be accomplished with Solidity `.call` and `abi.encodeWithSelector` for the call data. I believe in EIP 165 the function was implemented because at that point there was not non-assembly `staticcall` in Solidity.

Anyone interested in this may also be interested in https://github.com/ethereum/solidity/issues/6927.

[2019-07-13 03:05] #965 closed

[2019-07-13 03:15] frangio commented on #1761
The Solidity bug above has been fixed in 0.5.10. However, bumping the minimum solc required for this contract to 0.5.10 is technically a breaking change, because we currently support 0.5.0.

@nventuro What do you think? I think it would be okay to bump the pragma for this specific contract. Removing the hand written assembly is definitely desirable.

[2019-07-13 03:43] frangio commented on #1493
@c-o-l-o-r Thank you for expressing this concern. Sorry for not replying to it earlier.

OpenZeppelin contracts are opinionated precisely because we don't want the burden of making these decisions to be on the developers. If one of our decisions turns out to be a bad one, we don't want it to be in the library at all, not even as an opt-in thing.

Disallowing a send to the address `0` is compliant

[2019-07-13 03:43] #1493 closed

[2019-07-13 03:51] frangio commented on #1745
Note that for concatenation of the base URI with the tokenId string we will use `abi.encodePacked`.

[2019-07-13 03:51] frangio commented on #1163
Hey @logeekal, there's actually been a new related proposal that I prefer: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1745.

The idea is to generate an automatic URI for each token that is the concatenation of a base URI and the token id. I feel like this provides a more complete solution to the problem.

There is no one working on that at the moment. Would you like to? There is

[2019-07-13 03:57] frangio commented on #890
Update: we already have [`Strings.fromUint256`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/drafts/Strings.sol) for converting numbers to strings.

[2019-07-13 05:10] frangio commented on #1127
Closing this issue. The added complexity and correctness concerns around cache invalidation make me think this is not worthwhile to implement.

[2019-07-13 05:10] #1127 closed

[2019-07-13 18:28] logeekal commented on #1163
Thanks @frangio for pitching in and pointed me in right direction. I am here to learn and can certainly take it up. I may need a little help on the way though.

thanks again.

[2019-07-13 18:28] logeekal commented on #1745
As discussed in #1163 , I can take this up.

[2019-07-13 18:43] frangio commented on #1163
Cool! Closing in favor of #1745 then.

[2019-07-13 18:43] #1163 closed

[2019-07-15 16:29] frangio commented on #962
Closing as we've removed the previous `RBAC` and our focus is on Roles now.

[2019-07-15 16:29] #962 closed

[2019-07-15 16:40] frangio commented on #579
It doesn't seem possible yet to configure account balances. Moreover, it seems that the "built in" test node is not really in-process, so there won't be any performance improvements over what we have now.

[2019-07-15 16:40] #579 closed

[2019-07-15 19:25] nventuro commented on #1813
Closing for the reasons outlined above. We're still open to including such a standard, if the design moves forward and is finalized.

[2019-07-15 19:25] #1813 closed

[2019-07-15 19:52] nventuro commented on #1810
@jMyles @cygnusv given that you've been working in and sponsoring development of EIPs 191 and 712, could you share what the current status of those are? I haven't been able to find relevant recent activity on the EIPs repo, and I'm worried we may be working with an outdated version of the spec.

[2019-07-15 21:36] thegostep commented on #1817
Keep a dynamic sized unordered array of the active mapping keys and access with simple getter. Have not run into performance issues yet.

The array of mapping keys allows the dapp to quickly access the list of mapping entries without parsing event logs.

[2019-07-16 09:16] cygnusv commented on #1810
@frangio Those are good questions. It's true that the actual cryptographic signing only cares about what's the hash value to sign, so we here only have to worry about how to produce the hashes with the correct encoding. I agree with you that users only need the resulting hash, either for signing or verification, so I don't see much value in returning the encoded message, prior to hashing.
What we

[2019-07-16 12:20] frangio commented on #1810
@cygnusv Do you want to open a PR adding this new library?

[2019-07-17 19:41] nventuro commented on #890
Note that signed data should _always_ be a hash, since signatures can be faked for arbitrary data. This helper would still be safe in that sense because, even if the underlying `bytes` are not a hash, the whole signed message is.

[2019-07-17 20:08] nventuro commented on #1761
_Technically_ our [API guarantees](https://docs.openzeppelin.org/v2.3.0/api-stability#solidity-compiler-version) explicitly exclude the Solidity version.

I think bumping the pragma on this one is fine. We should also update the `truffle-config` file to upgrade the one we use in our builds, since we're not running with 0.5.10 yet.

[2019-07-18 17:11] pointtoken commented on #1745
@logeekal Will your implementation make the baseTokenURI settable? I think this would be good, in the event that the URL needs to change. Is this code in a branch anywhere?

[2019-07-18 17:17] yopereir commented on #1761
Should i make theses changes to this file and `truffle-config` and make a PR then?

[2019-07-18 17:38] nventuro commented on #1761
@yopereir that'd be great! :grin:

[2019-07-19 08:22] logeekal commented on #1745
Hello @pointtoken, I will start implementation today so no code branch as of now.  And I am assuming that it should be settable so that everyone can set there own URI probably in constructor of their contract so that they do not have to do that with every mint operation.

What do you think @abcoathup, In Blockhorses I see that you have hard-coded it, so to be generic I also think it should be sett

[2019-07-19 08:49] abcoathup commented on #1745
Hi @logeekal

I agree, I think that a private `_baseTokenURI` state variable should be set in the constructor via a parameter.

There should also be an internal setter function, so tokens inheriting from this contract can create a mechanism to change the _baseTokenURI as required.

In [PeepethBadges.sol](https://github.com/peepeth/badges/blob/master/contracts/PeepethBadges.sol) we had the private

[2019-07-19 10:11] logeekal commented on #1148
@frangio & @nventuro ,
Regarding the naming consistency in ERC721 tests. I went through the complete test suite and below are my observations :

 
--

[2019-07-19 13:55] yopereir commented on #1761
ok, i'll do it over this weekend.

[2019-07-19 16:41] pointtoken commented on #1745
Once one embraces the idea of offchain metadata for an NFT, one is embracing the idea that the NFT has data which could change. As such, the URL itself of the metadata needs to be change-able. Classic example: the company that created the contract gets sold or folds or who knows what, and the the metadata server itself is no longer available. There could be a scenario where a new metadata server i

[2019-07-19 16:43] pointtoken commented on #1745
Here's some code, although it is old and there may be better ways now:
`

[2019-07-19 16:45] pointtoken commented on #1745
Here's some code, although there may be better ways now:

`   string public tokenURIPrefix = "https://api.nft.com/";

    function updateTokenURIPrefix(string newPrefix) external onlyOwner {
        tokenURIPrefix = newPrefix;
    }

 function tokenURI(uint256 _tokenId) public view returns (string) {
        return string(abi.encodePacked(tokenURIPrefix,uint2str(_tokenId)));
    }

    function ui

[2019-07-19 20:03] nsingh3905 opened #1824 "Unable to import "github/OpenZeppelin/openzeppelin-solidity/contracts/math/SafeMath.sol": File not found"
**🧐 Motivation**
Yes, the problem is related to how the contract interacts with the remix ide

**📝 Details**

find a way to import the contracts into the chosen smart contract without issues

[2019-07-19 21:02] abcoathup commented on #1824
Hi @nsingh3905

You can import OpenZeppelin Contracts with Remix using the prefix `https://github.com/OpenZeppelin`

Using the [example ERC20 contract](https://docs.openzeppelin.org/v2.3.0/tokens#constructing-an-erc20-token-contract) from the OpenZeppelin documentation you can import OpenZeppelin as follows:

[code]

For support questions you can ask in the community forum: https://forum.zeppelin.

[2019-07-19 21:31] nventuro commented on #1824
Note that you should only use code published in an official release, but Remix pulls from `master` directly. You can take a look at our [Getting Started](https://docs.openzeppelin.org/v2.3.0/get-started) guide for information on how to setup a development environment.

[2019-07-19 21:36] abcoathup commented on #1745
Hi @pointtoken

There is already a Strings library in drafts with a `fromUint256` function.
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/c5c0e22c8963971381ba8e68198cf3ef0131ae3e/contracts/drafts/Strings.sol#L13

I suggest that the `_tokenURIPrefix` state variable be private (and hence have an underscore) and that the setter `_updateTokenURIPrefix` be internal.

That way, inheriting c

[2019-07-19 23:38] nsingh3905 commented on #1824
Hi I've looked into this method and the transaction on the ethereum ropsten
testnet has failed due to exceeding the gas limit

On Fri, 19 Jul 2019 at 14:32, Nicolás Venturo <notifications@github.com>
wrote:

[2019-07-20 15:39] elch-yan opened #1827 "Custom error messages as a third parameter to SafeMath functions"
**🧐 Motivation**
It would be nice to have an option to add custom error message as a 3rd parameter to SafeMath contract functions.

**📝 Details**
One such example where it would be convenient is this:
`uint256 finalFund = funds[msg.sender].sub(amount, "No enough funds!");`

[2019-07-22 07:29] abcoathup commented on #1824
@nsingh3905
I was getting a gas estimation failed error message until I logged into MetaMask.
I updated my sample contract to specify versions of the contract to import. (Thanks @nventuro for the reminder).

For support questions you can ask in the community forum: https://forum.openzeppelin.com/

[2019-07-22 10:20] ramikalai commented on #1099
Hi @frangio, sorry got caught up at work.

On your first point, yes I agree that could definitely work.

An example of approval mechanisms are a simple toggle of approval that each owner can interact with. Other mechanisms can be added as well such as  m of n if ownership is implemented through a multisig wallet. Approval can be on a transaction basis, meaning that parties approve a certain transa

[2019-07-22 17:01] nventuro commented on #1827
Hey there @elch-yan, thanks for this!

I've been thinking about this very feature for some time now, it's great to see that more people also consider it useful. Many people drop SafeMath checks in order to get a custom error message, so providing a way to do this makes a lot of sense.

[2019-07-22 21:58] nsingh3905 opened #1833 "Supply of tokens"
So I've made an ERC20 token contract, tested it on etherscan, ive included a constructor which says the name, symbol, decimals. I'm trying to figure out where exactly to put the total supply of tokens that need to be produced. do I do it on etherscan when im verifying code? do i put it in remix  next to the deploy button?. or does etherscan control the supply for us.

[2019-07-23 00:56] abcoathup commented on #1833
Hi @nsingh3905

For support questions (rather than Feature Requests or Bug Reports) I suggest that you ask in the OpenZeppelin Community Forum: https://forum.openzeppelin.com/ that way the entire community can help answer your question.

To understand ERC20 supply, I suggest you have a look at the OpenZeppelin Contracts ERC20 documentation:
https://docs.openzeppelin.com/contracts/2.x/tokens#ERC20

[2019-07-23 01:30] Skyge commented on #1824
@nventuro

When I click your  recommending `Getting Started` guide, it shows `Page Not Found`, so maybe we should correct it to `https://docs.openzeppelin.com/contracts/2.x/`

[2019-07-23 04:53] xinbenlv opened #1839 "Migrate to CircleCI"
**🧐 Motivation**

I've recently found to like CircleCI better than TravisCI because it ***makes locally CI testing easier*** (for TravisCI I don't even know if that's possible). So if TravisCI doen't support local CI testing, I suggest we add CircleCI

**📝 Details**

I will be volunteer to contribute a PR to set it up if this community likes its idea.

See https://github.com/xinbenlv/eip-2135 for

[2019-07-23 13:49] spalladino commented on #1839
I'd like to hear @frangio's thoughts here, but on https://github.com/openZeppelin/openzeppelin-sdk we have migrated from Travis to Circle not long ago, and the experience is much better. So +1 from me on this!

[2019-07-23 18:26] frangio commented on #1839
We're super interested in this, yeah.

If you want to open a PR with the necessary config files please go ahead @xinbenlv! Please remove Travis CI in the same PR.

[2019-07-23 19:38] xinbenlv commented on #1839
Oh poor poor Travis CI....

[2019-07-23 21:19] nventuro commented on #1824
You're correct @Skyge, thanks! I've updated the link in my original comment to https://docs.openzeppelin.com/contracts/2.x/.

I think we can close this now since the original issue has been resolved, and the [forum](https://forum.openzeppelin.com/) is the preferred medium for support.

[2019-07-23 21:19] #1824 closed

[2019-07-23 21:50] xinbenlv commented on #1839
The new build status https://circleci.com/gh/xinbenlv/openzeppelin-contracts/5

[2019-07-24 16:29] frangio commented on #1756
@nickbui729 Unfortunately we've migrated away from Docusaurus to Antora.

[2019-07-24 16:29] #1756 closed

[2019-07-24 17:58] pointtoken commented on #1745
ok, as long that it is easy to make public and settable by an owner of the contract

[2019-07-24 18:21] xinbenlv commented on #1839
Does it look good? I actually also suggest we keep both Travis CI and CircleCI in parallel for a little while until CircleCI proof stable and sufficient. What do you think?

[2019-07-26 14:00] spalladino opened #1843 "Add GSN Recipient base contracts and strategies to Contracts"
Add the GSN RelayRecipient base contract, along with any helper libraries or base contracts for implementing a recipient app.

[2019-07-26 19:02] spalladino opened #1845 "Write a basic guide on using the GSN Recipient contracts"
Write a basic guide on using the contracts from https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1844

[2019-07-26 19:03] spalladino opened #1846 "Write advanced guide on GSN Recipient patterns"
As a continuation to #1845, write a more advanced guide on different patterns for implementing GSN recipients.

[2019-07-28 19:31] red111 opened #1849 "TimedCrowdsale validation bug"
I believe this line:

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/crowdsale/validation/TimedCrowdsale.sol#L93

is wrong, needs to be: ( "<" instead of ">")

require(newClosingTime < _closingTime, "TimedCrowdsale: new closing time is before current closing time");

[2019-07-28 19:50] red111 commented on #1849
nevermind

[2019-07-28 19:50] #1849 closed

[2019-07-29 18:23] #1827 closed

[2019-07-30 14:56] nventuro commented on #1148
Niiice, I didn't expect a full-fledged spreadsheet :sweat_smile: Your suggestions look good, please go ahead!

[2019-07-31 16:36] Austin-Williams opened #1850 "Provide function(s) that verify an address is an EOA"
**🧐 Motivation**
It can be useful to verify that a given address is:

1. For-sure an EOA
2. For-sure an EOA that is _not_ a one-time-use EOA

We could provide this functionality in the `Address` library.

**📝 Details**
I suggest adding two functions to the Address library.

The first would be: `isEOA(address account, bytes32 hash, bytes memory signature)`. This would accept an arbitrary hash, veri

[2019-07-31 18:19] nventuro commented on #1850
Hey @Austin-Williams, thanks for this suggestion!

A long standing issue with `recover` is that receiving a hash may cause people to think that a hash and signature are proof enough, we should probably change this eventually so that the `recover` call hashes its input. See the warning on [`recover`'s docs](https://docs.openzeppelin.com/contracts/2.x/api/cryptography#ECDSA-recover-bytes32-bytes-).

[2019-07-31 19:01] Austin-Williams commented on #1850
Oh this is a really good point! Yes, the functions would need to accept the message and perform the hash themselves.

Yes. But I'll DM them to you because some of them relate to vulnerabilities that haven't been made public yet. (Once they are public, I'll update this comment with a link to those vulns so that everyone else can see them).

[2019-07-31 20:31] spalladino opened #1851 "Add internal methods for withdraw and updateRelayHub in base recipient contracts"
There are currently two actions that an "owner" of a GSN recipient needs to be able to execute on their contract:

- withdraw deposited funds
- upgrade the relay hub address

Let's add `internal` methods for doing that, so each implementer can decide how to expose it. We need to document those in the basics guide as well.

[2019-07-31 21:43] xinbenlv opened #1852 "Even more fine-grained tests split for parallelism in CircleCI"
- Instruction: https://tech.sumone.com.br/parallel-tests-on-circleci-5236b8336031.

As a follow up of #1841

[2019-08-01 16:03] spalladino opened #1853 "Add version number to GSN Recipient base contract"
Add an external/public method that returns a static constant string "1.0.0", representing the version of the GSN relay hub that the recipient handles.

[2019-08-01 16:10] spalladino opened #1854 "Add overloads to accept and decline relayed call with returndata"
Currently, `GSNRecipient#acceptRelayedCall` returns only the return code. Change it so it also returns an empty acceptCall returndata, and add an overload where it receives and forwards such returndata. Same for decline.

[2019-08-01 16:12] spalladino opened #1855 "Add tests to GSNRecipientERC20Charge"
Add more tests to this GSN base contract.

[2019-08-01 17:45] spalladino opened #1856 "Fix code sample in Access Control guide"
On the [Access Control guide for 2.x](https://docs.openzeppelin.com/contracts/2.x/access-control), the code snippet does not compile.

- [x] `DetailedERC20` in the constructor should be `ERC20Detailed`. (Fixed in #1792)
- [x] `minters` and `namers` should be `_minters` and `_namers`. (Fixed in #1792)
- [ ] The `rename` function attempts to change name and symbol, but these are private in `ERC20Det

[2019-08-02 19:10] #1855 closed

[2019-08-04 16:03] spalladino commented on #1851
Pending update to the new withdraw ABI

[2019-08-04 16:03] spalladino commented on #1854
Implemented

[2019-08-04 16:03] #1854 closed

[2019-08-04 16:04] spalladino commented on #1853
Implemented

[2019-08-04 16:04] #1853 closed

[2019-08-04 16:05] spalladino commented on #1843
Implemented

[2019-08-04 16:05] #1843 closed

[2019-08-05 14:21] spalladino opened #1858 "Update RelayHub abi"
RelayHub's ABI has changed in tabookey-gasless (the `withdraw` method has changed in https://github.com/tabookey/tabookey-gasless/pull/201). We need to update it locally as well.

This implies modifying the `withdraw` internal method on GSN context as well (and removing the payable fallback function we had to add to support the old version).

[2019-08-05 14:24] spalladino commented on #1851
Implemented

[2019-08-05 14:24] #1851 closed

[2019-08-05 21:01] #1845 closed

[2019-08-06 13:35] Dinslinger90 opened #1859 "Typo in Arrays.sol"
On this line:

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/Arrays.sol#L12

Change the word stictly to strictly.

[2019-08-06 13:46] Dinslinger90 opened #1861 "Typo in ReentrancyGuard.sol"
On this line:

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/ReentrancyGuard.sol#L7

Change word aplied to applied.

[2019-08-07 01:57] abcoathup commented on #1861
Thanks @Dinslinger90 :pray:

For typo's you can create a Pull Request rather than having to create an Issue.

[2019-08-07 02:00] abcoathup commented on #1859
Thanks @Dinslinger90 :pray:

I created a pull request with the typo corrected.

[2019-08-07 12:49] Dinslinger90 commented on #1859
Welcome 👍 . You can close this once reviewed.

[2019-08-07 12:52] Dinslinger90 commented on #1861
Roger that. 👍

[2019-08-07 16:25] #1839 closed

[2019-08-07 19:35] #1859 closed

[2019-08-07 21:40] SergZen opened #1869 "Using shouldBehaveLikePublicRole for testing contracts related to roles"
In existed code we use this function for testing all contacts releted to roles:
 const { shouldBehaveLikePublicRole } = require('../../behaviors/access/roles/PublicRole.behavior') But this function has more restrictions on its use.

**💻 Environment**

I use openzeppelin-contracts 2.3.0

**📝 Details**
I am trying to reuse contacts and tests related to roles.
I see all tests related to roles use thi