[2019-08-07 22:04] AC0DEM0NK3Y commented on #1728
Yes this is possible, all the functions have an `_id` var so you can differentiate between different token sets with it.

So erc-20 style `balanceOf(address tokenOwner)` can instead be called with erc-1155 `balanceOf(address _owner, uint256 _id)` or `balanceOfBatch(address[] calldata _owners, uint256[] calldata _ids)`.

erc-20 is a much simpler API design but for implementations that need to mix m

[2019-08-08 00:34] #1861 closed

[2019-08-08 00:37] frangio commented on #1845
Fixed in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1847.

[2019-08-08 00:45] frangio commented on #1855
Implemented in #1844.

[2019-08-08 07:40] Aniket-Engg opened #1870 "require not working in view/pure functions"
Many functions in openzepplin contracts are using `require` statement in `view` function but it doesn't work as expected.

**📝 Details**
`require` in `view` function does not actually perform any role for now. It is being used in many openzepplin contract. For example:
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC721/ERC721.sol#L62
https://github.com/OpenZe

[2019-08-08 08:50] abcoathup opened #1871 "Docs: Add links to source code in API documentation"
**🧐 Motivation**
I browse through the documentation everyday and then have to browse to the source code.
I want to make my life easier :smile:

**📝 Details**
ZeppelinOS documentation had source code links in the API documentation which made it easy to get to the appropriate version of the code.

I also post links to the code in replies in the forum and on stackexchange/stackoverflow and it would b

[2019-08-08 18:24] frangio commented on #1871
Agreed! I believe this should be added in the template for rendering a contract's docs: [`contract.hbs`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/docs/contract.hbs). The template item `{{file.path}}` might be what we need. I'm not sure how we

It may be necessary to

[2019-08-08 18:26] frangio commented on #1871
(Closed accidentally. :man_facepalming:)

Agreed! I believe this should be added in the template for rendering a contract's docs: [`contract.hbs`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/docs/contract.hbs). The template item `{{file.path}}` might be what we need.

We should make the links go to the tag for the latest release, and I'm not sure how we can do this in the te

[2019-08-08 21:22] #1869 closed

[2019-08-09 15:15] Dinslinger90 opened #1872 "ERC20.sol TYPO"
I was told to pull request for typos. But not sure how to do those stuffs yet. So requesting issue.

On the line number 220. Change word Destoys to Destroys. Thanks you 👍

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol

[2019-08-09 16:48] obernardovieira commented on #1872
Hello,
in case you don't know, you can create a direct link to a specific line, by clicking at the line number when looking at the code at your browser url will change, then, just copy it
Here's an example https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol#L220

About the PR, here are the guidelines https://github.com/OpenZeppelin/openzeppelin-contra

[2019-08-09 17:08] Dinslinger90 commented on #1872
Thanks for your guidance @obernardovieira . Will look into it 👍.

[2019-08-09 17:52] frangio commented on #1872
Welcome @Dinslinger90!

Look for the pencil icon in the [`ERC20.sol`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol) page, just above where the file starts. GitHub will allow you to edit the file and submit a pull request from the web interface.

[2019-08-09 17:56] frangio commented on #1850
It's a great point. One way of thinking about this is that a one-time-use EOA is essentially a counterfactual contract.

[2019-08-09 18:10] #1872 closed

[2019-08-09 20:38] frangio commented on #1858
Fixed in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1844/commits/f18f937a09731bf38ae09d4ca4fba8ad4ffb51e6.

[2019-08-09 20:38] #1858 closed

[2019-08-10 02:34] Skyge commented on #1870
Emmm, I do not think this is a solidity issue.

[2019-08-10 08:34] andrewerf opened #1874 "Securence of ERC20 transferFrom"
Please explain, what prevents such kind of attack ?

Imagine Alice calls `approve(Contract.address, amount)` to invoke Contract' `method()` which withdraws from her address.
Then imagine Bob has accidentally found it out, and he wants to prevent Alice invokes `method()`.
So he waits until Alice' `approve` transaction is mined, then calls `transferFrom(Alice.address, Contract.address, amount)` and

[2019-08-10 20:50] Luiserebii opened #1876 "Updating CONTRIBUTING.md?"
Something I noticed is that the `CONTRIBUTING.md` and the instructions in making a PR differ, and the former has a command that might not run.

The steps for running tests and the linter are:
[code]

However, `npm linter` errors, and I imagine it is supposed to be `npm run lint`. The PR comments ask for running `npm run lint:sol` and `npm run lint:fix`, though I think that since `npm run lint` enc

[2019-08-11 22:53] Skyge commented on #1874
@andrewerf  Hello! actually, when Alice calls
[code]
it means only `Contract` can transfer token instead of Alice, so only `Contract` can call
[code]
if Bob calls this approach `transferFrom()`, you can find at here: https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol#L99, so it will fail due to not satisfying the conditions.

[2019-08-12 00:30] Skyge commented on #1874
By the way,
[code]
 [OpenZeppelin Community Forum](https://forum.openzeppelin.com/ )
[code]

[2019-08-12 00:30] abcoathup commented on #1876
I would just change `npm linter` to `npm run lint` as this will report on linting issues.
There currently isn't a fix option for Solidity linting.

[2019-08-12 01:56] Luiserebii commented on #1876
Ok, great, just made a PR! Let me know if this looks good.

[2019-08-12 13:04] roleengineer commented on #1874
Hi, I'm not an expert, and maybe answer on my question lays somethere in the docs, but I can't understand why firstly executes internal function _transfer and secondly _approve here
 https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/ERC20.sol#L99, if only _approve throws the error and reverts tx. Do you think there is no situation when the _transfer function

[2019-08-12 14:35] Skyge commented on #1874
@roleengineer I have asked the same question yesterday, I think someone made a mistake in a pr, at least at the original version, it will check
[code]
at first.

[2019-08-12 17:46] #1876 closed

[2019-08-14 02:36] northeusunshine opened #1882 "ERC20Mintable contract application returns a strange wrong number."
Based on OpenZeppilin ERC20Mintable contract, I add a function to limit maximum minterable token amount.  I add a static variable `uint256 MaxSupply` to record and want to make `MaxSupply`  accessiable to  contract owner only.
But when I use `onlyMinter` modifier, It retruns a long strange number,like below:
[code]
However, when remove `onlyMinter` modifier, the result is correct as expectation:
[

[2019-08-14 03:16] abcoathup commented on #1882
Hi @northeusunshine

To have a mintable token with a capped (maximum) supply you can use OpenZeppelin ERC20Capped https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#ERC20Capped

A simple token example using this:
[code]

For support questions it is best to ask in the OpenZeppelin Community Forum: https://forum.openzeppelin.com/ so that the entire community can answer your question.

[2019-08-14 03:37] northeusunshine commented on #1882
Do you have advice about how to fix the error? I have no idea why the modifer lead to the error.
I will try the ERC20Capped.Thanks.

[2019-08-14 03:50] abcoathup commented on #1882
I tried reproducing by deploying your contract using Remix and didn't get the error that you were seeing.

I assume you used values of decimals: 18, _initSupply: 1000 and _initSupply: 100.

Where were you adding the `onlyMinter` modifier to your code?

[2019-08-14 04:33] abcoathup commented on #1882
Thanks for posting in the forum.
https://forum.openzeppelin.com/t/erc20mintable-contract-application-returns-a-strange-wrong-number/1178

I will close this Issue here.

[2019-08-14 04:33] #1882 closed

[2019-08-14 05:39] abcoathup commented on #1870
Hi @Aniket-Engg
How and where do you think this should be documented in OpenZeppelin?
e.g. We can create a topic in the forum to alert the community

A community member had this problem today: https://forum.openzeppelin.com/t/erc20mintable-contract-application-returns-a-strange-wrong-number/1178

[2019-08-14 05:48] abcoathup commented on #1833
Hi @nsingh3905
If you need further assistance, please ask in the OpenZeppelin Community Forum: https://forum.openzeppelin.com/

I am closing this issue as it is now a few weeks since the last reply.

[2019-08-14 05:48] #1833 closed

[2019-08-14 20:40] Luiserebii opened #1883 "Minor refactoring of .circleci yaml?"
I wanted ask about: https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/.circleci/config.yml

I think
[code]
could simply take advantage of the alias defined earlier and use:
[code]

Is there a reason why it doesn't?

Also, I was curious about perhaps adding an alias for:
[code]

Since it pops up everywhere. Would this be overkill?

Thanks,
Luiserebii~

[2019-08-15 00:29] pengming273 commented on #1805
regarding step 3: c) Give tokens to the crowdsale contract,  how to implement it?

[2019-08-15 00:38] abcoathup commented on #1805
Hi @pengming273

The OpenZeppelin Contracts tests are great to see how to implement:
You just need to transfer the supply of the token to the crowdsale
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/cab26fd0462479bfb5795d81f0164adb4bce352b/test/crowdsale/Crowdsale.test.js#L42

If you need more information on how to implement I suggest you post in the Community Forum: https://forum.ope

[2019-08-15 12:31] xinbenlv commented on #1883
I have not used *defaults, not sure if it applies to only circleci config version 2.1. Feel free to try it. If it works, I would suggest this change

[2019-08-15 14:53] alanarvelo commented on #1736
Hi @frangio should we close this issue? Any other particular issue that I can help on?
Thanks.

[2019-08-15 15:13] #1736 closed

[2019-08-15 15:13] frangio commented on #1736
Yes thanks for pointing it out!

[2019-08-15 15:44] alanarvelo commented on #1772
Hi @nventuro @frangio I will take a deeper look into this and revert with questions.

[2019-08-15 19:35] Luiserebii commented on #1883
Sure, ok, will try now!

[2019-08-15 20:07] Luiserebii commented on #1883
Just made a PR for this here: https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1885

[2019-08-15 20:07] Luiserebii commented on #1883
Closed by accident, apologies, haha.

[2019-08-15 20:38] Austin-Williams commented on #1850
That's a good way of putting it.

[2019-08-18 00:28] alanarvelo commented on #1772
Hi @nventuro and @frangio made a PR with the creation of `RoleChecker.sol`, and a slight addition to `Roles.sol`, so we can discuss the implementation of this over the code — with inline comments and all that good stuff.

[2019-08-18 20:22] logeekal commented on #1148
@nventuro , @frangio , Raise above pull request (#1891 ) for renaming symbol files.

[2019-08-20 08:21] Aniket-Engg commented on #1870
Hi @abcoathup , as previously, we were providing suggestions to use `approve` function of ERC20 tokens via adding some details in function developer comments, so at first, I got the idea to mention it just above such functions. Now we can put that probably in the comments on file's top.

I analysed it and it seems a web3.js issue which may be resolved in future so we need to add a note somewhere t

[2019-08-20 08:31] Skyge commented on #1870
Come to the [forum](https://forum.openzeppelin.com/) to talk more details.

[2019-08-21 03:23] abcoathup commented on #1870
Hi @Aniket-Engg

Thanks for raising this.  I have created a topic in the forum and made it a wiki post (so that anyone can edit it):
https://forum.openzeppelin.com/t/require-in-view-pure-functions-dont-revert-on-public-networks/1211

[2019-08-21 06:26] Aniket-Engg commented on #1870
Looks fine. Thanks @abcoathup .

[2019-08-22 09:51] pushcodeveryday commented on #1805
@frangio, I agree that the error message is not intuitive. Refactoring the returned errors might be useful in cases like these.

[2019-08-23 08:02] lastmjs opened #1893 "Add an Ethereum name or address to package.json"
**🧐 Motivation**

I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files. I'm not quite ready to share the project, but I'd love to see an Ethereum address in this project's package.json file.

**📝 Details**

I would like to see an Ethereum name or address added to the `ethereum` f

[2019-08-23 09:50] spalladino opened #1894 "Document functions gas limits for GSN"
GSN recipient hooks must run under a specific gas limit. We should document them clearly in the API docs and the guides.

[code]

[2019-08-24 23:21] abcoathup opened #1897 "The “extcodehash” instruction is not supported by the VM version “byzantium” you are currently compiling for"
Compiler Warning: `The “extcodehash” instruction is not supported by the VM version “byzantium” you are currently compiling for`, when importing master branch of OpenZeppelin Contracts using Address.sol on Remix.

Pragma compiler version for [Address.sol](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/Address.sol) is ^0.5.0 but VM version of "petersburg" is requ

[2019-08-27 10:50] crazyrabbitLTC commented on #1893
Hello @lastmjs, couldn't you use ENS for this? It would be more secure than using just plain Ethereum Addresses. Maybe embedding the ethereum address into the package.json file isn't the right way to go? Not sure, but I like the idea very much.

[2019-08-28 05:58] pushcodeveryday commented on #1805
I'll also look into it.

[2019-08-28 09:08] Luiserebii opened #1902 "Integrating TypeScript for smart contract tests?"
## Idea

This has been something on my mind for a while now, the potential for using TypeScript for writing tests. Strict typing could be a good boost to ensuring things are running as expected, and an argument that comes to mind is that vanilla JavaScript is a forgiving language that may not be the best for writing smart contract tests for, given how sensitive they may be.

## Counter-arguments

[2019-08-29 03:36] abcoathup commented on #1902
Hi @Luiserebii

Suggest posting this in the forum to discuss the need with the community: https://forum.openzeppelin.com/

[2019-08-29 16:31] sobolev-igor opened #1905 "Gas optimisation in Ownable contract"
**🧐 Motivation**
I was discovering `Ownable` contract and noticed that `OwnershipTransferred` event is emitted with `_owner` passed as second argument. However, this adds one `SLOAD` operation.
**📝 Details**
If `_owner` is replaced with the `msg.sender` the cost of deployment slightly reduces. The same issue can be found for example in `Secondary` contract's constructor.

Or are there any incetive

[2019-08-29 17:28] lastmjs commented on #1893
I think a better idea now is to put the Ethereum address or name into the `FUNDING.yml` file for GitHub Sponsors. Like so:

[code]

You can see a couple of examples of this integration with GitHub Sponsors below:

https://github.com/lastmjs/sustainus

[2019-08-29 18:44] nventuro commented on #1905
Hm, interesting! The fact that `SLAOD`'s cost is about to increase x4 means that this change will be even greater.

[2019-08-29 20:10] nventuro commented on #1902
We're actually planning on bringing some changes into the test suite! What sort of things do you think TypeScript could help with? I know there were some efforts to create typed contract objects, but I'm not sure how far along those have come. Do you use TS in your own setup?

[2019-08-29 21:57] #1894 closed

[2019-08-30 01:21] Luiserebii commented on #1902
Hey @nventuro,

That's great to hear! I'm happy to hear that this is topic conveniently relevant. I think that the type-checking TypeScript could be able to offer could strengthen tests and detect bugs at compile-time. I've heard from friends that web3.js can sometimes return objects they weren't quite expecting, though I can't remember for myself if this was ever the case for me.

ESLint itself h

[2019-08-30 03:25] abcoathup commented on #1902
Hi @Luiserebii
I have created a topic in the forum to discuss: https://forum.openzeppelin.com/t/discussion-using-typescript-for-writing-smart-contract-tests/1262

My preference for discussions is the forum as more of the community can get involved in the discussion.

[2019-08-30 15:02] frangio commented on #1812
This was resolved in https://github.com/OpenZeppelin/openzeppelin-contracts/commit/7552af95e4ec6fccd64a95b206f59a1b4ff91517 when we migrated to the new Antora setup.

[2019-08-30 15:02] #1812 closed

[2019-08-30 16:12] nventuro commented on #1902
Closing the issue to continue discussion in the forum.

[2019-08-30 16:12] #1902 closed

[2019-08-30 20:24] frangio commented on #1905
Here's the relevant code for reference:

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/d864228624e3661eaf10b7d00995110116e51094/contracts/ownership/Ownable.sol#L21-L24

We should introduce a local variable to avoid the SLOAD. Pull requests welcome!

[2019-09-02 07:33] abcoathup opened #1909 "Documentation Request: in-depth guide on ERC777 operators"
**🧐 Motivation**
Documentation currently says:

https://docs.openzeppelin.com/contracts/2.x/tokens#_constructing_an_erc777_token_contract

**📝 Details**
A community member recently asked for the in-depth guide on ERC777 operators.

I pointed them in the interim to the simple ERC777 token example in the forum.
https://forum.openzeppelin.com/t/simple-erc777-token-example/746

[2019-09-03 21:17] frangio commented on #1846
Fixed in #1878.

[2019-09-03 21:17] #1846 closed

[2019-09-09 21:35] frangio commented on #1893
Hi @lastmjs! Interesting project! Thank you for the suggestion.

As I mentioned in #1888, accepting donations is not a priority for us right now, and before choosing a particular donation method we would like to evaluate the other options. We'll come back to this later!

[2019-09-09 21:35] #1893 closed

[2019-09-09 21:41] frangio commented on #1870
Thanks for bringing this up @Aniket-Engg! It's an interesting subtlety. Unfortunately since this affects basically everything, I'm not sure where we would place the notice in our documentation. I guess we can consider that this has been tackled by @abcoathup's thorough forum post and close it.

[2019-09-09 21:41] #1870 closed

[2019-09-09 21:47] #1905 closed

[2019-09-09 21:47] #1685 closed

[2019-09-10 18:23] nventuro commented on #1346
We found a workaround to all edge cases, and now have no more warnings!

[2019-09-10 18:23] #1346 closed

[2019-09-10 18:26] ChrisCates commented on #1346
@nventuro, sweet good to hear man!
I was going to restart it. But, the project got a huge update after I made that PR, and that PR was mostly useless.

Keep up the good work man!

[2019-09-11 18:22] pointtoken commented on #1745
Just curious the status of this feature @abcoathup @logeekal -- timeframe when it might get merged to master?

[2019-09-11 22:11] #1761 closed

[2019-09-11 23:50] cgewecke opened #1918 "Support testing with an in-process ethereum provider"
**🧐 Motivation**

solidity-coverage is being [rewritten](https://github.com/sc-forks/solidity-coverage/pull/372) so that it has fewer quirks and problems. One element of the new design is that it listens to the ethereumjs-vm opcode step emitter of an in-process ganache instance. In Truffle terms, it runs on a network which looks like:

[code]
Have been testing it on Zeppelin and the only issue is

[2019-09-12 01:02] nventuro commented on #1918
Hello @cgewecke! We of course will want to try out the new `solidity-coverage` once it comes out, and should modify our setup accordingly. I'm curious though, where does the need to have an in-process ganache come from? Will the new implementation be coupled to truffle, or is there some more generic API that can be used?

[2019-09-12 02:14] cgewecke commented on #1918
Hi @nventuro!

Good question! An in-process ganache lets us access the VM directly and listen to a "step" event it emits each time an opcode is run. Solidity-coverage instruments contracts with statements which push a bytes32 data hash onto the evm stack. By watching the evm step we can detect the hash and mark it as a line or branch hit in a coverage map.

We need to collect opcode trace data for

[2019-09-12 03:07] nventuro commented on #1918
(this is mostly me being curious)

Ohh, I see. And I'm guessing it is not possible to listen to `step` events on `ethereumjs-vm` when it is running as a separate process? I guess `solidity-coverage` needs more than just the ganache provider in order to work, is there a gist of the planed API available somewhere?

[2019-09-12 03:47] cgewecke commented on #1918
@nventuro

Like a websocket subscription or something? That would be really cool and has [been proposed at ganache](https://github.com/trufflesuite/ganache-core/issues/381) but not sure  what its status is.

I am curious about this - that seems very important. What do you see as the differences between in-process and standalone?

The exposed API will be something like the `app` class in [this file

[2019-09-18 10:05] 3esmit commented on #1810
My suggestion:
[code]

Implemented here
https://github.com/status-im/account-contracts/blob/9986882c62ebcd37d05277f8b82d012e608976ee/contracts/cryptography/ECDSA.sol#L77

[2019-09-19 08:12] LiorRabin opened #1922 "Support for ERC677"
**🧐 Motivation**

Implement `transferAndCall` ([ERC677](https://github.com/ethereum/EIPs/issues/677)) on top of ERC20.

**📝 Details**
* ERC20 [`transfer`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/54182bf31c78fb1b16dfdce40fc9a6a177cb3bca/contracts/token/ERC20/ERC20.sol#L62) function emits [`Transfer`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/54182bf31c78fb1b16d

[2019-09-19 08:58] abcoathup commented on #1922
Hi @LiorRabin,

You may want to consider using ERC777 where the standard is final and has an OpenZeppelin implementation: https://docs.openzeppelin.com/contracts/2.x/tokens#ERC777

There have been some discussion in the community forum around draft ERC20 extensions ERC1003 and ERC827: https://forum.openzeppelin.com/t/erc1003-erc827-erc20-extensions-for-sending-tokens-to-smart-contracts/789

[2019-09-19 09:49] LiorRabin commented on #1922
Thank you @abcoathup, I will look into this

[2019-09-19 14:20] crazyrabbitLTC commented on #1850
As a question @Austin-Williams what is the purpose of preventing ETH/tokens from being sent directly to a contract? Is there an example case? I'm curious because I've been thinking more of a future where users interact with wallets that are contracts so they can be meta-transaction enabled, rather than using a 'real' wallet like Metamask. I assume this would preclude these types of users from usin

[2019-09-19 22:44] Austin-Williams commented on #1850
@crazyrabbitLTC I generally agree that sending ETH from to/from contracts is a great thing.

There are very special cases when we'd want to prevent it. These are mostly cases where we are designing a mechanism in which we don't want the users to be able to make _strategic commitments_ (aka [strategic moves](https://en.wikipedia.org/wiki/Strategic_move)) that might undermine the mechanism.

A speci

[2019-09-21 18:46] k06a commented on #1488
Next version compatible implementation:
[code]

[2019-09-22 06:43] cgewecke commented on #1918
@nventuro Thanks so much for your advice in this thread - incredibly helpful.

Have now modified solidity-coverage to run ganache as an http server and added async hook options that allow the user to launch whatever external processes they want and connect to the coverage server as required.

Have opened #1923 upgrading solidity-coverage using this approach for GSN. It's not exactly what you sugge

[2019-09-22 06:43] #1918 closed

[2019-09-24 15:32] bh2smith opened #1925 "Unexpected results using SafeMath for uint128"
**Summary**

Trying to use SafeMath for `uint128` should throw/ revert in situations when overflows happen! Same holds for overflows of any integer type that are not `uint256`

**📝 Example**

_Contract:_
[code]

_unit test:_

[code]
yields a return value of `x = 1` (unexpected/should have reverted).

The problem seems to be with the upcasting of everything to `uint256` as seen in the following sni

[2019-09-24 22:28] Skyge commented on #1925
Yeah, you are right, `SafeMath` is only for `uint256` currently. So if you want to use it for `uint128`, maybe you should make corresponding changes: `uint256 => uint128`.

[2019-09-24 23:15] abcoathup commented on #1925
Hi @bh2smith,

As per @Skyge, SafeMath only supports uint256.

See the following issue for a discussion on supporting other types:
https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1625

[2019-09-25 08:32] bh2smith commented on #1925
Thanks for the suggestions all, these were very helpful. Will probably start looking for or working on a `SafeCast` library that might look as follows.

[code]

Would this be something that should/could be included here in the openzeppelin repo?

[2019-10-02 19:50] deadpine opened #1928 "Add Documentation: ERC20Pausable, SafeERC20, TokenTimelock"
These contracts' functions don't have explanations:

https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#ERC20Pausable
https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#SafeERC20
https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#TokenTimelock

[2019-10-07 18:16] frangio commented on #1925
[code]

To clarify, the dangerous operation here is not the `SafeMath` operation but the downcast to `uint128`. I think the casting library proposed by @bh2smith is the right way to approach this kind of thing.

Thank you for reporting and proposing a mitigation!

[2019-10-07 18:53] frangio commented on #1922
Thanks for reaching out!

We generally don't implement ERCs that are Drafts, and we're unlikely to support ERC677 for now. However, we encourage you to extend our ERC20 token through inheritance to add any functionality that you need.

[2019-10-07 18:53] #1922 closed

[2019-10-07 20:21] bh2smith opened #1930 "npm install fails at sha3@1.2.2 install script"
Unable to successfully run `npm install` with partial backtrace provided in details section below.

**💻 Environment**
[code]

**📝 Details**

The problem is discussed [here](https://github.com/phusion/node-sha3/pull/44) and has been apparently fixed in `node-sha3v2.0.0` although this is not a direct dependency of your repo. My best guess is that the fix here would involve bumping the truffle versio

[2019-10-07 20:33] bh2smith commented on #1930
At this point, I have been able to fix this by running `npm install --save-dev sha3` which appends

[code]
to the `devDependencies` of this project's `package.lock` file. I am now able to run `npm test` and everything seems totally fine. Although, you may not wish to have `sha3` as a direct dependency of this project and would have to dig and determine which existing dependency is pegged to this o

[2019-10-07 20:46] nventuro commented on #1930
It looks like the culprit is `keccakjs`, which we get from `solidity-coverage`, `eth-lib` and `ethereumjs-abi`, which in turn come from `web3`. I'd be surprised to find that `web3` doesn't work on Node 12, is it possible that you're missing some other dependency and that is breaking the build process? Could you paste the full error log? Thanks!

[2019-10-07 21:07] bh2smith commented on #1930
Sure thing! This is a cropped version of all the returned errors.

[code]

[2019-10-07 21:25] frangio commented on #1930
We should update our dependencies. I also think we should set up Dependabot to do this automatically.

[2019-10-07 22:28] #1930 closed

[2019-10-09 05:57] NoopurShinde commented on #1727
Hi Team,

I went through the specified issue. I have added the following code in ERC721.sol.

    bytes memory payload = abi.encodeWithSignature(
            "onERC721Received(address,address,uint256,bytes)",
            msg.sender,
            from,
            tokenId,
            _data
            );

            (bool success, ) = to.call(payload);

            if (!success) {

[2019-10-09 20:39] frangio commented on #1727
That's pretty good @NoopurShinde!

It's also a possibility that the recipient does implement `ERC721Received` and has reverted to reject the transaction. In that case, we should bubble the revert reason up. We can account for this case by checking in the case of `success == false` whether the length of the returndata is greater than zero, and if so, bubbling that instead up of reverting with our o

[2019-10-09 21:41] thecryptofruit opened #1940 "IERC721 functions expected to be external"
Any particular reason why IERC721 has functions `public` instead of `external` as per [standard](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md)?
The standard mentions issues with Solidity ~4.20, but we're far from that now and [Solidity #3038](https://github.com/ethereum/solidity/pull/3038) enforces it.

This situation has been remedied across several other tokens, just not with all

[2019-10-09 21:49] frangio commented on #1940
Thank you for reporting!

Unfortunately we can't change this since it's a breaking change. See https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1694#issuecomment-476701733.

I'm not sure I understood your note in Details. Can you please share an example of code for which the compiler complains?

[2019-10-09 21:57] frangio commented on #1940
Sorry, #1694 is specifically about `IERC721Receiver`.

Regarding the `IERC721` interface, we made it a `contract` because we wanted inheritance to express the requirement that all `IERC721`s must implement `IERC165`. Inheritance is not possible to do with `interface`s unfortunately. Since we made them `contract`s we have to make the functions `public`, if we had made them `external` the implementa

[2019-10-10 05:10] yashh opened #1941 "Unable to interact with ERC721 tokens deployed on 0.4 solidity contract from 0.5 contract"
We deployed a ERC721 token using openzeppelin-solidity 1.9 and 0.4.25 solidity.  We are currently writing a new smart contract using solidity 0.5.4. We are using IERC721 interface and interacting with deployed ERC721 contract. We are specifically calling `ownerOf` and `getApproved` calls on the token contract. The contract written in 0.5 solidity can interact with a token contract deployed in 0.5.

[2019-10-10 05:53] abcoathup commented on #1941
Hi @yashh,

I suggest posting this support question in the OpenZeppelin Community Forum: https://forum.openzeppelin.com/ and I can try reproducing and also see how the community can assist.

[2019-10-10 07:01] NoopurShinde commented on #1727
I have updated the code in ERC721.sol and ERC721Behavior.test.js as suggested by @frangio to solve the specified issues.
Whenever I run the test cases for ERC721, all the test cases are passed. But when I try to run the  test suite, test cases result in failure. Is GSN causing the testcases to fail? I tried running test suite using truffle test and npm test. Please do let me know if this scenario

[2019-10-11 17:29] #1940 closed

[2019-10-11 18:29] frangio commented on #1940
@thecryptofruit That example fails to compile because you're importing from different versions of the library and Remix is downloading two `IERC165` interfaces from different places. It thinks they're two different files that's why it thinks the two definitions conflict. It's not caused by the `public` functions in `IERC721`.

To fix it you can ensure you're using the same commit or tag to downloa

[2019-10-16 10:45] sshelton76 opened #1949 "Error message exceeds max length of 76 characters in ERC777.sol"
Having a linting issue in ERC777.sol related to the length of one of the error messages.

**💻 Environment**
All

Current master branch

**📝 Details**

Lint is reporting the error message is too long for line 472 of ERC777.sol

[code]
Exact message is

Fix is to shorten the error message to something like...
[code]

[2019-10-16 11:35] sshelton76 opened #1951 "ERC777 operators should be internal not private"
**🧐 Motivation**

The current ERC777 code has a flaw that impacts security and usability.

Here is the code in question.
[code]

This design makes it impossible to extend the contract by adding or removing default operators and it appears that this is by design, but the thinking behind it is flawed and introduces a security problem.

**📝 Details**

Operators especially default operators allow us t

[2019-10-16 14:19] sshelton76 commented on #1951
Alternatively adding the following lines to the official ERC777.sol would work as well

[code]

[2019-10-16 16:17] nventuro commented on #1949
Hello @sshelton76, thanks for raising this! Could you expand on which linter you are using that is failing with that error?

[2019-10-16 16:54] frangio commented on #1951
Hi @sshelton76. Thank you for your report.

We implemented default operators in this way because the ERC777 standard quite unambiguously says so:

Have you raised this concern with the authors of the standard?

I disagree with your following point though:

Prior to interacting the user can definitely see that they have only partial information regarding default operators if any of them either have

[2019-10-16 18:17] frangio commented on #1949
FWIW, I like the shorter message that @sshelton76 proposed.

[2019-10-16 21:28] sshelton76 commented on #1951
Ok I get that, it doesn't make it less of a hassle though.  It means you're going to end up with forks each solving this in their own way rather than having the reference implementation address the underlying issue.

No but it sounds like I probably need to.  Honestly though I'm unsure how to reach them and the fact this is a standard already means this ship has probably sailed already, but it is

[2019-10-16 22:19] frangio commented on #1951
I don't see how this is a problem for ERC777s in particular, and not for ERC20s or any other contract. The same goes for vetting the bytecode of a contract: it's already the case that only highly technical users can do it. And it's already the case that some contracts may have external actors with superpowers, be it operators, minters, owners, etc., that those vetting a contract have to pay attent

[2019-10-17 20:06] vittominacori opened #1952 "Not running tests because of Truffle issue"
Not running tests.
It is because of an issue with Truffle [#2461](https://github.com/trufflesuite/truffle/issues/2461#issuecomment-543298328).

Also your CircleCI [job](https://circleci.com/gh/OpenZeppelin/openzeppelin-contracts/1278?utm_campaign=vcs-integration-link) is not running tests at all.

**🔢 Code to reproduce bug**

Just `npm run test` will produce `0 passing`.

[2019-10-17 20:22] frangio commented on #1952
Wow... Indeed, though the check was green in #1947 the CI had actually executed 0 tests, and we didn't realize.

![image](https://user-images.githubusercontent.com/481465/67044385-92679000-f102-11e9-86bc-06f2e366d8f2.png)

Thanks @vittominacori!

[2019-10-17 20:22] #1952 closed

[2019-10-18 00:00] nventuro commented on #1745
@nachomazzara from Decentraland commented that it is currently not possible for users to easily implement this feature (which they need) due to `tokenURI()` being `external`, which makes it impossible to call the base implementation via `super`. The workaround they've found is to override `_setTokenURI` and use a separate mapping, which is far from ideal and will probably be disallowed once Solidi

[2019-10-18 00:20] nventuro commented on #1951
I agree with @frangio and this is not only true for ERC777 but also for _all_ smart contracts. The _vast_ majority of users will not read a contract's source code, and will rely on other people (presumably experts that they trust) to do their due diligence. This is not very different from how open source software is used.

That said, I do agree that the limitations the standard places on how the d

[2019-10-18 00:24] nventuro commented on #1949
Me too, but I'd like to know if there's a particular reason why that linter chose to limit the maximum length to 76. From what I recall, the deployment cost of a contract increases steeply for every 32 bytes of revert string, so I wonder where the 76 comes from.

[2019-10-18 06:51] logeekal commented on #1745
I apologize that I completely forgot about this and got involved in other task. I will take it up next week and get back with updates.

[2019-10-18 11:34] nachomazzara commented on #1745
To put in here what we thought is to have (omit non-changed code):

[code]

It continues following the  `_INTERFACE_ID_ERC721_METADATA = 0x5b5e139f;`.

The idea is also to not only use the `tokenId` as the `path` for the URI as used [here](https://github.com/ProjectOpenSea/opensea-creatures/blob/15a27aab9d7ffb9860faab27a8127f8eae9eb297/contracts/TradeableERC721Token.sol#L59) but just to have full

[2019-10-18 14:35] k06a opened #1955 "ERC20 Approval event conformance"
[ERC20 Token Standard](https://eips.ethereum.org/EIPS/eip-20) tells:

But current ERC20 implementation emits `Approval` event on every `allowance` change. Is there any practical reason for this or just a bug?

Original discussion started here: https://github.com/makerdao/dss/issues/76

[2019-10-18 17:16] nventuro commented on #1955
This has been discussed extensively in the past, and was a concious design decision. You can read more about the motivation on this issue (and associated PR): https://github.com/OpenZeppelin/openzeppelin-contracts/issues/707. The short version is that not emitting those events makes it impossible to reconstruct the state from events only.

Is this causing any issues in your application?

[2019-10-18 17:44] k06a commented on #1955
@nventuro that makes sense 👌

[2019-10-22 16:59] #1925 closed

[2019-10-22 16:59] #1955 closed

[2019-10-24 15:43] nventuro commented on #1625
https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1926 added `SafeCast`, allowing `SafeMath` to be used on smaller types by:

1. using regular 256 bit `SafeMath` on the smaller types, which will upcast them, and then
2. downcasting with `SafeCast`

Arithmetic will be performed on 256 types (which is often useful since it allows for intermediate steps in a calculation to go over smaller t

[2019-10-24 15:43] #1625 closed

[2019-10-25 06:26] ristosaar commented on #1856
Hello,

I see this issue is still open. I'm new to Solidity and would like to contribute.
I propose replacing the rename function with the default burn function in ERC20 and rename _namers with _burners.
Let me know if this is an acceptable solution.

[2019-10-25 08:44] skqksh opened #1966 "ERC20.sol file's 'function _transfer ' is different from github file"
ERC20.sol file's 'function _transfer ' is different from github file

1. npm install @openzeppelin/contracts
2. checke contracts/token/ERC20/ERC20.sol of '_transfer ' function

in my 'ERC20.sol'
        _balances[sender] = _balances[sender].sub(amount);

but github
    _balances[sender] = _balances[sender].sub(amount, "ERC20: transfer amount exceeds balance");

[2019-10-25 09:50] abcoathup commented on #1966
Hi @skqksh,

The difference is that with the package you are using the latest release version which is 2.3
https://github.com/OpenZeppelin/openzeppelin-contracts/releases/tag/v2.3.0

Whilst on GitHub you are looking at the master branch.
You should always use code from a release version.

2.3 version:
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/v2.3.0/contracts/token/ERC20/ERC20.so

[2019-10-25 09:53] abcoathup commented on #1856
Hi @ristosaar,

Welcome to Solidity.  Great that you want to contribute.

Your solution to the code example sounds fine.

[2019-10-25 10:44] jam10o-new opened #1967 "SafeERC-20 incompatibility with Uniswap Liquidity Tokens"
Due to the use of `abi.decode`, [which reverts on failure,](https://github.com/ethereum/solidity/issues/5902#issuecomment-458868819)  in SafeERC-20, successful Uniswap `transfer`s (which have a standard return value of true, but of non-standard size, apparently, perhaps a vyper bug) are reverted.

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/9e19d90cd9df3897e499753aa7951c0bc7759df7/

[2019-10-25 11:44] ristosaar commented on #1856
Thank you,

I'm not entirely sure how I should incorporate the change though.
docs/modules/ROOT/pages/access-control.adoc seems to be the right file but do I also have to create tests for the new example contract and commit them somewhere? The guidelines are a bit vague on documentation files.

[2019-10-25 16:24] nventuro commented on #1856
Hello @ristosaar! Indeed, for a change that only affects documentation, just editing the `.adoc` files is enough. Once the PR is open, you'll see a preview of the generated documentation site, and check that way if your changes are correct.

[2019-10-25 16:30] nventuro commented on #1967
Hm, interesting. Do you have a link to a failing transaction, so that we can take a look at what it is the token returns?

[2019-10-25 16:30] #1966 closed

[2019-10-25 16:41] joshua-mir commented on #1967
https://etherscan.io/vmtrace?txhash=0x8c421e96fb075fc165bf24511b803d7bbbb428034e46541a42015297f765aa2c&type=parity

[2019-10-25 18:51] nventuro commented on #1967
I'm not being able to extract much useful information from that trace sadly :( From the Vyper code, it looks like `transfer` does indeed return a boolean type. Are those different from Solidity's?

[2019-10-25 19:14] frangio commented on #1966
This particular change was introduced in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1828 and is part of the 2.4 release.

This release has been in beta for a few months (longer than normal) but will be finally released next week.

[2019-10-25 19:31] frangio commented on #1967
Thank you for reporting @joshua-mir.

If you could provide one, it would be very helpful to have a minimal project to reproduce this issue and debug it.

[2019-10-27 21:07] nachomazzara commented on #1745
Added a [PR](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1970)

[2019-10-28 05:20] abcoathup commented on #1745
Hi @nachomazzara,

Thank you.

I was thinking that it is a shame that with the "automatic" token URI that we have to store the token ID as a string.  But this is still a saving over storing the full URI and I can see it gives a lot of flexibility, e.g. allows saving an IPFS hash, with the base URI being an IPFS gateway URI (where the base URI can be changed to support a change to an IPFS gateway).

[2019-10-28 05:45] abcoathup commented on #1745
Hi @nachomazzara,

Thank you :pray:

This solution gives flexibility, e.g. allows saving an IPFS hash, with the base URI being an IPFS gateway URI, where the base URI can be changed to support a change of IPFS gateway.

An example ERC721 token using this functionality as I envisaged could then be:
 (perhaps we need to add a SimpleERC721Token.sol to examples?).
[code]

[2019-10-28 16:35] #1856 closed

[2019-10-28 23:06] #1668 closed

[2019-10-30 04:51] nventuro opened #1978 "Make ECDSA.recover revert on failure"
`recover` returning the zero address instead of reverting, while consistent with the behavior of `ecrecover`, is wildly inconsistent with the rest of the library. We should follow the principle of least surprise and bring it in line with other functions.

[2019-10-31 03:00] MicahZoltu opened #1979 "ERC777: _burn should be internal"
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/19a65903062293a3ed67ff10fd80572b798caf93/contracts/token/ERC777/ERC777.sol#L373-L380

Similar to `_mint`, the `_burn` method may need to be called by a particular token's implementation when various events occur.  One _could_ work around this by making the token be its own operator, but that just seems silly and is a waste of gas.

[2019-10-31 13:55] frangio commented on #1979
Hi @MicahZoltu! Thanks for reporting this issue.

We have an open PR (https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1908) tackling this that has become stuck but I would like to move it forward.

Can you let me know your thoughts on the concern I expressed there before we implement this?

[2019-11-01 16:09] frangio opened #1980 "IRelayHub and IRelayRecipient should be interface"
They are currently declared as `contract`. I don't think this is a breaking change.

[2019-11-05 14:10] k06a commented on #1488
^^ @nventuro? @frangio? @MicahZoltu?

[2019-11-05 23:39] MicahZoltu commented on #1488
@k06a That looks like the original implementation, so fine with me.

[2019-11-05 23:42] MicahZoltu commented on #1488
Oh, actually there should be a `cancelTransfer` function that looks something like:
[code]

You _could_ transfer ownership to yourself (owner), but that feels dirty when your goal is to cancel an ownership transfer.

Also, there may be value in firing events for `transferOwnership` and `claimOwnership`.  If Ownable already fires an event in `_transferOwnership` then that is probably enough and onl

[2019-11-06 01:45] JonahGroendal opened #1984 "ERC777 change visibility of some attributes and methods from private to internal"
**🧐 Motivation**
I'm trying to extend the base ERC777 contract to be pauseable, but ran into an issue. The best way I can think of to accomplish this is to override `_move()`, `_mint()` and `_burn()` to check if the contract is paused, but `_move()`'s visibility is `private`, so it can't be overridden. I'd also like to create setter methods for `_name` and `_symbol` but can't because they are priv

[2019-11-06 03:32] abcoathup commented on #1984
Hi @JonahGroendal ,

State variables were made private from OpenZeppelin Contracts 2.0

All state variables are now private, which means that derived contracts cannot access them directly, but have to use getters. This is to increase encapsulation, to be able to reason better about the code.

Hence `_name` and `_symbol` should stay private.

I am curious with why you want to be able to change the

[2019-11-06 05:08] JonahGroendal commented on #1984
I'm creating a dApp that gives each user his own token, but the token contract can be created before the user signs up, so `_symbol` and `_name` must be settable after contract creation. This is probably a pretty non-standard use case, but I figured changing visibility to `internal` wouldn't affect anything. But it's no biggie, I can always just fork the repo. Creating 2 extra private variables wo

[2019-11-06 06:52] k06a commented on #1488
@MicahZoltu it seems more like `transferOwnership(0)` than transferring to self

[2019-11-06 06:56] MicahZoltu commented on #1488
Ah, good point.  You could do `transferOwnership(0)` to "clear" the pending transfer.  I feel like it would be more correct to have a `cancelTransfer` function, especially if events are added.

Funnily enough, I believe this exact feedback is what I got from OpenZeppelin in a contract review that had `Claimable` functionality.  😁  We have gone full circle it seems.

[2019-11-06 12:51] k06a commented on #1488
Updated implementation:

[code]

[2019-11-06 16:32] frangio commented on #1984
Hi @JonahGroendal! Your use case sounds quite reasonable!

Unfortunately though, we do have a strict policy of keeping all variables `private`.

Rather than forking, I would highly encourage you to inherit the contract, create the 2 extra variables, and add overrides. I agree that it sounds messy, but it's more aligned with the recommended way to use the library. It's highly discouraged to fork an

[2019-11-06 19:22] frangio opened #1985 "Modular exponentiation precompile wrapper"
[EIP 198](https://eips.ethereum.org/EIPS/eip-198) introduced the modular exponentiation precompile, also known as "modexp".

It's a useful primitive for cryptographic operations, which we would like to wrap in a library so that developers can use it without having to write assembly.

One of the challenges is the fact that the precompile receives and returns bignums, i.e. numbers of arbitrary size.

[2019-11-06 21:42] MicahZoltu commented on #1488
Is there value in having a separate event for `CancelPendingOwner`?  I'm generally not a fan of magic numbers (in this case, `0` being a magic number for cancellation).

[2019-11-06 21:48] barakman commented on #1488
This comment makes sense because function `transferOwnership` does not require that `newOwner` is non-zero.

Once this function requires this condition (which it should IMO), emitting event `NewPendingOwner` in function `cancelTransferOwnership` actually makes sense, because this event is now emitted whenever the value of `pendingOwner` changes (indicating accurately the new value of `pendingOwner

[2019-11-07 00:04] MicahZoltu commented on #1488
Currently, the value of `0` _is_ magic by nature of the fact that when there is no pending transfer, `pendingOwner == 0`.  I can appreciate that getting rid of that particular magic value is hard and probably not worth it, but I think we can at least make it so the magic value doesn't propagate out to the API/events as much as it does now.

Adding `require(newOwner != 0)` to `transferOwnership(...

[2019-11-07 01:10] JonahGroendal commented on #1984
I can only think of 2 ways to make `ERC777` pausable:

The first is what I was originally trying to do, which is to make `_move` `internal` and override the low-level methods `_move`, `_mint` and `_burn`. Since `_move` isn't a variable this change would be in line with y'all's policy. But `_move` being too low-level to override is still an issue.

The other is to make `send` and `transfer` `public

[2019-11-07 01:39] JonahGroendal commented on #1984
`send` and `transfer` could be made `public`, but this would cause `send` to use more gas due to the `data` parameter.

[2019-11-07 06:12] barakman commented on #1488
A zero address is the default value of all uninitialized `address` variables.

Hence `pendingOwner == address(0)` is equivalent to "No Pending Owner".

Hence `address(0)` is not a magic number.

[2019-11-07 06:28] MicahZoltu commented on #1488
Ehhh, I would accept the argument that `0` is a well known magic value, but I wouldn't call it not-magic.

[2019-11-07 06:36] barakman commented on #1488
That one is dictated by the Solidity language standard (!).

So no, `address(0)` is not a magic number.

[2019-11-07 22:30] nventuro commented on #1984
Ah, if only we had a way to only expose internal access to other OZ contracts...

I have mixed feelings about implementing `Pausable` in terms of `_move`. On the one hand, it _is_ both convenient and correct, but it is not immediately obvious from looking at the function pseudo signature (including modifiers). Reverts due to e.g. a zero address are _also_ not obvious this way however, so this is n

[2019-11-08 03:12] JonahGroendal commented on #1984
@nventuro The long story: The novel feature of my dApp is the ability to authenticate web domain owners via X509 certificates on the blockchain. So a website owner can prove his/her identity to claim ownership of a special ENS address (e.g. example.com.dnsroot.eth). My token contracts aren't owned by the contract creator but rather by an ENS node specified at contract creation. The token contracts

[2019-11-08 20:25] frangio commented on #1984
Wouldn't this be desirable though? I would expect that if I pause the contract all moving is paused.

I still don't think exposing `_move` is a good idea anyway.

My proposal is to make the ERC777 interface functions `public` rather than `external` as they are now. This allows people to override them to add functionality and to create new external functions that make use of them.

[2019-11-11 19:59] nventuro commented on #1984
It is desirable in the 'I want to pause all moving sense', but not in that it is not obvious which external functions will end up being affected by this.

[2019-11-12 08:47] AhirBudhnya opened #1991 "SafeMath library functions for Solidity v0.5"
Hi there,

Saw that there is a version of the SafeMath library function for Solidity v0.5 here in this repository.

For our Smart Contract with earlier v0.4 version, we had used a version of SafeMath library which had the following additional functions in the SafeMath library that is not present in the repository here:

    function max64(uint64 a, uint64 b) internal constant returns(uint64) {

[2019-11-12 20:46] frangio commented on #1991
Hi @AhirBudhnya! We have moved the `max` and `min` functions to [the `Math` library](https://docs.openzeppelin.com/contracts/2.x/api/math#Math).

They are implemented only for `uint256` types. They will also work with `uint64`, although the output will always be `uint256`. Is this what you're looking for?

[2019-11-12 20:54] frangio commented on #1805
Let's leave this issue open. We still think it needs to be fixed. The open PR #1943 is dealing with a similar issue with revert reasons.

[2019-11-12 21:33] spalladino commented on #1015
A use case I've been referred to is charging a small fee per transfer. In this scenario, tokens represent the right to access a resource. To prevent people sharing this access back and forth whenever they need to access it, the minter enforces a small fee.

[2019-11-13 04:10] pushcodeveryday commented on #1805
okay, but I don't see saferc20 being changed.

[2019-11-13 05:46] AhirBudhnya commented on #1991
Yes. Thanks for your prompt reply. Appreciate much!

On Wed, Nov 13, 2019 at 2:16 AM Francisco Giordano <notifications@github.com>
wrote:

[2019-11-13 17:28] #1991 closed

[2019-11-13 17:54] frangio commented on #1805
Once we've figured how to deal with this in the context of #1943 we can apply the same technique to `SafeERC20`.

[2019-11-13 18:08] nventuro commented on #1015
@spalladino would the fee be charged on transfer? Who gets the fee? Wouldn't it be easier to simply limit transfers?

[2019-11-13 19:15] #1194 closed

[2019-11-13 19:18] nventuro opened #1993 "Expose ERC721 getters internally"
Spawned from https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1970

Currently, `name`, `symbol`, `tokenURI` and (soon to be added) `baseURI` are `external`. The reason for this is not open up the API unnecessarily, but in this case little harm can come from providing these methods, and having `public` getters would allow users (and ourselves) to implement interesting mechanisms, such as

[2019-11-14 10:24] arindamghosh4995 opened #1994 "ERC777 : Change visibility of transferFrom, transfer and approve functions from external to public."
**🧐 Motivation**
I am trying to move from a previous implementation of ERC20 to ERC777 with a few custom checks that need to be made before allocating allowances and transfer of tokens.

**📝 Details**
The current implementation of ERC777 makes moving from ERC20 to ERC777 difficult, since functions like ERC777.transferFrom cannot be called from any child class extending ERC777 contract.

[2019-11-14 11:21] arindamghosh4995 commented on #1984
@frangio  Any update/decision on this, I have a use case which needs this. Happy to put up a pull request.
I have created an issue here [#1994 ](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1994)

[2019-11-14 13:50] spalladino commented on #1015
Yes

The minter of the token. Not sure if there can be more than one minter per contract in this model.

The question is how much to limit them. They are considering alternative methods, such as burning part of the _time_ left for accessing a resource (think of a token representing a year-long subscription, transferring it could burn a few days out of it) but it'd be interesting to support ETH-bas

[2019-11-14 13:54] spalladino commented on #1015
Another data point: https://twitter.com/DennisonBertram/status/1194655772455690241

[2019-11-15 14:41] thesachinmittal opened #1995 "Team Process Management using Blockchain"
**🧐 Motivation**

“Working remotely” and “Work from home” are some of the buzzwords in the present day. These might have made working easier but at the same time made the task of team management much difficult. Managing diverse teams and monitoring the progress of each team member has presented various new challenges. Hence, we’ve come up with a solution for the same.

**📝 Details**

Our task mana

[2019-11-15 22:53] frangio commented on #1995
Hi @thesachinmittal! Your project sounds interesting, but I don't think it's a good fit to be included in OpenZeppelin Contracts since it tackles such a specific problem. This library tries to provide generic contracts that can be reused in many scenarios.

I would encourage you to share your project on our [community forum](https://forum.openzeppelin.com) for feedback!

[2019-11-15 22:53] #1995 closed

[2019-11-15 23:20] frangio commented on #1984
Thank you @arindamghosh4995. Closing in favor of #1994.

[2019-11-15 23:20] #1984 closed

[2019-11-15 23:20] frangio commented on #1994
Would you like to submit a PR?

[2019-11-19 13:08] balajipachai commented on #1993
@nventuro
Existing:
[code]

Proposed change:
[code]

Is this the correct understanding?

Why this confusion?
PR Header: Expose ERC721 getters **internally**
Your comment: We should change all of these getters to **public**.

[2019-11-19 15:59] frangio commented on #1993
That's because they are currently already exposed externally, but they should also be available internaly. `public` is what achieves this combination.

[2019-11-19 16:48] frangio opened #2002 "Restructure documentation"
As part of a bigger review of the documentation (https://github.com/OpenZeppelin/docs.openzeppelin.com/issues/47), we're restructuring the content. The idea is to organize it in a conceptual hierarchy rather than divide it in "Basics" and "Advanced".

The target structure is:

- Overview
- Access Control
- Tokens
    - ERC20
        - ERC20 Supply
        - Crowdsales
    - ERC721
    - ERC777
- G

[2019-11-19 16:59] frangio commented on #1728
We have merged ERC1155 from https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1803 into a feature branch: [`feature-erc1155`](https://github.com/OpenZeppelin/openzeppelin-contracts/tree/feature-erc1155). If you'd like to help us get this published soon try it out and let us know of any issues you find.

[2019-11-19 17:02] frangio opened #2003 "Improve extensibility of ERC1155"
@KaiRo-at suggested that our current contract is not extensible enough due to using `external` functions.

They also suggested to add an internal function that implements transfers to have a central extensibility point. I think this is fine but I would like to see the internal function use `msg.sender` rather than having a `sender` argument like we did in ERC20.

[2019-11-19 20:11] nventuro commented on #1993
@balajipachai correct! I meant `external` doesn't make the getters available internally, and we should do it (via `public`).

[2019-11-19 22:39] spalladino opened #2006 "Discuss adding version and copyright info to each contract"
**🧐 Motivation**
More and more we see contracts being installed individually, instead of as part of the npm package. A recent example is the VS code plugin extension by the Microsoft Azure blockchain team: this extension allows a user to choose a contract by name, and it just downloads the solidity file (and its dependencies) to a local folder.

This has the problem that any project-wide informati

[2019-11-19 22:49] abcoathup commented on #2006
I really like the idea, especially when viewing verified contract source code in Etherscan where mostly contracts are flattened to a single file it is hard to determine where the code actually came from.

Also with decentralized projects like https://smartcontract.codes/ making it easier to find deployed contracts, could then filter for up to date (or outdated) contracts.

[2019-11-19 23:16] nventuro commented on #2006
This is related to https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1716, where it was brought up that a header on the source should not be taken as any sort of guarantee of security. A hint to where the code comes from does sound like a good idea however.

Regarding implementation, this would be done as a new script in `scripts/release`, called from [version.sh](https://github.com/Op

[2019-11-19 23:21] abcoathup commented on #2006
We could add a hash but that feels more like giving a false sense of security.
Appropriate testing and audits are what we should teach the community to look for.

I think version and a link to the repository would be great.

[2019-11-20 06:58] balajipachai commented on #1993
@nventuro and @frangio
Example of calling an external function from within a contract:
[code]

Can't we just use **this.externalFuncName** wherever required within the contract instead of making them public?

[2019-11-20 10:12] abcoathup commented on #1745
Reopening as #1970 doesn't implement an "automatic" token URI. (but is the basis for adding this functionality.

e.g.:
[code]

Should we be creating an `ERC721AutomaticTokenURI` contract or is there a better way to handle this? (e.g. creating an example of how to implement?)

[2019-11-20 15:04] nventuro commented on #1993
The `this.function()` syntax emits a `CALL` opcode, which is a much more expensive operation than an internal jump, and making the functions `public` doesn't create any security concerns, nor should it change the code generated when the internal getters are not used.

[2019-11-27 22:29] #1994 closed

[2019-11-30 13:02] balajipachai commented on #1993
@nventuro Ok cool, out of curiosity how do you guys come to know that there will be CALL, DELEGATECALL etc OPCODE is involved? Could you please suggest some links wherein I could get information about this?

And yes will start changing the functions to public from external.

Thanks.

[2019-11-30 17:18] Godtide commented on #1993
ERC721 is a library, mostly inherited by other contract. The modifier *external view* tells the EVM that the function reads from the Blockchain and it getters available outside the contract.

"The idea is reducing gas cost!!!!!! and making the getters available outside the contract (inheritable)" not otherwise

https://ethereum.stackexchange.com/questions/19380/external-vs-public-best-practices/55

[2019-12-04 07:16] kingheath opened #2016 "Create 0x0000000000000000000000000000000000000000"
**💻 Environment**

**📝 Details**

[2019-12-04 08:30] abcoathup commented on #2016
Hi @kingheath,

Can you provide more details of what you are trying to do?

For support it is best to ask in the Community Forum: https://forum.openzeppelin.com/

[2019-12-06 18:47] frangio commented on #1727
Does someone want to pick up https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1943 and continue the work?

[2019-12-06 18:47] frangio commented on #1805
Unfortunately the author of https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1943 stopped working on it. Does someone want to pick it up and continue the work?

[2019-12-12 02:54] #2016 closed

[2019-12-12 03:41] awantoch opened #2024 "ERC777Mintable Contract"
**🧐 Motivation**

ERC20Mintable is available for ERC20 tokens. An ERC777Mintable contract would help the adoption of ERC777.

**📝 Details**

We will need to implement `ERC777Mintable.sol` in a similar fashion to `ERC20Mintable.sol` by passing the constructor values to the `_mint` function properly.

Here is an example implementation that could be used:

[code]

This implementation works as expecte

[2019-12-12 04:08] abcoathup commented on #2024
Are you creating an ERC777 token @awantoch?

I wonder if there might be a need for a `mint` and an `operatorMint` function.

[2019-12-12 05:17] awantoch commented on #2024
@abcoathup No intention of an actual token sale (all within test environments), but I'd like to help with the momentum of ERC777 and when trying to implement the crowdsale with ERC777 I realized there was not yet official support for `MintedCrowdsale`.

It makes sense to separate the `mint` and `operatorMint` functions logically, but I think case of `ERC777Mintable`, if I'm understanding correctly

[2019-12-12 05:37] abcoathup commented on #2024
@awantoch great to hear that you would like to help with the momentum of ERC777.
I would ❤️ to see more adoption.

I suggest we get input to the discussion from @frangio and @nventuro on the best way to approach.

[2019-12-13 13:46] KaiRo-at commented on #2003
Seems like the [Augur implementation](https://github.com/AugurProject/augur/blob/master/packages/augur-core/source/contracts/libraries/token/ERC1155.sol) does have that internal function structure already. I think its naming of functions is not completely congruent with previous OpenZeppeling token implementations, and it implements some non-standard (but useful) extensions like totalSupply tracki

[2019-12-13 20:21] frangio commented on #2024
Thanks for the suggestion @awantoch! I support adding an `ERC777Mintable` contract. Please go ahead and submit a pull request for that!

Regarding crowdsales, we haven't seen much demand for crowdsale contracts for quite a while, so I don't think it's a worthwhile investment at the moment!

[2019-12-14 02:58] awantoch commented on #2024
Sounds good @frangio will do!

[2019-12-16 18:52] frangio commented on #1979
Was fixed in #1908.

[2019-12-16 18:52] #1979 closed

[2019-12-16 18:53] frangio commented on #1951
Closing this as an issue with the standard and not our implementation.

[2019-12-16 18:53] #1951 closed

[2019-12-18 07:41] abcoathup opened #2028 "Support for Solidity 0.6.0"
**🧐 Motivation**

OpenZeppelin Contracts support for Solidity 0.6 has been requested in the forum: https://forum.openzeppelin.com/t/when-solidity-0-6-0-support-for-oz-contracts-library/1948

**📝 Details**

Create a version of OpenZeppelin Contracts with support for [Solidity 0.6](https://github.com/ethereum/solidity/releases/tag/v0.6.0).

[2019-12-19 20:54] frangio commented on #2028
0.6 includes many things that will probably result in a new major release of the OpenZeppelin Contracts.

Some snippets from the release notes that I think will be relevant for us:

We'll want to remove `Address.toPayable`.

We should review the structs that we have and see if they should be made global.

This is probably the biggest one, as we will have to decide what functions should be override

[2019-12-20 16:06] frangio commented on #2028
There's a very useful "how to update your code" guide in the Solidity docs. We should also include this in our release notes when we update to 0.6.

https://solidity.readthedocs.io/en/v0.6.0/060-breaking-changes.html#how-to-update-your-code

[2019-12-20 20:16] thecircleoflifefree commented on #2028
Is there an estimate ETA for the official support? Will it set before or after Q2?

[2019-12-23 00:23] abcoathup commented on #2028
Hi @thecircleoflifefree,

There isn't an estimate yet.  I will update here when I know an ETA for supporting Solidity 0.6.

[2019-12-23 06:11] mikephul opened #2030 "In transferFrom, should allowance be called before transfer?"
Sorry, this is more of the question rather than a feature request or bug report. 🙏

Referring to this commit https://github.com/OpenZeppelin/openzeppelin-contracts/commit/3a5da758767cfbcf256bdd147c56dbb0a2541569#diff-6202e31fca333ecfb19d878145bc8db5

The `_allowed` method is moved to be after `_transfer`. What is the rationale behind that @nventuro? (The allowance used to be reduced before doing t

[2019-12-23 14:18] nventuro commented on #2030
Hm, interesting. Thanks for opening this @mikephul!

In the case of `ERC20`, the order is irrelevant because `_transfer` and `_approve` are independent and never call any other contract: they are executed atomically.

_However_, this is very relevant for users that intent to override `_transfer` or `_approve` with their own implementations: we should be clear about the order in which these things

[2019-12-23 20:00] frangio commented on #2028
@thecircleoflifefree This will definitely happen before Q2, and most likely during January. We are analyzing this and will post as soon as we have any estimates.

[2019-12-24 10:50] pranavdaa opened #2032 "Unable to import OpenZeppelin multiple contract in the old version of remix. Which was working till 20/12/1019"
I was using multiple contracts of openzappeline for deployment of erc20 detail contract. But suddenly remix stopped giving support for the same. IT is also not working even in the newer IDE of Remix. Please check it out and let me .

FOR Newer version -
![image](https://user-images.githubusercontent.com/38764142/71409740-a1ba0b00-2668-11ea-8aca-7ae81116c4ae.png)

For older version, the problem is

[2019-12-24 14:17] frangio commented on #2032
Hi @pranavdaa. Next time please make sure to share your code in text version so that we can more easily copy-paste it to try to reproduce the issue.

[2019-12-24 14:25] frangio commented on #2032
Hi @pranavdaa! Next time please make sure to share your code in text version so that we can more easily copy-paste it to try to reproduce the issue.

It seems that Remix is having issues resolving transitive imports. I was able to get this to work by manually importing everything.

Please do not use the `master` branch, use the tagged releases, like in the following snippet.

[code]

Let me know i

[2019-12-24 14:53] pranavdaa commented on #2032
HI @frangio . Sorry for the inappropriate. And thx for the help. Can you please provide me the Code instead of the screenshot.If possible!!!

[2019-12-24 16:47] frangio commented on #2032
You should be able to copy my snippet! It's text.

[2019-12-26 07:36] pranavdaa commented on #2032
It worked. Thanks for the help. !!

[2019-12-26 07:36] #2032 closed

[2019-12-27 10:55] pranavdaa opened #2034 "Swapping ERC20 tokens"
**🧐 Motivation**
There is no current contract to swap. we have to use Kybernetwork or related stuff for exchange of token . Can you guys figure it out if we can make a contract for this.WOuld love to give my inputs.

[2019-12-27 15:22] frangio commented on #2034
Take a look at [`ERC20Migrator`](https://docs.openzeppelin.com/contracts/2.x/api/drafts#ERC20Migrator). It's not exactly what you're asking for because it was built for migrating from one ERC20 to another. So it only works with a 1:1 ratio and in only one direction.

[2019-12-30 05:12] pranavdaa commented on #2034
Actually while trying to implement token swap using OPenZappelin.Did the following-

[code]

But the swap function shows Gas Estimation Fail.
What asper you should be the Target address and future address for this contract to work.
@frangio

[2019-12-30 08:45] abcoathup commented on #2034
Hi @pranavdaa,

I recommend moving this discussion to the Community Forum.  It would be great if you post some more detail there of what you are looking to do, then it is more visible to the entire community: https://forum.openzeppelin.com/

----

Note: You should only use code published in an official release of OpenZeppelin Contracts, the latest release is 2.4. When importing via GitHub on Remix

[2019-12-30 13:46] litvinjuan opened #2036 "Revokable contract with RevokerRole"
I would like to start a short discussion about a possible new contract at the lifecycle namespace, next to the pausable one.

The Pausable contract allows developers to pause a contract's functions, and later, if desired, unpause it. This means that in case of emergency, or if a bug is detected, someone can call the pause method on the contract and quickly disable all functions with the appropriat

[2020-01-01 23:56] abcoathup commented on #2036
Hi @litvinjuan,

Thanks for starting this discussion.  We may want to move this to the community forum (https://forum.openzeppelin.com/), as it is easier for the entire community to see and hence participate.

Are you using Revokable contracts yourself or have you some examples of them being used?  Are there specific circumstances where a contract is permanently paused?

Using Pausable it is possi

[2020-01-03 02:47] NTTMai commented on #2028
Hey guys, i want to work on this issue

[2020-01-03 23:46] HiroKryptor opened #2039 "Approver can't transferFrom ERC721"
This line permit Approver transfer from.
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/67a71519d32d413aae17d89ae1d9ff1963226704/contracts/token/ERC721/ERC721.sol#L303

[2020-01-04 07:58] #2039 closed

[2020-01-06 08:22] gitpusha commented on #2028
@frangio - one thing that might also be relevant to you ( I found it to be relevant for `buidler`) is the `solidity-parser-antlr` package current incompatibility with `solc 0.6`

I opened an issue regarding the solc 0.6 array slicing syntax in their repo: https://github.com/federicobond/solidity-parser-antlr/issues/96

[2020-01-06 10:27] gustech-omni opened #2043 "ERC721: operator query for nonexistent token"
After deploy ERC-721 Contract, when I am trying to use transferFrom or any function it's showing

Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending?
gas required exceeds allowance (8000000) or always failing transaction

**💻 Environment**

**📝 Details**

**🔢 Code to reproduce bug**

[2020-01-06 17:57] frangio commented on #2028
Very interesting @gitpusha, thanks for sharing! The bit about `SafeERC20` is particularly interesting.

[2020-01-07 01:22] Akira-Taniguchi opened #2044 "Add Killable to lifecycle"
**🧐 Motivation**

Related to a specific issue

**📝 Details**

I want to add Killable.sol under the lifecycle package
for example...

[code]

[2020-01-07 02:32] abcoathup commented on #2044
Hi @Akira-Taniguchi ,

Thanks for starting this discussion. We may want to move this to the community forum (https://forum.openzeppelin.com/), as it is easier for the entire community to see and hence participate.

Are you using Destructable contracts yourself or have you some examples of them being used?

[2020-01-07 04:41] Akira-Taniguchi commented on #2044
yes, I am using Destructable contracts myself.

[Killable contract]
https://github.com/dev-protocol/protocol/blob/master/contracts/src/common/lifecycle/Killable.sol

[Usage examples]
https://github.com/dev-protocol/protocol/blob/master/contracts/src/policy/Policy.sol#L12

@abcoathup

[2020-01-07 11:34] albertocuestacanada commented on #1240
Hi guys,

I did an implementation for Singly and Doubly Linked Lists, which I would be happy to transfer to your repo. These contracts have been thoroughly tested:

https://github.com/HQ20/contracts/tree/dev/contracts/lists

I have also an implementation for an Ordered Doubly Linked list in the same directory, but one of the methods is O(N) so it might not be safe enough for normal use.

I also ha

[2020-01-07 23:23] abcoathup commented on #2044
Hi @Akira-Taniguchi,

I didn't realize, but there used to be `Destructible` in OpenZeppelin Contracts but it was removed for the following reason:

`selfdestruct` should be used with tons of care because it's not always safe to use, so it shouldn't be as simple as inheriting a contract.

There was also a recent discussion on reasons not to use `selfdestruct` in the Community Forum:
https://forum.o

[2020-01-07 23:23] #2044 closed

[2020-01-08 02:11] Akira-Taniguchi commented on #2044
ok, thanks @abcoathup

[2020-01-08 19:02] asselstine opened #2047 "Improve ERC777 extensibility: private should instead be internal"
**🧐 Motivation**

I'm subclassing ERC777 to build custom tokens.  There is some functionality that would beneficial to use, such as `_burn` and `_callTokensToSend`, but isn't made available to subclasses because their visibility is `private`.

**📝 Details**

My request is that functions that are `private` instead become `internal` to allow for easier extensibility.

I don't want to cut-and-paste a

[2020-01-09 06:02] abcoathup commented on #2043
Hi @gustech-omni,

I suggest posting in the Community Forum with as much detail as you can: https://forum.openzeppelin.com/c/support/contracts/18

That way anyone in the community can more easily answer.

If you can include the contract, along with the snippet where you are attempting to transferFrom that would be helpful.

One potential issue to check for:

Requirements: - If the caller is not `f

[2020-01-10 00:07] abcoathup commented on #2028
@gitpusha @thecircleoflifefree and everyone following this issue, I suggest joining the discussion in the forum on adoption of virtual functions:
https://forum.openzeppelin.com/t/how-we-plan-to-adopt-solidity-0-6-virtual-functions/2063

[2020-01-10 12:15] GNSPS commented on #2028
Hey guys!

Just dropping here a message about the parser. We at ConsenSys Diligence have just taken up its maintenance. Find an updated 0.6.0 version here: https://github.com/consensys/solidity-parser-antlr

[2020-01-13 16:44] #2002 closed

[2020-01-14 16:40] nventuro opened #2054 "Add 'Available since...' note for new features in docs"
Because we have a single unified site for all 2.x versions, we do what I call _content-versioning_: the documentation content itself provides information about different versions. For example, the docs for [`Address.toPayable()`](https://docs.openzeppelin.com/contracts/2.x/api/utils#Address-toPayable-address-) indicate it's only available starting from v2.4.0.

We should add the same notes for all

[2020-01-14 19:24] nventuro commented on #1240
Interesting, thanks @albertocuestacanada! We've seen many projects roll out their own collections, sometimes with bad results (@elopio mind chiming in on this?).

About your specific implementation, we'd probably prefer to have the collections be a library that operates on some custom struct, like `Roles` does, letting users have multiple collections in the same contract.

[2020-01-14 19:30] nventuro commented on #1772
We'll probably want to use [`immutable`](https://github.com/ethereum/solidity/issues/3835) to store the role ids.

[2020-01-14 20:26] frangio commented on #1240
Thank you @albertocuestacanada!

We've defined clearer requirements for this feature for whoever wants to open a pull request. The focus of the issue is on building an _enumerable set_, rather than a generic linked list. The linked list is simply the way the set should be implemented.

- Since there are no generics we should first build an enumerable _address_ set, which should cover most uses cas

[2020-01-14 21:44] frangio commented on #1478
More than a year later, I doubt anyone needs this guide anymore. We really should've published it along with the release.

We've since learnt to always include a "how to upgrade" guide for all non-trivial releases of OpenZeppelin projects. Thanks for chiming in everyone!

[2020-01-14 21:44] #1478 closed

[2020-01-14 22:29] albertocuestacanada commented on #1240
An enumerable address set was not too far from what I've got already. It's drafted already (I'll need to write tests for two functions).

Do I need permissions to create a branch in your repo and push the code?

[2020-01-14 23:43] frangio commented on #1240
Cool! Fork this repo and create a branch in the fork, then open a PR from there.

[2020-01-15 10:04] albertocuestacanada commented on #1240
Apologies for missing that critical line in CONTRIBUTING.md @frangio

Here is the [draft of Enumerable.sol](https://github.com/HQ20/openzeppelin-contracts/blob/fix/enumerable-%231240/contracts/drafts/Enumerable.sol).

I left it in drafts, not sure where would you prefer to put it.

Check if it is what you are after. If so I'll write the tests and have a think about performance.

[2020-01-16 09:35] enderphan94 commented on #1136
neither of them worked for me :(

[2020-01-16 14:09] frangio commented on #1136
Please try my suggestions here https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2032#issuecomment-568757498

[2020-01-16 17:02] elopio commented on #1240
@nventuro yes, we have seen many projects copying or reimplementing their own collections. It would be nice to start a do-group to list all of these, maybe in a wiki topic in our forum, to analyze the different approaches and maybe even get people working together. In the ideal case, this would be a push to get generics into the language.

About the road forward, I agree with @frangio's approach t

[2020-01-16 18:15] frangio commented on #1240
@albertocuestacanada Is it possible to use addresses as ids? I was imagining something much simpler than what you shared, but I don't know if there are reasons why it can't be as simple as a `mapping (address => address)` (plus `head` and `tail`), as opposed to also having ids and `Object`s.

[2020-01-16 21:27] albertocuestacanada commented on #1240
Hi @frangio, as long as you use a linked list implementation I don't think that you can use addresses as ids in a meaningful way.

**addresses as ids**

In a linked list you need to record at least two data point per element: the data that needs to be stored and some way of retrieving the next element. This usually points to using a struct like this:

[code]

As you see, I've specified `next` as a

[2020-01-17 02:43] abcoathup commented on #1136
@enderphan94
There is an example in the Community Forum of importing from GitHub when using Remix: https://forum.openzeppelin.com/t/deploy-a-simple-erc20-token-in-remix/1203

If you have questions you can ask in the Community Forum: https://forum.openzeppelin.com

[2020-01-17 15:50] nventuro commented on #1240
I think @frangio wasn't proposing a regular `Node { data, next }` structure where `next` is of type `address`, but instead have `next` itself be `data`. This fits nicely with the idea of the set: each address can only be stored once. Additionally, you'd get O(1) `contains`, since instead of searching through the whole list, you can access it's entry directly. `enumerate` and friends will obviously

[2020-01-17 16:23] albertocuestacanada commented on #1240
Ok, I understand how you want to implement the EnumerableSet with `mapping(address => address)`. That just means that all values in the set are unique, so we can have [a, b, c] but not [a, a, b].

We can either have a sentinel value for `tail`, or specify that no set can contain `address(0)`.

`contains` and `append` would be O(1), `enumerate` and `remove` O(N).

An `insertAfter` function can also

[2020-01-17 23:24] albertocuestacanada commented on #1240
It took me a bit less to do than expected: [Library](https://github.com/HQ20/contracts/blob/new/enumerable-v2/contracts/drafts/lists/EnumerableSet.sol) [mock](https://github.com/HQ20/contracts/blob/new/enumerable-v2/contracts/drafts/lists/mocks/EnumerableSetMock.sol) and [tests](https://github.com/HQ20/contracts/blob/new/enumerable-v2/test/drafts/lists/EnumerableSet.test.ts).

I've got to move the

[2020-01-17 23:53] frangio commented on #1240
It looks good! It's definitely what I had in mind. Keep in mind that library functions should be `internal`, and the helpers used for implementation should be `private`.

I have a few items I'd like to discuss though.

@nventuro and I have an intuition that the library shouldn't emit any built-in events. Events should be left up to the user of the library. What do you think?

I also don't like tha

[2020-01-18 21:48] albertocuestacanada commented on #1240
@frangio, I've [corrected](https://github.com/HQ20/contracts/blob/new/enumerable-v2/contracts/drafts/lists/EnumerableSet.sol) the visibility, and also managed to get rid of everything related to the `head` and `tail` variables.

Now `next[address(0)]` points to the head, and `prev[address(0)]` points to the tail, making the whole thing quite elegant.

**enumerate**

On `enumerate` requiring two lo

[2020-01-20 18:05] frangio commented on #1240
Great analysis, thank you. I agree that the consideration that `enumerate` is going to be called off-chain is an important one, and looping twice is not a big deal in that context.

We should be clear that for this feature we are only interested in storing unique items, and we are not interested in their ordering in the array. In the alternative implementation, `address => uint` maps each address

[2020-01-20 18:53] frangio commented on #1644
We have this in a feature branch with some pending work. See #2013.

[2020-01-20 20:38] albertocuestacanada commented on #1240
@frangio, you should have told me that you were just interested in a [canonical implementation of a Set](https://en.wikipedia.org/wiki/Set_(abstract_data_type)). We would have got here a lot faster :)

For an unordered data set using a linked list makes no sense. The approach that you mention: storing values in an array, infilling on remove, and using an index to have O(1) for contains seems the r

[2020-01-20 21:19] albertocuestacanada commented on #1240
Finally I managed to get the tests running on the fork of your repo.

[Contract](https://github.com/HQ20/openzeppelin-contracts/blob/fix/enumerable-%231240/contracts/drafts/EnumerableSet.sol), [mock](https://github.com/HQ20/openzeppelin-contracts/blob/fix/enumerable-%231240/contracts/mocks/EnumerableSetMock.sol) and [tests](https://github.com/HQ20/openzeppelin-contracts/blob/fix/enumerable-%231240

[2020-01-20 21:58] frangio commented on #1240
Awesome. I would say let's put it in `utils`.

[2020-01-20 22:04] frangio commented on #2054
See https://github.com/OpenZeppelin/solidity-docgen/issues/131

[2020-01-20 22:11] frangio opened #2060 "Directory and naming cleanup in next major release"
It would be nice to do some cleanup in the next major release.

Here's my personal wishlist. Everything is open to discussion.

- Move `Pausable` from `lifecycle` into `utils`. There is only one contract in lifecycle and I'm not sure that we'd want to add any other contracts under that category.
- Remove `drafts` directory. It didn't work the way we wanted it to. Either graduate stuff to be proper

[2020-01-20 22:39] albertocuestacanada commented on #1240
[Done](https://github.com/HQ20/openzeppelin-contracts/tree/fix/enumerable-%231240).

I've got a linting error: `Expected an assignment or function call and instead saw an expression`
On the last line of each test, like this one: `expect(await this.set.testContains(a)).to.be.false;`

I would think that `expect(...)` is a function call :thinking:

[2020-01-20 22:46] nventuro commented on #1240
The issue is `to.be.false`: we use `to.equal(false)` for that reason among others.

@frangio do you think its time to graduate this issue into a PR?

[2020-01-20 22:55] albertocuestacanada commented on #1240
Thanks @nventuro, linting fixed now :+1:

[2020-01-21 02:26] frangio commented on #1240
Yes @albertocuestacanada please submit a PR.

[2020-01-23 18:08] #1644 closed

[2020-01-23 18:26] #2054 closed

[2020-01-23 19:33] #1727 closed

[2020-01-23 19:35] #2047 closed

[2020-01-24 17:50] #1240 closed

[2020-01-24 19:03] nventuro commented on #1602
This will probably be built on top of `EnumerableSet`. We may want to extend it with `length` and `get(index)` to add `view` functions with pagination (for large queries).

[2020-01-26 00:34] robertmagier commented on #1980
I think this issue should be closed since you have already merged fix for it.

[2020-01-26 01:50] nventuro commented on #1980
You're right, thanks!

[2020-01-26 01:50] #1980 closed

[2020-01-28 15:00] aquiladev opened #2067 "WhitelistAdminRole: possible dead-end when removing all admins"
**📝 Details**

After reviewing `WhitelistAdminRole` contract I found out possible dead-end in the code of the contract.
There is a possibility to remove all admins from the contract, while only admin can add a new admin. If there are no admins, nobody can add new admin and nobody can manage whitelist.

**🔢 Code**
[code]

[2020-01-28 15:52] nventuro commented on #2067
Hello @aquiladev! Yes, this is possible for all of our Access Control solutions, even [`Ownable`](https://docs.openzeppelin.com/contracts/2.x/api/ownership#Ownable) has [`renounceOwnership`](https://docs.openzeppelin.com/contracts/2.x/api/ownership#Ownable-renounceOwnership--), which can be used to achieve the same.

This is considered a feature: many projects find it useful to temporarily have sp

[2020-01-28 20:40] nventuro commented on #1772
A simple alternative to avoid the `getRoleId()` boilerplate is to attach a string identifier to each new role:

[code]

An external agent would call `contract.getRoleId('minter')` in order to check if an account has the role, or enumerate role bearers.

A possible downside of this approach is that it opens up a subset of the issues from #1090: an malicious party could write `onlyRole(getRoleId('mi

[2020-01-29 16:11] nventuro opened #2068 "Contracts Roadmap: January - March 2020"
We're [redesigning our open-source processes at OpenZeppelin](https://forum.openzeppelin.com/t/redesigning-openzeppelin-open-source-processes/2048), aiming to boost transparency and increase community participation.

Part of that effort is **giving more visibility on our medium term goals**, both to set expectations for our users on upcoming features and improvements, and to provide clarity over o

[2020-01-29 17:09] aquiladev commented on #2067
Yeah, it makes sense in some cases. In case of dynamic whitelist(eg in my case), it can lead to a dead-end. Due to regulation, I need to restrict the usage of token. the whitelist should be changed when a new customer joins a service.

[2020-01-29 17:30] nventuro commented on #2067
Yes, that is a common scenario. Is the fact that you could potentially end up with no admins an issue? Arguably, that could also happen due to other reasons, such as losing access to your private keys.

[2020-01-29 18:06] aquiladev commented on #2067
Yes, it is the same as losing private key. I've got your arguments they are reasonable. I think the issue can be closed.

[2020-01-29 18:34] nventuro commented on #2067
Thanks for your feedback!

[2020-01-29 18:34] #2067 closed

[2020-01-29 20:59] albertocuestacanada commented on #1602
Hi @nventuro, would you like me to have a go at this issue?

I've got in my mind to propose some things regarding [Role Based Access Control](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/1889), and this would be a nice issue for me to get 100% comfortable with your Roles implementation.

[2020-01-29 21:18] nventuro commented on #1772
With the migration to Solidity v0.6 arriving soon, we will need to tackle this issue as part of the upcoming v3.0 release.

Since there are still multiple ideas out there, I created [Redesigning Access Control](https://forum.openzeppelin.com/t/redesigning-accesscontrol-for-the-openzeppelin-contracts/2177) on our forum to gather feedback about the different proposals, and settle on a high-level des

[2020-01-29 21:23] nventuro commented on #1602
@albertocuestacanada as mentioned in [this issue](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1772#issuecomment-579964308), we're considering multiple alternatives for the new `AccessControl` library.

I invite you to instead join the discussion on [Redesigning Access Control](https://forum.openzeppelin.com/t/redesigning-accesscontrol-for-the-openzeppelin-contracts/2177), so we c

[2020-01-29 21:28] nventuro commented on #2068
As part of our work on reducing complexity, we'll move along with the [initiative to revamp our Access Control solution](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1772), which will let us remove related contracts (`ERC20Mintable`, `MinterRole`, `PauserRole`, and so on) and have the users instead build permissioned systems on their own.

Related discussion will be carried out no

[2020-01-30 08:28] MicahZoltu opened #2071 "EnumerableSet array push doesn't return an index."
I think this may be a somewhat recent change to Solidity, but `array.push(x)` doesn't return an index, instead it returns nothing.  This means that https://github.com/OpenZeppelin/openzeppelin-contracts/blob/1e0f07751ea0badce1f51bc23578b5b1ddb4b464/contracts/utils/EnumerableSet.sol#L52 won't work in the latest version of Solidity.

[2020-01-30 18:55] nventuro commented on #2071
Thanks for pointing this out! Yes, that code will not compile under v0.6.x. `EnumerableSet` was added as part of the v2.5 release, which should be finalized soon (likely tomorrow or next Monday).

Once that happens, we'll focus entirely on the migration to Solidity v0.6 (#2028), where we'll tackle these issues. Work has already begun on the [dev-v3.0 branch](https://github.com/OpenZeppelin/openzep

[2020-01-30 18:55] #2071 closed

[2020-01-30 22:15] spalladino opened #2073 "Recovery for EIP712 signed typed data"
**🧐 Motivation**
[EIP712](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md) has been around for quite some time, and is already on v4. Metamask has [support for it](https://metamask.github.io/metamask-docs/API_Reference/Signing_Data/Introduction), making it much more transparent for an end user to understand _what_ it is that they are signing. This recently came up as a request in the

[2020-01-31 05:28] abcoathup commented on #2043
Hi @gustech-omni,

I am closing this Issue as it is appears to be a support question.

If you still have questions please post in the Community Forum so that the community can help: https://forum.openzeppelin.com/c/support/17

[2020-01-31 05:28] #2043 closed

[2020-01-31 05:38] abcoathup commented on #2036
Hi @litvinjuan,

_Originally posted by @nventuro in https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2068#issuecomment-579968030_

I suggest joining the discussion on [Redesigning Access Control](https://forum.openzeppelin.com/t/redesigning-accesscontrol-for-the-openzeppelin-contracts/2177) in the Community Forum to discuss how a revoker could be implemented.

[2020-01-31 05:46] abcoathup commented on #2034
Hi @pranavdaa,

I suggest posting in the Community Forum on swapping ERC20 tokens: https://forum.openzeppelin.com/

I am closing this Issue and we can pick up the discussion in the Community Forum.

[2020-01-31 05:46] #2034 closed

[2020-01-31 05:57] abcoathup commented on #1967
Hi @joshua-mir,

Are you able to provide a minimal project to reproduce this issue and debug it?
Labeling as on hold.

[2020-01-31 06:02] abcoathup commented on #1949
Hi @sshelton76,

Which linter did you use which gave the maximum length of 76 characters?  As would be great to know where this came from.

Labelling as on hold whilst waiting for a reply.

[2020-01-31 07:20] abcoathup commented on #2028
Solidity 0.6 is part of [Contracts Roadmap: January - March 2020](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2068)

Also see WIP PR: https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2063

[2020-01-31 13:28] frangio commented on #2073
This may be a duplicate of https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1810.

[2020-01-31 19:53] nventuro commented on #2024
Hello @awantoch, thank you for your interest in contributing!

Over the last couple days we've been working on our roadmap for the next couple of weeks (you can [read more about it](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2068)), and one of the goals we set out is to reduce the complexity of the library. This will include removing contracts such as `ERC20Mintable`, `ERC20Paus

[2020-01-31 19:53] #2024 closed

[2020-02-04 08:22] FouadHanoun opened #2076 "Cannot use command npx openzeppelin init"
Hello,

I have just started to take a look on open zeppelin and I have been unable to start with the tutorial.
My problem is that I cannot run `npx openzeppelin init` command.

What I did was: new folder, go to that folder then run `npm init`, I have node on v13.6.0 and npm on 6.13.4

I also ran `npm install @openzeppelin/contracts`

When I run `npx openzeppelin init` I get the following:

I am wo

[2020-02-04 08:42] abcoathup commented on #2076
Hi @FouadHanoun,

I have replied to your question in the forum: https://forum.openzeppelin.com/t/cannot-even-start-using-open-zeppelin-npx-openzeppelin-init-doesnt-work/2209

I am closing this issue as we can discuss in the forum.

[2020-02-04 08:43] #2076 closed

[2020-02-07 13:36] frangio opened #2082 "Outdated release instructions"
We have a [`RELEASING.md`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/f905a14f5f2aae0ebb919e73a835c09a9e45b90a/RELEASING.md) document that is outdated since the introduction of our release scripts. We should remove most of the content and instead write a description of how to use those scripts.

[2020-02-07 18:26] spalladino opened #2083 "Add FlashLender behaviour for ERC20 or ETH"
**🧐 Motivation**
Flash loans are a new DeFi primitive, popularized by Aave, where a borrower can take an arbitrarily large loan as long as they repay it back (with a fee) in the same tx. This provides access to cash for arbitrage or similar tasks, without needing to have that cash in advance.

**📝 Details**
Our own @Austin-Williams has an initial implementation of the `FlashLender` base contracts

[2020-02-08 13:13] elishadrion opened #2084 "Ownable's constructor unexecuted when inheriting"
**💻 Environment**

**oz** : `2.6.0`
**Solidity compiler** : `0.6.2`
**web3** : `1.2.6`

**📝 Details**

I have a contract inheriting `Ownable`. Once the contract is deployed, the internal constructor of `Ownable` isn't executed, leaving the `owner` attribute "empty".

When the code is tested on Remix, it returns the correct owner address.

When the code is deployed programatically with a JS script

[2020-02-10 06:20] abcoathup commented on #2084
Hi @elishadrion,

This appears to be a question on using OpenZeppelin.  It is best to ask in the Community Forum so that anyone in the community can help you.

Please post your question in the Community Forum with a link to this Issue: https://forum.openzeppelin.com/c/support/17

I am closing this Issue as it is a question.

[2020-02-10 06:20] #2084 closed

[2020-02-10 18:10] decentralMind commented on #2030
Also calling _allowed method after _transfer uses more gas.

Also, similar issue with _burnFrom method.

[2020-02-10 18:13] nventuro commented on #2030
Could you expand a bit on this point? Have you performed gas measurements with both orderings?

[2020-02-10 18:42] decentralMind commented on #2030
I tested with following simple code.
[code]

[2020-02-10 19:08] decentralMind commented on #2030
Please check the updated code, previously I posted the wrong one.

[2020-02-11 04:21] abcoathup commented on #2084
Hi @elishadrion,

Assuming that you deployed an upgradeable contract with `oz create`, then you need to `Initialize` the contract with the owner.

The documentation on `Initializers` may help:
https://docs.openzeppelin.com/upgrades/2.6/writing-upgradeable#initializers

Please post your question in the Community Forum and we continue answering your question there.

[2020-02-11 07:17] decentralMind commented on #2030
Today I performed the gas measurement on Rinkeby testnet with openzeppelin ERC20.sol code

_allowed method after  _transfer used 53,242 gas.
[](https://rinkeby.etherscan.io/tx/0x7808911a515ac4b5b99674cccf593a1455258ae7b052233a5916c08e9339fe00)

_allowed method before  _transfer used 23,980 gas.
[](https://rinkeby.etherscan.io/tx/0x8e7bb68b011cd48218db4979f8ff8e781b7680e82910a728a3edf0ec295cf770)

[2020-02-11 13:36] litvinjuan commented on #2036
I am currently using both Pausable and Revokable for different contexts. I feel like you could replicate revokability as you said, pausing and having all pausers renouncing. However, you still depend on all other pausers actually renouncing. In a trustless contract, who would renounce first? How can they ensure the others renounce as well?

[2020-02-11 15:32] nventuro commented on #2030
The 30 gas difference (27,543 and 27,573) is strange, but extremely small (0.1%), and likely due to the compiler not doing a good enough job: we shouldn't change the source code based on this sort of observed behavior, specially considering we don't understand _why_ the gas cost is different in the first place, and if it will eventually change.

The big gas cost difference you show in rinkeby is l

[2020-02-11 15:32] #2030 closed

[2020-02-11 16:42] nventuro opened #2086 "OpenZeppelin Contracts v3.0 Pending Changes"
This is a non-comprehensive list of changes we want to introduce in the v3.0, the upcoming major release. We will use this opportunity to introduce some breaking changes by removing contracts we don't see much demand for (such as Crowdsales), and improving others we could can be done better (like Roles and Access Control in general).

For more information about the v3.0 release, head to [our roadm

[2020-02-11 20:01] abcoathup commented on #2036
Hi @litvinjuan,

Good point on trustless revoking.

I encourage you to join the discussion on [Redesigning Access Control](https://forum.openzeppelin.com/t/redesigning-accesscontrol-for-the-openzeppelin-contracts/2177) in the Community Forum to discuss how a revoker could be implemented.

[2020-02-13 04:18] abcoathup commented on #2084
Hi @elishadrion,

I posted your question in the Community Forum along with an answer: https://forum.openzeppelin.com/t/ownables-constructor-unexecuted-when-inheriting/2265

[2020-02-14 14:12] #2028 closed

[2020-02-14 16:32] frangio commented on #2086
We should review the situation around `ECDSA.recover` and the measures against malleability. There's been many issues with Ganache because of that change.

[2020-02-16 08:51] cleanunicorn opened #2090 "Typo in `operatorBurn` description"
**💻 Environment**

OpenZeppelin commit hash `e4d2830f1d60549e638c4108dc4621d3e76cfa65` (most recent at the time)

**📝 Details**

Small typo in method description.

[code]
Should be changed to
[code]

**🔢 Code to reproduce bug**

Not a bug, just a typo.

[2020-02-16 14:09] smalaichami opened #2092 "Where did token/ERC20/ERC20Mintable.sol go?"
It looks like that ERC20Mintable.sol contract is moved or removed.
Could you please suggest what is the new parth for ERC20Mintable.sol ?

**💻 Environment**

**📝 Details**

**🔢 Code to reproduce bug**

[2020-02-16 23:14] abcoathup commented on #2092
Hi @smalaichami!

Thanks for your question. I have posted it in the Community Forum, where it can get a faster response by the community and the team. I will close this issue so we can continue the discussion there!

https://forum.openzeppelin.com/t/where-is-erc20mintable-sol-in-openzeppelin-contracts-3-0/2283

[2020-02-16 23:14] #2092 closed

[2020-02-16 23:29] abcoathup commented on #2090
Hi @cleanunicorn!  Thanks for the typo spot, it is really appreciated.

The project owner should review this during the next week.

[2020-02-17 19:31] #2090 closed

[2020-02-18 17:17] nfurfaro commented on #1104
Hello. Has there been any progress on this front?

[2020-02-19 00:53] abcoathup commented on #2028
Hi @gitpusha, @thecircleoflifefree and anyone following this Issue:

OpenZeppelin Contracts were migrated to Solidity 0.6 in [OpenZeppelin Contracts v3.0 Beta](https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0-beta-release/2256)

Would appreciate if you can give the Beta a try and let us know what you think in the Community Forum!

[2020-02-20 03:20] abcoathup commented on #1104
Hi @nfurfaro,

The roadmap includes redesigning access control https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2068 though I am not aware of anything specific to smart accounts/identity contracts.

I suggest posting in the Community Forum with what your needs are as this would be great for thinking about future additions to OpenZeppelin Contracts: https://forum.openzeppelin.com/

[2020-02-24 13:49] hickscorp opened #2102 "Options are incorrectly parsed using the command line cli."
When issuing the command:

[code]

We get the output:

[code]

It seems that OZ is ignoring the address parameter for the `--from` option and is seeing its value set to `--network` literally...

Everything was working recently, until our developers updated stuff outside the project (oh-my-zsh and installed global yarn packages).

[2020-02-25 06:28] abcoathup commented on #2102
Hi @hickscorp!

We have been able to reproduce this issue by following these steps:
yarn oz --version `2.7.1`
node `10.19.0`
npm `6.13.4`
OS: Windows 10 with WSL
1. Run `ganache-cli` in a separate terminal
2. In a project with OpenZeppelin CLI installed locally, ensure there are no open sessions
[code]
3. Create a new session
[code]
4. With the session open, create a session with the same command

[2020-02-26 18:25] frangio commented on #2102
I believe this is an issue in @openzeppelin/cli, right?

[2020-02-26 18:26] hickscorp commented on #2102
Reporting back - after restarting our shell the problem went away... Very sorry for the noise, as I think this bug is very likely to be an edge case of PATH or something like this that didn't get updated during a ZSH update or yarn global packages...

[2020-02-26 18:26] #2102 closed

[2020-03-02 18:58] nventuro opened #2106 "Create2 improvements"
Motivated by @MicahZoltu's comments [on the forum](https://forum.openzeppelin.com/t/discussion-on-openzeppelin-contracts-2-5-create2-sol/2273/2):

 * Consider adding support for including value in the create2 call.
 * Consider require(bytecode.length > 0, "useful error message") rather than just letting the creation fail with 0 bytes and a non-helpful message.

[2020-03-04 16:06] forshtat opened #2108 "ECDSA recover for EIP-155 transaction signatures"
**🧐 Motivation**
We have been using the ECDSA.sol in the RelayHub to do an ecrecover of transaction signatures, not message signatures (in the 'penalize()' method).
This does work for pre-eip155 transaction signatures, but for post-155 signature, the 'v' parameter has to be calculated separately before passing the signature to 'recover'.
Also, I think in some similar cases, it may be necessary for

[2020-03-04 16:53] #2108 closed

[2020-03-04 18:28] nventuro commented on #2108
I believe I had considered EIP155 signatures for RelayHub, and there was a way to craft a `penalize` call even if those were used, though I'm fuzzy on the details. The chainID would require using the [specialized opcode](https://eips.ethereum.org/EIPS/eip-1344) (is this available in Solidity?), but it should be doable.

What sort of interface did you have in mind for this?

[2020-03-04 19:26] forshtat commented on #2108
@nventuro I gave it some more thought and realized it is not as simple or useful as I thought, so I closed the issue.

I now realize that as it is only applicable to entire transactions, which sounds like an edge-case, and the required interface for this would be something like this:
```function recover(bytes  memory unsignedRlpEncodedTx, bytes memory signature) internal pure returns (address) {..

[2020-03-04 19:34] nventuro commented on #2108
Indeed, I'd say computing the signer for an Ethereum transaction is quite a strange scenario for a smart contract, I'd be interested to learn about applications that need to do this.

Given that RelayHub is not one of these, we can keep this closed. Thanks!

[2020-03-05 14:12] gitpusha commented on #2086
Hi @frangio and @nventuro . Some while ago I mentioned some prospective issues with regards to solc 0.6 new `try/catch` statement for `external` function calls and how it clashes with using e.g. the `SafeERC20` libs `internal` methods. See my [comment](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2028#issuecomment-571048819) in #2028.

I noticed that [SafeERC20](https://github.com

[2020-03-09 14:42] frangio opened #2111 "Add signed to unsigned conversion to SafeCast"
We should include a function `SafeCast.toUint256(int256) returns (uint256)`. It should check that the value isn't negative.

We may also want to consider the inverse, unsigned to signed: `SafeCast.toInt256(uint256) returns (int256)`.

[2020-03-09 15:19] frangio commented on #2086
@gitpusha That's interesting. `SafeERC20` was designed for the opposite purpose of using it when you don't need to handle a failure. We can't make those functions external because it would affect everyone that uses them. However, it would be possible to build another library that returns booleans instead of reverting. It wouldn't be used with try/catch though but with if statements. Is there a rea

[2020-03-10 23:13] #1978 closed

[2020-03-11 16:58] corydickson commented on #2106
By adding support for including `value` do you mean to make `deploy` a payable function where `msg.sender` deposits funds into the contract address generated?

[2020-03-11 18:30] frangio opened #2118 "Address.toPayable no longer needed since Solidity 0.6.0"
It's now possible to cast using `payable(addr)`. ([Changelog](https://github.com/ethereum/solidity/blob/develop/Changelog.md#060-2019-12-17))

I think we should remove the function.

[2020-03-11 18:31] frangio commented on #2086
https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2118 should be added to the list IMO.

[2020-03-11 18:46] nventuro commented on #2106
I'm actually not sure, from the [EIP](https://eips.ethereum.org/EIPS/eip-1014) it doesn't look like its possible to include value in the contract construction. It could certainly be sent after the fact, but I wouldn't add a new function just for that.

@MicahZoltu perhaps you could clarify your request?

[2020-03-11 18:50] corydickson commented on #2106
That would make a lot more sense as it answers my followup Q of how would that be done!

[2020-03-13 04:07] MicahZoltu commented on #2106
From the CREATE2 EIP:

Solidity inline assembly for create/create2 from Solidity docs:

instruction | explanation
-- | --
create(v, p, n) | create new contract with code mem[p…(p+n)) and send v wei and return the new address
create2(v, p, n, s) | create new contract with code mem[p…(p+n)) at address keccak256(0xff . this . s . keccak256(mem[p…(p+n))) and send v wei and return the new address, wher

[2020-03-13 04:10] MicahZoltu commented on #2106
Here is an example of calling CREATE2 with value from a contract:
https://github.com/Zoltu/recoverable-wallet/blob/969798b32aa9ccfd1a49ed7e32ddaa8c5551ba66/contracts/source/recoverable-wallet.sol#L233-L247

[2020-03-13 11:15] corydickson commented on #2106
@MicahZoltu Thank you for documenting it further here

[2020-03-13 14:19] nventuro commented on #2106
Ah silly me, I should've paid more attention. That parameter is even present (and hard-coded to 0) in our current implementation. Thanks!

[2020-03-13 18:19] frangio opened #2121 "Review operators in internal interface of ERC777"
We've discussed before whether the internal interface of ERC777 should allow arbitrary `operator` (see [`_mint`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/7acd60d152ea83dbc776265ca4a44a3c680b9caf/contracts/token/ERC777/ERC777.sol#L313-L320) for an example). There is some new reasoning to reconsider always setting `operator` to `msg.sender` in https://github.com/OpenZeppelin/openz

[2020-03-16 18:06] #1766 closed

[2020-03-16 19:20] nventuro opened #2131 "Consider removing findUpperBound from Arrays"
As mentioned [here](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2122#discussion_r393223754), its semantics are very specific to `ERC20Snapshot` and may not be generally useful.

If we move forward with making this function a `private` function of `ERC20Snapshot`, we'd have to figure out how to port the tests for it.

[2020-03-16 20:41] #1602 closed

[2020-03-16 20:41] #1772 closed

[2020-03-16 20:44] nventuro commented on #2060
Fixed via #2120 and #2122.

[2020-03-16 20:44] #2060 closed

[2020-03-16 21:21] #1679 closed

[2020-03-16 21:22] #2118 closed

[2020-03-16 22:49] #2121 closed

[2020-03-20 14:48] nventuro opened #2139 "Query AccessControl roles per account"
Proposed by @rumkin on [the forum](https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0-release-candidate/2478/2).

It might be useful to be able to list all roles an account has. In a system with a fixed number of roles, this can be achieved by querying the account for all known roles, but this doesn't work as well if dynamic roles are involved.

Note that the role ids returned by this qu

[2020-03-20 16:29] sacredwx opened #2140 "Contracts Import Paths in Windows"
Importing contracts that refer other contracts fail.

**💻 Environment**

"@openzeppelin/contracts": "^2.5.0",
no truffle,
vs code project
node 12.14.0

**📝 Details**

Hi guys,
I've encountered a problem, which many others face.
In windows trying to include a contract, that refers another contract an error jumps.

[code]

I found a solution that does not require from users to switch os to linux or

[2020-03-20 18:24] frangio commented on #2139
I think this is reasonable and the gas costs sound acceptable to me. Do we need more information before someone can begin to work on this?

[2020-03-20 18:29] frangio commented on #2139
It allows then querying who are the admin accounts for each of the roles. This information could be useful.

I also can imagine a future where we have a way to extract from the bytecode which functions require a a certain role. This can be displayed in a UI for access control.

[2020-03-22 12:34] Flash-Git opened #2142 "ERC721Mintable is missing after the update to 0.6.x"
`ERC721Mintable` is missing from [/ERC721/](../tree/master/contracts/token/ERC721) despite being in the README alongside `ERC721Burnable` and `ERC721Pausable`.

I checked a few open issues and I can't find any direct reference to this.

[2020-03-23 06:48] abcoathup commented on #2142
Hi @Flash-Git !

Thanks for your question. I have posted it in the Community Forum, where it can get a faster response by the community and the team. I will close this issue so we can continue the discussion there!

https://forum.openzeppelin.com/t/where-is-erc721mintable-sol-in-openzeppelin-contracts-3-0/2508

[2020-03-23 06:48] #2142 closed

[2020-03-23 07:45] abcoathup commented on #2140
Hi @sacredwx!

I don't have access to a native Windows development environment so wasn't able to reproduce this issue (I use WSL).  The suggested change doesn't work for developing/building OpenZeppelin Contracts.

Thanks so much for reporting it! The project owner will review and triage this issue during the next week.  In the meantime, you can try the following workaround:
Microsoft recommends u

[2020-03-24 04:09] abcoathup opened #2146 "Address.sol - Warning: Using ".value(...)" is deprecated. Use "{value: ...}" instead."
Compiling contract which uses Address.sol results in warning
[code]

**💻 Environment**

OpenZeppelin Contracts 3.0 (3.0.0-rc.0)
OpenZeppelin CLI 2.8 (2.8.0-rc.4)

**📝 Details**
Compiling with solc 0.6.4

**🔢 Code to reproduce bug**
Compile a contract using Address.sol
## AddressImpl.sol
[code]
[code]

[2020-03-25 05:23] abcoathup commented on #2140
Hi @sacredwx,

Can you advise what you were compiling the code with and what version this was?  You mentioned "no truffle" so not sure what you were using.

[2020-03-25 11:19] sacredwx commented on #2140
Hi @abcoathup ,
latest openzeppelin/cli for the date.

[2020-03-25 14:51] frangio opened #2147 "Go through ERC20Snapshot review"
@elopio posted [a review of `ERC20Snapshot`](https://forum.openzeppelin.com/t/draft-review-erc20snapshot/302) in the forum a year ago. Some of the comments are about the API and this is the moment to review it, before we release 3.0. Sorry I keep adding things! Here goes each individual comment from the review that concerns the API:

- [ ] the name `ERC20Snapshot` is not good. To be fully explicit

[2020-03-25 14:57] frangio commented on #2147
About naming: I personally prefer all the shorter names. I actually think users appreciate succinctness, and in this case I don't think the names are terrible.

About the function names: I agree that `getBalanceFromSnapshot` is better, but I chose `balanceOfAt` initially in order to create simple predictable names from the existing functions (`*` -> `*At`) but I don't know how valuable this really

[2020-03-25 22:10] nventuro commented on #2146
This is already fixed in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2115

[2020-03-25 22:14] nventuro commented on #2147
I also like the current names. In particular I think `balanceOfAt` does a good job at showing it's the same thing as `balanceOf`, _at_ a particular snapshot. Getting something _from_ a snapshot looks strange, snapshots don't actually store anything themselves.

Regarding the 0-indexing, ids are just identifiers: they should not be expected to be sequential.

[2020-03-27 13:56] #2111 closed

[2020-03-27 16:46] frangio commented on #2086
Is https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1745 something that may require breaking changes? It seems that we can either add a new separate contract (not breaking) or modify the existing `ERC721` in possibly breaking ways.

[2020-03-27 16:48] nventuro commented on #2086
I believe it can be implemented as an extension in a non-breaking way, so I don't think we need to worry about it now.

[2020-03-28 15:55] #2106 closed

[2020-03-29 22:49] Arachnid opened #2154 "Virtual view functions"
Please mark `tokenURI` in ERC721 `virtual`.

As it's not `virtual`, it can't be overridden by inheriting contracts. Making this virtual would allow contracts to implement programmatic generation of token URIs without using storage slots unnecessarily.

[2020-03-29 23:02] zachwylde00 commented on #2154
which contract are you refering?
 my current address is below,  but I have one that does not have a contract address and I do not Know how to generate one, by the way if you know a link for that I would very grateful and forever in your debt!
contract address:0x8c0edb69ebf038ba0c7a4873e40fc09725064c2e
coin address:0xdbb112885e1ae9f7a81fbb490f0c6150c1779957

[2020-03-29 23:22] Arachnid commented on #2154
@zachwylde00 Your enquiry has nothing to do with my feature request; please take it elsewhere.

[2020-03-30 00:58] nventuro commented on #2154
Thanks for suggesting this @Arachnid!

When considering  how `virtual` would apply to this library, we came to the conclusion that `view` methods should in general *not* be virtual: because access to the underlying state variables is not allowed (due to them being `private`), most overrides would not make sense in the first place.

I now think though that it may make sense to have `virtual view` m

[2020-03-30 02:13] frangio commented on #2154
The original reason why we decided to keep all `view` functions non-virtual was to make it easier for us to ensure derived contracts behave consistently. For example, if a derived contract overrides `allowance(...)`, the implementation of `transferFrom` will not work as expected because it accesses the allowances storage mapping directly, rather than through `allowance`. The general problem would

[2020-03-30 03:42] Arachnid commented on #2154
@nventuro Yes, similar to #1745. I want to be able to define a contract similar to this:
[code]

I'd say that for the vast majority of tokens, all token URIs are procedurally generated, and so using a minimum of two storage slots to store their URI (or at least the suffix) is a huge waste. I'd like to be able to avoid it, at least for my own token.

Doing this does make `_setTokenURI` a no-op, but

[2020-03-30 04:35] Arachnid opened #2156 "utils/String `fromUint256` should probably be `toString`"
Supposing we use the common convention of using such utility functions as a library:
[code]

The function name here tells us nothing - we already knew it was a `uint256` from the variable type. `toString` would be a much more intuitive name, and line up with what other languages use in the same situation.

[2020-03-30 04:45] Arachnid commented on #2154
Another option here is for people like myself to implement `IERC721Metadata` ourselves - but the latest change, merging all this functionality into the base 721 contract seems to make that impossible.

[2020-03-30 15:07] nventuro commented on #2154
Heh, this is what I get for replying to these on a Sunday evening. I totally forgout about this, thanks for pointing it out @frangio!

Indeed, bundling #1745 seems like a good idea.

[2020-03-30 15:24] frangio commented on #1745
As mentioned in #2154, we want to bundle this by default in `ERC721`.

[2020-03-30 15:25] frangio commented on #2086
I want to review the naming of libraries. It is currently inconsistent, some are singular and others are plural. `Strings`, `Counters`, `EnumerableSet`...

Should it be plural or singular?

[2020-03-30 16:09] nventuro commented on #2156
I think the issue is `Strings` wasn't meant to be used that way, but rather as `Strings.fromUint256()`, so that we could also have `Strings.fromInt256()` and friends.

Granted the plural form on `Strings` looks strange though, and no other library is used this way - we may want to revise this. Thanks!

[2020-03-30 19:34] frangio commented on #2156
Both `Strings.toString(x)` and `x.toString()` look nice IMO. And there can be overloads for different types.

[2020-03-30 21:31] Arachnid commented on #2154
This is more a strategy thing than a specific issue, but I'd humbly suggest that allowing implementers to override parts of the behaviour is key to making OZ contracts as useful as possible. Certainly where it's problematic, as in the case you make with allowances, it needs to be documented at a minimum, but my *personal* preference order would be something like:

 1. Use the public method interna

[2020-04-01 06:53] GuillaumeCz commented on #1928
According to the documentation, it seems that these function are actualy explained.
@blancoagostina Can you please provide more details about what's mssing ? ;)
...or maybe this issue is kind of outdated ?

[2020-04-01 06:59] abcoathup commented on #1928
Hi @GuillaumeCz,
Thanks for querying.
An example is:
https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#ERC20Pausable-transfer-address-uint256-

Compared to:
https://docs.openzeppelin.com/contracts/2.x/api/token/erc20#IERC20-transfer-address-uint256-

[2020-04-01 07:08] GuillaumeCz commented on #1928
Hi @abcoathup
My bad ! I was looking to the contract's description itself instead of the functions !
Is anyone working on this issue ?
I'm quite interested in having a try ;)

[2020-04-01 07:15] abcoathup commented on #1928
Hi @GuillaumeCz!

Thanks for offering to contribute, it is really appreciated.
OpenZeppelin Contracts 3.0 is currently being developed, so best to wait for the project owner to advise on this.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the proposed changes beforehand.  We don’t want you to waste your time!

[2020-04-01 07:22] GuillaumeCz commented on #1928
I would be proud to contribute to this nice project !

Please ping me when it's ok on your side ;)

[2020-04-01 08:42] bh2smith opened #2163 "Request for hybrid Detailed-Mintable ERC20 Token"
**🧐 Motivation**
When testing or scripting with smart contracts involving arithmetic between multiple ERC20 tokens (like an Exchange) it can be very useful to have access to a `DetailedMintableERC20` which is both a `MintableERC20` and `DetailedERC20` so that tokens can be minted for deposit, withdraw etc... while having access to relevant values such as number of decimals (for computing exchange

[2020-04-01 14:42] nventuro commented on #1928
Hey there @GuillaumeCz, thank you very much for the offer!

ERC20Pausable was simplified and now has proper docs, while TokenTimelock was removed from the library in the v3.0 release. If you're up to it, an area where better docs would definitely make a difference is ERC721: while there is some documentation, it is subpar.

I'd recommend starting with the interfaces (IERC721, IERC721Metadata, IERC

[2020-04-01 17:06] GuillaumeCz commented on #1928
I would be glad to do it ! ;)

[2020-04-01 17:15] GuillaumeCz commented on #1928
@nventuro
This is quite new for me, shall I create a new branch from master or shall I work with docs-v3.x branch ?

[2020-04-01 19:19] nventuro commented on #1928
Work directly on master, `docs-v3.x` is only used to actually deploy the site, to prevent unreleased features from showing up.

[2020-04-01 19:40] frangio commented on #1928
@GuillaumeCz Feel free to open a draft PR if you need any advice along the way.

[2020-04-02 09:03] albertocuestacanada opened #2165 "Allow AccessControl role hierarchy to be defined at runtime"
**🧐 Motivation**
Right now the only function to set an admin role is:
```function _setRoleAdmin(bytes32 role, bytes32 adminRole) internal virtual```

That can be used to set up a role hierarchy in the constructor of a class extending `AccessControl`, but there would be issues if the role hierarchy should be defined at runtime.

**📝 Details**
If defining roles at runtime, changing the role admin fo

[2020-04-02 16:09] nventuro commented on #2165
Thanks for opening this @albertocuestacanada! Indeed, the intent behind AccessControl is to allow for dynamic role hierarchies, but it is not supported out of the box: you'll have to think about which requirements to add when exposing `_setRoleAdmin` externally.

Your comment about `getRoleAdmin() external` getting in the way is spot-on: we've identified a number of issues related to having `exter

[2020-04-02 18:46] nventuro opened #2166 "Restore EnumerableSet.enumerate"
This function was removed in #2160 due to issues with casting arrays of different types.

This can be achieved using assembly:

[code]

However, creating an assembly block brings all assembly keywords into scope, which causes shadowing warnings to be emitted by the compiler due to the existence of functions with names such as `add` in the same scope.

We should devise a way to bring `enumerate` ba

[2020-04-02 21:33] albertocuestacanada commented on #2165
I've see the new code in #2162, and that is enough for my purposes.

I think we will at some point need to implement a public `setRoleAdmin` function, due to developer misuse, but let's see if time proves I'm wrong.

You can close this issue if you want. Thanks a lot.

[2020-04-02 21:54] #2165 closed

[2020-04-03 03:18] abcoathup commented on #2163
Hi @bh2smith!  Thanks for the suggestion, it is really appreciated.

The project owner has linked to #2167 which should address this suggestion.

[2020-04-03 06:42] bh2smith commented on #2163
Yes it does thanks. That along with the fact that `ERC20Detailed`has been recently merged into `ERC20` should be exactly what I was hoping for.

[2020-04-03 06:42] #2163 closed

[2020-04-07 04:47] bohendo commented on #2068
Is any info available re an updated release schedule?

Thanks, stay safe out there :pray:

[2020-04-07 04:54] abcoathup commented on #2068
Hi @bohendo,

The final release candidate for OpenZeppelin Contracts 3.0 is out:
https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0-final-release-candidate/2583

[2020-04-08 17:07] KaiRo-at commented on #2003
This may be mostly bogus now as Solidity 0.6 and OpenZeppelin 3.0 seems to be geared towards WET rather than DRY (due to explicit overrides on Solidity's side and reducing library complexity on the OpenZeppelin side) and any changes that are not strictly extensions to the default OpenZeppelin implementation need copying of the whole contract code for other tokens as well from how I understand it.

[2020-04-09 00:21] nventuro commented on #2003
One of our top goals is definitively avoiding code repetition and users copy-pasting the library sources, this issue remains relevant.

We've already removed `external` from all other functions in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2162 and introduced _hooks_ as an extensibility point with this very goal in mind (see [the code for ERC777 for example](https://github.com/Ope

[2020-04-09 12:39] KaiRo-at commented on #2003
Hmm, if enough `virtual`s are spread throughout this and people can override those functions (I forgot for a moment that functions marked `virtual` do not actually require an override), then it may still work and be helpful, yes.

[2020-04-10 04:59] shunp opened #2175 "Cannot use OpenZeppelin Contracts 3.0 beta"
### Problem

I was going to try using OpenZeppelin Contracts 3.0 beta but it cannot be installed.

[code]

### Error Message

No matching version found for @openzeppelin/contracts@beta.
In most cases you or one of your dependencies are requesting
a package version that doesn't exist.

**💻 Environment**

npm 6.12.1
node v12.13.1
macOS

[2020-04-10 10:13] KaiRo-at commented on #1745
FWIW, I proposed a PR for this in #2174 based on the great work @frangio did in #1970.

[2020-04-10 14:21] nventuro commented on #2175
Hm, it seems like the beta tag was removed when the release candidate came out. Take a look at [the announcement](https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0-final-release-candidate/2583) to learn about what's included there!

To install it, run

[code]

[2020-04-10 14:21] #2175 closed

[2020-04-10 16:32] KaiRo-at commented on #2003
I've been pointed to https://twitter.com/xanderatallah/status/1232124941425881089 today and that makes me wonder if there is a generic way to do at least an `internal` implementation of `_exists()` like we have in ERC721, but that's not really easy the way ERC1155 is built in general.
It can be done in some specific implementations, though.

[2020-04-11 00:38] osnwt opened #2176 "Unable to deploy upgradeable contract non-interactively"
This works:
[code]
This doesn't:
[code]

The question about init has no command-line option:
```? Call a function to initialize the instance after creating it? (Y/n)```

In addition, -k option has broken help (see below).

[code]

How to deploy upgradeable contract from script?

[2020-04-11 20:08] puchaw commented on #2086
@nventuro

[2020-04-11 20:09] puchaw opened #2179 "Good"
**🧐 Motivation**

**📝 Details**

[2020-04-11 20:13] puchaw opened #2180 "วิธีการตรวจสอบสัญญาที่ปรับใช้โดย Remix นำเข้า OpenZeppelin ผ่าน GitHub"
**🧐 Motivation**

**📝 Details**

[2020-04-12 02:24] #2179 closed

[2020-04-12 02:24] #2180 closed

[2020-04-12 09:33] Met7 opened #2181 "[minor] Wrong comment in IERC777"
revokeOperator has @dev comment from authorizeOperator

**💻 Environment**

**📝 Details**

**🔢 Code to reproduce bug**

[2020-04-12 12:31] gitpusha commented on #2086
Hi @frangio. Sorry for never replying to this. I lost track of this issue. The reasons for using try catch is

1. We want to prevent reverts from happening because a third-party is paying for the transaction and they should still get their gas refund if something went wrong with the ERC20.

2. In our system several actions are performed in sequence and it often helps debugging when you can catch t

[2020-04-13 18:22] frangio commented on #2003
(@KaiRo-at I edited your comment just to add diff highlighting.)

I like the idea that specific projects may be able to define a notion of "exists", but for now I'm inclining towards not encoding that in our base contract because it's something rare and that would be simple to add on top.

[2020-04-13 19:00] KaiRo-at commented on #2003
@frangio the problem is that quite a few functions that use a `require(_exists())` pattern are probably `view` functions that are not declared `virtual` and therefore cannot be overridden easily, like the example of `uri()` I'm giving there. (...and thanks for the diff highlighting!)

[2020-04-13 19:40] frangio commented on #2003
Aha! That's super interesting. Do you know of any projects that are using or considering to include this notion of `exists`?

[2020-04-13 21:22] KaiRo-at commented on #2003
You mean, other than the one I'm working on right now? ;-)
Unfortunately, I can't make it public atm, but I'll be using all the ERC1155 patches I posted here and this `exists()` stuff in addition, in a project that is to be released "soon".
Also, having that notion of `_exists()` would match the OpenZeppelin ERC721 implementation.

[2020-04-14 13:18] KaiRo-at commented on #2003
I thought about this whole thing some more and I'm taking the suggestion to its own PR at #2185 - I figured it's probably best if we have an actually working `_exists()` there and figured a simple way we can do this (and not need the `view virtual` stuff), see there.

[2020-04-14 17:41] #2181 closed

[2020-04-14 17:42] frangio commented on #2147
Okay then. Closing this as resolved: we decided to keep the current names, and `snapshot` is no longer public.

[2020-04-14 17:42] #2147 closed

[2020-04-15 12:03] KaiRo-at opened #2187 "ERC721: Allow for lower-gas-cost minting with sequential IDs (and no burning)"
As discussed in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2160#issuecomment-611035080 and the following comments, the merging of contracts in #2160 took away the possibility of an optimization that we at Capacity used e.g. for Crypto stamp Edition 1 and want to be using again in future projects (we have one going right now where we need it).

In those projects, we previously coul

[2020-04-15 12:06] KaiRo-at commented on #2187
A solution I did in our projects for the moment is to have a full copy of `ERC721.sol` with only the `EnumerableMap` library replaced, the changed library has those changes:

[code]

With that, I can reclaim those 40k gas per token on minting and not touch the actual ERC721 implementation code, keeping custom changes confined to this library. Unfortunately, I still need a full copy of `ERC721.sol`

[2020-04-15 18:39] #1745 closed

[2020-04-15 19:03] buckysballs commented on #2032
Nothing above currently working with Remix. I was able to successfully compile just fine a few months ago (December) via `import "https://github.com/OpenZeppelin/openzeppelin-solidity/contracts/ownership/Ownable.sol";`

Anyone else having success with remix?

[2020-04-15 19:08] frangio opened #2189 "Upgrade solidity-coverage to ^0.7.2 to support Solidity v0.6"

[2020-04-15 19:17] frangio opened #2190 "Document workarounds for ECDSA.recover with Ganache"
In 2.2.0 we introduced protections against malleability of ECDSA signatures. More details can be found in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1622.

One unfortunate side effect of this has been that `ECDSA.recover` stopped working with Ganache-generated signatures, because they use the signatures parameters that the library rejects. This seems to be a problem with Ganache on

[2020-04-15 20:00] nventuro commented on #2190
I want to add a short clarification, given a bit of context is needed to understand this.

The current ECDSA code is correct, safe, and will work as intended in all testnets and the main Ethereum network. This is a side-effect of an issue with how a Ganache node behaves on `eth_sign` RPC requests, which on the worst case will lead to head-scratching while developing locally against a ganache node.

[2020-04-15 20:03] nventuro commented on #2189
Ideally this will be handled by a new version of [OpenZeppelin Test Environment](docs.openzeppelin.com/test-environment/), which has added this feature to its [Q2 2020 roadmap](https://github.com/OpenZeppelin/openzeppelin-test-environment/issues/73).

[2020-04-15 21:04] #2156 closed

[2020-04-16 11:18] alexroan opened #2193 "AccessControl _grantRole should be internal"
**🧐 Motivation**

To enable dynamic role management at runtime, an admin needs to be granted initially. The public function `grantRole()` requires than the admin role exists and there is already a bearer, so child contracts need to first be able to grant it.

Having `_grantRole()` as private blocks this.

**📝 Details**

Example of a Hierarchical structure using AccessControl here: https://github.c

[2020-04-16 15:13] #2146 closed

[2020-04-16 16:14] frangio commented on #2154
We've decided to review this decision in the next release cycle since it's a backwards compatible change and we want to focus on getting 3.0 released as soon as possible. It's looking likely that we will make view functions virtual in general. Some more discussion [in this forum thread](https://forum.openzeppelin.com/t/how-we-plan-to-adopt-solidity-0-6-virtual-functions/2063).

[2020-04-16 16:52] nventuro commented on #2193
Hello @alexroan, thanks for opening this!

The function you'll want to use in your constructor is called [`_setupRole`](https://docs.openzeppelin.com/contracts/3.x-rc/api/access#AccessControl-_setupRole-bytes32-address-), and it can be used to achieve the result you're looking for.

It can currently only be called from the constructor, but that limitation is going away in https://github.com/OpenZe

[2020-04-16 16:56] nventuro commented on #2131
I'm not so sure it's worth removing this from the library: it isn't much more than a binary search, the associated effort with getting rid of it is not small (due to the need to port the tests).

[2020-04-16 22:18] frangio commented on #2131
Agreed. Let's keep it.

[2020-04-16 22:18] #2131 closed

[2020-04-17 18:05] WyseNynja opened #2197 "Add "fromAddress" to utils/Strings.sol"
**🧐 Motivation**

I am trying to get more useful revert messages in my contracts and being able to format uint256 as a string has been really helpful. It would be nice if the other types had this, too. For now, I only need `fromAddress`.

**📝 Details**

There are a couple (slightly outdated) implementations here: https://ethereum.stackexchange.com/questions/8346/convert-address-to-string

[2020-04-17 18:15] WyseNynja commented on #336
That's a great point @nventuro. This should be documented somewhere. I started writing some truffle migrations and just assumed that linking would be better until I saw this issue.

[2020-04-17 18:35] WyseNynja commented on #2197
I tried all the methods on that stackexchange link and only one worked for me:

[code]

I don't know how efficient this is gas-wise, but that doesn't matter for my current purposes.

[2020-04-17 20:00] #2193 closed

[2020-04-17 22:06] frangio commented on #2086
Closing in favor of the [milestone](https://github.com/OpenZeppelin/openzeppelin-contracts/milestone/8).

[2020-04-17 22:06] #2086 closed

[2020-04-19 15:30] FrozenKiwi commented on #824
+1.  AFAIK there isn't a clean way to import scripts when using combined with yarn PnP (?).  In this case, it would be super if we could just use EthPM to pull things in.

Workaround in the meantime is to copy local (ick).

[2020-04-20 13:32] Amxx commented on #2068
This was 13 days ago. Any clue when the 3.0 will be out? Hours? Days? Weeks?
(I have a platform audited and ready to deploy based on 3.0.0-rc.1, would be great if I could deploy with 3.0.0 "official")

[2020-04-20 16:08] frangio opened #2203 "Batch operations for AccessControl"
It's currently only possible to modify one role-account pair at a time. For building management UIs with good usability it's basically a requirement to be able to do batch operations. Being able to grant _and_ revoke multiple roles from multiple accounts in one transaction.

The first option I thought of was a `toggleRoles` function that receives a list of role and account list pairs (`(bytes32, a

[2020-04-20 16:55] frangio commented on #824
@FrozenKiwi Can you clarify if you're referring to EthPM v2, and what specific tooling you would use to pull the package in that case?

I think we should delete the current `ehpm.json` manifest from our repo because if I understand correctly it's out of date with the newer spec, and then work on having something for the newer EthPM.

[2020-04-20 17:06] nventuro commented on #824
@FrozenKiwi could you expand a bit on the issues when using yarn PnP, and how EthPM addresses those?

[2020-04-20 17:09] frangio commented on #824
Yarn PnP doesn't extract packages to the `node_modules` directory, but serves them directly from the `.tgz` sort of at runtime. Tools need to be changed to support this, for example Truffle and the OpenZeppelin CLI would need to know to look for contracts in the PnP "repository" rather than in `node_modules`.

EthPM would also not put contracts in `node_modules`, though, so unless the tooling alre

[2020-04-20 17:46] frangio commented on #2068
@Amxx In the next one or two days.

[2020-04-20 17:56] FrozenKiwi commented on #824
I don't know, I just installed the latest truffle and used "truffle install".  It was a short-lived experiment, turns out Yarn PnP doesn't play nicely with electron either so I've already abandoned that effort.

[2020-04-20 17:56] FrozenKiwi commented on #824
^^ What @frangio said, except EthPM (when run from truffle) puts the contracts in a local folder that you can then directly import.  This way you keep your external files under management, if not exactly under node_modules.

[2020-04-20 20:48] nventuro opened #2206 "EIP-2612: Add ERC20 permit() function"
There's been some discussion about an ERC20 extension with the `permit` function, popularized by MakerDAO's Dai token (see the code [here](https://github.com/makerdao/dss/blob/44330065999621834b08de1edf3b962f6bbd74c6/src/dai.sol#L118-L140)).

This recently became even more relevant in light of hacks revolving ERC777 and reentrancy, since `permit` could help solve some of the UX issues that drive p

[2020-04-20 23:41] nventuro opened #2207 "Contracts Roadmap Q2 2020"
The [release of OpenZeppelin Contracts v3.0](https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0/2695) marks the completion of our [Q1 roadmap](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2068).

We are sharing our roadmap for the key areas that we are planning to work on for the next few months, with the aim of giving more visibility to our goals and fostering participa

[2020-04-20 23:51] nventuro commented on #2068
[v3.0.0 is finally out!](https://forum.openzeppelin.com/t/openzeppelin-contracts-v3-0/2695)

This concludes tasks on this roadmap. Head over to the [Q2 2020 roadmap for upcoming features!](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2207)

[2020-04-20 23:51] #2068 closed

[2020-04-21 00:05] nventuro commented on #2203
Indeed, toggling doesn't seem like a great idea - these controls should have the same effect regardless of the current state of the system (is there a term for this? idempotency is not the right word).

Would you add this to the base `AccessControl` contract, or build on top of it? I think I'd rather not force features that are not strictly needed to all users.

[2020-04-21 00:23] frangio commented on #2203
I would add this to the base contract.

[2020-04-21 00:26] nventuro opened #2208 "Add require statements to ERC777 internal functions"
https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2027 made some functions, including `_approve`, `internal`. A [comment](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2027/files#diff-50790cbc7e9942af7885b70149d10000R412) indicated that doing this required that a commented-out `require` statement be restored, but this was not done.

This leads to some of the arguments of th

[2020-04-21 01:42] abcoathup commented on #2197
Hi @WyseNynja!  Thanks for the suggestion, it is really appreciated.

The project owner should review your suggestion during the next week.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the design beforehand.  We don’t want you to waste your time!

[2020-04-21 07:35] Amxx opened #2209 "ERC721 from 3.0.0 does not compile due to missing dependency"
When compiling a contract that inherits from `@openzeppelin/contracts/token/ERC721/ERC721.sol` I get the following error:

[code]
I believe this was added to support eh new `tokenURI` logic, but the required import was not added. This can be fixed, from the users perspective, by doing the import on the inheriting smart contract's file, but it is still a nasty bug that should be fixed asap.

[2020-04-21 07:38] #2209 closed

[2020-04-21 07:39] Amxx commented on #2209
My bad, it is there, the file must have been cought in one of my IDE tabs and got modified by error

[2020-04-21 18:31] GuillaumeCz commented on #1928
Owing to the fact that ERC721 interfaces documentation are done, can I start working on ERC721 contracts documentation ? ;)

[2020-04-21 23:00] nventuro commented on #1928
Of course! Look forward to your next PR :)

[2020-04-22 07:56] miohtama commented on #2206
I agree that `permit()` needs its own ERC.

However, the ERC-777 solves UX issues better than `permit()`. `permit()` requires all wallets to have a special flow to sign + send. In ERC-777 we can just `send()` tokens to the smart contract. ERC-777 t is semantically more correct and also from the user perspective much easier to understand.

I think it is a separate discussion if people are using ERC

[2020-04-22 07:58] miohtama commented on #2206
For the underlying issue of re-entrance:

* Have Solidity to prevent re-entrance by defaut (like we changed with payable in the past)

* Have EVM level change that prevents re-entrance by default

Currently the reason why these hacks happen are "bad defaults". Re-entrance should be opt-in, not opt-out.

[2020-04-22 12:23] nventuro commented on #2206
Yes, I wasn't suggesting ERC777 should be removed or avoided (on the contrary, I think it opens the door to many interesting possibilities), but it does require a deeper understanding of the EVM and the Ethereum ecosystem, partly due to the 'bad defaults' you've mentioned.

In that sense, `permit` would let people get a better UX than plain ERC20 offers without having to worry about the dangers of

[2020-04-22 16:04] nventuro opened #2210 "Add event for AccessControl._setRoleAdmin"
Whenever a role's admin is set by [_setRoleAdmin](https://docs.openzeppelin.com/contracts/3.x/api/access#AccessControl-_setRoleAdmin-bytes32-bytes32-), we should emit an event indicating this happened.

Not only is this useful to react to admin changes, it will also help in dynamic role schemes, where a role hierarchy may be set up without any account having the roles.

[2020-04-23 15:10] njgheorghita commented on #824
Hey! Just wanted to chime in here. Truffle currently supports EthPM v1 (which I believe is broken). Support for EthPM v2 is coming with the next major version bump to v6. However, the spec for EthPM v3 is currently under development - and close to being finalized (i.e all v2 tooling will need some updating in the near future). v3 brings some minor but useful spec changes allowing the solidity comp

[2020-04-23 17:51] frangio commented on #824
Thanks for the update. Will definitely be there!

[2020-04-23 19:54] nventuro commented on #2197
Could you share a short snippet of how you're using this to create nicer error messages?

I'd rather see tooling move in a direction where we can retrieve values directly without having to convert them to strings inside the EVM (!), though I guess there's not much harm in having such a helper. I wonder how easy it'd be to create these messages though.

[2020-04-24 09:03] Skyge commented on #2210
That is good, how about the name of this new event is `NewRoleAdmin` or something else?

[2020-04-24 15:25] nventuro commented on #2210
We name events as verbs in the past tense, so it'd have to be something like `RoleAdminChanged`. I now wonder if `_setRoleAdmin` shouldn't be `_changeRoleAdmin`: 'set' might give the impression of it being a one-off thing.

[2020-04-24 17:07] WyseNynja commented on #2197
This is what I'm doing for now. I just wanted useful reverts in dev so I'm not caring about gas efficiency at all.

[code]

This one mostly works, but theres some bytes at the front of call_returned that I don't know how to deal with. That's a separate issue though.

[code]

[2020-04-24 18:04] julianmrodri commented on #2210
@nventuro I would like to tackle this if you are OK. Not sure whats the expected timeline but can take a look during the weekend if required. Can do just the event or also the renaming if we agree. Let me know, just looking on how to contribute :)

[2020-04-24 18:22] nventuro commented on #1928
We should also improve the ERC777 docs: https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2212/files#r414772213

[2020-04-24 18:28] nventuro commented on #2210
Go for it! The event alone should be fine, it'll be a straightforward PR :)

[2020-04-24 20:37] julianmrodri commented on #2210
@nventuro Just submitted PR. Ran the tests and lintern and seems to be fine. I dont think we have to modify the CHANGELOG. Please let me know how it looks. Thanks!

[2020-04-24 23:29] abcoathup commented on #2206
EIP: https://github.com/ethereum/EIPs/issues/2613

[2020-04-24 23:49] Skyge commented on #2210
As far as I am concerned, the function name is OK, the 'set' also means it can 'change', of course,  in order to make it more clear, we can add some comments.

[2020-04-25 20:09] mds1 commented on #2206
I don't think this is necessarily true. There's two potential improvements I've seen discussed, which I'm sure you're aware of, but figured I'd mention anyway:

- Dai/Chai's permit function has a boolean input `allowed`. If true, the allowance is set to `uint256(-1)`, and set to 0 otherwise. Uniswap V2's `permit` function instead has `uint256 value` as the input, allowing more granular control ove

[2020-04-26 03:01] corydickson opened #2215 "Reliability of the truthiness of `isContract` method"
When reviewing [this EIP](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1052.md), it is uclear to me if someone were to selfdestruct a contract in the same transaction it was created that this function would still return True. Is this intended behavior?

I feel like this would lead to some obscure bugs, namely contracts that behave in test cases 5/6 described above.

[2020-04-27 18:25] #2208 closed

[2020-04-29 13:02] KaiRo-at opened #2217 "IERC721Receiver should be an 'interface'"
Since I saw that IERC721 was converted from an 'abstract contract' to an 'interface', I tried to include IERC721Receiver in an 'interface' of mine (with OpenZeppelin 3.0.0) and was surprised that it has not been converted as well. This should probably be done.

[2020-04-29 21:55] BrendanChou opened #2219 "SafeERC20.safeApprove() Has unnecessary and unsecure added behavior"
SafeERC20.safeApprove() should not have the added functionality of checking the existing allowance of the token. It should simply call `token.approve()`.

The purpose of this added code is to check that a user is either setting their allowance to zero, or setting it from zero. This is so that the user doesn't try to re-set their allowance from one non-zero number to another non-zero number where t

[2020-04-30 02:05] abcoathup commented on #2219
Hi @BrendanChou!  Thanks for the suggestion, it is really appreciated.

The project owner should review your suggestion during the next week.

[2020-04-30 02:08] abcoathup commented on #2217
Hi @KaiRo-at!  Thanks for the suggestion, it is really appreciated.

The project owner should review your suggestion during the next week.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the design beforehand.  We don’t want you to waste your time!

[2020-04-30 02:08] BrendanChou commented on #2219
Thanks. Another possibility (if you don't want breaking changes) is to add another function to call approve in a "safe" manner without all the extra code.

[2020-04-30 02:12] BrendanChou commented on #2219
The reason this code is so bug-prone is because this behavior is not natively present when calling approve() and can therefore easily create unintended reverts that lock funds in smart contracts that use this code. Based on the documentation in the readmes and at the top of the file, one would assume that it is doing a safer, more-compatible version of the approve call (when it is in fact doing a

[2020-04-30 06:16] abcoathup commented on #2215
Hi @corydickson!  We have been able to reproduce this issue by following these steps:

`isContract` returns true for a contract that is created and self destructed in the same transaction.  `isContract` returns false in subsequent transactions.

## Target.sol
[code]
## Check.sol
[code]

[code]

Thanks so much for reporting it! The project owner will review and triage this issue during the next wee

[2020-04-30 21:35] frangio commented on #2217
Thanks for reporting! Seems like it was an oversight. It shouldn't be a breaking change so we can go ahead and make this change.

[2020-04-30 23:00] frangio commented on #2219
Thanks for the detailed report @BrendanChou. Unfortunately "safe" is not a precise term but it has stuck. In this case it has lead to a deviation from the original purpose as you point out.

I wouldn't say that the library should be strictly restricted to wrapping non-compliant tokens, because I think `safeIncreaseAllowance` and `safeDecreaseAllowance` are also valuable. But I do agree that the ch

[2020-04-30 23:15] frangio commented on #2215
Thank you for testing this @abcoathup.

@corydickson Can you please rephrase in more detail what is the issue that you see here? I'm not sure I understand.

The semantics of `isContract` are a bit strange and may be unintuitive, but it's the way the EVM works. We do have a warning in [the docs](https://docs.openzeppelin.com/contracts/3.x/api/utils#Address-isContract-address-). If you have any sugg

[2020-05-02 14:21] princesinha19 commented on #1728
Hello everyone, is there anyway to use ERC1155 using npm? Or only by pulling code from `feature-erc1155` branch I can use.
I think the code is not released till yet.

[2020-05-02 18:35] wmitsuda commented on #1728
@princesinha19 I believe the only way is downloading the branch for now. I've been experiment with the code and the only way I was able to do it was by checking it out manually.

[2020-05-02 18:39] wmitsuda commented on #1728
BTW, I believe the code needs to be refreshed, the other contracts are already using solidity 0.6, but the ERC1155 implementation is still on 0.5, I had to adjust it manually myself.

Not sure if the OZ developers have already done this in their own branches , but if have an updated code in my workspace, I can PR if you want.

[2020-05-02 20:19] princesinha19 commented on #1728
@wmitsuda Thanks for the suggestion. I think OZ has already upgraded the contract to solidity version 0.6.
I hope they will release it asap 🙏

[2020-05-03 00:21] KaiRo-at commented on #1728
Work for Solidity 0.6 was done in #2130 and merged in the branch already, some more work (like for URI support) is still being reviewed. All in all, #2014 is tracking the work that still needs to be done to land this in master and get it into an actual release.

[2020-05-05 19:26] nventuro commented on #2187
This is an interesting limitation of the Contracts library and Solidity in general. The behavior you want to change is encapsulated inside `EnumerableMap` (as can be seem by you fixing the issue by just modifying that library), but the notions of overriding library functions or inyecting dependencies don't exist in the language.

We saw something similar happen in an ERC777 contract, where a user

[2020-05-06 04:24] julianmrodri commented on #2217
@frangio Just submitted a PR to fix this issue based on your command to move ahead. Let me know if I need to make any other changes. Thanks!

[2020-05-06 12:53] Amxx opened #2226 "ERC777 mint fails when target is a smart contract not ERC1820 registered"
I noticed this behaviour when working with the [pToken contract on ropsten](https://ropsten.etherscan.io/address/0xeb770b1883dcce11781649e8c4f1ac5f4b40c978#code). I'm depositing BTC to the address provided by pToken and their bridge is, in exchange, supposed to deposit pBTC on my account. This operation corresponds to a `_mint`, by the bridge, of token on my account.

This operation fails when usi

[2020-05-06 14:47] frangio commented on #2187
This could be achieve with templatized contracts. The template parameter would be the library used, and we'd have a default value but the user would be able to replace it.

[2020-05-06 19:27] nventuro commented on #2226
The token contract MUST revert when sending in any of the following cases:

    The operator address is not an authorized operator for the holder.

    The resulting holder balance or recipient balance after the send is not a multiple of the granularity defined by the token contract.

    The recipient is a contract, and it does not implement the ERC777TokensRecipient interface via ERC1820.

[2020-05-06 19:38] nventuro commented on #2226
Hello @Amxx, thanks for discussing this issue!

That check is very much intentional and a non-optional part of the [ERC777 specification](https://eips.ethereum.org/EIPS/eip-777): not having it would make the token contract non-compliant.

Quoting from the spec:

This is what `_callTokensReceived` implements: it calls `tokensReceived` if there is an implementation registered, reverting if there isn

[2020-05-06 19:47] #2217 closed

[2020-05-06 20:13] nventuro commented on #2187
Because you'd need to have a concept of a group of internal functions? (what is now sort of  achieved with `library`)

[2020-05-06 20:21] #2210 closed

[2020-05-06 21:29] nventuro commented on #2197
Hello @WyseNynja, sorry to have left you hanging.

Even if usefulness of this feature is unclear, we think it might make sense to include it in the OpenZeppelin Contracts library to provide users with the flexibility to perform these sort of tasks. We arrived at a similar conclusion in https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1795 (which is rather relevant here).

Unfortunatel

[2020-05-06 22:13] chriseth commented on #2187
I'm sorry, I have a hard time grasping the gist of this issue or the question by you, @nventuro.
I would be very much interested, though, in how templates can help and why free functions are a problem (or which aspect of free functions).

[2020-05-07 09:22] Amxx commented on #2226
Most smart contract wallets, Argent included, implement `onERC721Received`, and that's all they need to do. However, to the best of my knowledge, no provider does the registration. I know for a fact that Argent doesn't. I get that 777 specs is different then 721 in the sens that it requires 1820 registration (where 721 just asked the target) ... I get its in the spec, but I can't figure out why.
T

[2020-05-07 18:54] WyseNynja commented on #2197
That makes sense. For now, I have a `Strings2.sol` that I'm using for this.

[2020-05-07 18:55] WyseNynja commented on #2197
Oops. I mis-clicked.

[2020-05-07 19:36] nventuro opened #2227 "Use new interfaceId syntax for ERC165"
[Solidity v0.6.7](https://github.com/ethereum/solidity/releases/tag/v0.6.7) now supports building ERC-165 identifiers via the `type(InterfaceName).interfaceId` syntax.

We should add examples to our [ERC165 implementation](https://docs.openzeppelin.com/contracts/3.x/api/introspection#ERC165)'s documentation, showing usage of this new syntax.

[2020-05-08 04:20] julianmrodri commented on #2203
@nventuro @frangio  would be happy to give this a shot. I can post here a proposal and we can discuss the overall design. It would have to be after Consensus though, which is next week. If you are OK let me know! thanks!

[2020-05-08 16:07] nventuro commented on #2203
If we're batching operations, should we not also allow for multiple roles? The caller would have to be the admin of all of them though, which may not be common.

@frangio why not provide this as an extension? Not everyone will need batching, and it might be a good idea to make it optional to keep bytecode size low.

[2020-05-08 16:35] nventuro opened #2230 "ERC1155 pending tasks"
This issue tracks the tasks pending for the ERC1155 feature to be complete and releasable.

- [x] Improve extensibility of ERC1155 (#2003)
- [x] Port to Solidity v0.6
- [x] Re-review the code, mostly for security issues.
- [x] Add more tests, increase test coverage.
- [x] Compare with [Augur's implementation](https://github.com/AugurProject/augur/blob/master/packages/augur-core/source/contracts/li

[2020-05-08 20:08] nventuro commented on #1728
Pending tasks are now tracked in https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2230

[2020-05-08 21:16] AC0DEM0NK3Y commented on #2230
Forgive if I'm wrong it's been a while since I looked at a node but afaik you do not need an archive node to pull history of events you only need an archive node to pull historical state.

[2020-05-08 21:43] nventuro commented on #2206
Thanks for mentioning those improvements @mds1! The [ERC](https://github.com/ethereum/EIPs/issues/2613) is very detailed - I encourage people interested in this to go read it.

That implementation has `permit` with a `boolean` argument, which greatly simplifies working with `expiry`: we'd otherwise need to e.g. track how much allowance each permit granted, and then remove that. I'm not sure `permi

[2020-05-08 22:19] frangio commented on #2203
Yes the idea would be the argument to this function is a list of triples: `(role, address list, address list)[]`, which allows managing multiple roles at once. I actually think it would be pretty common to have a single admin role for all other roles.

If we don't think this will be generally useful, or that it will be too expensive to deploy, I think I prefer to not provide it as an extension eit

[2020-05-09 09:06] pcaversaccio opened #2231 "Change Solidity version in Address.sol from 0.6.2 back to 0.6.0"
Hi, I'm currently using the Truffle framework to deploy an ERC20 token contract. For that purpose I use `npm install @openzeppelin/contracts` and include the needed node_modules into my main code: `import "../node_modules/openzeppelin-solidity/contracts/token/ERC20/ERC20.sol";`. However, I can't compile it unless I change in the `Address.sol` the Solidity version back to 0.6.0 since that is the ve

[2020-05-09 09:30] pcaversaccio commented on #2231
I resolved it by setting
[code]

[2020-05-09 09:30] #2231 closed

[2020-05-10 17:30] Amxx opened #2232 "Override ERC721's _isApprovedOrOwner"
I have a usecase where ERC721 tokenId are smart contract address:
- The owner of the token is the owner of the contract, and has a priviledge access to it (contract knows the registry address and reads ownership from it).
- The owner of the token can transfer the ownership of the contract using ERC721 logic.

What I'd like to add, is to give the possibility for the contract to perform registry ope

[2020-05-13 03:15] nventuro commented on #1290
With the release of `AccessControl` in v3.0 this no longer applies.

[2020-05-13 03:15] #1290 closed

[2020-05-13 15:19] nventuro commented on #2232
Hello @Amxx, thanks for reporting this!

This is the second valid request we've seen for `virtual view` functions (along with https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2154). We made those non-virtual thinking that a) we could always add `virtual` in the future, and b) it'd likely be hard to write an override without having access to the underlying state variables.

However, in

[2020-05-14 15:21] wbt opened #2234 "SPDX license identifiers missing"
As of today (Solidity 0.6.8, from [this PR](https://github.com/ethereum/solidity/pull/8907)), Solidity issues warnings on all OpenZeppelin (and other) contracts for lack of an "[SPDX-License-Identfier](https://solidity.readthedocs.io/en/v0.6.8/layout-of-source-files.html#spdx-license-identifier)" code comment at the top of the file.

A proposed fix would be to add
`//SPDX-License-Identifier: MIT`

[2020-05-14 19:39] frangio opened #2236 "Ownable contracts cannot be created by factories"
If a contract is `Ownable`, the owner is automatically set to the deployer account. Because `transferOwnership` can only be called by the owner, these contracts cannot be deployed by generic factory contracts because they will retain ownership and have no way of transferring it to another account.

There's two ways to work around this in 3.0, neither of them very comfortable:
1. Override `Context.

[2020-05-14 20:11] nventuro commented on #2236
I'm not sure I see the issue with factories. Are you saying the following code will not work?

[code]

[2020-05-14 22:43] frangio commented on #2236
The issue is with _generic_ factories. So, factories that can be used to deploy any contract and that don't contain any logic specific to that contract.

[2020-05-15 00:58] #2234 closed

[2020-05-15 11:30] julianmrodri commented on #2236
So bringing back the `_transferOwnership` would do the trick?  Seems we need to revert this [change](https://github.com/OpenZeppelin/openzeppelin-contracts/commit/5b5d91c9d46e436818ca3ef8fbfa9394fc6a33c6#diff-92fed4d3c8004a2463ff9203cb98e8d3).

 I can take care if you want. Should we do any additions to the Tests to contemplate this scenario?

[2020-05-15 16:00] frangio commented on #2236
I think we'd want to follow the same convention we use in `AccessControl` and name it `_setupOwnership`. @nventuro ?

[2020-05-15 19:00] nventuro commented on #2236
I'm not sure about `_setup`, since it does more than that: there is only one owner, and `_setup` would also remove the original one.

What is the use case for a generic factory, just the deterministic address? This seems like an advanced use case for a very simple contract, I'm not sure we should make it more complex to cater to this scenario.

[2020-05-15 20:54] frangio commented on #2236
There can be a lot of use cases for generic factories. It doesn't make sense to enumerate them. As an example, someone could have a factory that pays for the gas.

I don't think it adds complexity to add this internal function. We removed it because we wanted to close down the API, but then we added back `_setupRole`, giving up that closedness for the `AccessControl` contract. So why shouldn't we

[2020-05-16 03:51] ItsNickBarry commented on #2197
I have a situation where `n` contracts may be deployed and linked to a corresponding `ERC20` contract.  Users may hold tokens from any number of these `ERC20` contracts.

The token metadata is generated using the string representation of the address of the linked contract.  Something like `string(abi.encodePacked('Linked: ', address(_linkedContract).toString()))`.

This isn't the ideal UI feature,

[2020-05-16 16:55] corydickson commented on #2215
Thanks both @abcoathup @frangio for reaching out to address the concern. It more has to do with the naming of the API and in the documentation it says:

-- an address where a contract lived, but was destroyed

But the test case provided shows how if in the same tx a contract is created/selfdestructed this check still returns True. Could we update the docs to reflect this, or maybe change the name

[2020-05-18 17:26] nventuro commented on #2215
I dug a bit into EIPs [1052](https://eips.ethereum.org/EIPS/eip-1052) and [161](https://eips.ethereum.org/EIPS/eip-161) to better understand how `selfdestruct` interacts with `extcodehash`, but couldn't really find what I was looking for.

However, I think the current behavior, if perhaps strange, is still valid and useful. Any account for which `isContract` returns true *is* a contract and *not*

[2020-05-18 21:32] frangio commented on #2215
The name `hasHadCodeDeployed` would not be accurate, because a contract that has been selfdestructed indeed has had code deployed at some point, but doesn't anymore. We want `isContract` to return false in that situation.

[2020-05-19 16:26] josh-kean opened #2239 "ERC721 Full Contract still in documentation after being removed"
I noticed that the documentation still shows the solidity version being 0.5.0, and it shows the ERC721Full.sol file as being a usable file. Since the newest npm package of openzeppelin uses 0.6.0 and the ERC721Full.sol file has been removed, I feel like the examples should reflect these changes.

[2020-05-19 16:55] nventuro commented on #2239
Great catch, thanks! Looks like I forgot to update the readme in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2168. I fixed this in https://github.com/OpenZeppelin/openzeppelin-contracts/commit/e2b97d67128e3593083bdf39ee2135871da1b711.

[2020-05-19 16:55] #2239 closed

[2020-05-19 17:23] josh-kean commented on #2239
that was a quick fix! thanks!

[2020-05-19 18:37] nventuro commented on #2197
Thanks for sharing your use case @ItsNickBarry! That's very interesting.

A slight issue with this is that the addresses wouldn't be [checksummed](https://eips.ethereum.org/EIPS/eip-55). It doesn't seem like it'd be terribly hard to implement the checksum, though we'd have to hash the address and access its bits, requiring some masking.

[2020-05-19 23:32] corydickson commented on #2215
Got it so sounds like we're aligned about the "desired" functionality behind the API semantics. Not sure how to achieve this in the EVM either, but as @nventuro suggested maybe updating the docs is all that there can be done for now.

[2020-05-20 00:23] frangio commented on #2215
I believe those are the semantics that we have now! Unfortunately we're not testing for the more complex scenarios, but it would be nice to incorporate that into the test suite.

[2020-05-20 08:45] orenyodfat commented on #2236
hey @frangio @nventuro . any update re the one ?

[2020-05-20 16:29] nventuro opened #2240 "Add SafeCast variants for signed integers"
[`SafeCast`](https://docs.openzeppelin.com/contracts/3.x/api/utils#SafeCast) currently has support for downcasting uints and casting them to int256, but there's no safe way to downcast signed integers.

This is slightly trickier because the two's complement integer representation has different ranges for positive and negative numbers, but should be easy to do anyway.

[2020-05-20 19:43] frangio commented on #2236
@orenyodfat We haven't reached a decision yet. Do you have any preference for the alternatives laid out here?

[2020-05-20 19:48] orenyodfat commented on #2236
Both alternatives are not nice.
Do you have an eta for decision re that ?

On Wed, 20 May 2020 at 22:44 Francisco Giordano <notifications@github.com>
wrote:

[2020-05-20 20:47] frangio commented on #2240
You're talking about a function functions like `toInt128(int256 x)` right?

[2020-05-20 22:21] frangio commented on #2082
Fixed in #2205.

[2020-05-20 22:21] #2082 closed

[2020-05-21 17:27] nventuro commented on #2240
Precisely, yes. `toInt8(int256 x)` for example needs to check that `-128 <= x <= 127`.

[2020-05-21 18:15] julianmrodri commented on #2240
@nventuro  @frangio   I can tackle this if you are OK. Just let me know.

[2020-05-22 09:16] sanchaymittal opened #2242 "Support for native-meta transaction in contract3.X standard"
**🧐 Motivation**
Contracts3.X doesn't support Native Meta-Transaction support. It's not compatible with any of the meta-transaction out there in the market.

**📝 Details**
As contract 3.X uses v0.6.6 standard of solidity, And function _msgSender in Context contract is virtual so it can only be overridden in parent contract which inherits the ERC20 standard. That means, the existing solutions for m

[2020-05-22 21:44] frangio commented on #2242
Thank you for reaching out @sanchaymittal.

I wasn't able to understand the problem that you point out.

`Context._msgSender` was specifically built for the GSN. The inheritance changes in Solidity 0.6 made it a bit more cumbersome to use, but everything should work. `GSNRecipient` defines the [override for `_msgSender`](https://docs.openzeppelin.com/contracts/3.x/api/gsn#GSNRecipient-_msgSender--

[2020-05-23 01:57] abcoathup commented on #2242
We have notes on the required overrides for GSN in the release notes for v3: https://github.com/OpenZeppelin/openzeppelin-contracts/releases/tag/v3.0.0

[2020-05-23 03:26] julianmrodri commented on #2240
@nventuro @frangio  I gave it a shot for the example you mention before moving to the rest. Let me know if this is the correct direction in order to generalize to the other functions.  Thanks a lot for your support.

[code]

[2020-05-23 03:40] julianmrodri commented on #2240
@nventuro @frangio I gave it a shot for the example you mention before moving to the rest. Let me know if this is the correct direction in order to generalize to the other functions. Thanks a lot for your support.

[code]

[2020-05-24 18:53] princesinha19 commented on #1531
@nventuro @frangio Guys, Any progress on this issue?

[2020-05-25 07:08] sanchaymittal commented on #2242
Thanks a lot guys!!! @frangio @abcoathup.
Got it resolved...
[code]

[2020-05-26 17:00] frangio commented on #2242
Awesome!

[2020-05-26 17:00] #2242 closed

[2020-05-26 22:17] #2240 closed

[2020-05-27 16:28] frangio commented on #1531
We're interested in adding this to the library. No one has started working on it yet.

This looks like good information for whoever wants to work on this: [Low-Level Date Algorithms](https://howardhinnant.github.io/date_algorithms.html)

[2020-05-28 22:48] frangio commented on #2187
@chriseth Sorry for the delay in replying. This issue is a request for the ability to customize how one of our contracts works, but it's a kind of internal customization that we can't provide without more advanced language support. An example of a language construct that would help would be (bounded) templates to parameterize the data structure we use internally, so that users would be able to swa

[2020-05-29 09:23] chriseth commented on #2187
OK, I think I understand the problem better now. I fear that templates are not really the solution here. Templates, at least as we currently envision them, are pieces of code that can be applied to different datatypes, but the code will always look the same. I'm not sure if libraries would qualify for data types, though.

As far as I see, EnumerableMapSimple more or less exchanges the complete cod

[2020-05-31 01:31] julianmrodri commented on #2139
@nventuro @frangio I'm looking into this enhancement and wanted to check with you some doubts I have on how to implement.

**1)** First, in order to use an `EnumerableSet` for the Roles by Account  I had to create a new implementation named `Bytes32Set`. I noticed the current implementations only support types `address` and `uint` and we need `bytes32` to store the Roles. Let me know if this is OK

[2020-05-31 12:17] orenyodfat commented on #2236
@nventuro @frangio ?

[2020-05-31 12:34] NTTMai opened #2252 "I can't run the docs locally"
I tried to run `npm run docs start` but it give me this error:
![Screenshot from 2020-05-31 19-31-06](https://user-images.githubusercontent.com/31298991/83352440-8cfb4500-a375-11ea-91e8-1a03e23c8ba7.png)

**💻 Environment**

I cloned the repos today 31.05.2020
Ubuntu 18.04
Node 10
**📝 Details**

**🔢 Code to reproduce bug**

[2020-05-31 14:44] NTTMai commented on #2252
Could this relate to this https://github.com/ethereum/web3.js/issues/2863

[2020-05-31 16:02] julianmrodri opened #2253 "Missing Tests for EnumerableSet.UintSet"
**🧐 Motivation**

Currently there are no tests performed for the `UintSet` implementation of `EnumerableSet`. Only test cases for `AddressSet` were implemented.

**📝 Details**

Implement the required tests for `UintSet` the same way it is currently performed for `AddressSet`. This should update not only the testing cases but also extend the `EnumerableSetMock.sol` contract to include the `UintSet`

[2020-05-31 19:43] frangio commented on #2252
Hi @NTTMai. Can you confirm that you ran `npm install` before the command on the screenshot?

[2020-05-31 19:48] frangio commented on #2252
Nevermind my last comment. You should be running `npm run docs:watch`. Did you see the `start` command somewhere? It used to be like that so there may be outdated instructions somewhere.

[2020-06-01 03:21] julianmrodri commented on #2253
@nventuro @frangio  I went ahead a submitted PR #2254  for this issue. Let me know if we need to make any changes. Thanks!

[2020-06-01 06:42] NTTMai commented on #2252
i followed the instruction from here https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/DOCUMENTATION.md

[2020-06-01 06:44] NTTMai commented on #2252
i tried with `npm run docs:watch` and everything look good now

[2020-06-01 06:56] NTTMai commented on #2252
i update it in the [PR](https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2255)

[2020-06-01 14:53] #2252 closed

[2020-06-01 16:09] magooster opened #2256 "parameter name in ERC777 token contract hook misleading"
**🧐 Motivation**
Avoid confusing users of ERC777

**📝 Details**

The ERC777 token contract implementation includes the _beforeTokenTransfer hook

function _beforeTokenTransfer(address operator, address from, address to, uint256 tokenId) internal virtual { }

The last parameter is not a tokenId but an amount, still uint256 but misleading none the less, looks like a remnant from the ERC721 Token...

[2020-06-01 16:17] #2256 closed

[2020-06-01 16:17] nventuro commented on #2256
Thanks a lot for reporting this @magooster!

[2020-06-01 17:49] spalladino opened #2258 "GSNv2 support"
**🧐 Motivation**
[GSNv2](https://docs.opengsn.org/learn/index.html) is under development by the OpenGSN team, and it's very similar to GSNv1 regarding recipient contract implementation. We could add support for both v2 and v1 with some minor changes.

**📝 Details**
GSNv2 moves the responsibility of deciding whether to pay for a meta-tx (ie `acceptRelayedCall`, along with `pre/post`) out of the Rec

[2020-06-01 18:11] frangio commented on #2236
We've decided to implement the internal transfer ownership function. You can expect a patch release later this week.

[2020-06-01 18:57] frangio opened #2259 "Experiment with code duplication in generic EnumerableSet/Map"
Our implementation of `EnumerableSet` and `EnumerableMap` is using a kind of type erasure whereby the typed key/value is cast to and from `bytes32`, and the typed interface internally uses a set of functions that manipulate structures of `bytes32`. For example:

https://github.com/OpenZeppelin/openzeppelin-contracts/blob/394987f36527f16f85efdfbe9c944da629077917/contracts/utils/EnumerableSet.sol#L1

[2020-06-01 19:19] frangio opened #2260 "Add a .call wrapper with Solidity function call checks"
Some contracts need to perform function calls that can't be expressed as Solidity functions and so must resort to low level `.call`. In most of these cases Solidity function call semantics are still desired but it's tricky to get all the details right. There's a couple of instances of this in this library: [`ERC721._checkOnERC721Received`](https://github.com/OpenZeppelin/openzeppelin-contracts/blo

[2020-06-01 19:20] orenyodfat commented on #2236
thanks . well, seems like transferOwnership will inside the initialize function will do the work as it use msgSender() .
see https://github.com/daostack/infra/blob/7cb1a3c38bca58f335c1e7bf9293351ffe1f0108/contracts/Reputation.sol#L76

[2020-06-01 19:58] nventuro commented on #2139
Wow, thanks for being so thorough!

Great! We should also add tests once https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2254 is in.

We should always avoid returning arrays directly and prefer an enumeration-based approach as you first suggested. The API you proposed looks great :ok_hand:

[2020-06-01 20:09] nventuro commented on #2258
Great, thanks for the summary! It looks like we'll be able to leave our `Context` contract untouched, and therefore not modify any non-GSN code. The 'issue' introduced by diamond inheritance that requires doing a manual override of ``Context``'s methods will remain though.

We may also want to update our docs to guide users to the OpenGSN docs, removing the references we have (which are anyway rep

[2020-06-01 20:58] frangio commented on #2236
@orenyodfat I was about to implement this issue and realized that the internal function is not necessary if the use case is to run it in the constructor (or in an initializer function ran in the context of a constructor): the existing `transferOwnership` can already be used in this situation.  I looked at your link and this is exactly what you're doing. So I'm a bit lost now: what is your issue ex

[2020-06-01 21:04] orenyodfat commented on #2236
it now works. (I did not noticed that that the transferOwnership use msgSender()) .. .
though still I think there is a room  for optimisation , as with the "workaround" there are 2 storage writes. (for the _owner).

[2020-06-01 21:12] frangio commented on #2236
Unfortunately we can't change the constructor of `Ownable` (thus its initializer) without introducing a breaking change, and even if we introduce an internal function, you would have to forgo calling `Ownable`'s initializer function to avoid the double storage write, and this would be a dangerous misuse of the library.

[2020-06-01 21:29] frangio commented on #2236
Additionally, the second storage write has much lower cost than the first, so the optimization is not as worth it. It will cost the same as an `SLOAD` according to [EIP 2200](https://eips.ethereum.org/EIPS/eip-2200).

[2020-06-01 21:40] frangio commented on #2139
Regarding this point from the initial suggestion:

This is not really true, as this will also increase the bytecode size and thus the deployment cost. I think we should have a clear idea of how much this increase is before deciding to implement it. @julianmrodri Do you think you could do some quick tests of how much the feature increases these things, once you have a rough implementation of them?

[2020-06-01 21:44] frangio commented on #2139
As a side note, it's true that it's impossible to retrieve the list of roles per account on-chain, but it's certainly possible to build this list based on the contract events. This is something that can weigh in the discussion on whether the additional costs are worth it.

[2020-06-01 21:54] julianmrodri commented on #2139
Sure! Makes sense @frangio. I'll look into that and keep you posted guys.

[2020-06-02 03:33] julianmrodri commented on #2260
Other options: `Address.safeCall`, `Address.secureCall`, `Address.validCall`
So the function should return the `returndata` from the low level call in case of success, and revert in case of failure?

[2020-06-02 14:16] rumkin commented on #2139
@frangio When you build an event based system and then use thee data on-chain, then you'll be needed to enter this data in the chain with transactions. For example if you want to add a new employee or remove all roles from existing one, you will be required to send all the data repeatedly. Each tx would take at least 21000 gas. So to lower gas cost methods should be able to accept arrays as input.

[2020-06-02 14:16] frangio commented on #2260
Yes, exactly.

[2020-06-02 15:08] rumkin commented on #2139
@nventuro It seems reasonable to implement array slicing to reduce the cost of the roles iteration. Calling such method from outer contract will significantly decrease the execution cost even for array of two items, comparing to combination of `getAccountRoleCount` and `getAccountRole`:

[code]

[2020-06-02 15:10] nventuro commented on #2260
What about something like `Address.functionCall()`. After all, what we're doing is replicating the behavior of _function_ calls, not Ethereum calls.

[2020-06-02 15:30] julianmrodri commented on #2260
`Address.functionCall()` -> +1. I like it a lot, straight to the point.

[2020-06-03 15:24] frangio commented on #2187
@chriseth I see what you mean. I think my suggestion was based on languages that have custom datatypes with attached functions, and it's easy to mistake the struct+library combo as that, even though it isn't.

The language features required for what I mentioned are too far from current Solidity, so I think we can leave this on the side now until some time in the future. Thanks for taking the time

[2020-06-04 05:06] julianmrodri commented on #2260
@frangio @nventuro I'm working on this issue and I found out we may lose details which are currently provided when the transaction reverts.

For example in the `ERC721` case it currently reverts with message `ERC721: transfer to non ERC721Receiver implementer`. After this change it would revert with a more generic message such as: `Address: low-level call failed.` This happens because handling the

[2020-06-04 06:16] julianmrodri commented on #2260
@nventuro @frangio  I submitted a **Draft** PR so you can take a look. It is only missing the Unit tests for the new function `Address.functionCall` which I will have shortly. Can you review if this is in the right direction? Thanks!

[2020-06-04 17:57] #2253 closed

[2020-06-04 22:58] aparnakr opened #2265 "Create Fixed Point Signed Safe Library"
**🧐 Motivation**
Currently, there is no good fixed point math library out there and each project is rolling out their own library.

**📝 Details**
A signed (and unsigned) fixed point math library that allows for addition, subtraction, multiplication, division. In the future, a more advanced library that allows for exponents, ln, log, square root.

[2020-06-05 17:13] #2219 closed

[2020-06-05 21:38] nventuro commented on #2265
Hello @aparnakr!

Fixed point math support was [part of our Q2 Roadmap](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2207), but development [halted](https://forum.openzeppelin.com/t/designing-fixed-point-math-in-openzeppelin-contracts/2499/26) once the Solidity team recently decided they'd implement it natively, following pretty much the same design patterns we had explored.

This

[2020-06-05 21:38] #2265 closed

[2020-06-08 08:02] JosephBagaric commented on #2230
@nventuro would it be possible to add ERC1155 support to https://github.com/OpenZeppelin/openzeppelin-contracts-ethereum-package?

Seems like it would be an easy port. I can even port it if necessary.

[2020-06-08 09:38] bruce-eljovist opened #2271 "requireReceptionAck parameter is required when _mint for ERC20 compatible"
I’m developing ERC20 and ERC777 compatible token.
I’m experiencing a hard time implementing mint for ERC20.
In order to be fully compatible with ERC20 in ERC777, an account that does not implement IERC777Recipient must be able to mint.

But,  in the _mint methods, _callTokensReceived’s last parameter is hardcoded to true.
I can’t make ERC20 compatible mint method.

What about changing
  `_callToke

[2020-06-08 13:53] wbt commented on #2234
Any chance of putting out a patch release with this in it?

[2020-06-08 16:15] nventuro commented on #2234
That's a great suggestion @wbt, thanks! I just published [v3.0.2](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/CHANGELOG.md#302-2020-06-08) with that change, you should be able to install it from npm now and not get any warnings.

[2020-06-08 16:37] nventuro commented on #2230
Hello @JosephBagaric! Thank you for bringing this up.

Yes, it will be included in that package as well. We'll port it ourselves once the code is finished - we use an automated tool for this task to reduce the chance of human errors when migrating constructors.

[2020-06-08 22:21] nventuro commented on #2271
Hello @bruce-eljovist, thank your for raising this!

This is an interesting point, I did not find explicit guidelines on [the specification](https://eips.ethereum.org/EIPS/eip-777#backward-compatibility) as to how this situation should be handled.

I'd be wary of introducing this additional complexity to `_mint` and have the user make such a decision. It is also possible to sidestep this check by

[2020-06-09 03:25] abcoathup opened #2272 "Update ERC721 mint pseudocode to show a transaction hash and event rather than a return a value"
**🧐 Motivation**
ERC721 documentation shows pseudocode returning a value from a transaction which could be confusing for new developers.

https://docs.openzeppelin.com/contracts/3.x/erc721#constructing_an_erc721_token_contract

We should change this to show a transaction hash and an emit event.

**📝 Details**

The output using OpenZeppelin CLI is as follows:
[code]
Raised by EvilJordan in the comm

[2020-06-09 07:03] bruce-eljovist commented on #2271
Thank you.
I rewrote code like below.

[code]
[code]

The new version can mint when recipient is no IERC777Recipient implemented contract.
But there remains a small event log problem. Minted eventlog’s **to** field is not recipient.

[code]

Do you have better ERC20 compatible mint implementation idea?

[2020-06-09 16:33] nventuro commented on #2271
Do you need the `Minted` event to have that address? I find that a bit strange, since `Minted` is ERC777 specific - if working with the contract as an ERC20, you should use `Transfer` instead.

It'd be great if you could share more details of what you're trying to achieve. Perhaps it makes sense for your contract to initially mint supply for itself, and then transfer it to recipients when you're n

[2020-06-09 17:47] #2230 closed

[2020-06-10 02:01] bruce-eljovist commented on #2271
Our native token has an underlying token.
The native token’s initial totalSupply will be zero because it has no underlying value.
TotalSupply changes when someone mints and redeems the native token in underlying token.
I think Mint and Redeem event is crucial for this use case and it would be better to define it our own Mint event

[2020-06-11 04:42] bruce-eljovist commented on #2271
Of course, ERC777 has a recipient checking function, but it is applicable only to the contract. For the EOA, locking is not prevented. I think it is not a core function but a mistake reducing set up.
Currently, openzepplin’s ERC777 can also be used to send to a contract through erc20 compatible transfer, so I don’t think our erc20 compatible mint will increase the risk compared to not having one.

[2020-06-11 09:50] mdsalik7 commented on #984
.deploy({data: '0x' + bytecode, arguments:['hi']}) // add 0x before bytecode
When you deploy to another remote test network like kovan or rinkeby, you should put the '0x' as prefix in bytecode of ABI.

[2020-06-11 19:25] #2260 closed

[2020-06-12 21:39] frangio opened #2277 "Document replacement for ERC20Mintable in 3.x"
We've had a few questions about what happened to ERC20Mintable in 3.x. See [this thread in the forum](https://forum.openzeppelin.com/t/where-is-erc20mintable-sol-in-openzeppelin-contracts-3-0/2283). I think the answers in the thread are good but we might want to feature this in the docs themselves. Someone suggested to add a note in the API page for ERC20.

Maybe we're also missing a more general

[2020-06-14 05:27] EvilJordan opened #2278 "Remove _setBaseURI from Initialize"
**🧐 Motivation**
The Upgradeable presets are amazing. Thank you so much!
However, one item in particular when it comes to ERC721s is the `tokenURI` and its **lack** of change-ability.

**📝 Details**
Move the `_setBaseURI` method away from inside the `initialize` method, and into its own `public virtual` method, with a check for the `MINTER_ROLE`.

This would mean a new token would need to have `se

[2020-06-15 11:06] abcoathup commented on #2278
Hi @EvilJordan,

Thanks for the suggestion, it is really appreciated.

The project owner will review your suggestion as soon as they can.

Please wait until we have discussed this idea before writing any code or submitting a Pull Request, so we can go through the design beforehand.  We don’t want you to waste your time!

[2020-06-15 11:10] abcoathup commented on #2278
My thoughts are that to allow for future changes, developers wanting to use `baseURI` for automatic token URI generation can either use a URI that they control such as `https://mydomain.com/api/token/` which can be pointed to the implementation of their choice or they can add a mechanism in the smart contract (with appropriate access control) to allow changing it.  This may or may not be the `MINT

[2020-06-15 16:47] EvilJordan commented on #2278
This means a redirect on the domain side, correct? If so, while convenient, I think that puts a lot of trust in DNS. What happens if Project X gets bought by Project Y? I would, personally, like to rebrand everything to Project Y, and that would include a divestment of all Project X references.

I think this is what I'm proposing, but it's currently not possible with the upgradeable preset... one

[2020-06-16 04:53] abcoathup commented on #2278
Hi @EvilJordan,

We can inherit from the preset contract and call `_setBaseURI`.

Using the OpenZeppelin Contracts Ethereum Package version it could look like the following:

[code]

It is whether functionality (including a role) should be included in the preset contract or whether the preset doesn't need to include this and the community can add this if required.

[2020-06-16 18:19] EvilJordan commented on #2278
You are totally right, @abcoathup. Also, this code sample works perfectly. Thank you so much for all you do!!!

I'll leave this open for you to close if you feel like it.

[2020-06-16 20:02] nventuro commented on #2278
Hello @EvilJordan, thanks for suggesting this!

The Presets are meant to be usable as-is and ready to deploy to mainnet, but they naturally don't cover for all possible use cases. The idea is to provide a working initial version that can be extended by users to develop their custom solution (like @abcoathup showed in the comment above).

We often say that Contracts' code should not be copy-pasted,

[2020-06-16 20:02] #2278 closed

[2020-06-17 02:27] gorgos opened #2281 "SafeMath: Addition with custom revert message missing"
All SafeMath operations have a revert with custom message option except the addition. Any good reasons why that one is missing?

[2020-06-17 16:33] frangio commented on #2281
The reason is that subtraction can overflow due to "business logic" reasons such as "balance too low", while addition can overflow only for technical reasons because a value is out of range. Did you run into a scenario where you wanted to use a custom revert reason?

[2020-06-17 21:41] gorgos commented on #2281
I see that makes sense. Well the only thing would be to help with figuring out where the `.add` revert came from if you have a complex contract. Feel free to close the issue though.

[2020-06-18 18:20] frangio commented on #2281
Yes that could be a problem, but it might be a better solution to use something like [Tenderly](https://tenderly.dev/) to inspect a transaction and pinpoint exactly where it failed.

Thanks for your question!

[2020-06-18 18:20] #2281 closed

[2020-06-18 22:04] nventuro opened #2283 "ERC20Snapshot should use hooks"
As of v3.1-rc.0, `ERC20Snapshot` is implemented by overriding `_transfer`, `_mint`, and `_burn`. This is problematic because it causes multiple inheritance issues for users that extend from both Snapshot and any other ERC20-based contract (e.g. `ERC20Burnable`).

We should use the [hooks mechanism](https://docs.openzeppelin.com/contracts/3.x/extending-contracts#using-hooks) instead to implement th

[2020-06-18 23:12] frangio commented on #2283
Technically this is a breaking change. Realistically, I don't think we can commit to never adding new overrides. I think that justifies adding the new `_beforeTokenTransfer` override. Once we do that, people will already have to change their derived contracts, and we might as well go ahead and remove the existing overrides.

[2020-06-18 23:22] nventuro commented on #2283
Heh sorry, I missclicked on the bug tag.

I think your reasoning is sound. We should probably add a section to the hooks docs where we explain what to do if there are conflicting definitions for the hook and the user must manually override them, including the expected error message so hopefully googling for it takes people there.

[2020-06-19 00:44] frangio commented on #2283
Yes, we do have the "[Using Hooks](https://docs.openzeppelin.com/contracts/3.x/extending-contracts#using-hooks)" section but including the error message would be very useful for searchability.

[2020-06-19 00:49] nventuro commented on #2283
I meant that that guide tells you how to _write_ hooks, but not what to do in the case of having to provide an override due to multiple inheritance.

[2020-06-19 08:43] wangyuyuer opened #2284 "error :Cannot read property 'value' of undefined when deploy the contract"
Now I want to develop my own access control scheme based on access library,but when i try to compile @openzeppelin/contracts/access/Ownable.sol in my computer,i meet with the following mistake: please tell me how i can do to solve this error,thank you

**💻 Environment**

i use 2.8.2 for OpenZeppelin ,use 5.1.30 for truffle
**📝 Details**

![图片](https://user-images.githubusercontent.com/48520185/851

[2020-06-19 08:44] wangyuyuer opened #2285 "error::Cannot read property 'value' of undefined when develop the contract"
Now I want to develop my own access control scheme based on access library,but when i try to compile @openzeppelin/contracts/access/Ownable.sol in my computer,i meet with the following mistake: please tell me how i can do to solve this error,thank you

**💻 Environment**

i use 2.8.2 for OpenZeppelin ,use 5.1.30 for truffle
**📝 Details**

![图片](https://user-images.githubusercontent.com/48520185/851

[2020-06-19 08:46] wangyuyuer opened #2286 "Cannot read property 'value' of undefined"
Now I want to develop my own access control scheme based on access library,but when i try to compile @openzeppelin/contracts/access/Ownable.sol in my computer,i meet with the following mistake: please tell me how i can do to solve this error,thank you

**💻 Environment**

i use 2.8.2 for OpenZeppelin ,use 5.1.30 for truffle
**📝 Details**

![图片](https://user-images.githubusercontent.com/48520185/851

[2020-06-19 08:49] #2285 closed

[2020-06-19 08:50] #2286 closed

[2020-06-20 13:52] hitchcott opened #2288 "Include mock contracts in NPM bundle"
Right now this is explicitly excluded from the NPM package:

[code]

Would it not be useful to include those mock contracts for testing?

[2020-06-22 19:43] nventuro commented on #2288
The mocks are only used for the tests we run in this project for the library itself, I'm not sure why a user of the library would want to have them. Can you expand on what you're trying to achieve?

[2020-06-23 10:15] hitchcott commented on #2288
Let's say I've authored a contract that interacts with ERC20 tokens.

In my test suite, I'll usually deploy a Mock ERC20 token, with helper methods such as `approveInternal`.

I could implement this logic myself in a Mock contract within my project, but it is more convenient to use the one provided: https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/mocks/ERC20Mock.sol

[2020-06-23 17:29] nventuro commented on #2288
Ah, so what you want is a mock ERC20 you can use to simplify your testing setup? Unfortunately that's not really what our mocks are ('mock' is really not the right term for them): all they do is expose their internals so we can more easily test the OpenZeppelin Contracts themselves.

They are not really suitable to be used by other projects as they are part of our internal testing infrastructure.

[2020-06-24 07:26] hitchcott commented on #2288
Yep, exactly.

Right now I am just duplicating the code from `ERC20Mock.sol` into my own project under `contracts/test` and redeploying that. It would be more convenient to just import it directly.

Sample usage:

[code]

[2020-06-25 17:28] #2272 closed

[2020-06-26 21:52] nventuro commented on #2288
I'd advise you to avoid relying on mocks for this sort of operations. This test is hiding the fact that your contract should call `approve` on the token, which is a non-trivial matter.

It's important to understand the difference between the role the mocks play in testing the OpenZeppelin Contracts themselves, and how the library should be used and this usage tested by end users. We assume users t