[2016-08-17 20:10] maraoz opened #1 "Implement escape hatch mechanism contracts"
See: http://hackingdistributed.com/2016/07/11/decentralized-escape-hatches-for-smart-contracts/

[2016-08-18 16:25] maraoz opened #2 "Implement mutex-guarded payment helper contract"
See "Remediation Approach 2: Mutexes" section here:
http://vessenes.com/more-ethereum-attacks-race-to-empty-is-the-real-deal/

[2016-08-19 15:44] maraoz opened #3 "Contactable contracts"
See "Contact" section in http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 15:45] maraoz opened #4 "Contract death strategies"
See NaturalDeath section in http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 15:47] maraoz opened #5 "Upgradeable contracts"
See VersionUpgrade, Deprecate and MostRecentVersionAddress in http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 15:51] maraoz opened #6 "Rename Stoppable to Pausable"
See Pause in http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 15:52] maraoz opened #7 "Transferable contracts"
See Transfer of Contract Ownership in http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 16:07] maraoz opened #8 "Whitelisting as function modifiers"
Implement function modifiers that only allow calls from a whitelist of addresses/contracts
See Whitelist at http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

[2016-08-19 20:52] maraoz opened #9 "helper contracts for separating logic and data"
Idea from https://youtu.be/1D7BH8krdhQ?t=11m54s

Some of this is already present in Ownable.sol, but needs more thought

[2016-08-23 19:24] maraoz opened #10 "Explore formal verification ideas"
I'm opening this issue to collect resources and ideas on formal verification on Zeppelin contracts.

I'll start with this paper, which uses F\* to formally verify Solidity contracts:
http://research.microsoft.com/en-us/um/people/nswamy/papers/solidether.pdf

[2016-08-23 21:48] maraoz opened #11 "Use int instead of uint for token balances"
See Simple Swaps and Unsigned Integers in http://vessenes.com/advice-for-dao-2-0s/

[2016-09-13 22:03] demibrener opened #12 "Improve Readme"

[2016-09-14 03:39] maraoz opened #13 "Better code reuse tools"
Current Solidity code reuse is based on copy-pasting or downloading existing code from other repositories. Mature ecosystems have good code repository management systems such as [NodeJS’ npm](https://www.npmjs.com/) or [Ruby’s gems](https://rubygems.org/).
An interesting variation in Ethereum is the possibility of reusing code already deployed to the blockchain.  Let's build tools that allow to ea

[2016-09-14 18:17] maraoz opened #15 "Pull payment helper with multiple withdraws with a single function"
Lots of security problems (including [the infamous TheDAO hack](http://hackingdistributed.com/2016/06/17/thoughts-on-the-dao-hack/)) can be prevented by using a pull payment strategy (as opposed to pushing payments with `send`).

We already have a simple [PullPayment](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v1.9.0/contracts/payment/PullPayment.sol) contract, but more comprehensi

[2016-09-14 20:25] maraoz opened #16 "Better oracle interfaces"
An important part of smart contract development is how to interact with off-blockchain data sources.

An interesting idea to explore is to do inversion of control, where oracles call contracts (to communicate outside truths) through a common interface method, and can implement their oracle logic as wanted: trusted expert, closed voting, open voting, API wrapper.
Instead of contracts requesting dat

[2016-09-15 01:33] #12 closed

[2016-09-15 22:11] maraoz opened #17 "Create a list of projects using Zeppelin and show it somewhere"
e.g: https://github.com/makoto/blockparty

[2016-09-23 12:49] fonzarely commented on #13
do you mean to provide a list of public library deployed ?

[2016-09-28 21:29] maraoz commented on #13
@fonzarely more like an index, and easier tools to link contracts in development to those.

For now Zeppelin is using raw npm, and Truffle Beta's integration with npm, which is not ideal. Moving into the future, we should build better tools, but for now we're OK.

[2016-09-28 21:44] #17 closed

[2016-09-28 22:17] maraoz opened #21 "Vault contract"
The idea is to create a contract for fund management that is separate from other contract/business logic. In this way, we can define clear interfaces for dealing with funds and reduce the attack surface on contracts managing funds.

[2016-09-28 22:18] maraoz commented on #21
Different fund management strategies can be defined, so we probably need a couple of different Vault contracts

[2016-09-30 19:41] maraoz opened #23 "Timed/Periodic payments helpers"
Contracts want to send periodic or timed payments. E.g: "send x ether to this address every week for 5 weeks". Or "Send x ether to this address in 10 days".

We should write a contract that does that securely

[2016-10-06 14:14] mardlin commented on #15
The user experience of pull payments is much weaker than that of push payments.

Perhaps something could be done using an external contract as a timer or "cron job runner" to initiate the withdrawal for customers after a certain time.

Dapps which are intended to hold less (ex. https://github.com/makoto/blockparty) value may also be an acceptable use of push payments.

[2016-10-06 14:23] maraoz commented on #15
Thanks for the suggestion @mardlin! I love the idea.
It's a very good compromise solution, because a "cron job" that dispatches all the payments would have a cost (owner of the cron job has to pay for all the gas for withdrawals), but it would improve Pull Payments UX by a lot for users!
So, the contract owner is probably motivated to pay for that gas cost. Maybe we could implement another version

[2016-10-06 14:37] mardlin commented on #15
That is awesome. In practice, it would often need a modifier on it to ensure that only qualifying deposits are refunded.

[2016-10-06 14:40] maraoz commented on #15
What do you mean by "qualifying deposits"?

[2016-10-08 21:00] akshithg commented on #4
Related: [Setting Standards for Altering and Undoing Smart Contracts](http://www.arijuels.com/wp-content/uploads/2016/06/Setting-Standards-for-Altering-and-Undoing-Smart-Contracts.docx)

[2016-10-08 21:01] akshithg commented on #5
Refer [Setting Standards for Altering and Undoing Smart Contracts](http://www.arijuels.com/wp-content/uploads/2016/06/Setting-Standards-for-Altering-and-Undoing-Smart-Contracts.docx) for stratergies.

[2016-10-08 21:03] akshithg commented on #16
[Town Crier: Authenticated Data Feeds for Smart Contracts](http://www.initc3.org/files/tc.pdf)

[2016-10-13 08:54] sabr-p commented on #13
from what i understood @maraoz , you propose an npm equivalent, a library of public contracts available in the blockchain, that it?
or, npm plays bad with Solidity code?
maybe give some details/examples on snags you hit?

[2016-10-14 00:38] currymj opened #28 "Malicious adversary contracts for stress-testing"
It might be helpful to provide a set of "adversarial" contracts that would help people write tests for common bugs and vulnerabilities. Some ideas:
- A contract that pushes the call stack down to 1023 frames before calling some other function
- A contract that responds in weird/nonstandard ways to being sent a transaction
- A contract that uses reentrancy to try to break things?

Not sure how easy

[2016-10-14 13:25] maraoz commented on #28
Great idea! It would be nice to have a suite of helper contracts to emulate well-known attacks as an educational/research resource.

[2016-10-14 13:26] maraoz commented on #13
npm is good enough for now. Eventually, we'll want better ways to link contracts to already deployed code sitting in the blockchain. Not required for now though IMO, never hit a big need for it

[2016-10-14 16:32] maraoz opened #30 "External authorization checks/helpers"
Idea based on FirstBlood's token: https://github.com/Firstbloodio/token/blob/2ee2fccb4d111bee461de569bf792619cab40650/smart_contract/FirstBloodToken.sol#L228

Provide a mechanism for contracts to validate external auth mechanisms such as verifying an EC signature before proceeding with the function.

[2016-10-23 16:08] maraoz opened #32 "Make Bounty contracts more generic"
We should probably make the Bounty contracts more generic, instead of having a separate file for each contract.

[2016-10-24 01:10] demibrener opened #37 "Implement coventants"
http://fc16.ifca.ai/bitcoin/papers/MES16.pdf

[2016-10-24 14:11] maraoz opened #38 "Setup continuous integration to run tests for each pull request"
Setup travis CI or some CI tool to automatically run tests on each PR.

[2016-10-27 19:42] demibrener opened #40 "Don’t enforce the checks for safeAdd and safeSub as part of a standard token"

[2016-10-27 19:43] demibrener commented on #40
Only tokens with non-fixed amount will need those operations and they should not be enforced by default in my opinion. Also safeSub is a redundant check as you check that balance is sufficient in the transaction function.

[2016-10-27 19:47] gleim opened #41 "Add Versioning mechanism"
Pulling zeppelin-solidity into a project does not support any visibility into which version of zeppelin-solidity is actually being used

[2016-10-27 22:54] maraoz commented on #41
What about the version in package.json?

[2016-10-27 23:05] gleim commented on #41
If installation is performed following steps from the README (i.e., `npm i
zeppelin-solidity`) then this package.json artifact is not available to the
project utilizing ZS.  FYI
ᐧ

On Thu, Oct 27, 2016 at 3:54 PM, Manuel Aráoz <notifications@github.com>
wrote:

[2016-10-31 19:18] maraoz commented on #41
Aaaah, you're right!

[2016-10-31 21:06] maraoz opened #44 "improve documentation of contracts"

[2016-11-01 15:10] maraoz opened #45 "Multisig contract"
Refactor Gavin's multisig wallet code (https://github.com/ethereum/dapp-bin/blob/master/wallet/wallet.sol) into one or more Zeppelin-style multisig contracts

[2016-11-01 18:35] maraoz opened #47 "Stoppable should be a subclass of Ownable"

[2016-11-02 13:49] federicobond opened #50 "Superuser: Upgradeable security for Smart Contracts"
**Scenario:** you create a small crowdsale for your widget and it becomes really popular very quickly. Now there is a million dollar price tag on the poorly secured private key you used to deploy your contract and you start sleeping badly at night. Nobody worth their salt would secure a million dollars in a hot wallet.

Luckily, you remember that your contract inherits from `Superuser`, so next mo

[2016-11-02 15:29] maraoz commented on #50
:+1: nice idea. Maybe the example is not the best, true, but I see the value

[2016-11-02 20:01] maraoz opened #52 "remove Rejector (not needed in solidity ^0.4.0)"

[2016-11-02 20:02] maraoz opened #53 "improve LimitFunds.sol"

[2016-11-02 20:05] #32 closed

[2016-11-02 20:07] maraoz opened #54 "Add tests for main contracts"
Missing:
- [x] Killable
- [x] SafeMath
- [x] Shareable https://github.com/OpenZeppelin/zeppelin-solidity/issues/91
- [x] DayLimit https://github.com/OpenZeppelin/zeppelin-solidity/issues/92
- [x] MultisigWallet https://github.com/OpenZeppelin/zeppelin-solidity/issues/93

[2016-11-02 20:09] maraoz opened #55 "refactor tests so that they don't use deployed version of contracts"
All tests should instantiate new contracts unless it's strictly necessary to use deployed versions.

[2016-11-02 20:18] maraoz opened #56 "New version of openzeppelin.org site"

[2016-11-03 13:49] maraoz commented on #5
More info: https://ethereum.stackexchange.com/questions/2404/upgradeable-contracts

[2016-11-03 13:57] maraoz opened #57 "migrate tests to async/await pattern"
See: https://github.com/federicobond/ethereum-paypub/blob/d8abdcb118e3c75203f44f5097ca2a878f8a77a8/test/paypub.js#L21

Thanks @federicobond for idea

[2016-11-03 23:50] #47 closed

[2016-11-08 15:16] maraoz opened #59 "migrate to solidity ^0.4.4"

[2016-11-08 16:06] #59 closed

[2016-11-08 16:07] maraoz opened #61 "Implement 2 line separation between top level declarations"
The Solidity style guide recommends a 2 line separation between top level declarations, so we should format files like this:

[code]

[2016-11-08 22:46] maraoz opened #62 "remove warnings when running npm i zeppelin-solidity"

[2016-11-08 23:03] maraoz opened #63 "create tutorials for documentation"

[2016-11-09 20:36] maraoz opened #64 "Make a version of Claimable that requires passing of time to confirm new ownership"
Idea from: http://vessenes.com/we-need-some-best-practices-for-smart-contracts/

Maybe this contract should be called `DelayedClaimable`, and should inherit from `Claimable`

[2016-11-10 19:59] maraoz commented on #7
Solved by https://github.com/OpenZeppelin/zeppelin-solidity/pull/51

[2016-11-10 19:59] #7 closed

[2016-11-13 21:36] se3000 opened #66 "Condition Oriented Programming?"
Do you all have any thoughts on [Condition Oriented Programming](https://blog.ethcore.io/condition-oriented-programming-2/)? I've seen a couple places where branching logic is in the methods, most often something like `if (foo) throw;`. Which still seems like it could be pulled out into modifiers. Does Zeppelin have any stance on this pattern?

It definitely requires more code, and could be more e

[2016-11-14 17:21] #55 closed

[2016-11-16 00:02] maraoz commented on #62
can't reproduce

[2016-11-16 00:02] #62 closed

[2016-11-16 15:13] maraoz commented on #56
@delfipolito is also helping

[2016-11-16 15:22] maraoz commented on #66
Oh! Interesting concept. Still not convinced we want this, but I'll post it on slack to receive more feedback and thoughts from the community. Thanks for sharing!

[2016-11-16 15:27] maraoz opened #70 "organize token contracts"

[2016-11-16 16:09] maraoz opened #72 "Add a new SecureToken contract which integrates Pausable and other Zeppelin security features"
Throwing this idea out there for discussion

[2016-11-16 16:23] #70 closed

[2016-11-16 23:30] #52 closed

[2016-11-18 15:06] maraoz opened #75 "Run Solium on Zeppelin repo and fix problems"
See https://github.com/duaraghav8/Solium

[2016-11-18 15:34] #53 closed

[2016-11-22 06:33] #45 closed

[2016-11-23 04:54] adklempner commented on #54
Working on tests for Killable

[2016-11-23 05:15] #38 closed

[2016-11-23 13:57] demibrener commented on #56
New repo with site: https://github.com/OpenZeppelin/zeppelin-website

[2016-11-23 13:57] #56 closed

[2016-11-24 01:18] maraoz opened #88 "Create vulnerable contract and deploy a Bounty, as an example/challenge"

[2016-11-24 01:38] #44 closed

[2016-11-24 01:40] #40 closed

[2016-11-24 03:47] maraoz opened #91 "Add tests to Shareable"

[2016-11-24 03:47] maraoz opened #92 "Add tests for DayLimit"

[2016-11-24 03:47] maraoz opened #93 "Add tests for MultisigWallet"

[2016-11-24 04:24] #54 closed

[2016-11-25 01:14] maraoz opened #95 "Add stepped function helpers"
Many crowdsales use stepped price functions. Add a tested and well-written implementation

[2016-11-26 02:30] #66 closed

[2016-11-26 10:50] sogoiii commented on #57
I'm working on this. Oddly enough, I can run each individual file with `truffle test ./test/Claimable.js` successfully. But When I do `truffle test`, it fails inconsistently. By that i mean, on each run, i get a different set of errors.

[2016-11-26 18:27] maraoz commented on #57
@sogoiii want to share the errors you're getting? maybe we can help

[2016-11-26 18:27] maraoz commented on #57
BTW, I know several people are working on this. You shouldn't aim at migrating ALL tests to this pattern. PRs that migrate just one test file are good enough :)

[2016-11-26 19:20] sogoiii commented on #57
@maraoz good to know. Ill make a pull request soon enough.

I think this is the root error. Granted it happens on different contracts when i do `npm test`

[code]

Again, if i run `truffle test ./test/Claimable` I do not get that error.

[2016-11-26 21:07] maraoz commented on #57
@sogoiii are you using `test-rpc` or `geth`?

[2016-11-26 21:09] sogoiii commented on #57
Im using the testrpc

[2016-11-27 19:46] maraoz commented on #57
can you push the tests to a branch and share it here? I can take a look

[2016-11-27 20:12] sogoiii commented on #57
Sure. I have it here on my fork ---> https://github.com/sogoiii/zeppelin-solidity/tree/async_await_tests

You have to do npm install and have babel globally.

[2016-11-28 21:29] rfikki opened #96 "does not install on my windows 10"
$ npm i zeppelin-solidity

'scripts' is not recognized as an internal or external command,
operable program or batch file.
npm WARN enoent ENOENT: no such file or directory, open 'C:\projects\truffle-dap                                   ps\coinmaker\package.json'
npm WARN coinmaker No description
npm WARN coinmaker No repository field.
npm WARN coinmaker No README data
npm WARN coinmaker No licen

[2016-11-30 21:31] sogoiii commented on #57
@maraoz OK, I have a pull request for all the tests.

They run consistently now.  --> https://github.com/OpenZeppelin/zeppelin-solidity/pull/97

The last  limitBalance didn't have an await  keyword ---> `await lb.limitedDeposit({value: amount+1})`

[2016-12-02 20:41] maraoz commented on #96
@rfikki thanks for reporting. Seems like a problem with how windows handles paths.

Can you try changing this line: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/package.json#L12
to something like:
[code]

Or however windows recognizes the path? (sorry, I don't have much experience with windows development)
Let me know

[2016-12-03 02:26] maraoz opened #99 "Fix test failing on travis"
See: https://travis-ci.org/OpenZeppelin/zeppelin-solidity/builds/180849364

More info: https://github.com/OpenZeppelin/zeppelin-solidity/pull/97#issuecomment-264608846

[2016-12-03 02:29] #57 closed

[2016-12-03 02:41] maurelian commented on #21
I was coming here to submit a suggestion for a "Deed contract", and I think Vault might be another word for the same idea?

I got the idea from the ENS' initial registrar:
https://github.com/ethereum/ens/blob/master/HashRegistrarSimplified.sol#L25

The actual registrar contract [maps](https://github.com/ethereum/ens/blob/master/HashRegistrarSimplified.sol#L100) hashes to `entries`, and each [entry

[2016-12-08 03:55] adklempner commented on #93
Working on this

[2016-12-08 03:56] adklempner commented on #92
#101

[2016-12-08 03:56] adklempner commented on #91
#100

[2016-12-09 02:02] adklempner commented on #93
#102

[2016-12-12 18:24] maraoz opened #103 "Add link to "what is a smart contract" explanation to README"

[2016-12-12 18:25] maraoz opened #104 "build external documentation site"
Possibly on readthedocs.io

[2016-12-12 18:29] maraoz opened #105 "create labels for issues and tag existing issues"

[2016-12-13 14:35] #99 closed

[2016-12-13 16:07] maraoz opened #107 "Add test coverage measurement tool"

[2016-12-14 21:34] maraoz opened #108 "Refactor code to prepare for security audit"

[2016-12-15 13:22] AugustoL opened #109 "transfer method conflicts on using contract ERC20 Token and Ownable."
If you create a contract as an extension of an ERC20 Token contract and Ownable contract the transfer method will have conflicts because is used in both contracts with different purpose.

can be solved changing name transfer method on Ownable to transferOwnership.

[2016-12-15 14:34] Qkyrie commented on #108
any todo's that can be picked up here?

[2016-12-15 18:27] maraoz commented on #109
Thanks for reporting :D

[2016-12-15 18:29] maraoz commented on #108
I don't have any concrete tasks to list, my plan was to traverse the whole codebase and check that code style is good, and easy to understand. If you read our code audits you'll see I mention a lot of advice to make the auditor's life easier. If you're interested, feel free to read them and apply similar ideas to Zeppelin:
- https://medium.com/zeppelin-blog/ethercamps-projectkudos-public-code-audi

[2016-12-16 12:10] Qkyrie commented on #108
Will definitely do!

[2016-12-19 06:50] gnidan commented on #13
Any thought about using the in-development https://github.com/ethpm/epm-spec ?

[2016-12-19 16:56] #109 closed

[2016-12-19 17:32] #104 closed

[2016-12-19 20:05] maraoz commented on #107
Maybe use https://github.com/JoinColony/solcover

[2016-12-19 20:09] maraoz commented on #37
Closed in favor of https://github.com/OpenZeppelin/zeppelin-solidity/issues/1

[2016-12-19 20:09] #37 closed

[2016-12-19 20:10] maraoz commented on #1
See also ideas in bitcoin covenants paper: http://fc16.ifca.ai/bitcoin/papers/MES16.pdf

[2016-12-19 20:23] #103 closed

[2016-12-19 20:24] maraoz commented on #96
@rfikki any update on this? Would like to help

[2016-12-19 21:06] #11 closed

[2016-12-19 21:09] maraoz commented on #105
Done

[2016-12-19 21:09] #105 closed

[2016-12-19 21:10] #61 closed

[2016-12-20 18:18] #92 closed

[2016-12-20 23:52] ethers opened #115 "safeMath for division overflow"
I think there's an edge case: INT_MIN/-1

[2016-12-21 15:32] maraoz commented on #115
@ethers thanks for reporting, will investigate!

[2016-12-21 15:43] demibrener opened #116 "Add explanation of labelling system to Contributing.md"

[2016-12-21 19:17] parkan opened #117 "Install script messes with worktree"
The install script [here](
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/scripts/install.sh) writes the contracts subdir directly into my working tree, which is not something I expect any node module to do. I'm also using (and depend on) truffle@beta, so I don't need the files in the worktree at all.

What's worse is that this breaks `truffle compile` for my whole project, because

[2016-12-21 19:20] parkan commented on #117
This also breaks `npm install` inside a standalone clone

[2016-12-21 20:01] maraoz commented on #117
@parkan thanks for reporting.
The compilation error is clearly a problem, and thanks for fixing it here: https://github.com/OpenZeppelin/zeppelin-solidity/pull/118 (merged)

As for the copying of files, that's a temporary measure until `npm` integration for truffle is released on a truffle stable version. I also use truffle beta, but we can't expect/require all Zeppelin users to rely on a beta ver

[2016-12-21 21:18] tcoulter commented on #117
Hi all. Releasing Truffle 3.0.0 is scheduled to be released in January. Apologies for the delay since Devcon.

[2016-12-22 20:09] maraoz opened #120 "Create a token with an owner"
The idea is to have a token where the supply is controlled by an owner who can emit tokens and assign them.
Probably should be a subclass of StandardToken and Ownable.

[2016-12-22 20:33] federicobond commented on #120
Also, `recover(address)` or `expropriate(address)` functionality when keys are lost or stolen.

[2016-12-23 17:08] demibrener opened #121 "Add link to introductory guide to smart contract development in Readme"
First step for people new to smart contract development, so they can start right away -> https://medium.com/zeppelin-blog/the-hitchhikers-guide-to-smart-contracts-in-ethereum-848f08001f05#.w4gn0etb2 as the

[2016-12-26 15:32] maraoz commented on #121
fixed by https://github.com/OpenZeppelin/zeppelin-solidity/pull/122

[2016-12-27 21:35] adklempner commented on #115
Since we are using unsigned integers for all the functions in `SafeMath`, that edge case is not a concern.

Solidity already throws an error when trying to divide by 0 so I don't believe that there is a need for a safe division function.

[2016-12-27 21:53] #93 closed

[2016-12-28 10:04] ethers commented on #115
Agree safe for all uint.  Keep in mind if signed ints functions are added.  Ideally Solidity will eventually throw on over/underflows so feel free to close.

[2016-12-28 18:20] #115 closed

[2016-12-30 15:04] #64 closed

[2016-12-30 15:04] maraoz opened #124 "Add docs for DelayedClaimable"

[2017-01-02 18:19] maraoz opened #125 "Rearrange contracts into folders"

[2017-01-04 20:03] DiscRiskandBisque commented on #96
@maraoz I added that as well as tried added exec in front of the path:
`exec ./scripts/install.sh`

Neither worked unfortunately. I've been researching other ways of moving files post-npm-install to try and create a helpful pull request, but am not having much luck yet.

[2017-01-05 18:35] maraoz opened #126 "Integrate testrpc into the test command so that developers don't have to run it manually"

[2017-01-09 19:27] #116 closed

[2017-01-09 23:38] federicobond opened #128 "Add changelog"
It would be really useful for downstream projects to have a central place where to look for changes between versions, especially when there are security considerations involved.

[2017-01-12 16:40] federicobond opened #130 "Add generic proxy implementation"
http://martin.swende.se/blog/EVM-Assembly-trick.html

We could implement base behaviour in a GenericProxy contract and write OwnedProxy and MultisigProxy rules for changing the target.

I can work on a pull request if you are interested.

[2017-01-12 19:00] federicobond opened #131 "Add documention in Ethereum Natural Specification Format"
This is not immediately useful, but I can imagine some interesting tools built around it.

https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format

[2017-01-16 15:09] maurelian commented on #21
https://medium.com/giveth/the-vault-contract-open-sourced-by-giveth-fe2261f7b91b#.grlu4c16c

https://github.com/Giveth/vaultcontract/blob/master/Vault.sol

[2017-01-17 16:02] #125 closed

[2017-01-18 19:40] demibrener opened #134 "Create a standard Will contract"
https://www.reddit.com/r/ethereum/comments/5oq7ne/bountyrequest_for_a_contract_standard_will/

[2017-01-31 01:29] JGcarv commented on #6
Hi! I'm interested in tackling this issue, since I'm still scared of open source contributions, and this one seems pretty manageable. So, just to make sure, here's what I've done: I cloned the whole project and then replaced all instances of 'Stoppable' to 'Pausable'.

Now, How do I run tests for it?

Thanks in advance and sorry for the silly question!

[2017-01-31 04:05] federicobond commented on #6
Hi @JGcarv, thanks for taking the time to contribute to OpenZeppelin.

You should be able to run the tests with `npm test` after installing all dependencies (`npm install`) and running an instance of `testrpc` in another console.

`testrpc` is installed with `npm install -g ethereumjs-testrpc`

[2017-01-31 22:53] JGcarv commented on #6
Hey @federicobond , thanks for the reply!

So, I installed the dependencies and ran the tests(which were all passing) but when I tried to `git push origin myBranch` I got the following message:

`remote: Permission to OpenZeppelin/zeppelin-solidity.git denied to JGcarv.
fatal: unable to access 'https://github.com/OpenZeppelin/zeppelin-solidity.git/': The requested URL returned error: 403`

Do you

[2017-01-31 22:59] federicobond commented on #6
Yes, you cannot push directly to the OpenZeppelin fork because you are not a collaborator. You should make your own fork on GitHub and configure your local clone to push there, like this:

[code]

Once you do that, you will be able to push your branch:

[code]

If you want to pull updates from the official fork later, you can then do so like this:
[code]

[2017-02-01 23:43] JGcarv commented on #6
Yeah, that makes sense.

Anyway, I followed the steps and made a new pull request. Let me know if things do work out.

Also, thank you for your patience!

[2017-02-02 13:42] ice09 opened #138 "Adding contracts to Ethereum Package Repository"
Would be great to have your contracts added to the Ethereum Package Repository https://www.ethpm.com/ might increase adoption a lot.

[2017-02-09 15:46] maraoz opened #141 "Research Solidity library upgradeability"

[2017-02-13 16:19] demibrener opened #142 "Add VestedToken.sol to docs"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/VestedToken.sol

[2017-02-13 19:28] maraoz opened #143 "Evaluate using ethpm"
https://www.ethpm.com/

[2017-02-15 16:17] veox commented on #108
Any thoughts on making documentation with Doxygen, instead of the current Sphinx? In particular, Solidity docs [mention](https://solidity.readthedocs.io/en/develop/layout-of-source-files.html#comments) Doxygen-like comments, as does [this wiki page about NSF](https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format).

Making documentation inline with code could improve general d

[2017-02-15 16:28] veox commented on #108
OTOH, it may be simpler to extract Doxygen-style comment lines from `.sol` files, format them a bit, and dump to respective `.rst` files for Sphinx to handle. Essentially the same as now, but scripted instead of manual.

[2017-02-15 18:23] maraoz opened #145 "Implement a Mutex contract helper"
Idea: (from https://solidity.readthedocs.io/en/develop/contracts.html#function-modifiers)

[code]

[2017-02-15 19:54] maraoz commented on #21
Here's an implementation by @Arachnid
https://gist.github.com/Arachnid/86f4d183c36f5b05e55b771034dffe1b

[2017-02-16 14:38] maraoz commented on #108
@veox I like that idea

[2017-02-16 18:50] veox commented on #108
Heh, which one?

I've accidentally started working on the latter, [here's WIP so far](https://github.com/veox/zeppelin-solidity/blob/doc-update-from-source/docs/update.py).

What this increasingly looks like, though, is a [custom Sphinx domain for Solidity](http://www.sphinx-doc.org/en/stable/domains.html).

There turns out to be a Sphinx extension for this, too - [domaintools](https://bitbucket.o

[2017-02-16 22:06] veox commented on #108
To clarify, there is still need to _extract_ the natspec before passing to Sphinx. A custom Sphinx domain is not strictly necessary - something similar, like Javascript, could probably be used.

[2017-02-17 01:31] JGcarv commented on #3
Hi @maraoz ! I would like to do this one. But I have some questions.

What would be the ideal type of a contact information? (A string? A byte array? Some kind of form-like struct?)

I've made a sketch of what I have in mind:
[code]

What do you think? Any other functionality comes to mind?

Thanks!

[2017-02-17 21:35] maraoz commented on #108
@veox The latter :) would you like to open a new issue for that? I'm closing this issue based on work on this PR: https://github.com/OpenZeppelin/zeppelin-solidity/pull/146

[2017-02-17 21:39] maraoz commented on #6
Great work @JGcarv, closing this :)

[2017-02-17 21:39] #6 closed

[2017-02-17 22:30] #108 closed

[2017-02-20 16:21] maraoz commented on #3
@JGcarv looks good! Thanks for your contribution :)

Feel free to [open a pull request](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/CONTRIBUTING.md#pull-request-workflow) with it.

[2017-02-21 15:05] maraoz opened #148 "Token migration support"
See Golem's token migration system:
https://github.com/golemfactory/golem-crowdfunding/blob/50100b27a7c6841ed430a028d100f5d45ba08fb1/contracts/Token.sol#L85

[2017-02-22 16:09] explodingcamera commented on #96
You can't run bash (Unix/Linux) scripts on windows by default if you're not running something like wsl (Windows Subsystem for Linux) or GIT Bash. I think using os-specific scripts/commands and copying stuff to some folder outside of node_modules is a bad Idea, you should convert your bash scripts to js files and add the moving of folders as part of a global commad, for example `zeppelin init` if u

[2017-02-22 21:01] maraoz commented on #96
@explodingcamera Thanks for the info.
The post-install script should be gone once we move to ethpm, so that should also fix this problem.
No need to do what you suggested, in my opinion :)

[2017-02-22 21:21] maraoz commented on #3
Thanks @JGcarv for tackling this one! :)

[2017-03-01 18:34] LogvinovLeon opened #152 "Use 4 spaces instead of 2"
Contribution guideline to this repo suggests using Solidity Style Guide https://github.com/ethereum/solidity/blob/develop/docs/style-guide.rst
It says, that one should use 4 spaces to indent.
All the contracts in this repo use 2 spaces. Probably we should change that?

[2017-03-01 19:51] maraoz commented on #152
I personally don't agree with that style recommendation. What do other devs think? :+1: to agree, :-1: to disagree.

[2017-03-01 21:21] maraoz opened #153 "Add Danger CI bot to Zeppelin repo"
See http://danger.systems/

[2017-03-03 23:42] JGcarv commented on #134
I'll start working on this!

[2017-03-04 23:07] maraoz commented on #134
Great!

On Fri, Mar 3, 2017, 20:42 Joao Gabriel Carvalho <notifications@github.com>
wrote:

[2017-03-09 18:00] #143 closed

[2017-03-09 18:12] maraoz opened #157 "automate publishing to npm, ethpm and tagging in git."

[2017-03-09 21:13] #13 closed

[2017-03-10 09:40] miohtama opened #159 "Issuance event for StandardToken"
Please see the discussion here:

https://github.com/ethereum/EIPs/issues/20#issuecomment-285449487

I have been working with several ERC-20 tokens in the past. It could make a token developer (not the creator, but wallets, exchanges and such) life simpler in many cases, if we could read the initial issuance of the tokens from the events themselves.

I'd like to add an example of `IssuedToken` in O

[2017-03-14 14:23] Recmo opened #161 "Rename `Killable` and `kill`"
The `SUICIDE` opcode has been renamed `SELFDESTRUCT` for reasons of sensitivity and morality. (We value human life more than contracts; etc.)

For the same reasons, a more appropriate name for `Killable` should be considered. `Destructable` is more in line with the new name of the opcode. `Terminable` is more in line with the traditional vocabulary around contracts.

See also https://ethereum.stac

[2017-03-15 14:50] maraoz commented on #161
sounds good!

[2017-03-15 17:34] rmerom opened #163 "StandardToken conformity with ERC20"
Re https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/StandardToken.sol

The [standard](https://github.com/ethereum/EIPs/issues/20) maintains many of its methods need to return a `bool success`, e.g.
[code]

However, the current implementation of StandardToken throws instead of ever returning `false`.
While there is an ongoing debate on the standards page about return vs

[2017-03-19 12:03] miohtama opened #164 "TransferableToken lacks comments"
`TransferableToken.sol` comes without any comments.

I'd suggest that the original authors communicate

* What is the intent of this contract

* How it should be used by developers

Generally, non-commented code is a bad practice and I'd suggest to maintain the current high standard of Zeppelin-Solidity some community guidelines would be in place to make this an exemplary project in this regard.

[2017-03-20 09:20] izqui commented on #164
As referenced above, just did a PR explaining the purpose of Transferable Token.

I have the feeling though that this should be in a separate documentation wiki or something like that, rather than directly in the source code. What do you think @maraoz @demibrener?

[2017-03-20 12:54] demibrener commented on #164
Agree. We have a separate documentation on http://zeppelin-solidity.readthedocs.io/en/latest/. Here's the docs code: https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/docs

Do you want to add the comments there?

[2017-03-20 21:30] maraoz opened #168 "ERC20 approve problem"
See https://drive.google.com/file/d/0ByMtMw2hul0EN3NCaVFHSFdxRzA/view

[2017-03-26 18:53] miohtama opened #172 "StandardToken.transferFrom potential security"
I am reading this presentation:

<img width="708" alt="image" src="https://cloud.githubusercontent.com/assets/49922/24334169/68a0c180-126e-11e7-9e25-dedb819d28a0.png">

https://drive.google.com/file/d/0ByMtMw2hul0EN3NCaVFHSFdxRzA/view

It describes an attack vector against `transferFrom` and `allowance`. Looks like the current StandardToken implementation might be subject to attack. Before diving

[2017-03-28 16:56] maraoz commented on #172
yes: https://github.com/OpenZeppelin/zeppelin-solidity/issues/168

[2017-03-28 18:12] #145 closed

[2017-03-30 18:00] frangio opened #175 "Change type of `owners` state variable from uint[] to address[] in `Shareable`"
In [Shareable.sol](https://github.com/OpenZeppelin/zeppelin-solidity/blob/b134645637b6169a1947a9caa1b92369310811f7/contracts/ownership/Shareable.sol#L26), the `owners` state variable is declared of type `uint[]`, but its members are actually of type `address`.

Besides the variable type, there are casts throughout the contract that should be removed.

[2017-03-30 21:22] federicobond commented on #175
Confirmed. Want to send a PR updating the type and removing the casts?

[2017-03-30 22:56] frangio commented on #175
Sure, I'll do it tomorrow.

On March 30, 2017 6:22:11 PM Federico Bond <notifications@github.com> wrote:

[2017-03-31 01:15] federicobond commented on #175
Awesome! Ping me if you need any help.

[2017-03-31 16:33] #175 closed

[2017-04-03 14:51] frangio opened #179 "Rename `TransferableToken` to something more representative"
We have a contract named `TransferableToken`. Since a token is always "transferable" (the `transfer` method is part of ERC20), the contract name is confusing and doesn't explain its purpose.

The real functionality it provides is _limiting_ the amount of transferable tokens at a point in time.

How should we name it? I propose `LimitedTransferToken`.

[2017-04-03 15:02] maraoz commented on #179
Good idea, thoughts @izqui ?

[2017-04-03 15:26] izqui commented on #179
Makes total sense, I'm terrible at naming stuff sorry :P

[2017-04-03 16:23] federicobond commented on #179
+1 to `LimitedTransferToken`

[2017-04-03 16:25] maraoz commented on #179
@frangio +1 to `LimitedTransferToken` too. Want to implement it?

[2017-04-03 19:14] frangio commented on #179
Ok, I'll send a PR.

[2017-04-04 02:28] #179 closed

[2017-04-04 18:05] izqui commented on #168
I like this simple approach to solving it

https://github.com/Giveth/minime/blob/master/contracts/MiniMeToken.sol#L253

[2017-04-04 18:16] frangio commented on #168
I like it too! It has the benefit that the token remains ERC20 compliant.

[2017-04-05 16:14] DavidKnott commented on #120
I'm on it!

[2017-04-05 16:53] miohtama commented on #120
Here is some prior art https://github.com/TokenMarketNet/ico/blob/master/contracts/MintableToken.sol

[2017-04-05 20:26] maraoz commented on #120
@DavidKnott @miohtama awesome!

[2017-04-07 18:16] #161 closed

[2017-04-07 21:42] DavidKnott commented on #148
@maraoz This feature sounds really useful and interesting!  Is the implementation you're thinking of a ```MigrateToken``` that inherits from ```StandardToken``` or adding on to ```StandardToken``` itself?

[2017-04-07 21:44] DavidKnott commented on #142
@demibrener I'm on this!

[2017-04-09 11:29] veox commented on #138
Relevant to EthPM are the [ERC190](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-190.md) packaging standard (currently draft status) and the [packaging specification](https://github.com/ethpm/ethpm-spec) linked from there.

[2017-04-10 00:08] AugustoL opened #189 "Add totalPayments uint on PullPayment.sol"
Im using the PullPayment contract on my contracts and I realized that there is no way to now the balance that is owned completely by the contract owner, so my proposal is to upgrade the totalPayments variable on the contract to keep tracking of how much of the contract balance can be withdrawn.

It would look like this:
[code]

This changes not affect the function definitions, since the actual fun

[2017-04-10 00:09] AugustoL commented on #189
@maraoz tell me what you think, if you agree I can create the PR.

[2017-04-11 14:26] maraoz commented on #189
LGTM

[2017-04-11 14:27] maraoz commented on #138
We already are in ethpm! https://medium.com/zeppelin-blog/zeppelin-now-supports-ethpm-95a1a6d561d3

[2017-04-11 14:27] #138 closed

[2017-04-11 14:28] maraoz commented on #148
`MigrateToken` sounds like a better idea, we want to modularize as much as possible.

[2017-04-11 19:20] #120 closed

[2017-04-11 19:36] DavidKnott commented on #148
@maraoz Okay I'll get started on it!

[2017-04-12 19:37] maraoz opened #191 "Add MintFinished event to MintableToken"
See: https://github.com/OpenZeppelin/zeppelin-solidity/pull/185#issuecomment-293449903

[2017-04-13 19:18] maraoz commented on #191
Fixed by @tatiesmars in https://github.com/OpenZeppelin/zeppelin-solidity/pull/192

[2017-04-13 19:18] #191 closed

[2017-04-18 14:42] #189 closed

[2017-04-18 19:13] maraoz opened #194 "Pausable token"
Inspiration: https://github.com/BCAPtoken/BCAPToken/blob/5cb5e76338cc47343ba9268663a915337c8b268e/sol/BCAPToken.sol#L27

StandardToken + Pausable = PausableToken

[2017-04-19 15:35] DavidKnott commented on #194
@maraoz I'll get that done today!

[2017-04-19 15:45] maraoz commented on #194
@DavidKnott awesome! This will be a great addition to the framework :)

[2017-04-20 15:40] maraoz commented on #172
Closing as duplicate

[2017-04-20 15:40] #172 closed

[2017-04-20 15:41] maraoz commented on #152
closing after 7-1 voting result

[2017-04-20 15:41] #152 closed

[2017-04-20 15:43] maraoz commented on #159
Is this like the `Mint` event of our `MintableToken` ?
see: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/MintableToken.sol#L20

[2017-04-20 16:05] maraoz opened #196 "Cancellable PullPayment helper"
It would be nice to have a version of `PullPayment` that allows for cancelling an issued payment. I would do it as a subcontract of `PullPayment`.

[2017-04-20 16:18] maraoz opened #197 "PullPayment version that checks balances"
`asyncSend` allows more balance to be queued up for sending than the contract holds. I don't see any way to prevent this, given the inheriting contract can manage its balance as it wants. Even if we added a uint counter on the total debt and failed when it exceeds this.balance, the balance can go down by other means.
Still, it would be nice to have a version of `PullPayment` with balance available

[2017-04-20 16:30] maraoz opened #198 "Allow Destructible to receive an optional address to which to send funds"
Instead of sending always to `owner`

[2017-04-20 16:34] maraoz opened #199 "Improve Shareable code quality"
`Shareable` needs some work. From the audit:

- Doesn’t check if _required <= len(_owners) for instance, that would be a bummer. What if _required were like MAX - 1?
- I have a general concern about the difference between owners, _owners, and owner in Ownable.sol. I recommend “Owners” be renamed. In general we do not recomment single character differences in variable names, although a preceding un

[2017-04-20 17:38] maraoz opened #200 "Recursive call attack to resetSpentToday in MultisigWallet"
From the audit:

`resetSpentToday` can be raced, allowing a double spend against the daily limit. So, someone pushes out a `resetSpentToday` call, and then any of the 'many' co-signers can race the call without recourse by transferring any amounts out of the contract so far left as spendable and then confirming. And of course anyone who has spending ability can spend while they wait for confirmati

[2017-04-20 18:09] maraoz opened #201 "Create a version of MultisigWallet without DayLimits"
Current version of MultisigWallet uses daily withdrawal allowances. This adds a lot of unnecessary complexity. We should have a version of MultisigWallet that doesn't have this daily allowance feature.

[2017-04-21 17:07] ORBAT opened #202 "Bounty "cannot claim reward" test is broken"
The event watcher is created [here](https://github.com/OpenZeppelin/zeppelin-solidity/blob/453a19825013a586751b87c67bebd551a252fb50/test/Bounty.js#L55-L80), but the test function never `await`s for the result; this causes the test to always pass.

[2017-04-21 21:03] frangio opened #204 "Misuse of BigNumber instances in tests"
Most of the values obtained interacting with web3 are bignums, for example the `web3.eth.getBalance` return value. In most of the assertions throughout the tests we compare them with JavaScript numbers. This coerces them into numbers and possibly introduces numerical errors. (Because JavaScript's native numbers are floating point, and e.g. 1000000000000000000 is indistinguishable from 100000000000

[2017-04-24 14:06] #202 closed

[2017-04-24 20:23] maraoz commented on #204
Great idea @frangio, thanks!

[2017-04-25 15:48] DavidKnott commented on #199
@maraoz I'll get working on this.

[2017-04-25 18:37] DavidKnott commented on #199
@maraoz I think it'd be simpler if the ```Shareable contract``` creator passed themselves in as an owner in the ```owners``` argument if the want be one instead of automatically adding the ```msg.sender``` in the constructor.

Also I'm a little confused why there should be a mapping and an array for keeping track of owners.
It seems like:
```mapping(address => bool) ownerIndex;```
Should be enough

[2017-04-26 21:49] nickgeoca commented on #163
Removal of the return bool breaks our code, so we can no longer rely on zeppelin for ERC20. Also we concur that we should follow the standard until that standard has officially changed. Even if it makes more sense to remove the bool return.

[2017-04-30 08:22] misteraverin commented on #198
@maraoz Hi, I wanna work on this issue, but have question: in solidity we have no optional params to fucntions. Two ways to solve it:
1. always add param to `destroy` function
2. make another contract `Destructible` with param
Which is more preferebly?

[2017-05-01 23:25] cgewecke opened #207 "Test suite errors without compiling/running"
My environment:
+ OSX 10.11.5
+ Node 6.9.1

Running `npm test` on a fresh clone of zeppelin-solidity after a successful `npm install`, I get the following error:

[code]

These tests ran perfectly for me as recently as 8 days ago. I see one commit since then but it passes CI.

Would really just like to know if this issue is reproducible or something weird on my end.

[2017-05-01 23:33] frangio commented on #207
This error usually means testrpc isn't running. However, it looks like in your case there is something running in the usual port. Could you check if that's the case?

[2017-05-01 23:37] cgewecke commented on #207
I can  testrpc from the command line - I would usually get an error there if there was a background instance I think. I also see this line
[code]
in zeppelin's output.

[2017-05-02 01:05] frangio commented on #207
I actually have no idea what's printing the "connection succeded" message. I can't reproduce the problem either.

[2017-05-02 01:24] cgewecke commented on #207
Ok thanks @frangio! That's helpful. Closing.

[2017-05-03 15:25] frangio commented on #207
Have you been able to fix this issue?

[2017-05-03 15:40] cgewecke commented on #207
Yes, sorry. Somehow didn't click close. *Definitely* closing.

[2017-05-03 15:40] #207 closed

[2017-05-03 18:33] maraoz commented on #198
@misteraverin thanks for taking this on. I think the best option is to add another method that receives a parameter, and leave the current one as is.

[2017-05-05 01:53] notsodirewolf opened #209 "Zeppelin installation error"
Hi all,
I am getting the following error:
[code]
Has anyone had experience with this?

[2017-05-05 18:02] frangio commented on #209
It's an issue with IPFS, the storage used for the Ethereum Package Registry.

I recommend installing via npm for now: `npm install zeppelin-solidity`.

[2017-05-05 18:08] notsodirewolf commented on #209
Hmm, after I execute
npm install zeppelin-solidity

I get the following error:
dhcp-v229-197:eqc-token huax$ npm install zeppelin-solidity
npm ERR! Darwin 15.6.0
npm ERR! argv "/usr/local/Cellar/node/7.10.0/bin/node" "/usr/local/bin/npm"
"install" "zeppelin-solidity"
npm ERR! node v7.10.0
npm ERR! npm  v4.2.0
npm ERR! code ENOSELF

npm ERR! Refusing to install package with name "zeppelin-solidity"

[2017-05-05 20:23] maraoz commented on #209
Just reported this on `truffle`, FYI: https://github.com/trufflesuite/truffle/issues/378

[2017-05-05 22:58] ProphetDaniel commented on #96
To get rid of the errors we were having before we started powershell as admin and run the following command line:

`npm  install zeppelin-solidity --ignore-scripts`

The result was:

[code]

To get rid of the warnings we added a package.json file with the following content to WINDOWS\System32:

[code]

Finally the open zeppelin package installed without any errors or warnings. To be tested now tho

[2017-05-05 23:08] ProphetDaniel commented on #96
After issueing the `truffle install zeppelin` command just after `truffle init` inside a new folder:
Unfortunately the following error is raised:

[code]

[2017-05-06 19:13] maraoz commented on #209
Another occurrence here: https://github.com/OpenZeppelin/zeppelin-solidity/issues/96#issuecomment-299595486

[2017-05-06 19:13] maraoz commented on #96
This is a known issue with IPFS, sorry: https://github.com/OpenZeppelin/zeppelin-solidity/issues/209
We're working on fixing it

[2017-05-06 19:27] amexperts commented on #209
Having same issue on Mac OSX

[2017-05-08 16:52] misteraverin opened #211 "Make step-by-step contribution guide for developer"
Besides how to commit to repo, add info "how install environment and test code?".

[2017-05-08 19:56] misteraverin opened #213 "Wrong balances comparison"
@maraoz SEVERE BUG

In `test/Destructible.js` you compare two balances as normal numbers, but they are BigNumber instances from BigNumber Library.
[code]
Yeah, they are compared as strings. So please use `greaterThan` function.

[2017-05-08 20:17] frangio commented on #213
Thanks for reporting @misteraverin!

Are the tests actually failing for you? If they are it must be for some other reason. Are you running them as `npm test`?

As you've observed the assertion doesn't fail because JavaScripts coerces the BigNumber instances to strings before comparing them. This works but isn't very nice though, that's true. We have an open issue for it, see #204.

[2017-05-08 20:23] misteraverin commented on #213
@frangio current tests are not failing, cause balances are OK. But i test with other balances and it fails.

[2017-05-08 20:30] misteraverin commented on #213
@frangio Actually BigNumber lib already provides us `greaterThan` method for comparing. In ideal world we want exception in tests when BigNumber compared with `>, <, >=, <= `. But we should think about a more realistic way (actually first option isn't magic, but writing static-analysis tool for this is too complicated).

[2017-05-08 20:36] frangio commented on #213
I can reproduce. Let's continue the discussion in #204 if you want.

[2017-05-08 20:40] frangio commented on #204
I've fixed some of these assertions but we should check the rest of the tests in case I missed other errors.

@misteraverin has pointed out that the issue is not only numerical error but also flat out wrong comparisons when two BigNumber objects are compared.

[2017-05-08 20:41] misteraverin commented on #204
@frangio Nice fix. But it can be confusing for somebody to see that in one place you compare it as BigNumbers and in another as Strings (equal case).

[2017-05-08 20:51] frangio commented on #204
The thing with that is that assertion error messages are more useful when they show the expected and actual values. Using `assert.equal` with strings provides that benefit. The same goes for "greater than" tests, actually...

I pushed my quick fix to get this going, but like I said before we should probably write an `assert` wrapper to take care of it automatically. I had a quick look and didn't f

[2017-05-09 16:35] #213 closed

[2017-05-09 18:22] maraoz commented on #211
Agreed! This should be part of the README

[2017-05-09 18:36] maraoz commented on #163
The standard is not final, it's a draft, and the discussion is ongoing. I know many projects using the `throw` version instead of returning `false`.
In any case, I just added a comment on the ERC20 discussion to push this forward: https://github.com/ethereum/EIPs/pull/610#issuecomment-300261622

[2017-05-09 19:05] maraoz commented on #209
@notsodirewolf @amexperts @ProphetDaniel @frangio just published a new release of the framework. Can you attempt to install it again and report if you have any problems?
Just run `truffle install zeppelin` in your project. Thanks!

[2017-05-09 19:31] amexperts commented on #209
@maraoz - same problem for me I am afraid.

[2017-05-09 20:23] misteraverin commented on #211
@maraoz Look, I run `truffle test ./test/Destructible.js` and it says me:<br>
` Error: Cannot send value to non-payable constructor`. When i run `npm test` everything is ok. Do you know why?

[2017-05-09 20:55] frangio commented on #211
@misteraverin It could be due to a difference in versions. npm runs its scripts using the locally installed versions of truffle and testrpc.

[2017-05-09 21:46] misteraverin commented on #211
@frangio i updated truffle to latest version, error still exists.

[2017-05-10 12:15] tjayrush commented on #159
I fully support some sort of Issuance event being part of a standard. If one is trying to create some sort of automated auditing solution (as I am), it would be very useful. Of course, it won't force people to generate these events in their actual code, but having a defined event in the standard encourages people to write code that generates Mint or Issue events.

[2017-05-10 15:53] dukei commented on #209
It does not help, still the same error.

Error: Could not find object at hash 'QmPhHVUuwMkkGMg7TWQw7eFANvTrWugpeXqQ7SgkawPN2b' in 5000ms

Still https://ipfs.io/ipfs/QmPhHVUuwMkkGMg7TWQw7eFANvTrWugpeXqQ7SgkawPN2b is available but could not be retrieved by truffle

[2017-05-10 16:30] notsodirewolf commented on #209
Me too, still same error.

On Wed, May 10, 2017 at 8:53 AM, Dmitry Kochin <notifications@github.com>
wrote:

[2017-05-10 21:32] maraoz commented on #159
+1, maybe this too should be part of a new crowdsale token standard?

[2017-05-10 21:33] maraoz commented on #209
Damn. We'll have to revert to `npm` for the time being then :(

[2017-05-11 09:39] misteraverin commented on #95
@maraoz have a look at my draft prototype of this function.

I analysed several ICOs, only few of them used stepped function for token price and for bonuses. Inside function they use such param as `timestamp`, `startDate`, `endDate`, `deadlines`, `amounts`. Most efficient way to check it is simply make an array of deadlines, as amount of them is
small (no binary search, mapping etc.).

[code]
I do

[2017-05-11 23:58] maraoz opened #215 "Upgrade to truffle 3.2.2 and solidity 0.4.11"

[2017-05-12 00:03] frangio commented on #215
Keep in mind there's been a change to the exception raised by explicit `throw`s (ethereum/solidity#2260) so we'll have to change [a few things](https://github.com/OpenZeppelin/zeppelin-solidity/search?q=invalid+jump) in the tests.

[2017-05-12 15:16] maraoz commented on #209
@notsodirewolf @amexperts @ProphetDaniel @frangio Thanks a bunch for your patience. We've reverted to `npm` for now. Can you check the new installation instructions below work for you?

https://github.com/OpenZeppelin/zeppelin-solidity#getting-started

@tcoulter I'm sad to do this but I think you understand. We loved being early adopters of ethpm and we'll be eager to jump back to using it once it

[2017-05-12 15:20] maraoz commented on #211
@misteraverin hmm... could you open a new issue for this please? Seems to be a different topic to your original request :)

[2017-05-12 15:38] tcoulter commented on #209
Absolutely understand. Once the issues are figured out I'd recommend
deploying on both EthPM and NPM to reach the widest audience. Additionally,
I envision the internals of EthPM will change once SWARM is complete and
file persistence is economically guaranteed.

I'm continuing to look at this issue and will let you know what I find.

On Fri, May 12, 2017, 8:16 AM Manuel Aráoz <notifications@githu

[2017-05-12 19:14] maraoz opened #217 "Add a refundable token"
Make a token that can be refunded for ether given certain conditions (conditions should be defined in a function of the form `canRefund() returns bool` and be left abstract for the user to implement, similarly to how `Bounty` works)

[2017-05-12 19:14] maraoz commented on #217
For example, `canRefund` could return true when a certain minimum amount of raised ether was not met

[2017-05-15 13:19] #198 closed

[2017-05-15 13:44] misteraverin commented on #95
@maraoz do you like design of contract?

[2017-05-15 16:11] maraoz commented on #95
I'd do it with block heights, not timestamps, to be consistent with [our security recommendations](https://medium.com/zeppelin-blog/onward-with-ethereum-smart-contract-security-97a827e47702).

[2017-05-15 16:30] misteraverin commented on #95
@maraoz won't this be harder for avarage developer?

[2017-05-15 20:44] maraoz commented on #95
@misteraverin possibly. But our focus with OpenZeppelin is security over ease of use.

Some extra feedback: consider writing this contract not as a standalone function, but as other helper contracts we used, with state and a constructor. I'd do this as a contract one can inherit from and which gives you access to a `getSteppedValue()` or something

[2017-05-15 21:02] maraoz commented on #209
Any luck guys?

[2017-05-15 21:04] maraoz commented on #128
Releases from now on will contain a changelog: https://github.com/OpenZeppelin/zeppelin-solidity/releases

[2017-05-15 21:04] #128 closed

[2017-05-15 21:04] #194 closed

[2017-05-15 22:11] tcoulter commented on #209
Yep. I've isolated the issue, but to fix it will require some coding (which I'm working on now).

Background: I was wrong. The issue we're having with Zeppelin *wasn't* the issue where data was lost. The results of the issue looked the same at first glance, but instead it was a combination of smaller issues.

* The first issue is that ethpm-js has a download timeout of 5 seconds per file, and if t

[2017-05-15 22:11] amexperts commented on #209
That seems to work. But just a note it is installing into contracts folder now. :)

[2017-05-16 20:14] tcoulter commented on #209
So you guys know: The issue has been fixed on Truffle v3.2.3. You can get the latest version by uninstalling and then reinstalling Truffle. Cheers! Thanks for the reports, and appreciate your patience.

[2017-05-16 20:17] notsodirewolf commented on #209
Thank you!

On May 16, 2017 1:14 PM, "Tim Coulter" <notifications@github.com> wrote:

[2017-05-17 19:26] #168 closed

[2017-05-18 20:16] DavidKnott commented on #196
@maraoz I'm getting started on this issue!

[2017-05-18 20:46] maraoz commented on #196
Great, thanks!

[2017-05-26 19:00] maraoz opened #226 "change all occurrences of uint for uint256"
It's better to be explicit about types

[2017-05-28 07:28] morrme commented on #226
i can help with this.

[2017-05-28 21:02] maraoz commented on #226
@morrme nice, thanks!

[2017-05-29 00:55] morrme commented on #226
@maraoz would you like the docstrings and other references changed as well, or just the declarations?

[2017-05-29 18:02] maraoz commented on #226
Please change the docstrings too :)

[2017-05-29 21:01] #107 closed

[2017-05-29 21:01] maraoz commented on #107
Thanks @cgewecke!

[2017-05-29 21:03] maraoz opened #230 "Integrate coveralls.io to get test coverage change reports"
See: https://github.com/bitpay/bitcore-lib/pull/51#issuecomment-199717452

Maybe @cgewecke wants to take this? :)

[2017-05-29 21:05] maraoz commented on #230
Also: add coverage badge to README.md

[2017-05-29 21:22] maraoz commented on #230
Actually @cgewecke you can't do it because of permission issues. I'll take it myself

[2017-05-30 07:56] izqui opened #232 "[VestedToken] The balance of a holder can be frozen with a stalker-type attack (Already mitigated by v1.0.6)"
**Zeppelin v1.0.6 already mitigates the issue with solution 3 (see below). A more permanent and elegant solution is needed.**

**TL;DR: A malicious actor could freeze the balance of a holder (blocking them from transfering their hard-earned tokens) pretty cheaply.**

#### Attack description:

Given how many decimals tokens normally use, the minimum transferable (and therefore grantable) amount is

[2017-05-30 14:37] maraoz commented on #232
Thanks for the responsible report, giving us time to fix it and push a new release :)

[2017-05-31 02:51] AugustoL opened #235 "Add ECRecover lib"
I think it would be useful to have an ecrecover library, I been having trouble with the ecrecover method last week and I ended up using this https://gist.github.com/AugustoL/9ddf7996e23a01c6599323761c0deeef .

If you want I can add it to work like safeMath does.

[2017-05-31 14:33] maraoz commented on #235
I like the idea! :D

[2017-05-31 16:15] federicobond commented on #235
I haven't audited the code, but I like this too.

[2017-05-31 16:17] AugustoL commented on #235
Thanks guys, I will do it soon.

[2017-05-31 23:30] #230 closed

[2017-06-02 02:58] morrme commented on #226
this should be done by tomorrow--crazy week!

[2017-06-02 21:42] frangio opened #239 "Write an implementation of an ether timelock"

[2017-06-06 12:31] ataddei commented on #196
Hi, I am training myself and would like to play around with this easy issue. I understand the payer is the one in charge of cancelling the payment, right?

[2017-06-06 12:36] maraoz commented on #196
Yes.

Alfredo Taddei <notifications@github.com> schrieb am Di., 6. Juni 2017,
09:31:

[2017-06-07 03:40] DavidKnott commented on #215
@frangio Thanks a lot for pointing this out! It helped a lot.

[2017-06-07 03:50] frangio commented on #215
I'm glad! :-)

[2017-06-07 17:50] pdaian opened #244 "Comments switched in Pausable.sol"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/lifecycle/Pausable.sol

Comments are reversed on whenNotPaused and whenPaused.

[2017-06-07 18:43] maraoz commented on #244
Good catch! :o

[2017-06-07 18:56] #215 closed

[2017-06-07 23:08] mezrin opened #245 "Redundant state variable in MintableToken"
Looks like a redundant variable. Parent contract already has this.
We just need to delete this line

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/MintableToken.sol#L21

[2017-06-08 18:05] maraoz commented on #245
+1! Want to issue a PR?

[2017-06-08 18:55] maraoz opened #246 "Implement "A Secure way to make a send in ethereum" by @jbaylina"
See https://www.reddit.com/r/ethdev/comments/6ekz2j/a_secure_way_to_make_a_send_in_ethereum/

[2017-06-08 21:14] maraoz opened #247 "Should Ownable be called Controllable?"
Idea from: https://github.com/status-im/status-network-token/blob/2152b17aa2ef584a2aea95533c707a345c6ccf69/contracts/MiniMeToken.sol#L54

[2017-06-08 22:09] federicobond commented on #247
I like Ownable. Controllable sounds more like a category of which Ownable is part of. In other words, having an owner is one of the many ways a contract can be "controlled". Another way would be to have the approval of a majority of stakeholders or any other governance model.

[2017-06-08 22:11] federicobond commented on #247
But I see the confusion it can cause between the owner of the contract itself and the owners of tokens managed by that contract.

[2017-06-09 17:16] maraoz opened #248 "Prevent common transfer mistakes in StandardToken"
Maybe we should add checks to prevent:

- sending to `0x0` address
- sending to self (the token contract)

See: https://github.com/status-im/status-network-token/blob/2152b17aa2ef584a2aea95533c707a345c6ccf69/contracts/MiniMeToken.sol#L214

[2017-06-09 17:24] GNSPS commented on #248
Why do you think this would be beneficial @maraoz ?

I tend to dislike deviations from standard ERC20 functions gas costs. Do you think those edge cases justify the sum of every agent losing a bit more gas in every transaction?

(Genuinely interested in getting everyone's opinion, these are not rhetorical questions 😄 )

[2017-06-09 17:28] maraoz commented on #248
Agree with your gas concerns @GNSPS.
The design direction we're taking is making `StandardToken` super secure and gas-intensive, and later we want to add a gas-optimized version with less security precautions.

[2017-06-09 17:29] maraoz commented on #248
I just realized the phrase "Agree with your gas concerns" can be very funny if taken out of context ^^

[2017-06-09 17:30] GNSPS commented on #248
Laughed hard! 😂

[2017-06-10 04:50] jdkanani opened #249 "Add yarn support and use it for Travis CIMove npm to yarn"
Here is why we should move: https://circleci.com/blog/why-are-developers-moving-to-yarn/

[2017-06-10 23:19] nfnty commented on #249
Status Network Token already did: https://github.com/status-im/status-network-token

Speeds up Travis CI testing by 2x.

[2017-06-12 15:11] #249 closed

[2017-06-12 21:45] maraoz opened #251 "Consider replacing our MultisigWallet with Stefan George's version"
See this beauty: https://github.com/status-im/status-network-token/blob/master/contracts/MultiSigWallet.sol

[2017-06-13 18:04] maraoz opened #252 "Improve test helper timer"
Idea:
[code]

[2017-06-13 19:30] maraoz opened #253 "Remove npm install script that copies Zeppelin contracts to contract/ folder"
Not needed anymore, as latest truffle supports `npm` integration

[2017-06-13 21:52] yondonfu opened #254 "Merkle proof library"
It seems like it would be useful to have a standard on-chain library for verifying Merkle proofs since they offer a compact way to prove the existence of some element in a set given a past commitment of a Merkle root.

This contract seems like a great start and contains functions that verify a Merkle proof both in the case where pairs of elements are sorted and the case where the order of elements

[2017-06-14 15:11] maraoz opened #255 "MintableToken's Mint event "value" should be renamed to "amount""
"value" is used for ether quantities.

See: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/MintableToken.sol#L17

[2017-06-14 15:19] #131 closed

[2017-06-14 16:27] DavidKnott commented on #255
@maraoz I'll quick do it!

[2017-06-14 16:34] DavidKnott commented on #245
@maraoz I'll do this one as well

[2017-06-14 16:55] DavidKnott commented on #254
@yondonfu I'd be interested collaborating on this!

[2017-06-14 17:00] yondonfu commented on #254
@DavidKnott Awesome, I'll be submitting a PR later today and it'll definitely be helpful to get people to go over the implementation.

[2017-06-14 19:12] #255 closed

[2017-06-14 19:12] #245 closed

[2017-06-14 22:08] dob commented on #235
+1, was about to come here to make the same suggestion. Thanks @AugustoL

[2017-06-15 14:41] maraoz opened #259 "Remove unnecessary mocks from tests"
Many tests use mocks where there's no need for one. Most tests could use the contracts directly. Go through all tests and evaluate if a mock is necessary (for example, when the tested contract is abstract), and remove it where it isn't.

If you do this: THANKS!

[2017-06-16 15:08] maraoz opened #261 "Remove short address attack checks from tokens"
If `transfer` and `transferFrom` are used by a subcontract's function with less arguments, the checks will fail.

[2017-06-16 15:08] maraoz commented on #261
@izqui thoughts? This happened to me recently and had to use a horrible workaround

[2017-06-16 15:17] federicobond commented on #261
+1 to removing it. An honorable effort, indeed, but it was done at the wrong layer and in response to a single isolated case of very poor validation in the upper layers.

[2017-06-16 15:20] izqui commented on #261
I agree. I haven't even deployed this in our own token.

[2017-06-16 15:20] maraoz opened #262 "Make Ownable's owner configurable in construction time"
Right now, `msg.sender` is made the contract's owner. Make `Ownable`'s constructor receive an address

[2017-06-20 01:24] rstormsf commented on #259
@maraoz  Could you help me out understand the issue, so I can help

[2017-06-20 01:25] rstormsf commented on #253
Looks like current `package.json` doesn't have any `post-install`. Am I right?

[2017-06-20 01:36] rstormsf commented on #262
Seems like Ownable.sol depends on so many contracts and I"m getting:
[code]
error.

[2017-06-20 01:38] rstormsf commented on #246
should we replace every single `send()` with `secureSend()`?

[2017-06-20 01:59] rstormsf commented on #226
@maraoz https://github.com/OpenZeppelin/zeppelin-solidity/pull/269 here we go

[2017-06-20 02:28] federicobond commented on #246
I have known about this technique for a while, and I still think it's way too hacky to become the standard way to implement secure send. We should treat it as a forceSend rather than secureSend, and use it only in very limited scenarios.

[2017-06-20 02:43] federicobond commented on #246
Let me be more clear: I think contracts should be able to reject payments if they cannot handle them or are unwilling to handle them. Every contract that sends value should be able to handle that condition gracefully. Also, contracts should be allowed to at least log an event when they receive value, as a courtesy payed by the originator of the transaction (as the current semantics of send allow).

[2017-06-20 13:45] AugustoL commented on #262
@rstormsf, I think it can be because you compare to 0 an address or if not it seems that you have reach the gas limit.

@maraoz why do we need it? the ownership can be changed after the contract creation with transferOwnership. What happens if Ownable is used on a contract that receives as first argument of the constructor an uint256 ?

[2017-06-20 15:33] DavidKnott commented on #262
@AugustoL @rstormsf   I'm not sure how an else statement would work because if we want the to pass in the `owner` on creation I think we should have it happen all the time.  To me a conditional statement in `Ownable()` seems like it adds needless complexity (it seems like you'd have to pass in `0x0` as a place holder to use the `else` with msg.sender).

[2017-06-20 15:46] maraoz commented on #253
I meant "install", sorry

[2017-06-20 15:49] maraoz commented on #259
When the contract is abstract, using a "Mock" (the name mock is not even correct) makes it possible to test it, because abstract tests cannot be instantiated.
But when a contract is not abstract, you could just use the contract in tests, no need to write a "mock".

[2017-06-20 15:49] maraoz commented on #259
Mocks are also useful when testing a contract which exposes function modifiers you want to test

[2017-06-20 16:00] DavidKnott commented on #261
@federicobond Just trying to learn, what layer do you think short address attack protection should be built into?

[2017-06-20 16:10] federicobond commented on #261
It should be handled by the libraries that read the contract ABI and let you create transaction payloads out of it (web3.js, truffle-artifactor, etc.)

[2017-06-20 16:16] federicobond commented on #261
Think of this analogy: dynamically-loaded libraries should not (and probably cannot) verify that you have pushed the right arguments into the stack before calling them. They just expose their ABI as header files and (unless you are writing assembly by hand) any high-level language compiler worth its salt will take care of the rest. What the library code SHOULD do is try to make sense of the argume

[2017-06-20 17:38] rstormsf commented on #262
So, should I continue doing it? or we leave `msg.sender` as a way to declare an owner. ?
I personally think since it will take more gas, we should prob leave `msg.sender` cause so many other contracts depend on it. Thoughts?

[2017-06-20 21:29] AugustoL commented on #262
+1 on leaving msg.sender

[2017-06-21 22:03] interfect opened #270 "ERC20 interface does not match actual ERC20"
Specifically, the `transfer` (from `ERC20Basic`) and `transferFrom` functions do not return bools.

While whether the OpenZeppelin ERC20 token *implementations* should throw on failed transfers or not is an open question (see #163), the *interfaces* need to support the return value, because other ERC20 implementations (like [this one](https://github.com/Firstbloodio/token/blob/master/smart_contrac

[2017-06-22 00:38] rstormsf commented on #253
@maraoz https://github.com/OpenZeppelin/zeppelin-solidity/pull/272 done

[2017-06-22 13:34] #253 closed

[2017-06-22 13:39] maraoz commented on #262
By community consensus, I'm closing this issue.
You can still always call `ownable.transferOwnership(newOwner)` after creating the contract.
Thanks guys for the discussion.

[2017-06-22 15:37] #262 closed

[2017-06-23 14:40] maraoz opened #274 "Refactor vesting mechanics into external TokenVesting contract"
Currently, vesting of tokens is implemented via the `VestedToken` token contract.
After reading the [Trustless SNT Selling Contract](https://www.reddit.com/r/ethtrader/comments/6ip2vg/trustless_snt_selling_contract/) contract, I realized a more elegant solution would be to implement vesting of tokens in the contract holding the tokens, not in the token contract.

I propose moving the vesting mecha

[2017-06-23 14:49] plutoegg opened #275 "Check payload size in StandardToken on approve."
Potential vulnerability to short address attack, if length of spender address is not checked on client side and calling approve via another contract. Addition of modifier onlyPayloadSize(2 * 32) to approve should solve the issue

[2017-06-23 14:59] maraoz commented on #275
Thanks for reporting.
We're currently discussing removing the short address attack checks from our codebase.
See here: https://github.com/OpenZeppelin/zeppelin-solidity/issues/261

I we decide NOT to remove them, we'll do what you say (it makes no sense to have checks in some functions and not in others).

I think we'll remove the checks, though.

[2017-06-23 15:16] izqui commented on #274
I completely agree with this and was something audits to the Aragon token pointed out after the source code was already locked but decided against modifying it close to the sale.

The only advantage I still see on having the vesting in the token itself is that if a vested holder follows the vesting schedule and only tries to spend their tokens when they can, they won't even experience there was a

[2017-06-23 17:50] federicobond commented on #274
A thousand times yes!

[2017-06-23 19:47] GriffGreen commented on #275
There could be an issue with this only payload size check in the case that
a contract is making the call, so please be careful with this check :-D

On Fri, Jun 23, 2017 at 7:59 AM, Manuel Aráoz <notifications@github.com>
wrote:

--
--
Griff Green
Founder of Giveth
MSc Digital Currencies
B.S. Chemical Engineering
Email: griff@giveth.io

[2017-06-25 12:37] al1p opened #276 "npm install zeppelin-solidity failed"
`npm install zeppelin-solidity` exited with error code: 128

Also reported by @ilyadruzhinin at : https://github.com/npm/npm/issues/17425

Related to https://github.com/ethereum/web3.js/pull/905

[2017-06-25 16:48] al1p commented on #276
This was because of ethereum/web3.js#904

This is fixed now

[2017-06-25 16:48] #276 closed

[2017-06-26 16:50] frangio commented on #246
I agree with @federicobond. Solidity `send` and `transfer` are secure enough. Particularly `transfer`, which should be the standard secure send.

Should we add `forceSend` to OpenZeppelin? I think it's an interesting experiment, but it probably should be used in practice.

[2017-06-26 16:54] frangio commented on #261
I'd like to add too that the modifier is incredibly error prone because the `size` argument has to be calculated and kept up-to-date by the programmer.

[2017-06-26 16:57] federicobond commented on #246
Is there a concrete use case that requires forceSend? Otherwise I think it would promote bad practices among Solidity developers.

[2017-06-26 17:01] frangio commented on #261
Here's a demo of the error @maraoz mentions:
https://ethereum.github.io/browser-solidity/#gist=f5c444b9e087d03438aa990cb91b9e3a

[2017-06-26 17:54] frangio commented on #270
Hi @interfect! Thank you for contributing.

We're holding this issue and #163 open because the ERC20 standard is still a draft. I share your concerns about interoperability, though. We will look into it.

[2017-06-26 18:27] maraoz commented on #246
Agreed. I regret opening this issue now :P

[2017-06-26 18:27] #246 closed

[2017-06-26 18:32] #261 closed

[2017-06-26 19:15] maraoz opened #278 "Revert inheritance order of PausableToken"
Current order `PausableToken is Pausable, StandardToken` (See https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/PausableToken.sol#L16) is incompatible with other `*Token` contracts. Revert it to:
`PausableToken is StandardToken, Pausable`

This is caused by how multiple inheritance works in solidity. See: https://solidity.readthedocs.io/en/develop/contracts.html#multipl

[2017-06-26 20:43] #209 closed

[2017-06-26 23:18] rudygodoy commented on #259
I've been looking at this, at least 6 of them. Most of them cannot be easily de-mocked because they lack of external interfaces, so mocha cannot interact with the contract for most of the test cases. `LimitBalance.sol` and `DayLimit.sol` looked good candidates for de-mocking. What would you advise?

I've refactored one test, not sure if PR is in order with regards to this issue though. https://git

[2017-06-27 00:30] frangio commented on #259
@rudygodoy Actually those two can't be de-mocked either because they provide modifiers...

We had the impression that some of them were unnecessary, but might have been wrong. It would be great if you could go through the rest and see if any are indeed unnecessary and remove them. We'd appreciate it!

[2017-06-27 19:32] frangio commented on #251
The actual repository is [ConsenSys/MultiSigWallet](https://github.com/ConsenSys/MultiSigWallet).

Notice that it also provides a GUI to manage the wallet.

The implementation is really good. Should we include it as part of OpenZeppelin or just link to the ConsenSys repository?

[2017-06-27 19:41] frangio commented on #247
I like Ownable too. Aside from not being the only way a contract can be controlled, the owner doesn't necessarily _control_ the contract as much as the word can imply.

[2017-06-28 05:51] rstormsf commented on #253
@maraoz - would love if it can be updated in npmjs registry, cause it creates zeppelin folder every time we do `yarn add zeppelin-solidity`

[2017-06-28 14:20] maraoz commented on #253
We're planning on releasing a new minor version next week after merging some of the pending PRs :)

[2017-06-29 05:21] rstormsf commented on #96
this issue could be fixed when #253 is deployed to npm, correct?

[2017-06-29 13:40] #278 closed

[2017-06-29 20:16] maraoz commented on #126
example script I've used:
[code]

[2017-06-29 20:55] rudygodoy commented on #259
I went through all of them. Couldn't find a case where de-mocking was possible. I've encountered and fixed some typos in comments and did the `beforeEach(...);` refactor when it was possible. All test pass and I've validated that the introduction of such changes doesn't change the purpose/nature of each test case.

Individual commits can be found here: https://github.com/rudygodoy/zeppelin-solidit

[2017-06-29 20:56] maraoz commented on #259
Yes please open a new PR for this so we can do code review more easily

[2017-06-30 19:23] frangio commented on #126
Was fixed in a69333e. Accounts with higher balance is being added in 4d55d8f.

[2017-06-30 21:30] frangio commented on #259
Thanks for looking at this, @rudygodoy!

[2017-06-30 21:30] #259 closed

[2017-06-30 21:32] frangio commented on #275
Closing since we removed the check.

[2017-06-30 21:32] #275 closed

[2017-06-30 21:33] #247 closed

[2017-06-30 22:41] frangio opened #284 "Redundant lockfiles (npm and yarn)"
~There's already a `yarn.lock` file in the repository. It's not clear if we should also add npm5's `package-lock.json`.~

See update [below](https://github.com/OpenZeppelin/zeppelin-solidity/issues/284#issuecomment-322009726).

[2017-07-03 02:54] rudygodoy commented on #153
I've already setup Danger and tested locally with a simple rule, which basically prints a message.

`message(":tada:, this worked @" + danger.github.pr.user.login)`

A few questions for this one:

- Does the project use Travis CI? If not which one would you want to integrate with?
- Do you have an idea of the rules you want to setup initially? Since this is more like a cultural consensus among pro

[2017-07-03 14:40] maraoz opened #291 "Fix coveralls integration"
Currently broken:
https://coveralls.io/github/OpenZeppelin/zeppelin-solidity

[2017-07-03 22:03] cgewecke commented on #291
@maraoz Have you considered [codecov.io](https://codecov.io/) as a possible alternative? Not sure what's going on with coveralls but it sometimes seems like their integration with github is less reliable than it used to be - things don't sync etc.

[2017-07-04 14:40] maraoz commented on #291
I haven't tried it but I'm open :)

[2017-07-04 16:36] maraoz opened #293 "Remove msg.sender == beneficiary requirement from TokenTimelock#claim()"
This makes the timelock usable from "dumb" beneficiaries.

Currently, only beneficiaries that are able to call the `claim` method are supported. If we remove the check, any other address can release the tokens.

See: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/TokenTimelock.sol#L34
Ping @frangio

[2017-07-05 02:52] cgewecke commented on #291
Ok I'll look into this tomorrow (unless someone does it before then).

[2017-07-05 03:51] fabienb4 opened #294 "require() in contracts constructor throws invalid opcode except in internal tests"
### Tested with:
ethereumjs-testrpc: v4.0.1 (ganache-core: 1.0.1)
truffle: 3.3.2
zeppelin-solidity: 1.1.0

### Reproduction:

`sudo npm install -g truffle`
`mkdir test`
`cd test`
`truffle init`
`npm install zeppelin-solidity`
`touch contracts/TestCrowdsale.sol`

**TestCrowdsale.sol**  (exactly as the zeppelin-solidity mock except for the import)
[code]

**deploy_contracts.js**
[code]

`truffle tes

[2017-07-05 13:55] frangio commented on #293
+1
Maybe we should rename `claim` to `release`, then.

[2017-07-05 14:01] frangio opened #295 "Separate example contracts from "functionality" contracts"
We should provide examples of usage of our contracts. I think at the moment the only example is SimpleToken. However, it's placed right next to the contracts that provide token functionality and is not easy to find or distinguish.

We should create a special directory for examples, and add new ones. We need a complete example for Crowdsale, for example.

[2017-07-05 14:11] maraoz commented on #293
+1 to renaming

[2017-07-05 14:15] maraoz commented on #294
@fabienb4 This is because you're not passing any constructor arguments when deploying the TestCrowdsale contract!

You should do:
[code]

[2017-07-05 14:15] maraoz commented on #295
Agreed. We should have an examples folder

[2017-07-05 14:47] #293 closed

[2017-07-05 14:53] fabienb4 commented on #294
Geez, I knew I needed some sleep... Nevermind, thanks ;-)

[2017-07-05 14:53] #294 closed

[2017-07-05 23:35] frangio commented on #204
We're incorporating chai into our tests. For now only crowdsale and TokenTimelock tests are written in this way. The rest will have to be gradually ported.

This issue will be addressed by using chai-bignumber as seen in the [Crowdsale tests](https://github.com/OpenZeppelin/zeppelin-solidity/blob/e748c3ea367c8f8e40739be67192f5141501ebbe/test/Crowdsale.js#L86).

[2017-07-06 01:58] cgewecke commented on #291
FWIW I'm not even able to generate coverage locally for Zeppelin because Truffle (or testrpc?) are hitting node's V8 memory limit (1.7 MB!) while trying. It gets past the compilation step and eventually crashes with: `Allocation failed - JavaScript heap out of memory`

Going to have to look into this further. . . . the initial coverage reports might have been on the very edge of what the VM can ha

[2017-07-06 16:57] maraoz opened #297 "Provide integration with a secure Random Number Generator"
Using `block.blockhash(block.number)` as seed?

[2017-07-06 17:16] maraoz commented on #291
@cgewecke which node version?
I'm running v8.0.0 and `npm run coverage` is not giving a `JavaScript heap out of memory` error, although it does fail for different reasons.

[2017-07-06 17:23] cgewecke commented on #291
@maraoz Interesting . . . I think I ran it on 6.9.x following the README. Are you getting past the compilation step and into the tests with 8?

There is a new version of testrpc that has a much smaller memory footprint so I've been thinking that it might just be a question of upgrading solidity-coverage's rpc fork.

[2017-07-06 18:12] maraoz commented on #291
My run dies here:

[code]

[2017-07-07 14:02] jwojciechowski opened #298 "Broken test coverage generation"
From logs of [the last build](https://travis-ci.org/OpenZeppelin/zeppelin-solidity/builds/250779298), I've checked it's been broken for a long time ([a build from a month ago](https://travis-ci.org/OpenZeppelin/zeppelin-solidity/builds/239976996) )

Launching test command (this can take a few seconds)...
Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse (/home/travis/build/OpenZep

[2017-07-07 14:09] jwojciechowski commented on #298
I've just noticed that this issue is touched in the discussion about [coverage reports](https://github.com/OpenZeppelin/zeppelin-solidity/issues/291).
Feel free to merge the issues.

[2017-07-07 14:57] maraoz commented on #298
Closing as duplicate. Thanks for reporting

[2017-07-07 14:57] #298 closed

[2017-07-08 05:13] federicobond commented on #297
`block.blockhash` with `block.number` as the argument returns 0x0, because the hash of the current block cannot be known at the time the transaction executes.

There are some attempted solutions like [randao](https://github.com/randao/randao) but none of them has been completely satisfactory as of today.

[2017-07-08 19:35] maraoz commented on #297
@federicobond good point. well, this issue is about researching how to do secure RNG for smart contracts

[2017-07-09 20:10] adamdossa opened #301 "FinalizableCrowdsale is not trustless"
Hey,
I noticed that the call to `finalize()` in FinalizableCrowdsale.sol is guarded by the modifier `onlyOwner`.
Unless this finalizable action is meant to be optional, I can't really see any reason for it not to be open to the public to call to avoid the owner being able to block the token contracts state from progressing if needed.
For example, in the derived RefundableCrowdsale.sol crowdsale co

[2017-07-09 23:08] frangio commented on #301
It is usually for security reasons that we only allow an owner to trigger these administrative tasks, so that an attacker cannot use the function.

That said, I see how it can be an issue. It would be ok if the owner was incentivized to call `finalize`, but in `RefundableCrowdsale`, for example, they are only incentivized when the crowdsale was successful, and there is not much incentive to give p

[2017-07-10 02:57] federicobond commented on #301
In a way, the whole Crowdsale thing relies on trusting that the token emitter is going to follow up with their plans to build a strong network around them, so I'd argue that this is a minor detail compared to the rest.

In this particular case, though, the problem with letting anyone call `finalize` is that it will prevent any further minting of new tokens, which the owner might want to do right a

[2017-07-10 18:39] adamdossa commented on #301
I def. see your point, but a couple of other observations:
1) in the above, any action the owner may want to take after the sale finishes should be a part of the finalize function I think - the function doesn't take arguments so would need to encode all of the logic upfront but this doesn't seem unreasonable to maintain a trustless nature.
2) if finalize needs to remain as callable only by the own

[2017-07-10 19:32] federicobond opened #302 "Crowdsale token price rate is fixed"
Users should be able to customize the price function for Crowdsale contracts.

[2017-07-10 19:33] federicobond opened #303 "Add continuous token sale contract"

[2017-07-10 22:21] cgewecke commented on #291
@maraoz
Good news: Have resolved running coverage on Zeppelin locally for Node6/ Node7.
Bad news: Running the unit tests and coverage back to back looks like its maxing out the memory limits in CI container. Process just gets killed.

Options:
+ Run your unit tests as coverage tests . . . but they're very different - the gas limits are fake and tons of events are injected into the code. Seems ques

[2017-07-10 22:22] cgewecke commented on #291
Assuming it's possible, I'm not sure it is.

[2017-07-10 22:27] federicobond commented on #291
Can you try Travis with `sudo: required` environment? It comes with almost double the memory apparently: https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments

[2017-07-10 22:31] cgewecke commented on #291
[Running it now](https://travis-ci.org/cgewecke/zeppelin-solidity/builds/252197680).

[2017-07-10 22:41] cgewecke commented on #291
@federicobond 🎉  🎉  🎉  So happy. Thank you.

[2017-07-11 02:24] #291 closed

[2017-07-11 19:05] jakub-wojciechowski opened #306 "MintableToken return values"
Currently, both functions have return values in their signatures:

[code]

which is inconsistent with the general approach used in this repo to prefer fail-fast error handling with throwing. Moreover, the comment suggests:

`* @return A boolean that indicates if the operation was successful.`

that the operation may return false which is never the case.

Maybe it's better to strip this return valu

[2017-07-11 21:50] frangio commented on #306
We want to make this consistent, but it's still undecided whether we'll keep return values or not.

Issues #163 and #270 are open until this is decided, and when that goes through we'll update all token contracts to be consistent.

[2017-07-12 16:18] jakub-wojciechowski commented on #306
Thx for the answer @frangio !
Both of the issues refer to [ERC-20](https://github.com/ethereum/EIPs/issues/20) interface and the mentioned functions are out of the scope of the reference so it won't break any compatibility requirements. Moreover, the main argument for return values is to save gas costs for users by returning `false` while the methods never return `false` but throw exception consum

[2017-07-12 18:26] frangio commented on #301
I agree with your first point. A trustless crowdsale should encode all necessary actions (such as further minting) in the crowdsale finalization. In that case, I think anyone should be able to trigger it.

A derived contract can always add extra requirements to an inherited function. A specific crowdsale would be able to restrict finalizing to an owner by subclassing Crowdsale and adding a check,

[2017-07-12 18:40] frangio commented on #163
I want to add the problem is more severe than I thought at first because someone that interacts with our token contracts assuming they conform to ERC20 as it stands today will see all functions returning boolean false even when they succeed.

I'm going to change this to return boolean values asap.

[2017-07-12 19:47] frangio commented on #306
I do see your point! I understand this isn't about ERC20 compatibility, but consistency within the OpenZeppelin framework.

It's also true that the return values are basically unused because methods throw on error. This is actually similar to what is suggested in ERC20, for example in the description of `transfer`:

It's odd behavior, yes...

In any case, we're going to add back return values to o

[2017-07-13 10:08] adamdossa opened #307 "Inconsistent behaviour in VestedToken.sol"
Hi All,

My reading of the `transferableTokens` function in VestedToken (which inherits from LimitedTransferToken) is that it is a little inconsistent.

For addresses which have vesting grants, the logic works correctly, specifying that such addresses can transfer a minimum of their vested tokens and and other restrictions that may exist (through the use of `super.transferableTokens`).

However, f

[2017-07-13 17:28] jakub-wojciechowski commented on #307
Hi Adam,
Well-spotted issue. Isn't it that:

`super.transferableTokens(holder, time) <= balaceOf(holder)`

Maybe it's better to check this invariant in LimitedTransferToken, but I'm not sure if it's much needed as it's going to be checked finally by SafeMath constraints in:
`balances[_from] = balances[_from].sub(_value);`

[2017-07-13 17:35] jakub-wojciechowski commented on #306
Should I make a small PR to return false when it cannotMint, so it will make sense to check if `mint` reported a successful or unsuccessful execution? LMK what do you think @frangio?

[2017-07-13 17:45] adamdossa commented on #307
Hmm - not sure that is exactly the issue I mean.

The issue I'm flagging is that there is a `transferableTokens` function should always return the minimum of what it considers to be the transferable amount of tokens, and `super. transferableTokens`.

VestedToken does this if the account is a grant holder, but doesn't do this if it isn't.

So the line:
`if (grantIndex == 0) return balanceOf(holder)

[2017-07-13 17:52] jakub-wojciechowski commented on #307
In other words, I was just asking if returning only:

`return super.transferableTokens(holder, time)`

instead of `min()` will be sufficient?

[2017-07-13 19:56] adamdossa commented on #307
Ah I see - you're right that would be an option if you assume that someone else will make the check - I think it is probably clearer to take a min. anyway and will always be safe (but have a small gas cost I guess).

[2017-07-13 20:08] jakub-wojciechowski commented on #307
Cool, finally we've reached an accord!
My view is that a subclass shouldn't validate the correctness of a super class.
It's a small suggestion, just to make your great update even a slightly better and more efficient :)

[2017-07-13 20:28] #163 closed

[2017-07-13 20:28] #270 closed

[2017-07-13 20:32] frangio commented on #163
Standard compliance fixed. Our implementation still throws on error but this issue was closed because throwing is recommended by the standard, e.g.:

[2017-07-13 20:49] cintixverum opened #309 "Off-by-one error in VestedToken.sol"
Line 52: `if (tokenGrantsCount(_to) > MAX_GRANTS_PER_ADDRESS) throw;` should use `>=` instead of `>`.

[2017-07-13 20:52] jakub-wojciechowski opened #310 "Crowdsale improvements"
First of all, @frangio thx for the amazing [Crowdsale PR](https://github.com/OpenZeppelin/zeppelin-solidity/pull/283). I've really enjoyed reading the code. Great job :) !

While reading I've noted on a side a few comments and suggestions for improvements. I'd be grateful if you let me know what do you think about them:

1. Crowdsale contract is tightly coupled to MintableToken. Wouldn’t it be bet

[2017-07-13 20:52] frangio commented on #306
#308 fixes ERC20 compliance by adding back all the return values. This means we're keeping MintableToken's return values as well.

I'd actually prefer to keep the current throwing behavior too. We believe this protects against errors, and it's consistent with ERC20 so it should be ok.

It is also consistent with the rest of OpenZeppelin. We might revisit this in the future, though.

[2017-07-13 20:52] #306 closed

[2017-07-13 21:11] frangio commented on #310
Thanks a lot @jakub-wojciechowski! The crowdsale contracts were a joint effort by the OpenZeppelin team 😄.

It's great to see you excited about collaborating. There's a lot of suggestions in this PR and I can't go over everything thoroughly at the moment but I will revisit it in the next couple of days and get back to you. Are you in the OpenZeppelin slack so I can reach you there?

In the meantim

[2017-07-13 21:19] jakub-wojciechowski commented on #310
Cool, thanks for the instant reply. I will open the PRs.
I've just joined the Slack as "kuba". I'm looking forward to discussing this stuff whenever you are ready.

[2017-07-13 21:23] miohtama commented on #310
Some projects prefer "allocate + burn" token sales over "mint" token sales. In this case the whole token supply is created with the token contract. Then one gives `approve()` for the crowdsale contract and the crowdsale contract does `transferFrom()`.

https://github.com/TokenMarketNet/ico/blob/master/contracts/AllocatedCrowdsale.sol#L54

[2017-07-13 21:30] jakub-wojciechowski commented on #310
I totally agree. This is exactly the scenario that I'm describing in the 1. comment. Happy to hear that you have similar views.

[2017-07-13 21:35] frangio commented on #310
I forgot to comment on that, but yeah I completely agree that we should make Crowdsale more generic! We want to stay pragmatic though, and not abstract more than people need.

[2017-07-13 21:39] miohtama commented on #310
For 2. Precondition oriented programming it's more about the coding style. In some point you hit the limits of Solidity language design. When you have a lot of precondition checks the function declarations grow longish. In this point you start to act against the original precondition oriented idea to make the code more readable. Furthermore in some cases it makes sense for preconditions happen in

[2017-07-13 21:56] rudygodoy commented on #8
I'm working on this, by now I've created a separate project so that it's easier to test in isolation. I've implemented the white list as a switch so that addresses can be enabled/disabled at will, this would allow different use cases commented in the article. Once I feel comfortable about the implementation I'll integrate in my branch then do the PR. Comments are welcome.

https://github.com/rudyg

[2017-07-14 19:51] frangio commented on #8
The idea would be to provide general-purpose function modifiers that can be used in any smart contract. Not just a specific token implementatioṇ like I saw in your repo; not sure if that was just to test the idea.

I've begun experimenting with something very similar to this that allows more than one whitelist. Please see [my `feature/roles` branch](https://github.com/frangio/zeppelin-solidity/bl

[2017-07-14 19:54] frangio commented on #274
The same mechanism is used by [TokenTimelock](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/TokenTimelock.sol).

[2017-07-14 21:00] frangio commented on #309
This doesn't look like an error to me, it just means the maximum is inclusive.

@maraoz @izqui Please confirm.

[2017-07-14 21:17] #307 closed

[2017-07-15 05:15] cintixverum commented on #309
You can't say there's a maximum of 20 grants, then allow 21.  "The maximum is inclusive" is some of the most impressive mental gymnastics I've ever seen.  It's either a simple off-by-one error or the worst naming convention in human history.  I'm in awe that you would prefer the latter.

[2017-07-15 05:41] abbasmhd opened #313 "Possible bug in StandardToken.sol"
in your **StandardToken.sol** there is a comment says

    // Check is not needed because sub(_allowance, _value) will already throw if this condition is not met
    // if (_value > _allowance) throw;
    balances[_to] = balances[_to].add(_value);
    balances[_from] = balances[_from].sub(_value);
    allowed[_from][msg.sender] = _allowance.sub(_value);

 is that mean if ` balances[_from] = balanc

[2017-07-15 05:43] frangio commented on #309
We prefer a more civil tone around here, @cintixverum. Understand it's not my intention to perform any mental gimnastics here, and that you can point things out in a kinder way.

[2017-07-15 05:52] frangio commented on #313
Hi @abbasmhd, thanks for reporting. :smiley:

In Ethereum, `throw` rolls back all the state changes made in a transaction. So, if the `sub` fails, the `add` is undone.

[2017-07-15 05:52] #313 closed

[2017-07-17 15:56] rudygodoy commented on #8
Hi @frangio, yes I understand the goal it aims. I’ve built a token so that I’m able to validate my implementation with the use cases commented in the article.
I've also thought that this could be a lib, but my plan was to do that as the next improvement.
Right now I’m working on validating a third contract accessing the whitelisted-contract's functions. I believe that it would fit very well with t

[2017-07-18 00:34] #309 closed

[2017-07-18 14:31] #235 closed

[2017-07-18 18:59] maraoz commented on #226
Reopening because @spalladino just found that `PausableToken` still has some references to `uint` instead of `uint256` (blame: @maraoz)

[2017-07-18 18:59] maraoz commented on #226
See: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/PausableToken.sol#L14

[2017-07-19 14:04] BrianGuo commented on #226
@maraoz Just fixed this issue within my fork. I also changed uint to uint256 in most of the test files; if this isn't desired, i'll change it back promptly

[2017-07-19 18:54] #226 closed

[2017-07-20 02:42] pooleja opened #319 "Ownable transferOwnership() silently fails"
Is there a reason that transferOwnership() doesn't throw an error if the address is 0?  I think silently failing could cause users/contracts to think that the ownership transfer succeeded even though they messed something up.  This could lead to further problems.

[code]

[2017-07-20 14:33] frangio commented on #319
Thanks for reporting @pooleja! There's no reason, it should be fixed. Do you want to submit a PR?

[2017-07-20 15:29] pooleja commented on #319
Incoming ;)

[2017-07-20 16:28] cgewecke opened #322 "yarn test returns 0 in CI even when tests fail."
See [build 433](https://travis-ci.org/OpenZeppelin/zeppelin-solidity/builds/253602206).

[2017-07-20 17:37] maraoz commented on #322
Damn, good catch! Any ideas on how to fix this?

[2017-07-20 17:54] cgewecke commented on #322
It almost never happens, that was an rare case. Unfortunately my bash skills are non-existent. How do you capture the result of command and exit with it? I think the problem is that the testrpc shutdown always succeeds no matter what happens and that's the 'result'.

[2017-07-20 18:11] jakub-wojciechowski commented on #301
I think having a trustless finalization by default it's a good idea.

@frangio do you have in mind any example of an attack on triggering finalization while is well guarded by invariants check or are you referring to the case that some developers may specify this checks badly?

[2017-07-20 18:16] jakub-wojciechowski commented on #303
Isn't the continuous crowdsale a more basic version of a crowdsale without `_startBlock`, `_endBlock` and `cap` or do you @federicobond  have a different idea like multiple rounds (preSale, round1, roud2...)?

[2017-07-20 18:35] federicobond commented on #303
They can share some logic, you are right. I was thinking more about the issuance model for continuous sales though (fixed amount per block, per time frame, etc.)

[2017-07-20 18:48] jakub-wojciechowski commented on #303
I see your point. I think we can achieve by a customizable Cap Strategy. Currently, we have a single Cap but it may be defined per block or time period. What's your view on that?

BTW, I've just looked at the CappedCrowdsale and realised that we require the last transaction to precisely hit the capped target. It can bring a lot of frustration to users burning gas by trying to put the final transac

[2017-07-20 21:08] maraoz opened #324 "Add burnable token"
Inspiration: https://github.com/decentraland/mana/blob/master/contracts/BurnableToken.sol

[2017-07-20 21:16] frangio commented on #303
@jakub-wojciechowski Let's stay on-topic and discuss only continuous crowdsales here. 🙂 We can talk about the "precise cap" problem in a different issue. (I'm not sure we want to implement the partial refund.)

We should be careful not to conflate the different kinds of limits a crowdsale can have. "Continuous" refers to the lack of a limit in the crowdsale's _running time_. "Capped", OTOH, refers

[2017-07-20 21:35] frangio commented on #322
That's correct @cgewecke. I'm going to fix this.

[2017-07-20 22:10] jakub-wojciechowski commented on #303
Yes, you are right lets move "precise cap" to a different issue.

I agree, let's separate time boundaries and issuance model and decide what to do with the first problem.

If we stick to the inheritance model, continuous crowdsale seems to be a parent to a current `Crowdsale` as it is more generic by not imposing any limitation for `startBlock` and `endBlock`. I see the refactor as extracing all l

[2017-07-21 14:13] #322 closed

[2017-07-21 14:19] frangio commented on #284
Keeping an eye on yarnpkg/yarn#3614. We're not the only ones confused by this. 🙂

[2017-07-21 19:18] mikec opened #326 "Bundle and compile test helper functions"
I wanted to use the helper functions in `zeppelin-solidity/test/helpers/` in my project, but had a hard time importing them. They’re exported using ES2015 module syntax, so I had to add `babel-register` as a dependency and run:

[code]

It would be easier to add as a dependency in other projects if they were bundled and transformed to CommonJS

[2017-07-21 20:46] mikec commented on #326
@maraoz I created https://github.com/levelkdev/zeppelin-testing. It has all the js from `test/helpers`, exports each named function, and bundles them into a dist file. Haven't tested it yet, but could be a good starting point if you want to add to OpenZeppelin

[2017-07-22 18:57] #319 closed

[2017-07-23 19:41] maraoz commented on #326
@mikec awesome! we'll review it and maybe we can add it to the OpenZeppelin org :)

[2017-07-26 13:02] maraoz opened #331 "Add complex crowdsale example"
Add an example contract that inherits from `CappedCrowdsale`, `FinalizableCrowdsale`, `RefundableCrowdsale` as documentation on how to do it.

[2017-07-26 19:02] frangio opened #332 "Update Truffle to 3.4.6 and Solidity to 0.4.13"
Not sure what issues might show up. @spalladino?

[2017-07-26 19:03] frangio commented on #331
See #295 as well.

[2017-07-26 19:06] frangio commented on #217
I think this was solved by `RefundableCrowdsale`. Feel free to reopen if there's an unaddressed usecase.

[2017-07-26 19:06] #217 closed

[2017-07-26 19:09] frangio commented on #199
Closed by #328.

[2017-07-26 19:09] #199 closed

[2017-07-26 20:07] frangio commented on #201
Closed by #328.

[2017-07-26 20:07] #201 closed

[2017-07-26 20:07] frangio commented on #200
Closed by #328.

[2017-07-26 20:07] #200 closed

[2017-07-26 20:08] #251 closed

[2017-07-26 20:12] frangio commented on #239
See [`TokenTimelock`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/TokenTimelock.sol) for the same functionality implemented for tokens.

We could evolve that same contract into a multipurpose `Timelock`, such that ether as well as _any_ token can be sent to the contract's address and later released.

[2017-07-26 20:15] #126 closed

[2017-07-26 20:18] frangio commented on #63
A quick update. A couple tutorials have been written by @gustavoguimaraes:
- [Setting Up a Bug Bounty Smart Contract with OpenZeppelin](https://blog.zeppelin.solutions/setting-up-a-bug-bounty-smart-contract-with-openzeppelin-a0e56434ad0e)
- [How To Create Token and Initial Coin Offering Contracts Using Truffle + OpenZeppelin](https://blog.zeppelin.solutions/how-to-create-token-and-initial-coin-off

[2017-07-26 20:26] frangio commented on #117
Fixed by #272.

[2017-07-26 21:42] jakub-wojciechowski commented on #331
I'd love to help with this issue. Expect a PR soon :)

[2017-07-26 22:00] MicahZoltu opened #335 "Remove reentrancy guard contract."
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/ReentrancyGuard.sol
It is _way_ too easy to incorrectly use the reentrancy guard contract and end up deadlocking your contract.  Recommend removing it from your collection of recommended contracts, even with its caveats listed.  In general, reentrancy guards via modifiers while a good idea on the surface introduce an easy way

[2017-07-26 22:05] MicahZoltu opened #336 "Provide verified library contract addresses to the public and provide interface files for integration."
Contracts like ECRecover are very useful but don't need to be re-uploaded and re-verified by everyone.  Instead it would be nice if OpenZeppelin uploaded these contracts to the chain, verified them with all major block explorers, registered them in the various method registries, and made the addresses of these contracts generally available.

To facilitate integration, it would be nice if these con

[2017-07-26 22:27] frangio commented on #331
Awesome @jakub-wojciechowski! I was going to add an example as part of #333 but I'll let you do it.

[2017-07-26 22:33] #332 closed

[2017-07-26 23:22] #295 closed

[2017-07-28 15:21] maraoz opened #337 "Remove return values of pause() and unpause() of Pausable"
Uneeded return values:

- https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/lifecycle/Pausable.sol#L37
- https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/lifecycle/Pausable.sol#L46

[2017-07-28 19:07] frangio commented on #331
@jakub-wojciechowski Do you have an ETA? Let me know if I can help.

[2017-07-28 23:38] jakub-wojciechowski commented on #331
Sorry for the little delay @frangio. I'm just relocating to another country. Let me know if you have any comments.

[2017-07-29 08:14] rstormsf commented on #335
hmmm.... IMHO, I don't see anything wrong with this protection. Maybe there will be a case when you need to do some work before you update the state. That's where you would use this modifier. Correct me if I'm wrong

[2017-07-29 08:16] rstormsf commented on #331
Ohh I already have done that with my personal project, I will dig into it after defcon

[2017-07-29 08:23] rstormsf commented on #297
https://ethereum.stackexchange.com/questions/419/when-can-blockhash-be-safely-used-for-a-random-number-when-would-it-be-unsafe

[2017-07-30 01:49] MicahZoltu commented on #335
The problem isn't with the protection of a mutex.  The problem is that this _mechanism_ of applying a mutex comes with some significant risks that are easy to miss and can lead to a complete deadlock of your contract(s).

[code]
The above contract will deadlock (become permanently unusable) if `veryRareCondition` ever evaluates to true.  Unfortunately, rare conditions like this can end up as unexe

[2017-07-31 14:42] #331 closed

[2017-08-01 15:00] Moejoe90 opened #343 "Crowdsale fails tests"
when i run `truffle test` on the crowdsale contract
i receive
`Error: VM Exception while processing transaction: invalid opcode `

[2017-08-01 15:48] SylTi opened #344 "MintableToken doesn't emit Transfer event"
Hey there !
To be fully ERC20 compliant a mintable token should emit a Transfer event, not a Mint event.
From ERC20:
"A token contract which creates new tokens SHOULD trigger a Transfer event with the `_from` address set to `0x0` when tokens are created.
*Note* Transfers of 0 values MUST be treated as normal transfers and fire the `Transfer` event."
see https://github.com/ethereum/EIPs/pull/610/fi

[2017-08-01 17:03] #343 closed

[2017-08-01 17:03] Moejoe90 commented on #343
Solved

[2017-08-01 22:45] frangio commented on #343
For the record, this was probably caused by lack of funds in testrpc. You should be running `npm test` which loads enough funds.

[2017-08-01 23:07] frangio commented on #344
Thanks a lot for reporting @SylTi! 😄

Technically, this is marked as `SHOULD` in the standard (as opposed to `MUST`), so I'd say `MintableToken` is compliant regardless. However, as we've discussed in [Slack](http://slack.openzeppelin.org/), the `Transfer` event seems to be picked up by Etherscan to show balances in their ERC20 web interface. For this reason we think it would be particularly benef

[2017-08-02 21:05] yarrumretep opened #346 "Token flavor that implements the approveAndCall and interface for receiveApproval OR ERC23?"
Propose to add a StandardTokenWithCall token flavor that extends StandardToken with the approveAndCall() method.  Also add an ApprovalReceiver interface contract that declares the receiveApproval method.

Happy to gin up a PR if that sounds good.

[2017-08-02 21:08] yarrumretep commented on #346
Alternatively, we could just add the approveAndCall() to the StandardToken implementation - though I'm don't think it's technically part of the ERC20 spec.

[2017-08-03 17:40] yarrumretep commented on #346
Alternatively, we could include an ERC23Token base implementation and ERC23Receiver interface.  Or BOTH, I suppose...

[2017-08-03 18:40] yarrumretep commented on #346
The ERC23 discussion is still fairly dynamic over here: https://github.com/ethereum/EIPs/issues/223  so we may not have a settled direction for a bit.

[2017-08-03 21:29] MicahZoltu opened #349 "I would love to see a thoroughly audited SafeMath file for signed integers."
I believe signed integers have a different set of problems from unsigned integers when it comes to safe math operations.  I would love to see a thoroughly thought through and audited version of SafeMath.sol but for signed numbers.

[2017-08-03 21:55] SylTi commented on #274
I would advise completly abstracting the vesting, so you could also make EtherVesting => allow people to slowly release the found of a crowdsales

[2017-08-04 10:18] SylTi commented on #239
I think it could also be interesting to have a simple base contract "lock", that could be inherited by different types of locks in the future. Example: MultiSigLock, OracleLock, VotingLock etc..

[2017-08-04 15:22] maraoz commented on #274
Great idea @SylTi !

[2017-08-04 16:20] izqui commented on #274
I made an EtherToken implementation for Aragon on top of Zeppelin that
could easily be incorporated for this purpose
https://github.com/aragon/aragon-core/blob/master/contracts/tokens/EtherToken.sol

On Fri, Aug 4, 2017, 5:22 PM Manuel Aráoz <notifications@github.com> wrote:

[2017-08-04 18:53] frangio opened #350 "Change crowdsales to use timestamps instead of block numbers"
Due to the difficulty bomb it is very hard to estimate block numbers.

[2017-08-04 20:33] #337 closed

[2017-08-04 21:20] frangio opened #351 "Decouple Crowdsale from MintableToken"
(Extracted verbatim from #310 by @jakub-wojciechowski.)

Crowdsale contract is tightly coupled to MintableToken. Wouldn’t it be better to make the base Crowdsale as generic as possible? It will allow others to implement a model when the token pool is created before a sale and then transferred rather than minted. Currently, it’s impossible to override methods like:

[code]

I will suggest extractin

[2017-08-04 22:02] frangio opened #352 "Duplicated crowdsale end logic"
As mentioned by @jakub-wojciechowski in #310 (items 4 and 5), there is somewhat duplicate logic in `Crowdsale` and in `CappedCrowdsale` in `validPurchase` and `hasEnded`.

We should see what is the best way to consolidate the logic in one place.

[2017-08-04 22:27] frangio commented on #310
- Moved 1 to #351.
- Moved 4 and 5 to #352.
- 3, 6 and 7 and have been fixed in #312.
- 2 and 9 we won't fix for the reasons @miohtama stated above. (The new `require` function makes preconditions in function bodies look much nicer.)
- 8 doesn't make much sense to me because the only address allowed to send money to the contract is the crowdsale, so there is no risk of someone sending money at a d

[2017-08-04 22:27] #310 closed

[2017-08-06 19:08] Moejoe90 commented on #343
Yes that was exactly the case @frangio thanks for your reply

[2017-08-07 15:22] SCBuergel commented on #350
Some thoughts from my end (cross post from Slack)
For now you are generally using `block.number` instead of `block.timestamp`.
*Advantages* of what you do:
- `block.number` will always increase by one compared to previous block, this is guaranteed by the protocol.
- `block.timestamp` can be minimally gamed by a miner, see [here](https://ethereum.stackexchange.com/questions/10941/is-solidity-block-

[2017-08-08 21:14] frangio commented on #346
Thanks @yarrumretep!

The proposal seems like it's still being actively developed, right? Could you share a summary of the discussion? How much consensus there is, what parts are still changing, etcetera. I think it can be useful to assess how we want to approach it in OpenZeppelin.

[2017-08-08 21:28] yarrumretep commented on #346
Hi @frangio, the discussion is at https://github.com/ethereum/EIPs/issues/223  I'll see if we can get things gelled a bit in the coming week or so - that ok by you guys?

[2017-08-08 22:19] frangio commented on #346
Yeah, definitely.

[2017-08-09 16:08] frangio commented on #335
Thanks for reporting, @MicahZoltu!

As I see it, there's two different issues here: 1) a bug report, which is that using the `nonReentrant` modifier can lead to deadlock, and 2) a suggestion to remove the feature altogether.

Maybe the bug can be fixed and there's no reason to remove the feature. I haven't been able to come up with a solution but I'll let others think it through. My first idea was

[2017-08-10 15:37] frangio opened #354 "Move truffle-hdwallet to devDependencies"

[2017-08-11 01:16] rstormsf opened #355 "Make tests run against Geth or Parity nodes"
I am not sure how you trust `testrpc` but I'd expect all tests pass in `geth/parity` dev chains. For now, it only works if ran against testrpc.
There are 86 failures.
1 that happens a lot is https://github.com/OpenZeppelin/zeppelin-solidity/blob/a344d42a00f47c82cb6ff1abbf39841114c362f6/test/helpers/expectThrow.js - doesn't work with the parity/geth.

[2017-08-11 01:38] frangio commented on #355
Thank you for reporting this. We will have to look into it.

[2017-08-11 01:45] frangio commented on #350
Thank you for your thoughts @SCBuergel. I agree with all of them. We have done the change because of the disdvantage you stated, and the reasoning that it's a good trade-off for crowdsales.

[2017-08-11 01:45] #350 closed

[2017-08-11 02:52] rstormsf commented on #355
https://rstormsf.github.io/zeppelin-test-report/mochawesome.html

[2017-08-11 06:22] tloriato commented on #120
Hey guys, I was wondering if I could get an overview over the `finishMinting()` function? I don't comprehend its purpose or why it should exists.

[code]

[2017-08-11 12:39] tloriato opened #356 "finishMinting()?"
Hey guys,I'm sorry to disturb the things around here, I see that you are pretty organized. I was wondering if I could get an overview over the `finishMinting()` function? I don't comprehend its purpose or why it should exists.

[code]

[2017-08-11 12:45] Ivshti commented on #356
Allowing the owner of the smart contact to stop the minting is something that can enforce trust in a given token.
For example, if you've promised to create tokens for your advisors after a crowdsale, you can do so and afterwards revoke your ability to mint new tokens, therefore ensuring that you can't theoretically continue minting for your own gain

[2017-08-11 12:47] tloriato commented on #356
Oh, I understand now. I thought it was a sub-state of a given time during execution. Thank you  @Ivshti !

[2017-08-11 12:47] #356 closed

[2017-08-11 13:35] spalladino commented on #335
@MicahZoltu as far as I understand, the "end" of a modifier is always executed (unless the function throws), regardless of whether the function returns or not. Actually there is a very similar example in the Solidity docs:

[code]

I haven't checked this behaviour yet though. But if the end is indeed executed, I think this issue could be closed, unless I'm not seeing something. WDYT?

[2017-08-11 14:24] frangio commented on #335
You're correct @spalladino. From [the docs](https://solidity.readthedocs.io/en/develop/contracts.html#function-modifiers):

[2017-08-11 14:24] #335 closed

[2017-08-11 16:13] #354 closed

[2017-08-11 17:10] Ivshti commented on #335
We have to keep in mind, before solidity 0.4.x (or so) there was a caveat where if a function returns, the rest of the modifier code would not be executed, because the "_" in the modifier acted as a pre-processor replacement rather than a function call.

I think this is resolved in solidity now and therefore should not be a problem.

Please correct me if I'm wrong

[2017-08-11 17:48] #344 closed

[2017-08-11 18:22] frangio commented on #335
That's right, @Ivshti. From the changelog in [version 0.4.0](https://github.com/ethereum/solidity/blob/develop/Changelog.md#040-2016-09-08):

[2017-08-11 18:23] frangio commented on #335
Since our contracts require Solidity version at least 0.4.11, it's not a problem for us.

[2017-08-11 19:09] frangio opened #358 "Revisit gas costs of having Crowdsale deploy the token itself"
The bytecode that results from having `Crowdsale` [deploy the token itself](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L58-L60) is too big and causes the deployment to be too costly.

Related to #351. Should be fixed the same way.

[2017-08-11 23:58] MicahZoltu commented on #335
Ah!  Great find!  I'm happy to hear this because I actually do use a Mutex and would _like_ to move it to a modifier.  :)

[2017-08-12 12:37] AOHUA commented on #358
I'm having the same issue when deploy the sample crowdsale code to Ropsten, even it fails, still costing me 0.5 ether for gas. How did you guys solve this issue?

[2017-08-12 20:59] frangio opened #359 "Errors in npm dependencies"
The output of `npm list` shows two error messages:

I think this is related to the [forked packages](https://github.com/sc-forks) that solidity-coverage depends on. My guess is that npm is getting confused somehow because a lot of them are named the same way as the official packages.

- [provider-engine-sc](https://github.com/sc-forks/provider-engine-sc/blob/master/package.json#L2)
- [ethereumjs-v

[2017-08-12 21:01] frangio opened #360 "Make sure yarn.lock is in sync with package-lock.json"
I think this is doable with the `yarn import` command.

~Blocked by #359.~

[2017-08-12 21:05] cgewecke commented on #359
@frangio - I'll open a PR bumping you to the latest solidity-coverage. It uses a version of testrpc 4.x that webpack bundles all the deps.

[2017-08-12 21:10] frangio commented on #358
Setting the truffle gas limits manually. @spalladino maybe remembers the exact parameters we used.

[2017-08-12 21:14] spalladino commented on #358
The problem was deploying a customised version, so that exact same value
would not apply. You may want to check on etherscan what gas limit is being
set by truffle, and try increasing it.

On Sat, Aug 12, 2017, 18:10 Francisco Giordano <notifications@github.com>
wrote:

[2017-08-12 21:46] frangio commented on #359
Thanks for the prompt response @cgewecke! That fixed it. 😃

[2017-08-12 21:47] #359 closed

[2017-08-12 22:26] #360 closed

[2017-08-12 22:27] frangio commented on #284
There are now both `yarn.lock` and `package-lock.json` files in the repository. They are kept in sync via `yarn import` after #363.

[2017-08-13 00:54] hh3755 opened #365 "Safemath add function integer overflow check"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/6e66ba321e545c7840f51ba978a0dd9aaad3ad99/contracts/math/SafeMath.sol#L27-L31

Here `assert(c >= a);`  should we check `a` and `b` both for a unsigned integer overflow ?

Maybe I missed something, If I'm wrong,please pointing out,thank you.

[2017-08-13 02:00] frangio opened #366 "Granularity of permissions"
Some contracts need to have an account with special permissions. An example is `MintableToken`, which has an address which is the only one allowed to mint tokens. These are currently implemented as `Ownable`, with the special permissions assigned to the `owner` (by marking some functions as `onlyOwner`).

Sometimes a single contract has more than one feature requiring special permissions. Imagine

[2017-08-13 03:16] frangio commented on #365
Hi @hh3755! Thanks for the reaching out.

It actually suffices to check that `c >= a`. A small proof follows.

We will see that it cannot be that there is overflow and `c >= a` is true. Suppose there is overflow, then under the usual arithmetic `c = a + b - M` (where `M = 2**256` is the maximum `uint256` plus one), because the addition wraps around. If `c >= a` we can replace to get `a + b - M >=

[2017-08-13 08:08] SCBuergel commented on #366
IMO we have to trade-off between granularity (ideally separate access control per-non-constant function) and easy of management (maybe a few roles to which we can subscribe accounts). Why not have a `hasRole(x)` modifier with some readable `enum x` and add that to every function? Disadvantage of that `enum x` is that is has to be known at compile time. Disadvantage of having super dynamic roles wh

[2017-08-13 13:02] yaronvel opened #367 "HasNoTokens.sol issues Unused local variable compilation warning"
solc version 13.

[code]

[2017-08-13 21:40] frangio commented on #366
The enum approach sounds good for a project-specific contract, and we could recommend that to developers, but I don't think it'll be useful for a general purpose library like OpenZeppelin. Aside from having to be known at compile time, they are also not extensible by subclasses. We would have to have a global enum with all of OpenZeppelin's roles.

Auditability is an important design objective, it

[2017-08-14 07:08] SCBuergel commented on #366
TBH I had no perfect solution in mind but having an `owner`-DAO sounds like a reasonable way to go. It's probably more expensive in terms of gas (since we need another call), so maybe we could derive from that DAO instead of setting it as a (separate) owner account? Either way, having a well structured and abstracted DAO might come with little overhead compared to user roles: propose, vote, resolv

[2017-08-15 13:38] yaronvel opened #370 "Transfer and Approve events are slightly different from ERC20 standard wiki (missing _)"
For example, you are using `from` instead of `_from` in `Transfer` event.
See wiki [here](https://theethereum.wiki/w/index.php/ERC20_Token_Standard).

It could cause problems when parsing events with web3.
However, I am guessing this standard is not strictly followed and devs cannot rely on it anyway.

[2017-08-15 14:49] frangio commented on #370
Thanks for reporting @yaronvel!

I've noticed this before, but I don't think it's an issue. The argument names are not included in the actual event data. They're only used when _decoding_ it at the application level. See web3's [`decode`](https://github.com/ethereum/web3.js/blob/6d3e61a010501011a107a79574cc7516900fa9e4/lib/web3/event.js#L140-L165) function. The event data is in two arrays which ar

[2017-08-15 14:54] yaronvel commented on #370
Yeah, it is very minor issue.
I encountered it when my truffle test failed for unknown field name. So it does have (minor) meaning.

Anyway, just wanted to let you know. As you are already aware of it, i will close the issue.

[2017-08-15 14:54] #370 closed

[2017-08-15 16:05] frangio commented on #370
What do you mean with the unknown field name? Is it posible that it said `<indexed>` ?

[2017-08-15 16:19] yaronvel commented on #370
If I use `log.args._from.valueOf()` it throws an exception as `log.args._from` is undefined.
So I have to use `log.args.from.valueOf()`.
This is the full code:

[code]

[2017-08-15 20:52] grempe opened #371 "Typos in StandardToken"
On this line:

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/StandardToken.sol#L24

The words `amout` and `transfered` are both misspelled.  Should be `amount` and `transferred`.

[2017-08-15 20:55] grempe opened #372 "Incorrect comment in PausableToken example"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/PausableToken.sol#L9

Says:

[code]

Should say:

[code]

[2017-08-16 16:59] yaronvel opened #375 "Minor issue: It is possible to transfer more than user balance when transfering to self with transferFrom"
In `transferFrom` first receiver balance is increment and only then spender balance is decremented.
This allows to send more than you have. It is very minor as you send it to your self and total balance is not affected.
However, it is inconsistent with `transfer` where you first decrements sender balance and only then increment receiver balance.

[2017-08-17 02:25] rstormsf commented on #355
I believe it also has a lot to do with:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/helpers/increaseTime.js

[2017-08-17 16:35] kylerschin commented on #346
Hi! @frangio @yarrumretep I'm working on a project called solariot and creating a token called solCredits https://github.com/solariot . The way payments work in my p2p electricity network is using smart contracts and having both parties verify the transaction of the tokens. Since the tokens are held in the smart contract, I'm looking for a secure way to implement tokens in a smart contract, where

[2017-08-17 18:12] frangio commented on #375
Great find, @yaronvel!

Just to clarify for everyone who sees this, this is only a minor problem because **the sender's balance remains the same**. However, attempting a transfer of more than the balance should fail.

I think this is actually an oversight in the ERC20 spec, too. For `transfer` it specifies that it should throw if the sender doesn't have enough balance, but it doesn't say anything

[2017-08-17 18:21] yaronvel commented on #375
Thanks, I will submit PR soon.
One should also be aware that `Transfer` event will be logged. So if some services rely on this log (e.g., measure daily volume), it could be a real issue.

[2017-08-19 05:40] appjitsu opened #382 "Errors in SampleCrowdsale example"
![image](https://user-images.githubusercontent.com/10903600/29483838-80789394-8476-11e7-8a6f-6f857d23f6f7.png)

Each of the following lines in **bold** gives a "TypeError: Referenced declaration is neither modifier nor base class" error in Remix.

function SampleCrowdsale(uint256 _startTime, uint256 _endTime, uint256 _rate, uint256 _goal, uint256 _cap, address _wallet)
    **CappedCrowdsale(_cap)

[2017-08-19 05:50] appjitsu commented on #382
NVM. It was because I forgot to change the name of the constructor.

![image](https://user-images.githubusercontent.com/10903600/29483906-5b93c772-8478-11e7-845d-dcdfadfef263.png)

[2017-08-19 05:50] #382 closed

[2017-08-19 16:43] appjitsu opened #383 "List of ICOs that have used OpenZeppelin?"
Can you provide a list of successful ICOs that have used OpenZeppelin in full or at least in part?

[2017-08-19 19:07] #371 closed

[2017-08-19 19:07] frangio commented on #371
Thanks for reporting @grempe!

[2017-08-19 19:27] frangio commented on #375
That's correct. Thanks for reporting and fixing!

[2017-08-19 19:27] #375 closed

[2017-08-19 19:31] frangio commented on #383
Hi @appjitsu! @demibrener might have such a list handy.

[2017-08-19 19:40] #372 closed

[2017-08-19 21:15] allurco opened #385 "NPM is not updating with the master branch"
The NPM version is not the same as the Master Branch, what should I do? Clone and replace?

[2017-08-19 21:26] frangio commented on #385
Hi @allurco. You should absolutely not use the master branch. It is for development, and you should only use the releases for your own project.

Expect a release in the coming week with all of the changes that have been merged recently. 🙂

[2017-08-19 21:26] #385 closed

[2017-08-19 22:25] dmx374 opened #387 "Add a deadline for claiming refunds in RefundVault"
Unclaimed funds will be locked in the refund vault (and lost forever) if some contributors never ask for a refund.

Possible solution: contributors should have a deadline (let's say 365 days) to ask for a refund, then the owner should be able to release the remaining unclaimed funds to the wallet.

I don't have time to test or make a pull request, but basically it should looks like this:

[code]

[2017-08-20 00:59] #365 closed

[2017-08-20 15:09] yarrumretep commented on #346
@frangio - the ERC223 conversation still seems pretty raw.  The current proposal is likely to be breaking for multi-sig wallets and other contracts that may depend on blind-contract-token transfers.

I think I'd recommend we hold off on implementing anything in open-zeppelin for the moment.  How about I remove the implementation and submit only the approveAndCall() implementation which gets at the

[2017-08-21 15:29] frangio commented on #387
Hi @dmx374! Thanks for reporting.

This has been brought up before in #310. I don't agree that the funds are locked or lost forever, because anyone can trigger an investor's refund. It's possible to write a script that will get the investors' addresses from `Crowdsale` events and empty the `RefundVault` completely. I find this behavior to be more investor-friendly than the proposed alternative, wo

[2017-08-21 19:32] frangio opened #393 "Rename Truffle config file for Windows compatibility"
See #376, reverted in #392.

Waiting for sc-forks/solidity-coverage#93.

[2017-08-22 05:21] duckranger commented on #366
I think there are multiple scenarios here. Having a distributed authorization model is very interesting and needs some design thinking. However - a simple Role Based Authentication Control is relatively simple to achieve. I have created sample code at https://github.com/duckranger/zeppelin-solidity/tree/rbac.
Inside the contracts/rbac directory you can find the RoleDirectory - which is the main ro

[2017-08-22 20:21] frangio opened #396 "Make decimals uint8 in token example"
The decimals variable should be `uint8` according to [ERC20 spec](https://github.com/frozeman/EIPs/blob/94bc4311e889c2c58c561c074be1483f48ac9374/EIPS/eip-20-token-standard.md#decimals). https://github.com/OpenZeppelin/zeppelin-solidity/blob/f45a4e824363718fc625c519cc3db9268a7263ab/contracts/examples/SimpleToken.sol#L17

[2017-08-23 02:18] etardis opened #397 "Address support compatable with https://ens.domains/ (name.eth) [FEATURE REQUEST]"
It would be nice if addresses could be replaced by "name.eth" with registered names at https://ens.domains/.

My thought would be to setup something like the following:
) token = token.name.eth
) During preICO:  contract = name.eth  (name.eth is set to the preICO contract address through the registrar)
) After preICO: reset name.eth contract address at registrar to NULL contract (funds/tokens boun

[2017-08-23 17:27] maraoz opened #399 "Use "grains" to talk about token's smallest unit in docs"

[2017-08-23 17:28] maraoz opened #400 "Check that destination of token transfers is not 0x"
Do we want to add `require(_to != address(0))` to `transfer` and `transferFrom`?

[2017-08-23 17:29] maraoz opened #401 "approve should not work on paused PausableToken"
Not 100% sure, but let's discuss

[2017-08-23 20:45] demibrener commented on #383
There's no such thing as a formal list, but projects I know that have used OpenZeppelin - in full or in part - include Aragon, Storj, Civic, Tierion and Augur (migrated their token to OpenZeppelin recently).
I'm sure there are many more projects using it that I forgot or I'm not aware of. It would be great to have some sort of tool that looks at Etherscan and can identify OpenZeppelin contracts de

[2017-08-23 23:04] pash7ka commented on #324
Do we want to allow BurnableTokens to be burned if sended to 0 address?
Also, may be it is useful to burn tokens sended to the token address. This'll allow simple burning tokens from any wallet which supports ERC20.
Also, may be it is usefull to allow token holders to be rewarded for burning. So we may end up with smth like this: https://github.com/MATREXA/MTRX-Contract/blob/master/BurnableToken.s

[2017-08-24 13:44] androolloyd commented on #396
https://github.com/OpenZeppelin/zeppelin-solidity/pull/405

[2017-08-24 15:25] androolloyd commented on #396
this ticket can be closed, i didn't reference the issue when committing, or in my PR, sorry about that.

[2017-08-24 15:43] androolloyd commented on #1
the DEH is an interesting mechanism, and one that I will explore, is this still an active ticket?

[2017-08-24 19:55] SylTi commented on #400
Why? You can have use cases that need to send funds to a non-accessible address.
And why only checking for a null address? why not also check for validity?

[2017-08-24 20:47] dmx374 commented on #387
Hmmm, I let me check if we can do something better. I don't really like the refund method mechanism you implemented. People should not be able to refund on the behalf of others.
In general, I think people should control they own money, so It's best to avoid any method that let someone buy, or sell, or refund on the behalf of others.

I think the only reason you did this that way is that a guy (or

[2017-08-24 21:15] frangio commented on #366
I like it! I had taken a shot at RBAC with a Roles library [here](https://github.com/frangio/zeppelin-solidity/blob/feature/roles/contracts/Roles.sol). There are a couple of things in your implementation that I like better:

1) I was planning to reimplement `Ownable` as a role like the rest, but I agree with your implementation now, in that it should remain a separate simpler ad-hoc role with the

[2017-08-24 21:22] frangio commented on #400
What does it mean to check for validity?

In general we add checks for the null address because uninitialized values in the EVM are zero values. It helps prevent errors. A use-case where it's needed to make tokens inaccessible would be better served by a custom (non-ERC20) function that removes the tokens from circulation.

[2017-08-24 21:47] frangio commented on #401
My intuition is that `Pausable` should make all public non-constant functions stop working, except for some emergency mechanism that the owner can activate.

[2017-08-24 22:18] frangio commented on #387
Can you explain this further? Why is it best to avoid such things? Because of security, legal reasons, or something else? We implemented refunds in this way because we saw no problem with it.

I think the `release` functionality you proposed is quite interesting, but I don't see how it's a solution or relates to the problem of stuck funds.

[2017-08-24 22:23] frangio commented on #1
Definitely! Go ahead. 😄

[2017-08-24 23:22] frangio commented on #324
I think we should keep the semantics of `transfer` as they are. I wouldn't expect a token to be burnable through a standard ERC20 wallet.

The reward mechanism is interesting! Quite rare, though. I don't think most tokens will find use in something like it.

Closing since it was fixed by #341!

[2017-08-24 23:22] #324 closed

[2017-08-25 00:03] #396 closed

[2017-08-25 02:09] rstormsf commented on #355
Here is my suggestion:
How about instead of relying on
[code]
which doesn't exist in parity/geth, we refactor every single occurence of `block.number` or `now`
in methods like:
[code]

that would allows us to create MockContracts with 1 additional setter:

[code]
@frangio @maraoz comments?

[2017-08-25 02:31] frangio commented on #355
It's an interesting proposal. Even if we don't migrate to it just now, I think it would make a nice addition to the library for people who want to run their tests on actual blockchains (which arguably should be everyone). Do you want to make a PR for it?

Do you know how many of the failing tests are due to this?

[2017-08-25 03:01] rstormsf commented on #355
@frangio thank you for your feedback.
I will arrange a PR when I have time to see if I can fix all test cases. I will re-run my suite since there is some new code/commits and I will report my results.
I can consider that this approach will be approved, so I can give it a try to refactor all contracts.

Almost all non-helper, non-interface contract already has a relative MockContract. So I don't th

[2017-08-25 23:30] SylTi commented on #326
Went through the exact same process a few days ago, great work!

[2017-08-25 23:47] #393 closed

[2017-08-26 02:03] duckranger commented on #366
Thanks @frangio :)

1. With owner I suppose you could do either, my concern was with existing code where you'd want to
plug the RBAC mechanism into - and ensure that things don't suddenly break. However- implementers can do either, so it might be worth it?
2. I don't think that a hierarchical role structure is absolutely necessary, but it can help in some situations, think team-lead and technical-

[2017-08-26 11:28] SylTi commented on #400
What I mean by invalidity is non-redeemable address like 0xDead, 0x1 etc.

I agree, but you can't make that error by forgetting a parameter, the function takes 2, so you must provide 0x0 manually or the EVM will throw because of the invalid number of arguments.

[2017-08-27 02:53] deniskrop opened #408 "CrowdsaleToken.sol No Longer Here"
There was a solidity class called CrowdsaleToken.sol but now it's missing - what is the replacement for it? I cannot seem to find it.

[2017-08-27 05:31] roynalnaruto opened #409 "truffle compile error: could not find zeppelin-solidity/contracts/..."
I can see `zeppelin-solidity` in the /usr/local/lib/node_modules on my mac.
I created project with `truffle init`, but in one of my contracts, I cannot import the zeppelin contracts successfully.

[code]

on `truffle compile` I get the following output:
[code]

the versions are:
Truffle v3.4.9
npm 3.10.10
solcjs 0.4.15+commit.bbb8e64f.Emscripten.clang

[2017-08-27 22:02] frangio commented on #408
It's the [crowdsale](https://github.com/OpenZeppelin/zeppelin-solidity/tree/master/contracts/crowdsale) contracts.

[2017-08-27 22:02] #408 closed

[2017-08-28 08:26] pash7ka commented on #401
May be I'm wrong, but in my opinion purpose of PausableToken is to allow non-atomic or time-consuming tasks to be executed while balances are immutable.
For example, if you need to count votes this may require a few transactions because of gas limit. So you can pause transfers while you are counting. Or you may decide to pause during whole voting process to make things simple.
But in both this exa

[2017-08-28 15:29] frangio commented on #401
@pash7ka I like your reasoning and it may be a good use case, but I don't think it's aligned with the purpose of `Pausable`.

We consider `Pausable` to be an ["emergency stop" mechanism](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/lifecycle/Pausable.sol#L9). The problem with this mechanism is that one must manually add `whenNotPaused` modifiers to all the relevant funct

[2017-08-28 15:39] frangio commented on #400
The thing is there is no way to identify that an address is non-redeemable. Any address is potentially non-redeemable if no user has a private key for it (and it's not a contract address).

[2017-08-28 17:32] frangio commented on #409
Can you try installing OpenZeppelin locally (instead of globally)? I agree that this should work but it seems to be a problem with Truffle not considering global node modules. We should report this to the Truffle project if it hasn't already been reported.

[2017-08-28 22:22] iTokens opened #414 "Existing Token giveaway contract?"
I have a token, and I want to do a free ico giveaway like, even of someone sends me even the smallest amount of ether possible, even 0, I want to send them back 1000 of my token. The Token is already issued, and I'm also not sure if it is possible to deploy a second contract on a token that's already been created. Is there an existing script in OpenZepplin I can use for something like this?

[2017-08-28 22:39] frangio commented on #414
Hi @iTokens! There is no contract in OpenZeppelin that will allow you to do this. It should be a very simple contract that you can write in just a few lines of code. 🙂

[2017-08-28 22:39] #414 closed

[2017-08-28 22:41] #400 closed

[2017-08-28 23:04] iTokens commented on #414
@frangio So far we have the following for the faucet address, can you please advise:

[code]

[2017-08-29 01:18] iTokens commented on #414
@frangio  I am having transaction errors when using the code I pasted, when sending and receiving ethereum, do you see any errors in the code?

[2017-08-29 01:32] frangio commented on #414
Please don't use the issue tracker for general questions about Ethereum development. We'll be glad to continue the discussion in our Slack, perhaps in the #beginners channel. 😊

slack.openzeppelin.org

[2017-08-29 07:41] ravikiransharvirala commented on #409
Same issue for me too(Error: Could not find zeppelin-solidity/contracts/token/MintableToken.sol). I installed OpenZeppelin locally

[2017-08-29 19:32] DaveAppleton commented on #350
Finally.

Months ago I reported that the ethereum team members had agreed that a block time could not be gamed by more than a few seconds. Certainly not the 15 minutes mentioned above.

The original comment was to prevent it being used for things like rand seeds.

[2017-08-30 15:07] fjchen7 opened #418 "How can I migrate contract which inherits RefundableCrowdsale?"
### Problem

I follow the tutorial [How To Create Token and Initial Coin Offering Contracts Using Truffle + OpenZeppelin](https://blog.zeppelin.solutions/how-to-create-token-and-initial-coin-offering-contracts-using-truffle-openzeppelin-1b7a5dae99b6) and want to deploy a contract which inherits `RefundableCrowdsale`.

This is my contract file named `GustavoCoinCrowdsale.sol`
[code]
Here I can pass

[2017-08-30 15:28] frangio commented on #418
Hi @fjchen7!

Please take a look at the [SampleCrowsale](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/examples/SampleCrowdsale.sol#L34-L37) example. Notice how all the parent constructors are called. It's not that `RefundableCrowdsale` _overrides_ the `Crowdsale` constructor with less arguments, but that it leaves the `Crowdsale` constructor uncalled so that you have to

[2017-08-30 15:28] #418 closed

[2017-08-30 15:56] fjchen7 commented on #418
Hi @frangio
Must I

[2017-08-30 16:00] fjchen7 commented on #418
Hi, @frangio
I got it. Thank you!

[2017-09-01 09:59] iam-dev opened #419 "StandardToken TransferFrom test has failed"
Error:

[code]

[2017-09-01 10:46] iam-dev commented on #419
I've copied the original test and truffle tested it.
It works.

Then I put back my own test code and it also works.. Some kind of hicked up??!

[2017-09-01 10:46] #419 closed

[2017-09-01 14:25] frangio commented on #419
Hi @iam-dev! I didn't quite follow. Was there a problem?

[2017-09-01 14:55] sh4ka commented on #409
@roynalnaruto Can you try with single quotes instead?

[2017-09-02 16:47] parsparab opened #421 "Error: Definition of base has to precede definition of derived contract contract MintableToken is StandardToken, Ownable"
Error: Definition of base has to precede definition of derived contract
contract MintableToken is StandardToken, Ownable

[2017-09-02 20:42] frangio commented on #421
Hi @parsparab, thanks for reporting! What version of Solidity are you using?

[2017-09-03 14:00] parsparab commented on #421
Hi @frangio , I'm using pragma solidity ^0.4.11; version, I guess which is compatible with all latest files.

[2017-09-04 03:27] frangio commented on #421
But can you tell us what specific compiler version produced this error? You can find out by doing `truffle version` or `solc --version` perhaps.

[2017-09-04 03:37] parsparab commented on #421
I'm using solidity remix compiler.

[2017-09-04 04:47] y-zono opened #422 "Which contract can be used for swap between ETH and Token."
I want to swap between Ether and Token like the following use case. Which contracts of zeppelin-solidity can be used?

Actors

[code]

Use Case

[code]

[2017-09-04 15:31] frangio commented on #422
Hi @y-zono! It sounds like a "continuous sale" model. We don't have an implementation of it in OpenZeppelin at the moment but you should check out [decentraland/mana](https://github.com/decentraland/mana)'s [ContinuousSale](https://github.com/decentraland/mana/blob/master/contracts/ContinuousSale.sol).

[2017-09-04 16:09] frangio commented on #297
There is an [On-chain Random Number Generation](https://github.com/ethereum/research/wiki/Problems#21-on-chain-random-number-generation-63) entry in the ethereum/research problem list.

[2017-09-04 16:21] y-zono commented on #422
@frangio Thanks! Seems that is what I wanted. I will try to use it.

[2017-09-04 16:21] #422 closed

[2017-09-05 20:10] rstormsf commented on #355
@frangio I found another problem:
testrpc would reject transaction and execution if there is broken condifion. For Example:
`require(false)`
so, right now, we use something like
[code]
so, in geth mode, every transaction goes thru, and mined, whether it throws or not.

[2017-09-05 22:55] kkx opened #425 "Comments for whenNotPaused and whenPaused are confusing"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/b07466a4777297a47bed894c487847a4ce201076/contracts/lifecycle/Pausable.sol#L19-L27

[code]

i think should reverse these two comments

[2017-09-05 23:00] frangio commented on #355
Hm, I had heard about that. We should define the necessary helper functions to abstract away the details.

Last time I checked, given a mined transaction we can look at the used gas to infer whether it succeeded or failed. Maybe we can also use the `trace` RPC module...

[2017-09-05 23:01] rstormsf commented on #355
@frangio could you explain a bit more on how to read in geth if transaction was failed?

I was also thinking of something like:

[code]

[2017-09-06 16:18] 7flash opened #427 "Why different branch is npm packaged?"
"npm install zeppelin-solidity" clone "crowdsale-whitelisted" branch. It makes a lot of confusion for me

[2017-09-06 18:04] frangio commented on #427
Hi @7flash. I'm quite sure it's not installing that branch. It is installing the latest version which is behind `master`.

[2017-09-06 18:10] frangio commented on #425
Thank you @kkx! Has been fixed in #428.

[2017-09-06 18:22] frangio commented on #355
We don't need to pass the method and params separately because method calls return promises. Something like [`expectThrow`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/test/helpers/expectThrow.js) except if the promise resolves successfully we have to get the transaction receipt or (if available) the trace to check whether the transaction actually succeeded or not.

Sorry I can't

[2017-09-06 18:57] 7flash commented on #427
I was confusing by changing from "startBlock" to "startTime". So this change is planned for next release?

[2017-09-06 19:25] #425 closed

[2017-09-06 19:26] frangio commented on #427
Yes! 😃

[2017-09-06 19:26] #427 closed

[2017-09-07 09:50] dmx374 commented on #387
I understand your point of view, but it might cause multiple problems (legal, and technical).
It's like someone can get access to your bank account and transactions, and decide to refund something on your behalf without your consent.

Worst: imagine a guy buy tokens from a crowdsale. Then, a few days later he lost his private key and had to create another wallet. This case is rare but with your pu

[2017-09-07 16:46] tavitohanian opened #429 "The operation for multisig functions must have an intrinsic hash"
reference 1: documentation comments above modifier onlymanyowners(bytes32 _operation) in file zeppelin-solidity/contracts/ownership/Shareable.sol wants the operation hash to be intrinsic.

reference 2: function confirm(bytes32 _h) onlymanyowners(_h) returns (bool) confirms and checks that the multisig operation can be executed based on this hash (_h) that is computed in function execute(address _t

[2017-09-07 17:22] tavitohanian commented on #429
from my package.json:
  "_from": "zeppelin-solidity",
  "_id": "zeppelin-solidity@1.2.0",

[2017-09-08 01:30] vinniejames commented on #358
I'm having the same/similar problem. I cannot deploy the SampleCrowdsale. Im attempting on Ropsten, using Remix, and passing in these parameters to "Create" for `SampleCrowdsale(300, 172800, 1000, 20, 30, "0xADDRESS")` Is there a way to deploy this? I've tried increasing the gas limit super high in Remix, no such luck `callback contain no result Gas required exceeds block gas limit: 300000000`

[2017-09-08 04:27] y-zono commented on #358
I'm also having the same/similar problem. I posted about it to stackexchange. I'd appreciate it if you could help me.

https://ethereum.stackexchange.com/questions/26012/is-it-possible-to-divide-my-crowdsale-contract-into-multiple-files-in-order-to-s

[2017-09-08 07:29] gundas commented on #358
I think the error might be caused by the constructor arguments - the first and second Crowdsale constructor arguments are **timestamps**, not block numbers. Probably this check throws:

function Crowdsale(uint256 _startTime, uint256 _endTime, uint256 _rate, address _wallet) {
    **require(_startTime >= now);**

[2017-09-08 07:38] vinniejames commented on #88
I like this

[2017-09-08 08:38] y-zono commented on #358
Thanks! @gundas As you mentioned, I could deploy it after change to timestamp. I'm sorry please forget my issue. I updated my stackexchange post.

[2017-09-08 09:57] superphil0 commented on #16
We are currently implementing an oracle with https://tls-n.org/, I can let you guys know how our experience was. (T

[2017-09-08 11:27] SCBuergel opened #431 "zombie-instance of `testrpc` sometimes remains running in background"
Expected behaviour: Running `npm test` should run tests, start `testrpc` (if needed) in background, produce output messages and/or errors and then terminate the `testrpc` that is running in background.

Actual behaviour: Upon running the Zeppelin test setup against some other smart contracts, `testrpc` sometimes remains running in the background. This breaks all following attempts to run a test be

[2017-09-08 18:06] cgewecke commented on #431
@SCBuergel Are you only seeing this issue on port 8555? Could you post a link to the repo you're testing, or the contents of your `.solcover.js` config file?

`8555` is the port solidity-coverage uses and it will launch a testrpc in the background on its own unless `norpc` is set to true in its config file.

[2017-09-08 19:32] frangio commented on #431
Hi @SCBuergel, I've noticed this as well and have already pinned down the cause, I think. It was introduced in #369 and is due to `testrpc` being a function which is run in the background.

Sorry for the inconvenience! I will fix it asap.

[2017-09-08 19:34] frangio commented on #431
It's odd that this is happening on port 8555, though. That port should be used only with `SOLIDITY_COVERAGE=true`.

[2017-09-08 20:34] frangio commented on #429
Thanks for reporting @tavitohanian!

MultisigWallet is no longer part of OpenZeppelin as of #328, so I will close this issue.

However, the question is interesting, and the piece of code can be found live in [ethereum/dapp-bin](https://github.com/ethereum/dapp-bin/blob/master/wallet/wallet.sol#L343-L363). The `block.number` is acting as a nonce, so that the same parameters can be used for a multis

[2017-09-08 20:34] #429 closed

[2017-09-08 20:55] frangio opened #432 "Replace var with explicit type"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/07b688a0e69c52f45da1b8ccfe7eead4bde00e01/contracts/token/StandardToken.sol#L29

[2017-09-08 22:07] SCBuergel commented on #431
@frangio you are right, we were running with solidity-coverage hence that port but the behaviour seems to be the same disregarding if we have coverage on or not (just on the normal port then).

[2017-09-10 14:42] sudorobot opened #433 "Token transfers not appearing on EthereScan.io for Crowdsale contracts"
For example, in the crowdsale for JesusCoin (https://etherscan.io/address/0x102580c6308a4ec4708c8241bd29d1c02e1f9a2d) new tokens are minted, and can be seen with the ERC20 function for balanceOf(). However, users are not seeing the tokens as a transfer, and EtherScan doesn't log them as such. I tried adding the event for Transfer() in addition to the event for Mint() but not with any success.

I h

[2017-09-10 20:25] SylTi commented on #387
You could also do something like this:
if msg.sender == owner => allow refund to any address (as existing)
if investor == 0x0 => send balance of msg.sender to sender
if investor != 0x0 => send balance of msg.sender to investor address

[2017-09-11 01:46] param087 commented on #409
same issue for me too if any one find answer please let us know

[2017-09-11 04:05] roynalnaruto commented on #409
@sh4ka no, I tried that too. Did not work.

[2017-09-11 08:05] mikhail-vladimirov opened #434 "totalSupply should be a function, not state variable"
In `ERC20.sol` and `ERC20Basic.sol` interfaces `totalSupply` is declared as a state variable rather than function:

    uint256 public totalSupply;

This makes it impossible to use theses interfaces for token contracts that calculate `totalSupply` value like this one: https://github.com/BCAPtoken/BCAPToken/blob/004c49da7d4f58309c1fc0018dae8260ea03d8f2/sol/StandardToken.sol#L31

So, the declaration

[2017-09-11 08:15] mikhail-vladimirov opened #435 "Improper use of assert() in BasicToken and other places"
Method `transfer` of `BasicToken` smart contract uses method `sub` defined in `SafeMath` library to implicitly check that sender's balance is enough to transfer:

    balances[msg.sender] = balances[msg.sender].sub(_value);

Method `sub` internally uses `assert()` function like this (`a` and `b` and method parameters):

    assert(b <= a);

So, when sender's balance is insufficient, assert will fa

[2017-09-11 13:25] mikhail-vladimirov opened #436 "Parameter `value` of event `Burn` should not be declared as `indexed`"
Currently, parameter `value` of event `Burn` declared in `BurnableToken.sol` is declared as `indexed` in contrast to similar parameters of other events.  It should not be declared as `indexed` because it does not make much sense to filter `Burn` event by exact value of `value` parameter.

[2017-09-11 13:39] 3sGgpQ8H opened #437 "Method `decreaseApproval` in unsafe"
Method `decreaseApproval` in `StandardToken.sol` is unsafe.  Here is the scenario.

1. Bob is allowed to transfer zero Alice's tokens
2. Alice allows Bob to transfer 100 of here tokens via `approve` or `increaseApproval` method and transaction is executed successfully
3. Alice sees that Bob is now allowed to transfer 100 of her tokens
4. After some time, Alice uses `decreaseApproval` method to dec

[2017-09-11 13:45] mikhail-vladimirov opened #438 "Implementation of `approve` method violates ERC20 standard"
Currently, `approve` method in `StandardToken.sol` does not allow to set allowance to non-zero value if current allowance is non-zero.  This directly violates ERC20 standard that says:

EIP-20 pull request adds the following to the description of `approve` method:

So current implementation of `approve` in `StandardToken.sol` violates EIP-20 as well.

[2017-09-11 14:31] #383 closed

[2017-09-11 14:32] frangio commented on #433
Hi @sudorobot! This was fixed in #345 which will be in the next release.

[2017-09-11 14:32] #433 closed

[2017-09-11 14:33] frangio commented on #435
Thanks for reporting @mikhail-vladimirov! I agree with your assessment. Do you want to submit a PR changing to `revert`?

[2017-09-11 14:40] frangio commented on #434
Hi @mikhail-vladimirov. The `public` modifier declares a function `totalSupply` with the required signature, but it's correct that the interface can't be used to implement something like BCAPToken because Solidity will not allow to define the `totalSupply` function.

We should change this.

[2017-09-11 14:43] mikhail-vladimirov commented on #435
@frangio I'm personally strongly for return false versus revert(), my motivation is here: https://github.com/ethereum/EIPs/pull/610#issuecomment-305770167.  So I prefer somebody else to submit this PR.

[2017-09-11 14:43] Ivshti commented on #383
Adex (https://GitHub.com/adexblockchain ) is using openzeppelin both for it's token sale (conducted successfully in June) and for its product's smart contracts (released on github)

[2017-09-11 14:43] frangio commented on #437
Agreed.

[2017-09-11 14:46] mikhail-vladimirov commented on #434
@frangio Actually there is a bug-like feature in Solidity that forbids to override abstract public function with public variable like this:

    contract Foo {
        function x () constant returns (uint);
    }
    contract Bar is Foo {
      uint public x; // We want to override Foo.x() with auto-generated public getter for x here
    }

Hope this will be fixed some day.

[2017-09-11 14:51] mikhail-vladimirov commented on #434
@frangio Unfortunatelly, Solidity has bug-like feature that disallows to override public function with public variable like this:

    contract Foo {
      function x () constant returns (uint);
    }
    contract Bar is Foo {
      uint public x; // We want to override Foo.x() with auto-generated public getter for x here
    }

I hope this will be fixed one day.

[2017-09-11 15:07] frangio commented on #437
Hi @mikhail-vladimirov, thanks for reporting! (And thanks for the overall thorough review.)

I thought about this and I'm not sure I agree with either the risk or the proposed mitigation. At point 4, once Alice sees her call succeeded, she would be able to see any `Transfer` events if Bob had managed to make a transfer, and in fact she would see her own reduced balance.

Furthermore, suppose we ch

[2017-09-11 15:13] mikhail-vladimirov commented on #437
If Bob had transferred Alice's tokens to Carol, not to himself. it would be very non-trivial to know that this transfer was done by Bob, not Carol.

Bob anyway had a chance to get all the allowed tokens, and he had this ability for a long time, nothing bad if he will be able to do this a little more time.  Bad thing is not that Bob is able to get tokens, this is actually normal, because Alice hers

[2017-09-11 15:28] #436 closed

[2017-09-11 17:05] frangio commented on #437
This is a different problem that I completely agree with, which is the lack of a `spender` parameter in `Transfer` events. We could add a new event that allows to keep track of this, it's a pity that there isn't a standard one.

Suppose "Bob" is a smart contract that is programmed to make a transfer with a certain frequency and you want to stop it immediatey. I agree that `approve` with zero is th

[2017-09-11 17:31] frangio commented on #16
That's actually very interesting @superphil0!

[2017-09-11 21:38] gvoicu commented on #409
@roynalnaruto @param087: One solution that works for me until this will be fixed is to add also the `node_modules` folder to the relative path.

For example, instead of `import 'zeppelin-solidity/contracts/token/MintableToken.sol'`
I did: `import '../../node_modules/zeppelin-solidity/contracts/token/MintableToken.sol'`

[2017-09-12 05:46] mikhail-vladimirov commented on #437
There are absolutely no problems with Bob being able to transfer as many tokens as Alice approved to him until Alice revoked the approval.  This is how token contracts are supposed to work.  Regardless of what Bob does, once Alice approves some tokens to Bob, she approved, and it is her fully responsibility to make sure Bob is a good guy before approving anything to him.

The real problems with ER

[2017-09-12 09:51] mikhail-vladimirov opened #441 "TokenTimelock allows anyone to initiate tokens release"
`TokenTimelock` smart contract has two public methods: `claim()` and `release()` that do basically the same thing, but `claim()` reverts transaction unless called by beneficiary of the smart contract, while `release()` may be called by anyone.  According to comment in the code

While it is not explicitly specified that token extractions must be initiated by beneficiary only, assuming the opposite

[2017-09-12 10:32] jakub-wojciechowski commented on #437
Hi Guys, I've enjoyed reading the discussion. Thx, for pointing out the vulnerability @mikhail-vladimirov!

Currently we have a soft condition requiring that the deduction is lower than allowance or the allowance is reduced to zero. How about making it stronger and requesting that the current allowance is equal to a state known by transaction sender.

[code]

Using this approach we will make it su

[2017-09-12 10:40] jakub-wojciechowski commented on #438
As the ERC20 is formalized now I think we should strictly implement the specification. How about moving the additional security check that enforces 0 allowance to an additional `safeApprove` method and leaving the old `approve` to fully implement ERC20 specification?

[2017-09-12 10:44] mikhail-vladimirov commented on #437
This should work, but in this case you probably need to remove "decrease" from the method name and make it able to change allowance in either direction.

[2017-09-12 14:55] frangio commented on #437
I like @jakub-wojciechowski's proposal because it does make the semantics quite apparent from the function signature. I feel like I've seen the Compare and Swap function proposed before as a solution to the `approve` race condition.

[2017-09-12 16:48] maraoz opened #442 "Create a subcontract of StandardToken that rejects holding funds"
A subcontract of StandardToken.sol which also implements HasNoEther and HasNoTokens.
This would prevent token contracts from holding unclaimable ETH or token balances, which happens a lot by user error.

Idea suggested by @SergioDemianLerner

[2017-09-12 17:01] jakub-wojciechowski commented on #437
I'm really glad that you liked it. I'm certainly not the one to take credit for the Compare and Swap pattern as it's one of the most widely used lock-free synchronisation strategy and probably older than me :)

I agree with @mikhail-vladimirov that it'd be better to merge both `decreaseApproval` and `increaseApproval` in single method. What's your view on that @frangio ?

[2017-09-12 19:13] mikhail-vladimirov commented on #437
Here is an example of compare and set approve function in ERC20 token smart contract: https://github.com/abdk-consulting/icos-token-contract/blob/master/src/sol/ICOSToken.sol#L106

[2017-09-12 21:48] SylTi commented on #442
What about also adding HasNoContracts?

[2017-09-12 22:11] SylTi commented on #437
@mikhail-vladimirov this is not ERC20 compliant. https://github.com/OpenZeppelin/zeppelin-solidity/issues/438

[2017-09-12 23:15] rstormsf commented on #355
Still curious how to trace a tx in geth if it actually failed

[2017-09-12 23:30] mikhail-vladimirov commented on #437
It is compliant with original ERC20.  It does not strictly comply with EIP-20 though, because it was created before EIP-20 was finalized.

[2017-09-13 02:30] SylTi commented on #437
it's been a while that approve only took 2 parameters in the draft

[2017-09-13 05:43] mikhail-vladimirov commented on #437
Oh, now I see what did you mean when said that contract I referred to is not ERC20 compliant.  Of cause that contract has standard two-argument `approve` method as well, you probably just didn't noticed it because it is defined in base contract that contract inherits from: https://github.com/abdk-consulting/icos-token-contract/blob/master/src/sol/AbstractToken.sol#L83

[2017-09-13 12:46] phiferd commented on #438
Also, I don't see how this check actually protects against the attack vector described:

`require((_value == 0) || (allowed[msg.sender][_spender] == 0));`

In the scenario where Alice tries to update Bob's allowance from N to M, by the time the update to the allowance is processed, won't Bob's remaining allowance be 0 already, in which case the check will pass?

[2017-09-13 14:15] phiferd commented on #438
I see.  So the check is not there to stop the attack, but rather just to encourage people to get in the habit of N -> 0 then 0 -> M?

I do agree that a CAS approach would be better as you suggested in your original doc, but understand that this would not meet the existing spec which is used by many contracts in the wild.

@jakub-wojciechowski if the intention is to create a safeApprove function (o

[2017-09-13 14:40] jakub-wojciechowski commented on #438
Hi, @phiferd, we've kind of agreed to implement Compare And Swap in #437
The discussion was very similar to the one above.

I'm waiting a bit to hear opinions whether there is a point in having to separate `decrease` and `increase` methods for the approve function. I'd love to submit a PR with CAS asap.

[2017-09-13 19:46] frangio commented on #441
`claim` is deprecated. Please see #296.

We should change the contract description if this is not clear.

[2017-09-13 19:52] frangio commented on #438
Thanks for chiming in, everyone. I agree we should remove the non-compliant line.

[2017-09-13 19:54] frangio commented on #437
I'd go ahead with a CAS function. What should we name it? It's technically possible to call it `approve` with three parameters but it could be confusing.

[2017-09-13 20:12] vadimkerr opened #443 "Crowdsale contract vulnerable to "fund recycling" attack"
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/Crowdsale.sol#L88
This comment should warn user that in default implementation forwardFund function can cause situation when owner can cheat the system by recycling ether trough the contract.

[2017-09-13 22:45] SylTi commented on #437
since safeApprove is taken, maybe secureApprove?

[2017-09-14 09:35] veox commented on #443
## Ref

I've suggested in [a thread on /r/ethdev](https://www.reddit.com/r/ethdev/comments/6zvyu4/openzeppelin_crowdsale_contract/) this be reported here.

In particular, I wrote [this](https://www.reddit.com/r/ethdev/comments/6zvyu4/openzeppelin_crowdsale_contract/dmykd4s/), citing a slightly more verbose [exploit description](https://www.reddit.com/r/ethdev/comments/6zvyu4/openzeppelin_crowdsale

[2017-09-14 09:41] veox commented on #443
In other words, contract use guidelines should suggest that either:

* the function _must_ be overridden to check that there's no "funding loop"; or
* the benefactor contract _must not_ allow withdrawal of ether until the end of the crowdsale.

There could possibly also be a guide for auditors or crowdsale participants, that would urge to check for the above; but I'm not sure if such a measure can

[2017-09-14 12:01] SylTi opened #444 "RefundVault.sol functions should be declared public explicitly"
best practice require to always declare explicitly the visibility.
Also shouldn't `function refund(address investor)` also have the onlyOwner modifier? It's not a problem security wise, but refunds are meant to be handled directly by the crowdsale

[2017-09-14 12:55] miohtama commented on #443
"The benefactor contract must not allow withdrawal of ether until the end of the crowdsale" - this only concerns cases where there is a minimum funding goal. If the crowdsale has been success I do not see a problem with an early withdrawing the funds.

This is especially beneficial to the token sale organizers and token holders to to convert some ETH immediately and diverse assets under the downwa

[2017-09-15 13:55] 7flash commented on #401
Another user case is to freeze trading during the crowdsale. I think approve is an element of trading and it should be paused also.

[2017-09-15 17:24] pash7ka commented on #401
@frangio I do understand the idea of PausableToken as a ready to use Pausable StandartToken. And you are right, somebody may use approval data and think it will be also paused.
So After your explanation I'm fine with making approve() pausable.

[2017-09-15 18:13] frangio commented on #443
Thanks for the comments @veox and @vadimkerr! I agree with all of it.

Have you seen the [`RefundVault`](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/crowdsale/RefundVault.sol) contract that `RefundableCrowdsale` uses? We could add a similar contract as a middle step for funds in general.

[2017-09-15 23:52] VogtAI opened #449 "CappedCrowdsale.sol missing parent constructor"
Shouldn't the parent constructor be called?

currently:
`  function CappedCrowdsale(uint256 _cap) {
    require(_cap > 0);
    cap = _cap;
  }`

proposed:
`  function CappedCrowdsale(uint256 _cap, uint256 _startTime, uint256 _endTime, uint256 _rate, address _wallet) Crowdsale(_startTime, _endTime, _rate, _wallet) {
    require(_cap > 0);
    cap = _cap;
  }`

[2017-09-16 10:16] SylTi commented on #444
this seems to be a larger problem, I spotted a bunch of file where function accessibility is not explicit when public

[2017-09-16 19:23] veox commented on #443
Ah!.. Yes, `Vault` sounds like the right kind of allegory.

-----

Somewhat OT:

`RefundVault` would need a way to receive `deposit()`s from `Crowdsale`, meaning either the `Vault` being owned by `Crowdsale` (bad idea IMO), or removing the `onlyOwner` modifier in favour of an `onlyAllowedSenders`.

With the above change, time locks (e.g. with reenrant `view` calls to check if `Crowdsale` has ended

[2017-09-17 00:33] Neurone commented on #437
Interesting topic. I agree that `decreaseApproval` is currently unsafe, but it seems to me it suffer exactly the same problem of the `approve` method, so I still think that the _safest_ approach is the _set-0,check-balanche,think-how-much-allowance-you-want-to-set,set-allowance-again_ one.

I don't feel it is complicated to understand what happens to tokens, and in any case I believe that any poss

[2017-09-17 21:03] SCBuergel commented on #449
I use this `CappedCrowdsale` as a base contract. Then I call both base constructors:

[code]

This approach seems a bit cleaner than passing constructor arguments through to the base constructor.

[2017-09-17 21:13] benjohnson2001 commented on #449
This notation seems very confusing to me. I think it would make more sense if CappedCrowdsale called `super(_startTime, _endTime, _rate, _wallet)` and required its parent's constructor arguments.

[2017-09-17 23:11] frangio commented on #442
@SylTi What do you mean by that?

[2017-09-17 23:24] frangio commented on #449
Thanks for bringing this up! This is not a bug but a feature of Solidity we decided to use. Let me clarify.

Since the contracts are designed to use multiple inheritance, they need to be defined like this because otherwise the base constructor can be called different times with different arguments. There is no warning when this happens, as seen in [this example](https://remix.ethereum.org/#version

[2017-09-17 23:24] #449 closed

[2017-09-18 09:59] SylTi commented on #442
@frangio In my opinion, this contract is here to help users recover from mistakes.  The more mistake it can recover from, the better?
Take a look at the linked commit for an example.

[2017-09-18 16:05] frangio commented on #444
Fixed in #456.

[2017-09-18 16:05] #444 closed

[2017-09-18 17:27] flockonus commented on #226
Hi guys, considering many ppl look up to OpenZeppelin contracts as reference, could you please list what are the tradeoffs to using `uint256` versus `uint`?

Also appreciated details to Struct, arrays and tight packing features.

[2017-09-18 17:28] frangio commented on #443
But "drip-funding" for example would be unrelated to refunds, so I don't see it being implemented as a subclass of `RefundVault`.

[2017-09-18 18:08] frangio commented on #421
Closing because I haven't been able to reproduce the issue. I suspect @parsparab inlined their contracts in the wrong order.

[2017-09-18 18:08] #421 closed

[2017-09-18 18:20] frangio commented on #409
Can anyone having this issue please share an example repo where I can reproduce the problem? I suspect this was caused by doing a global install (`npm install -g zeppelin-solidity`) which Truffle doesn't support.

I've opened an issue for it trufflesuite/truffle-resolver#4.

[2017-09-18 18:20] #409 closed

[2017-09-18 18:54] #431 closed

[2017-09-18 18:56] frangio commented on #431
@SCBuergel Please check out the changes I merged in #445 and let me know if the issue was fixed on your side.

[2017-09-18 20:18] frangio commented on #226
Good suggestion @flockonus.

We think it's safest to be 100% explicit about types. Although `uint` is an alias for `uint256`, it makes the size implicit, for the only benefit of having a few characters less. There really isn't more to it than that. 🙂

They are aliases so they work exactly the same.

What is the question about structs and arrays?

[2017-09-18 20:42] flockonus commented on #226
Your answer solve my question.

My other concerns are related to optimizing cost of storage, but i'll put it together in a separate question and drop by your Slack channel, thank you!

[2017-09-18 21:18] #438 closed

[2017-09-18 21:18] #401 closed

[2017-09-18 21:18] #432 closed

[2017-09-18 23:33] jordanschalm opened #458 "Add auction contract"
Auctioning non-fungible assets is a common requirement for smart contracts (an example even appears in the [Solidity docs](http://solidity.readthedocs.io/en/latest/solidity-by-example.html#blind-auction). It would be great if OpenZeppelin included a standard auction contract for use with either ERC20 tokens or Ether.

[2017-09-19 06:23] zzxcodes opened #459 "Getting started page in docs"
The doc says after the following step:
`npm i zeppelin-solidity`

Where in reality, the contracts are available in `node_modules/zeppelin-solidity/contracts`

[2017-09-19 06:48] mikhail-vladimirov commented on #437
@Neurone

The problem here is with 'check-balance' step.  If your account is quite busy, tokens are constantly going in and out and you approved transfers from it to many people, then your balance is constantly changing even without your intervention and checking balance will tell you nothing about whether the one whose allowance you just tried to revoke managed to use it in the very last moment o

[2017-09-19 16:08] veox commented on #443
Yup! That was a random OT rant. ;)

[2017-09-19 17:18] Neurone commented on #437
Correct, but the difficulty to understand what is happening on your balance **is not related to your intention to modify the allowance** at all, that problem is there in any case. To monitor your token balance you need to establish an app that reads all blocks and transactions related to your token contract, and then you can understand who moved the tokens looking at the sender of the transacion.

[2017-09-19 21:32] MaxDinman commented on #248
Actually it depends on the case, sometimes it makes sense to spend ~8k gas for the above checks, however the `StandardToken` is definitely not the case.

[2017-09-20 14:06] frangio commented on #248
Just for the record, a single `require` of a comparison between a state variable and a constant costs about 60 gas.

[2017-09-20 22:18] MaxDinman commented on #387
@dmx374 Let's imagine an investor lost his private key, how come the refundMeTo function could help in this case? He won't be able to call from his wallet.

[2017-09-20 22:49] SylTi commented on #387
@dmx374 how does he prove he owns that key, in the first place?

[2017-09-20 23:12] SylTi commented on #458
If you mean auctions with multiple bidders like a multi-unit auction, the gas limit becomes a problem very fast without using complex data structures.

For the dutch auction, you have https://github.com/maurelian/dutch-auction/blob/master/contracts/DutchAuction.sol (it seems to be the gnosis one. I'm not sure why, but I can't find it in the original repo)

[2017-09-21 09:24] prahaladbelavadi opened #461 "Issue installing zeppelin-solidity"
Error: while trying to install zeppelin-solidity

[code]
![image](https://user-images.githubusercontent.com/16673094/30688215-3089a11e-9edb-11e7-91a7-0c49cfa6461b.png)

References:
- [Node-gyp](https://github.com/nodejs/node-gyp/issues/1014)
- [Failed at node-gyp-rebuild](https://github.com/barrysteyn/node-scrypt/issues/135)
- [C++ compiler missing](https://stackoverflow.com/questions/39358117/npm

[2017-09-21 10:07] prahaladbelavadi commented on #461
Moving over to linux.
Installing 10 Gb of bloated software isn't necessary.
Use an alternative C++ compiler instead or an environment that has it

[2017-09-21 10:07] #461 closed

[2017-09-21 12:17] mikhail-vladimirov commented on #437
@Neurone

This relation exists and you described it in the schema you suggested as the safest way to change allowance: set-0,**check-balance**,think-how-much-allowance-you-want-to-set,set-allowance-again

Difficulty to understand what is happening on your balance directly affects you ability to perform check-balance step and thus directly affects your ability to execute the whole procedure.

[2017-09-21 13:36] SylTi commented on #437
The answer is yes, you still do. Because the balance could still change between the moment you check your balance on your app and the moment your transaction to set the new allowance is recorded.

[2017-09-21 21:12] Neurone commented on #437
I'm not convinced yet :)

I'm thinking about this workflow:

1. Bob **can move my tokens** because I allowed him to do so, let's say for `200 tokens`
2. During allowance period Bob moved `20 tokens`, so now the remaining allowance is `180 tokens`
2. Now I want to change the allowance to `50`, so I send an `approve(Bob, 50)`
3. I wait some blocks, monitoring my tokens and Bob's transactions
4. I un

[2017-09-22 06:46] mikhail-vladimirov commented on #437
@Neurone

If your account is busy, tokens are constantly going in and out, and many people are allowed to transfer from it, then monitoring your tokens will not help because your token balance will be changing both ways all the time even without Bob's interventions.

Assuming that Bob is a contract (reasonable assumption, because `approve`/`transferFrom` is often used to send tokens to contracts),

[2017-09-22 13:29] Neurone commented on #437
Yes, again, I already agreed with you on this point: monitoring tokens movements is difficult (not impossible). This monitoring is difficult in any case, and using `decreaseApproval` (with or without CAS approach) does not solve the necessity of monitoring.

Another point is this: if you implement a CAS approach inside the `decreaseApproval(Bob, 180, 130)` function you don't have any security adva

[2017-09-22 13:52] mikhail-vladimirov commented on #437
@Neurone

CAS `approve` solves problems mentioned in original article as well as the problem mentioned in original description of this issue.  Could you please describe scenario where monitoring is still needed for safe management of tokens and allowances even if CAS `approve` would be available?

[2017-09-22 13:58] SylTi commented on #437
@Neurone that depends on how you use approve.
In my opinion, you should only approve the exact amount of tokens that should be withdrawn by the other party. Not more.
And the CAS approach, in this case, guarantees that the other party didn't withdraw anything before you change the approved amount.

[2017-09-22 14:04] Neurone commented on #437
@mikhail-vladimirov Sorry but I can't :-) basically because I think the CAS approach in the `decreaseApproval `**does not** solve the problem mentioned in the original description of this issue, that was step 6:

Actually, Bob may or may not had transferred Alice's tokens before allowance was decreased, and Alice has no easy way to know for sure whether Bob transferred her tokens or not. Actually,

[2017-09-22 14:12] SylTi commented on #437
` I simply don't think is a good approach blocking a TX that want to modify the state, just because I can't easily understand that state.`
@Neurone I think it's far better if the approver is a contract.

[2017-09-22 14:13] daniel-jozsef opened #463 "BurnableToken improvements"
In my opinion the _BurnableToken_ implementation is not quite up to the standards of OpenZeppelin. My issues with it are:

- It inherits from _StandardToken_ as opposed to _BasicToken_, while not using any of the added functionality. I suggest either implementing _burnFrom()_, or changing the ancestor to _BasicToken_.

- _burn()_ does not have a return value, and misuses _assert()_. Generally, _as

[2017-09-22 14:23] Neurone commented on #437
@SylTi once approved, no subsequent TX can guarantee to block the other party to widthdraw that amount. If CAS approach is implemented, you are enslaving the result of your TX to the behaviour of someone else. You can't control that behaviour, so you don't know if TX will be executed or it will throw an exception. I believe that is not a good approach having this kind of uncertainty when calling a

[2017-09-22 14:26] frangio commented on #463
Thanks for the feedback @daniel-jozsef!

Agree with changing the ancestor to `BasicToken`. Do you want to submit a PR with this change?

With respect to `assert`, for anyone reading, it's hidden under `SafeMath.sub`. I agree that it doesn't seem correct. I was just discussing yesterday whether `assert` or `require` would be the correct semantics for `SafeMath`. I'm going to open a separate issue f

[2017-09-22 14:42] maraoz opened #464 "Remove deprecated function TokenTimelock#claim()"
See: https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/TokenTimelock.sol#L33

[2017-09-22 15:38] jakub-wojciechowski commented on #437
We've got a very interesting discussion in here. There is no silver bullet to solve all of the problems with the approve method. Imho, the best solution is to have 2 separate methods:

1) The old `decreaseApproval` with the small improvement of returning (instead of the boolean success flag) the value of the final `subtractedValue`. That will help to mitigate the original problem when the current

[2017-09-22 15:41] daniel-jozsef commented on #463
I think assert is correct in SafeMath, as it is checking for under-, and overflows. It's a technical check for a technical limitation.

BurnableToken, however, relies on the underflow protection to do a _semantic_ check of its inputs, which I see as bad practice. There should either be a require call _in the burn() function_ to validate user input, or logic to _burn the available amount, but not m

[2017-09-22 16:33] mikhail-vladimirov commented on #437
@jakub-wojciechowski

It is not possible via standard tools and Web3 API to get return value of contact call executed non-locally (i.e. mined as a transaction), so this will not help a lot.  This probably will be changed in future (https://github.com/ethereum/EIPs/pull/658), but as for now, this is not a solution from my point of view.

[2017-09-22 16:43] Neurone commented on #437
Good news. [EIP685 ](https://github.com/ethereum/EIPs/pull/658) was [merged in August](https://github.com/ethereum/go-ethereum/pull/15014) and it was released few days ago with [Geth 1.7](https://blog.ethereum.org/2017/09/14/geth-1-7-megara/).

[2017-09-23 00:37] rstormsf commented on #463
`assert` vs `require`
As I understand, based on solidity documentation, `require` should be used for checking external calls.

`assert` should be used for internal validation checks.

Please correct me if I’m wrong.

[code]
https://solidity.readthedocs.io/en/develop/control-structures.html#error-handling-assert-require-revert-and-exceptions

[2017-09-25 09:19] daniel-jozsef commented on #463
Okay apparently I was misinformed on exception handling in the EVM.

Apparently errors do not bubble up through call, delegatecall and callcode. Which, as far as I understand, means all cross-contract calls, ie. the only time an error does bubble up is when calling a function on _this_.

[2017-09-28 19:49] cbruguera opened #474 "Some aspects not complying with Solidity style guide."
There are elements in the code that don't comply with the Solidity proposed style guide. For example, 2 spaces instead of 4 as a tab unit. Also, some constants not in UPPER_CASE format (at least in the token example file).

I understand style guides are never mandatory and in fact should be flexible enough as to accomodate for particular needs, but if we're aiming to standardize Solidity developme

[2017-09-29 00:49] rickie247 commented on #474
I agree with you, but yet you should always do your own checks and make sure the code is correct.

[2017-09-30 00:23] NoahMarconi opened #479 "FinalizableCrowdsale should just be Finalizable (and not inherit from Crowdsale)"
Inheriting from `Crowdsale` means `Finalizable` is not generic or reusable.

My use case is needing a `Crowdsale` that doesn't use a `MintableToken`, but instead uses a `StandardToken`. Since use of a `MintableToken` is hard coded into `Crowdsale` I can't use `Crowdsale` for my use case.

That alone is not such a big deal, but I also can't use anything the inherits from `Crowdsale`; doing so would

[2017-10-01 08:41] HaleTom opened #481 "Use "pure" specifier in Math functions"
I came to your repository via [this page](https://medium.com/blockchannel/state-specifiers-and-staticcall-d50d5b2e4920) which illustrates the effect of using the Solidity 0.4.16 compiler on this code.

Would you consider using the [`pure`](https://github.com/ethereum/solidity/pull/2745) specifier to avoid these warnings?

[2017-10-02 17:52] JGcarv commented on #458
I actually have a tested dutch auction contract I developed for USCC. I could submit a PR ilater today, If you are interesed

[2017-10-03 15:48] hbdgr commented on #481
Have same feelings. I even created PR #480 fixing this.
Unfortunately, it does not pass Travis tests.
[code]
looks strange.

[2017-10-04 20:17] rstormsf opened #485 "RefundableCrowdsale is not aligned with RefundVault"
Intro:
In order to use [RefundableCrowdsale](https://github.com/OpenZeppelin/zeppelin-solidity/blob/5cf503673faea92c1b5c615c3f8358febf06e160/contracts/crowdsale/RefundableCrowdsale.sol), you have to have [RefundVault](https://github.com/OpenZeppelin/zeppelin-solidity/blob/5cf503673faea92c1b5c615c3f8358febf06e160/contracts/crowdsale/RefundVault.sol)

I have spotted a few problems:

1. In order to d

[2017-10-05 14:35] frangio commented on #485
Thanks for reporting @rstormsf! The `close` and `enableRefunds` functions you mentioned are called as part of `finalization` in `RefundableCrowdsale`. Take a look [here](https://github.com/OpenZeppelin/zeppelin-solidity/blob/5cf503673faea92c1b5c615c3f8358febf06e160/contracts/crowdsale/RefundableCrowdsale.sol#L47-L51).

The idea was to make it trustless, which is why only the crowdsale contract has

[2017-10-06 19:22] lorien opened #486 "Same pragma compiler version"
All sol files except BurnableToken.sol and BurnableTokenMock.sol declares `pragma compiler ^0.4.11`. The latter two files use `pragma compiler ^0.4.13`.
Maybe it makes sense to use same pragma compiler in all files?

[2017-10-08 01:01] rstormsf opened #488 "Would you like to have auto-generated test reports ?"
Would you like to have auto-generated test reports ?
Example:
When Travis CI finished the job, it automatically pushes to github pages to the repo:
https://rstormsf.github.io/tokenReg_parity/mochawesome.html

Auto-deployed commit from travis: https://github.com/rstormsf/tokenReg_parity/commit/e316303f2714950b72c4ed06a9e4bb3f080644ff

Changes needed:

.travis.yml
[code]

truffle.js
[code]

package.

[2017-10-08 01:25] rstormsf commented on #488
Looks like the reports are working!
https://travis-ci.org/OpenZeppelin/zeppelin-solidity/jobs/284884482#L806-L808

[2017-10-08 17:29] rstormsf commented on #485
Ohh I see @frangio makes sense now.

[2017-10-09 20:34] #485 closed

[2017-10-10 07:32] tomericco commented on #358
I keep getting this error while trying to deploy `Crowdsale` contract to `ropsten` network:
`Error: The contract code couldn't be stored, please check your gas amount.`
The last block gas limit is `6993557`, so I set the gas limit to `6990000` in truffle configurations. I struggle to find what's wrong.

BTW, I use timestamps for the first constructor arguments, as @gundas mentioned.

[2017-10-10 13:17] spalladino commented on #358
@tomericco keep in mind that that error is also thrown when there is an error during the constructor execution, and may actually be unrelated to the gas amount. Make sure you are not breaking any precondition of the Crowdsale constructor, such as timestamps needing to be in the future, with start less than end.

[2017-10-10 13:23] tomericco commented on #358
@spalladino Here is my Truffle deployment script:
[code]
Do you see anything suspicious?

[2017-10-10 13:28] spalladino commented on #358
Yup, startTime is not enough in the future. You are using 1 second after
the timestamp of the current block, and the contract won't be included
until at least the next block, which will be mined about 20s after the
current one. Try changing start time to +120 instead of +1.

On Tue, Oct 10, 2017 at 10:23 AM, Tomer Gabbai <notifications@github.com>
wrote:

[2017-10-10 13:48] AugustoL opened #494 "Add SmartToken contract"
## Simple Summary

A standard interface for smart tokens based in the ERC20 standard.

## Abstract

This standard provides basic functionality to transfer tokens, as well as allow tokens to be approved so they can be spent by another on-chain third party. Also it allows to execute calls on transfers and approvals.

## Motivation

A standard interface allows any tokens on Ethereum to be re-used by

[2017-10-10 14:10] tomericco commented on #358
It works now. This is why it worked on the local TestRPC, and not on Ropsten.
Thanks a lot @spalladino!

[2017-10-10 15:24] AugustoL commented on #494
In the case of our project Winding Tree methods like these will allow us to:
* Book hotel rooms or flights in one transaction, executing `transfer` and `book` functions implemented in our contracts.
* Implement approval of bookings, the user will approve the spent of tokens to the hotel, the hotel will accept them if he allows the user to book the room at that price and reject them if not.
* Send

[2017-10-11 14:56] AlekseiStalker commented on #409
I have the same problem.

 "->'
and
 import '../../node_modules/zeppelin-solidity/contracts/token/MintableToken.sol'

did not help

[2017-10-11 15:07] fedealconada opened #496 "Add tokensSold to Crowdsale.sol"
### Add tokens sold to Crowdsale contract

It would be nice if we could have a variable `uint256 public tokensSold` so as to keep track of the amount of tokens that have been sold so far during a TGE event.

Then, the `buyTokens()` function should look like:

[code]
This will have the same philosophy as the `weiRaised` variable... We want to keep track of the wei raised to do checks, to have diffe

[2017-10-11 20:21] frangio commented on #494
Hi @AugustoL! I think this proposal is interesting. It's mostly the same as the `transferAndCall` proposal in [ethereum/EIPs#677](https://github.com/ethereum/EIPs/issues/677), right?

[2017-10-11 20:31] AugustoL commented on #494
Yes is very similar, I have the EIP already written and ready to proposed, but I wanted to propose it first here, I think it will have more acceptance in the community if we show it working in Zeppelin Solidity.

If you want @frangio I can create the PR to add it tomorrow :)

[2017-10-12 15:57] AugustoL commented on #496
@fedealconada cant you use the totalSupply from the token contract?

[2017-10-12 16:00] fedealconada commented on #496
@AugustoL Yes, I thought that afterwards :) But I'm not able to close/remove the issue...

[2017-10-12 16:07] federicobond opened #498 "Add library for RSA signature verification"
Ethereum's next hard-fork <sup>[1]</sup> will include support for big integer modular exponentiation, which will enable RSA signature verification.

<sup>1</sup> https://blog.ethereum.org/2017/10/12/byzantium-hf-announcement/

[2017-10-12 16:56] AugustoL commented on #496
Cool, yes I agree it can be very helpful to have it.

[2017-10-12 20:55] frangio commented on #488
Thanks for the suggestion, @rstormsf!

I think this is interesting but that it doesn't add a lot of value for OpenZeppelin. Our policy is to keep tests always 100% passing. While it might be useful for other Git and collaboration models in which tests may temporarily fail, in our case it will only require maintenance but not add much value. What do you think?

Additionally, test results can alread

[2017-10-12 21:04] Qqwy commented on #463
I think this third option is the most versatile one: Have `BurnableToken` inherit from `BasicToken`, but also have an  `ApprovedBurnableToken` that inherits from both `BurnableToken` and `StandardToken` and implements the `burnFrom()` function.

This would allow people that use the library to pick the exact granularity of functionality they require for their projects.

[2017-10-12 21:07] Qqwy commented on #463
@daniel-jozsef Important here (with how thrown errors bubble up) is IIRC also a possible difference with how Solidity/the EVM currently works, and how it is expected to be altered and behave in the near future.

[2017-10-13 09:46] zrpkid opened #500 "Can solidity process images?"
Solidity is a language for smart contacts deployed in Ethereum, It can deal with voting, crowd funding and so on. I wander whether this language can process images? Can this language support some libraries like OpenCV ? Please give me some advice and thank you very much.

[2017-10-13 13:08] spalladino commented on #500
@zrpkid this is the issue tracker for OpenZeppelin, a framework to build secure smart contracts on Ethereum, and as such is not the intended place for these kind of questions. Please ask in the [Ethereum stackexchange](https://ethereum.stackexchange.com), or in one of the [Ethereum Gitter channels](https://github.com/ethereum/wiki/wiki/Gitter-Channels).

[2017-10-13 13:08] #500 closed

[2017-10-13 14:15] SylTi commented on #496
@fedealconada most of the time people put a hardcap on the sale, when it's the case the max amount of token is something like ` hardcap * rate + percentage` (for founders/advisor etc)

[2017-10-13 22:31] daniel-jozsef commented on #346
I think approveAndCall is pretty much industry standard at this point, beside of course manual approving-and-calling...

It should definitely be part of the OpenZeppelin library.

[2017-10-15 07:48] Qqwy commented on #434
So if I understand correctly:

- Solidity does not allow having a function and a property at the same time.
- There is one exception for this, which is when you make the property 'public', in which case they will have the same name, but make it impossible for child-classes to alter the way data is read from the property.
- For the properties, a lot of standardized naming, like `totalSupply` is use

[2017-10-15 08:01] Qqwy opened #501 "Tests to check if child classes don't modify superclass-behaviour in unwanted ways"
OpenZeppelin has a wonderful, modular approach where many contracts build upon simpler ones.

However, because of the semi-object-oriented way Solidity works, it is possible to, on purpose or by accident, modify behavior that one of the ancestor contracts provides.

For instance, I would expect any contracts that inherit from `Ownable`, to check if `transferOwnership` [indeed transfers ownership](

[2017-10-15 10:26] Qqwy commented on #474
The most important with any kind of group coding effort is that the style used in the repository is consistent.

[2017-10-15 14:34] Qqwy commented on #496
Some crowdsales actually measure the amount of tokens sold in Tokens rather than in Wei. In the 'simple' case this is equivalent `(tokens = wei * tokenCost)` but when you for instance give out bonus tokens for early adaptors, these two numbers will start to diverge.

[2017-10-15 15:04] SylTi commented on #496
@Qqwy those should be counted in the totalSupply

https://github.com/OpenZeppelin/zeppelin-solidity/pull/426 need to be merged first so we can have a lot more flexibility

[2017-10-15 15:35] Qqwy commented on #496
Indeed... until this number diverges as well. It is perfectly fine to hold a second crowdsale for an existing token, as long as the crowdsale contract is moved to become the MintableToken's owner, or to hold a crowdsale while already some tokens exist.

I agree that having #426 would be great, and it might be worthwhile to wait for that in order to not repeat work.

[2017-10-15 18:42] Qqwy commented on #481
Seems to me like Travis is using an older compiler version, since the keyword 'pure' is not recognized.

[2017-10-16 02:21] westurner opened #502 "PAC Fundraising"
### Background
 - PAC: Political Action Committee
    https://en.wikipedia.org/wiki/Political_action_committee
- https://github.com/holographicio/awesome-token-sale

### Questions
- Is Civic PAC fundraising similar to e.g. a Crowdsale or a CappedCrowdsale
   or something else entirely, in terms of ERC20 OpenZeppelin solidity contracts?
- Would it be worth maintaining an additional contract for [PA