[2018-08-22 05:18] madan-ideas2it commented on #1221
@nventuro I am connecting to a private network. And i found the root cause. With the latest solidity compilers, calling an external contract method from within another contract fails. For this we need to update the genesis config with "ByzantiumBlock": 0. And reinitialize the network. Now it works fine

[2018-08-22 13:24] Profess0r opened #1227 "Arguments for parent constructor not specified in child (TimedCrowdsale.sol)"
## 🎉 Description

I playing around with crowdsale contracts and get "This contract does not implement all functions and thus cannot be created" error when tried to deploy TimedCrowdsale contract. It happened because TimedCrowdsale contract inherited from Crowdsale contract but it has constructor with arguments which not specified in TimedCrowdsale contract. I assume that definition of constructor

[2018-08-22 14:06] frangio commented on #1227
Hi @Profess0r, thanks for reporting.

This is in fact by design, you're supposed to put the different crowdsale "flavors" together into a contract of your own. Please take a look at this example:

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/64c324e37c17c5e0501bb746975040d1ae020806/contracts/examples/SampleCrowdsale.sol#L39-L60

We'll be working on the documentation to make this clea

[2018-08-22 14:06] #1227 closed

[2018-08-22 15:01] nventuro commented on #1221
Awesome! Closing the issue then.

[2018-08-22 15:01] #1221 closed

[2018-08-22 19:07] #1145 closed

[2018-08-22 20:42] shrugs commented on #1223
closing as duplicate; let's discuss in #152

[2018-08-22 20:42] #1223 closed

[2018-08-22 20:50] nventuro commented on #197
Closing since this was fixed by #1014.

[2018-08-22 20:50] #197 closed

[2018-08-23 02:06] nventuro opened #1232 "Use expectEvent to test logs"
Most log tests directly access the log array: we should instead use the `expectEvent` helper to do that.

Example from the `Escrow` tests:

[code]

Part of #1091.
Requires https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1026.

[2018-08-23 09:33] ddbit opened #1234 "TokenTimelock release() should be restricted to beneficiary or delegate"
## 🎉 Description

- [X] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using?
1.11
- What network are you deploying to? Ganache? Ropsten?
Ganache
- How are you deploying your OpenZeppelin-backed contracts? truffle? Remix? Let us know!
Truffle
## 📝 Details
Not exactly a bu

[2018-08-23 09:48] nventuro commented on #1234
This is related to #1132 - in this case, anyone (even a contract) can trigger the releasing of funds. I'm closing this issue and moving the conversation over to that issue, thanks @ddbit!

[2018-08-23 09:48] #1234 closed

[2018-08-23 09:51] nventuro commented on #1132
#1234 presents a somewhat related situation, anyone (not just the beneficiary) can trigger a release of a `TokenTimelock`. This allows for a contract to be a beneficiary, despite not having a public function that calls `release`, and for any contract to also trigger said release.

[2018-08-23 11:39] dougiebuckets commented on #1215
According to Polymath, a draft of the EIP will be submitted end of Aug. https://twitter.com/PolymathNetwork/status/1030187810916061184

[2018-08-23 18:59] frangio commented on #1214
@rstormsf We actually want to keep the current model where there is one vesting contract deployed per schedule per beneficiary, and Colony's `Vesting` is quite the opposite since it is a central contract that is used for all beneficiaries. Do you see other problems with our current `TokenVesting` that Colony's contract solves?

The continuous release is the biggest issue with our current offering.

[2018-08-24 01:57] littleanti commented on #1222
![image](https://user-images.githubusercontent.com/16498206/44560567-51d4e680-a78b-11e8-93bd-e3a0e8e47c7e.png)

Thank you for your reply.
Right bottom side of screenshot. Current block.timestamp is 1535075270 and releaseTime is 1534793840.
However, when I clicked the release function in TokenTimelock. It returns gas estimation failed.

Btw, is the send ether to TokenTimelock failure normal?
I cann

[2018-08-24 10:02] #1115 closed

[2018-08-24 10:07] nventuro commented on #1222
Does the token actually own tokens? Note lines 44 and 45:

[code]

You won't be able to send ether to a `TokenTimelock` because it doesn't have any payable functions. You shouldn't need to, however, since the transaction fee will be payed for by the account that initiated the transaction (yours, as opposed to the contract you're calling).

[2018-08-24 10:40] nventuro commented on #1211
Due to some breaking changes, this may end up not being possible. See [this thread](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1068#issuecomment-414705702) for some relevant information.

[2018-08-24 15:41] alexacostarua opened #1239 "ERC721Token doesn't compile, receiving an error."
## 🎉 Description

Was trying to compile the ERC721Token.sol using truffle.  I correctly imported the necessary files for it, but failed with an error.

- [ ] 🐛 This is a bug report.

## 💻 Environment

- Which version of OpenZeppelin are you using? installed from the github help page using npm
- What network are you deploying to? custom network (parity POA)
- How are you deploying your OpenZeppelin

[2018-08-24 16:01] littleanti commented on #1222
Thank you for reply.

![image](https://user-images.githubusercontent.com/16498206/44594873-51c3fd80-a802-11e8-8258-d8afcf59eea0.png)

Yes. that token is own by Contract, and either msg.sender.

Yoon.

[2018-08-24 16:14] nventuro commented on #1239
Hm, I'm not sure what may be causing that issue. Something weird I noticed about your setup, however, is that you have an `ERC721Token.sol` contract in `contracts/`: you should be importing the OpenZeppelin, not copying the source code.

[2018-08-24 16:45] alexacostarua commented on #1239
Awesome @nventuro thanks for the pointer.  Now I've correctly imported the source code and got it to compile.  My contract looks like this:
-------------------------------------------------------------------------------------------------------------------------------------------
 pragma solidity ^0.4.23;

import "/home/user1/ethereum-erc721-master/node_modules/openzeppelin-solidity/contracts/token

[2018-08-24 16:51] nventuro commented on #1239
Could you clarify a bit further on what you mean by setting name and symbol? You seem to be doing it just fine (as constructor arguments) in your example. If you want hardcoded values, as opposed to paramatrized during construction, you can easily do so:

[code]

[2018-08-24 17:40] Amidd commented on #1232
https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1230

[2018-08-24 19:09] spalladino opened #1240 "Add an Enumerable Set data structure"
The [OwnerManager contract from Gnosis safe](https://github.com/gnosis/safe-contracts/blob/development/contracts/base/OwnerManager.sol) is basically an implementation for a LinkedList with O(1) check for `contains(item)`. It's a mapping with the same type for keys and values (addresses in this case), where each item points to the next one in the mapping.

Could be interesting to abstract this and

[2018-08-24 20:02] frangio commented on #1132
Agreed that it's the same situation. @ddbit would you mind expanding on what you think is the problem with anyone being able to release the funds?

[2018-08-24 20:30] alexacostarua commented on #1239
Thanks again @nventuro !  I got the contract deployed.  I also used the constructor you provided me with a name and symbol.  I believe the contract address for the token would be: 0xc89de68687389ae6c818e79a364823594b6f482e
-------------------------------------------------------------------------------------------------------------------------------------------
Compiling ./contracts/MyERC721.sol...

[2018-08-24 20:50] alexacostarua commented on #1239
I know I could set those values if I deployed it with Remix IDE, but since I cant get contracts ABI code from truffle, I cant call those commands through myetherwallet.  I tried setting the values and republishing the contract but I believed it failed:

-------------------------------------------------------------------------------------------------------------------------------------------
pragma

[2018-08-24 20:53] frangio commented on #1240
I think we should start by providing data structures for addresses only. It should cover most use cases.

[2018-08-24 21:03] frangio commented on #888
We like the reason strings that the 0x project is using. [Fo example](https://github.com/0xProject/0x-monorepo/blob/55dbb0ece06d17a9db7b93a0ffa274ff65298002/packages/contracts/src/2.0.0/protocol/Exchange/MixinAssetProxyDispatcher.sol#L48-L51):

[code]

[2018-08-24 21:27] alexacostarua commented on #1239
Ok. I've added the contract successfully.  I have access to the calls through the abi code using myetherwallet.  I can set the token id, the token uri, aswell as the address.  The issue is now making allowing the wallet client to see this information.  I'm using a fork of trustwallets code to set this collectible: it asks for the id, the contract, the name, the category, annotation, imagepath, ext

[2018-08-24 21:39] nventuro commented on #1239
Sorry @alexacostarua, I'm not familiar with trustwallets, maybe you'll have better luck asking on their forums? I suspect though that those may be fields stored where the tokenURI points to. And thanks for the doge offer :)

[2018-08-24 21:39] #1239 closed

[2018-08-25 06:26] rstormsf opened #1241 "Reason strings for SafeMath"
Curious if we should  have reason strings, so we can  user truffle v5 assertions.

Example:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L22

[code]

sometest.js

[code]

[2018-08-25 13:54] nventuro commented on #1241
We're going to move forward soon with reason strings (probably for either 2.1 or 2.2), see #888 for more discussion.

Closing as duplicate.

[2018-08-25 13:54] #1241 closed

[2018-08-25 14:26] ddbit commented on #1132
It does not seem a great problem because funds always move to the legit owner, however allowing everyone to trigger such a transfer is against the security principle of least authority. Think of a use case where the holdings grant some dividends as long as they are locked in the contract. The user is forced to wait the timelock before withdraw, but what if he may prefer to keep holding even after

[2018-08-27 06:32] rstormsf commented on #1241
love it!
https://etherscan.io/address/0xC0c001140319C5f114F8467295b1F22F86929Ad0#code
@nventuro

[2018-08-27 13:37] frangio commented on #1214
@rstormsf Because it better sandboxes each investor's funds. It's also a simpler implementation, resulting in less attack surface.

[2018-08-27 14:11] nventuro commented on #1214
#1040 by @ninjaahhh proposed graded vesting, where the amount of tokens released during each period doesn't remain the same (in their project, it increased as time went by). We may want to consider adding this to our implementation.

[2018-08-27 15:30] frangio commented on #1176
It's not clear to me either, but I think I prefer underscore for `internal` functions as well. In that case the information that we want to convey is "this is not externally reachable".

Leaving out the underscore makes sense if what we want to convey is "this is neither part of the internal nor external API, so do not use it", but in that case we should be using `private` functions which mean exa

[2018-08-27 15:43] frangio commented on #1176
Although an exception to the underscore rule would be libraries' internal functions.

[2018-08-27 19:12] jeichel-miovision commented on #824
This should now be fixed in the develop branch of truffle: https://github.com/trufflesuite/truffle/pull/1227
(I don't know their release schedule so I'm not sure if it will go out with the next release)

If you are eager, you can always patch your `node_modules/truffle/build/cli.bundled.js` manually... simply find and replace for the five name changes, https://github.com/trufflesuite/truffle/pull/

[2018-08-27 23:38] spalladino opened #1245 "Do not use storage for SupportsInterface implementation"
A contract that currently implements ERC165 extends from SupportsInterfaceWithLookup, which defines a mapping in storage where all the interface identifiers are stored. While this provides `O(1)` lookup, it involves a high gas cost in terms of saving all the IDs in storage.

An alternative implementation could be to simply check the interface ID subsequently against the set of hardcoded identifier

[2018-08-28 14:35] frangio commented on #1245
The lookup implementation of `supportsInterface` costs 616 gas. Given that this cost is constant, and surpassed by the proposed alternative with only 10 interface ids, I think the lookup wins cost-wise.

Additionally, I consider the internal API of lookup to be way better and safer. It's a call to `_registerInterface`, whereas hardcoding the ids requires overloading the `supportsInterface` functio

[2018-08-28 19:58] #1180 closed

[2018-08-28 21:00] frangio commented on #1176
@nventuro reminded me that we use the underscore prefix for `internal` functions such as `_mint` and `_burn` in `StandardToken` because we later expose them through non-prefixed `external` functions. It's not possible to change visibility so we have to have the underscore.

For consistency, all `internal` functions should have the underscore prefix.

cc @elopio

[2018-08-29 14:57] elopio opened #1250 "Make all visibilities explicit"
Solidity has default visibility values for state variables and functions. We should be explicit to make the code clearer, so we should never rely on the default values.

[2018-08-29 16:07] frangio commented on #1147
This has progressed quite a lot. 100% is not doable because of https://github.com/sc-forks/solidity-coverage/issues/269.

[2018-08-29 16:07] #1147 closed

[2018-08-29 17:14] SantanaRuben commented on #943
Thanks to @DJXia I solved my problem. It seems I renamed the contract because I changed the first letter to uppercase, that maked my tests impossible to pass because the artifacts on the builder folder were different when I compiled.

[2018-08-29 17:33] elopio opened #1251 "Add unit test specific to thet Address utils"
The address utilities from `utils/Address.sol` are only tested through their use on ERC721.
There should be a suite of unit tests focused only on Address, independent from the rest of contracts.

[2018-08-29 20:47] nachomazzara opened #1255 "safeConversion.sol - Standard contract for type conversion"
## 🎉 Description

The idea is to have a library contract with standard methods for type conversion will allow for better compatibility between contracts

- [x] 📈 This is a feature request.

## 🔢 Code example

- [x] - bytes to uint
- [x] - uint to bytes
- [ ] - others (Add please useful conversion type)

[code]

[2018-08-29 20:49] vyomshm commented on #1250
@elopio I'd like to take this on.

[2018-08-29 23:05] frangio commented on #1255
Hi @nachomazzara! Can you share a few examples where you'd use these conversions? What kind of safety checks would they have?

[2018-08-29 23:37] elopio commented on #1250
Go for it @vyomshm. Let me know if you need a hand.

[2018-08-30 07:03] PShivam92 opened #1259 "Compilation error after updating OpenZeppelin"
## 🎉 After updation of OpenZeppelin getting error

pragma solidity ^0.4.18;

import 'github.com/OpenZeppelin/openzeppelin-solidity/contracts/token/ERC20/MintableToken.sol';

contract MyToken is MintableToken {
     string public constant name;
     string public constant symbol;
     uint8 public constant decimals;
}

[code]

[2018-08-30 11:09] nventuro commented on #1259
Are you sure you're using the latest compiler? The `emit` keyword is new, and from your example it looks like you may still be running 0.4.18.

[2018-08-30 11:22] nventuro opened #1260 "Add descriptions to beforeEach blocks"
As noted [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1247#discussion_r213747409), some tests would benefit from a description in their `beforeEach` blocks (specially when paired up with `context` blocks).

[2018-08-30 13:44] nachomazzara commented on #1255
@frangio sure!

We transfer tokens from one contract to another.

As we using the `onERC721Received` which expect `userData` to be bytes we need to convert the data to send to bytes [before transferring](https://github.com/decentraland/land/blob/master/contracts/land/LANDRegistry.sol#L249) them and then convert from bytes to uint once [we receive it](https://github.com/decentraland/land/blob/maste

[2018-08-31 09:43] PShivam92 commented on #1259
Code is written using 0.4.18 but its not compiling with compiler 0.4.18 nor with latest that is 0.4.24

[2018-08-31 09:57] nventuro commented on #1259
Which version are you using then? `emit` was introduced in 0.4.21 if I recall correctly.

[2018-08-31 10:02] PShivam92 commented on #1259
Im not using emit in my code ,its saying the error is in openzeppelin and before the updation  code was working correctly .

[2018-08-31 10:08] nventuro commented on #1259
The issue is not in OpenZeppelin: we thoroughly test every single commit to the repository, not just the fact that it compiles but also correctness. You can find the results of the latest test run [here](https://travis-ci.org/OpenZeppelin/openzeppelin-solidity/jobs/422942019).

From the error message you posted, it looks like there's something wrong with your setup - most likely, you're using an o

[2018-08-31 10:08] #1259 closed

[2018-08-31 10:15] PShivam92 commented on #1259
Im writing it in RemixIDE i think this is how we import in remix

[2018-08-31 18:00] frangio commented on #1255
Got it! Completely agree that `onERC721Received` and similar functionality needs helpers for the conversion.

There's an upcoming Solidity feature, `abi.decode`, built for this  It's already merged so it will be in the next release. Since that's coming out soon I think we should rather wait for that than implement it in OpenZeppelin.

[2018-08-31 19:13] #1196 closed

[2018-08-31 20:08] nachomazzara commented on #1255
Ah, ok. Do you have an example or somewhere to read about how can we will use it in a future?

[2018-08-31 21:34] frangio commented on #1255
Yeah, sorry, I forgot to include the link. :sweat_smile:

This is the documentation: https://solidity.readthedocs.io/en/latest/units-and-global-variables.html#abi-encoding-and-decoding-functions.

You will basically be able to do:

[code]

Closing this issue in favor of the native Solidity functions.

[2018-08-31 21:34] #1255 closed

[2018-09-01 01:13] #1250 closed

[2018-09-03 13:47] #1175 closed

[2018-09-03 13:53] #1177 closed

[2018-09-03 21:08] #1176 closed

[2018-09-04 20:38] shrugs opened #1272 "[spec] Bouncer/SignatureChecker + Contract Signatures"
## 🎉 Description

We want to unify the methods by which we check signatures within the OZ contracts. The use-cases are:

- transparently supporting contract signatures via `isValidSignature` using the same interface as checking EOA signatures
- supporting MetaTx-style transactions
- supporting Bouncer-style off-chain authorization
- supporting signature arrays for collecting multiple off-chain sig

[2018-09-04 20:39] shrugs commented on #1272
I'm going to close PRs #1024, #812, #1020, #812, and #983 for cleanliness. They are all affected by this change and will be stale by the time we implement it.

[2018-09-04 20:41] shrugs commented on #1005
closing in favor of tracking via https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1272

[2018-09-04 20:41] #1005 closed

[2018-09-04 20:41] shrugs commented on #1104
affected by: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1272

[2018-09-04 21:00] shrugs opened #1273 "Mintable & Burnable ERC721"
## 🎉 Description

Implement mintable (with role) and burnable ERC721 tokens.

- [x] 📈 This is a feature request.

reference: #957

[2018-09-04 23:10] frangio commented on #1132
@ldub The use case you presented is interesting, although I have a hard time picturing the actual implementation for such dividends. However, I think this argument is not strong enough when compared to the potential enabled by allowing anyone to release funds or trigger pending payments. It means that you can set any address as the beneficiary without imposing constraints on it (e.g. being able to

[2018-09-05 07:45] madan-ideas2it opened #1278 "Not able to set conversion rate in decimals"
In my case, i want to give 100.5 tokens for 1 ether, in such case i want to set the rate in Crowdsale.sol as 100.5. But it is accepting only whole numbers and storing only 100.

You claim to set rate only for wei to token unit, and not for ether to token

But conversion rate is always the same for any conversion.

Example: If i want 100.5 tokens for 1 ether, this is same as

100.5 * 10^18 units fo

[2018-09-05 14:00] aunyks commented on #607
Has this been implemented? If not, what's still blocking?

[2018-09-05 14:16] frangio commented on #607
@aunyks No, it hasn't. Personally I'm not sure that it will be a good idea for us to support two different package managers at this stage in which we're still figuring a few things out. Additionally, no one among the current maintainers is familiar with Ethereum's Python tooling so we won't be able to give good support for it.

I'm marking this as discussion to hear some more opinions.

[2018-09-05 15:01] #1132 closed

[2018-09-05 18:30] aunyks commented on #607
Very well. I'd love to see this in the Python side of the community at some time in the future! Hopefully we'll see more convergence between Ethereum JS and Py dev experiences.

[2018-09-05 21:34] frangio commented on #1174
Fixed.

[2018-09-05 21:34] #1174 closed

[2018-09-05 22:04] frangio commented on #1272
Can you explain further how threshold signatures fits into this? Would there be a component in OpenZeppelin to specifically suppot them?

[2018-09-05 22:11] shrugs commented on #1272
threshold signatures probably isn't the best term, since that's already a real thing. But I'm referencing "be able to validate an array of signatures rather than a single signature" and then make it easy to apply some threshold logic to them. Specifically in the case of multisig schemes where a transaction might require 3 signatures from owners or something.

[2018-09-05 23:56] frangio commented on #1272
Right. That's the kind of thing I was expecting to delegate to contract signatures. So we can just say "we support isValidSignature" and Gnosis Safe can implement that function with their own threshold logic. Do you see OpenZeppelin having its own multisig validator component? I personally think it's best if we delegate that to actual multisig wallet contracts.

[2018-09-05 23:57] shrugs commented on #1272
@frangio I think we have the same opinion here! I'll clarify the text.

[2018-09-06 14:38] #1179 closed

[2018-09-06 20:53] dmdque commented on #1209
Came across this issue in passing. This [contract](https://github.com/yarrumretep/dividend-token/blob/master/contracts/DividendToken.sol) may be helpful.

[2018-09-06 21:17] nventuro commented on #1278
100.5 tokens for 1 ether is *not* the same as '100.5 * 10^18 units for 1 * 10^18 weis', the decimals are only used when amounts are displayed (e.g. on exchanges), none of the math takes them into account, precisely to allow fixed point math to work.

If what you want to do is have an exchange rate of 100.5 of your token units to 1 wei, then I'm afraid that's not possible, since the EVM only suppor

[2018-09-06 21:17] #1278 closed

[2018-09-06 22:14] frangio commented on #1178
We've decided against some of these, and implemented others in other PRs.

[2018-09-06 22:14] #1178 closed

[2018-09-06 22:20] nventuro opened #1290 "Automatically generate Role contracts"
The 2.0 release will introduce `MinterRole`, `SignerRole`, etc.: these are all manually generated, as are their tests, mocks, etc. We should have some sort of automatic code generation step in our build process to both make it easier to add new roles, and reduce the potential for human error.

[2018-09-06 22:45] nventuro opened #1292 "Create a Whitelist and WhitelistedCrowdsale"
The old `Whitelist` and `WhitelistedCrowdsale` contracts were removed in #1291.

These contracts made a distinction between a whitelister (the `owner`) and whitelisted accounts. Using `Roles`, since an account with a role can add that role to any other account, a whitelisted account would essentially be a whitelister itself. We need to figure out whether or not that's an issue, and if yes, come up

[2018-09-06 23:18] #1273 closed

[2018-09-07 10:16] #366 closed

[2018-09-07 10:16] #1090 closed

[2018-09-07 10:16] #1146 closed

[2018-09-07 11:05] Levino commented on #1292
I am very interested in this. Is there a timeline for further work on this? I need a solution ASAP, so I will start to write my own, but would also be happy to contribute some code to this repo.

[2018-09-07 11:08] nventuro commented on #1292
Hey @Levino! OpenZeppelin v1.12 (the current release) [includes a `WhitelistedCrowdsale` contract](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v1.12.0/contracts/crowdsale/validation/WhitelistedCrowdsale.sol), feel free to use that one! This issue refers to versions past v2.0 (which hasn't yet been released).

[2018-09-07 11:10] Levino commented on #1292
Thanks for clarifying. I saw the changes but did not know that a new major version was in the making. Will continue to watch progress on the matter.

[2018-09-07 13:01] #437 closed

[2018-09-07 13:01] frangio commented on #437
Thanks for the discussion guys, after some consideration we've decided to go with the original proposal by @3sGgpQ8H.

[2018-09-07 16:36] rbval opened #1308 "Add "equals" method to SafeMath"
## 🎉 Description

Add "equals" to SafeMath. Currently mul / div / sub / add create a clean syntax. It would be nice to have an "equals" operation that could be added to `require` statements and return values.

- [x] 📈 This is a feature request.

## 📝 Details

In detail this could be used for example like this inside methods:

`require(x.equals(0));`
`return x.equals(0);`

[2018-09-07 17:35] frangio commented on #1103
Partially fixed by #1311.

[2018-09-07 20:16] colltoaction opened #1312 "ethSendTransaction doesn't wait for the transaction to be mined"
## 🎉 Description

I'm running your test suite against the RSKj 0.5.0 node and found an issue with some tests.

- [X] 🐛 This is a bug report.

## 💻 Environment

- OpenZeppelin `master` branch (commit https://github.com/OpenZeppelin/openzeppelin-solidity/commit/6c4c8989b399510a66d8b98ad75a0979482436d2)
- RSK 0.5.0 regtest network
- `npx truffle test --network rsk` with my node listening at `localhos

[2018-09-09 16:34] frangio commented on #1292
I think we should distinguish between two problems in the discussion.

The exact problem we ran into is that `Whitelist` implemented its whitelist with a `Role` assigned to the whitelisted accounts. When we tried to migrate to the newer `Roles` library, we realized that it would imply that whitelisted accounts could add other accounts to the whitelist, which was not a feature of the previous `Whit

[2018-09-10 14:47] nventuro commented on #1292
Quoting @mjdietzx from https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1291:

Where does this restriction come from? A paper contract? Also, would whitelisters being able to add other whitelisters be fine?

[2018-09-10 15:03] gorlitzer opened #1314 "Differences between ERC20 contracts between node package and github repository"
## 🎉 Description
Good morning, as usual I' m using your npm module to work with my contracts in a truffle directory but i noticed that there are gaps between contracts from the github repository and the node modules package.
Also It would be useful for compiler' s warnings to add require statements.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

Next, we need

[2018-09-10 15:04] mjdietzx commented on #1292
Just to make sure we're on the same page, kyc / aml checks require an address to be whitelisted before it can own any tokens (ie in a _regulated_ ICO or a _regulated_ asset-backed token / security token). This process involves the investor (user who wants to purchase tokens) to verify their identity and source of funds, at which point their address will be added to a whitelist (by the contract own

[2018-09-10 15:06] nventuro commented on #1312
Hi @tinchou! We only run our tests agaisnt `ganache`, which AFAIK mines a block immediately on each transaction, so I'd expect there to be multiple tests with this same issue. Is this the only one causing you trouble?

[2018-09-10 15:09] nventuro commented on #1314
The `master` branch of the repo is much further ahead from the 1.12 release: we've actually just released the [2.0 release candidate](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.0.0-rc.1). If you want to take a look at the state of the repo as of 1.12, click [here](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/v1.12.0).

In any case, you should only use the v

[2018-09-10 15:09] #1314 closed

[2018-09-10 15:21] nventuro commented on #1292
Thanks @mjdietzx, your use case makes perfect sense, and I agree with you in that it'd be great if OZ included such a contract.

I have a couple further questions regarding the regulation process you're facing:
 - pre-2.0 rc, a single address (the `owner`) was in charge of adding and removing addresses from the whitelist. Would it be fine for this address to also be able to designate new whitelist

[2018-09-10 15:35] mjdietzx commented on #1292
Great @nventuro

yes, this functionality is required by regulators because in certain cases an address needs to be removed (ie a person is added to an anti-money-laundering (AML) 'blacklist', or a user's passport has expired and they haven't / won't update their kyc info)

it sounds like a really nice feature for there to be multiple `whitelister` addresses with power to add / remove addresses to

[2018-09-10 15:42] shrugs commented on #1194
hi @patrykmat what the error you're getting specifically? Is a transaction failing?

[2018-09-10 15:42] tanpv opened #1315 "What if have any token standard that mixed of ERC721 and ERC20"
This requirement is seem very real:
* In game could have multiple group of difference things (ERC721), but on one group, they are same style (ERC20)
* In finance, stock could have multiple kind (ERC721), but same kind is exchange able (ERC20)

[2018-09-10 15:51] tinchou commented on #1312
No, there are multiple issues but this is the first one I could isolate.

Is running your tests on full nodes something you want to do? Your test suite is very valuable for us, but we could just fork if this isn't something you're interested in.

[2018-09-10 15:52] nventuro commented on #1292
Removing roles is not something `Roles` provides by default - the functions are there, but they are `internal`: you need to make `public` functions with whatever validation you require for this feature to be available.

Anyway, you could easily disable the ability for the original whitelister (the contract creator) to add other whitelisters, if you wanted to:

[code]

I'm not 100% sure in which ca

[2018-09-10 15:59] nventuro commented on #1312
We've actually discussed that same thing very recently, since there are some minor differences between `ganache` and a real node (IIRC this caused a false positive [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1130#issuecomment-412565862) due to the default gas stipend not being the same, though I may be wrong). Improving our test suite so that it can be reused (and even export

[2018-09-10 16:01] tanpv commented on #1315
hi @nventuro ,
Yes, I know that, but seem the need for a standard of mixing between ERC721 and ERC20 is real:
For example, in finance, company stocks we have:
* Stocks that could not vote (group1) and stocks could vote (group2) are follow ERC721 be cause it difference
* But all stocks in group 1 are same --> these should follow ERC20
* all stocks in group 2 are same --> these should follow ERC20

[2018-09-10 16:05] tanpv commented on #1315
Similar use case in game of collect magic card in real life:
* Difference magic card --> should follow ERC721
* But I could have multiple instance of same card --> should follow ERC20

[2018-09-10 16:07] nventuro commented on #1315
But I could have multiple instance of same card --> should follow ERC20

I think you're abusing the concept of NFT a bit in that case: IMO, that last scenario would be better handled by a contract (the game), which has references to multiple ERC20s (e.g. with a `mapping(cardID -> token)`).

[2018-09-10 17:08] tinchou commented on #1312
It's hard for me to say. As a node developer, I would argue that the behavior of the `ganache` node doesn't reflect the reality of an Ethereum/RSK node. On the other hand, `ganache` makes it easier to test contracts, and the fact that we could use your suite as a sort of integration test suite for our node is incidental.

I'll let you know if I can work a little more on this to get a sense of the

[2018-09-11 08:45] gorlitzer commented on #1314
oh oh so sorry, i wasn' t able to find the 2.0 candidate, now i will use it! Thanks.
At the moment the best case i found to clone your contracts instead of using the released version is for implementing a "staged crowdsale" with different rates, or a mintable token with different minters.
Thank you mate

[2018-09-11 09:40] fleupold opened #1320 "[Naming] System under Test should not be called "mock""
When a solidity library is unit tested, it needs to be wrapped in a smart contract in order to be exposed for the js unit testing framework. The OpenZeppelin framework chose to call these wrapping contracts Mocks, e.g.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/b644c72eb083d7a84a5c9924ec8012a7c29290fd/contracts/mocks/MathMock.sol#L7-L19

They are used in unit tests like this:

htt

[2018-09-11 14:56] nventuro commented on #1320
Yes, I think we all agree on this - mock is a very poor name. Keep in mind this is not the only scenario in which we use them: we also have mocks for abstract contracts, which complete the base implementation (e.g. `ConditionalEscrow`), and mocks for contracts that provide modifiers, so that they can be tested (e.g. `Ownable`). Would you call all of these by the same name?

[2018-09-11 18:32] fleupold commented on #1320
I wasn't able to find the `OwnableMock`.

The `ConditionalEscrowMock` is I believe more what people would call a spy (at least in [Mockito terminology](https://github.com/mockito/mockito/wiki/Using-Spies-(and-Fakes))), since it stubs some behaviour but leaves the rest of the object intact.

Interestingly, there is also already a [MerkleProofWrapper](https://github.com/OpenZeppelin/openzeppelin-sol

[2018-09-11 18:50] nventuro commented on #1320
You're right regarding `OwnableMock` - I've just checked and we have no tests for that modifier! Yikes. You can take a look at `PausableMock` though to see what I meant.

I think `Exposed` makes a lot of sense for libraries and e.g. `MinterRole`, where we need to _expose_ internal methods. I worry a bit that having multiple names for this kind of thing (e.g. `Spy`, `Exposed`, something else for th

[2018-09-12 03:50] shrugs commented on #1320
I agree that mocks are not the right term for creating SUTs; we use the `Impl` for some cases, but are really inconsistent.

So in the case of Ownable, that would probably be an `OwnableImpl` where we're testing the public-facing behavior of an otherwise production-ready contract.

But if we exposed some internal state to test invariants or wrote a helper function that bypassed authorization logic

[2018-09-12 12:46] darioAnongba opened #1322 "Security Token implementation"
## 🎉 Description

Hi everyone,

Currently, we are interested in implementing a security token and know that this is something that interests most people in the space. That's why we thought that the implementation could be done with OpenZeppelin in order to achieve I higher degree of security and reviews.

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 📝 Details

The ERC1400 p

[2018-09-12 20:44] shrugs commented on #1320
idea: `Testable` prefix. aja `TestableERC20` or `TestableECDSA`?

[2018-09-13 10:04] nventuro commented on #1251
Closed via https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1316

[2018-09-13 10:04] #1251 closed

[2018-09-13 19:09] BrendanChou opened #1326 "NonReentrant change is breaking"
## 🎉 Description

The new nonReentrant function uses a local variable which counts toward the stack limit for any functions that use this modifier, making some contracts unable to be compiled.

Results in the error: `CompilerError: Stack too deep, try removing local variables.`

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

This is a change from v1.11 to v1.12

[2018-09-13 19:51] frangio commented on #1326
Thanks @BrendanChou, this is very interesting... Do you have an example contract that would trigger this?

[2018-09-13 22:19] BrendanChou commented on #1326
This is probably a little more complicated than is necessary but this is the function that triggered for me:

https://gist.github.com/BrendanChou/5672f834ef6af3dcd297a6e2ccd77bdb

[2018-09-14 02:57] workspace-asia opened #1327 "IncreasingPrice Crowdsale"
This may be a feature request. I want an increasingprice crowdsale but based on the amount of weiraised, and not on the time. Is it possible?

[2018-09-14 06:02] jbogacz commented on #1209
@frangio I'm trying map in my mind your branch code to current project state. Could you correct me if I'm wrong -> Old **StandardToken** is just now **ERC20** right ? We'r gonna to produce something like SnapshotERC20 or better to stick naming convention ERC20Snapshot ?

[2018-09-14 10:30] nventuro commented on #1327
Hey there @workspace-asia! This is actually being developed right now, see #1072.

[2018-09-14 18:19] frangio commented on #1209
Yes! And we should stick tot he naming convention with something like `ERC20Snapshot`, or `ERC20Snapshots`. Other name ideas are welcome.

@jbogacz are you interested in working on this issue?

[2018-09-15 04:47] jbogacz commented on #1209
@frangio Yes, I'm! It's very good candidate to get more familiar with OZ engine.

[2018-09-16 01:31] frangio commented on #1209
@jbogacz Awesome. Let me know if you have any questions.

[2018-09-16 03:39] frangio commented on #1312
@tinchou We are definitely interested in running the test suite against actual nodes. The main obstacle is probably our use of ganache's `evm_increaseTime` method, though, which we need in order to test some time-dependent contracts such as `TokenTimelock`. Do you have any ideas for working around that?

I agree with @nventuro that it would be very bad to have the test suite littered with these fu

[2018-09-16 04:10] tinchou commented on #1312
We started working on it, hopefully we can collaborate! Here's a preview:

https://github.com/rsksmart/openzeppelin-solidity
https://circleci.com/gh/rsksmart/openzeppelin-solidity

I saw just a minor issue with our `evm_increaseTime` implementation where there's an off by one second error, but it mostly works.

The main issue is that Circle CI aborts the test run after *5 hours*. I plan to investi

[2018-09-16 14:21] barakman opened #1328 "Request for implementing a contract which supports "multi-user" access"
## 🎉 Description

One of the main issues that we've come across, is the ability to scale-out (aka *horizontal-scaling*) the execution of `onlyOwner` functions in our system.

Such function can be called only from a single account, hence, in every function-call, one must increment the nonce before sending the transaction to the Ethereum node.

However, if we allow such function to be called from an

[2018-09-17 05:40] tgoeminne commented on #1327
Nice, Thanks

[2018-09-17 09:38] nventuro commented on #1328
Hey there @barakman! The upcoming OpenZeppelin 2.0 release (for which we already have a [release candidate](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.0.0-rc.1) deprecates `Ownable` in favor of [more granular roles](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1291), e.g. a [`MinterRole`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/v2.0.0-rc.

[2018-09-17 20:48] frangio commented on #1326
Thanks! We're definitely going to keep this in mind for future minor releases starting with v2.0.

[2018-09-17 20:48] #1326 closed

[2018-09-18 07:53] barakman commented on #1308
@rbval:
Maybe you got the inspiration for that from off-chain code that you have (e.g., Javascript `assert` module, which is often used in Truffle tests, etc).
In the on-chain side, such functionality is absolutely worthless.
The functions in `SafeMath` are wrappers for the Solidity language arithmetic operators, allowing the user to execute them "safely".
A wrapper for the Boolean operator `==` w

[2018-09-18 08:45] rbval commented on #1308
I think you are both right. One more poke: in the sub method there’s a requirement the first number to be greater than the second one. I believe this is due to not getting output of a negative number. Could that be applied here where we could demand both numbers to be greater than zero ( > 0 ) before comparing them as two integer overflowed numbers can be equal? I think the compiler throws warning

[2018-09-18 14:14] rjkz808 opened #1330 "Check tx.origin in the functions where the _value is taken from the approval"
## 🎉 Description

So, in the `transferFrom`, `burnFrom` or other functions in the ERC20 token smart-contracts we need to check the `tx.origin` balance

- [ ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- openzeppelin-solidity ^1.12.0

- I'm using Ganache, but you can deploy to any existing network

- You can

[2018-09-18 20:04] frangio commented on #1330
Hi @rjkz808! Thanks for the suggestion.

This is clearly a deviation from ERC20 semantics. I don't think a function such as `transferFrom` should be altered in this way.

But more importantly, usage of `tx.origin` is often a security anti-pattern, and it is the case here. With such a token, any transaction initiated by a token holder can result in an arbitrary contract taking tokens from their bal

[2018-09-18 20:04] #1330 closed

[2018-09-18 20:06] barakman commented on #1330
@rjkz808:

Read bullet #6 in [this answer](https://ethereum.stackexchange.com/a/200/16043) on ethereum.stackexchange.

[2018-09-18 20:33] nventuro commented on #1312
That's great news @tinchou! Are those blockers specific to RSKj, or will they affect all other nodes? Also, how did you get the promises to resolve only once the transaction was mined?

[2018-09-18 20:41] frangio opened #1333 "BreakInvariantBounty claim can be front-runned by owner"
[`BreakInvariantBounty`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/4b21fcf5af6b411d6c39b0616e25d91c811d0768/contracts/bounties/BreakInvariantBounty.sol) allows to place a bounty that can be claimed automatically if a set of invariants is broken. The Bounty contract can be destroyed by the owner to recover the money once it makes no more sense to have a bounty up for this contract.

[2018-09-18 20:43] nventuro commented on #1333
Any ideas on this front?

[2018-09-18 22:17] tinchou commented on #1312
It seems that some Ethereum implementations would not have them. EthereumJ probably would.

For transferring value I added an `await`. For transactions that are created through contract methods, it seems that Web3 creates filters and waits automatically. It just worked :).

[2018-09-19 02:27] #1328 closed

[2018-09-19 02:35] nventuro commented on #1312
Awesome! This will be of help once we set up our tests against a real node, thanks :)

For reference, [this](https://github.com/rsksmart/openzeppelin-solidity/commit/885809fbe5e84edf20c7ba4d456c069dbe4e6a94#diff-fd29a580adb31f093754324ea96fc2a9) is the bit that we'd need to port over to OZ to fix this issue.

[2018-09-19 14:15] Paradox-AT opened #1336 "Refundable Crowdsale"
## 🎉 Description

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- OpenZeppelin: RC2
- Network: Ganache
- Geth: 1.8.15-stable

## 📝 Details

I am trying to use the refundable crowdsale contract but when I am sending ethers to the contract it is reverting. Even if I am trying to deploy the refundable mocku

[2018-09-19 15:12] jbogacz commented on #1232
Hey, apart of main work for this task I faced the case where logged event argument is uint256. At truffle test level this argument is represented by BigNumber, so I tried to verify if argument was logged.

For instance:
`const event = expectEvent.inLogs(currentSnapshotId.logs, 'Snapshot', { id: new BigNumber(1) });`

Even the values are equal the check fails due the arguments are both struct. Plea

[2018-09-19 15:16] nventuro commented on #1336
Hey @Paradox-AT, thanks for reporting this. Most likely this is probably an issue on your end, since both the Refundable Crowdsale and Escrow are thoroughly tested, but I can help you figure this out. Could you share the code that causes a transaction to revert? A failing test case would be great. Thanks!

[2018-09-19 15:27] nventuro commented on #1232
Hey there @jbogacz! You're absolutely right, `expectEvent` doesn't work properly with `BigNumber` values, which is why some of the tests mix both styles (e.g. they use `expectEvent` for event name, account, etc, but then test the values separetely). We actually have a separate issue for this: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1026, if you can open a PR with your change t

[2018-09-19 15:29] jbogacz commented on #1232
Yes Sir! I will do it shortly :)

[2018-09-19 16:16] Paradox-AT commented on #1336
Hi, @nventuro I've uploaded the code [here](https://github.com/Paradox-AT/Temp)

[2018-09-19 17:59] nventuro commented on #1336
I only see a migration script on that file, where is it that you get an error?

[2018-09-20 06:15] flyq opened #1337 "about ERC721 standard"
## 🎉 Description
- [ ] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.
- [x] personal confuse question.

## 📝 Details

Describe the problem you have been experiencing in more detail. Include as much information as you think is relevant. Keep in mind that transactions can fail for many reasons; context is key here.

## 🔢 Code To Reproduce Issue [ Good To Have ]

In ERC721, why is there n

[2018-09-20 07:32] Paradox-AT commented on #1336
You have to install the node package then deploy it.

I am getting while sending ethers to the contract i.e while calling the fallback function defined in the Crowdsale contract.

[2018-09-20 09:30] andreafspeziale opened #1339 "New Roles features introspection"
## 🎉 Description
- [  ] 🐛 This is a bug report.
- [x] 📈 This is a feature request.

## 💻 Environment

Next, we need to know what your environment looks like.

- OpenZeppelin 2.0 RC 1

## 📝 Details

Hola chicos!
I really like the introduction of the Roles library.
I've a couple of questions regarding it:

1) Is there any specific reason why you did not added a Burner role?
I'm thinking about some p

[2018-09-20 11:32] jbogacz commented on #1162
Hey folks, I'd like to take care of this if it's still not touched.

[2018-09-20 15:01] nventuro commented on #1337
Hey there @flyq! Our 721 implementation follows the [official specification](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md#specification), in which there is no `transfer` function, and `transferFrom` returns nothing. You can read more over there on the rationale behind this decision, but `transferFrom` probably returns nothing because the people who wrote the spec decided it was bet

[2018-09-20 15:01] #1337 closed

[2018-09-20 15:04] nventuro commented on #1336
Are you sure the crowdsale has started (i.e. the opening time has already passed) by the time you use it? Take a look at the [`RefundableCrowdsale` tests](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/4b21fcf5af6b411d6c39b0616e25d91c811d0768/test/crowdsale/RefundableCrowdsale.test.js) to see how to use it.

[2018-09-20 15:06] nventuro commented on #1162
@jbogacz go ahead! I'll gladly review your contribution once it's done :)

[2018-09-20 15:19] nventuro commented on #1339
Hey @andreafspeziale! These are all great questions that we've thought about thoroughly (I hope!), but I'm not sure if we ever wrote down the answers on GitHub.

I'm thinking about some possibilities like having an ERC20 token acting as a kind of certificate of ownership so for e.g it can be minted and burned only by certain EOA or SC.

The idea behind burning is destroying _your_ tokens, which pe

[2018-09-20 15:25] nventuro opened #1340 "Figure out why the test suite doesn't finish"
For some time now we've had hangs in the CI, where the build fails because it goes over the maximum time limit, which requires a manual restart. It also sometimes happens locally. @shrugs [suggested](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1323#issuecomment-420790968) using  https://github.com/mafintosh/why-is-node-running to find the root cause.

[2018-09-21 03:16] flyq commented on #1337
Thx

[2018-09-21 06:55] 360disrupt opened #1341 "TimedCrowdsale, AllowanceCrowdsale: Possible Overflow in Standardtoken.sol -> transferFrom"
## 🎉 Description
 I created a Crowdsale (TimedCrowdsale, AllowanceCrowdsale) and it looks like it creates an overflow. Because the addresses change to some weird hex numbers:

[code]
- [x ] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.

## 💻 Environment
openzeppelin-solidity@v1.12.0
Ganache
truffle

## 📝 Details

The transaction fails with revert (see the debugging point below). I'm a

[2018-09-22 17:51] Gargo opened #1342 "Demo snippet in README does not work in v1.12"
Men just try to use instructions from your readme. For example I get the following on windows 10:
`Error: Could not find openzeppelin-solidity/contracts/token/ERC721/ERC721Full.sol from any sources; imported from E:\nodejs_projects\truffle-test\contracts\Test.sol`

[2018-09-22 23:54] frangio commented on #1342
Hi @Gargo. The instructions in the readme are for version 2.0.0-rc, which you can install through `npm install openzeppelin-solidity@next`.

Thanks for mentioning this. We'll make it clearer.

[2018-09-23 07:13] Gargo commented on #1342
@frangio thanks it almost works. The only problem is how to disable warnings in vs code now.
And of course you should fix readme

[2018-09-24 14:46] princesinha19 opened #1345 "npm module openzeppelin-solidity of doesn't have ERC721Mintable.sol and many more files"
I have installed openzeppelin-soilidty through npm but it doesn't contain ERCMintable.sol, ERC721Full.sol and many more files. And if i clone the code through github then in ERC70 folder ERCMintable.sol and all other files are present.

Screenshot of npm module
![screenshot from 2018-09-24 20-12-19](https://user-images.githubusercontent.com/28489437/45959053-9f689b80-c036-11e8-8040-f735cdf346bd.pn

[2018-09-24 15:33] frangio commented on #1345
Hi @princesinha19! Apologies for the confusion. These contracts were added in the latest release cycle and are part of the v2.0 release candidate.

`ERC721Full` is called `ERC721Token` in v1.12, but there is unfortunately no `ERC721Mintable` equivalent.

If you would like to test the release candidate you can install it via `npm install openzeppelin-solidity@next`.

[2018-09-24 17:58] #1345 closed

[2018-09-24 18:00] #1342 closed

[2018-09-24 18:02] nventuro opened #1346 "Remove all Solidity warnings"
Some of our contracts compile with warnings, mostly due to unused function names of functions that will be overridden, and require the argument to be there for the docstring to not error out.

OZ should compile with no warnings, so we should either make inline exceptions for this, or find a way to work around it.

[2018-09-24 18:57] ChrisCates commented on #1346
Some warnings include `require()` functions needing a second parameter to explicitly define what the error was.

Can help contribute if open to a pull request.

[2018-09-24 18:59] ChrisCates opened #1347 "Proposal: MultiOwnable Smart Contract"
A variation of the Ownable.sol contract.
I'd like to see a Multi Ownership Smart Contract that utilizes `mapping` as part of the OZ project.

I have created an implementation that may be of interest... And can send a pull request for review if open to a file such as `MultiOwnable.sol`. in `/contracts/ownership`

[2018-09-24 19:04] nventuro commented on #1346
Hey there @ChrisCates! Sure, a contribution here would be of great help :)

For reference, these are the warnings of the latest CI run (https://travis-ci.org/OpenZeppelin/openzeppelin-solidity/jobs/430787621#L2884):

[code]

[2018-09-24 19:23] nventuro opened #1348 "ERC20Mintable should not allow for minting to end"
The current contract has the following function:

[code]

This, in effect, is equivalent to giving all minters permission to remove all other minters (and themselves) from the minter group, which goes against the minimal assumption model we've been following for the Roles feature: we should get rid of it.

[2018-09-24 19:31] nventuro commented on #1347
Hi @ChrisCates! Do you mean you'd like multiple accounts to have a role? If so, [we've introduced that same thing](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/contracts/access/roles) in the [2.0 release candidate](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.0.0-rc.1), check it out!

[2018-09-24 19:32] frangio commented on #1348
An interesting thing to note is that this function was necessary when the minter was the owner, because they might have wanted to keep ownership for other things (e.g. pausing), and still give token holders the guarantee that minting was no longer possible. With the new granular permissions, this problem is no longer there. The minters can renounce minting to achieve a similar effect.

[2018-09-24 19:38] ChrisCates commented on #1346
Having troubles running `npm install` on the project.
Have switched to `v8.9.4` as well too.

Can't run `truffle compile` either without `Scrypt`.
Perhaps instructions on how to compile the project to debug/contribute would be nice.

[2018-09-24 19:43] ChrisCates commented on #1347
@nventuro the `Roles.sol` and it's respective files are for specific permissions.

The `Ownable.sol` contract acts almost as an administrative role for all account functionality.
Also, I feel the structure of the `Roles.sol` code could be simplified greatly as there are some redundancies in terms of functionality.

In fact, this may a good opportunity to restructure to have an `admin` role for ver

[2018-09-24 19:48] nventuro commented on #1346
What truffle version are you running? The setup process is literally to run `npm install`: `npm test` should just work at that point.

[2018-09-24 19:51] nventuro commented on #1347
That is precisely why we've decided to remove it in 2.0, and move towards more granular permissions (#366).

Which redundancies worry you? The distinct roles under the `roles` directory are, granted, the exact same contract in essence: they exist only due to limitations of Solidity, and will be auto generated (#1290) in the future.

[2018-09-24 19:59] ChrisCates commented on #1347
@nventuro Ahh I see.
It seems a lot of other files depend on it.

Ah, so they will have auto-generated stubs in the future...
In that case I don't have any concerns.

Thanks for the clarifications.

[2018-09-24 19:59] #1347 closed

[2018-09-24 20:00] ChrisCates commented on #1346
[code]

[2018-09-24 20:03] nventuro commented on #1339
Hey @andreafspeziale,

That first scenario does make sense, but it is supported by the current model :) You could burn your tokens and show that to the issuer, or transfer them to the issuer, and have they burn them.

Regarding the minter role, transactions are non-reversible in the blockchain world, so you should be very careful as to who you give the role to. That said, if you wanted some sort o

[2018-09-25 04:56] princesinha19 commented on #1345
okay @frangio. Thanks for clearification.

[2018-09-25 10:02] b-mueller commented on #435
Sorry to re-vitalize this old issue but I agree @3sGgpQ8H and @frangio. `assert` is meant assert invariants, i.e. conditions that are impossible to occur. If there's a way to violate and invariant it *always* means that there's a bug in the code.

The asserts in SafeMath are implicitly performing input validation and IMO should be replaced by `require`.

[2018-09-25 15:37] b-mueller commented on #435
Ahh, I didn't notice! Awesome :)

[2018-09-26 02:01] UncleVultur opened #1352 "Ownable contract: Undeclared identifier. Did you mean "owner""
## 🎉 Description

- [x] 🐛 This is a bug report.

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using?
latest 0,4.24
- What network are you deploying to? Ganache? Ropsten?
ganache
- How are you deploying your OpenZeppelin-backed contracts? truffle? Remix? Let us know!
truffle

## 📝 Details

I can't make a function to transfer to owner, aditionaly i

[2018-09-26 03:59] HSY229 opened #1353 "Warning or automatic correction the parameter of ether()"
## 🎉 Description

Should we do one of below thing in `test/helpers/ether.js#ether()`?
* throw error
* convert number to string before invoke `web3.toWei(n, 'ether')`

-  [x] 📈 This is a feature request.

## 💻 Environment

- openzeppelin-solidity 1.12.0
- web3 0.20.6
- Truffle v4.1.14 (core: 4.1.14)
- Solidity v0.4.24 (solc-js)

## 📝 Details

I want to use helper method to convert ether value into

[2018-09-26 14:16] frangio commented on #1352
Hi @UncleVultur. The `_owner` state variable is private, you should use the public getter `owner()`: `owner().transfer(100000000)`.

[2018-09-26 14:16] #1352 closed

[2018-09-26 14:20] frangio commented on #1346
@ChrisCates can you show us the output you get when trying to install?

[2018-09-26 14:35] frangio opened #1354 "Add tests for events in roles constructors"
In https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1329 we made sure that `<Role>Added` events are emitted at construction, but we don't have tests for it yet because it's not as easy to retrieve the decoded logs emitted in a constructor using Truffle.

[2018-09-26 14:53] nventuro commented on #1353
This is not an issue with the helper, but with floating point representation: JavaScript's floating point numbers are not large enough to correctly store 0.123456789012345678, so even if we converted to string you woulnd't get the correct result.

You can verify this by running `node` and typing the number, or opening the browser dev tools, and typing `console.log(0.123456789012345678)`.

[2018-09-26 14:53] #1353 closed

[2018-09-26 16:50] nventuro opened #1355 "Add test helper to check balance difference"
It's been [mentioned](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1350#discussion_r220622696) that we have the following pattern in multiple parts of our test suite:

[code]

We should develop a test helper to take care of that (e.g. by receiving a function to await on, and then return the balance difference):

[code]

[2018-09-26 18:43] nventuro commented on #1333
While considering fixes, we should keep [this comment](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1350#discussion_r220421864) in mind.

[2018-09-26 18:44] nventuro opened #1356 "Prevent Bounty from being claimed twice."
Spawned from [this comment](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1350#discussion_r220623334).

[2018-09-26 18:49] nventuro opened #1357 "Rename 'anyone' account in tests to something else"
When testing access control related functionality, we usually have an `anyone` account that represents an account with no special permissions, e.g.:

[code]

`anyone` is probably not the best name we can find, we should find something that better conveys the meaning of 'anyone else', 'any random account', etc.

[2018-09-26 19:03] nventuro opened #1358 "Add test helper to send funds"
We've sometimes created local helpers to do this (see [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1350#discussion_r220421347)), but it is sort of dirty: we should have a simple wrapper for `ethSendTransaction` with just `to`, `from` and `value`.

[2018-09-26 19:05] #1348 closed

[2018-09-26 23:38] ChrisCates commented on #1346
Using:
[code]

Resolved the issue. Using node `v8.9.1` as specified in the `.node-version` appears to give errors when I used it 2 days ago...

I will test with v8.9.1 to see if I can reproduce the issue.

[2018-09-26 23:42] ChrisCates commented on #1346
Interestingly enough,
Seems `v8.9.1` is throwing errors...

Here is a logcat of the install: https://gist.github.com/ChrisCates/ff9f91ceefd0c616d90ef4a5334c67eb

[2018-09-27 14:33] #1026 closed

[2018-09-27 16:13] nventuro commented on #1232
Closed via https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1343

[2018-09-27 16:13] #1232 closed

[2018-09-27 17:58] nventuro commented on #501
Our behavior test files can help in this regard (e.g. you can check that your derived contract behaves like an `Ownable` contract), but it is very difficult and sometimes impossible to make them so generic as to be useful in this regard. The solution should IMO come from the language itself, preventing the developer from overriding certain functions.

[2018-09-28 03:42] yosriady commented on #1357
How about `stranger`?

[2018-09-28 10:13] nventuro opened #1362 "Remove redundant helpers."
We currently have `assertJump`, `assertRevert`, `expectThrow`, etc., and use them indiscriminately. We should have a single way of testing for these kinds of things.

[2018-09-30 04:48] rstormsf opened #1366 "MerkleProof library doesn't compile if imported from openzeppelin"
## 🎉 Description

![image](https://user-images.githubusercontent.com/9360827/46253459-3ebfd100-c431-11e8-8e9a-d8748101aa01.png)

- [x] 🐛 This is a bug report.
- [ ] 📈 This is a feature request.
[code]

## 💻 Environment

Next, we need to know what your environment looks like.

- Which version of OpenZeppelin are you using?
`    "openzeppelin-solidity": "^1.12.0",`

Basically, if I copy/paste contra

[2018-10-01 12:39] #1358 closed

[2018-10-01 12:43] Aniket-Engg commented on #1357
what about `guest`?

[2018-10-02 02:42] nventuro commented on #1357
Hmm, I like `other` better than the other proposals, I think it could work.

[2018-10-02 03:12] robertmagier commented on #1015
I check today and ERC721 standard defines those functions as payable. Is it possible to reopen the ticket and modify it ?

[2018-10-02 03:28] frangio commented on #1015
@robertmagier For the reasons explained above so far we've decided to keep the functions non-payable. Have you run into a situation were you need them to be payable? If so, please open a new issue and explain the situation so we can discuss possible solutions.

[2018-10-02 08:04] Aniket-Engg commented on #1346
@ChrisCates you working on it?

[2018-10-02 09:51] nventuro commented on #1015
@robertmagier I've just checked the standard in its final form, and it still contains the section described above (see [here](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md#caveats). It references the [Solidity compiler issue #3412](https://github.com/ethereum/solidity/issues/3412), where removing the error you encountered is described. From that discussion, however, it looks like it

[2018-10-02 10:07] nventuro commented on #1346
@ChrisCates it looks like you had trouble installing `scrypt`. That's bizarre, and I've never seen it reported here, could you share some more info regarding your setup/error messages we're getting, to see if we can figure it out?

[2018-10-02 12:53] nventuro commented on #1211
As a stepping stone, this changes should first go into the [`solc-nightly`](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/solc-nightly) branch.

[2018-10-02 14:38] barakman commented on #1167
@nventuro: Hi

I have recently come across the requirement to install OpenZeppelin code via `npm` (instead of manually copying all required source files, as I previously described in this thread).

This goes back to your suggestion.
At the time, I noted to you that Truffle had a "hard time" dealing with files outside of the `contracts` folder.

However, I would like to correct that description of

[2018-10-02 15:52] nventuro commented on #1167
I don't have any hard data on this, but would expect most people to use `truffle` (or a very similar alternative). The main reason behind this is not so much the compilation itself, but the need to develop tests for your contracts: `truffle` comes integrated with `ganache-cli`, `mocha`, web3, and provides the `truffle-contracts` wrapper, so doing this is remarkably simple.

Is there a specific rea

[2018-10-02 16:20] barakman commented on #1167
@nventuro:

Thank you for your quick response.

I use:
1. `truffle test` (preceded by `truffle compile`) along with `ganache-cli` for testing.
2. `solidity-coverage` along with `testrpc-sc` for a full coverage report.
3. The output of `solc` (abi and bin files) for contract-deployment and contract-interaction via web3.js v1.x directly (in opposed to the previous two, where web3.js v0.x is used ind

[2018-10-02 19:47] mswezey23 opened #1371 "There is no burn event though this comment suggests otherwise"
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/f4d6f404424669e0eef7faa05fd89ab9945f265b/contracts/token/ERC20/ERC20Burnable.sol#L29

[2018-10-02 20:46] mswezey23 opened #1372 "Code Styling: ERC20.sol amount vs value"
🎉 Description
🖋 This is a styling report.
📝 Details

Use `value` vs `amount` for consistency. All other functions are using `value`

[code]

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol

Suggestion:

Use `value` to be consistent across the board. Should check other contracts to be sure it's standardized across all contracts.

[2018-10-02 21:18] frangio commented on #1371
Good catch @mswezey23! The whole `_burn` override can actually be removed.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/f4d6f404424669e0eef7faa05fd89ab9945f265b/contracts/token/ERC20/ERC20Burnable.sol#L28-L34

Are you interested in sending a pull request with these changes?

[2018-10-02 21:33] frangio commented on #1372
Yikes, you're right we should be consistent on this. Thanks!

(Thinking out loud here.) At some point I used to prefer `amount` for tokens and `value` for ether (as in `msg.value`), but now that I think about it, "token amount" has always been very ambiguous because people expect it to not include the decimal digits, yet the smart contract needs all of the decimal digits. Maybe `value` is less amb

[2018-10-03 01:37] ChrisCates commented on #1346
@nventuro, very bizarre issue I agree, however, it's only problematic with the node version specified in the root folder. Using the `LTS (v8.12.0)` is no problem.

I've provided pull request and both you and @Aniket-Engg can give feedback and/or discuss problems.

Here are some concerns I have:

First, `Crowdsale.sol` has optional overriding functions...
I've decided to use `require();` functions

[2018-10-03 05:03] Aniket-Engg commented on #1372
I think `value` will be good for consistency. If it is final, I can work on it. Please let me know @mswezey23

[2018-10-03 06:17] Aniket-Engg commented on #1200
@nventuro I think most of the tests are following this. Can you please to the files lacking this?

[2018-10-03 08:29] Aniket-Engg commented on #1346
Regarding function overloading, as per the solidity documentation,

For more: https://solidity.readthedocs.io/en/v0.4.25/contracts.html#overload-function

[2018-10-03 13:14] ChrisCates commented on #1346
@Aniket-Engg, actually, it will throw an error if you were to do something like:

[code]

Implicitly saying function with same name and arguments declared twice.
So **yes**, overloading does work with different arguments... But, not with different modifiers.

[2018-10-03 13:34] ChrisCates commented on #1346
@Aniket-Engg, my bad in regards to function overloading...
It seems there is actually a side effect for implementations not being used:

[code]

I must've been really tired when looking through the error logs last night...
The question then becomes...

If an implementation is not used when created... How do we treat the unused functions in the contract?

[2018-10-03 14:40] ImmuneGit commented on #1015
Let me describe a use case I've stumbled across. I have to do some post processing after selling tokens (let say get a tax fee). And we want to do the same in case if tokens sell on other platforms. I suppose in this case other platforms will just use our ERC721 contract to interact with our tokens. To realise it all "transfer" functions have to be "payable".

[2018-10-03 15:33] nventuro commented on #1372
@Aniket-Engg feel free to open a PR with ths change! :)

[2018-10-03 15:37] nventuro commented on #1200
To clarify, this doesn't refer to configuration variables (e.g. `const cap = ether(20);`), but to things like

[code]

`examples/SimpleToken` is guilty of this, as is `MerkleProof`, `DetailedERC20`, and `ReentracnyGuard`. There may be more examples of this, but I'm not sure.

[2018-10-03 15:50] #1356 closed

[2018-10-03 16:07] nventuro commented on #1346
@ChrisCates

True, but we need them for the docstring :/

Not sure what you mean with 'causes revert to fail', do the function calls not revert when you add those `require`s?

The argument needs to be there to override the correct function, but you're right in that it is unsed in that override (because that escrow doesn't allow or disallow based on the payee).

This is because the implementations

[2018-10-03 17:14] Aniket-Engg commented on #1346
No Problem @ChrisCates , I agree with @nventuro . I think we have very less scope of improvement in some of the warnings.

[2018-10-03 17:48] robertmagier commented on #1015
@nventuro I think I am more than confused. Standard your linked is still describing function as payable.

`   function transferFrom(address _from, address _to, uint256 _tokenId) external payable;`

However I think you are talking about mutability guarantees which says that you can implement payable function as non payable. This is what you did in your implementation - implemented those functions a

[2018-10-03 20:15] mswezey23 commented on #1371
Next time I'll issue a PR for the changes. Looks like @Aniket-Engg beat me to it ;)

I assume the same/similar occurred for the Mint event?

[2018-10-03 20:18] mswezey23 commented on #1357
My vote is on `other` as well.

[2018-10-03 20:20] mswezey23 commented on #1209
Validity Labs is also working on a Snapshot Token. Currently finishing it up now, will do an internal review later this week with the hopes of submitting a PR to OZ.

[2018-10-03 22:12] frangio commented on #1015
I do understand your use cases and would like OpenZeppelin to cater to them, so I'm reopening the issue to keep the discussion going and to consider different options for implementation. But to kickstart the discussion I'll share why our implementation's functions are not payable at the moment.

Functions being non-payable by default is a Solidity security feature that prevents people accidentally

[2018-10-03 23:32] ChrisCates commented on #1346
@nventuro, @Aniket-Engg:

I'm going to provide a pull request later tonight for you guys to review while also doing some revisions as per the comments from @nventuro. I believe that the issue with reverting transactions will still occur. And will get back to you with a pull request once I get everything sorted.

Also, @nventuro

When a function implementation is not used for example:

[code]

Ther

[2018-10-04 10:51] #1372 closed

[2018-10-04 11:38] Aniket-Engg commented on #1200
I checked each test file. Changes were required only in the files mentioned by you. Still if anyone finds that I missed something, Please add here.

[2018-10-04 12:57] #1200 closed

[2018-10-04 12:58] nventuro commented on #1091
This is now ready, thanks @jacobherrington, @justuswilhelm and @Aniket-Engg! :tada:

[2018-10-04 12:58] #1091 closed

[2018-10-04 17:19] passionofvc commented on #644
hit @sullof
I found why it not work with from MyEtherWallet signature,
your hashMessage method hash message with sha3,
but[hashPersonalMessage]( https://github.com/ethereumjs/ethereumjs-util/blob/54aa41ccb5c09de626ee358499e2efab535bc0bf/index.js#L373-376
) directly convert to byte buffer, just not hash, so it can not verify.
use hashPersonalMessage it work fine I tested it.

[ECRecovery.test.js](h

[2018-10-04 23:07] hodlmodl opened #1383 "Compile Basic ERC721 Token"
Hi can I use the remix ide compiler for this?  Can the import files work with the remix ide. Will this work to show up on opensea?

[2018-10-04 23:10] hodlmodl commented on #1383
And what should I use as a basis since the new contracts were updated recently.

[2018-10-05 00:56] nventuro opened #1384 "Remove selfdestruct from BreakInvariantBounty"
`selfdestruct` can lead to tricky situations, has been the cause of major bugs, and has a debatable usefulness. We should avoid using it whenever possible.

Note that this is not a breaking change since this contract is in the `drafts` directory in the 2.0 release.

[2018-10-05 05:06] Aniket-Engg commented on #1384
Do we need to remove it from `BreakInvariantBounty` only?

[2018-10-05 07:01] Aniket-Engg commented on #1384
I checked that apart from `BreakInvariantBounty`, `selfdestruct` is only being used in `ForceEther` which is there for this destruction functionality only. So only remaining case is  `BreakInvariantBounty`. I will submit a PR with the required changes.

[2018-10-05 12:35] celeduc commented on #1290
Instead of a code generator to avoid human error I humbly request that we instead change the architecture to not require that everyone include the same duplicate code. At best, this will be expensive (with gas) error prone (typos) and hard to upgrade and maintain.

[2018-10-05 12:40] nventuro commented on #1290
Hey @celeduc! Is there any such architecture you have in mind? We've tried a couple things (e.g. the old `RBAC`), but they each had their own issues (#1090). Maintainability, extensibility and usability are definitely things we strive for, and this was the most minimal example we were happy with.

[2018-10-05 12:52] celeduc commented on #1290
Wow, I didn't know about #1090.  Yuck.

Implementing a role with this scheme costs a substantial amount of coding (43 lines of Solidity contact and 11 lines of JavaScript test), not to mention the gas to deploy it.   Implementing a new role with RBAC was a one-liner, and all of the access methods were orthogonal (making meta-coding and Web3 coding a lot easier).

With C++ I'd use a template class

[2018-10-05 12:59] nventuro commented on #1290
The problem with `enum` is that we have no way of accessing each of the values from the outside, e.g. if we did

[code]

we'd have to hardcode the values in JavaScript, since they are not included in the artifact (the `Role.json` file).

That said, I fully agree with your concerns regarding code generation, and would much prefer not using it, should we find a better alternative.

[2018-10-05 13:05] celeduc commented on #1290
I've finally read all the way through 1090 and understand why it is the way it is. Although it may be right within the scope of this project I'm afraid it won't be maintainable in my dependent project, plus it'll make the code super clumsy, so I'll just fork out RBAC and stay with that until something better comes along.  Thanks! (and please don't write a code generator ;)

[2018-10-05 13:16] nventuro commented on #1290
If you don't mind, could you expand a bit on why the current `Roles` solution is not fit for your project? Do you require a dynamic number of rules? We try to cater to as many use cases as possible, and would much prefer it if we could prevent you from doing that extra work yourself :)

[2018-10-05 13:43] nventuro opened #1386 "Improve SafeMath test coverage"
There are a couple edge cases we should consider adding tests for, to prevent regression errors:
 * `div`​ with numbers that aren’t divisible evenly
 * `div`​ with the first argument being 0
 * `mul`​ with the second argument being 0

Thanks @cwhinfrey and the Level K team for suggesting this!

[2018-10-05 13:57] celeduc commented on #1290
I have _n_ different related permissions to manage, Record101, Record102, Record103 in which one account may have Record rights for 101 and 102 but not 103, etc.  With RBAC I can set up _n_ permissions.  I *thought* I was going to append the number to the string, but that turns out to be expensive (string support is *still* terrible). So instead I might just use [integers and bitmasking](https://s

[2018-10-05 14:08] chesnokovilya commented on #1386
I want to work on this.

[2018-10-05 14:51] nventuro commented on #1386
Go ahead @chesnokovilya! I'll gladly review your PR :)

[2018-10-05 14:54] nventuro commented on #1290
Please do! I'm very interested in looking at it :)

[2018-10-05 14:57] barakman opened #1387 "import 'openzeppelin-solidity/...' does not compile when truffle is installed locally"
This issue has been reported in various versions and in various forums.

I can import any openzeppelin contract when I specify its full path (either relative or absolute).

But when I start the `import` statement with `'openzeppelin-solidity` as suggested in your official documentation, `truffle compile` is unable to resolve this type of `import` statements.

I suspect that it might work correctly

[2018-10-05 15:52] nventuro commented on #1387
Hmm, weird. I also have truffle installed locally, and am able to compile and test just fine (albeit on Linux). I think Travis is also setup to have it locally installed.

You mentioned you run `node ../node_modules/truffle/build/cli.bundled.js compile`, I worry there may be some differences when truffle is executed that way. Have you tried running `npx truffle compile`? (this is what I use)

For

[2018-10-05 19:15] hodlmodl commented on #1383
Ok. That’s perfect. One last question would be if I was doing this on the rinkeby network, if I create a geth node, can I allocate ETH in the gen block to publish contracts?  Or where does it come from the rinkeby net. I tested the balances of my node vs rinkeby and they were different.

Thanks for the quick response.

On Oct 5, 2018, at 12:27 PM, Nicolás Venturo <notifications@github.com<mailto:n

[2018-10-06 02:49] alexacostarua opened #1388 "Issue publishing ERC721 Contract using Open Zeppelin."
sudo truffle migrate --network rinkeby
Using network 'rinkeby'.

Running migration: 1_initial_migration.js
  Deploying Migrations...
  ... undefined
Error encountered, bailing. Network state unknown. Review successful transactions manually.
Error: exceeds block gas limit
    at Object.InvalidResponse (/usr/lib/node_modules/truffle/build/webpack:/~/web3/lib/web3/errors.js:38:1)
    at /usr/lib/node

[2018-10-06 02:55] alexacostarua commented on #1388
I also added all the contracts from the 1.12 version of openzepp and tried to migrate in truffle, it compiled.

[2018-10-06 22:43] alexacostarua commented on #1388
If i include contracts and files in the truffle setup will that contribute to the block limit for the rinkeby or not?

[2018-10-07 05:16] nventuro opened #1391 "Disallow non-constructor initialization"
Some of our contracts (like `ReentrancyGuard`) initialize their state variables outside of a constructor (i.e. in their declaration). We should avoid doing this and move all initialization to the constructor, mainly for clarity, but also because this makes it easier to transform said constructors to initialization functions.

[2018-10-07 05:23] nventuro opened #1392 "Improve Ownable events"
`Ownable` currently has `OwnershipTransferred` and `OwnershipRenounced`: this is inconsistent with the rest of the project. We should get rid of `OwnershipRenounced`, and emit `OwnershipTransferred` both in the constructor (from address 0), and when renouncing (to address 0).

[2018-10-07 05:23] nventuro opened #1393 "Improve Pausable events"
Now that we have `PauserRole`, multiple accounts may pause a contract: we should include the address of the pauser in the event.

[2018-10-07 06:12] alexacostarua commented on #1388
I got it to deploy but when I try to call a function with the correct contract n abi code. It doesn’t have any functions available at all thru myetherwallet. Do ERC721 functions exist there. If so how do u interact with them through MEW?
Thanks.

On Oct 6, 2018, at 11:10 PM, Nicolás Venturo <notifications@github.com<mailto:notifications@github.com>> wrote:

Could you share the code you're trying t

[2018-10-07 19:25] barakman opened #1394 "Minor: declare the constructor of contract Ownable internal instead of public"
**🧐 Motivation**
This doesn't really fall under the category of a feature-request, nor does it fall under the category of a bug-report. The motivation is to be a little more pedantic with the object-oriented implementation of `contract Ownable` . That said, it might have been proposed here before...

**📝 Details**
It makes very little sense to deploy this contract as is, so its constructor can and

[2018-10-08 04:00] barakman commented on #1387
@nventuro:
I apologize, unable to reproduce.
Must have missed something, then fixed it implicitly.
Closing this issue.
Thanks.

[2018-10-08 04:00] #1387 closed

[2018-10-08 06:48] Aniket-Engg commented on #1392
I think `Transferred` can be declared as `event Transferred ( address from, address too)` . And then we can emit it as:
In Constructor: `emit Transferred(address(0),  _owner)`
In `renounceOwnership` : `emit Transferred( _owner, address(0))`
In `_transferOwnership` : `emit Transferred( _owner,  newOwner)`

[2018-10-08 13:39] nventuro commented on #1394
We may need to better define what a feature request and an improvement are :)

I think this makes a lot of sense, and I like the idea of guiding users into the usage we intend. This same thing applies to some other contracts, such as `Pausable`, or `PullPayment`.

[2018-10-08 13:51] #1384 closed

[2018-10-08 14:45] barakman commented on #1394
@nventuro:
So any chance of pushing it in before the official release of 2.0? (after passing it through your review process of course).

[2018-10-08 14:57] nventuro commented on #1394
Technically it's a breaking change of the API, though a minor one :stuck_out_tongue:

We're currently in the process of reviewing the last minor changes, it is possible this will make it into 2.0, since the scope is so small.

[2018-10-08 15:23] mswezey23 opened #1396 "Style guide says 4 spaces, yet you use 2. Not Documented"
Style guide says 4 spaces, yet you use 2.
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/f7e53d90fa638553ffc93e93fe1b12fc081bb774/.soliumrc.json#L7

Not Documented here as to why:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/CODE_STYLE.md
If fact you state your follow the style guide.

**💻 Environment**

VS Code

**📝 Details**

Very painful and time consuming to re

[2018-10-08 15:31] nventuro commented on #1396
Hey there @mswezey23!

This has already been brought up a couple times (e.g. https://github.com/OpenZeppelin/openzeppelin-solidity/issues/152), I quote [my thoughts](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/152#issuecomment-412149603) from that issue:

You are right in that this is not documented in the style guide, as it should (@elopio could you take care of this?). We do hav

[2018-10-08 15:37] mswezey23 commented on #1396
I'll have to check my setup, but attempting to have it auto refactor was not having the desired impact.

Question: What is the majority of the Solidity community utilizing? 4 or 2 spaces? Does it makes sense to go against the standard or the majority in this instance?

[2018-10-09 04:22] Thirdwizard opened #1399 "Question"
Please can I get a guideline on How to Use the OpenZepplin Token, Crowdsale and Bounty Smart Contract.. Like a Comment on each Code in the Smart Contract showing where and what has to be changed. Please I'M NEW. Thanks.

[2018-10-09 06:44] Aniket-Engg commented on #898
@frangio This would be great if you can review the PR so that current status of issue can be known.

[2018-10-09 14:41] mswezey23 commented on #1399
They have examples located here:
https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/contracts/examples

To follow what has changed, please look at the commit history here:
https://github.com/OpenZeppelin/openzeppelin-solidity/commits/master

To follow what has changed, per official release, please look here:
https://github.com/OpenZeppelin/openzeppelin-solidity/releases

[2018-10-09 16:29] nventuro commented on #1399
Thanks @mswezey23 :)

Also, you're welcome to join [our Slack](https://slack.openzeppelin.org/) to ask questions!

[2018-10-09 16:29] #1399 closed

[2018-10-09 16:32] #1392 closed

[2018-10-09 18:46] #1206 closed

[2018-10-09 19:28] nventuro commented on #898
@Aniket-Engg much has changed since that PR was opened, so some updating will need to be done. I'll try to review it during these next couple days.

[2018-10-09 22:56] kingjerod opened #1402 "Publish v2.0-RC3 to NPM"
You have a tag for v2.0-RC3 created 5 days ago but nothing published on NPM 😞

[2018-10-10 12:33] #1391 closed

[2018-10-10 12:38] nventuro commented on #1394
After thinking about this some more, it is definitely something we want to include in the release. Off the top of my head, the contracts that should have this sort of thing are:

- All roles (e.g. `MinterRole`, `PauserRole`, etc.)
- `SignatureBouncer`
- `ERC165`
- `Pausable`
- `Ownable` and `Secondary`
- `PullPayment`
- `ReentrancyGuard`

Some of these have no constructor: maybe we should give the

[2018-10-10 12:45] barakman commented on #1394
@nventuro:
That's exactly what I do in every contract of this sort that we have in our system, so I'm a natural supporter of this approach (empty `internal` constructor).
AFAIK, this is also the conventional method in other OO languages, such as C++ (empty `protected` constructor in that case).

[2018-10-10 13:00] nventuro commented on #1394
`Claimable` was indeed removed, yes. All of t

[2018-10-10 13:12] Aniket-Engg commented on #1220
`inLogs` should be removed only from `module.exports` and used internally for `inTransaction` or it should be removed completely and functionality of `inLogs` should be added in `inTransaction`?

[2018-10-10 13:28] nventuro opened #1404 "Improve SafeERC20 allowance handling"
Currently, `SafeERC20`'s allowance-related functionality is restricted to a `safeApprove` function, which is vulnerable to the well-known non-zero approval issue in the ERC20 spec. We should:

- add `safeIncreaseAllowance` and `safeDecreaseAllowance`, with `require` on the return value of the `ERC20` functions
- add extra `require`s to `safeApprove` so that it only works if the new or old allowanc

[2018-10-10 13:39] scoriiu opened #1405 "Mocks missing from the npm package"
According to the specifications of the npm package, the contract dir should also include:
"mocks - A collection of abstract contracts that are primarily used for unit testing. They also serve as good usage examples and demonstrate how to combine contracts with inheritence (<--spelling mistake) when developing your own custom applciations. (<--spelling mistake)"

This can be useful if one needs to

[2018-10-10 13:52] nventuro commented on #1405
Hi @scoriiu, thanks for reporting this! As per our [releasing guide](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/RELEASING.md), mocks should be left out of the package, since they contain unsafe code that is only suitable for our tests. The npm package description is the one that's incorrect, I'll be fixing that shortly.

If your intent is to run the OpenZeppelin test suite,

[2018-10-10 15:18] scoriiu commented on #1405
Hi @nventuro!

Thanks for the quick answer. I guess that I will stick to keeping zeppelin as a submodule.

Cheers!
Solomon

[2018-10-10 17:57] nventuro commented on #1290
Awesome! Indeed, if that `index` isn't a problem in your application, using `Roles` sounds like a good idea :) `MinterRole` and friends exist to make it easier for users to get started using roles without much fanfare, but they might not be suited to all use cases.

[2018-10-12 16:42] nventuro commented on #1402
Thanks for spotting this @kingjerod, you're absolutely right! Must've slipped my mind. I've just published the tag under `next`.

[2018-10-12 16:42] #1402 closed

[2018-10-12 22:15] nventuro opened #1411 "Make all state variables private"
Some state variables (e.g. `_name` and `_symbol` in `ERC721Metadata`) are `internal`: we should change them to be `private` (as per our coding guidelines).

[2018-10-12 22:19] nventuro opened #1412 "Rename supportsInterfaces"
In `ERC165Checker`, `supportsInterfaces`​ as a function name is very similar to `supportsInterface`, which may be error prone. We should rename this to something more easily distinguishable, I'd go with `supportsAllInterfaces` (to emphasize they all must be supported), but something like `supportsManyInterfaces` (or multiple) would also work.

Also, all `internal` and `private` functons in this co

[2018-10-12 22:22] nventuro opened #1413 "Add events to Secondary"
We should have an event in `Secondary`'s constructor and `transferPrimary` functions, indicating the new primary address. I'm not sure about naming, for consistency with `Ownable` it should be something like `PrimarinessTransferred`, but that sounds awful. Ideas are welcome!

While we're at it, we should also improve this contract's documentation.

[2018-10-12 22:24] nventuro opened #1414 "Rename RefundEscrow's events"
Currently, the events are `RefundsEnabled` and `Closed`. `Closed` is not only non-descriptive, but it matches one of the values of the `State` enum. We should rename `Closed` to something like `RefundsClosed`.

[2018-10-12 22:38] nventuro opened #1415 "Misc SplitPayment improvements"
Some minor changes to this contract will make it much easier to use and understand:
 * A renaming may be in place, to better reflect that multiple payments are supported, and that this is a standalone contract (unlike `PullPayment`). Maybe `PaymentSplitter`? `MultiPayee` (a la `Multisig`)? `SplitPayments` has also been suggested.
 * `_addPayee` should be made `private`, since it is only used in th

[2018-10-12 22:47] nventuro opened #1416 "TokenVesting improvements"
* We should add extra checks in the constructor, namely, that `start.add(duration) > now`, and that `duration > 0`. These checks being false would mean that what's happening isn't really a vesting scheme, and would indicate incorrect usage of the contract.
* Since multiple tokens may use the same contract, `Released` and `Revoked` should include the token address (and should maybe renamed to `Toke

[2018-10-13 12:32] scoriiu commented on #1405
1. Incorporating the zeppelin tests as part of my test suite, as an extra safe guard.
2. I use some of the mocks in my tests directly.

[2018-10-13 14:42] tinchou commented on #1312
@ignaciopulicedonatto started working on insta-mining. We've seen test times go down to the sub-10 minute mark :). It would seem that Truffle has code in place specially for Geth which makes things easier for them (and we're stuck with the workarounds). We'll look into it next week.

Happy long weekend!

[2018-10-13 17:59] ns23 commented on #1411
Can I work on this issue?

[2018-10-13 21:58] nventuro commented on #1411
Go for it @ns23!

[2018-10-15 00:06] DeltaBalances commented on #1164
@nventuro
This is actually more than a coding style issue.

Declaring that c inside the function body actually increases the gas cost.

This change just slightly increased the gas cost of every `mul()` and `add()` operation. It might just be about 5-10 gas per use, but that can still add up in a complicated function.

It was mentioned before that ideally the compiler should handle this, but it is

[2018-10-15 14:03] barakman commented on #1164
@DeltaBalances:
Have you conducted this measurement also when the compilation flags `--optimized` and `--optimized-runs=<some large value>` are used?

[2018-10-15 19:37] DeltaBalances commented on #1164
Used the test cases from #894 with the newer compilers in the Remix Javascript VM, set with optimization at the standard 200 runs.  The exact gas difference will differ per compiler version but the general improvement stays the same.

I did not try on Ropsten yet as I'm not sure how well everything has recovered from the Constantinople split.

Back then I only proposed this different style for Saf

[2018-10-15 21:16] barakman commented on #1164
@DeltaBalances:
AFAIK, they've fixed all these cases as part of 'unified coding convention' fix (regardless of any runtime issue, such as the one that you've mentioned).

[2018-10-15 21:58] vlvrd commented on #1412
Hey @nventuro, can you assign this one to me?

[2018-10-16 01:38] evseevnntmp commented on #512
any news? someone work on this?

[2018-10-16 12:54] nventuro commented on #1412
GitHub won't let me assign issues to new contributors, but feel free to work on this @vlvrd!

[2018-10-16 12:59] nventuro opened #1419 "Make Roles more restrictive"
We should add checks to `add` and `remove` so that they can only be called on accounts were the role was unassigned (for `add`) or pre-assigned (for `remove`). There's little benefit to the current scheme, it is somewhat inconsistent with the rest of OZ, and it allows for the same event to be emitted multiple times.

[2018-10-16 13:37] #1414 closed

[2018-10-16 13:43] nventuro commented on #1164
Hey @DeltaBalances, thanks for spotting this! Do you know what it is inside the compiler that causes that style to be cheaper? I'd rather not include these sort of changes of the basis of "I've tried them and they cost less gas", since that may unexpectedly change in the future. If, however, we had a deeper understanding on the codegen that allowed us to develop good rules of thumb, that'd be a gr

[2018-10-16 14:48] nventuro opened #1420 "Remove default value assignments."
Multiple contracts initialize variables to their default value (`TokenMetadata`, `SplitPayment`, `ReentrancyGuard`, `ERC20Mintable`, etc.). This is not a no-op in Solidity, and incurs in extra and unnecessary gas costs: we should get rid of these statements.

[2018-10-16 20:20] #1419 closed

[2018-10-16 20:21] nventuro commented on #1333
`BreakInvariantBounty` was removed in #1424 until this issue is solved.

[2018-10-16 21:04] barakman commented on #1164
@nventuro:

Using `solc 0.4.24`, I executed `solc --asm <ContractName>.sol` on each of the following 3 contracts:

**Contract 1:**
[code]
**Contract 2:**
[code]
**Contract 3:**
[code]

The assemblies of contracts 1 and 2 are identical, while the assembly of contract 3 appears to contain a few more instructions.

More precisely, this (in contracts 1 and 2):
[code]
Is replaced with this (in contract

[2018-10-16 22:44] GoldenDave commented on #512
ERC223 has not really had wide adoption in the community. ERC777 looks like a more likely successor to ERC20

[2018-10-17 14:34] nventuro commented on #1164
You really couldn't have phrased it better @barakman, I agree completely on all your points :) Thanks!

[2018-10-17 14:35] #1411 closed

[2018-10-17 20:00] #1420 closed

[2018-10-17 21:16] nventuro commented on #1412
Sorry @vlvrd, but we are planning on releasing 2.0 tomorrow and needed to get this fix in :( I addressed it in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1435. Thanks though!

[2018-10-17 21:29] vlvrd commented on #1412
Nah nevermind @nventuro, I was planning on tackling your codebase this weekend anyway so I'm sure I'll still find a way to make myself useful (:

Thanks anyway!

[2018-10-18 13:47] #1394 closed

[2018-10-18 13:49] #1412 closed

[2018-10-18 13:59] nventuro opened #1436 "Test events in constructor and fallback functions"
Truffle and web3 make it hard to get the events emitted during a contract's creation, and when doing a raw transaction (`web3.eth.sendTransaction`): we should improve our helpers so that this can be easily done. Some contract's events are not being tested due to this, including `Ownable`, `Secondary` and `PaymentSplitter`.

Related to https://github.com/OpenZeppelin/openzeppelin-solidity/issues/13

[2018-10-18 14:00] #1413 closed

[2018-10-18 14:26] #1393 closed, assigned to nobody

[2018-10-18 15:25] #1404 closed

[2018-10-20 17:25] fulldecent opened #1454 "ERC20 implementation has extraneous quantity check"
The code:

[code]

From:

Has an unnecessary `require(value <= _balances[account]);` This test is already performed as part of the following line `_balances[account] = _balances[account].sub(value);`.

Likewise for `burnFrom`.

[2018-10-20 22:54] elopio opened #1456 "The beneficiary parameter of claimRefund​ could be confusing"
On [RefundablCrowdsale](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/80458ebc72f1c7c9695416edbe26690f72e406a0/contracts/crowdsale/distribution/RefundableCrowdsale.sol#L55):

For ​claimRefund​, beneficiary​ is a loaded word that implies the intended beneficiary from the escrow’s perspective. This is because Escrow​ has a ​ beneficiaryWithdraw​ function and it isn’t the same ​ benefici

[2018-10-20 23:08] elopio opened #1457 "Missing address typecast in TokenVesting"
On [https://github.com/OpenZeppelin/openzeppelin-solidity/blob/dac5bccf803696d9d98d269b8c27c7aac5fa1c5c/contracts/drafts/TokenVesting.sol#L163](TokenVesting.sol#L163), We recommend adding an
address​ typecast to ​this​.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:11] elopio opened #1458 "SimpleToken example should inherit from ERC20Detailed"
​SimpleToken declares state variables for ​ name​, symbol​, and decimals​. We recommend inheriting from ​ERC20Detailed​ instead to demonstrate its usage.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:21] elopio opened #1459 "Allow subclases of Pausable to modify the _paused state"
Note: ​Subclasses of Pausable currently have no access to the ​ _paused​ state variable. Adding internal functions for _pause​ and ​ _unpause​ would allow for subclasses that provide additional functionality. (e.g. a contract that allows for unpausing by any address after a time period has expired)

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:27] elopio opened #1460 "Allow subclasses to renounce ownership"
Subclasses of ​ Ownable​ are able to transfer ownership but are not able to set ​ _owner​ to a 0 address like ​ renounceOwnership does. Consider exposing an internal function to allow ​ Ownable subclasses to remove the owner.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:31] elopio opened #1461 "On RefundEscrow, add isState function"
We recommend replacing all ​ _state​ checks such as require(_state == State.Active);​ with a modifier. (e.g. ​ isState(State.Active)​ )

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:39] elopio opened #1462 "Cast 0 to an address type"
[https://github.com/OpenZeppelin/openzeppelin-solidity/blob/80458ebc72f1c7c9695416edbe26690f72e406a0/contracts/token/ERC20/ERC20.sol#L174](ERC20.sol#L174) and [https://github.com/OpenZeppelin/openzeppelin-solidity/blob/80458ebc72f1c7c9695416edbe26690f72e406a0/contracts/token/ERC20/ERC20.sol#L187](ERC20.sol#L187) should be casted to an address type.

This issue was reported in the [LevelK](https://

[2018-10-20 23:43] elopio opened #1463 "Add clearAllowance to ERC20"
an internal function such as _clearAllowance()​ may be useful when a transaction requires a certain amount of token be approved for transfer but, in some cases, transfers none or a fraction of the approved amount.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:48] elopio opened #1464 "Add comments to ERC721Burnable"
The ERC721Burnable contract has no comments.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:49] elopio opened #1465 "Add a comment to ERC721Enumerable"
The contract [ERC721/ERC721Enumerable.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC721/ERC721Enumerable.sol) has no comment.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-20 23:54] elopio opened #1466 "Change the name of isContract()"
On [Address.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/dac5bccf803696d9d98d269b8c27c7aac5fa1c5c/contracts/utils/Address.sol#L16)

Because this function returns false when called from a contract’s constructor, consider calling this function isInitializedContract()​ for clarity.

This issue was reported in the [LevelK](https://www.levelk.io/) audit.

[2018-10-22 16:44] lakamsani commented on #1292
Hi guys, looks like this didn't make it to the 2.0.0 release [announced today](https://blog.zeppelin.solutions/announcing-openzeppelin-2-0-afb70aaa298d?_branch_match_id=574302298416376651). Are you still planning on releasing it in a subsequent update? Any time estimates? Thx.

[2018-10-22 18:40] obernardovieira commented on #1461
Can I do this one, please?

[2018-10-22 18:43] elopio commented on #1461
Go for it @obernardovieira. Let us know if you need a hand.

[2018-10-23 04:42] Aniket-Engg commented on #1463
@elopio In the given case, what will be the functionality of `_clearAllowance()`? Please add a bit more detail.

[2018-10-23 04:46] elopio commented on #1463
Hey @Aniket-Engg, this issue is tagged for more discussion. We'll add more details when during the next following weeks when we have time to analize it. If you have ideas, feel free to throw them in here.

[2018-10-23 05:49] Aniket-Engg commented on #1463
Actually i was looking to know the motivation behind the suggestion of this function so that i can brainstorm it.

[2018-10-23 14:03] barakman opened #1478 "Publish a cheat-sheet of upgrading from v1.x to v.2.0.0"
**🧐 Motivation**
Due to API-breaking changes introduced in v.2.0.0, make it easier for OZ users to upgrade their system (on-chain code and off-chain code) to this version.

**📝 Details**
I am using only a small subset of OZ infrastructure, so I've encountered only a few required changes, and was able to complete the process pretty fast.

So I shall post these changes below, and hopefully others ca

[2018-10-23 15:03] WyseNynja commented on #784
New URL: https://github.com/zeppelinos/zos/blob/master/packages/lib/README.md

[2018-10-23 21:56] maraoz opened #1479 "Implement Blacklistable property"
**🧐 Motivation**
See this code for inspiration:
https://github.com/centrehq/centre-tokens/blob/ab8d8ce11320915ca4c384e08a1ef4cde15d5f58/contracts/Blacklistable.sol

**📝 Details**
Not sure if this can already be implemented with RBAC, it probably can. But it would be nice to have a simpler subset of RBAC just to implement a blacklist.

[2018-10-24 03:51] kennblvnp opened #1480 "Where is openzeppelin-solidity/contracts/token/ERC20/StandardToken.sol?"

[2018-10-24 04:45] kennblvnp commented on #1480
I think I'm gonna use ERC20.sol they have the same codes for StandardToken.sol base in this video https://www.youtube.com/watch?v=_ikc4Ct7wvk.

[2018-10-24 06:28] Aniket-Engg commented on #1454
If that is a case, i think it also applies for `_transfer` & `transferFrom`

[2018-10-24 10:31] obernardovieira commented on #1480
As you can see https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1478, it does not exists anymore. OZv2 has changed a "bit".

[2018-10-24 12:11] dhruv-karan commented on #984
const HDWalletProvider = require('truffle-hdwallet-provider');
const Web3 = require('web3');
const {interface,bytecode} = require('./compile');

const provider = new HDWalletProvider(
    'together segment cart logic hedgehog flavor huge steak noise brain various palace',
     'https://rinkeby.infura.io/v3/3d13706647bd46138b410e8ea6da9c53'
    )

const web3 = new Web3(provider)

const deploy = asy

[2018-10-24 12:11] dhruv-karan commented on #984
same problem

[2018-10-24 12:57] sheraz104 commented on #984
share your smart contract code

[2018-10-24 21:50] snario commented on #1480
This is generally how to achieve the same effect https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/examples/SimpleToken.sol

[2018-10-25 04:03] kennblvnp commented on #1478
Yeah what is the replacement of StandardToken.sol? I am using ERC20.sol for the meantime

[2018-10-25 04:46] kennblvnp commented on #1480
@obernardovieira Yeah im aware.. so what is the replacement of StandardToken.sol?

[2018-10-25 05:40] Aniket-Engg commented on #1354
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/80458ebc72f1c7c9695416edbe26690f72e406a0/test/examples/SimpleToken.test.js#L35
Here we test an event emitted in constructor. Should testing be done in the same way for roles constructors?

[2018-10-25 07:52] kennblvnp commented on #1480
@snario Yes im using this

[2018-10-25 13:16] vittominacori opened #1483 "Code style in Roles"
As per your new code style, these should have an underscore prefix as they are private, shouldn't?

`Roles.Role private cappers;` in [CapperRole.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/access/roles/CapperRole.sol#L11)

`Roles.Role private minters;` in [MinterRole.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/access/roles/M

[2018-10-25 14:42] obernardovieira commented on #1480
`2. Find/Replace StandardToken / BurnableToken / MintableToken to ERC20`

There's no StandardToken anymore, only ERC20.

[2018-10-25 15:01] elopio commented on #1466
See also https://github.com/ConsenSys/smart-contract-best-practices/blob/master/docs/recommendations.md#avoid-using-extcodesize-to-check-for-externally-owned-accounts

[2018-10-25 21:41] wbt commented on #705
Just to create a cross-reference, [PR#1484](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1484) expands on SafeMath for `uint32`s, which overflow at somewhat less astronomical values but don't have all the new potential issues that signed integers introduce.

[2018-10-28 19:46] parkinsonj commented on #1412
@nventuro leading underscores in `internal` functions does not make sense in a library IMO.

In a smart contract, I could understand why you might want to have underscores for conceptual reasons such as emulating hidden functions in other languages (although of course that's what the private and internal keywords _actually_ do), but in a library that is used as `using X for Y` then those internal

[2018-10-29 09:56] godfreyhobbs opened #1486 "lifecycle_Destructible.html but no Destructible.sol"
There is a doc https://openzeppelin.org/api/docs/lifecycle_Destructible.html but there is no code in 2.0

**💻 Environment**
Just looking at your docs

This is in 2.0 docs.
**📝 Details**
2.0 does not have a lifecycle_Destructible contract but there is still documentation.

Personally I would like to see a lifecycle/Destructible.sol in v2.0.  I think it is a useful tool especially when doing iterati

[2018-10-29 10:30] rammuralidhar opened #1487 "CrowdSale forcing token to be present on contract address rather than external account"
I have owner account which is an external account say "0x7FA2B410267439169fD6bAd46d89f468125437C4". I have initially loaded 120 TT into my owner account.

When I deploy the contact the address for "TutorialToken" is "0x77c6873d366f36c325aaa94be54ab2370ead630d". MyCrowdSale contact is "0x838b8e81d7de85e8f75f77801292b547d02"

Say I call buyToken from say account which has an address "0x5b9C76903FA4F

[2018-10-29 10:56] MichalZalecki commented on #1322
@darioAnongba Do you have a reference implementation already? I'm happy to collaborate and help!

[2018-10-29 15:57] barakman opened #1488 "What is the alternative for Claimable in v2.0.0?"
Not exactly a bug, for for those who have been using `Claimable` in earlier versions of OZ (for the purpose of `transferOwnership` followed by `claimOwnership`) - what are the options in v2.0.0?

Relying solely on `Ownable.transferOwnership` lacks a safety mechanism for accidentally transferring the ownership to an incorrect address.

At present, the only alternative that I see is copying `Claimab

[2018-10-29 17:09] barakman commented on #1488
UPDATE:

The alternative above is not even feasible because:
1. The state variable `owner` has been renamed to `_onwer`
2. The access-level of this variable has changed from `internal` to `private`

The second reason is much more critical of course, because it means that I cannot even fix `Claimable` in order to make it work with the current version of `Ownable`, i.e., I need to grab both contract

[2018-10-29 19:36] kennypz562 commented on #984
I got the same problem but when i remove function calling inside my constructor it works fine. Why?

[2018-10-30 11:20] pRoy24 commented on #1480
Hi,
Please update the docs with the same.
I also created a pull request in Truffle Examples repository to reflect the change
https://github.com/trufflesuite/trufflesuite.com/pull/216

[2018-10-30 15:53] CruzMolina commented on #1480
Thank you @pRoy24 for updating the docs! @kennblvnp please see this newly updated section: https://github.com/trufflesuite/trufflesuite.com/blob/master/src/tutorials/robust-smart-contracts-with-openzeppelin.md#creating-the-tutorialtoken-smart-contract

[2018-10-30 21:57] andy8052 commented on #1240
I think this is a pretty cool idea. Has anyone worked on this yet?

[2018-10-30 23:44] ymekuria commented on #984
@dhruv-karan . Try this in your deploy script.

change these two lines from this.
.deploy({data:bytecode, arguments: ['hi']})
.send({gas:'1000000 ', from: accounts[0]})

to this
.deploy({data: '0x' + bytecode, arguments:['hi']}) // add 0x before bytecode
.send({from:accounts[0]}) // take out the gas field

**Your 1st Line**
This is ok when you deploy your code in the ganache local test network.
Wh

[2018-11-01 11:16] barakman commented on #1436
@jbogacz and future readers:

Just stumbled upon the same problem (retrieving constructor events).

There are several ways to do it within a Truffle test.

Here is one such example:
[code]
In web3.js v1.x ity might be slightly different (Truffle's current latest version relies on web3 v0.x).

[2018-11-01 11:33] jbogacz commented on #1436
@barakman nice! For web3.js v1.x it can be done this way (to be refactored):

[code]

But still waiting for @nventuro response ;)

[2018-11-01 12:14] bashalex opened #1489 "Role implementations allow to renounce own role even if it the last address with this role."
Current role implementations do not forbid renouncing of own role in case there are no more addresses with the same role. Considering the `onlyRole` modifier in the `addRole(address account)`  functions, there is a possibility to stuck in a situation when there are no more roles left. I'd propose to add an additional check to the `remove()` function of the [Roles](https://github.com/OpenZeppelin/o

[2018-11-01 12:38] Aniket-Engg commented on #1486
Please Have a look: https://github.com/OpenZeppelin/openzeppelin-eth/issues/25

[2018-11-01 18:15] #1464 closed

[2018-11-01 18:38] #1456 closed

[2018-11-01 19:02] #1386 closed

[2018-11-01 19:16] #1458 closed

[2018-11-01 19:31] barakman commented on #1488
@nventuro: Hi.

I understand your motivation in changing the access-level of the `owner` variable from `public` to `private`. In fact, I have realized this while applying your new coding conventions throughout our code, and ended up changing one of our `internal` variables to `private` for the exact same reason (emphasizing that this variable is not to be altered by any deriving contract).

Howeve

[2018-11-02 04:46] kennblvnp commented on #1480
@CruzMolina @pRoy24  thanks everyone!

[2018-11-02 04:53] Murukaen opened #1490 "Shouldn't ERC20.sol state variables be internal instead of private?"
As stated in the title, I don't see how the private state variables (eg. _totalSupply) can be set in the child contract. Please shed some light.

[2018-11-02 07:48] Aniket-Engg commented on #1203
I think this can be tested by checking that a corresponding `.json` file exists in `build` folder.

[2018-11-02 08:03] Aniket-Engg commented on #1126
I think we have a similar contract now in 2.0, so this can be closed.

[2018-11-02 09:56] #1457 closed

[2018-11-02 09:58] #1465 closed

[2018-11-02 10:12] nventuro commented on #888
Should we also add tests for these strings, to make sure they are not altered by mistake?

[2018-11-02 10:16] #1454 closed

[2018-11-03 18:07] Luiserebii commented on #1490
I'm not 100% sure, but I believe that private state variables like _totalSupply are actually inherited, it's just that they aren't "available," as in, it's perfectly possible to define a setTotalSupply() function and have the child contract use it. I think similar behavior also exists in PHP, it's a little unintuitive haha.

Try running this in Remix, deploy B and test publicSetInteger() and testI

[2018-11-03 22:14] catageek commented on #1159
I just pushed in my branch an implementation of ERC777 with all unit tests. This is not perfect and the unit tests need some refactorization to be in line with the code style of other tests. This is my first approach of javascript, so be nice with me.
Also the licence of the interface is MPL because it's an exact copy of the one written by @jacquesd, so until the licence of the interface change, m

[2018-11-04 09:16] Murukaen commented on #1490
@Luiserebii In your example you have a setter in the parent contract. ERC20.sol doesn't have those setters.

[2018-11-05 21:45] frangio commented on #1490
Hi @Murukaen! The variables are private because we are encapsulating their modification in higher level functions like `_mint` and `_transfer`. They act kind of like setters but they ensure that the ERC20 protocol is respected by emitting the necessary events, and by preserving balances and supply.

[2018-11-06 09:01] Murukaen commented on #1490
@frangio I see that the `_mint` method can be used to set the `_totalSupply`, but it also sets the balances. In my case, I am building a minable token where the initial balances are 0. How should I go about that with extending ERC20.sol?

[2018-11-06 19:04] jbogacz commented on #1340
Hey @nventuro don't you fortuitously capture any logs from issued CI job run? I faced this issue ones but didn't think to save it. As it's suggested in #1323 it can happen due to unresolved promises so having some logs it will be easier to track issued one.

[2018-11-07 08:51] jfpalngipang commented on #1322
I would be happy to collaborate on this. Count me in!

[2018-11-07 08:53] MichalZalecki commented on #1322
I'm working on the implementation that is more compliant with the draft ERC and will share it here.

[2018-11-07 10:06] frangio commented on #1490
It's not possible to do what you're asking. Our ERC20 is made so that all exciting supply is assigned to some account's balance. Can you explain in a bit more detail why this doesn't work for you?

[2018-11-07 12:29] remon-nashid commented on #917
It is worth noting that checking revert reason is _currently_ possible with Ganache CLI, as demoed in this repo https://github.com/remon-nashid/assertRevert.

[2018-11-07 18:37] darioAnongba commented on #1322
Thanks @MichalZalecki !

[2018-11-07 18:56] Murukaen commented on #1490
So, as the tokens will be distributed through some simulated mining mechanism, I need the initial balances to be 0, but having a totalSupply nonetheless. Can the ERC20.sol be relaxed in any way to provide this?

[2018-11-09 11:57] c-o-l-o-r opened #1493 "ERC20.sol doesn't allow transfer to zero address, not standard compliant"
The [ERC-20 Token Standard](https://eips.ethereum.org/EIPS/eip-20) describes the following for `transfer`:

The OpenZeppelin ERC20.sol contract adds an additional requirement to this standard by [blocking transfers](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol#L156) to `0x0000000000000000000000000000000000000000`. This opinionated decision shoul

[2018-11-10 12:50] 1nfinite opened #1494 "increaseAllowance and decreaseAllowance should not be in ERC20.sol"
I notice that both `increaseAllowance` and `decreaseAllowance` is public external function in the ERC20.sol.
Shoudn't it be internal function (like the mint() and burn()) as increaseAllowance and decreaseAllowance is not standard ERC20?

What is the justification to this.

Also, what is the justification to not enforce `require(_value == 0 || allowed[msg.sender][_spender] == 0);` in the approve()

[2018-11-11 14:12] 1nfinite opened #1495 "Various question on ReentrancyGuard usage"
I am looking at the ReentrancyGuard (latest master branch) and its implementation.
There are a few questions that I would like to know.

1) Is it advisable to still use ReentrancyGuard in even if i adhere to check effects interaction pattern strictly in my function or it is fine that it is used together to complement check effects interaction pattern.

2) Is there scenario where reentrancy attack

[2018-11-12 06:51] cleanunicorn commented on #1493
As @zmitton suggested, keeping the `require(to != address(0))` in place will prevent bad software that cause empty arg or improper address parsing from sending the funds into the void.

However there is a need to burn tokens, that could be achieved by calling a `burn()` function which can remove the funds from the user balance and emit a `Transfer()` event.

Now there's a discussion where the dest

[2018-11-12 10:38] obernardovieira commented on #1461
From my side, yes. I'm just waiting for a review or probably be merged.

[2018-11-13 21:15] StefanelStan opened #1497 "ERC721.sol SafeTransferFrom does not work if msg.sender is approved"
Hello.
I am using the openZeppelin "openzeppelin-solidity": "2.0.0-rc.1", in my dApp project.
As I am testing it with truffle, I have experienced a bug/ or wrong code description.
(I am unable to copy-paste the code due to copy-rights).
Basically the unit tests fail when attempting to do these 3 steps:
1. Mint a token from accounts[0]  OK
2. ERC721.approve (accounts[1], token, {from:accounts[0]);

[2018-11-13 22:06] frangio commented on #1497
Hi @StefanelStan. The last step should be <code>safeTransferFrom(__accounts[0]__, accounts[2], tokenId, { from: accounts[1]})</code>.

[2018-11-13 22:12] frangio commented on #1490
@Murukaen Unfortunately I don't see how we could do something like that while maintaining the constraints that led to the current design.

I'd suggest to mint all initial balance to a smart contract that can later distribute it through your minting mechanism.

[2018-11-13 22:19] StefanelStan commented on #1497
Hi!
You are right. Thanks for clarifications. In my wrapper function I was setting the from to msg.sender. Got it now. TY

[2018-11-13 22:19] #1497 closed

[2018-11-14 00:04] axic opened #1498 "Branch/support for Solidity 0.5.0"
I am a bit unsure how Zeppelin plans to support both 0.4.x and 0.5.x lines of Solidity, because clearly some form of support for 0.4.x seems to be needed in the short term given the stability of the ecosystem around it.

[Here](https://github.com/ethereum/solidity/pull/5106#issuecomment-426263817) we've received an indication to use the `solc-nightly` branch, but I think that is just an intermedia

[2018-11-14 04:38] maxsam4 commented on #1175
@frangio @elopio Sorry for bringing this back up but as far as I remember, Event names are included in the ABI (probably not in ByteCode though). IMO This change makes the tokens in openzeppelin non-compliant to ERC20 and ERC721.

Even if you think that it is still compliant, I hope you can still see the problems it will make for dApps trying to read ERC20 events. dApps won't know if the token is

[2018-11-14 09:02] barakman opened #1499 "Upgradable ERC20"
**🧐 Motivation**

We have a contract which inherits from `ERC20`, let's call it `MyToken`.
We need to allow ourselves to upgrade this contract in the future.
Due to the nature of `ERC20`, we cannot simply replace the `MyToken` instance with a new instance.
That would require pausing all functionalities and migrating all data (`_balances`, `_totalSupply`, etc).
Furthermore, it would wreck any promi

[2018-11-14 13:33] robin9421 commented on #984
this happens to me also, but i got the solution.
open your package.json file
and change the versions as follows:
 "author": "",
  "license": "ISC",
  "description": "",
  "dependencies": {
    "ganache-cli": "^6.0.3",
    "mocha": "^5.0.1",
    "solc": "^0.4.20",
    "truffle-hdwallet-provider": "0.0.3",
    "web3": "^1.0.0-beta.26"

and after this remove node-modules and run "npm install" on term

[2018-11-14 14:15] Murukaen commented on #1490
@frangio You say to initially mint the totalSupply to the contract's address?

[2018-11-14 15:04] maraoz commented on #1498
I'm slightly leaning towards maintaining this in a separate branch and then releasing it as 3.0.
A big question is: do we want to support the 0.4.x line in OpenZeppelin, or are we ok with forcing our users to use 0.5.x? Again, here I'm softly leaning towards the latter.
I'll tweet about this discussion to gather more opinions!

[2018-11-14 15:17] j-h-scheufen commented on #1498
You have to consider that some OZ users have already deployed code and therefore need a way to mix 0.4.x and 0.5.x code, i.e. make future deployments of 0.5.x-compatible code that leverages older 0.4.x contracts. I've not looked through all OZ contracts, but some of it is likely covered by the creation of 0.5 interfaces for 0.4 contracts as described in the breaking changes: https://solidity.readt

[2018-11-14 15:57] bashalex commented on #1489
@nventuro since you commented on a Roles-related issue earlier, could you give some feedback on this one as well?

[2018-11-14 16:25] maxsam4 commented on #1498
I think you should wait till truffle stable supports solidity 0.5 before making the default version of openzeppelin target solidity 0.5.

Meanwhile, maintaining a different branch and beta/next releases of openzeppelin for solidity 0.5 seem like a good way to me.

[2018-11-14 17:15] nachomazzara commented on #1498
Maybe it would be great to give the users some time until deprecate 0.4.x like an adoption lapse.
And release a 4.0 version of OZ with no support for  0.4.x.

[2018-11-14 17:29] barakman commented on #1494
@1nfinite:
This is not a part of the ERC20 standard, and you might notice that indeed, it is not declared in the `IERC20` interface.
The reason these functions where added is to provide a workaround for the front-running breach embedded in the `approve` function (more accurately, in an improper usage of the `approve` function).
Such front running can be performed if someone calls `approve` with a

[2018-11-15 02:29] rammuralidhar commented on #1487
fair enough. closing this issue as it is the expected behaviour.

[2018-11-15 02:29] #1487 closed

[2018-11-15 06:38] maxsam4 commented on #1175
Can you guys please reopen this issue for further discussion among the community?
or create a new one and reference this and the concerned PR.

Thanks.

[2018-11-15 08:49] thomasvds opened #1500 "Rename 'investor' account in tests to something else"
When testing Crowdsale functionalities, we usually have an `investor` account that represents an account that will be receiving the tokens when they are bought, e.g.:

[code]

Given the current regulatory uncertainties and the thin line that sometimes exists between security and utility tokens, I think many projects have gone wary of using the word investor in any of their conversation and written

[2018-11-15 20:03] frangio commented on #1175
@maxsam4 Happy to continue the discussion here for now.

I don't see how this causes compatibility problems. Dapps aren't affected by the event argument names used in the source code, they just care about their order and indexedness, where OpenZeppelin is definitely compliant. This means that dapps don't need to know if the token is OZ or ERC20 as you implied.

Users of the OpenZeppelin interfaces

[2018-11-15 20:50] frangio commented on #1489
Thanks for the suggestion @bashalex! This is actually by design, though. The situation where there are no more accounts assigned to a role is sometimes desirable. The typical example is a centralized minting scheme where at some point minters may want to guarantee token holders that the supply is final.

[2018-11-15 23:04] bashalex commented on #1489
@frangio Agreed. However, if a role used for some sort of a "traditional" owner replacement, a simple human mistake may ruin the contract leaving it without any "owners".

[2018-11-16 03:57] maxsam4 commented on #1175
Thanks for the response @frangio Here are my further thoughts

I'll try to explain why some dApps will need to refactor their code to arguably worse code or will need to know if the token is OZ or ERC20.
When fetching events, Web3 1.X returns a `returnValues` object that maps event parameter name to value. Please refer to documentation and example available on https://web3js.readthedocs.io/en/1.0/

[2018-11-16 14:34] remon-nashid opened #1502 "Add 'shouldFailWithMessage' test helper"
**🧐 Motivation**
Exactly as described in issue's title :).

**📝 Details**
First of all, thanks for prividing this awesome framework. It makes creating secure smart contracts actually possible!

I've been importing functions from `openzeppelin-solidity/tests/helpers` to use in my own tests for a couple of weeks. They work perfectly so there's no need to craft my own. Helpers in `shouldFail.js` have

[2018-11-16 15:55] mudgen opened #1504 "Adding an Implementation of ERC1538"
**🧐 Motivation**
ERC1538 is a very useful standard for transparent, upgradeable contracts that provides the following benefits:

1. The ability to add, replace or remove multiple functions of a contract atomically (at the same time).
2. Each time a function is added, replaced or removed, it is documented with events.
3. Build trust over time by showing all changes made to a contract.
Unlimited con

[2018-11-16 19:44] frangio commented on #1175
I agree that using indexes instead of names is a huge hassle and compromise to readability. We would never encourage our users to do that.

The object will use the parameter names as declared by the JSON interface used in the client, not in the source code for a contract address (which are unknown as far as the EVM goes).

Removing the underscore prefixes in OpenZeppelin allows clients built with

[2018-11-16 19:53] frangio commented on #1502
Glad you find the helpers useful @remon-nashid! We're actually planning on providing a package full of these helpers. Check out https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1204. We'll definitely include `shouldFailWithMessage` in it.

I'm keeping this and the associated PR open until @nventuro comes back online in a few days. He's leading the test helpers project.

[2018-11-17 06:09] destenson opened #1505 "SafeMath is not very safe when you overflow inputs (obviously)."
My understanding of SafeMath is that it's supposed to prevent invalid calculations due to negative inputs.

**💻 Environment**

Any smart contract that depends on SafeMath for valid calculations.

**📝 Details**

For each of the 4 math functions, there are invalid inputs that give invalid outputs without throwing.

**🔢 Code to reproduce bug**

EDIT: I'm wrong about these examples. In my excitement t

[2018-11-17 06:53] destenson commented on #1505
I would be remiss if I didn't post a fix to these. These are correct and probably use significantly less gas than the faulty versions.

[code]

A word to the wise: please don't write code to do what the compiler is supposed to do for you. If it seems like you're reinventing the wheel, you are.

[2018-11-17 14:19] redsquirrel commented on #1505
Do you understand that `uint(-1)` returns 115792089237316195423570985008687907853269984665640564039457584007913129639935?
And that by definition, casting an `uint` to an `int` will *always* result in an int that is `>= 0`.

[2018-11-17 15:43] destenson commented on #1505
Yes, I do understand that. What is the point of this library if not to protect from that?

[2018-11-17 16:34] adibas03 commented on #1504
@mudgen your implementation in (https://github.com/mudgen/transparent-contracts-erc1538) looks good.
You could create a PR with that

[2018-11-17 18:46] destenson commented on #1505
The fault is not with the library, _per se_, though it can be improved & I'm doing that today. The real issue is using types that can overflow & assuming they won't.

[2018-11-17 21:58] #1505 closed

[2018-11-18 15:54] destenson commented on #1505
To follow up, this issue was caused by inadvertent overflow on my part before passing to the functions without realizing it. Then in my excitement to share what I found, I chose the simplest test cases I could find without realizing that they were not even behaving incorrectly.

Ultimately, my issue is with Solidity. EVM operations overflow & that's fine. But as a high-level language, Solidity sho

[2018-11-19 17:03] talasa commented on #1489
I suggest making "remove" safer by blocking requests to remove the last account.
For making it possible to remove all roles (which is sometimes desirable) there are a few options:
1. Adding a new function "removeLast". So it won't happen by accident.
2. Leaving it as-is and let the users find a way to achieve that functionality. For example add Role to a non-upgradable contract address that does n

[2018-11-20 01:35] robertmagier opened #1506 "SafeMath - failed assert reason."
I would like to propose changing SafeMath library to use require instead of assert and also describe the reason why require failed.  It will make testing in truffle much easier.

For example current sub function is using assert.

[code]
We can change it to require and provide error description which will be then displayed truffle test.

[code]

[2018-11-20 04:59] maxsam4 commented on #1506
A) `internal` functions of libraries are inlined in the implementing smart contract.
B) Strings cannot be compressed and hence take a good chunk of allowed bytecode size for deployment.

As a result, Adding error strings to SafeMath will considerably increase the size of contracts implementing it. I would avoid making such basic functions so heavy.

I won't mind a separate `SafeMathWithReasonStrin

[2018-11-20 05:16] robertmagier commented on #1506
I think libraries address is inlined in the contract using it. Implementing
reason will of course increase size of library and cost of its deployment,
but will not increase size of contract using this library.

Please correct me if I am wrong.

Nvertheless I think size argument is pretty important and it might be a
good reason no to implement this change. It would however help me in
debugging.

On

[2018-11-20 11:46] bashalex commented on #1489
I like the idea with `removeLast()`. It sounds like it solves both problems. @frangio?

[2018-11-20 14:35] elopio commented on #1175
@maxsam4 for your code already deployed to mainnet, shouldn't you use the OpenZeppelin version you used when you deployed, instead of the latest?

[2018-11-20 15:16] maxsam4 commented on #1175
Our token on Mainnet does not use OpenZeppelin.
The security tokens generated through our platform use OpenZeppelin.

I want both their ABIs to have same event parameter names so that I don't have to treat them differently when treating them as ERC20.

It's not that I can't refactor my code. It is rather straightforward to make the required changes than trying to change OpenZeppelin :).

The bigge

[2018-11-20 15:55] elopio commented on #1175
Got it. Then I agree with @frangio that we need an ERC that defines compliance. And I'll add that we need another one with a suggested style for all ERCs 😃

[2018-11-20 17:47] #1405 closed

[2018-11-20 17:48] nventuro commented on #1483
You're absolutely right (see [here](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/CODE_STYLE.md#naming) for the relevant rule), thank you for reporting this @vittominacori!

[2018-11-20 18:17] nventuro commented on #1494
Hello @1nfinite! `increaseAllowance` and `decreaseAllowance` are, as @barakman said, extensions end-users may use to more safely manage their tokens (assuming they know the functions are available in the contract), as can any contracts that interact with a known token (e.g. a crowdsale, but not an ERC20 exchange). We do provide the `SafeMath` library for this scenario though, which [adds that very

[2018-11-20 18:17] #1494 closed

[2018-11-20 18:21] nventuro commented on #1480
Thanks a lot everyone for this! :clap:

[2018-11-20 18:21] #1480 closed

[2018-11-20 18:29] frangio commented on #1479
I'd like to hear a few use cases for this feature before going ahead with an implementation.

Also see https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1292 for a related discussion about `Whitelist`.

[2018-11-20 18:42] nventuro commented on #1292
Hey @Levino, @mjdietzx, @lakamsani, just a heads up: we'll be working on this for the [2.1 release](https://github.com/OpenZeppelin/openzeppelin-solidity/milestone/5), so it should be out in a couple weeks. Thanks for your interest!

[2018-11-20 19:02] frangio commented on #1486
Hi @godfreyhobbs! It looks like a bug in our docs generation. That page shouldn't exist; note that `Destructible` is not in [the sidebar for 2.0.0](https://openzeppelin.org/api/docs/crowdsale_Crowdsale.html).

Please take a look at https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1254 for the reasons for removing `Destructible`.

This is a very interesting point. We removed the feature b

[2018-11-20 19:03] #1483 closed

[2018-11-20 19:14] nventuro commented on #1488
Hey @barakman,

I'm glad you're with us on the `private`/`internal` thing :)

The main reason behind `Claimable` no longer being a thing is that we're in the process of deprecating `Ownable`: we think having a single account with superpowers is too powerful, and doesn't fit some scenarios where some granularity regarding permissions is required (see #366).

As you noticed, our current access-contr

[2018-11-20 19:18] nventuro commented on #1478
Thanks @barakman! We'll include such a guide in the revamped docsite (as well as documenting how `ERC20` is supposed to be used).

I'm wondering though, why did you replace `MintableToken` for `ERC20`? We created `ERC20Mintable` as its replacement, since they're not equivalent: the `Mintable` variant allows external accounts (that have the proper permissions) to mint tokens, while the barebones `E

[2018-11-20 19:40] Levino commented on #1292
Cool, thanks. Could you push a WIP branch? I will happily review and try it out. Need this feature asap.

[2018-11-20 19:44] frangio commented on #1463
This can already be accomplished by calling `approve(0)`. I'm not sure if the proposed function would add any other functionality that I'm not seeing.

@cwhinfrey Could you expand on this a bit?

[2018-11-20 20:13] nventuro commented on #1500
Thanks for spotting this @thomasvds! I agree, our nomenclature could be better. We also have a slight issue in that `beneficiary` means the recipient of tokens, which is IMO sort of unintuitive (I'd expect the `beneficiary` to be the recipient of funds, and would call the buyers `participants`). However, that'd require changing the argument of one of the `Crowdsale` events, which may be considered

[2018-11-20 20:20] nventuro commented on #1506
@maxsam4 is right in that `SafeMath` is intended to be used as an `internal` library, and will be inlined in your source code (it'd be way too expensive to use otherwise). We are considering adding revert reasons, but we're not yet sure on how they should look like (there was some discussion in #888), and lack tooling to make sure they've been correctly implemented.

Regarding `require`, that's al

[2018-11-20 20:20] #1506 closed

[2018-11-20 20:29] nventuro commented on #1495
Generally, for simple contracts the checks-effects-interaction pattern will be sufficient. Things get a bit muddy once you add inheritance, external calls, etc. into the mix (as is the case with our `Crowdsale`'s `buyTokens`). Even if you do use `ReentrancyGuard`, I'd still attempt to adhere to that pattern, if only because I find it makes reasoning about execution flow easier.

The only disadvant

[2018-11-20 20:29] #1495 closed

[2018-11-20 20:50] nventuro commented on #1499
Hi again @barakman!

What you're describing is one of the standard ways of implementing upgradeability. While we're considering adding that `internal` function, have you looked into off-the-shelf upgradeability solutions, such as [ZeppelinOS](https://zeppelinos.org/)? Upgradeability can be quite tricky, and it looks like you may be reinventing the wheel a bit in this case.

As a sidenote, the reas

[2018-11-20 20:55] nventuro commented on #1396
After some discussion with @frangio, we've decided to migrate to 4 spaces, since interoperability with tools/other projects is more important than our personal preferences. Thanks @mswezey23, @LogvinovLeon, @treeder and @kabl for pushing for this!

[2018-11-21 12:37] barakman commented on #1478
@nventuro: Hi.

On our system, minting is internal by the definition of our product, meaning that we are the only ones with minting-permission, and moreover, we perform it internally as a result of some specific conditions (i.e., not even from the off-chain).
Therefore, not only do we not need the functionality of `ERC20Mintable` as you describe it, we also need to override the functionality of `M

[2018-11-21 13:39] barakman commented on #1488
@nventuro: Hi.

Yes, your argument is accurate - if I transfer ownership of a contract to the wrong account (presumably a non-existing one, due to a typo for example), then I will need to redeploy the contract, and possibly a few other (related) contracts along with it.

This redeployment is equivalent to a *Fork* of our system, and we consider it pretty disastrous.

Thanks

[2018-11-21 14:05] barakman commented on #1499
@nventuro: Hi.

We have already established a very simple infrastructure which allows us to:
1. Restrict certain functions to certain contracts (e.g., function `func` in contract `A` can be invoked only from contract `B`).
2. Execute a partial or full system-upgrade (i.e., replace some or all contracts) as an atomic operation, while each contract remains "oblivious" to the replacement of any other

[2018-11-21 14:37] spalladino commented on #1499
Hey @barakman! What you are implementing is quite similar to what we're doing with upgradeability in ZeppelinOS: we have a proxy contract (equivalent to your `MyToken`) that holds the balances of the users, and whose address will never change (so end users can interact always with the same address). That proxy delegates execution to an ERC20 implementation (`MyTokenImpl` in your case). Do you mind

[2018-11-21 14:44] barakman commented on #1499
@spalladino:
Thank you for your quick response.
Can you please provide a link directly to the source code on GitHub?
Thanks

[2018-11-21 15:06] spalladino commented on #1499
Sure! It's on https://github.com/zeppelinos/zos

[2018-11-21 15:14] mswezey23 commented on #1396
Ah! :) This makes me so happy

Thanks for the update @nventuro!

[2018-11-21 15:33] nventuro commented on #1488
As a general rule, if such a deployment may cause issues in your system, I'd advise you to take a look at the whole architecture: ideally, your contracts should be worthless and not meaningful until you start using them (presumably, after checking deployment was successful).

That said, if (temporarily) transferring ownership to a non-existent account doesn't bother you, `Roles` will give you simi

[2018-11-21 15:46] barakman commented on #1499
@spalladino:
Thank you!

On a quick glance, I see numerous contracts and a rather large amount of code in general.
Our upgradability infrastructure consists of only 3 contracts and just a handful of code lines.
So between the accountability of your infrastructure (tested and reviewed by the community) and the simplicity of ours, I currently tend to go with the latter.

Having said that, we are jus

[2018-11-21 15:49] spalladino commented on #1499
@barakman certainly. The ERC20 data would be managed by the [Proxy contract](https://github.com/zeppelinos/zos/blob/master/packages/lib/contracts/upgradeability/AdminUpgradeabilityProxy.sol), while the ERC20 used can be provided by the [OpenZeppelin EVM package](https://github.com/OpenZeppelin/openzeppelin-eth/blob/master/contracts/token/ERC20/StandaloneERC20.sol). Using those two contracts only y

[2018-11-21 18:38] #1388 closed

[2018-11-21 18:38] #1222 closed

[2018-11-22 13:51] epiqueras opened #1509 "Chai Should Not Be a Dev Dependency"
This makes projects that don't explicitly add chai throw.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/a833c4b4ee2a71661366772cdd4a97c05346beeb/test/helpers/shouldFail.js#L1

It should be a regular or peer dependency depending on other usage.

[2018-11-22 13:52] nventuro commented on #1509
Hello @epiqueras! Are you trying to use to OpenZeppelin test helpers in your project?

[2018-11-22 13:54] epiqueras commented on #1509
Yes

[2018-11-22 13:55] epiqueras commented on #1509
Oh, are they not meant to be imported?

[2018-11-22 14:02] nventuro commented on #1509
Not right now, no, which is why `chai` is a dev dependency and not a regular one. The helpers are undergoing development and are not stable yet, _however_, we plan on releasing a package with them very soon (see https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1204, though that one is more ambitious).

[2018-11-22 14:42] frangio commented on #888
@nventuro 100%!

[2018-11-22 14:53] frangio commented on #917
@remon-nashid Nice! Are you interested in incorporating your code into the OpenZeppelin helper?

[2018-11-22 15:29] remon-nashid commented on #917
IMO this issue can be closed as 'assertRevert' is superseded by `shouldFail.withMessage`.

[2018-11-22 18:43] frangio commented on #1504
Hi @mudgen! We think that upgradeabilty requires a lot more tooling than what's in scope for OpenZeppelin. So our current decision is to leave those matters to [ZeppelinOS](https://zeppelinos.org/).

[2018-11-22 18:43] #1504 closed

[2018-11-22 19:53] #1396 closed

[2018-11-23 15:02] MoMannn commented on #917
@remon-nashid agreed. Closing.

[2018-11-23 15:02] #917 closed

[2018-11-23 16:52] chebykin opened #1512 "Add a getter for an array of tokens held by an owner"
## Problem
I want to inherit `ERC721Full.sol` contract and add an extra getter for an array of tokens held by a given user.

## Expected behaviour
In previous versions it was possible by adding an extra function and accessing an `internal` `_ownedTokens` mapping:
[code]

## Current behaviour
In version 2.x it is impossible to access a `private` `_ownedTokens` mapping.

[2018-11-24 11:46] chebykin commented on #1512
Thank you! Will wait for this feature.

[2018-11-24 14:42] #761 closed

[2018-11-24 14:45] nventuro commented on #1512
Isn't this a duplicate of https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1102?

[2018-11-24 17:10] frangio commented on #1512
Hm, that issue is about an external interface, this one is about an internal one for extension purposes.

[2018-11-24 18:00] Dycedlp opened #1515 "Can't Mint or Burn Tokens."
[code]
----
Linux Ubuntu 16
New Remix IDE
--
Publishes the contract fine with initial amount of coins.  When I try to run the mint as well as the burn function to my address, it does nothing to the amount of coins.  I'm making the calls through the remix IDE once the contracts deployed.  Is there something wrong with my contract why would this be happening?

Thanks.

[2018-11-26 14:18] frangio opened #1516 "truffle compile doesn't exit"
`truffle compile` doesn't exit. This is blocking #1299 and #1103.

We have to look into why this is happening and fix it.

[2018-11-26 14:18] nventuro commented on #1516
Might be related to #1340

[2018-11-27 06:47] Aniket-Engg commented on #1512
shouldn't `uint256[] storage` be `uint256[] memory`?

[2018-11-27 08:18] liwei00wade opened #1518 "how to send and receive Eth on contract ?"
who can give me an example ?

[2018-11-27 08:20] liwei00wade opened #1519 "How to receive an optional data on contract when send Eth to it ?"
I found out a field "hex data optional";
I want to receive the data on contract, is it msg.data ?

I will try.

[2018-11-27 15:09] frangio commented on #1519
Hi @liwei00wade! Depending on what you want to do with the data, sometimes `msg.data` will be enough and other times you will want to define a function. Feel free to browse through this repository to see examples of Solidity code.

For this sort of question, please [join our Slack community](https://slack.openzeppelin.org/) and ask in the `#beginners` channel.

[2018-11-27 15:09] #1519 closed

[2018-11-27 15:12] frangio commented on #1518
Hi @liwei00wade! Take a look at [`PaymentSplitter`](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/21ed6bee256a3ce5057d8233f5649b9ab16dc7c4/contracts/payment/PaymentSplitter.sol) for an example of a contract that both receives and sends ether.

For this kind of broad question, please [join our Slack community](https://slack.openzeppelin.org/) and ask in the `#beginners` channel.

[2018-11-27 15:12] #1518 closed

[2018-11-27 15:24] frangio commented on #1512
@Aniket-Engg I think it should be `storage` because the function would be returning a pointer to the array that is held in storage. Copying the array to memory would be very expensive unnecessarily IMO.

[2018-11-27 20:20] #938 closed

[2018-11-27 20:56] #1354 closed

[2018-11-27 20:59] nventuro commented on #1436
Thanks @jbogacz and @barakman! I'm sorry I'm only answering now, I must've missed those comments.

I tried the `allEvents()` approach but found it doesn't work in all scenarios, so went with a more straightforward approach in https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1513. Events in the fallback function are not yet captured (or at least tested for), but it should be easy to do so

[2018-11-27 21:01] nventuro opened #1520 "Extend expectEvent to support multiple events of the same type"
The current helper attempts to match all values on the first event that it finds with a matching name. In the case of a value mismatch, it should keep searching the event list, as opposed to exiting immediately. See for example `PaymentSplitter`'s constructor, where multiple `PayeeAdded` events are emitted in the same transaction.

[2018-11-27 21:20] frangio commented on #1520
I thought I had done this in #1054, though it was somewhat cryptic and not at all documented:

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/92133be7ea8b85a98753dc2fb141ddc2ffe283f4/test/helpers/expectEvent.js#L3-L23

But it was changed in a later PR to what we have now:

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/c2de8ffd146c456bf9a3193732ceb42d6eb2101c/test/helpers/e

[2018-11-28 11:12] nventuro commented on #1515
Hello @Dycedlp!

Which version of OpenZeppelin are you using? In 2.0 (the latest version), `MintableToken` has been replaced by `ERC20Mintable`.

[2018-11-28 11:41] nventuro commented on #707
I think the arguments exposed are good enough to warrant this being a thing, will open a PR soon.

[2018-11-28 16:43] nventuro commented on #1292
@Levino please take a look: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1525. @mjdietzx if you could provide feedback regarding the new implementation's compliance of legal requirements, that'd be great!

[2018-11-28 20:07] thedon-chris commented on #1214
As a token contract owner, I would like to vest tokens to recipients on a “monthly” & non-linear basis, so that tokens are released on a controlled monthly interval (_as opposed to token holders withdrawing at their leisure_)

[2018-11-29 00:01] remon-nashid commented on #1502
Fixed by @nventuro's #1513

[2018-11-29 00:05] cwhinfrey commented on #1463
@frangio Our thinking was that ERC20 subclasses may want to zero out an account's allowance, even if that account is not `msg.sender`. A real-world use case for this is now escaping me though. It may make sense to hold off until one comes up.

[2018-11-29 14:16] nventuro commented on #1340
Looks like #1526 will fix this - if it turns out it doesn't, we'll need to dig deeper.

[2018-11-29 15:06] #707 closed

[2018-11-30 03:20] remon-nashid commented on #1502
Ah! sorry for the misunderstanding.

Actually, when I attempted to submit a PR that exports `shouldFail.withMessage`, I realised that revert messages are not exposed by Ganache-cli versions [< 6.1.2](https://github.com/trufflesuite/ganache-cli/releases/tag/v6.1.2). OZ library uses 6.1.0 so we'll need to update it. I can open a new PR to update Ganache-cli but please let me know if you'd prefer to

[2018-11-30 12:15] nventuro commented on #1502
Given that 6.2 seems bring performance improvements, I don't see a reason to not update to the latest 6.2.x version.

Yeah, let's just go with `reverting.withMessage` for now. `withMessage` may be useful e.g. when testing for the errors that other helpers throw, but we don't need that yet.

Thanks a lot @remon-nashid! :)

[2018-11-30 12:40] rmeissner opened #1531 "DateTimeUtils - Helper logic to handle time"
**🧐 Motivation**
Time is important and off-chain there are often cases where time related checks need to be performed. To handle this on chain it would be nice to have some utils that would encapsulate these checks.

There are many use cases for this:
- Assuming we have a multisignature wallet that should only require the approval of all owners if more than a specified amount should be transferred

[2018-11-30 15:17] nventuro commented on #1531
A point we'll have to address if attempting to cater to a 'calendar day' usage will be that of timezones, which may be a major issue due to daylight savings, etc.

[2018-11-30 17:57] axic commented on #1498
Some key point from @nventuro in #42:

@gnidan 👀 😉

[2018-11-30 18:02] gnidan commented on #1498
Workin' on it!

[2018-12-01 05:35] frangio commented on #1531
Leap seconds are dealt with at the EVM level. The unix timestamp that is obtained from `block.timestamp` doesn't count real seconds, it counts "civil" seconds. Notice in [this table](https://en.wikipedia.org/wiki/Unix_time#leapsecondinserted) how the same timestamp ending in 800 actually spans two real seconds.

[2018-12-01 23:03] remon-nashid commented on #1502
Started working on ganache-cli update in #1535 .

[2018-12-02 03:09] #1516 closed

[2018-12-02 03:09] #1340 closed

[2018-12-02 04:29] Dycedlp commented on #1515
Ok this is 1.12v @nventuro

[2018-12-03 19:48] icherko commented on #1498
I forked the project, changed all the contracts to v0.5.0, fixed all the errors and most of the warnings. I created an ERC20 token using the code but don't know how to test all the files. I am still learning how to use github. Shall I do pull requests? Is there a branch I should use?

https://github.com/icherko/openzeppelin-solidity/tree/master/contracts

[2018-12-04 03:33] ImAllInNow opened #1536 "ERC20Detailed should Inherit from ERC20, not IERC20"
If I create a token that inherits from ERC20Detailed, I would also need to inherit from ERC20 to get the implementation, but since ERC20Detailed is not an interface itself, it should properly inherit from ERC20, not IERC20.

**💻 Environment**

2.0.0

**📝 Details**

The standard way I would like to use ERC20Detailed would be to directly inherit from it as in:
[code]

But this doesn't get me all of

[2018-12-04 15:17] nventuro commented on #1536
I think our reasoning with this one was not forcing users of `ERC20Detailed` to also use our `ERC20` implementation, but I'm not sure how strong that argument is, considering it does make usage a bit cumbersome. @frangio thoughts?

[2018-12-04 15:33] remon-nashid commented on #1502
Working on exporting test helper + adding unit tests for the helper itself.

[2018-12-04 19:17] spalladino opened #1538 "Rollback to VM infrastructure for Travis"
Travis is [deprecating their container based infrastructure](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration). This means removing the `sudo: false` entry in `travis.yml`, or rolling back #1199.

Note that if we don't do anything, it seems that Travis will switch us automatically, though it's better to do it manually in case something breaks due to the change. Also, t

[2018-12-04 20:57] frangio commented on #877
Since the suggested change breaks the API (yes we should have done this before 2.0), @nventuro suggested to create a new one that is `Refundable` + `PostDelivery`, and to deprecate the previous one.

[2018-12-05 04:46] nventuro commented on #1078
With #1530, #1528, #1521, #1514, #1513 and #1511 this is now complete.

[2018-12-05 04:46] #1078 closed

[2018-12-05 19:59] nventuro opened #1541 "ERC721 internals refactor (API cleanup + gas savings)"
We're currently exposing `_addTokenTo` and `_removeTokenFrom` due to language limitations, despite them not being useful due to incomplete behavior (e.g. no events are emitted). We do have a comment describing this and discouraging their usage, which IMO is enough to not consider them part of the API. We should get rid of these functions soon.

Once #1539 is merged, they won't be necessary anymore

[2018-12-05 20:33] frangio commented on #1536
I don't have too strong an opinion on this, but in any case `ERC20` is not useful by itself unless you extend it, so a concrete `ERC20Detailed` wouldn't be useful either unless you extend it or combine it with `ERC20Mintable`. I feel like it would change usage of the contract by very little so I would not worry about it now, but I'd keep it in mind when we release a new major.

[2018-12-05 20:45] #1512 closed

[2018-12-06 05:26] OFRBG opened #1542 "Ownable with OTP"
**🧐 Motivation**
Strong addition to the `Ownable` implementation. This is an "advanced" user version of Ownable with high-risk if not used correctly.

**📝 Details**
I've included a sample implementation below. I'm not a security auditor, but the basics should be there. Think of it as the Big Red Button of ownership. I've excluded the unmodified functions of `Ownable.sol` for readability.

Once aga

[2018-12-06 05:38] OFRBG commented on #1542
Event Table:

1. Off-chain OTP creation. The block number in which the transaction will be mined needs to be guessed. OTP should be `keccak256[keccak256[rawOTP],guessedBlockNumber]`.

2. The code is deployed with the hashed OTP. The block number is registered.

3. Recovery begins by calling `beginOTPRecovery`.

4. The caller has exclusive access to `transferOwnershipOTP` for approximately 1 day. A

[2018-12-06 12:31] nventuro commented on #1542
Hi @OFRBG, thanks for this request!

I'm not sure I followed your explanation correctly, where does the 'high risk' come from? Losing the OTP?

Also, note that the proposed implementation is vulnerable to a sort of Denial of Service attack: `beginOTPRecovery` can be continuously called by an attacker.

[code]

Not only that: if an attacker spots a `transferOwnershipOTP` transaction and manages to

[2018-12-06 13:11] nventuro commented on #839
I'm inclining towards not fixing this 'bug', for the following reasons:

1. I argue there isn't really a bug in the first place, since the Solidity interface is not affected by it.
1. The 'issue' is that a deleted token's index in its owner's array (`_ownedTokensIndex`) is not cleared. However, 'clear' simply means 'setting to 0', and 0 is a valid index value. This means that there's no potential

[2018-12-06 13:12] nventuro commented on #839
This is related to #1541, where I propose getting rid of more cleanup of this sort.

[2018-12-06 15:51] cipherzzz commented on #1159
@catageek - I tried to implement your branch but was not able to deploy the contract using truffle or my unit tests. I keep getting a revert. Could you pull this truffle project and try it out?
[code]

[2018-12-06 17:48] catageek commented on #1159
@cipherzzz This contract needs that an ERC820 contract is previously deployed in the test chain. Try to execute `truffle test` before `truffle migrate` because there is a [test script](https://github.com/catageek/openzeppelin-solidity/blob/feature/ERC777-%231159/test/introspection/ERC820Deploy.js) that deploys an ERC820 registry contract.
Disclaimer: I did not update the ERC820 bytecode to the fin

[2018-12-06 18:29] frangio commented on #839
Actually the additional `SSTORE` should result in a cheaper transaction because it's zeroing out a storage slot. @nventuro and I have been doing some tests though and it doesn't seem to be that way. We're still not sure why but will keep looking into it.

[2018-12-06 19:36] JonahGroendal commented on #1498
Any update on Solidity v0.5.x support? Truffle 5.0.0 beta no longer compiles solidity v0.4.x files.

[2018-12-06 20:09] nventuro commented on #839
Yup, my comment was based on tests, not my understanding of the platform (which is clearly wrong, since I'd expect the zero-ing out to refund 10k gas).

[2018-12-06 21:35] OFRBG commented on #1542
That is the high risk part. Users need to be experienced to follow the protocol correctly. I am aware that `beginOTPRecovery` is vulnerable to a DoS attack, and I forgot to update `blockEngaged` after the conditions are met. I'll fix it now.

[2018-12-06 23:06] icherko commented on #1498
Not sure how to get Truffle working with v0.5 . I used the Solidity extension in Visual Studio Code.

Downloaded the latest compiler:
https://github.com/ethereum/solc-bin/blob/gh-pages/bin/soljson-v0.5.1%2Bcommit.c8a2cb62.js

Then in the user settings:
"solidity.compileUsingLocalVersion" : "C:\\your path\\soljson-v0.5.1+commit.c8a2cb62.js"

Open the sol file, F1, choose Solidity:compile, then each

[2018-12-06 23:58] gnidan commented on #1498
@JonahGroendal Add this to your Truffle config:

[code]

[2018-12-07 04:04] interfect commented on #1478
On-chain token code obviously can't be upgraded to the new `ERC20` contracts---at least, not without changing the addresses of all the contracts and making everybody trade in their old tokens for new ones.

What's the recommended practice for upgrading a project's OpenZeppelin version, for new contract development, with minimal changes to the source of contracts that are already deployed? Any upgr

[2018-12-07 09:44] nventuro commented on #1478
Not unless you use an upgradeability solution, such as [ZeppelinOS](https://zeppelinos.org/) ;) The [`openzeppelin-eth`](https://github.com/OpenZeppelin/openzeppelin-eth/) EVM package can be used for precisely this (documentation is a bit lacking at the moment, but feel free to ask questions or open issues and we'll promptly give you a hand!).

I take it you want to use the latest OpenZeppelin rel

[2018-12-07 16:32] #1205 closed

[2018-12-10 15:42] #1536 closed

[2018-12-10 16:37] Dycedlp opened #1545 "Can't Deploy Burnable, Mintable & Capped Token"
Coin.sol:
[code]
-- I have all the other inherited contracts in the remix IDE just published the coin.

**💻 Environment**
Remix IDE

**📝 Details**

Says the contract doesn't implement all functions therefore can't be created.

**🔢 Code to reproduce bug**

Using the new open zeppelin contracts.

[2018-12-10 18:47] nventuro commented on #1545
Hey there @Dycedlp! The snippet you posted seems to be correct, could you share your full contract and the complete error message? Thanks!

[2018-12-10 20:20] Dycedlp commented on #1545
Ok @nventuro when I try to publish this coin.sol it says "This contract does not implement all functions and thus cannot be created." I have ERC20mintable.sol, Roles.sol, IERC20.sol, ERC20Burnable.sol, ERC20.sol, ERC20Capped.sol, MinterRole.sol, Safemath.sol and then finally the coin.sol in my Remix IDE directory... I was under the impression you had to just deploy the coin for it to function.  Is

[2018-12-10 21:31] nventuro commented on #1498
@JonahGroendal the 2.1 release (for which there will be a release candidate this Thursday, the actual release should be in about one or two weeks) will include 0.5.x support.

[2018-12-10 21:39] nventuro commented on #1545
Hmm, that error message should show you which functions it is that you're not implementig. Are you sure the contract you're deploying is the one you made, and now one of the OpenZeppelin ones (e.g. `IERC20`)?

Something like this ought to work for what you intend:

[code]

[2018-12-10 22:41] Dycedlp commented on #1545
@nventuro Thanks for the contract.  I just tried to use it and it failed with the correct compiler version with the following errors:

Error 1:
TypeError: Type is not callable
    uint256 public constant INITIAL_SUPPLY = 10000 * (10 ** uint256(decimals()));
                                                                    ^--------^
Error 2:
TypeError: Explicit type conversion not allowed from "

[2018-12-11 12:11] vanjan opened #1546 "Learn-about-tokens code snippet doesn't compile"
I'm following https://openzeppelin.org/api/docs/learn-about-tokens.html which contains the following snippet:

[code]
Compiling using
[code]
I get the following error
[code]
And that's because `ERC20Mintable` doesn't expect `minters` in the constructor. I'm not sure how to fix though, just starting with Solidity/OZ.

[2018-12-11 13:00] nventuro commented on #1546
Hey there @vanjan, thanks for reporting this. Indeed, the example is wrong, it should read:

[code]

We're currently in the process of revamping the docsite, updating old guides, etc. (including letting users improve it themselves!), and this is one of the first things I intend to fix. Sorry about this!

[2018-12-11 13:00] #1546 closed

[2018-12-11 14:51] NedimRenesalis opened #1547 "Whitelist addresses of investors to an already deployed contract"
How to implement SignatureBouncer to add whitelisted addresses to a crowdsale contract that has already been deployed.

Here

https://openzeppelin.org/api/docs/access_SignatureBouncer.html the signaturebouncer use as a mean to add whitelisted addresses to an already deployed contract during live crowdsale.

Has anyone an idea how to do this?

[2018-12-11 16:38] #1545 closed

[2018-12-11 18:30] hacker-DOM opened #1548 "Find median of an array of uints"
**🧐 Motivation**

We are building a reliable price oracle for a decentralized exchange (the DutchX). We would like to take the last n prices, and output the median price. So we need an algorithm that is able to find the median of an array of, say, uints.

**📝 Details**

A function that takes an array and returns its median. Signature:

`function findMedian(uint[] memory array)
public
Pure
Returns

[2018-12-11 18:39] nventuro commented on #1548
Unless the array is sorted (which I assume it isn't :stuck_out_tongue:), this will be at least O(n)-time. Will that array be arbitrarily long?

I'm also curious as to how it is built: does it come from queries to another contract, or from local storage? If it's the former, we may want to consider retrieving the values here, to make it more gas efficient.

[2018-12-11 19:54] nventuro commented on #1220
Closed via #1511

[2018-12-11 19:54] #1220 closed

[2018-12-11 19:56] nventuro commented on #1191
Closed via https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1363

[2018-12-11 19:56] #1191 closed

[2018-12-11 21:07] #877 closed

[2018-12-12 05:58] #1515 closed

[2018-12-12 08:16] dteiml commented on #1548
Yes, it is unsorted. There is an algorithm to find median (even more generally the nth smallest term) described [here](https://stackoverflow.com/a/28822243) that I think could be a good reference. Ideally, we would parameterize the pivot as well. If it is completely random, you can choose `array[0]` as the pivot, for our case, choosing the (chronologically) middle value would probably be more perf

[2018-12-12 16:39] nventuro opened #1552 "Remove unnecessary SafeMath calls"
Its usage has become ubiquitous, but there are multiple instances where it is not needed. E.g. in `ERC721`:

[code]

That is the only place where `_ownedTokensCount[to]` is incremented: 2^256 calls to `_mint` are needed to make it overflow, making these calls more expensive by adding the check makes no sense.

[2018-12-12 17:46] #1292 closed

[2018-12-12 18:20] frangio commented on #1552
Hm, we've usually been more of the "use safemath everywhere to be sure" camp. I think we should tackle this by using something like the `Counter` type that we have, although it doesn't have a `decrement` function that is needed for transfers and burning. Thoughts?

[2018-12-12 18:36] #1103 closed

[2018-12-12 20:38] frangio opened #1554 "Add a CHANGELOG.md file"

[2018-12-12 20:49] frangio commented on #1548
I agree that the pivot should be an argument, and a front-end should choose it in a smart way so as to result in cheap execution. Otherwise the function runs the risk of running out of gas.

[2018-12-12 21:51] #839 closed

[2018-12-12 21:51] #1541 closed

[2018-12-13 15:22] deepakkbc opened #1557 "token/ERC20/StandardToken.sol is missing"
Hello, I am getting error when I run compile command from truffle console:

Error: Could not find openzeppelin-solidity/contracts/token/ERC20/StandardToken.sol from any sources; imported from /Users/test/Sites/ethereum/tokenzendr-contract/contracts/BearToken.sol

When I check StandardToken.sol in the path, it's not there. Can somebody please suggest me why its missing or what's the alternative way

[2018-12-13 15:31] nventuro commented on #1557
Hello @deepakkbc! You have probably installed version 2.0 of OpenZeppelin (the latest release). In it, `StandardToken` was renamed to `ERC20`: change your import statement and your contract should compile.

[2018-12-13 15:59] deepakkbc commented on #1557
waoo..thank you for quick reply. When I replace stanardToken with erc20.sol, I have started getting so many  Undeclared identifier errors like
/Users/deepak/Sites/ethereum/tokenzendr-contract/contracts/TokenZendR.sol:6:24: DeclarationError: Identifier not found or not unique.
contract TokenZendR is Ownable, Pausable {
                       ^-----^
,/Users/deepak/Sites/ethereum/tokenzendr-contract

[2018-12-13 16:24] nventuro commented on #1557
How did you install OpenZeppelin? Please make sure you're actually using version 2.0 (if installed via npm, it should be in your `package.json` file); `ERC20.sol` was an interface pre-2.0, not a contract.

[2018-12-13 18:57] LincolnZeng commented on #1077
Hi , I find the TESTING.md in file test folder mentions "please reference OpenZeppelin’s Testing Guide." , Can I ask where I can find it?

[2018-12-13 19:50] nventuro commented on #1077
We don't have one yet, looks like that document is wrong. I intend to work on this very soon though.

[2018-12-14 05:04] nventuro commented on #1552
That sounds like a great idea! I run some preliminary tests and the concept seems to work.

[2018-12-14 17:26] Dycedlp opened #1558 "Latest Open Zeppelin ERC20 Contract Implementation - Can't Call functions from Remix IDE using Metamask nor MyEtherWallet"
Insufficient funds. The account you tried to send transaction from does not have enough funds. Required 3000948248000000000 and got: 0

It won't let me add more gas to Remix IDE nor MyEtherwallet for the calls.

Similar messages occur when I try to use addMinter(), I can use the transfer function fine with no gas cost, I'm using POA with min-gas-limit 0.
-------------------------------------------

[2018-12-14 22:32] frangio commented on #1558
Hi @Dycedlp. What cap are you setting?

[2018-12-14 23:16] Dycedlp commented on #1558
Thanks Frangio, it was exactly that.  Cheers!  Set it higher than it could handle.  All good.

[2018-12-14 23:32] Dycedlp commented on #1558
It says Contract Call
Error: Bad instruction
when I make any call like addMinter(), burnFrom(), that stuff.  It doesn't work.

[2018-12-15 00:48] startgeek opened #1560 "wrong import statement in docs"
the import statment has wrong path in documents
![image](https://user-images.githubusercontent.com/18519287/50036730-65e57200-0020-11e9-9118-3ba6e6439fbf.png)

[2018-12-15 19:34] startgeek commented on #1560
also half the doc's use single quotes(') and other half use double quotes(")

[2018-12-18 14:47] frangio opened #1562 "Make crowdsale constructors public"
In #1439 the crowdsale constructors were made `internal`, but this was a mistake because even though they will generally be extended it's possible to deploy the contracts as-is, which is specially useful for quick tests.

The constructoirs should be `public` to allow both scenarios.

This is not a breaking change.

[2018-12-18 15:53] ianbrtt commented on #1077
@nventuro can I help you with this? I would like to learn more about the testing process while writing documentation

[2018-12-18 16:35] nventuro commented on #1077
@ianbrtt go ahead! Do note that some tests still need refactoring and are not up to snuff, but you can take a look at some of the newer ones for inspiration (e.g. `Pausable`, the `Escrow` tests, `RefundablePostDeliveryCrowdsale`).

[2018-12-18 17:19] frangio opened #1563 "Improve SafeMath tests"
The SafeMath tests need some love. We should add a helper to test all operations behave the same way when their arguments are swapped. And we should make sure to be testing all edge cases.

[2018-12-18 18:54] #705 closed

[2018-12-18 19:19] #1562 closed

[2018-12-18 20:10] frangio opened #1566 "[Meta] 2.1 backports"
This is a list of PRs that have to be cherry-picked into [`release-v2.1.0`](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/release-v2.1.0) before releasing.

- [x] https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1565
- [x] https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1567

[2018-12-19 18:45] nventuro commented on #1498
In #1568 all contracts have been ported to compile using v0.5.0. We will most likely release a 2.1 version with a tag for 0.5.x support (e.g. `2.1.0-solc-0.5.x`), but expect this to be temporary: we're not yet sure what our long term strategy for handling Solidity breaking releases will be (minor bump? new major? separate distribution channel? thoughts on this are welcome!).

[2018-12-19 19:18] #1558 closed

[2018-12-19 19:24] Dycedlp opened #1569 "ERC20 Private Usage Scenario + Requirements"
Initial Smart Contract Requirements:
3.	Ability to burn tokens
a.	Be able to burn tokens at any specific address from the owner account (either determined by who deployed the initial contract or by a variable)
4.	Ability to freeze wallets (one, a range or all)

[2018-12-20 17:49] dmitridb commented on #1498
In the meantime might wanna let people know in the docs either to use old truffle, or to set the truffle-config.js compiler to 0.4.24 cause I'm gonna guess anyone going through them for the first time from now until 2.1 will be confused

[2018-12-20 17:53] isaacsultan commented on #1498
@dmitridb Good idea, it certainly would have saved me a lot of confusion. However, I believe the issue of web3js switching from `BigNumber.js` to `BN` persists with the compiler set to 0.4.24 or 0.4.25. @nventuro It would be great please if some recommendations were added to the docs regarding the truffle transition?

[2018-12-21 00:49] nventuro commented on #1498
@j-h-scheufen those are definitely something we'll consider soon, we just haven't had the time yet.

@dmitridb thanks for the heads up, we'll be updating our readme and docs accordingly.

@isaacsultan indeed, that's why we haven't made the switch yet - the whole test suite needs to be updated. That said, since we only provide Solidity code, whether we use truffle 4 or 5 (and therefore web3 0.2.x o

[2018-12-21 00:49] nventuro commented on #1498
@axic @gnidan @JonahGroendal

Regarding supporting Solidity 0.5.x, they key issue is that we've committed ourselves to having a stable API, and requiring a compiler upgrade goes against that (in a nutshell, a stable API means everything will keep working the same accross minor version upgrades).

We've been discussing this (extensively) over the last couple days, since there seem to be no good sol

[2018-12-21 07:42] Aniket-Engg commented on #1552
I think we can add `increment()` and `decrement()` in Math.sol to increase of decrease a number by 1.

[2018-12-21 13:31] dteiml commented on #1548
Ended up implementing this by myself :) To avoid moving around large arrays in evm, I used a linked list. The code is here https://github.com/gnosis/dx-price-oracle/blob/fcf2dd0fac65754ed1f99f899cb95799892f5d5a/contracts/DutchXPriceOracle.sol#L80

To make it reusable, all that has to be done is:
- Replace the message calls by loading the next array element
- Collapse the use of two arrays of data

[2018-12-21 17:40] maxsam4 commented on #1498
I am fine with any of the first or third option. Please avoid the second path, it's gonna add to the mess imo.

The libraries and tools in this ecosystem are updating so rapidly that you are forced to save exact version of the dependencies anyway. **very subtly points at web3 :)**

[2018-12-21 19:58] frangio commented on #1552
But `SafeMath.increment` would still need to check for overflow to be safe, because `UINT256_MAX.increment()` overflows.

My proposal is that since the `Counter` type can only be incremented, it will never overflow.

[2018-12-21 20:03] nventuro commented on #1552
We haven't yet found a use case for `Counter` though, have we? If it had methods to both increment and decrement by one, we could remove the `require` from `inc`, since it will never overflow. If there is indeed something that only ever increments, then we should create this new thing (`IncDec`).

[2018-12-22 20:51] frangio opened #1573 "Make prepare scripts cross platform"
As seen in https://github.com/OpenZeppelin/openzeppelin-solidxity/pull/1571 our scripts are not cross-platform and this affects users who try to install via `npm install <git url>`.

[2018-12-24 08:02] utgarda commented on #1159
Guys, @catageek, I actually started implementing ERC777 from scratch, following the specs, in order to let it be published under MIT licence, instead of trying to re-licence the reference implementation. I believe, if @jacquesd wanted his code MIT-licenced, he'd do it from the start. For the sake of integrity I didn't even read the reference code thoroughly (maybe that's a mistake), and definitely

[2018-12-26 07:41] Aniket-Engg commented on #204
I think this has been fixed.

[2018-12-27 07:11] catageek commented on #1159
Hi @utgarda, my implementation is already from scratch without looking at the reference code, so, according to me, the issue with the license is not in the implementation, but with the [interface](https://github.com/catageek/openzeppelin-solidity/blob/fc63684ebd7996c8f5367827234d380396752733/contracts/token/ERC777/IERC777.sol). This file was copied from the reference implementation because it is t

[2018-12-27 13:34] sowmyakannan commented on #1498
Looking forward to update as I am having the same issues after upgrading truffle solc and openzeppelin.

[2018-12-27 15:54] frangio commented on #1498
Support for 0.5 will be released next week, but in the meantime you can install a preview following the special instructions in the release notes for [`v2.1.0-rc.1`](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.1.0-rc.1).

[2018-12-27 19:10] nventuro commented on #1566
Fixed in daa301fef01bf94875579a4785c0e0b2a5896ea7 and 13eff701123038cde1e5282864325b21e70366e4.

[2018-12-28 05:31] BrendanChou opened #1576 "SafeMath can no longer be used as a library for uints smaller than 256 bits"
Can no longer use SafeMath as an in-line library for unsigned integers smaller than 256 bits.

**💻 Environment**

Truffle 5 and OpenZeppelin 2.1

**📝 Details**

This is because there are **new functions for signed integers** in SafeMath. Recommend splitting into two different files so that both unsigned ints and signed ints of less than 256 bits can be used without first casting to uint256 or int2

[2018-12-28 14:44] frangio commented on #1576
Good catch @BrendanChou. +1 to splitting into two different libraries. We have to fix this for 2.1.

[2018-12-28 19:24] fiiiu opened #1577 "DetailedERC20Mock.sol should be called ERC20DetailedMock.sol"
NIT: Wrong file name in one of the mock contracts, `ERC20DetailedMock` is in file `DetailedERC20Mock.sol`, should be `ERC20DetailedMock.sol`.

**💻 Environment**

**📝 Details**

**🔢 Code to reproduce bug**

[2018-12-28 19:57] #1577 closed

[2018-12-31 07:20] OFRBG commented on #1542
It occurred to me that DoS attacks can be mitigated by adding a minimum `msg.value` added. There are extra checks and the code needs to be adapted for 0.5 `payable` changes. For the user finding 10 finney shouldn't be a big problem, while keeping the address denied has a ramping cost. The parameters could/might be adjusted for each case.

[2019-01-01 16:24] 0xferit opened #1579 "TypeError: web3.currentProvider.sendAsync is not a function"
Executing `await time.increase(123)` throws

**💻 Environment**

Using openzeppelin-solidity@2.0.0 and trying to execute the statement above inside a `truffle test` run. OS is Ubuntu 18.04.1 with Truffle@5.0.0

**📝 Details**

Console-logging `web3.currentProvider` returns `undefined`.

**🔢 Code to reproduce bug**

Just a Truffle JS test file including following lines.
[code]

[2019-01-02 05:40] Aniket-Engg commented on #204
@frangio I haven't checked it specifically. I supposed that as per the last comment `chai-bignumber` has been introduced, so required things would have been implemented. I will check it now.

[2019-01-02 08:04] Aniket-Engg commented on #204
@frangio I have gone through almost each test file to introduce changes. Have a look to changelog and let me know if anything has left.

[2019-01-02 11:30] SirPhemmiey commented on #1498
Please has any update been made?

[2019-01-02 17:59] nventuro commented on #1576
Hey there @BrendanChou!

I'm curious, what are you using the result of the `SafeMath` call for? I'm asking because the result of any operation will be an `uint256`, which needs casting down if working in `uin128`, but that casting is in itself an unsafe operation, since the original value may be out of the representable range.

That said, I do agree with your statement that we should provide mecha

[2019-01-02 18:05] frangio commented on #1569
Hi @Dycedlp. I'm closing the issue because there is no question or request, but let me know if there is something we can help you with.

[2019-01-02 18:05] #1569 closed

[2019-01-02 21:28] #1579 closed, assigned to nobody

[2019-01-03 04:06] remon-nashid opened #1582 "Solidity 0.5 upgrade followup: address Ownable.owner needs to be payable"
A great job has been done in [release-v2.1.0-solc-0.5](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/release-v2.1.0-solc-0.5) to bring all contracts to 0.5. However, I stumbled upon one `address` variable that should probably be `address payable`. There might be more.

[Owner](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/release-v2.1.0-solc-0.5/contracts/ownership/Ownabl

[2019-01-04 02:37] elopio commented on #261
For the record, Solidity 0.5.0: https://github.com/ethereum/solidity/pull/4224

[2019-01-04 08:53] Levino opened #1584 "How to run individual test?"
How can I run a single test? While developing I do not want to run the whole test suite every time I save my file.

[2019-01-04 08:54] Levino commented on #1584
`contract.only` works as `describe.only` in mocha.

[2019-01-04 08:54] #1584 closed

[2019-01-04 08:59] Levino opened #1585 "Add a whitelister role admin that can reset the whitelist"
**🧐 Motivation**
 This is about the [whitelister role](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/63ce358f30d71e5af5f70bbd4db7daea379b7c9b/contracts/access/roles/WhitelisterRole.sol)

Following up on a [comment](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1525#issuecomment-451119421) I made:

So the whitelisting usually will be automated, I suppose. Lets say we have

[2019-01-04 14:58] frangio commented on #1573
Consider using [shelljs](https://github.com/shelljs/shelljs.)

[2019-01-04 15:06] frangio opened #1587 "Rename Whitelister role to WhitelistAdmin role"
`whitelister` and `whitelisted` are too similar names.

[2019-01-04 16:47] #204 closed

[2019-01-04 16:47] #706 closed

[2019-01-04 17:58] nventuro commented on #1582
Hey @remon-nashid!

`Ownable` itself doesn't have the capability for selfdestruction, are you talking about a scenario in which you extend from it?

[2019-01-04 18:09] remon-nashid commented on #1582
Exactly. See `distruct` function in this contract for example: https://github.com/remon-nashid/xia/blob/master/contracts/Lockers.sol#L44

[2019-01-04 18:31] nventuro commented on #1582
Hm, interesting. We don't usually advocate for `selfdestruct`, but you could however make the same case for e.g. a regular Ether transfer. I worry that this line of though would end up making all addresses payable, rendering the feature useless. A simple cast to `address payable` might be the best way to tackle this. @frangio thoughts?

[2019-01-04 18:33] frangio commented on #1576
Fixed by https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1588. Not sure why GitHub didn't close this issue.

[2019-01-04 18:33] #1576 closed

[2019-01-04 18:33] frangio commented on #1587
Fixed by #1589.

[2019-01-04 18:33] #1587 closed

[2019-01-04 18:52] frangio commented on #1582
I agree that a cast is the best option here.

[2019-01-04 19:35] #1582 closed

[2019-01-04 20:31] #1566 closed

[2019-01-04 21:59] nventuro commented on #1498
[The 2.1 release](https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.1.1) can now be used with Solidity 0.5.0!

[2019-01-04 21:59] #1498 closed

[2019-01-04 22:32] nventuro commented on #1585
Hmm, you do have sort of a valid point in that the whitelist admins will usually not sign messages manually, though I wonder how that server would look like. In any case, any automated service that signs messages for an account should be extremely well guarded - not only could the whitelist be tampered with, but funds could be stolen, tokens exchanged, etc.

All in all, I think this requirement is

[2019-01-07 10:28] JohannesMayerConda opened #1593 "Update ether.js helper (web3.toWei is not a function, BigNumber is not a constructor)"
I'm currently upgrading to solidity v0.5 and have it compiling already but my tests don't run through because of a test helper I use from openzeppelin. Concretely the file /test/helpers/ether.js

**💻 Environment**
openzeppelin-solidity (package.json): ^2.1.1
web3 (package.json): ^1.0.0-beta.37
truffle (package.json and global): v5.0.1 with solc-js v0.5.0

**🔢 Code to reproduce bug**
In a test file

[2019-01-08 10:20] Levino opened #1594 "Crowdsale "rate" behaviour incorrect"
From the docs of the Crowdsale:
https://github.com/OpenZeppelin/openzeppelin-solidity/blob/14a59b29035ab8c9fdfb969550fe35f65e88d529/contracts/crowdsale/Crowdsale.sol#L48-L52

But then later:

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/14a59b29035ab8c9fdfb969550fe35f65e88d529/contracts/crowdsale/Crowdsale.sol#L119

And finally:

https://github.com/OpenZeppelin/openzeppelin-solidity/

[2019-01-09 14:10] KonstaMerkle opened #1595 "AllowanceCrowsale allows investors to buy more tokens than allowed"
Setup: we are using a contract that extends AllowanceCrowdsale and PostDeliveryCrowdsale contracts with already minted tokens to create a crowdsale. IcoMaker approves for half of minted tokens to be sold in a crowdsale.

Expected: when investor calls buyTokens function to buy more than half of tokens (more than allowance), buyTokens should revert.

Actual: when investor calls buyTokens function to

[2019-01-09 18:49] CyrusL opened #1596 "Add meta transaction extension for ERC721 approvals"
**🧐 Motivation**

There will be a bounty for this feature on Gitcoin.

The motivation for this feature is to give NFT owners the ability to sell or trade their tokens without owning ether.

**📝 Details**

Right now, NFT owners can sell their tokens without gas by using a decentralized exchange (e.g., an exchange built on 0x Protocol). However, these exchanges require that the token owner sets appr

[2019-01-09 20:53] zachlysobey commented on #1557
For the record:

The docs for OZ-2.0 have StandardToken in them
https://openzeppelin.org/api/docs/token_ERC20_StandardToken.html

But it links to v1.12.0
https://github.com/OpenZeppelin/zeppelin-solidity/blob/v1.12.0/contracts/token/ERC20/StandardToken.sol

Are those docs version controlled somewhere where I can open a PR?

[2019-01-09 21:03] zyfrank commented on #1596
Does this mean ERC721 contract  pay the gas?

[2019-01-09 21:38] frangio commented on #1557
Hi @zachlysobey, our docs situation is a bit of a mess, right, but we're actively working on it.

Where did you find the first link you shared? It's not accessible through the sidebar.

[2019-01-09 21:53] CyrusL commented on #1596
@zyfrank It would mean anyone could pay the gas for the approval transaction. For example, an exchange might pay the gas for the the approval transaction because they would make money on the subsequent sale of the token.

@pvienhage Thanks for expressing interest in this issue. Two questions:

1. Do you have any public smart contract code or smart contract auditing experience that I can verify and

[2019-01-09 22:14] pvienhage commented on #1596
Hi Cyrus,
(1) I've got a fairly large library of public things I have built here's a gist of some hyper optimized assembly I just wrote for spec256r onchain signature verification https://gist.github.com/pvienhage/19211ec45dde57168d6c13ff119f75c8 it isn't very readable solidity though haha. Here's a signature based CTF I wrote https://etherscan.io/address/0x7cd03C9f1D2dc95358B1992e9afc857aeaab45D5

[2019-01-10 00:03] zachlysobey commented on #1557
@frangio I think I just came from a google search

[2019-01-10 18:44] vdrg opened #1597 "Add number of accounts to Role struct (Roles.sol)"
**🧐 Motivation**
It would be nice to have the number of accounts that have a role if you want to limit the maximum number of accounts or require at least one account with a role (multisigs for example, where you never want to remove all the owners/signers).

**📝 Details**
Add `uint256 size` or `uint256 count` to the `Role` struct in `Roles.sol`. It should change when calling `add()` or `remove()`.

[2019-01-11 20:58] pvienhage commented on #1596
@CyrusL  Hi, I have started drafting the code. Here is the specification of what I think would be the best solution to the problem: Edit the ERC721.sol contract in the tokens/ERC721 directory to contain the methods delegated_approve, delegated_approveForAll and delegated_safeTransferFrom which will take the same inputs as the non delegated versions plus a signer address and a signature. The signer

[2019-01-11 21:58] CyrusL commented on #1596
@pvienhage Ok thanks. That sounds good.

Can you clarify where the nonce is coming from? I had not previously considered the possibility of replay attacks with meta transactions, but I can now see the risk.

Is the nonce you're describing different than the one used in normal transactions?

[2019-01-11 22:02] CyrusL commented on #1596
@pvienhage After a quick Googling, it looks like 0x Protocol solves this problem by using a unique salt per order: https://github.com/0xProject/0x-protocol-specification/blob/master/v2/v2-specification.md#erc721proxy . I'm not sure if I'm understanding the issue correctly, but I wanted to include the link in case it's useful.

[2019-01-12 00:10] pvienhage commented on #1596
Hi @CyrusL great!
I had planned on having a mapping in the contract from addresses to uints with the requirement that the nonce be the one in the mapping. I hadn't seen the random salt method before but it could help with throughput and mean you don't need to do lookups for nonces from your offchain application. It's up to you as to which you'd prefer as I think either could work well :)

[2019-01-12 05:12] MicahZoltu commented on #1488
While I am a fan of RBAC for large projects, for small contracts it is _way_ overkill and adds a ton of unnecessary complexity (i.e., risk).  I encourage keeping Ownable/Claimable around while _also_ pursuing a RBAC system.  The landing page for my personal blog doesn't need RBAC, while by 100 engineer company certainly does.  IMO, Ownable/Claimable fill a different niche from an RBAC system and s

[2019-01-12 05:25] MicahZoltu opened #1602 "Make roles iterable."
**🧐 Motivation**
When I am reviewing a live contract, I want to be able to easily identify who, if anyone, has a particular role.  The only way to do that right now is to write a script that walks all of history (since contract instantiation) looking for logs that indicate a role was added/removed and using that to construct a collection of role owners.  It would be much better if I could just ite

[2019-01-13 15:46] ecejni commented on #984
@ymekuria
Thanks!! the missing '0x' before bytecode was definitely the solution in my case.
It's a bit frustrating how misleading the errors are...

[2019-01-13 17:37] CyrusL commented on #1596
@pvienhage Ok cool thanks. Is there a way I can communicate with you to ask a few outside of this Github thread?

[2019-01-13 18:05] pvienhage commented on #1596
Sure I have a telegram @pvienhage and discord @pvienhage#5066 we could also use email pevienhage@gmail.com

[2019-01-13 22:46] austintgriffith commented on #1596
Would love to help out with this if you guys need anything! I'm @austingriffith on telegram.

[2019-01-14 18:32] nventuro commented on #1585
Hey @Levino, we're closing this for now due to the requirement being deemed to specific: we consider such a feature should be part of a user's business logic. Feel free to continue the discussion though if you feel we're in the wrong about this!

[2019-01-14 18:32] #1585 closed

[2019-01-14 20:51] nventuro commented on #1602
Hey there @MicahZoltu! While I do think there's value in walking through the logs, enumerability does indeed make sense in many scenarios.

Could you share a short snippet ilustrating your proposed linked-list implementation? I was originally considering having a companion array for the mapping, and removing elements using a swap-and-pop strategy (same as how we do `ERC721Enumerable`.

[2019-01-14 20:54] nventuro commented on #1597
Hello @vdrg, thanks for this suggestion! I like this idea, and agree with this bit:

This request is related to github.com/OpenZeppelin/openzeppelin-solidity/issues/1602: if we decide to move forward. we'll probably implement both at once.

[2019-01-14 21:02] #1557 closed

[2019-01-14 21:17] #984 closed

[2019-01-14 21:21] nventuro commented on #1593
Hey there @JohannesMayerConda! During our own migration to Solidity 0.5.0, I actually started on these helpers: there are indeed many web3 1.0 and truffle 5 changes that break them.

Now that they're fixed, I migrated them to a separate repository and created an npm package with them, so that they can be used by everyone without having to extract the code from OpenZeppelin's test suite: https://gi

[2019-01-14 22:23] frangio commented on #1488
@MicahZoltu How would you feel if the replacement for the old `Claimable` was a contract that was used "by composition" instead of inheritance? I.e. setting the `owner` to be a contract that handles the `transfer`+`claim` process. This could be reused for roles also.

[2019-01-14 22:31] nventuro commented on #1211
`master` now compiles nighly as of https://github.com/OpenZeppelin/openzeppelin-solidity/commit/e5b94c1481fc236a35e1ba4a1bcd928927511e00

[2019-01-14 22:31] #1211 closed

[2019-01-14 22:33] nventuro commented on #1502
This was added to https://github.com/OpenZeppelin/openzeppelin-test-helpers

[2019-01-14 22:33] #1502 closed

[2019-01-14 22:35] nventuro commented on #1204
https://github.com/OpenZeppelin/openzeppelin-test-helpers is now a thing!

[2019-01-14 22:35] #1204 closed

[2019-01-15 04:41] MicahZoltu commented on #1602
So I went digging through some old source code, it appears the one we wrote for Augur was back when we were using Serpent.  😬

🤔 more on this, if the number of roles is expected to be small, then a sparse array is probably "good enough" realistically.  In this case, you would just insert new members of a role into the first empty slot in the array, so if additions/deletions are relatively well dis

[2019-01-15 08:49] JohannesMayerConda commented on #1593
Haha, oh nose I needed this a few days ago... Meanwhile I copied and adapted the helpers myself.

But I will switch to the new helpers in the future! Anyway - thanks, good work! This helps a lot 👍

[2019-01-15 14:57] nventuro opened #1604 "ERC20: internal _approve"
We've had `_transfer`, `_mint` and `_burn` for a while now: adding `_approve` simply means continuing this trend, and would allow for the increase/decrease functions to be written in a more readable way.

[2019-01-15 15:06] nventuro commented on #579
Is there still a reason to do this?

[2019-01-15 15:17] frangio opened #1605 "Fix solc nightly travis job"
Now that we're using Truffle 5 the previous mechanism doesn't work anymore.

https://github.com/OpenZeppelin/openzeppelin-solidity/blob/7fb90a1566d668bea8e25e9c769cf878f14e8ed3/scripts/test.sh#L57-L60

We should be using the Truffle 5 feature to choose the compiler version.

[2019-01-15 22:06] frangio opened #1607 "Support import from syntax"
[code]

This would be very nice I think, but the tooling probably doesn't support it. Truffle needs to know how to resolve the `"openzeppelin-solidity"` import. Node.js solves this by importing the package's main file, or an `index.js` file if it's a directory. We should propose this feature to Truffle first.

[2019-01-15 22:12] nventuro commented on #1488
Hmm, I could get behind those arguments. I take it though that by /dev/null you mean 'any random address' and not just the zero address, right? Arguably, as soon as you transfer ownership to another account it will be able to claim it, so you'd be relying on a) no-one having the private keys, or b) they not being fast enough.

[2019-01-15 22:18] MicahZoltu commented on #1488
Yeah, zero address _is_ a common target as it is the default value for all local variables/parameters and easy to accidentally send to if you screw up your transaction creation.  However, fat-fingering is another common source of error that can lead to the contract going to an address that no one controls.

I'm not worried about accidentally transferring to an address that someone does have the ke

[2019-01-16 03:37] nventuro commented on #1488
What if we embedded the old `Claimable` into `Ownable`? That'd way it'd be less optional, and we could more easily suggest the recommended usage.

Granted, we can't simply change how `Ownable`'s `transferOwnership` works, so we'd have to add a new method for it (`transferOwnershipWithConfirmation`? 😕).

[2019-01-16 04:20] nventuro commented on #1602
I take it the purpose of the sparse array is to avoid having to memmove the tail of the array when deleting an element. If that's the case, why not go with something more straightforward like this? Do let me know if I'm missing something here!

[code]

[2019-01-16 05:08] 3esmit commented on #1015
Making a function payable tells that msg.value should be considered in the call, which is not desirable in that functions. Are those functions expecting any msg.value?

[2019-01-16 06:40] MicahZoltu commented on #1488
I would be fine with `Claimable` only and just never using `transferOwnership`.  Having them separate does allow one to _disable_ `transferOwnership`'s original functionality which is kind of nice, but not as important IMO.

My vote would be Ownable + Claimable, but would not fight against a single Ownable contract with a `confirmableTransferOwnership` function.

[2019-01-16 06:42] MicahZoltu commented on #1602
Your solution is better, go with that.  😁

[2019-01-16 12:38] k06a commented on #1593
`openzeppelin-solidity 2.1.1` still contains old `constants.js`:
[code]

Tests in my project contains following lines:
[code]

And internally it requires `constants.js`, so I need `2.1.2` with this fix ASAP :)

[2019-01-16 13:47] k06a commented on #1593
@nventuro are you planning to ship `2.1.2` from current `master`?

[2019-01-16 15:47] nventuro commented on #1593
Normally I'd say that you shouldn't use our tests in your project, since we have no stability guarantees on those (in fact, I don't think we should be publishing them), though we _do_ have plans to make it so. However, `PublicRole.behavior` is a rather special case, a 2.1.2 may be due for that.

[2019-01-17 12:09] leonprou opened #1612 "Change tokenURI field of ERC20WithMetadata from private to internal"
**🧐 Motivation**
I want to use [ERC20WithMetadata](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/drafts/ERC1046/TokenMetadata.sol) contract, but I would like to introduce logic that changes the tokenURI field. For example that just the owner of the token can change the `tokenURI`.
We are building a token studio, and the issuer might be unsure about token metadata when

[2019-01-18 16:14] vdrg commented on #1602
@nventuro I think it could be better if you stored the indexes in a mapping:

[2019-01-18 16:17] vdrg commented on #1602
@nventuro I think it could be better if you stored the indexes in a mapping, so you don't need to iterate through the array in order to remove an account (could get too costly if there are too many accounts and you want to remove the last one).

[2019-01-18 17:17] nventuro commented on #1602
That'd also work, at the cost of an extra `SLOAD`. Thanks! I'll try out different approaches when I get to this :)

[2019-01-18 17:44] nventuro commented on #1162
After much discussion, we've decided tooling is not yet ready to get something like this into OpenZeppelin. There are too many caveats related to proxies (e.g. constructors, self-destruct) that allow for easy misuse, which go against our design principles.

Having some sort of way to retrieve the constructor of a contract type at compile time, check for self destruction, etc., would allow for this

[2019-01-18 17:44] #1162 closed

[2019-01-18 18:57] nventuro commented on #1593
@k06a I've just released a v2.1.2 package, in which only that behavior is published, using the new test helpers. Keep in mind this is an initiative we're only now starting out, so there may be some changes in future releases, but we'll try to keep them to a minimum.